Repository dotnetcore/BootstrapBlazor, pull requests merged in 2023-08, with the labels that each got.

#1813 doc(Table/AutoRefresh): refactor the autorefresh document
  src/BootstrapBlazor.Shared/Demos/Table/TablesAutoRefresh/TablesAutoRefreshNormal.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Table/TablesAutoRefresh.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesAutoRefresh.razor.cs
Labels: documentation

#1815 doc(Table/Cell): refactor the cell document
  src/BootstrapBlazor.Shared/Demos/Table/TablesCell/TableCellMergeCell.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesCell/TableCellOnDoubleClickCell.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Table/TablesCell.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesCell.razor.cs
  src/BootstrapBlazor.Shared/Samples/Table/TablesCell.razor.css
Labels: documentation

#1817 doc(Table/Export): refactor table export sample document
  src/BootstrapBlazor.Shared/Demos/Table/TablesExport/TablesExportButtonDropdownTemplate.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesExport/TablesExportShowExportButton.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesExport.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesExport.razor.cs
Labels: documentation

#1819 doc(Table/DynamicObject): refact table dynamic object sample document
  src/BootstrapBlazor.Shared/Components/InstallContent.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesDynamicObject/TablesDynamicObjectIDynamicObject.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesDynamicObject/TablesDynamicObjectMetaObjectProvider.razor
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Pages/Install_Server.razor
  src/BootstrapBlazor.Shared/Pages/Install_wasm.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesDynamicObject.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesDynamicObject.razor.cs
Labels: documentation

#1821 doc(Table/Excel): refact table excel sample code
  src/BootstrapBlazor.Shared/Demos/Table/TablesExcel/TablesExcelCellRender.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesExcel.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesExcel.razor.cs
Labels: documentation

#1823 doc(Table/Lookup): refact table lookup sample document
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Table/TablesLookup.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesLookup.razor.cs
Labels: documentation

#1825 doc(Table/Pagination): refact table pagination sample code
  src/BootstrapBlazor.Shared/Demos/Table/TablesPage/TablesPageShowTopPagination.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesPages.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesPages.razor.cs
Labels: documentation

#1827 doc(Table/Footer): refactor the table tooter document
  src/BootstrapBlazor.Shared/Demos/Table/TablesFooter/TablesFooterStatistics.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesFooter/TablesFooterTemplate.razor.css
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Table/TablesFooter.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesFooter.razor.cs
  src/BootstrapBlazor.Shared/Samples/Table/TablesFooter.razor.css
Labels: documentation

#1834 doc(Table/DetailRow): refactor the detailrow document
  src/BootstrapBlazor.Shared/Demos/Table/TablesDetailRow/TablesDetailRowExcel.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesDetailRow/TablesDetailRowHeight.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesDetailRow/TablesDetailRowIsDetails.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesDetailRow/TablesDetailRowShow.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Table/TablesDetailRow.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesDetailRow.razor.cs
Labels: documentation

#1831 doc(Table/Column): refactor the column documnet
  src/BootstrapBlazor.Shared/Demos/Table/TablesColumn/TablesColumnAdvance.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesColumn/TablesColumnAlign.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesColumn/TablesColumnAllowResizing.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesColumn/TablesColumnAutoGenerateColumns.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesColumn/TablesColumnDisabled.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesColumn/TablesColumnDragColumn.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesColumn/TablesColumnNormal.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesColumn/TablesColumnOnColumnCreating.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesColumn/TablesColumnSelect.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesColumn/TablesColumnShowCheckbox.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesColumn/TablesColumnShowCopyColumn.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesColumn/TablesColumnShownWithBreakPoint.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesColumn/TablesColumnTemplate.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesColumn/TablesColumnText.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesColumn/TablesColumnVisible.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesColumn/TablesColumnWidth.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesFixedColumn/TablesFixedColHeader.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesFixedColumn/TablesFixedColTableHeader.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesFixedColumn/TablesFixedExtendButtonsColumn.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesFixedColumn/TablesFixedHeaderAndExtendButtonsColumn.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Table/TablesColumn.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesColumn.razor.cs
  src/BootstrapBlazor.Shared/Samples/Table/TablesColumnDrag.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesColumnFix.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesColumnList.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesColumnResizing.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesColumnTemplate.razor
Labels: documentation

#1835 doc(Table/Header): refactor the Table Header document
  src/BootstrapBlazor.Shared/Demos/Table/TablesFixedHeader/TablesFixedHeaderAllowResizing.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesFixedHeader/TablesFixedHeaderAutoHeight.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesFixedHeader/TablesFixedHeaderDialog.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesFixedHeader/TablesFixedHeaderNormal.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesFixedHeader/TablesFixedHeaderWidth.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Table/TablesFixedHeader.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesFixedHeader.razor.cs
Labels: documentation

#1837 doc(Table/DynamicExcel): refactor the dynamicexcel document
  src/BootstrapBlazor.Shared/Demos/Table/TablesDynamicExcel/TablesDynamicExcelNormal.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesDynamicExcel.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesDynamicExcel.razor.cs
Labels: documentation

#1839 doc(Table/MultiHeader): refactor the Table MultiHeader document
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Table/TablesHeader.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesHeader.razor.cs
Labels: documentation

#1841 doc(Table/Edit): refactor the edit document
  src/BootstrapBlazor.Shared/Demos/Table/TablesEdit/TablesEditDataService.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesEdit/TablesEditFooterTemplate.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesEdit/TablesEditInjectDataService.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesEdit/TablesEditItems.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesEdit/TablesEditMode.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesEdit/TablesEditShowSearch.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesEdit/TablesEditTemplate.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Table/TablesEdit.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesEdit.razor.cs
Labels: documentation

#1843 doc(Table/Filterr): refactor the filter document
  src/BootstrapBlazor.Shared/Demos/Table/TablesFilter/TablesFilterDefaultSort.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesFilter/TablesFilterOnSort.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesFilter/TablesFilterSortString.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesFilter/TablesFilterable.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesFilter/TablesSetFilterInCode.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesFilter/TablesShowFilterHeader.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Table/TablesFilter.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesFilter.razor.cs
Labels: documentation

#1845 doc(Table/Row): refactor the row document
  src/BootstrapBlazor.Shared/Demos/Table/TablesRow/TablesRowClickToSelect.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesRow/TablesRowDoubleClickToEdit.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesRow/TablesRowNubmer.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesRow/TablesRowSetRowClassFormatter.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Table/TablesRow.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesRow.razor.cs
  src/BootstrapBlazor.Shared/Samples/Table/TablesRow.razor.css
Labels: documentation

#1847 doc(Table/Selection): refactor the selection document
  src/BootstrapBlazor.Shared/Demos/Table/TablesSelection/TablesSelectionNormal.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Table/TablesSelection.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesSelection.razor.cs
Labels: documentation

#1854 doc(Table/Wrap): refactor the wrap document
  src/BootstrapBlazor.Shared/Demos/Table/TablesWrap/TablesWrapCustomCell.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesWrap/TablesWrapDataResizing.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesWrap/TablesWrapHeaderTextWrap.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesWrap/TablesWrapLongData.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesWrap/TablesWrapNormal.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Table/TablesToolbar.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesToolbar.razor.cs
  src/BootstrapBlazor.Shared/Samples/Table/TablesWrap.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesWrap.razor.cs
Labels: documentation

#1852 doc(Table/Tracking): refactor the tracking document
  src/BootstrapBlazor.Shared/Demos/Table/TablesSearch/TablesAutoGenerateSearch.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesSearch/TablesCustomColSearch.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesSearch/TablesCustomerSearchModel.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesSearch/TablesSearchTable.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesTracking/TablesTrackingNormal.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Table/TablesColumnDrag.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesColumnDrag.razor.cs
  src/BootstrapBlazor.Shared/Samples/Table/TablesColumnFix.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesColumnFix.razor.cs
  src/BootstrapBlazor.Shared/Samples/Table/TablesColumnList.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesColumnList.razor.cs
  src/BootstrapBlazor.Shared/Samples/Table/TablesColumnResizing.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesColumnResizing.razor.cs
  src/BootstrapBlazor.Shared/Samples/Table/TablesColumnTemplate.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesColumnTemplate.razor.cs
  src/BootstrapBlazor.Shared/Samples/Table/TablesTracking.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesTracking.razor.cs
Labels: documentation

#1856 doc(Row): update resource file
  BootstrapBlazor.sln
  src/BootstrapBlazor.Shared/Components/DemoBlock.razor
  src/BootstrapBlazor.Shared/Components/DemoBlock.razor.cs
  src/BootstrapBlazor.Shared/Components/Pre.razor.cs
  src/BootstrapBlazor.Shared/Extensions/CacheManagerExtensions.cs
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Ajaxs.razor.cs
  src/BootstrapBlazor.Shared/Samples/Alerts.razor
  src/BootstrapBlazor.Shared/Samples/Anchors.razor
  src/BootstrapBlazor.Shared/Samples/AutoFills.razor
  src/BootstrapBlazor.Shared/Samples/Avatars.razor
  src/BootstrapBlazor.Shared/Samples/Badges.razor
  src/BootstrapBlazor.Shared/Samples/Blocks.razor
  src/BootstrapBlazor.Shared/Samples/Breadcrumbs.razor
  src/BootstrapBlazor.Shared/Samples/Buttons.razor
  src/BootstrapBlazor.Shared/Samples/Calendars.razor
  src/BootstrapBlazor.Shared/Samples/Cameras.razor
  src/BootstrapBlazor.Shared/Samples/Captchas.razor
  src/BootstrapBlazor.Shared/Samples/Cards.razor
  src/BootstrapBlazor.Shared/Samples/Checkboxs.razor
  src/BootstrapBlazor.Shared/Samples/ColorPickers.razor
  src/BootstrapBlazor.Shared/Samples/Consoles.razor
  src/BootstrapBlazor.Shared/Samples/ContextMenus.razor
  src/BootstrapBlazor.Shared/Samples/CountUps.razor
  src/BootstrapBlazor.Shared/Samples/DateTimePickers.razor
  src/BootstrapBlazor.Shared/Samples/DateTimeRanges.razor
  src/BootstrapBlazor.Shared/Samples/Dialogs.razor
  src/BootstrapBlazor.Shared/Samples/EditDialogs.razor
  src/BootstrapBlazor.Shared/Samples/FileIcons.razor
  src/BootstrapBlazor.Shared/Samples/GroupBoxes.razor
  src/BootstrapBlazor.Shared/Samples/HtmlRenderers.razor
  src/BootstrapBlazor.Shared/Samples/Ips.razor
  src/BootstrapBlazor.Shared/Samples/Labels.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesColumnDrag.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesColumnList.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesColumnResizing.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesColumnTemplate.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesRow.razor
  src/BootstrapBlazor.Shared/Samples/Transitions.razor
  src/BootstrapBlazor.Shared/Services/CodeSnippetService.cs
  src/BootstrapBlazor.Shared/Shared/ComponentLayout.razor
  src/BootstrapBlazor.Shared/Shared/ComponentLayout.razor.cs
  src/BootstrapBlazor.Shared/docs.json
  src/BootstrapBlazor/Components/LazyLoad/LazyLoad.cs
  src/BootstrapBlazor/Components/Speech/SpeechWave.razor.cs
  test/Directory.Build.props
  test/UnitTest/Components/LazyLoadTest.cs
  test/UnitTestDocs/MenuTest.cs
  test/UnitTestDocs/UnitTestDocs.csproj
Labels: documentation

#1861 feat(Card): card get last state of Collapsed by user click
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Card/Card.css
  src/BootstrapBlazor/Components/Card/Card.razor
  src/BootstrapBlazor/Components/Card/Card.razor.cs
  src/BootstrapBlazor/Components/Speech/SpeechWave.razor.cs
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  test/UnitTest/Components/CardTest.cs
  test/UnitTest/Components/RecognizerTest.cs
Labels: enhancement

#1865 feat(Card): collapsed parameter support bind
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Card/Card.razor.cs
  src/BootstrapBlazor/Components/Collapse/Collapse.razor.cs
  test/UnitTest/Components/CardTest.cs
Labels: enhancement

#1866 fix(IDataService): update data service extensions
  BootstrapBlazor.sln
  src/BootstrapBlazor.Shared/BootstrapBlazor.Shared.csproj
  src/BootstrapBlazor/Services/BootstrapServiceBase.cs
  src/Extensions/DataServices/BootstrapBlazor.DataAccess.EntityFrameworkCore/BootstrapBlazor.DataAccess.EntityFrameworkCore.csproj
  src/Extensions/DataServices/BootstrapBlazor.DataAccess.EntityFrameworkCore/DefaultDataService.cs
  src/Extensions/DataServices/BootstrapBlazor.DataAccess.EntityFrameworkCore/EFCoreServiceCollectionExtensions.cs
  src/Extensions/DataServices/BootstrapBlazor.DataAccess.EntityFrameworkCore/IQueryableExtensions.cs
  src/Extensions/DataServices/BootstrapBlazor.DataAccess.EntityFrameworkCore/logo.png
  src/Extensions/DataServices/BootstrapBlazor.DataAccess.FreeSql/BootstrapBlazor.DataAccess.FreeSql.csproj
  src/Extensions/DataServices/BootstrapBlazor.DataAccess.FreeSql/DefaultDataService.cs
  src/Extensions/DataServices/BootstrapBlazor.DataAccess.FreeSql/FreeSqlExtensions.cs
  src/Extensions/DataServices/BootstrapBlazor.DataAccess.FreeSql/FreeSqlServiceCollectionExtensions.cs
  src/Extensions/DataServices/BootstrapBlazor.DataAccess.FreeSql/logo.png
  src/Extensions/DataServices/BootstrapBlazor.DataAccess.PetaPoco/BootstrapBlazor.DataAccess.PetaPoco.csproj
  src/Extensions/DataServices/BootstrapBlazor.DataAccess.PetaPoco/DatabaseExtensions.cs
  src/Extensions/DataServices/BootstrapBlazor.DataAccess.PetaPoco/DefaultDataService.cs
  src/Extensions/DataServices/BootstrapBlazor.DataAccess.PetaPoco/PetaPocoServiceCollectionExtensions.cs
  src/Extensions/DataServices/BootstrapBlazor.DataAccess.PetaPoco/logo.png
Labels: bug

#1868 doc(AI-Chat): update azure ai chat sample code
  src/BootstrapBlazor.Server/AIChat/AzureOpenAI/AzureOpenAIChat.razor
  src/BootstrapBlazor.Server/AIChat/Chats.razor
  src/BootstrapBlazor.Server/AIChat/Chats.razor.cs
  src/BootstrapBlazor.Server/AIChat/Chats.razor.css
  src/BootstrapBlazor.Server/AIChat/Chats.razor.js
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
Labels: documentation

#1870 feat(Card): support collapsing animation and bind collapsed both
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Card/Card.razor
  src/BootstrapBlazor/Components/Card/Card.razor.cs
  src/BootstrapBlazor/Components/Card/Card.razor.js
  test/UnitTest/Components/CardTest.cs
Labels: enhancement

#1872 feat(Anchor): redesign animation function
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Anchors.razor.cs
  src/BootstrapBlazor/Components/Anchor/Anchor.razor.cs
  src/BootstrapBlazor/Components/Anchor/Anchor.razor.js
  src/BootstrapBlazor/wwwroot/modules/utility.js
Labels: enhancement

#1874 doc(Calendar): update resource file
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
Labels: documentation

#1876 doc(Empty): update empty resource
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
Labels: documentation

#1878 doc(Input): update Input resource
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Inputs.razor
  src/BootstrapBlazor/Components/Input/BootstrapInput.razor
  test/UnitTestDocs/MenuTest.cs
Labels: documentation

#1880 doc(Bluetooth): update bluetooth file
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Bluetooth.razor
  src/BootstrapBlazor.Shared/Samples/Bluetooth.razor.cs
Labels: documentation

#1882 doc(ListView): update ListView resource
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/ListViews.razor
Labels: documentation

#1884 doc(CheckboxList ): update checkboxlist resource
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  test/UnitTestDocs/MenuTest.cs
Labels: documentation

#1886 doc(CountUp): update countup resource
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
Labels: documentation

#1889 refactor(Card): use hidden/shown event trigger collapse changed callback
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Card/Card.razor.cs
  src/BootstrapBlazor/Components/Card/Card.razor.js
  test/UnitTest/Components/CardTest.cs
Labels: enhancement

#1888 doc(EditorForm): update editorform resource
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/EditorForms.razor
Labels: documentation

#1891 doc(Markdown): update markdown json file
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Timelines.razor
  src/BootstrapBlazor.Shared/Samples/Uploads.razor.cs
Labels: documentation

#1893 doc(PulseButton): update json file
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Editors.razor.cs
  src/BootstrapBlazor.Shared/Samples/PulseButtons.razor
Labels: documentation

#1895 doc(MultiSelect): update multiselect resource
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
Labels: documentation

#1897 doc(PdfReader): update pdfreader resource
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/PdfReaders.razor
Labels: documentation

#1899 doc(Search): update search resource key name
  src/BootstrapBlazor.Shared/Samples/Searches.razor.cs
Labels: documentation

#1901 doc(SignaturePadPageResponsive): update signaturepadpageresponsive resource
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/SignaturePadPageResponsive.razor
Labels: documentation

#1903 doc(Localizer): inconsistent update resource file keys
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  test/UnitTestDocs/MenuTest.cs
Labels: documentation

#1905 feat(Ribbon): support anchor hash
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/RibbonTabs.razor
  src/BootstrapBlazor.Shared/Samples/RibbonTabs.razor.cs
  src/BootstrapBlazor.Shared/Shared/ComponentLayout.razor.css
  src/BootstrapBlazor.Shared/Shared/ComponentLayout.razor.js
  src/BootstrapBlazor/Components/RibbonTab/RibbonTab.razor.cs
  test/UnitTest/Components/RibbonTabAnchorTest.cs
  test/UnitTest/Components/RibbonTabTest.cs
  test/UnitTest/Core/RobbinTabTestBase.cs
Labels: enhancement

#1908 fix(Message): incorrect disappearance order when placement is bottom
  src/BootstrapBlazor.Shared/Samples/Messages.razor
  src/BootstrapBlazor.Shared/Samples/Messages.razor.cs
  src/BootstrapBlazor/Components/Message/Message.razor
  src/BootstrapBlazor/Components/Message/Message.razor.cs
  test/UnitTest/Components/MessageTest.cs
Labels: bug

#1910 feat(Menu): add IsScrollIntoView parameter on side menu
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Menus.razor.cs
  src/BootstrapBlazor/Components/Menu/Menu.razor
  src/BootstrapBlazor/Components/Menu/Menu.razor.cs
  src/BootstrapBlazor/Components/Menu/Menu.razor.js
  test/UnitTest/Components/MenuTest.cs
Labels: enhancement

#1912 fix(Popover): incorrect content when reset Popover content
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Popover/Popover.cs
Labels: bug

#1913 fix(ImageViewer): can't reload imager after occur error
  src/BootstrapBlazor/Components/ImageViewer/ImageViewer.razor.cs
  test/UnitTest/Components/ImageTest.cs
  test/UnitTest/Components/SwalTest.cs
Labels: bug

#1915 doc(DockView): update index document
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Charts/Index.razor
  src/BootstrapBlazor.Shared/Samples/DockViews/DockViewIndex.razor
  src/BootstrapBlazor.Shared/Samples/DockViews/Index.razor
Labels: documentation

#1918 feat(JSRuntimeEventHandler): RunEval function support return value
  src/BootstrapBlazor/Services/IJSRuntimeEventHandler.cs
  src/BootstrapBlazor/Services/JSRuntimeEventHandler.cs
  src/BootstrapBlazor/wwwroot/modules/event-services.js
Labels: enhancement

#1923 doc(Router): update break point page router
  src/BootstrapBlazor.Shared/Pages/Breakpoints.razor
  src/BootstrapBlazor.Shared/Pages/Install_Maui.razor
  src/BootstrapBlazor.Shared/Pages/Theme.razor
  src/BootstrapBlazor/Components/ImageViewer/ImageViewer.razor.js
  test/UnitTest/Components/MenuTest.cs
  test/UnitTest/Components/MultiSelectTest.cs
Labels: documentation

#1926 chore(Misc): refactor button code
  src/BootstrapBlazor/Components/BaseComponents/BootstrapModuleComponentBase.cs
  src/BootstrapBlazor/Components/Button/Button.razor.cs
  src/BootstrapBlazor/Components/Button/ButtonBase.cs
  src/BootstrapBlazor/Components/Table/ColumnVisibleItem.cs
  src/BootstrapBlazor/Enums/Placement.cs
  test/UnitTest/Performance/RecordTest.cs
Labels: chore

#1928 feat(SlideButton): add slide button component
  global.json
  src/BootstrapBlazor.Shared/Components/CultureChooser.razor
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/SlideButtons.razor
  src/BootstrapBlazor.Shared/Samples/SlideButtons.razor.cs
  src/BootstrapBlazor.Shared/Samples/SlideButtons.razor.css
  src/BootstrapBlazor.Shared/docs.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Button/SlideButton.css
  src/BootstrapBlazor/Components/Button/SlideButton.razor
  src/BootstrapBlazor/Components/Button/SlideButton.razor.cs
  src/BootstrapBlazor/Components/Button/SlideButton.razor.js
  src/BootstrapBlazor/Components/Button/SlideButtonItem.cs
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  test/UnitTest/Components/SlideButtonTest.cs
Labels: enhancement

#1930 bug(AutoComplete): dropdown arrow overlap valid icon
  src/BootstrapBlazor.Shared/Samples/Selects.razor
  src/BootstrapBlazor.Shared/Samples/Selects.razor.cs
  src/BootstrapBlazor.Shared/Samples/Selects.razor.css
  src/BootstrapBlazor.Shared/Shared/ComponentLayout.razor.js
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.css
  src/BootstrapBlazor/Components/Button/SlideButton.razor.js
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
Labels: bug

#1936 refactor(DialButton): add Duration parameter
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Button/DialButton.css
  src/BootstrapBlazor/Components/Button/DialButton.razor
  src/BootstrapBlazor/Components/Button/DialButton.razor.cs
  src/BootstrapBlazor/Components/Button/DialButton.razor.js
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  test/UnitTest/Components/DialButtonTest.cs
  test/UnitTest/Components/SlideButtonTest.cs
Labels: enhancement

#1938 refactor(Message): remove MessageItem improve performance
  src/BootstrapBlazor/Components/Message/Message.razor
  src/BootstrapBlazor/Components/Message/Message.razor.cs
  src/BootstrapBlazor/Components/Message/Message.razor.js
  src/BootstrapBlazor/Components/Message/MessageItem.razor
  src/BootstrapBlazor/Components/Message/MessageItem.razor.cs
  src/BootstrapBlazor/Components/Message/MessageOption.cs
  src/BootstrapBlazor/Components/Popover/PopupOptionBase.cs
  test/UnitTest/Components/MessageTest.cs
Labels: enhancement

#1940 refactor(Message): use animation close message popup
  src/BootstrapBlazor/Components/Message/Message.razor.js
Labels: chore

#1944 feat(Scroll): add Width parameter
  .gitee/ISSUE_TEMPLATE/10_bug_report.yml
  .gitee/ISSUE_TEMPLATE/20_feature_request.yml
  src/BootstrapBlazor/Components/Scroll/Scroll.razor.cs
  test/UnitTest/Components/ScrollTest.cs
Labels: enhancement

#1946 fix(Table): Table LineNo no work expected after scroll with virtual scroll
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  test/UnitTest/Components/TableTest.cs
Labels: bug

#1947 feat(Table): auto reset Table height when update Search/Toolbar
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Table/TablesFixedHeader.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesFixedHeader.razor.cs
  src/BootstrapBlazor.Shared/Samples/Table/TablesSearch.razor
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Components/Table/Table.razor.js
  test/UnitTest/Components/LayoutTest.cs
Labels: bug

#1950 fix(PopConfirmButton): can't trigger onclick event when set TooltipText parameter
  src/BootstrapBlazor/Components/Button/PopConfirmButton.razor
  src/BootstrapBlazor/Components/Button/PopConfirmButton.razor.cs
  test/UnitTest/Components/PopConfirmButtonTest.cs
Labels: bug

#1952 chore(TableToolbarPopConfirmButton): rename component name
  src/BootstrapBlazor.Shared/Samples/Table/TablesToolbar.razor
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/Components/Table/TableToolbar.razor
  src/BootstrapBlazor/Components/Table/TableToolbar.razor.cs
  src/BootstrapBlazor/Components/Table/TableToolbarPopConfirmButton.cs
  test/UnitTest/Components/TableTest.cs
Labels: chore

#1955 doc(Table): update fix column sample
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/EditorForms.razor.cs
  src/BootstrapBlazor.Shared/Samples/Table/TablesFixedColumn.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesFixedColumn.razor.cs
Labels: documentation

#1956 fix(Table): clear filter on Virtual mode result incorrect
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.cs
Labels: bug

#1958 doc(Upload): update fa-icon link
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
Labels: documentation

#1961 refactor(AutoComplete): move parameters into base class
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.cs
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.js
  src/BootstrapBlazor/Components/AutoComplete/PopoverCompleteBase.cs
  src/BootstrapBlazor/Components/AutoFill/AutoFill.razor
  src/BootstrapBlazor/Components/AutoFill/AutoFill.razor.cs
  src/BootstrapBlazor/Components/Input/BootstrapInputBase.cs
  src/BootstrapBlazor/Components/Search/Search.razor
  src/BootstrapBlazor/Components/Search/Search.razor.cs
  src/BootstrapBlazor/wwwroot/modules/utility.js
  test/UnitTest/Components/AutoCompleteTest.cs
  test/UnitTest/Components/AutoFillTest.cs
  test/UnitTest/Components/SearchTest.cs
Labels: enhancement

#1963 fix(Table): virtual scroll support ShowLineNo parameter
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor
  test/UnitTest/Components/LayoutTest.cs
  test/UnitTest/Components/TableTest.cs
Labels: bug

#1967 feat(CountUp): add Numerals parameter support Arabic language
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/CountUps.razor
  src/BootstrapBlazor.Shared/Samples/CountUps.razor.cs
  src/BootstrapBlazor.Shared/Samples/CountUps.razor.css
  src/BootstrapBlazor/Components/CountUp/CountUpOption.cs
  test/UnitTest/Components/CountUpTest.cs
Labels: enhancement

#1969 feat(Collapse): add hover css
  src/BootstrapBlazor/Components/Collapse/Collapse.css
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
Labels: enhancement

#1971 bug(Upload): md icon incorrect
  src/BootstrapBlazor.Shared/BootstrapBlazor.Shared.csproj
  src/BootstrapBlazor/Components/Upload/AvatarUpload.razor.cs
  src/BootstrapBlazor/Components/Upload/CardUpload.razor
  src/BootstrapBlazor/Components/Upload/CardUpload.razor.cs
  src/BootstrapBlazor/Components/Upload/UploadBase.css
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/Extensions/Components/BootstrapBlazor.MaterialDesign.Extensions/BootstrapBlazor.MaterialDesign.Extensions.csproj
  src/Extensions/Components/BootstrapBlazor.MaterialDesign.Extensions/DefaultIcon.cs
  test/UnitTest/Components/MultiSelectTest.cs
Labels: bug

#1974 feat(CountButton): add CountButton component
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Pages/Coms.razor
  src/BootstrapBlazor.Shared/Samples/CountButtons.razor
  src/BootstrapBlazor.Shared/Samples/CountButtons.razor.cs
  src/BootstrapBlazor.Shared/docs.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Button/Button.razor.cs
  src/BootstrapBlazor/Components/Button/CountButton.cs
  test/UnitTest/Components/CountButtonTest.cs
Labels: enhancement

#1976 refactor(Table): set ShowExportPdfButton default value to false
  src/BootstrapBlazor/Components/Table/ITableExportDataContext.cs
  src/BootstrapBlazor/Components/Table/Table.razor.Toolbar.cs
  src/BootstrapBlazor/Components/Table/TableExportDataContext.cs
  src/BootstrapBlazor/Enums/TableExportType.cs
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#1978 feat(InputGroup): compactible slidebutton drpdown etc component
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/InputGroups.razor
  src/BootstrapBlazor/Components/Button/SlideButton.css
  src/BootstrapBlazor/Components/Checkbox/CheckboxList.css
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
Labels: enhancement

#1986 refactor(Filter): add Filters parameter on FilterKeyValueAction
  src/BootstrapBlazor.Shared/Components/CustomerFilter.razor
  src/BootstrapBlazor.Shared/Samples/EditorForms.razor.cs
  src/BootstrapBlazor.Shared/Samples/Table/TablesFilter.razor.cs
  src/BootstrapBlazor/Components/Filters/BoolFilter.razor.cs
  src/BootstrapBlazor/Components/Filters/DateTimeFilter.razor.cs
  src/BootstrapBlazor/Components/Filters/EnumFilter.razor.cs
  src/BootstrapBlazor/Components/Filters/FilterBase.cs
  src/BootstrapBlazor/Components/Filters/FilterKeyValueAction.cs
  src/BootstrapBlazor/Components/Filters/IFilterAction.cs
  src/BootstrapBlazor/Components/Filters/LookupFilter.razor.cs
  src/BootstrapBlazor/Components/Filters/NumberFilter.razor.cs
  src/BootstrapBlazor/Components/Filters/SearchFilterAction.cs
  src/BootstrapBlazor/Components/Filters/StringFilter.razor.cs
  src/BootstrapBlazor/Components/Filters/TableFilter.razor.cs
  src/BootstrapBlazor/Components/Table/Table.razor.Search.cs
  src/BootstrapBlazor/Extensions/ITableColumnExtensions.cs
  src/BootstrapBlazor/Extensions/LambdaExtensions.cs
  test/UnitTest/Components/TableBoolFilterTest.cs
  test/UnitTest/Components/TableDateTimeFilterTest.cs
  test/UnitTest/Components/TableEnumFilterTest.cs
  test/UnitTest/Components/TableLookupFilterTest.cs
  test/UnitTest/Components/TableNumberFilterTest.cs
  test/UnitTest/Components/TableStringFilterTest.cs
  test/UnitTest/Components/TableTest.cs
  test/UnitTest/Extensions/ITableColumnExtensionsTest.cs
  test/UnitTest/Extensions/LambadaExtensionsTest.cs
Labels: enhancement

#1982 feat(DateTimePicker): change datetimepicker's css to scss
  src/BootstrapBlazor/Components/DateTimePicker/DateTimePicker.razor.scss
  src/BootstrapBlazor/Components/DateTimePicker/TimePickerBody.razor.scss
  src/BootstrapBlazor/bundleconfig.json
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.scss
  src/BootstrapBlazor/wwwroot/scss/components.scss
  src/BootstrapBlazor/wwwroot/scss/root.scss
  src/BootstrapBlazor/wwwroot/src/css/bootstrap.blazor.min.css
Labels: enhancement

#1988 doc(PageLayout): fix tab not work
  src/BootstrapBlazor.Server/wwwroot/css/site.css
  src/BootstrapBlazor.Shared/Samples/LayoutPages.razor
  src/BootstrapBlazor.Shared/Shared/PageLayout.razor.cs
Labels: documentation

#1990 refactor(Extensions): add enumerable IFilterAction extensions method
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Extensions/IQueryableExtensions.cs
  src/BootstrapBlazor/Extensions/LambdaExtensions.cs
Labels: enhancement

#1992 refactor(Button): update btn-xs class
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Button/Button.razor.scss
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
Labels: enhancement

#1994 refactor(DateTimePicker): update sass style
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/DateTimePicker/DateTimePicker.razor.scss
  src/BootstrapBlazor/Components/DateTimeRange/DateTimeRange.razor.scss
  src/BootstrapBlazor/Components/Table/ITableExportDataContext.cs
  src/BootstrapBlazor/Directory.Build.props
  src/BootstrapBlazor/Extensions/QueryPageOptionsExtensions.cs
  src/BootstrapBlazor/Misc/QueryData.cs
  src/BootstrapBlazor/bundleconfig.json
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
  src/Extensions/DataServices/BootstrapBlazor.DataAccess.EntityFrameworkCore/DefaultDataService.cs
  src/Extensions/DataServices/BootstrapBlazor.DataAccess.FreeSql/DefaultDataService.cs
  src/Extensions/DataServices/BootstrapBlazor.DataAccess.FreeSql/FreeSqlExtensions.cs
  src/Extensions/DataServices/BootstrapBlazor.DataAccess.PetaPoco/DatabaseExtensions.cs
  src/Extensions/DataServices/BootstrapBlazor.DataAccess.PetaPoco/DefaultDataService.cs
  src/Version.targets
  src/bundleconfig.props
Labels: documentation

#1996 feat(IDataService): update DataService extensions
  src/Extensions/DataServices/BootstrapBlazor.DataAccess.EntityFrameworkCore/BootstrapBlazor.DataAccess.EntityFrameworkCore.csproj
  src/Extensions/DataServices/BootstrapBlazor.DataAccess.FreeSql/BootstrapBlazor.DataAccess.FreeSql.csproj
  src/Extensions/DataServices/BootstrapBlazor.DataAccess.PetaPoco/BootstrapBlazor.DataAccess.PetaPoco.csproj
  test/UnitTest/Components/TreeViewTest.cs
  test/UnitTest/Extensions/QueryPageOptionsExtensionsTest.cs
Labels: enhancement

#1998 refactor(DateTimePicker) : add mixin function
  src/BootstrapBlazor/Components/DateTimePicker/DateTimePicker.razor.scss
Labels: enhancement

#2000 doc(Pre): update Pre component script
  src/BootstrapBlazor.Server/wwwroot/lib/highlight/cshtml-razor.min.js
  src/BootstrapBlazor.Server/wwwroot/lib/highlight/highlight.min.js
  src/BootstrapBlazor.Shared/Components/Pre.razor
  src/BootstrapBlazor.Shared/Components/Pre.razor.cs
  src/BootstrapBlazor.Shared/Components/Pre.razor.css
  src/BootstrapBlazor.Shared/Components/Pre.razor.js
  test/UnitTest/Components/TableTest.cs
Labels: documentation

#2002 refactor(HtmlRender): add conditional compilation
  src/BootstrapBlazor/Services/Internal/HtmlRenderer.cs
  src/BootstrapBlazor/Services/Internal/HtmlRootComponent.cs
  src/BootstrapBlazor/Services/Internal/StaticHtmlRenderer.HtmlWriting.cs
  src/BootstrapBlazor/Services/Internal/StaticHtmlRenderer.cs
Labels: chore

#2004 chore(NET8): add net8 dependence config
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Directory.Build.props
  src/Frameworks.props
  src/Version.targets
  src/bundleconfig.props
Labels: chore

#2006 refactor(DateTimeRange): update sass file
  src/BootstrapBlazor/Components/DateTimePicker/DateTimePicker.razor.scss
  src/BootstrapBlazor/Components/DateTimeRange/DateTimeRange.razor.scss
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.scss
Labels: enhancement

#2008 feat(Tab): add Menus parameter
  src/BootstrapBlazor/Components/Tab/Tab.razor.cs
  src/BootstrapBlazor/Extensions/MenuItemExtensions.cs
  test/UnitTest/Components/LayoutTest.cs
  test/UnitTest/Components/TabTest.cs
  test/UnitTest/Extensions/MenuItemExtensionsTest.cs
Labels: enhancement

#2014 doc(TablesColumnTemplate): document display error
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
Labels: documentation

#2018 feat(Table): add IsPopoverToolbarDropdownButton parameter
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Components/Table/Table.razor.js
  src/BootstrapBlazor/Locales/en.json
  src/BootstrapBlazor/Locales/zh.json
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#2022 chore(Sass): update sass/bundle/minifier config file
  src/Version.targets
  src/bundleconfig.props
Labels: chore

#2031 fix(DateTimePicker): the repair time selection box may not pop up correctly
  src/BootstrapBlazor/Components/DateTimePicker/DateTimePicker.razor.scss
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
Labels: bug

#2027 feat(DropdownWidget): update scss file
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/DropdownWidget/DropdownWidget.razor.scss
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/BootstrapBlazor/Options/IconThemeOptions.cs
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.scss
Labels: enhancement

#2033 refactor(Divider): update scss file
  src/BootstrapBlazor.Shared/Samples/Dividers.razor
  src/BootstrapBlazor.Shared/Samples/Dividers.razor.cs
  src/BootstrapBlazor/Components/Divider/Divider.razor.scss
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.scss
Labels: chore

#2039 refactor(Select): revert CurrentValueAsString assign
  .editorconfig
  .github/workflows/auto-pull-request-checks.yml
  .github/workflows/build.yml
  .github/workflows/pack.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  exclusion.dic
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Select/Select.razor
  src/BootstrapBlazor/Components/Select/Select.razor.cs
Labels: chore
