Repository dotnetcore/BootstrapBlazor, pull requests merged in 2023-10, with the labels that each got.

#2211 feat(QueryPageOptions): add IsVirtualScroll parameter
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.Edit.cs
  src/BootstrapBlazor/Options/QueryPageOptions.cs
Labels: enhancement

#2215 feat(Responsive): add ExtraExtraSmall breakpoint
  src/BootstrapBlazor/Components/ResizeNotification/ResizeNotification.razor.scss
  src/BootstrapBlazor/Enums/BreakPoint.cs
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
  test/UnitTest/Components/ResponsiveTest.cs
Labels: enhancement

#2214 doc(Table): update ShowEditButton/ShowDeleteButton document
  src/BootstrapBlazor/Components/Table/Table.razor.Toolbar.cs
Labels: documentation

#2217 feat(Bootstrap): upgrade to v5.3.2
  src/BootstrapBlazor/wwwroot/core/bootstrap/css/bootstrap.css
  src/BootstrapBlazor/wwwroot/core/bootstrap/css/bootstrap.min.css
  src/BootstrapBlazor/wwwroot/core/bootstrap/js/bootstrap.bundle.js
  src/BootstrapBlazor/wwwroot/core/bootstrap/js/bootstrap.bundle.min.js
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/js/bootstrap.blazor.bundle.js
  src/BootstrapBlazor/wwwroot/js/bootstrap.blazor.bundle.min.js
Labels: enhancement

#2220 feat(DockView): add Reset instance method
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockView.razor.cs
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockView.razor.js
Labels: enhancement

#2221 feat(Dock): add GetLayoutConfig instance method
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/DockViews/DockViewLayout.razor
  src/BootstrapBlazor.Shared/Samples/DockViews/DockViewLayout.razor.css
  src/BootstrapBlazor.Shared/Samples/DockViews/DockViewLock.razor
  src/BootstrapBlazor.Shared/Samples/DockViews/DockViewVisible.razor
  src/Extensions/Components/BootstrapBlazor.Dock/BootstrapBlazor.Dock.csproj
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockView.razor.cs
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockView.razor.js
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockViewConfig.cs
Labels: enhancement

#2223 feat(Table): order of edit pop-up consisitent with table column
  src/BootstrapBlazor.Shared/BootstrapBlazor.Shared.csproj
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Table/Tables.razor.cs
  src/BootstrapBlazor.Shared/Samples/Table/TablesEdit.razor
  src/BootstrapBlazor.Shared/docs.json
  src/BootstrapBlazor/Components/EditorForm/EditorForm.razor
  src/BootstrapBlazor/Components/EditorForm/EditorForm.razor.cs
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Utils/Utility.cs
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockView.razor.js
  test/UnitTest/Components/EditorFormTest.cs
  test/UnitTest/Components/TableTest.cs
  test/UnitTest/Utils/GroupTest.cs
Labels: enhancement

#2226 feat(ColorPicker): update css adapte InputGroup
  src/BootstrapBlazor/Components/ColorPicker/ColorPicker.razor.scss
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
  test/UnitTest/Components/TransitionTest.cs
Labels: test

#2225 feat(Marquee): add Marquee component
  src/BootstrapBlazor.Shared/Components/Pre.razor.js
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Marquees.razor
  src/BootstrapBlazor.Shared/Samples/Marquees.razor.cs
  src/BootstrapBlazor.Shared/Samples/Marquees.razor.css
  src/BootstrapBlazor.Shared/docs.json
  src/BootstrapBlazor/Components/Marquee/Marquee.razor
  src/BootstrapBlazor/Components/Marquee/Marquee.razor.cs
  src/BootstrapBlazor/Components/Marquee/Marquee.razor.scss
  src/BootstrapBlazor/Enums/MarqueeDirection.cs
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
  src/BootstrapBlazor/wwwroot/scss/components.scss
  test/UnitTest/Components/MarqueeTest.cs
Labels: enhancement

#2230 feat(Layout): add AllowDragTab on Layout component
  src/BootstrapBlazor/Components/Layout/Layout.razor
  src/BootstrapBlazor/Components/Layout/Layout.razor.cs
  test/UnitTest/Components/LayoutTest.cs
Labels: enhancement

#2234 test(Table): add AdvanceSortDialog unit test
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Dialogs.razor.cs
  src/BootstrapBlazor.Shared/Samples/Table/Tables.razor.cs
  src/BootstrapBlazor.Shared/Samples/Table/TablesFilter.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesFilter.razor.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Dialog/ResultDialogOption.cs
  src/BootstrapBlazor/Components/Table/AdvancedSort.razor
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/Components/Table/Table.razor.Edit.cs
  src/BootstrapBlazor/Components/Table/Table.razor.Localization.cs
  src/BootstrapBlazor/Components/Table/Table.razor.Sort.cs
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Components/Table/TableAdvancedSortDialog.razor
  src/BootstrapBlazor/Components/Table/TableAdvancedSortDialog.razor.cs
  src/BootstrapBlazor/Components/Table/TableAdvancedSortDialog.razor.scss
  src/BootstrapBlazor/Components/Table/TableSortItem.cs
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/BootstrapBlazor/Extensions/DialogServiceExtensions.cs
  src/BootstrapBlazor/Locales/en.json
  src/BootstrapBlazor/Locales/zh.json
  src/BootstrapBlazor/Options/IconThemeOptions.cs
  src/BootstrapBlazor/Options/QueryPageOptions.cs
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
  src/BootstrapBlazor/wwwroot/scss/components.scss
  src/Frameworks.props
  test/UnitTest/Components/DialogTest.cs
  test/UnitTest/Components/TableSortDialogTest.cs
  test/UnitTest/Components/TableSortItemTest.cs
  test/UnitTest/Components/TableTest.cs
  test/UnitTest/Core/TableDialogTestBase.cs
  test/UnitTest/Core/TableSortDialogTestBase.cs
Labels: test

#2236 fix(CountUp): not show the Value when set value to 0
  src/BootstrapBlazor.Shared/Samples/CountUps.razor
  src/BootstrapBlazor.Shared/Samples/CountUps.razor.cs
  src/BootstrapBlazor/Components/CountUp/CountUp.razor
  src/BootstrapBlazor/Components/CountUp/CountUp.razor.cs
Labels: enhancement

#2238 feat(MaterialDesign): add TableAdvancedSort icon
  src/BootstrapBlazor.Server/AIChat/Chats.razor.cs
  src/BootstrapBlazor.Shared/BootstrapBlazor.Shared.csproj
  src/Extensions/Components/BootstrapBlazor.MaterialDesign.Extensions/BootstrapBlazor.MaterialDesign.Extensions.csproj
  src/Extensions/Components/BootstrapBlazor.MaterialDesign.Extensions/DefaultIcon.cs
Labels: enhancement

#2240 fix(Upload): preview function not work after reupload
  src/BootstrapBlazor.Shared/Samples/Uploads.razor
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/ImagePreviewer/ImagePreviewer.razor
  src/BootstrapBlazor/Components/ImagePreviewer/ImagePreviewer.razor.scss
  src/BootstrapBlazor/Components/Upload/CardUpload.razor
  src/BootstrapBlazor/Components/Upload/CardUpload.razor.cs
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/modules/upload.js
  src/BootstrapBlazor/wwwroot/modules/viewer.js
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
Labels: bug

#2242 feat(BootstrapInputGroupLabel): add ShowRequiredMark parameter
  src/BootstrapBlazor.Shared/Samples/ValidateForms.razor
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Input/BootstrapInputGroup.razor.cs
  src/BootstrapBlazor/Components/Input/BootstrapInputGroupLabel.razor
  src/BootstrapBlazor/Components/Input/BootstrapInputGroupLabel.razor.cs
  src/BootstrapBlazor/Components/Table/TableSortItem.cs
  src/BootstrapBlazor/Components/ValidateForm/ValidateForm.razor.scss
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
  test/UnitTest/Components/InputTest.cs
  test/UnitTest/Components/ListViewTest.cs
Labels: enhancement

#2252 feat(Carousel): add PlayMode parameter
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Carousels.razor.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Carousel/Carousel.razor
  src/BootstrapBlazor/Components/Carousel/Carousel.razor.cs
  src/BootstrapBlazor/Enums/CarouselPlayMode.cs
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  test/UnitTest/Components/CarouselTest.cs
  test/UnitTest/Components/InputTest.cs
Labels: enhancement

#2248 feat(Chart): support change grid line color
  src/BootstrapBlazor.Shared/BootstrapBlazor.Shared.csproj
  src/BootstrapBlazor.Shared/Samples/Charts/Line.razor.cs
  src/Extensions/Components/BootstrapBlazor.Chart/BootstrapBlazor.Chart.csproj
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/Chart.razor.js
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/ChartOptions.cs
Labels: enhancement

#2254 feat(InputGroup): compatible Tooltip inside InputGroup
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Displays.razor
  src/BootstrapBlazor.Shared/Samples/Displays.razor.cs
  src/BootstrapBlazor/Components/Input/BootstrapInputGroup.razor.scss
  src/BootstrapBlazor/Components/Tooltip/Tooltip.razor.scss
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
  test/UnitTest/Components/InputTest.cs
Labels: enhancement

#2256 feat(InputGroup): compatible Popover inside InputGroup
  src/BootstrapBlazor.Shared/Samples/Displays.razor
  src/BootstrapBlazor/Components/Input/BootstrapInputGroup.razor.scss
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
Labels: enhancement

#2261 doc(TabLink): add document for TabLink
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Tabs.razor
  src/BootstrapBlazor.Shared/Samples/Tabs.razor.cs
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  test/UnitTest/Components/TransitionTest.cs
Labels: documentation

#2259 feat(InputGroup): compatible Swtich inside InputGroup
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/InputGroups.razor
  src/BootstrapBlazor.Shared/Samples/InputGroups.razor.cs
  src/BootstrapBlazor/Components/Input/BootstrapInputGroup.razor.scss
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
Labels: enhancement

#2264 feat(Select): add GroupItemTemplate parameter
  src/BootstrapBlazor/Components/Divider/Divider.razor.scss
  src/BootstrapBlazor/Components/Select/MultiSelect.razor
  src/BootstrapBlazor/Components/Select/Select.razor
  src/BootstrapBlazor/Components/Select/SelectBase.cs
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
  test/UnitTest/Components/MultiSelectTest.cs
  test/UnitTest/Components/SelectTest.cs
Labels: enhancement

#2250 feat: add stack component
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Stacks.razor
  src/BootstrapBlazor.Shared/Samples/Stacks.razor.cs
  src/BootstrapBlazor.Shared/Samples/Stacks.razor.css
  src/BootstrapBlazor.Shared/docs.json
  src/BootstrapBlazor/Components/Stack/Stack.razor
  src/BootstrapBlazor/Components/Stack/Stack.razor.cs
  src/BootstrapBlazor/Components/Stack/StackItem.cs
  src/BootstrapBlazor/Enums/HorizontalAlignment.cs
  src/BootstrapBlazor/Enums/StackAlignItems .cs
  src/BootstrapBlazor/Enums/StackJustify.cs
  test/UnitTest/Components/ListViewTest.cs
  test/UnitTest/Components/StackTest.cs
  test/UnitTest/Components/TooltipTest.cs
  test/UnitTest/Components/UploadTest.cs
Labels: enhancement

#2266 bug(Table): can't resize the last column when fixed header
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.js
  src/BootstrapBlazor/Components/Table/Table.razor.scss
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
Labels: bug

#2268 feat(InputNumber): add global setting for step
  src/BootstrapBlazor.Server/appsettings.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/InputNumber/BootstrapInputNumber.razor.cs
  src/BootstrapBlazor/Extensions/BootstrapBlazorOptionsExtensions.cs
  src/BootstrapBlazor/Options/BootstrapBlazorOptions.cs
  src/BootstrapBlazor/Options/StepSettings.cs
  test/UnitTest/Options/BootstrapBlazorOptionsTest.cs
Labels: enhancement

#2270 refactor(form-control): remove duplicate style
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/ValidateForm/ValidateForm.razor.scss
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
Labels: enhancement

#2272 doc(ChangeLog): update changelog doc
  CHANGELOG.md
  CHANGELOG.zh-CN.md
  src/BootstrapBlazor.Shared/BootstrapBlazor.Shared.csproj
  src/Extensions/Components/BootstrapBlazor.MaterialDesign.Extensions/BootstrapBlazor.MaterialDesign.Extensions.csproj
Labels: documentation

#2275 feat(Drawer): add AllowResize parameter
  src/BootstrapBlazor.Shared/BootstrapBlazor.Shared.csproj
  src/BootstrapBlazor.Shared/Samples/Drawers.razor
  src/BootstrapBlazor.Shared/Samples/Drawers.razor.cs
  src/BootstrapBlazor.Shared/Shared/NavMenu.razor.css
  src/BootstrapBlazor.Shared/Shared/NavMenu.razor.js
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Drawer/Drawer.razor
  src/BootstrapBlazor/Components/Drawer/Drawer.razor.cs
  src/BootstrapBlazor/Components/Drawer/Drawer.razor.js
  src/BootstrapBlazor/Components/Drawer/Drawer.razor.scss
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
  src/Extensions/Components/BootstrapBlazor.TableExport/BootstrapBlazor.TableExport.csproj
  test/UnitTest/Components/DrawerTest.cs
Labels: enhancement

#2277 fix(Drawer): can't focus element
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Drawer/Drawer.razor.js
  src/BootstrapBlazor/Components/Drawer/Drawer.razor.scss
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
Labels: bug

#2279 feat(IZipArchiveService): add ArchiveDirectory method
  src/BootstrapBlazor/Services/DefaultZipArchiveService.cs
  src/BootstrapBlazor/Services/IZipArchiveService.cs
  test/UnitTest/Services/ZipArchiveServiceTest.cs
Labels: enhancement

#2281 feat(Segmented): add segmented component
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Segmenteds.razor
  src/BootstrapBlazor.Shared/Samples/Segmenteds.razor.cs
  src/BootstrapBlazor.Shared/docs.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Segmented/Segmented.razor
  src/BootstrapBlazor/Components/Segmented/Segmented.razor.cs
  src/BootstrapBlazor/Components/Segmented/Segmented.razor.js
  src/BootstrapBlazor/Components/Segmented/Segmented.razor.scss
  src/BootstrapBlazor/Components/Segmented/SegmentedItem.cs
  src/BootstrapBlazor/Components/Segmented/SegmentedOption.cs
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
  src/BootstrapBlazor/wwwroot/scss/components.scss
  test/UnitTest/Components/SegmentedTest.cs
Labels: enhancement

#2283 fix(Segmented): not trigger click when disabled
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/ListGroup/ListGroup.razor.scss
  src/BootstrapBlazor/Components/Segmented/Segmented.razor.js
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
Labels: enhancement

#2285 feat(Segmented): add IsBlock/ShowTooltip parameter
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Segmenteds.razor
  src/BootstrapBlazor.Shared/Samples/Segmenteds.razor.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Segmented/Segmented.razor
  src/BootstrapBlazor/Components/Segmented/Segmented.razor.cs
  src/BootstrapBlazor/Components/Segmented/Segmented.razor.js
  src/BootstrapBlazor/Components/Segmented/Segmented.razor.scss
  src/BootstrapBlazor/Components/Tooltip/ITooltip.cs
  src/BootstrapBlazor/Components/Tooltip/Tooltip.razor.cs
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
  test/UnitTest/Components/InputTest.cs
  test/UnitTest/Components/SegmentedTest.cs
Labels: enhancement

#2288 test(ListView): add unit test
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Stack/Stack.razor.cs
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  test/UnitTest/Components/ButtonTest.cs
  test/UnitTest/Components/ErrorLoggerTest.cs
  test/UnitTest/Components/LayoutTest.cs
  test/UnitTest/Components/ListViewTest.cs
  test/UnitTest/Components/RecognizerTest.cs
  test/UnitTest/Components/SlideButtonTest.cs
  test/UnitTest/Components/TableConfirmTest.cs
  test/UnitTest/Components/TableTest.cs
  test/UnitTest/Components/TimerTest.cs
  test/UnitTest/UnitTest.csproj
Labels: test

#2292 refactor(JSRuntime): update OpenBlackUrl method
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/ValidateForm/ValidateForm.razor.cs
  src/BootstrapBlazor/Extensions/JSModuleExtensions.cs
  src/BootstrapBlazor/Utils/Utility.cs
  test/UnitTest/Components/TableTest.cs
  test/UnitTest/Components/ValidateFormTest.cs
Labels: enhancement

#2294 doc(Table): export data to clipboard
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Table/TablesExport.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesExport.razor.cs
Labels: documentation

#2232 feat(JSRuntime): Added JSRuntime extension method support
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Clipboards.razor
  src/BootstrapBlazor.Shared/Samples/Clipboards.razor.cs
  src/BootstrapBlazor.Shared/Samples/JSRuntimeExtensions.razor
  src/BootstrapBlazor.Shared/Samples/JSRuntimeExtensions.razor.cs
  src/BootstrapBlazor.Shared/Samples/JSRuntimeExtensions.razor.css
  src/BootstrapBlazor.Shared/Samples/Practices/Waterfall.razor
  src/BootstrapBlazor.Shared/Samples/Practices/Waterfall.razor.cs
  src/BootstrapBlazor.Shared/Samples/Practices/Waterfall.razor.css
  src/BootstrapBlazor.Shared/docs.json
  src/BootstrapBlazor/Extensions/BootstrapBlazorServiceCollectionExtensions.cs
  src/BootstrapBlazor/Extensions/JSModuleExtensions.cs
  src/BootstrapBlazor/Services/BootstrapBlazorJSRuntimeEventHandler.cs
  src/BootstrapBlazor/Services/IJSRuntimeEventHandler.cs
  src/BootstrapBlazor/Services/JSRuntimeEventHandler.Event.cs
  src/BootstrapBlazor/Services/JSRuntimeEventHandler.Invoke.cs
  src/BootstrapBlazor/Services/JSRuntimeEventHandler.cs
  src/BootstrapBlazor/wwwroot/modules/event-services.js
  src/BootstrapBlazor/wwwroot/modules/utility.js
  test/UnitTest/Extensions/JSModuleExtensionsTest.cs
  test/UnitTest/Services/JSRuntimeEventHandlerTest.cs
Labels: enhancement

#2300 fix(DialButton): not show the menu item set placement to bottom-start
  src/BootstrapBlazor/Components/Button/DialButton.razor.scss
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
Labels: bug

#2302 fix(Table): can't edit when table data source is DynamicContext
  src/BootstrapBlazor.Shared/Samples/Table/TablesDynamic.razor
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.Toolbar.cs
Labels: bug
