Repository dotnetcore/BootstrapBlazor, pull requests merged in 2023-01, with the labels that each got.

#314 doc: update readme document
  README.md
Labels: question

#318 test: add unit test for table FixedMultipleColumn method
  test/UnitTest/Components/TableTest.cs
Labels: test

#324 refactor UploadFile use extensions method
  src/BootstrapBlazor.Shared/Samples/Uploads.razor.cs
  src/BootstrapBlazor/Extensions/UploadFileExtensions.cs
  test/UnitTest/Components/UploadTest.cs
Labels: enhancement

#326 feat: IBarduOcr support get json raw string
  src/Extensions/Components/BootstrapBlazor.BaiduOcr/BootstrapBlazor.BaiduOcr.csproj
  src/Extensions/Components/BootstrapBlazor.BaiduOcr/Models/BaiduOcrResult.cs
  src/Extensions/Components/BootstrapBlazor.BaiduOcr/Services/BaiduOcr.cs
  src/Extensions/Components/BootstrapBlazor.BaiduOcr/Services/IBaiduOcr.cs
Labels: enhancement

#328 doc: update sample code for IBaiduOcr
  src/BootstrapBlazor.Shared/Demos/BaiduOcr/BaiduOcrNormal.razor
  src/BootstrapBlazor.Shared/Demos/BaiduOcr/BaiduOcrNormal.razor.cs
Labels: enhancement

#331 feat: add CancellationToken parameter on CheckVatInvoiceJsonAsync method
  src/Extensions/Components/BootstrapBlazor.BaiduOcr/BootstrapBlazor.BaiduOcr.csproj
  src/Extensions/Components/BootstrapBlazor.BaiduOcr/Services/BaiduOcr.cs
  src/Extensions/Components/BootstrapBlazor.BaiduOcr/Services/IBaiduOcr.cs
Labels: enhancement

#332 add asynchronous operation function to the VAT invoice upload button
  src/BootstrapBlazor.Shared/Demos/BaiduOcr/BaiduOcrNormal.razor
Labels: documentation

#336 fix: use children.length instead of querySelectorAll
  src/BootstrapBlazor/wwwroot/modules/modal.js
Labels: bug

#342 feat: add verify vat invoice component
  src/Extensions/Components/BootstrapBlazor.BaiduOcr/BootstrapBlazor.BaiduOcr.csproj
  src/Extensions/Components/BootstrapBlazor.BaiduOcr/Models/InvoiceEntity.cs
  src/Extensions/Components/BootstrapBlazor.BaiduOcr/Models/InvoiceVerifyResult.cs
  src/Extensions/Components/BootstrapBlazor.BaiduOcr/Services/BaiduOcr.cs
  src/Extensions/Components/BootstrapBlazor.BaiduOcr/Services/IBaiduOcr.cs
Labels: enhancement

#346 add Valid/VerifyFrequency property on InvoiceVerifyResult
  src/Extensions/Components/BootstrapBlazor.BaiduOcr/Models/InvoiceVerifyResult.cs
Labels: enhancement

#348 doc: add verify vat invoice sample code
  src/BootstrapBlazor.Shared/Demos/BaiduOcr/BaiduOcrNormal.razor
  src/BootstrapBlazor.Shared/Demos/BaiduOcr/BaiduOcrVerifyVatInvoice.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/BaiduOcr.razor
  src/Extensions/Components/BootstrapBlazor.BaiduOcr/BootstrapBlazor.BaiduOcr.csproj
Labels: documentation

#351 doc: update verify vat invoice sample code
  src/BootstrapBlazor.Shared/Demos/BaiduOcr/BaiduOcrVerifyVatInvoice.razor
Labels: documentation

#353 test: add unit test for table IsHideFooterWhenNoData
  test/UnitTest/Components/TableTest.cs
Labels: test

#355 test: add unit test for table improve code coverage
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Table/Tables.razor
  src/BootstrapBlazor.Shared/Samples/Table/Tables.razor.cs
  src/BootstrapBlazor/Components/Table/Table.razor.Edit.cs
  test/UnitTest/Components/TableTest.cs
Labels: test

#357 test: add ItemsChanged unit test of Table
  test/UnitTest/Components/TableDialogTest.cs
Labels: test

#359 feat: table support CollapsedTopSearch parameter
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/Components/Table/Table.razor.FixHeader.cs
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  test/UnitTest/Components/TableDialogTest.cs
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#360 add codecov action check for pull-request
  .github/workflows/build.yml
  .github/workflows/pull-request.yml
Labels: enhancement

#364 test: add TableTreeNode unit test
  test/UnitTest/Components/TableTreeNodeTest.cs
Labels: test

#367 update issue template
  .github/ISSUE_TEMPLATE/10_bug_report.yml
  .github/ISSUE_TEMPLATE/20_feature_request.yml
  .github/ISSUE_TEMPLATE/30_unit_test.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/auto_assign_milestone.yml
Labels: enhancement

#371 test: add OnSelectedItemChanged unit test
  test/UnitTest/Components/SelectTreeTest.cs
Labels: test

#373 chore: update pull request template
  .github/pull_request_template.md
  .github/workflows/pull_request.yml
Labels: enhancement

#375 test: add GetCellClassString unit test
  .github/workflows/pull_request.yml
  test/UnitTest/Components/TableTest.cs
Labels: test

#383 test(Table): add unit test for table
  src/BootstrapBlazor/Components/Table/Table.razor.Toolbar.cs
  test/UnitTest/Components/TableTest.cs
Labels: test

#385 test: update table page test
  test/UnitTest/Components/TableTest.cs
Labels: test

#387 chore: update actions/bots jobs name
  .github/workflows/auto_assign_labels_issue.yml
  .github/workflows/auto_assign_milestone_pull_request.yml
  .github/workflows/auto_comment_issue.yml
  .github/workflows/auto_pull_request_checks.yml
  BootstrapBlazor.sln
Labels: chore

#391 chore: add sync labels assignees milestone actions
  .github/auto_assign_labels.yml
  .github/labeler.yml
  .github/workflows/auto_assign_assignees.yml
  .github/workflows/auto_assign_labels.yml
  .github/workflows/auto_assign_milestone.yml
  .github/workflows/auto_assign_milestone_pull_request.yml
  .github/workflows/auto_comment_issue.yml
  .github/workflows/auto_pull_request_checks.yml
  .github/workflows/sync_assignee.yml
  .github/workflows/sync_labels.yml
  .github/workflows/sync_milestone.yml
  BootstrapBlazor.sln
Labels: chore

#393 chore: merge action into one action
  .github/workflows/auto_assign_assignees.yml
  .github/workflows/auto_assign_issue.yml
  .github/workflows/auto_assign_labels.yml
  .github/workflows/auto_assign_milestone.yml
  .github/workflows/sync_assignee.yml
  .github/workflows/sync_from_issue.yml
  .github/workflows/sync_labels.yml
  .github/workflows/sync_milestone.yml
  BootstrapBlazor.sln
Labels: chore

#399 chore: update comment label action and repro document
  .github/workflows/auto_assign_issue.yml
  .github/workflows/auto_comment_issue.yml
  .github/workflows/auto_pull_request_checks.yml
  .github/workflows/build.yml
  .github/workflows/docker.yml
  .github/workflows/pack.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/sync_from_issue.yml
  docs/repro.md
Labels: chore

#401 test: add menu unit test improve code coverage
  .github/workflows/auto_sync_from_issue.yml
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/docker.yml
  .github/workflows/pack.yml
  .github/workflows/publish.yml
  BootstrapBlazor.sln
  src/BootstrapBlazor/Components/Menu/SubMenu.razor.cs
  test/UnitTest/Components/MenuTest.cs
Labels: test

#403 doc: update the table component excel dmos
  src/BootstrapBlazor.Shared/Demos/Table/TablesExcel/TablesExcelCellRender.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesExcel/TablesExcelOnQuery.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Table/TablesExcel.razor
Labels: documentation

#405 chore: update issue form
  .github/ISSUE_TEMPLATE/30_doc_documentation.yml
  .github/ISSUE_TEMPLATE/40_unit_test.yml
  .github/workflows/auto_assign_issue.yml
  .github/workflows/auto_sync_from_issue.yml
Labels: chore

#407 doc: update the table component export demos
  src/BootstrapBlazor.Shared/Demos/Table/TablesExport/TablesExportButtonDropdownTemplate.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesExport/TablesExportOnExportAsync.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesExport/TablesExportShowExportButton.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Table/TablesExport.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesExport.razor.cs
Labels: documentation

#409 chore: merge comment label action into auto assign action
  .github/workflows/auto_assign_issue.yml
  .github/workflows/auto_comment_issue.yml
  .github/workflows/auto_sync_from_issue.yml
  BootstrapBlazor.sln
  appveyor.yml
  scripts/appveyor/appveyor.build.ps1
  scripts/linux/ba.blazor.service
  scripts/linux/deploy-blazor.sh
  scripts/linux/nginx.conf
  scripts/linux/publish.sh
  scripts/linux/watch-run.sh
  scripts/windows/publish.cmd
  scripts/windows/watch-run.cmd
  src/Directory.Build.props
Labels: chore

#411 feat: TreeView support auto expand via node IsActive
  .github/workflows/auto_sync_from_issue.yml
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Menu/SubMenu.razor.cs
  src/BootstrapBlazor/Components/Select/SelectTree.razor.cs
  src/BootstrapBlazor/Components/TreeView/TreeView.razor.cs
  src/BootstrapBlazor/Misc/ExpandableNodeCache.cs
  src/BootstrapBlazor/Misc/TreeNodeCache.cs
Labels: enhancement

#413 test: add unit test for cascader
  .github/workflows/auto_sync_from_issue.yml
  src/BootstrapBlazor/Components/Cascader/Cascader.razor.cs
  test/UnitTest/Components/CascaderTest.cs
Labels: test

#415 test: add unit test for DateTimeRangeRequiredValidator
  src/BootstrapBlazor/Components/DateTimeRange/DateTimeRange.razor.cs
  src/BootstrapBlazor/Validators/DateTimeRangeRequiredValidator.cs
  test/UnitTest/Validators/DateTimeRangeRangeRequiredValidatorTest.cs
Labels: test

#417 test: refactor Utility.Clone method for improve code coverage
  .github/workflows/auto_pull_request_checks.yml
  src/BootstrapBlazor/Components/BaseComponents/BootstrapBlazorRoot.razor.cs
  src/BootstrapBlazor/Utils/Utility.cs
Labels: test

#420 test: add unit test for DataTableDynamicContext
  src/BootstrapBlazor/Components/BaseComponents/BootstrapBlazorRoot.razor.cs
  test/UnitTest/Dynamic/DataTableDynamicContextTest.cs
Labels: test

#422 test: improve code coverage for CacheManager
  src/BootstrapBlazor/Services/CacheManager.cs
  test/UnitTest/Utils/UtilityTest.cs
  test/UnitTest/zh-CN.json
Labels: test

#424 doc: update the table component Excel-DataTable demos
  src/BootstrapBlazor.Shared/Demos/Table/TablesDynamicExcel/TablesDynamicExcelKeyboard.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesDynamicExcel/TablesDynamicExcelNormal.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Table/TablesDynamicExcel.razor
Labels: documentation

#426 doc: update readme.md for package
  src/BootstrapBlazor/readme.md
Labels: documentation

#428 doc: update the table component toolbar demos
  src/BootstrapBlazor.Shared/Demos/Table/TablesToolbar/TablesToolbarCustomButton.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesToolbar/TablesToolbarCustomDispalyButton.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesToolbar/TablesToolbarNormal.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesToolbar/TablesToolbarQueryTabel.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Table/TablesToolbar.razor
Labels: documentation

#431 fix: update width to min-width for Cascade/Menu component
  src/BootstrapBlazor/Components/Menu/Menu.css
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
Labels: bug

#435 fix: the loader does not disappear
  src/BootstrapBlazor/Components/Dialog/EditDialog.razor
  src/BootstrapBlazor/Components/Dialog/EditDialog.razor.cs
Labels: bug
