Repository dotnetcore/BootstrapBlazor, pull requests merged in 2023-12, with the labels that each got.

#2461 feat(Select): add IsMarkupString parameter
  src/BootstrapBlazor/Components/Select/MultiSelect.razor
  src/BootstrapBlazor/Components/Select/Select.razor
  src/BootstrapBlazor/Components/Select/SelectBase.cs
  test/UnitTest/Components/MultiSelectTest.cs
  test/UnitTest/Components/SelectTest.cs
Labels: enhancement

#2450 feat(TimePicker): add ShowSecond parameter
  src/BootstrapBlazor.Server/Components/Samples/DateTimePickers.razor
  src/BootstrapBlazor.Server/Locales/en.json
  src/BootstrapBlazor.Server/Locales/zh.json
  src/BootstrapBlazor/Components/DateTimePicker/TimePickerBody.razor
  src/BootstrapBlazor/Components/DateTimePicker/TimePickerBody.razor.cs
  src/BootstrapBlazor/Components/DateTimePicker/TimePickerBody.razor.scss
  test/UnitTest/Components/DateTimePickerTest.cs
Labels: enhancement

#2466 doc(PdfReader): update search function for Pdf reader
  src/BootstrapBlazor.Server/Components/Pages/Coms.razor
  src/BootstrapBlazor.Server/Components/Samples/PdfReaders.razor
  src/BootstrapBlazor.Server/Components/Samples/PdfReaders.razor.cs
Labels: documentation

#2469 refactor(Layout): update layout sass style
  src/BootstrapBlazor.Server/Components/Components/Widget.razor
  src/BootstrapBlazor.Server/Components/Layout/PageLayout.razor
  src/BootstrapBlazor.Server/wwwroot/css/motronic.css
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Layout/Layout.razor.scss
  src/BootstrapBlazor/build/BootstrapBlazor.targets
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrap.blazor.scss
Labels: enhancement

#2473 feat(FontAwesome): upgrade version to 6.5.1
  src/Extensions/Components/BootstrapBlazor.FontAwesome/BootstrapBlazor.FontAwesome.csproj
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/css/font-awesome.min.css
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/fa/all.css
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/fa/all.min.css
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/webfonts/fa-brands-400.ttf
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/webfonts/fa-brands-400.woff2
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/webfonts/fa-regular-400.ttf
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/webfonts/fa-regular-400.woff2
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/webfonts/fa-solid-900.ttf
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/webfonts/fa-solid-900.woff2
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/webfonts/fa-v4compatibility.ttf
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/webfonts/fa-v4compatibility.woff2
Labels: enhancement

#2477 doc(WebApp): update WebApp document
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Components/DataDialogComponent.razor
  src/BootstrapBlazor.Server/Components/Components/InstallContent.razor
  src/BootstrapBlazor.Server/Components/Pages/Install_Server.razor
  src/BootstrapBlazor.Server/Components/Pages/Install_WebApp.razor
  src/BootstrapBlazor.Server/Components/Routes.razor
  src/BootstrapBlazor.Server/Components/_Imports.razor
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Locales/en.json
  src/BootstrapBlazor.Server/Locales/zh.json
  src/BootstrapBlazor.Server/Program.cs
  src/BootstrapBlazor/Components/BaseComponents/BootstrapBlazorRoot.razor.cs
  src/BootstrapBlazor/Components/Button/DialButton.razor.cs
  src/BootstrapBlazor/Services/BootstrapServiceBase.cs
  test/UnitTest/Components/BootstrapBlazorRootTest.cs
Labels: documentation

#2475 feat(ImagePreviewer): detach image component
  src/BootstrapBlazor.Server/Components/Samples/ImageViewers.razor
  src/BootstrapBlazor.Server/Components/Samples/ImageViewers.razor.cs
  src/BootstrapBlazor.Server/Locales/en.json
  src/BootstrapBlazor.Server/Locales/zh.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/ImagePreviewer/ImagePreviewer.razor.cs
  src/BootstrapBlazor/Components/ImagePreviewer/ImagePreviewer.razor.js
  test/UnitTest/Components/ImageTest.cs
Labels: enhancement

#2485 refactor(QueryBuilder): use variable in sass file
  src/BootstrapBlazor.Server/Components/Pages/Install_WebApp.razor
  src/BootstrapBlazor/Components/QueryBuilder/QueryBuilder.razor.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrap.blazor.scss
Labels: enhancement

#2489 feat(Upload): add OnCancel callback
  src/BootstrapBlazor/Components/Upload/ButtonUpload.razor
  src/BootstrapBlazor/Components/Upload/ButtonUpload.razor.cs
  src/BootstrapBlazor/Components/Upload/ButtonUploadBase.cs
  src/BootstrapBlazor/Components/Upload/CardUpload.razor
  src/BootstrapBlazor/Components/Upload/UploadBase.cs
  src/BootstrapBlazor/Components/Upload/UploadBase.razor.scss
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/BootstrapBlazor/Options/IconThemeOptions.cs
  src/Extensions/Components/BootstrapBlazor.MaterialDesign.Extensions/DefaultIcon.cs
  test/UnitTest/Components/DateTimePickerTest.cs
  test/UnitTest/Components/UploadTest.cs
Labels: enhancement

#2490 refactor(RadioList): update sass style use variable
  src/BootstrapBlazor.Server/Components/Components/BlazorReconnector.razor
  src/BootstrapBlazor.Server/Components/Components/Header.razor
  src/BootstrapBlazor.Server/Components/Components/Header.razor.cs
  src/BootstrapBlazor.Server/Components/Components/UpdateIntro.razor
  src/BootstrapBlazor.Server/Components/Components/UpdateIntro.razor.cs
  src/BootstrapBlazor.Server/Components/Layout/ComponentLayout.razor.cs
  src/BootstrapBlazor.Server/Components/Layout/HomeLayout.razor
  src/BootstrapBlazor.Server/Components/Pages/Install.razor
  src/BootstrapBlazor.Server/Components/Pages/Template.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Reconnectors.razor
  src/BootstrapBlazor.Server/Components/Samples/Reconnectors.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesColumnTemplate.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesEdit.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesFilter.razor.cs
  src/BootstrapBlazor.Server/Data/WebsiteOptions.cs
  src/BootstrapBlazor.Server/Locales/zh.json
  src/BootstrapBlazor.Server/appsettings.json
  src/BootstrapBlazor/Components/Radio/RadioList.razor.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrap.blazor.scss
Labels: enhancement

#2491 doc(Table): update selection sample code
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesSelection.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesSelection.razor.css
  src/BootstrapBlazor.Server/Locales/en.json
  src/BootstrapBlazor.Server/Locales/zh.json
  src/BootstrapBlazor/Components/Table/Table.razor.Checkbox.cs
Labels: documentation

#2493 feat(Table): add PageInfoBodyTemplate parameter
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/Components/Table/Table.razor.Pagination.cs
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#2495 feat(Table): sticky footer on virtulization mode
  src/BootstrapBlazor/Components/Table/Table.razor.Pagination.cs
  src/BootstrapBlazor/Components/Table/Table.razor.js
  src/BootstrapBlazor/Components/Table/Table.razor.scss
Labels: enhancement

#2503 fix(DialButton): incorrect direction when set Placement to bottom
  src/BootstrapBlazor/Components/Button/DialButton.razor.scss
Labels: bug

#2507 feat(Utility): add Copy extension method
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Extensions/DirectoryInfoExtensions.cs
  test/UnitTest/Extensions/DirectoryInfoExtensionsTest.cs
Labels: enhancement

#2519 feat(AzureTranslator): add AzureTranslator service
  BootstrapBlazor.sln
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/Translators.razor
  src/BootstrapBlazor.Server/Components/Samples/Translators.razor.cs
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Extensions/ServicesExtensions.cs
  src/BootstrapBlazor.Server/Locales/en.json
  src/BootstrapBlazor.Server/Locales/zh.json
  src/BootstrapBlazor.Server/docs.json
  src/Extensions/Components/BootstrapBlazor.AzureTranslator/AzureTranslatorOption.cs
  src/Extensions/Components/BootstrapBlazor.AzureTranslator/BootstrapBlazor.AzureTranslator.csproj
  src/Extensions/Components/BootstrapBlazor.AzureTranslator/Extensions/ServiceCollectionExtensions.cs
  src/Extensions/Components/BootstrapBlazor.AzureTranslator/Services/AzureTranslatorService.cs
  src/Extensions/Components/BootstrapBlazor.AzureTranslator/Services/IAzureTranslatorService.cs
  src/Extensions/Components/BootstrapBlazor.AzureTranslator/logo.png
Labels: enhancement

#2521 feat(Console): add CssClass parameter on ConsoleMessageItem
  src/BootstrapBlazor/Components/Console/Console.razor
  src/BootstrapBlazor/Components/Console/Console.razor.cs
  src/BootstrapBlazor/Components/Console/ConsoleMessageItem.cs
  test/UnitTest/Components/ConsoleTest.cs
Labels: enhancement

#2523 doc(ClipboardService): update sample code
  src/BootstrapBlazor.Server/Components/Samples/Clipboards.razor
  src/BootstrapBlazor.Server/Components/Samples/Translators.razor
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Locales/en.json
  src/BootstrapBlazor.Server/Locales/zh.json
Labels: documentation

#2528 refactor(RibbonTab): update sass file use virable
  src/BootstrapBlazor/Components/RibbonTab/RibbonTab.razor.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrap.blazor.scss
Labels: enhancement

#2532 refactor(Scroll): update sass file use variable
  src/BootstrapBlazor/Components/Scroll/Scroll.razor.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrap.blazor.scss
Labels: enhancement

#2534 refactor(Segmented): update sass file use variable
  src/BootstrapBlazor.Server/Locales/zh.json
  src/BootstrapBlazor/Components/Segmented/Segmented.razor.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrap.blazor.scss
Labels: enhancement

#2536 refactor(Select): update sass file use variable
  src/BootstrapBlazor/Components/Select/Select.razor.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrap.blazor.scss
Labels: enhancement

#2538 refactor(Slider): update sass file use variable
  exclusion.dic
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Slider/Slider.razor.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrap.blazor.scss
Labels: enhancement

#2540 feat(Theme): upgrade material design to v7.3.67
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/Extensions/Components/BootstrapBlazor.MaterialDesign.Extensions/BootstrapBlazor.MaterialDesign.Extensions.csproj
  src/Extensions/Components/BootstrapBlazor.MaterialDesign/BootstrapBlazor.MaterialDesign.csproj
  src/Extensions/Components/BootstrapBlazor.MaterialDesign/wwwroot/css/md.min.css
  src/Extensions/Components/BootstrapBlazor.MaterialDesign/wwwroot/md/css/materialdesignicons.css
  src/Extensions/Components/BootstrapBlazor.MaterialDesign/wwwroot/md/css/materialdesignicons.css.map
  src/Extensions/Components/BootstrapBlazor.MaterialDesign/wwwroot/md/css/materialdesignicons.min.css
  src/Extensions/Components/BootstrapBlazor.MaterialDesign/wwwroot/md/css/materialdesignicons.min.css.map
  src/Extensions/Components/BootstrapBlazor.MaterialDesign/wwwroot/md/fonts/materialdesignicons-webfont.eot
  src/Extensions/Components/BootstrapBlazor.MaterialDesign/wwwroot/md/fonts/materialdesignicons-webfont.ttf
  src/Extensions/Components/BootstrapBlazor.MaterialDesign/wwwroot/md/fonts/materialdesignicons-webfont.woff
  src/Extensions/Components/BootstrapBlazor.MaterialDesign/wwwroot/md/fonts/materialdesignicons-webfont.woff2
Labels: enhancement

#2548 feat(IHtml2Pdf): update IHtml2Pdf service
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/Html2Pdfs.razor
  src/BootstrapBlazor.Server/Components/Samples/Html2Pdfs.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Html2Pdfs.razor.js
  src/BootstrapBlazor.Server/Extensions/ServicesExtensions.cs
  src/BootstrapBlazor.Server/Locales/en.json
  src/BootstrapBlazor.Server/Locales/zh.json
  src/BootstrapBlazor.Server/Services/ClearUploadFilesService.cs
  src/BootstrapBlazor.Server/wwwroot/pdf/readme.txt
  src/BootstrapBlazor.Server/wwwroot/pdf/template.htm
  src/BootstrapBlazor/Services/ComponentHtmlRenderer.cs
  src/BootstrapBlazor/Services/Internal/HtmlRenderer.cs
  src/BootstrapBlazor/Services/Internal/HtmlRootComponent.cs
  src/BootstrapBlazor/Services/Internal/StaticHtmlRenderer.HtmlWriting.cs
  src/BootstrapBlazor/Services/Internal/StaticHtmlRenderer.cs
  src/Extensions/Components/BootstrapBlazor.Html2Pdf/BootstrapBlazor.Html2Pdf.csproj
  src/Extensions/Components/BootstrapBlazor.Html2Pdf/Extensions/ServiceCollectionExtensions.cs
  src/Extensions/Components/BootstrapBlazor.Html2Pdf/Services/DefaultPdfService.cs
  src/Extensions/Components/BootstrapBlazor.Html2Pdf/Services/IHtml2Pdf.cs
  src/Extensions/Components/BootstrapBlazor.Html2Pdf/_Imports.razor
  src/Extensions/Components/BootstrapBlazor.Html2Pdf/wwwroot/export.js
  src/Extensions/Components/BootstrapBlazor.Html2Pdf/wwwroot/html2pdf.bundle.min.js
Labels: enhancement

#2543 feat(BootstrapLabel): add UseInputEvent parameter
  .github/ISSUE_TEMPLATE/10_bug_report.yml
  .github/ISSUE_TEMPLATE/20_feature_request.yml
  .github/ISSUE_TEMPLATE/30_documentation.yml
  .github/ISSUE_TEMPLATE/40_unit_test.yml
  .github/ISSUE_TEMPLATE/50_other.yml
  exclusion.dic
  src/BootstrapBlazor.Server/Components/Samples/Inputs.razor
  src/BootstrapBlazor.Server/Components/Samples/Inputs.razor.cs
  src/BootstrapBlazor.Server/Locales/en.json
  src/BootstrapBlazor.Server/Locales/zh.json
  src/BootstrapBlazor/Components/Input/BootstrapInput.razor
  src/BootstrapBlazor/Components/Input/BootstrapInput.razor.cs
  test/UnitTest/Components/InputTest.cs
Labels: enhancement

#2546 feat(BarcodeGenerator): add BarcodeGenerator component
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Pages/Coms.razor
  src/BootstrapBlazor.Server/Components/Samples/BarcodeGenerators.razor
  src/BootstrapBlazor.Server/Components/Samples/BarcodeGenerators.razor.cs
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Locales/en.json
  src/BootstrapBlazor.Server/Locales/zh.json
  src/BootstrapBlazor.Server/docs.json
  src/BootstrapBlazor.Server/wwwroot/images/BarcodeGenerator.jpg
Labels: enhancement

#2552 doc(Table): update search of Table sample code
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesSearch.razor.cs
  src/BootstrapBlazor/Components/Table/Table.razor.Edit.cs
Labels: documentation

#2553 feat(Slider): support Range attribute
  src/BootstrapBlazor.Server/Components/Samples/Sliders.razor
  src/BootstrapBlazor.Server/Components/Samples/Sliders.razor.cs
  src/BootstrapBlazor.Server/Locales/en.json
  src/BootstrapBlazor.Server/Locales/zh.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Slider/Slider.razor.cs
  src/BootstrapBlazor/Extensions/FieldIdentifierExtensions.cs
  src/BootstrapBlazor/Services/CacheManager.cs
  src/BootstrapBlazor/Utils/Utility.cs
  test/UnitTest/Components/SliderTest.cs
  test/UnitTest/Utils/UtilityTest.cs
Labels: enhancement

#2555 fix(Table): render cell missing parameters when readonly
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Utils/Utility.cs
  test/UnitTest/Utils/UtilityTest.cs
Labels: bug

#2557 refactor(Speech): update sass file use variable
  src/BootstrapBlazor/Components/Speech/SpeechWave.razor.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrap.blazor.scss
Labels: enhancement

#2559 refactor(Spinner): update sass file use variable
  src/BootstrapBlazor/Components/Spinner/Spinner.razor.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrap.blazor.scss
Labels: enhancement

#2563 refactor(Split): update sass file use variable
  src/BootstrapBlazor/Components/Split/Split.razor.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrap.blazor.scss
Labels: enhancement

#2561 feat(MindMap): add MindMapOptionparameter
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/MindMaps/MindMaps.razor
  src/BootstrapBlazor.Server/Components/Samples/MindMaps/MindMaps.razor.cs
  src/BootstrapBlazor.Server/Locales/en.json
  src/BootstrapBlazor.Server/Locales/zh.json
Labels: enhancement

#2565 feat(PdfReader): add LocalFileName parameter
  src/BootstrapBlazor.Server/Components/Samples/PdfReaders.razor.cs
  src/BootstrapBlazor.Server/Locales/en.json
  src/BootstrapBlazor.Server/Locales/zh.json
Labels: enhancement

#2569 feat(Table): add IsFixedFooter parameter
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesFooter.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesVirtualization.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesVirtualization.razor.cs
  src/BootstrapBlazor.Server/Locales/en.json
  src/BootstrapBlazor.Server/Locales/zh.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Input/BootstrapInputGroup.razor.scss
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Components/Table/Table.razor.scss
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#2572 refactor(Switch): use variable in sass file
  src/BootstrapBlazor.Server/Components/Samples/Switches.razor
  src/BootstrapBlazor/Components/Switch/Switch.razor.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrap.blazor.scss
Labels: enhancement

#2574 refactor(Tab): update sass file use variable
  src/BootstrapBlazor.Server/Components/Samples/Tabs.razor
  src/BootstrapBlazor/Components/Tab/Tab.razor.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrap.blazor.scss
Labels: enhancement

#2579 refactor(Tag): update sass file use variable
  src/BootstrapBlazor.Server/Components/Samples/Tags.razor
  src/BootstrapBlazor/Components/Tag/Tag.razor.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrap.blazor.scss
Labels: enhancement

#2577 doc(Dependency): update dependency package
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/bb.db
Labels: documentation

#2581 refactor(Tag): update sass file use variable
  exclusion.dic
  src/BootstrapBlazor.Server/Components/Samples/Timelines.razor
  src/BootstrapBlazor.Server/Locales/en.json
  src/BootstrapBlazor.Server/Locales/zh.json
  src/BootstrapBlazor/Components/Timeline/Timeline.razor.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrap.blazor.scss
Labels: enhancement

#2584 feat(ITableExport): update ITableExport to TryAddTransient
  src/BootstrapBlazor.Server/Extensions/ServicesExtensions.cs
  src/Extensions/Components/BootstrapBlazor.TableExport/BootstrapBlazor.TableExport.csproj
  src/Extensions/Components/BootstrapBlazor.TableExport/Extensions/TableExportServiceCollectionExtensions.cs
  src/Extensions/Components/BootstrapBlazor.TableExport/Services/DefaultTableExport.cs
Labels: enhancement

#2586 feat(IExportPdf): rename ITableExportPdf to IExportPdf
  src/BootstrapBlazor/Extensions/BootstrapBlazorServiceCollectionExtensions.cs
  src/BootstrapBlazor/Services/DefaultExportPdf.cs
  src/BootstrapBlazor/Services/IExportPdf.cs
Labels: enhancement

#2588 fix(Table): wrong TableExportType in ExportCsvAsync method
  src/BootstrapBlazor/Components/Table/Table.razor.Toolbar.cs
Labels: bug

#2590 refactor(ExporPdf): update ExportPdfService
  .editorconfig
  src/BootstrapBlazor.Server/Extensions/ServicesExtensions.cs
  src/BootstrapBlazor.Server/Services/ExportPdfService.cs
Labels: enhancement

#2592 doc(IExportPdf): update doc for IExportPdf
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Services/IExportPdf.cs
Labels: documentation

#2594 doc(TableExport): update package
  exclusion.dic
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/Html2Pdfs.razor.cs
  src/Extensions/Components/BootstrapBlazor.MaterialDesign.Extensions/BootstrapBlazor.MaterialDesign.Extensions.csproj
  src/Extensions/Components/BootstrapBlazor.TableExport/BootstrapBlazor.TableExport.csproj
  src/Extensions/Components/BootstrapBlazor.TableExport/Services/DefaultTableExport.cs
Labels: documentation

#2597 refactor(Toast): remove extension method
  exclusion.dic
  src/BootstrapBlazor.Server/Components/Samples/BaiduOcr.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Html2Pdfs.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesEdit.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/WebSpeeches.razor
  src/BootstrapBlazor.Server/Components/Samples/WebSpeeches.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/WebSpeeches.razor.css
  src/BootstrapBlazor.Server/Locales/en.json
  src/BootstrapBlazor.Server/Locales/zh.json
  src/BootstrapBlazor/Components/ErrorLogger/ErrorLogger.cs
  src/BootstrapBlazor/Extensions/ToastServiceExtensions.cs
  src/Extensions/Components/BootstrapBlazor.AzureTranslator/BootstrapBlazor.AzureTranslator.csproj
Labels: enhancement

#2599 refactor(Html2Pdf): use TryAddSingleton inject
  src/BootstrapBlazor.Server/Services/ExportPdfService.cs
  src/Extensions/Components/BootstrapBlazor.Html2Pdf/BootstrapBlazor.Html2Pdf.csproj
  src/Extensions/Components/BootstrapBlazor.Html2Pdf/Extensions/ServiceCollectionExtensions.cs
Labels: enhancement

#2601 doc(IZipArchive): add document for IZipArchiveService
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Layout/PracticeNavMenu.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/ZipArchives.razor
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Locales/en.json
  src/BootstrapBlazor.Server/Locales/zh.json
  src/BootstrapBlazor.Server/docs.json
  src/BootstrapBlazor.Server/menus.json
Labels: documentation

#2603 refactor(Topology): update Resize method
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/Topologies.razor
  src/BootstrapBlazor.Server/Components/Samples/Topologies.razor.cs
  src/Extensions/Components/BootstrapBlazor.Topology/BootstrapBlazor.Topology.csproj
  src/Extensions/Components/BootstrapBlazor.Topology/Components/Topology/Topology.razor.js
Labels: enhancement

#2606 doc(SideMenu): add auto scroll to view function
  src/BootstrapBlazor.Server/Components/Components/GlobalSearch.razor.cs
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor/Components/Menu/Menu.razor.cs
  src/BootstrapBlazor/Components/Menu/Menu.razor.js
Labels: enhancement

#2608 doc(Timer): update sass file use variable
  src/BootstrapBlazor.Server/Components/Samples/Charts/Line.razor
  src/BootstrapBlazor/Components/Timer/Timer.razor.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrap.blazor.scss
Labels: documentation

#2610 doc(Toggle): update sass file use variable
  src/BootstrapBlazor.Server/Components/Samples/Dialogs.razor
  src/BootstrapBlazor/Components/Dialog/Dialog.razor.cs
  src/BootstrapBlazor/Components/Drawer/Drawer.razor.scss
  src/BootstrapBlazor/Components/Modal/Modal.razor.cs
  src/BootstrapBlazor/Components/Toggle/Toggle.razor.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrap.blazor.scss
Labels: documentation

#2612 doc(Transfer): update sass file use variable
  src/BootstrapBlazor.Server/Components/Samples/Transfers.razor
  src/BootstrapBlazor/Components/Transfer/Transfer.razor.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrap.blazor.scss
Labels: documentation

#2614 doc(TreeView): update sass file use variable
  src/BootstrapBlazor.Server/Components/Samples/TreeViews.razor
  src/BootstrapBlazor.Server/Locales/en.json
  src/BootstrapBlazor.Server/Locales/zh.json
  src/BootstrapBlazor/Components/TreeView/TreeView.razor.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrap.blazor.scss
Labels: documentation

#2616 doc(Upload): update sass file use variable
  src/BootstrapBlazor.Server/Components/Samples/Uploads.razor
  src/BootstrapBlazor/Components/Upload/ButtonUpload.razor
  src/BootstrapBlazor/Components/Upload/UploadBase.razor.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrap.blazor.scss
  test/UnitTest/Components/ToastTest.cs
Labels: documentation

#2618 doc(ValidateForm): update sass file use variable
  src/BootstrapBlazor.Server/Components/Samples/Uploads.razor.cs
  src/BootstrapBlazor/Components/EditorForm/EditorForm.razor
  src/BootstrapBlazor/Components/Transfer/Transfer.razor.cs
  src/BootstrapBlazor/Components/Upload/UploadBase.cs
  src/BootstrapBlazor/Components/ValidateForm/ValidateForm.razor.cs
  src/BootstrapBlazor/Components/ValidateForm/ValidateForm.razor.scss
  src/BootstrapBlazor/wwwroot/css/motronic.min.css
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrap.blazor.scss
  src/BootstrapBlazor/wwwroot/src/css/motronic.css
Labels: documentation

#2620 refactor(IIPLocator): add JsonSerializerOptions Encoder config
  src/BootstrapBlazor.Server/Components/Layout/MainLayout.razor.css
  src/BootstrapBlazor.Server/Components/Layout/PracticeLayout.razor.css
  src/BootstrapBlazor.Server/Components/Samples/Dispatches.razor
  src/BootstrapBlazor/Components/IPLocator/DefaultIPLocator.cs
Labels: documentation

#2622 doc(Locator): add CodePagesEncodingProvider support gbk
  src/BootstrapBlazor.Server/Program.cs
  src/BootstrapBlazor/Components/IPLocator/DefaultIPLocator.cs
Labels: documentation

#2625 doc(Logging): upgrade to net8
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
Labels: documentation

#2628 doc(CustomFilter): update sample code link
  src/BootstrapBlazor.Server/Components/Samples/GlobalException.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesFilter.razor.cs
  test/UnitTest/Performance/StringExtensionsTest.cs
Labels: documentation

#2632 doc(Table): update sample code of EditTemplate
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesColumnTemplate.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesEdit.razor
  src/BootstrapBlazor.Server/Locales/en.json
  src/BootstrapBlazor.Server/Locales/zh.json
Labels: documentation

#2630 doc(Theme): add dark theme for web site
  .gitignore
  src/BootstrapBlazor.Server/Components/App.razor
  src/BootstrapBlazor.Server/Components/Components/BBLogo.razor.css
  src/BootstrapBlazor.Server/Components/Components/CultureChooser.razor.css
  src/BootstrapBlazor.Server/Components/Components/DemoBlock.razor.css
  src/BootstrapBlazor.Server/Components/Components/GlobalSearch.razor
  src/BootstrapBlazor.Server/Components/Components/GlobalSearch.razor.css
  src/BootstrapBlazor.Server/Components/Components/Header.razor
  src/BootstrapBlazor.Server/Components/Components/Header.razor.css
  src/BootstrapBlazor.Server/Components/Components/Header.razor.js
  src/BootstrapBlazor.Server/Components/Components/Pre.razor.css
  src/BootstrapBlazor.Server/Components/Components/State.razor
  src/BootstrapBlazor.Server/Components/Components/Tips.razor
  src/BootstrapBlazor.Server/Components/Layout/BaseLayout.razor.css
  src/BootstrapBlazor.Server/Components/Layout/MainLayout.razor.css
  src/BootstrapBlazor.Server/Components/Layout/NavMenu.razor.css
  src/BootstrapBlazor.Server/Components/Layout/PracticeLayout.razor.css
  src/BootstrapBlazor.Server/Components/Pages/Coms.razor.css
  src/BootstrapBlazor.Server/Components/Pages/Index.razor.css
  src/BootstrapBlazor.Server/Components/Pages/Install.razor.css
  src/BootstrapBlazor.Server/Components/Samples/Steps.razor.css
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesFilter.razor
  src/BootstrapBlazor.Server/Components/Samples/Tabs.razor
  src/BootstrapBlazor.Server/Components/Samples/Tabs.razor.css
  src/BootstrapBlazor.Server/Components/Samples/Topologies.razor.css
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/wwwroot/css/motronic.css
  src/BootstrapBlazor.Server/wwwroot/css/site.css
  src/BootstrapBlazor.Server/wwwroot/images/theme-light.svg
  src/BootstrapBlazor.Server/wwwroot/images/theme-night.svg
  src/BootstrapBlazor.Server/wwwroot/lib/theme.js
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Console/ConsoleLogger.razor.scss
  src/BootstrapBlazor/Components/Divider/Divider.razor.scss
  src/BootstrapBlazor/Components/Menu/Menu.razor.scss
  src/BootstrapBlazor/Components/Pagination/Pagination.razor.scss
  src/BootstrapBlazor/Components/Select/Select.razor.cs
  src/BootstrapBlazor/Components/Select/Select.razor.scss
  src/BootstrapBlazor/Components/Tab/Tab.razor.scss
  src/BootstrapBlazor/Components/Table/Table.razor.scss
  src/BootstrapBlazor/Components/ValidateForm/ValidateForm.razor.scss
  src/BootstrapBlazor/wwwroot/css/motronic.min.css
  src/BootstrapBlazor/wwwroot/modules/theme.js
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrap.blazor.scss
  src/BootstrapBlazor/wwwroot/src/css/motronic.css
Labels: documentation

#2636 doc(Header): hide version on mobile mode
  exclusion.dic
  src/BootstrapBlazor.Server/Components/Components/Header.razor
  src/BootstrapBlazor.Server/Components/Components/Header.razor.cs
  src/BootstrapBlazor.Server/Components/Components/Header.razor.css
  src/BootstrapBlazor.Server/Components/Components/ThemeChooser.razor.cs
  src/BootstrapBlazor.Server/Components/Layout/HomeLayout.razor
  src/BootstrapBlazor.Server/Services/PackageVersionService.cs
Labels: documentation

#2638 doc(Lang): update switch lang in footer
  src/BootstrapBlazor.Server/Components/Layout/HomeLayout.razor
Labels: documentation

#2642 refactor(ListGroup): support dark theme
  src/BootstrapBlazor/Components/ListGroup/ListGroup.razor.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrap.blazor.scss
Labels: enhancement

#2644 refactor(Scroll): support dark theme
  exclusion.dic
  src/BootstrapBlazor.Server/Components/Samples/Scrolls.razor
  src/BootstrapBlazor.Server/Components/Samples/Scrolls.razor.css
  src/BootstrapBlazor/Components/Scroll/Scroll.razor.scss
  src/BootstrapBlazor/Options/BootstrapBlazorOptions.cs
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor-dark.scss
  src/BootstrapBlazor/wwwroot/scss/components.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrap.blazor-dark.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrap.blazor.scss
Labels: enhancement

#2646 refactor(Segmented): support dark theme
  src/BootstrapBlazor/Components/Segmented/Segmented.razor.scss
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor-dark.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrap.blazor.scss
Labels: enhancement

#2648 refactor(dial-button): suppor dark theme
  src/BootstrapBlazor/Components/Button/DialButton.razor.scss
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor-dark.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrap.blazor.scss
Labels: enhancement

#2652 fix(ContextMenu): not shown in Modal/Dialog
  src/BootstrapBlazor/Components/ContextMenu/ContextMenu.razor.scss
Labels: bug

#2650 feat(InputNumber): step support any value
  src/BootstrapBlazor/Attributes/AutoGenerateColumnAttribute.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/EditorForm/EditorItem.cs
  src/BootstrapBlazor/Components/EditorForm/IEditorItem.cs
  src/BootstrapBlazor/Components/Filters/TableFilter.razor.cs
  src/BootstrapBlazor/Components/InputNumber/BootstrapInputNumber.razor.cs
  src/BootstrapBlazor/Components/Table/InternalTableColumn.cs
  src/BootstrapBlazor/Components/Table/TableColumn.cs
  src/BootstrapBlazor/Utils/Utility.cs
  test/UnitTest/Attributes/AutoGenerateClassTest.cs
  test/UnitTest/Components/EditorFormTest.cs
  test/UnitTest/Components/InputNumberTest.cs
  test/UnitTest/Components/TableColumnTest.cs
  test/UnitTest/Components/TableFilterTest.cs
  test/UnitTest/Extensions/ITableColumnExtensionsTest.cs
  test/UnitTest/Misc/MockTableColumn.cs
Labels: enhancement

#2655 doc(Skeleton): support dark theme
  src/BootstrapBlazor.Server/Components/Samples/ImageViewers.razor.css
  src/BootstrapBlazor.Server/Components/Samples/Practices/Waterfall.razor.cs
  src/BootstrapBlazor/Components/Skeleton/Skeleton.razor.scss
  src/BootstrapBlazor/Components/Skeleton/SkeletonEditor.razor
  src/BootstrapBlazor/Components/Table/Table.razor.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrap.blazor.scss
  src/BootstrapBlazor/wwwroot/src/css/motronic.css
Labels: documentation

#2657 refactor(Split): support dark theme
  src/BootstrapBlazor/Components/Split/Split.razor.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrap.blazor.scss
Labels: enhancement

#2659 doc(GoTop): update sample code support dark theme
  src/BootstrapBlazor.Server/Components/Samples/GoTops.razor
  src/BootstrapBlazor.Server/Components/Samples/Stacks.razor.css
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrap.blazor.scss
Labels: documentation

#2661 doc(RibbonTab): support dark theme
  src/BootstrapBlazor.Server/Components/Components/Header.razor.css
  src/BootstrapBlazor.Server/Components/Samples/Logouts.razor
  src/BootstrapBlazor.Server/Components/Samples/Logouts.razor.css
  src/BootstrapBlazor.Server/Components/Samples/Menus.razor.css
  src/BootstrapBlazor.Server/Components/Samples/RibbonTabs.razor
  src/BootstrapBlazor.Server/Locales/en.json
  src/BootstrapBlazor/Components/Menu/Menu.razor.scss
  src/BootstrapBlazor/Components/RibbonTab/RibbonTab.razor.scss
  src/BootstrapBlazor/Components/Select/Select.razor.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrap.blazor.scss
Labels: documentation

#2665 refactor(MultiSelect): support dark theme
  src/BootstrapBlazor/Components/Radio/RadioList.razor.scss
  src/BootstrapBlazor/Components/Select/MultiSelect.razor.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrap.blazor.scss
Labels: enhancement

#2667 doc(Table): update sample code support dark theme
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesDialog.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesFixedColumn.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesFooter.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesFooter.razor.css
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesHeader.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesLoading.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesTree.razor
  src/BootstrapBlazor.Server/Locales/en.json
  src/BootstrapBlazor.Server/Locales/zh.json
  src/BootstrapBlazor.Server/wwwroot/css/site.css
  src/BootstrapBlazor/Components/Scroll/Scroll.razor.scss
  src/BootstrapBlazor/Components/Segmented/Segmented.razor.scss
  src/BootstrapBlazor/Components/Table/Table.razor.scss
  src/BootstrapBlazor/Components/Transfer/Transfer.razor.scss
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor-dark.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrap.blazor.scss
Labels: documentation

#2669 fix(Table): append component parameters for edit template
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.cs
Labels: bug

#2671 refactor(Calendar): support dark theme
  src/BootstrapBlazor/Components/Calendar/Calendar.razor.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrap.blazor.scss
Labels: enhancement

#2673 refactor(Captcha): update sass file support dark theme
  src/BootstrapBlazor/Components/Calendar/Calendar.razor.cs
  src/BootstrapBlazor/Components/Captcha/Captcha.razor.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrap.blazor.scss
Labels: documentation

#2675 doc(Carousel): support dark theme
  src/BootstrapBlazor.Server/Components/Samples/Carousels.razor.css
  src/BootstrapBlazor/Components/Carousel/Carousel.razor.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrap.blazor.scss
Labels: documentation

#2678 refactor(Circle): update sass file support dark theme
  src/BootstrapBlazor/Components/Circle/Circle.razor
  src/BootstrapBlazor/Components/Circle/Circle.razor.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrap.blazor.scss
Labels: documentation

#2680 fix(TableExport): not register table export service
  src/Extensions/Components/BootstrapBlazor.TableExport/BootstrapBlazor.TableExport.csproj
  src/Extensions/Components/BootstrapBlazor.TableExport/Extensions/TableExportServiceCollectionExtensions.cs
Labels: bug

#2682 chore(TableExport): rename AddBootstrapBlazorTableExcelExport
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesExport.razor
  src/BootstrapBlazor.Server/Extensions/ServicesExtensions.cs
  src/Extensions/Components/BootstrapBlazor.TableExport/BootstrapBlazor.TableExport.csproj
  src/Extensions/Components/BootstrapBlazor.TableExport/Extensions/TableExportServiceCollectionExtensions.cs
Labels: chore

#2684 refactor(Collapse): update sass file support dark mode
  src/BootstrapBlazor/Components/Collapse/Collapse.razor.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrap.blazor.scss
  src/BootstrapBlazor/wwwroot/src/css/motronic.css
Labels: documentation

#2686 chore(Widget): update sass file support dark theme
  src/BootstrapBlazor.Server/Components/Samples/DropdownWidgets.razor.css
  src/BootstrapBlazor/Components/DropdownWidget/DropdownWidget.razor.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrap.blazor.scss
Labels: documentation

#2688 test(TreeView): add SetActiveItem unit test
  src/BootstrapBlazor.Server/Data/TreeFoo.cs
  src/BootstrapBlazor/Components/TreeView/TreeView.razor.cs
  src/BootstrapBlazor/Components/TreeView/TreeViewItem.cs
  src/BootstrapBlazor/Extensions/IModelEqualityComparerExtensions.cs
  test/UnitTest/Components/TreeViewTest.cs
Labels: test

#2690 doc(Title): update sample code for dark theme
  src/BootstrapBlazor.Server/Components/Samples/FileViewers.razor
  src/BootstrapBlazor.Server/Components/Samples/Print.razor
  src/BootstrapBlazor.Server/Components/Samples/Print.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/TreeViews.razor.cs
  src/BootstrapBlazor.Server/Data/TreeFoo.cs
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor/Components/ImageViewer/ImageViewer.razor.scss
  src/BootstrapBlazor/Utils/JSModule.cs
Labels: documentation

#2692 refactor(TreeView): update sass file support dark theme
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrap.blazor.scss
Labels: documentation

#2694 refactor(Drawer): support dark theme
  src/BootstrapBlazor.Server/Components/Samples/Reconnectors.razor
  src/BootstrapBlazor/Components/Drawer/Drawer.razor.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrap.blazor.scss
Labels: enhancement

#2696 refactor(Toast): support dark theme
  src/BootstrapBlazor/Components/Toast/ToastContainer.razor.scss
Labels: enhancement

#2698 fix(Responsive): break point no value at first render
  src/BootstrapBlazor.Server/Components/Samples/Responsives.razor
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/ResizeNotification/ResizeNotificationService.cs
  src/BootstrapBlazor/Components/ResizeNotification/Responsive.cs
Labels: bug

#2702 doc(Theme): add Theme mode button
  src/BootstrapBlazor.Server/Components/Layout/BaseLayout.razor
  src/BootstrapBlazor.Server/Components/Layout/BaseLayout.razor.cs
  src/BootstrapBlazor.Server/Components/Layout/BaseLayout.razor.css
  src/BootstrapBlazor.Server/Locales/en.json
  src/BootstrapBlazor.Server/Locales/zh.json
Labels: documentation

#2704 doc(Theme): add switch theme button
  src/BootstrapBlazor.Server/Components/Components/Header.razor.css
  src/BootstrapBlazor.Server/Components/Components/Header.razor.js
  src/BootstrapBlazor.Server/Components/Components/ThemeMode.razor
  src/BootstrapBlazor.Server/Components/Layout/BaseLayout.razor
  src/BootstrapBlazor.Server/Components/Layout/BaseLayout.razor.css
  src/BootstrapBlazor.Server/wwwroot/css/site.css
Labels: documentation
