Repository dotnetcore/BootstrapBlazor, pull requests merged in 2023-03, with the labels that each got.

#594 fix: resize column width not working when enable detail row feature
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/wwwroot/modules/table.js
Labels: bug

#592 doc: update Notifications demos
  src/BootstrapBlazor.Shared/Demos/Notifications/NotificationsNormal.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Notifications.razor
  src/BootstrapBlazor.Shared/Samples/Notifications.razor.cs
Labels: documentation

#599 doc: update OnScreenKeyboards demos
  src/BootstrapBlazor.Shared/Demos/OnScreenKeyboards/OnScreenKeyboardsApp.razor
  src/BootstrapBlazor.Shared/Demos/OnScreenKeyboards/OnScreenKeyboardsNormal.razor
  src/BootstrapBlazor.Shared/Demos/OnScreenKeyboards/OnScreenKeyboardsSpecialcharactersCustomerTitle.razor
  src/BootstrapBlazor.Shared/Demos/OnScreenKeyboards/OnScreenKeyboardsSpecialcharactersTitle.razor
  src/BootstrapBlazor.Shared/Demos/OnScreenKeyboards/OnScreenKeyboardsThemeDarkTitle.razor
  src/BootstrapBlazor.Shared/Demos/OnScreenKeyboards/OnScreenKeyboardsTypeNumpadTitle.razor
  src/BootstrapBlazor.Shared/Demos/OnScreenKeyboards/OnScreenKeyboardsTypekeyboard.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/OnScreenKeyboards.razor
  src/BootstrapBlazor.Shared/Samples/OnScreenKeyboards.razor.cs
Labels: documentation

#601 fix: model value not update on Excel mode in OnSaveAsync
  src/BootstrapBlazor/Components/Table/Table.razor.cs
Labels: bug

#602 feat: add IsEnableWhenSelectedOneRow parameter on TableToolbarPopconfirmButton
  src/BootstrapBlazor.Shared/Demos/Table/TablesToolbar/TablesToolbarCustomButton.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor/Components/Table/TableToolbar.razor
  src/BootstrapBlazor/Components/Table/TableToolbar.razor.cs
  src/BootstrapBlazor/Components/Table/TableToolbarButton.cs
  src/BootstrapBlazor/Components/Table/TableToolbarPopconfirmButton.cs
Labels: enhancement

#604 fix: value not updated in OnValueChanged callback
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Components/Validate/ValidateBase.cs
  test/UnitTest/Components/InputTest.cs
  test/UnitTest/Components/TableTest.cs
Labels: bug

#606 refactor: update PopConfirmButton component
  src/BootstrapBlazor/Components/Button/PopConfirmButton.razor
  src/BootstrapBlazor/Components/Button/PopConfirmButton.razor.cs
  src/BootstrapBlazor/Components/Button/PopConfirmButtonBase.cs
  src/BootstrapBlazor/Components/Button/PopConfirmButtonContent.razor.cs
  src/BootstrapBlazor/Components/Table/TableToolbar.razor
  src/BootstrapBlazor/Components/Table/TableToolbar.razor.cs
  src/BootstrapBlazor/Components/Table/TableToolbarPopconfirmButton.cs
Labels: chore

#597 test: add unit test for improve code coverage
  src/BootstrapBlazor/Components/Speech/SpeechWave.razor.cs
  src/BootstrapBlazor/Components/Tab/Tab.razor.cs
  src/BootstrapBlazor/Components/ValidateForm/ValidateForm.razor.cs
  test/UnitTest/Components/BootstrapBlazorRootTest.cs
  test/UnitTest/Components/InputNumberTest.cs
  test/UnitTest/Components/PopConfirmButtonTest.cs
  test/UnitTest/Components/UploadTest.cs
  test/UnitTest/Components/ValidateFormTest.cs
  test/UnitTest/Localization/JsonStringLocalizerTest.cs
  test/UnitTest/zh-CN.json
Labels: test

#609 chore: update font-awesome to 6.3.0
  src/Extensions/Components/BootstrapBlazor.FontAwesome/BootstrapBlazor.FontAwesome.csproj
  src/Extensions/Components/BootstrapBlazor.FontAwesome/FAIcons.cs
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/css/font-awesome.min.css
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/fa/all.css
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/fa/all.min.css
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/webfonts/fa-brands-400.ttf
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/webfonts/fa-brands-400.woff2
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/webfonts/fa-regular-400.ttf
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/webfonts/fa-regular-400.woff2
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/webfonts/fa-solid-900.ttf
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/webfonts/fa-solid-900.woff2
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/webfonts/fa-v4compatibility.ttf
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/webfonts/fa-v4compatibility.woff2
Labels: chore

#611 refactor: remove the time value from DateTimeRange value
  src/BootstrapBlazor/Components/DateTimeRange/DateTimeRange.razor.cs
  src/BootstrapBlazor/Components/DateTimeRange/DateTimeRangeValue.cs
  test/UnitTest/Components/DateTimeRangeTest.cs
Labels: enhancement

#613 revert: remove the time value from DateTimeRange value
  src/BootstrapBlazor.Shared/Components/FooSearch.razor
  src/BootstrapBlazor.Shared/Data/FooSearchModel.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/DateTimeRange/DateTimeRange.razor.cs
  test/UnitTest/Components/DateTimeRangeTest.cs
Labels: enhancement

#615 feat: add GetTableColumns static method on Utility class
  src/BootstrapBlazor.Shared/Demos/Table/TablesExport/TablesExportOnExportAsync.razor
  src/BootstrapBlazor.Shared/Samples/Charts/Bar.razor.cs
  src/BootstrapBlazor.Shared/Samples/Charts/Line.razor.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/DateTimeRange/DateTimeRange.razor.cs
  src/BootstrapBlazor/Components/EditorForm/EditorForm.razor.cs
  src/BootstrapBlazor/Components/Table/InternalTableColumn.cs
  src/BootstrapBlazor/Components/Table/Table.razor.Toolbar.cs
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Dynamic/DataTableDynamicContext.cs
  src/BootstrapBlazor/Services/ITableExcelExport.cs
  src/BootstrapBlazor/Utils/Utility.cs
  test/UnitTest/Components/TableColumnTest.cs
  test/UnitTest/Components/TableTest.cs
  test/UnitTest/Utils/UtilityTest.cs
Labels: enhancement

#617 doc: update Paginations demos
  src/BootstrapBlazor.Shared/Demos/Paginations/PaginationsAlignment.razor
  src/BootstrapBlazor.Shared/Demos/Paginations/PaginationsDispalyText.razor
  src/BootstrapBlazor.Shared/Demos/Paginations/PaginationsGoto.razor
  src/BootstrapBlazor.Shared/Demos/Paginations/PaginationsInfoTemplate.razor
  src/BootstrapBlazor.Shared/Demos/Paginations/PaginationsMaxPageLinkCount.razor
  src/BootstrapBlazor.Shared/Demos/Paginations/PaginationsNormal.razor
  src/BootstrapBlazor.Shared/Demos/Paginations/PaginationsPageInfoText.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Paginations.razor
  src/BootstrapBlazor.Shared/Samples/Paginations.razor.cs
Labels: documentation

#619 feat: update Table ExportAsync method
  src/Extensions/Components/BootstrapBlazor.TableExport/BootstrapBlazor.TableExport.csproj
  src/Extensions/Components/BootstrapBlazor.TableExport/ExcelExport.cs
Labels: enhancement

#623 doc: update Popconfirm demos
  src/BootstrapBlazor.Shared/Demos/PopoverConfirms/PopoverConfirmsBodyTemplate.razor
  src/BootstrapBlazor.Shared/Demos/PopoverConfirms/PopoverConfirmsContent.razor
  src/BootstrapBlazor.Shared/Demos/PopoverConfirms/PopoverConfirmsCustomClass.razor
  src/BootstrapBlazor.Shared/Demos/PopoverConfirms/PopoverConfirmsForm.razor
  src/BootstrapBlazor.Shared/Demos/PopoverConfirms/PopoverConfirmsIsAsync.razor
  src/BootstrapBlazor.Shared/Demos/PopoverConfirms/PopoverConfirmsIsLink.razor
  src/BootstrapBlazor.Shared/Demos/PopoverConfirms/PopoverConfirmsNormal.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/PopoverConfirms.razor
  src/BootstrapBlazor.Shared/Samples/PopoverConfirms.razor.cs
Labels: documentation

#625 doc: update Popovers demos
  src/BootstrapBlazor.Shared/Demos/Popovers/PopoversButton.razor
  src/BootstrapBlazor.Shared/Demos/Popovers/PopoversCssClass.razor
  src/BootstrapBlazor.Shared/Demos/Popovers/PopoversCssClass.razor.css
  src/BootstrapBlazor.Shared/Demos/Popovers/PopoversNormal.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Popovers.razor
  src/BootstrapBlazor.Shared/Samples/Popovers.razor.cs
Labels: documentation

#627 doc: update Prints demos
  src/BootstrapBlazor.Shared/Demos/Prints/PrintsButton.razor
  src/BootstrapBlazor.Shared/Demos/Prints/PrintsDialog.razor
  src/BootstrapBlazor.Shared/Demos/Prints/PrintsService.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Prints.razor
  src/BootstrapBlazor.Shared/Samples/Prints.razor.cs
Labels: documentation

#632 fix: modal backdrop HTML tag value is inconsistent with background data
  src/BootstrapBlazor/Components/Dialog/Dialog.razor
  src/BootstrapBlazor/Components/Dialog/Dialog.razor.cs
  src/BootstrapBlazor/Components/Dialog/DialogOption.cs
  src/BootstrapBlazor/Components/Modal/ModalDialog.razor.cs
  src/BootstrapBlazor/wwwroot/modules/modal.js
Labels: bug

#634 fix: the value not update when click Select item
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Select/Select.razor.cs
  src/BootstrapBlazor/Components/Switch/Switch.razor.cs
Labels: bug

#636 doc: update Progresss Localizer
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Progresss.razor
Labels: documentation

#638 doc: update QRCodes demos
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/QRCodes.razor
  src/BootstrapBlazor.Shared/Samples/QRCodes.razor.cs
Labels: documentation

#641 doc: update the table component FixedHeader demo Description
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
Labels: documentation

#647 feat: add AddTabItemBindOptions service
  src/BootstrapBlazor.Server/Program.cs
  src/BootstrapBlazor.Shared/Samples/LayoutDemo.razor
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Tab/Tab.razor.cs
  src/BootstrapBlazor/Extensions/BootstrapBlazorServiceCollectionExtensions.cs
  src/BootstrapBlazor/Options/TabItemMenuBindOptions.cs
  test/UnitTest/Components/TabTest.cs
  test/UnitTest/Core/TabTestBase.cs
  test/UnitTest/Pages/Binder.cs
Labels: enhancement

#648 chore: could not load content for bootstrap.bundle.min.js.map
  src/BootstrapBlazor/bundleconfig.json
  src/BootstrapBlazor/wwwroot/core/bootstrap/js/bootstrap.bundle.js
  src/BootstrapBlazor/wwwroot/core/bootstrap/js/bootstrap.bundle.min.js
  src/BootstrapBlazor/wwwroot/js/bootstrap.blazor.bundle.js
  src/BootstrapBlazor/wwwroot/js/bootstrap.blazor.bundle.min.js
Labels: bug

#650 feat: show route path on TabItem title when not match any rules
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Tab/Tab.razor.cs
Labels: enhancement

#642 doc: update Radios demos
  src/BootstrapBlazor.Shared/Demos/Radios/RadiosBinding.razor
  src/BootstrapBlazor.Shared/Demos/Radios/RadiosColor.razor
  src/BootstrapBlazor.Shared/Demos/Radios/RadiosDisable.razor
  src/BootstrapBlazor.Shared/Demos/Radios/RadiosEnum.razor
  src/BootstrapBlazor.Shared/Demos/Radios/RadiosIsButton.razor
  src/BootstrapBlazor.Shared/Demos/Radios/RadiosItemTemplate.razor
  src/BootstrapBlazor.Shared/Demos/Radios/RadiosLabel.razor
  src/BootstrapBlazor.Shared/Demos/Radios/RadiosNormal.razor
  src/BootstrapBlazor.Shared/Demos/Radios/RadiosVertical.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Radios.razor
  src/BootstrapBlazor.Shared/Samples/Radios.razor.cs
Labels: documentation

#652 doc: update Rates demos
  src/BootstrapBlazor.Shared/Demos/Rates/RatesDisable.razor
  src/BootstrapBlazor.Shared/Demos/Rates/RatesIcon.razor
  src/BootstrapBlazor.Shared/Demos/Rates/RatesNormal.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Rates.razor
  src/BootstrapBlazor.Shared/Samples/Rates.razor.cs
Labels: documentation

#654 doc: update Responsives demos
  src/BootstrapBlazor.Shared/Demos/Responsives/ResponsivesNormal.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Responsives.razor
  src/BootstrapBlazor.Shared/Samples/Responsives.razor.cs
Labels: documentation

#656 doc: update RibbonTabs demos
  src/BootstrapBlazor.Shared/Demos/RibbonTabs/RibbonTabsFloat.razor
  src/BootstrapBlazor.Shared/Demos/RibbonTabs/RibbonTabsFloat.razor.css
  src/BootstrapBlazor.Shared/Demos/RibbonTabs/RibbonTabsHeaderClick.razor
  src/BootstrapBlazor.Shared/Demos/RibbonTabs/RibbonTabsNormal.razor
  src/BootstrapBlazor.Shared/Demos/RibbonTabs/RibbonTabsRightButtonsTemplate.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/RibbonTabs.razor
  src/BootstrapBlazor.Shared/Samples/RibbonTabs.razor.cs
Labels: documentation

#658 feat: update HeaderTemplate on Tab
  src/BootstrapBlazor.Shared/Samples/Tabs.razor
  src/BootstrapBlazor.Shared/Samples/Tabs.razor.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Tab/Tab.razor
  src/BootstrapBlazor/Components/Tab/TabItem.cs
Labels: enhancement

#663 feat: add material icon extension package
  BootstrapBlazor.sln
  src/BootstrapBlazor/Extensions/BootstrapBlazorServiceCollectionExtensions.cs
  src/BootstrapBlazor/Extensions/IconMapperOptionsExtensions.cs
  src/BootstrapBlazor/Options/BootstrapIcons.cs
  src/BootstrapBlazor/Options/IconMapperOptions.cs
  src/Extensions/Components/BootstrapBlazor.MaterialDesign.Extensions/BootstrapBlazor.MaterialDesign.Extensions.csproj
  src/Extensions/Components/BootstrapBlazor.MaterialDesign.Extensions/ServiceCollectionExtensions.cs
  src/Extensions/Components/BootstrapBlazor.MaterialDesign.Extensions/logo.png
  test/UnitTest/Services/ConfigureIconMapperOptionsTest.cs
Labels: enhancement

#665 feat: update AnchorLink support custom icon
  BootstrapBlazor.sln
  src/BootstrapBlazor.Server/Program.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Anchor/AnchorLink.razor.cs
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.cs
  src/BootstrapBlazor/Components/AutoFill/AutoFill.razor
  src/BootstrapBlazor/Components/AutoFill/AutoFill.razor.cs
  src/BootstrapBlazor/Components/Avatar/Avatar.razor.cs
  src/BootstrapBlazor/Components/BaseComponents/BootstrapBlazorRoot.razor.cs
  src/BootstrapBlazor/Components/Button/PulseButton.razor.cs
  src/BootstrapBlazor/Components/DateTimePicker/TimePickerCell.razor.cs
  src/BootstrapBlazor/Components/Dialog/DialogCloseButton.cs
  src/BootstrapBlazor/Components/Dialog/DialogSaveButton.cs
  src/BootstrapBlazor/Components/FullScreen/FullScreen.cs
  src/BootstrapBlazor/Components/IPLocator/DefaultIPLocatorProvider.cs
  src/BootstrapBlazor/Components/Message/MessageService.cs
  src/BootstrapBlazor/Components/SweetAlert/SwalService.cs
  src/BootstrapBlazor/Components/Tab/Tab.razor.cs
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Components/Toast/ToastContainer.razor.cs
  src/BootstrapBlazor/Components/Toast/ToastService.cs
  src/BootstrapBlazor/Components/ValidateForm/ValidateForm.razor.cs
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/BootstrapBlazor/Extensions/BootstrapBlazorServiceCollectionExtensions.cs
  src/BootstrapBlazor/Localization/Json/JsonStringLocalizerFactory.cs
  src/BootstrapBlazor/Localization/Json/StringLocalizer.cs
  src/BootstrapBlazor/Options/ConfigureOptions.cs
  src/BootstrapBlazor/Services/CacheManager.cs
Labels: enhancement

#667 doc: update Rows demos
  src/BootstrapBlazor.Shared/Demos/Rows/RowCommon.razor
  src/BootstrapBlazor.Shared/Demos/Rows/RowForm.razor
  src/BootstrapBlazor.Shared/Demos/Rows/RowFormInline.razor
  src/BootstrapBlazor.Shared/Demos/Rows/RowNested.razor
  src/BootstrapBlazor.Shared/Demos/Rows/Rowspan.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Rows.razor
  src/BootstrapBlazor.Shared/Samples/Rows.razor.cs
Labels: documentation

#669 doc: update SearchDialogs demos
  src/BootstrapBlazor.Shared/Demos/SearchDialogs/SearchDialogsField.razor
  src/BootstrapBlazor.Shared/Demos/SearchDialogs/SearchDialogsLayout.razor
  src/BootstrapBlazor.Shared/Demos/SearchDialogs/SearchDialogsNormal.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/SearchDialogs.razor
  src/BootstrapBlazor.Shared/Samples/SearchDialogs.razor.cs
Labels: documentation

#671 doc: update Searchs demos
  src/BootstrapBlazor.Shared/Demos/Searchs/SearchsClearValue.razor
  src/BootstrapBlazor.Shared/Demos/Searchs/SearchsDispalyButton.razor
  src/BootstrapBlazor.Shared/Demos/Searchs/SearchsNormal.razor
  src/BootstrapBlazor.Shared/Demos/Searchs/SearchsValidateForm.razor
  src/BootstrapBlazor.Shared/Demos/Searchs/Searchskeyboards.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Searchs.razor
  src/BootstrapBlazor.Shared/Samples/Searchs.razor.cs
Labels: documentation

#674 doc: update Sliders Demo Localizer
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Sliders.razor
  src/BootstrapBlazor.Shared/Samples/Sliders.razor.cs
Labels: documentation

#676 doc: update Skeletons demo Localizer
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Skeletons.razor
  src/BootstrapBlazor.Shared/Samples/Skeletons.razor.cs
Labels: documentation

#678 doc: update SelectTrees demos
  src/BootstrapBlazor.Shared/Demos/SelectTrees/SelectTreesBinding.razor
  src/BootstrapBlazor.Shared/Demos/SelectTrees/SelectTreesClientValidation.razor
  src/BootstrapBlazor.Shared/Demos/SelectTrees/SelectTreesDisable.razor
  src/BootstrapBlazor.Shared/Demos/SelectTrees/SelectTreesIsPopover.razor
  src/BootstrapBlazor.Shared/Demos/SelectTrees/SelectTreesNormal.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/SelectTrees.razor
Labels: documentation

#679 doc: update Selects demos
  src/BootstrapBlazor.Shared/Demos/Selects/SelectsBinding.razor
  src/BootstrapBlazor.Shared/Demos/Selects/SelectsCascading.razor
  src/BootstrapBlazor.Shared/Demos/Selects/SelectsClientValidation.razor
  src/BootstrapBlazor.Shared/Demos/Selects/SelectsConfirmSelect.razor
  src/BootstrapBlazor.Shared/Demos/Selects/SelectsCunstomTemplate.razor
  src/BootstrapBlazor.Shared/Demos/Selects/SelectsDisable.razor
  src/BootstrapBlazor.Shared/Demos/Selects/SelectsDispalyLabel.razor
  src/BootstrapBlazor.Shared/Demos/Selects/SelectsDisplayTemplate.razor
  src/BootstrapBlazor.Shared/Demos/Selects/SelectsEnum.razor
  src/BootstrapBlazor.Shared/Demos/Selects/SelectsGroup.razor
  src/BootstrapBlazor.Shared/Demos/Selects/SelectsGuid.razor
  src/BootstrapBlazor.Shared/Demos/Selects/SelectsNormal.razor
  src/BootstrapBlazor.Shared/Demos/Selects/SelectsNullable.razor
  src/BootstrapBlazor.Shared/Demos/Selects/SelectsNullableBoolean.razor
  src/BootstrapBlazor.Shared/Demos/Selects/SelectsPopover.razor
  src/BootstrapBlazor.Shared/Demos/Selects/SelectsShowSearch.razor
  src/BootstrapBlazor.Shared/Demos/Selects/SelectsStatic.razor
  src/BootstrapBlazor.Shared/Demos/Selects/SelectsTimezone.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Selects.razor
  src/BootstrapBlazor.Shared/Samples/Selects.razor.cs
Labels: documentation

#683 feat: add OnClickTabItemAsync method
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/RibbonTab/RibbonTab.razor
  src/BootstrapBlazor/Components/RibbonTab/RibbonTab.razor.cs
  src/BootstrapBlazor/Components/Tab/Tab.razor
  src/BootstrapBlazor/Components/Tab/Tab.razor.cs
  test/UnitTest/Components/TabTest.cs
Labels: enhancement

#681 feat: add HeaderTemplate/ItemTemplate on Transfer component
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Transfer/TransferPanel.razor
  src/BootstrapBlazor/Components/Transfer/TransferPanel.razor.cs
  test/UnitTest/Components/TransferPanelTest.cs
Labels: enhancement

#685 feat: add Left/Right template on Transfer component
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Transfers.razor.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Transfer/Transfer.razor
  src/BootstrapBlazor/Components/Transfer/Transfer.razor.cs
  test/UnitTest/Components/TransferTest.cs
Labels: enhancement

#689 doc: update Spinners Demos Localizer
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Spinners.razor
Labels: documentation

#691 doc: update Splits Demos Localizer
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Splits.razor
  src/BootstrapBlazor.Shared/Samples/Splits.razor.cs
Labels: documentation

#694 fix(Steps): missing icon
  src/BootstrapBlazor/Components/Step/Steps.css
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
Labels: bug

#696 bug(ListView): IsVertical not work via enable GroupName
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/ListView/ListView.css
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
Labels: bug

#697 doc: update Stepss demos
  src/BootstrapBlazor.Shared/Demos/Stepss/StepssDesc.razor
  src/BootstrapBlazor.Shared/Demos/Stepss/StepssMiddle.razor
  src/BootstrapBlazor.Shared/Demos/Stepss/StepssNormal.razor
  src/BootstrapBlazor.Shared/Demos/Stepss/StepssStep.razor
  src/BootstrapBlazor.Shared/Demos/Stepss/StepssTitleCenter.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Stepss.razor
  src/BootstrapBlazor.Shared/Samples/Stepss.razor.cs
Labels: documentation

#700 fix(Switch): missing await keyword on OnValueChanged callback
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Switch/Switch.razor.cs
Labels: bug

#705 doc: update Switchs demos
  src/BootstrapBlazor.Shared/Demos/Switchs/SwitchsBinding.razor
  src/BootstrapBlazor.Shared/Demos/Switchs/SwitchsColor.razor
  src/BootstrapBlazor.Shared/Demos/Switchs/SwitchsDisable.razor
  src/BootstrapBlazor.Shared/Demos/Switchs/SwitchsInnerText.razor
  src/BootstrapBlazor.Shared/Demos/Switchs/SwitchsNormal.razor
  src/BootstrapBlazor.Shared/Demos/Switchs/SwitchsNuallable.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Switchs.razor
  src/BootstrapBlazor.Shared/Samples/Switchs.razor.cs
Labels: documentation

#708 doc: update Tags demos
  src/BootstrapBlazor.Shared/Demos/Tags/TagsCloseButton.razor
  src/BootstrapBlazor.Shared/Demos/Tags/TagsIcon.razor
  src/BootstrapBlazor.Shared/Demos/Tags/TagsNormal.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Tags.razor
  src/BootstrapBlazor.Shared/Samples/Tags.razor.cs
Labels: documentation

#710 doc: update Textareas demos
  src/BootstrapBlazor.Shared/Demos/Textareas/TextareasBindToWay.razor
  src/BootstrapBlazor.Shared/Demos/Textareas/TextareasBindToWay.razor.css
  src/BootstrapBlazor.Shared/Demos/Textareas/TextareasDisable.razor
  src/BootstrapBlazor.Shared/Demos/Textareas/TextareasHeight.razor
  src/BootstrapBlazor.Shared/Demos/Textareas/TextareasNormal.razor
  src/BootstrapBlazor.Shared/Demos/Textareas/TextareasReadonly.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Textareas.razor
  src/BootstrapBlazor.Shared/Samples/Textareas.razor.cs
Labels: documentation

#701 doc: update SweetAlerts demos
  src/BootstrapBlazor.Shared/Demos/SweetAlerts/SweetAlertsButton.razor
  src/BootstrapBlazor.Shared/Demos/SweetAlerts/SweetAlertsClose.razor
  src/BootstrapBlazor.Shared/Demos/SweetAlerts/SweetAlertsComponent.razor
  src/BootstrapBlazor.Shared/Demos/SweetAlerts/SweetAlertsDispaly.razor
  src/BootstrapBlazor.Shared/Demos/SweetAlerts/SweetAlertsFooter.razor
  src/BootstrapBlazor.Shared/Demos/SweetAlerts/SweetAlertsModal.razor
  src/BootstrapBlazor.Shared/Demos/SweetAlerts/SweetAlertsNormal.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/SweetAlerts.razor
  src/BootstrapBlazor.Shared/Samples/SweetAlerts.razor.cs
Labels: documentation

#713 doc: update Tabs demos
  src/BootstrapBlazor.Shared/Demos/Tabs/TabsAddTabItem.razor
  src/BootstrapBlazor.Shared/Demos/Tabs/TabsApp.razor
  src/BootstrapBlazor.Shared/Demos/Tabs/TabsBorder.razor
  src/BootstrapBlazor.Shared/Demos/Tabs/TabsCard.razor
  src/BootstrapBlazor.Shared/Demos/Tabs/TabsClosable.razor
  src/BootstrapBlazor.Shared/Demos/Tabs/TabsComponent.razor
  src/BootstrapBlazor.Shared/Demos/Tabs/TabsDynamicTabItem.razor
  src/BootstrapBlazor.Shared/Demos/Tabs/TabsHeaderTemplate.razor
  src/BootstrapBlazor.Shared/Demos/Tabs/TabsIcon.razor
  src/BootstrapBlazor.Shared/Demos/Tabs/TabsIsOnlyRenderActive.razor
  src/BootstrapBlazor.Shared/Demos/Tabs/TabsLazyLoad.razor
  src/BootstrapBlazor.Shared/Demos/Tabs/TabsNormal.razor
  src/BootstrapBlazor.Shared/Demos/Tabs/TabsPlacement.razor
  src/BootstrapBlazor.Shared/Demos/Tabs/TabsSetHeaderTemplate.razor
  src/BootstrapBlazor.Shared/Demos/Tabs/TabsSetTabItemHeaderText.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Tabs.razor
  src/BootstrapBlazor.Shared/Samples/Tabs.razor.cs
Labels: documentation

#714 doc: update Timelines demos
  src/BootstrapBlazor.Shared/Demos/Timelines/TimelinesAlternate.razor
  src/BootstrapBlazor.Shared/Demos/Timelines/TimelinesCutomNodeStyle.razor
  src/BootstrapBlazor.Shared/Demos/Timelines/TimelinesDispalyCustomComponent.razor
  src/BootstrapBlazor.Shared/Demos/Timelines/TimelinesLeft.razor
  src/BootstrapBlazor.Shared/Demos/Timelines/TimelinesNormal.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Timelines.razor
  src/BootstrapBlazor.Shared/Samples/Timelines.razor.cs
Labels: documentation

#715 doc: update Timers demos
  src/BootstrapBlazor.Shared/Demos/Timers/TimersColor.razor
  src/BootstrapBlazor.Shared/Demos/Timers/TimersNormal.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Timers.razor
  src/BootstrapBlazor.Shared/Samples/Timers.razor.cs
Labels: documentation

#717 doc: update Toasts demos
  src/BootstrapBlazor.Shared/Demos/Toasts/ToastsClose.razor
  src/BootstrapBlazor.Shared/Demos/Toasts/ToastsHeaderTemplate.razor
  src/BootstrapBlazor.Shared/Demos/Toasts/ToastsNormal.razor
  src/BootstrapBlazor.Shared/Demos/Toasts/ToastsPosition.razor
  src/BootstrapBlazor.Shared/Demos/Toasts/ToastsShowHeader.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Toasts.razor
  src/BootstrapBlazor.Shared/Samples/Toasts.razor.cs
Labels: documentation

#719 feat(Button): support config Icon
  src/BootstrapBlazor/Components/Anchor/AnchorLink.razor.cs
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.cs
  src/BootstrapBlazor/Components/AutoFill/AutoFill.razor.cs
  src/BootstrapBlazor/Components/Avatar/Avatar.razor.cs
  src/BootstrapBlazor/Components/Button/ButtonBase.cs
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/BootstrapBlazor/Options/Constants.cs
  test/UnitTest/Components/ButtonTest.cs
Labels: enhancement

#721 doc: update ComponentLayout
  src/BootstrapBlazor.Shared/Components/DemoBlock.razor
  src/BootstrapBlazor.Shared/Components/DemoBlock.razor.cs
  src/BootstrapBlazor.Shared/Components/Pre.razor.cs
  src/BootstrapBlazor.Shared/Extensions/CacheManagerExtensions.cs
  src/BootstrapBlazor.Shared/Services/CodeSnippetService.cs
  src/BootstrapBlazor.Shared/Shared/ComponentLayout.razor
  src/BootstrapBlazor.Shared/Shared/ComponentLayout.razor.cs
Labels: documentation

#723 feat(Table): add IsDisabledCallback on TableToolbarButton component
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/ITableToolbarButton.cs
  src/BootstrapBlazor/Components/Table/TableToolbar.razor.cs
  src/BootstrapBlazor/Components/Table/TableToolbarButton.cs
  src/BootstrapBlazor/Components/Table/TableToolbarPopconfirmButton.cs
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#725 doc: update Toggles demos
  src/BootstrapBlazor.Shared/Demos/Toggles/TogglesBindToWay.razor
  src/BootstrapBlazor.Shared/Demos/Toggles/TogglesDisable.razor
  src/BootstrapBlazor.Shared/Demos/Toggles/TogglesNormal.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Toggles.razor
  src/BootstrapBlazor.Shared/Samples/Toggles.razor.cs
Labels: documentation

#727 doc: update Tooltips demos
  src/BootstrapBlazor.Shared/Demos/Tooltips/BootstrapTooltip.razor
  src/BootstrapBlazor.Shared/Demos/Tooltips/TooltipsButton.razor
  src/BootstrapBlazor.Shared/Demos/Tooltips/TooltipsCustomClass.razor
  src/BootstrapBlazor.Shared/Demos/Tooltips/TooltipsNomal.razor
  src/BootstrapBlazor.Shared/Demos/Tooltips/TooltipsNomal.razor.css
  src/BootstrapBlazor.Shared/Demos/Tooltips/TooltipsSelector.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Tooltips.razor
  src/BootstrapBlazor.Shared/Samples/Tooltips.razor.cs
Labels: documentation

#731 feat(Camera): support icon theme
  src/BootstrapBlazor/Components/Camera/Camera.razor
  src/BootstrapBlazor/Components/Camera/Camera.razor.cs
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/BootstrapBlazor/Options/Constants.cs
Labels: enhancement

#734 feat(Captcha): support icon theme
  src/BootstrapBlazor/Components/Captcha/Captcha.razor
  src/BootstrapBlazor/Components/Captcha/Captcha.razor.cs
  src/BootstrapBlazor/Components/Captcha/CaptchaOption.cs
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/BootstrapBlazor/Options/Constants.cs
  src/BootstrapBlazor/bundleconfig.json
Labels: enhancement

#737 feat(Repeater): add repeater component
  src/BootstrapBlazor.Shared/Demos/Repeaters/RepeaterContainer.razor
  src/BootstrapBlazor.Shared/Demos/Repeaters/RepeaterEmpty.razor
  src/BootstrapBlazor.Shared/Demos/Repeaters/RepeaterLoading.razor
  src/BootstrapBlazor.Shared/Demos/Repeaters/RepeaterNormal.razor
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Repeaters.razor
  src/BootstrapBlazor.Shared/Samples/Repeaters.razor.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Empty/Empty.razor.cs
  src/BootstrapBlazor/Components/Repeater/Repeater.css
  src/BootstrapBlazor/Components/Repeater/Repeater.razor
  src/BootstrapBlazor/Components/Repeater/Repeater.razor.cs
  src/BootstrapBlazor/Locales/en.json
  src/BootstrapBlazor/Locales/zh.json
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  test/UnitTest/Components/RepeaterTest.cs
Labels: enhancement

#739 doc: update Transitions demos
  src/BootstrapBlazor.Shared/Demos/Transitions/TransitionsDuration.razor
  src/BootstrapBlazor.Shared/Demos/Transitions/TransitionsEndCallback.razor
  src/BootstrapBlazor.Shared/Demos/Transitions/TransitionsNormal.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Transitions.razor
  src/BootstrapBlazor.Shared/Samples/Transitions.razor.cs
Labels: documentation

#741 doc: update VideoPlayers demos
  src/BootstrapBlazor.Shared/Demos/VideoPlayers/VideoPlayersChangeURL.razor
  src/BootstrapBlazor.Shared/Demos/VideoPlayers/VideoPlayersNomal.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/VideoPlayers.razor
  src/BootstrapBlazor.Shared/Samples/VideoPlayers.razor.cs
Labels: documentation

#743 doc: update Trees demos
  src/BootstrapBlazor.Shared/Demos/Trees/TreesAccordionModel.razor
  src/BootstrapBlazor.Shared/Demos/Trees/TreesCheckbox.razor
  src/BootstrapBlazor.Shared/Demos/Trees/TreesCheckedItems.razor
  src/BootstrapBlazor.Shared/Demos/Trees/TreesClickExpand.razor
  src/BootstrapBlazor.Shared/Demos/Trees/TreesCustomNode.razor
  src/BootstrapBlazor.Shared/Demos/Trees/TreesDefauleExpand.razor
  src/BootstrapBlazor.Shared/Demos/Trees/TreesDisable.razor
  src/BootstrapBlazor.Shared/Demos/Trees/TreesDisplayIcon.razor
  src/BootstrapBlazor.Shared/Demos/Trees/TreesLazyLoading.razor
  src/BootstrapBlazor.Shared/Demos/Trees/TreesNodeColor.razor
  src/BootstrapBlazor.Shared/Demos/Trees/TreesNormal.razor
  src/BootstrapBlazor.Shared/Demos/Trees/TreesShowRadio.razor
  src/BootstrapBlazor.Shared/Demos/Trees/TreesShowSkeleton.razor
  src/BootstrapBlazor.Shared/Demos/Trees/TreesValidationForm.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Trees.razor
  src/BootstrapBlazor.Shared/Samples/Trees.razor.cs
  src/BootstrapBlazor/Options/Constants.cs
Labels: documentation

#747 feat: add IconTheme service
  src/BootstrapBlazor/Components/Anchor/AnchorLink.razor.cs
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.cs
  src/BootstrapBlazor/Components/AutoFill/AutoFill.razor.cs
  src/BootstrapBlazor/Components/Avatar/Avatar.razor.cs
  src/BootstrapBlazor/Components/Button/ButtonBase.cs
  src/BootstrapBlazor/Components/Camera/Camera.razor.cs
  src/BootstrapBlazor/Components/Captcha/Captcha.razor.cs
  src/BootstrapBlazor/Components/Card/Card.razor.cs
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/BootstrapBlazor/Extensions/BootstrapBlazorServiceCollectionExtensions.cs
  src/BootstrapBlazor/Extensions/IIconThemeExtensions.cs
  src/BootstrapBlazor/Options/Constants.cs
  src/BootstrapBlazor/Services/DefaultIconTheme.cs
  src/BootstrapBlazor/Services/IIconTheme.cs
  test/UnitTest/Components/AvatarTest.cs
  test/UnitTest/Components/ButtonTest.cs
  test/UnitTest/Services/ConfigureIconMapperOptionsTest.cs
Labels: enhancement

#749 feat(Carousel): support Icon theme
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.css
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.cs
  src/BootstrapBlazor/Components/Carousel/Carousel.razor
  src/BootstrapBlazor/Components/Carousel/Carousel.razor.cs
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/BootstrapBlazor/Services/DefaultIconTheme.cs
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
Labels: enhancement

#751 feat(PopConfirmButton): support Icon theme
  src/BootstrapBlazor.Shared/Samples/PopoverConfirms.razor
  src/BootstrapBlazor/Components/Button/PopConfirmButtonBase.cs
  src/BootstrapBlazor/Components/Button/PopConfirmButtonContent.razor
  src/BootstrapBlazor/Components/Button/PopConfirmButtonContent.razor.cs
  src/BootstrapBlazor/Components/Captcha/Captcha.css
  src/BootstrapBlazor/Components/Captcha/Captcha.razor
  src/BootstrapBlazor/Components/Card/Card.razor.cs
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/BootstrapBlazor/Services/DefaultIconTheme.cs
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
Labels: enhancement

#752 doc: update Uploads demos
  src/BootstrapBlazor.Shared/Demos/Uploads/UploadAvatar.razor
  src/BootstrapBlazor.Shared/Demos/Uploads/UploadBase64.razor
  src/BootstrapBlazor.Shared/Demos/Uploads/UploadClickUpload.razor
  src/BootstrapBlazor.Shared/Demos/Uploads/UploadFileIcon.razor
  src/BootstrapBlazor.Shared/Demos/Uploads/UploadFolder.razor
  src/BootstrapBlazor.Shared/Demos/Uploads/UploadFormSettings.razor
  src/BootstrapBlazor.Shared/Demos/Uploads/UploadIconTemplate.razor
  src/BootstrapBlazor.Shared/Demos/Uploads/UploadNormal.razor
  src/BootstrapBlazor.Shared/Demos/Uploads/UploadPreCardStyle.razor
  src/BootstrapBlazor.Shared/Demos/Uploads/UploadedFiles.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Uploads.razor
  src/BootstrapBlazor.Shared/Samples/Uploads.razor.cs
Labels: documentation

#753 doc: update TreeViews demos
  src/BootstrapBlazor.Shared/Demos/TreeViews/TreeViewAccordionModel.razor
  src/BootstrapBlazor.Shared/Demos/TreeViews/TreeViewCheckbox.razor
  src/BootstrapBlazor.Shared/Demos/TreeViews/TreeViewCheckedItems.razor
  src/BootstrapBlazor.Shared/Demos/TreeViews/TreeViewDefauleExpand.razor
  src/BootstrapBlazor.Shared/Demos/TreeViews/TreeViewNormal.razor
  src/BootstrapBlazor.Shared/Demos/TreeViews/TreeViewShowSkeleton.razor
  src/BootstrapBlazor.Shared/Demos/TreeViews/TreeViewTreeClickExpand.razor
  src/BootstrapBlazor.Shared/Demos/TreeViews/TreeViewTreeCustomNode.razor
  src/BootstrapBlazor.Shared/Demos/TreeViews/TreeViewTreeDisable.razor
  src/BootstrapBlazor.Shared/Demos/TreeViews/TreeViewTreeDisplayIcon.razor
  src/BootstrapBlazor.Shared/Demos/TreeViews/TreeViewTreeLazyLoading.razor
  src/BootstrapBlazor.Shared/Demos/TreeViews/TreeViewTreeNodeColor.razor
  src/BootstrapBlazor.Shared/Demos/TreeViews/TreeViewTreeValidationForm.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/TreeViews.razor
  src/BootstrapBlazor.Shared/Samples/TreeViews.razor.cs
Labels: documentation

#757 feat: add AddMaterialDesignIconTheme service
  src/BootstrapBlazor.Server/Program.cs
  src/Extensions/Components/BootstrapBlazor.MaterialDesign.Extensions/DefaultIconTheme.cs
  src/Extensions/Components/BootstrapBlazor.MaterialDesign.Extensions/ServiceCollectionExtensions.cs
Labels: enhancement

#759 feat(Cascader): support Icon theme
  src/BootstrapBlazor/Components/Cascader/Cascader.razor
  src/BootstrapBlazor/Components/Cascader/Cascader.razor.cs
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/BootstrapBlazor/Services/DefaultIconTheme.cs
Labels: enhancement

#761 feat(Console): support Icon theme
  src/BootstrapBlazor/Components/Cascader/Cascader.razor
  src/BootstrapBlazor/Components/Cascader/Cascader.razor.cs
  src/BootstrapBlazor/Components/Cascader/SubCascader.razor
  src/BootstrapBlazor/Components/Cascader/SubCascader.razor.cs
  src/BootstrapBlazor/Components/Collapse/CollapseItem.cs
  src/BootstrapBlazor/Components/Console/Console.razor.cs
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/BootstrapBlazor/Services/DefaultIconTheme.cs
Labels: enhancement

#763 feat(Console): add ItemTemplate parameter
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Console/Console.razor
  src/BootstrapBlazor/Components/Console/Console.razor.cs
  test/UnitTest/Components/ConsoleTest.cs
Labels: enhancement

#764 feat(Search): support Icon theme
  src/BootstrapBlazor/Components/Search/Search.razor.cs
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/BootstrapBlazor/Services/DefaultIconTheme.cs
Labels: enhancement

#768 feat(DateTime): support Icon theme
  src/BootstrapBlazor/Components/DateTimePicker/DatePickerBody.razor
  src/BootstrapBlazor/Components/DateTimePicker/DatePickerBody.razor.cs
  src/BootstrapBlazor/Components/DateTimePicker/DateTimePicker.razor.cs
  src/BootstrapBlazor/Components/DateTimePicker/TimePickerBody.css
  src/BootstrapBlazor/Components/DateTimePicker/TimePickerCell.razor
  src/BootstrapBlazor/Components/DateTimePicker/TimePickerCell.razor.cs
  src/BootstrapBlazor/Components/DateTimeRange/DateTimeRange.razor.cs
  src/BootstrapBlazor/Components/Search/Search.razor.cs
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/BootstrapBlazor/Services/DefaultIconTheme.cs
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
Labels: enhancement

#770 feat(SearchDialog): support Icon theme
  src/BootstrapBlazor/Components/Dialog/ResultDialogOption.cs
  src/BootstrapBlazor/Components/Dialog/SearchDialog.razor
  src/BootstrapBlazor/Components/Dialog/SearchDialog.razor.cs
  src/BootstrapBlazor/Components/Modal/ModalDialog.razor
  src/BootstrapBlazor/Components/Modal/ModalDialog.razor.cs
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/BootstrapBlazor/Services/DefaultIconTheme.cs
  test/UnitTest/Components/DialogTest.cs
Labels: enhancement

#771 feat(Print): support Icon theme
  src/BootstrapBlazor/Components/Print/PrintButton.razor.cs
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/BootstrapBlazor/Services/DefaultIconTheme.cs
Labels: enhancement

#773 feat(FilterButton): support Icon theme
  src/BootstrapBlazor/Components/Button/ButtonBase.cs
  src/BootstrapBlazor/Components/Button/PopConfirmButtonBase.cs
  src/BootstrapBlazor/Components/DateTimeRange/DateTimeRange.razor.cs
  src/BootstrapBlazor/Components/DropdownWidget/DropdownWidgetItem.cs
  src/BootstrapBlazor/Components/Filters/FilterButton.razor
  src/BootstrapBlazor/Components/Filters/FilterButton.razor.cs
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/BootstrapBlazor/Services/DefaultIconTheme.cs
  test/UnitTest/Components/SwalTest.cs
Labels: enhancement

#778 feat(TableFilter): support Icon theme
  src/BootstrapBlazor/Components/Filters/TableFilter.razor
  src/BootstrapBlazor/Components/Filters/TableFilter.razor.cs
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/BootstrapBlazor/Services/DefaultIconTheme.cs
Labels: enhancement

#781 feat(FullScreenButton): support Icon theme
  src/BootstrapBlazor/Components/FullScreen/FullScreenButton.razor.cs
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/BootstrapBlazor/Services/DefaultIconTheme.cs
Labels: enhancement

#783 doc(Chart): update document for Chart sample code
  src/BootstrapBlazor.Shared/Samples/Charts/Bubble.razor
  src/BootstrapBlazor.Shared/Samples/Charts/Doughnut.razor
  src/BootstrapBlazor.Shared/Samples/Charts/Line.razor
  src/BootstrapBlazor.Shared/Samples/Charts/Pie.razor
Labels: documentation

#784 feat(Chart): support double Y axes
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Charts/Bar.razor
  src/BootstrapBlazor.Shared/Samples/Charts/Bar.razor.cs
  src/BootstrapBlazor.Shared/Samples/Charts/Bubble.razor
  src/BootstrapBlazor.Shared/Samples/Charts/Doughnut.razor
  src/BootstrapBlazor.Shared/Samples/Charts/Line.razor
  src/BootstrapBlazor.Shared/Samples/Charts/Line.razor.cs
  src/BootstrapBlazor.Shared/Samples/Charts/Pie.razor
  src/Extensions/Components/BootstrapBlazor.Chart/BootstrapBlazor.Chart.csproj
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/ChartAction.cs
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/ChartAxes.cs
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/ChartDataset.cs
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/ChartOptions.cs
  src/Extensions/Components/BootstrapBlazor.Chart/wwwroot/js/bootstrap.blazor.chart.bundle.min.js
  src/Extensions/Components/BootstrapBlazor.Chart/wwwroot/js/bootstrap.blazor.chart.js
  src/Extensions/Components/BootstrapBlazor.Chart/wwwroot/js/bootstrap.blazor.chart.min.js
Labels: enhancement

#786 feat(GoTop): support Icon theme
  src/BootstrapBlazor.Shared/Demos/Table/TablesFixedColumn/TablesFixedColHeader.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesFixedColumn/TablesFixedColTableHeader.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesFixedColumn/TablesFixedExtendButtonsColumn.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesFixedColumn/TablesFixedHeaderAndExtendButtonsColumn.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesFixedColumn.razor
  src/BootstrapBlazor.Shared/Shared/MainLayout.razor.css
  src/BootstrapBlazor.Shared/Shared/NavMenu.razor.css
  src/BootstrapBlazor.Shared/wwwroot/css/site.css
  src/BootstrapBlazor/Components/Gotop/GoTop.razor
  src/BootstrapBlazor/Components/Gotop/GoTop.razor.cs
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/BootstrapBlazor/Services/DefaultIconTheme.cs
Labels: enhancement

#788 feat(ImagePrviewer): suport Icon theme
  src/BootstrapBlazor/Components/ImageViewer/ImagePreviewer.razor
  src/BootstrapBlazor/Components/ImageViewer/ImagePreviewer.razor.cs
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/BootstrapBlazor/Services/DefaultIconTheme.cs
Labels: enhancement

#790 doc(Table): update fix column sample code
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
Labels: documentation

#794 feat(Table): DetailRowHeader column support fixed
  src/BootstrapBlazor.Shared/Demos/Table/TablesDetailRow/TablesDetailRowIsDetails.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesFixedColumn/TablesFixedColHeader.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesFixedColumn/TablesFixedColTableHeader.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesFixedColumn/TablesFixedExtendButtonsColumn.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesFixedColumn/TablesFixedHeaderAndExtendButtonsColumn.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesFixedHeader/TablesFixedHeaderAllowResizing.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesFixedHeader/TablesFixedHeaderAutoHeight.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesFixedHeader/TablesFixedHeaderNormal.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesFixedHeader/TablesFixedHeaderWidth.razor
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/Components/Table/Table.razor.Sort.cs
  src/BootstrapBlazor/Components/Table/Table.razor.Toolbar.cs
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#796 feat(Select): support bind SelectItem
  src/BootstrapBlazor.Shared/Demos/Selects/SelectsBindingSelectedItem.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Selects.razor
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Display/DisplayBase.cs
  src/BootstrapBlazor/Components/Select/Select.razor.cs
  src/BootstrapBlazor/Components/Select/SelectBase.cs
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/BootstrapBlazor/Services/DefaultIconTheme.cs
  test/UnitTest/Components/SelectTest.cs
Labels: enhancement

#800 feat(ImageViewer): support Icon theme
  src/BootstrapBlazor/Components/ImageViewer/ImageViewer.razor
  src/BootstrapBlazor/Components/ImageViewer/ImageViewer.razor.cs
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/BootstrapBlazor/Services/DefaultIconTheme.cs
Labels: enhancement

#802 doc: update Splits Demos
  src/BootstrapBlazor.Shared/Demos/Splits/SplitsNested.razor
  src/BootstrapBlazor.Shared/Demos/Splits/SplitsNormal.razor
  src/BootstrapBlazor.Shared/Demos/Splits/SplitsPercent.razor
  src/BootstrapBlazor.Shared/Demos/Splits/SplitsVertical.razor
  src/BootstrapBlazor.Shared/Samples/Splits.razor
  src/BootstrapBlazor.Shared/Samples/Splits.razor.cs
  src/BootstrapBlazor.Shared/Samples/Splits.razor.css
Labels: documentation

#804 doc: update ValidateForms demos
  src/BootstrapBlazor.Shared/Demos/ValidateForms/ValidateFormComplexValidation.razor
  src/BootstrapBlazor.Shared/Demos/ValidateForms/ValidateFormCustomDisplsyError.razor
  src/BootstrapBlazor.Shared/Demos/ValidateForms/ValidateFormCustomValidationForm.razor
  src/BootstrapBlazor.Shared/Demos/ValidateForms/ValidateFormDisableAutoSubmitFormByEnter.razor
  src/BootstrapBlazor.Shared/Demos/ValidateForms/ValidateFormDynamicForm.razor
  src/BootstrapBlazor.Shared/Demos/ValidateForms/ValidateFormInnerComponent.razor
  src/BootstrapBlazor.Shared/Demos/ValidateForms/ValidateFormInnerFormLabel.razor
  src/BootstrapBlazor.Shared/Demos/ValidateForms/ValidateFormNormal.razor
  src/BootstrapBlazor.Shared/Demos/ValidateForms/ValidateFormValidate.razor
  src/BootstrapBlazor.Shared/Demos/ValidateForms/ValidateFormValidatorAllField.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/ValidateForms.razor
  src/BootstrapBlazor.Shared/Samples/ValidateForms.razor.cs
Labels: documentation

#806 feat(InputNumber): support Icon theme
  src/BootstrapBlazor/Components/InputNumber/BootstrapInputNumber.razor
  src/BootstrapBlazor/Components/InputNumber/BootstrapInputNumber.razor.cs
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/BootstrapBlazor/Services/DefaultIconTheme.cs
Labels: enhancement

#808 feat(Layout): support Icon theme
  src/BootstrapBlazor/Components/Layout/Layout.razor
  src/BootstrapBlazor/Components/Layout/Layout.razor.cs
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/BootstrapBlazor/Services/DefaultIconTheme.cs
Labels: enhancement

#810 feat(LogoutLink): support Icon theme
  src/BootstrapBlazor/Components/Logout/LogoutLink.razor
  src/BootstrapBlazor/Components/Logout/LogoutLink.razor.cs
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/BootstrapBlazor/Services/DefaultIconTheme.cs
Labels: enhancement

#812 feat(Pagination): support Icon theme
  src/BootstrapBlazor/Components/Pagination/Pagination.razor.cs
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/BootstrapBlazor/Services/DefaultIconTheme.cs
Labels: enhancement

#814 feat(Rate): support Icon theme
  src/BootstrapBlazor/Components/InputNumber/BootstrapInputNumber.razor.cs
  src/BootstrapBlazor/Components/Rate/Rate.razor.cs
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/BootstrapBlazor/Services/DefaultIconTheme.cs
  test/UnitTest/Components/IPLocatorTest.cs
Labels: enhancement

#816 feat(RibbonTab): support Icon theme
  src/BootstrapBlazor/Components/RibbonTab/RibbonTab.razor.cs
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/BootstrapBlazor/Services/DefaultIconTheme.cs
Labels: enhancement

#818 feat(MultiSelect): support Icon theme
  src/BootstrapBlazor/Components/Select/MultiSelect.razor.cs
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/BootstrapBlazor/Services/DefaultIconTheme.cs
Labels: enhancement

#820 feat(SkeletonTree): support Icon theme
  src/BootstrapBlazor/Components/Skeleton/SkeletonTree.razor
  src/BootstrapBlazor/Components/Skeleton/SkeletonTree.razor.cs
  test/UnitTest/Components/SkeletonTest.cs
Labels: enhancement

#824 feat(Swal): support Icon theme
  src/BootstrapBlazor/Components/SweetAlert/SweetAlertBody.razor.cs
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/BootstrapBlazor/Services/DefaultIconTheme.cs
Labels: enhancement

#828 feat(Timer): support Icon theme
  src/BootstrapBlazor/Components/Select/SelectTree.razor.cs
  src/BootstrapBlazor/Components/Timer/Timer.razor
  src/BootstrapBlazor/Components/Timer/Timer.razor.cs
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/BootstrapBlazor/Services/DefaultIconTheme.cs
Labels: enhancement

#830 feat(Toast): support Icon theme
  src/BootstrapBlazor/Components/Toast/Toast.razor.cs
  src/BootstrapBlazor/Components/Toast/ToastOption.cs
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/BootstrapBlazor/Services/DefaultIconTheme.cs
Labels: enhancement

#832 feat(Transfer): support Icon theme
  src/BootstrapBlazor/Components/Tab/Tab.razor.cs
  src/BootstrapBlazor/Components/Transfer/Transfer.razor
  src/BootstrapBlazor/Components/Transfer/Transfer.razor.cs
  src/BootstrapBlazor/Components/Transfer/TransferPanel.razor
  src/BootstrapBlazor/Components/Transfer/TransferPanel.razor.cs
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/BootstrapBlazor/Services/DefaultIconTheme.cs
  test/UnitTest/Components/ToastTest.cs
Labels: enhancement

#834 doc: update Transfers demos
  src/BootstrapBlazor.Shared/Demos/Transfers/TransferBind.razor
  src/BootstrapBlazor.Shared/Demos/Transfers/TransferCustomer.razor
  src/BootstrapBlazor.Shared/Demos/Transfers/TransferDisable.razor
  src/BootstrapBlazor.Shared/Demos/Transfers/TransferItemClass.razor
  src/BootstrapBlazor.Shared/Demos/Transfers/TransferMinMax.razor
  src/BootstrapBlazor.Shared/Demos/Transfers/TransferNormal.razor
  src/BootstrapBlazor.Shared/Demos/Transfers/TransferSearch.razor
  src/BootstrapBlazor.Shared/Demos/Transfers/TransferValidate.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Transfers.razor
  src/BootstrapBlazor.Shared/Samples/Transfers.razor.cs
Labels: documentation

#836 doc: update Spinners demos
  src/BootstrapBlazor.Shared/Demos/Spinners/SpinnerColor.razor
  src/BootstrapBlazor.Shared/Demos/Spinners/SpinnerCustom.razor
  src/BootstrapBlazor.Shared/Demos/Spinners/SpinnerFlex.razor
  src/BootstrapBlazor.Shared/Demos/Spinners/SpinnerFloat.razor
  src/BootstrapBlazor.Shared/Demos/Spinners/SpinnerGrowing.razor
  src/BootstrapBlazor.Shared/Demos/Spinners/SpinnerGrowingColor.razor
  src/BootstrapBlazor.Shared/Demos/Spinners/SpinnerNormal.razor
  src/BootstrapBlazor.Shared/Demos/Spinners/SpinnerSize.razor
  src/BootstrapBlazor.Shared/Samples/Spinners.razor
Labels: documentation

#849 feat(Localizer): set reloadOnChagned parameter value to false
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/BootstrapBlazor/Extensions/LocalizationOptionsExtensions.cs
  src/BootstrapBlazor/Localization/Json/JsonLocalizationOptions.cs
  test/UnitTest/Utils/UtilityTest.cs
Labels: enhancement

#852 bug(Table): always edit first row in Excel mode
  src/BootstrapBlazor.Shared/Demos/Table/TablesExcel/TablesExcelOnQuery.razor
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.cs
Labels: bug

#854 feat(TreeView): support Icon theme
  src/BootstrapBlazor/Components/TreeView/TreeView.css
  src/BootstrapBlazor/Components/TreeView/TreeView.razor.cs
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/BootstrapBlazor/Services/DefaultIconTheme.cs
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
Labels: enhancement

#858 feat(Table): support Icon theme
  src/BootstrapBlazor/Attributes/TabItemOptionAttribute.cs
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/Components/Table/Table.razor.Localization.cs
  src/BootstrapBlazor/Components/Table/Table.razor.Toolbar.cs
  src/BootstrapBlazor/Components/Table/Table.razor.TreeNode.cs
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Components/Table/TableToolbar.razor
  src/BootstrapBlazor/Components/Table/TableToolbar.razor.cs
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/BootstrapBlazor/Services/DefaultIconTheme.cs
  test/UnitTest/Components/ButtonTest.cs
  test/UnitTest/Components/PrintTest.cs
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#860 feat(Tree): support Icon theme
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/Components/Table/Table.razor.Edit.cs
  src/BootstrapBlazor/Components/Table/Table.razor.TreeNode.cs
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Components/Tree/Tree.razor.cs
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#863 feat(Menu): support Icon theme
  src/BootstrapBlazor/Components/Menu/MenuLink.razor.cs
  src/BootstrapBlazor/Components/Menu/SideMenu.razor
  src/BootstrapBlazor/Components/Menu/SideMenu.razor.cs
  src/BootstrapBlazor/Components/Menu/SubMenu.razor
  src/BootstrapBlazor/Components/Menu/SubMenu.razor.cs
  src/BootstrapBlazor/Components/Menu/TopMenu.razor
  src/BootstrapBlazor/Components/Menu/TopMenu.razor.cs
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/BootstrapBlazor/Services/DefaultIconTheme.cs
Labels: enhancement

#865 feat(MenuLink): support Icon theme
  src/BootstrapBlazor/Components/Menu/MenuLink.razor.cs
  src/BootstrapBlazor/Components/Menu/SideMenu.razor
  src/BootstrapBlazor/Components/Menu/SideMenu.razor.cs
  src/BootstrapBlazor/Components/Menu/SubMenu.razor
  src/BootstrapBlazor/Components/Menu/SubMenu.razor.cs
  src/BootstrapBlazor/Components/Menu/TopMenu.razor
  src/BootstrapBlazor/Components/Menu/TopMenu.razor.cs
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/BootstrapBlazor/Services/DefaultIconTheme.cs
Labels: enhancement

#867 feat(Step): support Icon theme
  src/BootstrapBlazor/Components/Step/Step.razor.cs
  src/BootstrapBlazor/Components/Step/StepItem.cs
  src/BootstrapBlazor/Components/Step/Steps.razor.cs
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/BootstrapBlazor/Services/DefaultIconTheme.cs
Labels: enhancement

#868 feat(Upload): support Icon theme
  src/BootstrapBlazor/Components/Upload/AvatarUpload.razor
  src/BootstrapBlazor/Components/Upload/AvatarUpload.razor.cs
  src/BootstrapBlazor/Components/Upload/ButtonUpload.razor
  src/BootstrapBlazor/Components/Upload/ButtonUpload.razor.cs
  src/BootstrapBlazor/Components/Upload/ButtonUploadBase.cs
  src/BootstrapBlazor/Components/Upload/CardUpload.razor
  src/BootstrapBlazor/Components/Upload/CardUpload.razor.cs
  src/BootstrapBlazor/Components/Upload/InputUpload.razor.cs
  src/BootstrapBlazor/Components/Upload/UploadBase.css
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/BootstrapBlazor/Services/DefaultIconTheme.cs
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  test/UnitTest/Components/UploadTest.cs
Labels: enhancement

#870 fix(Toast): missing Icon on ToastOption
  src/BootstrapBlazor/Components/Toast/Toast.razor.cs
  test/UnitTest/Components/ToastTest.cs
Labels: bug

#872 feat(SelectedItem): add virtual keyword on Text property
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Misc/SelectedItem.cs
Labels: enhancement

#873 doc: update Footers demos
  src/BootstrapBlazor.Shared/Demos/Footers/FooterChildContent.razor
  src/BootstrapBlazor.Shared/Demos/Footers/FooterNormal.razor
  src/BootstrapBlazor.Shared/Demos/Footers/FooterShowGoto.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Footers.razor
  src/BootstrapBlazor.Shared/Samples/Footers.razor.cs
Labels: documentation

#874 doc: update FullScreens demos
  src/BootstrapBlazor.Shared/Demos/FullScreens/FullScreenNormal.razor
  src/BootstrapBlazor.Shared/Demos/FullScreens/FullScreenTitle.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/FullScreens.razor
  src/BootstrapBlazor.Shared/Samples/FullScreens.razor.cs
Labels: documentation

#877 doc: update Progresss demos
  src/BootstrapBlazor.Shared/Demos/Progresss/ProgressBinding.razor
  src/BootstrapBlazor.Shared/Demos/Progresss/ProgressColor.razor
  src/BootstrapBlazor.Shared/Demos/Progresss/ProgressDispalyValue.razor
  src/BootstrapBlazor.Shared/Demos/Progresss/ProgressDynamic.razor
  src/BootstrapBlazor.Shared/Demos/Progresss/ProgressHeight.razor
  src/BootstrapBlazor.Shared/Demos/Progresss/ProgressNormal.razor
  src/BootstrapBlazor.Shared/Demos/Progresss/ProgressStripe.razor
  src/BootstrapBlazor.Shared/Samples/Progresss.razor
  src/BootstrapBlazor.Shared/Samples/Progresss.razor.cs
Labels: documentation

#878 doc: update QRCodes demos
  src/BootstrapBlazor.Shared/Demos/QRCodes/QRCodeContent.razor
  src/BootstrapBlazor.Shared/Demos/QRCodes/QRCodeDarkColor.razor
  src/BootstrapBlazor.Shared/Demos/QRCodes/QRCodeNormal.razor
  src/BootstrapBlazor.Shared/Demos/QRCodes/QRCodeWidth.razor
  src/BootstrapBlazor.Shared/Samples/QRCodes.razor
  src/BootstrapBlazor.Shared/Samples/QRCodes.razor.cs
Labels: documentation

#880 doc: update Skeletons demos
  src/BootstrapBlazor.Shared/Demos/Skeletons/SkeletonsForm.razor
  src/BootstrapBlazor.Shared/Demos/Skeletons/SkeletonsImg.razor
  src/BootstrapBlazor.Shared/Demos/Skeletons/SkeletonsImg.razor.css
  src/BootstrapBlazor.Shared/Demos/Skeletons/SkeletonsParagraph.razor
  src/BootstrapBlazor.Shared/Demos/Skeletons/SkeletonsTable.razor
  src/BootstrapBlazor.Shared/Demos/Skeletons/SkeletonsTree.razor
  src/BootstrapBlazor.Shared/Samples/Skeletons.razor
Labels: documentation

#881 doc: update Sliders demos
  src/BootstrapBlazor.Shared/Demos/Sliders/SliderBinding.razor
  src/BootstrapBlazor.Shared/Demos/Sliders/SliderNormal.razor
  src/BootstrapBlazor.Shared/Samples/Sliders.razor
  src/BootstrapBlazor.Shared/Samples/Sliders.razor.cs
Labels: documentation

#882 doc: update PulseButtons demos
  src/BootstrapBlazor.Shared/Demos/PulseButtons/PulseButtonNormal.razor
  src/BootstrapBlazor.Shared/Samples/PulseButtons.razor
  src/BootstrapBlazor.Shared/Samples/PulseButtons.razor.cs
Labels: documentation

#886 doc: update Downloads demos
  src/BootstrapBlazor.Shared/Demos/Downloads/DownloadBigFile.razor
  src/BootstrapBlazor.Shared/Demos/Downloads/DownloadFolder.razor
  src/BootstrapBlazor.Shared/Demos/Downloads/DownloadImage.razor
  src/BootstrapBlazor.Shared/Demos/Downloads/DownloadNormal.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Downloads.razor
  src/BootstrapBlazor.Shared/Samples/Downloads.razor.cs
Labels: documentation

#887 doc: update FloatingLabels demos
  src/BootstrapBlazor.Shared/Demos/FloatingLabels/FloatingLabelBindValue.razor
  src/BootstrapBlazor.Shared/Demos/FloatingLabels/FloatingLabelDisabled.razor
  src/BootstrapBlazor.Shared/Demos/FloatingLabels/FloatingLabelDisplayText.razor
  src/BootstrapBlazor.Shared/Demos/FloatingLabels/FloatingLabelFormatString.razor
  src/BootstrapBlazor.Shared/Demos/FloatingLabels/FloatingLabelFormatter.razor
  src/BootstrapBlazor.Shared/Demos/FloatingLabels/FloatingLabelNormal.razor
  src/BootstrapBlazor.Shared/Demos/FloatingLabels/FloatingLabelPassword.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/FloatingLabels.razor
  src/BootstrapBlazor.Shared/Samples/FloatingLabels.razor.cs
Labels: documentation

#903 doc: update ValidateFormNormal Localizer
  src/BootstrapBlazor.Shared/Samples/ValidateForms.razor
Labels: documentation

#904 doc: update the Chart component bar demos
  src/BootstrapBlazor.Shared/Demos/Charts/Bar/BarAspectRatio.razor
  src/BootstrapBlazor.Shared/Demos/Charts/Bar/BarStacked.razor
  src/BootstrapBlazor.Shared/Demos/Charts/Bar/BarTwoYaxes.razor
  src/BootstrapBlazor.Shared/Demos/Charts/Bar/BarType.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Charts/Bar.razor
Labels: documentation

#875 doc: update Geolocations demos
  src/BootstrapBlazor.Shared/Demos/Geolocations/GeolocationNormal.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Geolocations.razor
  src/BootstrapBlazor.Shared/Samples/Geolocations.razor.cs
Labels: documentation

#901 feat(TextArea): add method for auto scroll to top/bottom
  src/BootstrapBlazor.Shared/Demos/Textareas/TextareasScroll.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Consoles.razor.cs
  src/BootstrapBlazor.Shared/Samples/Textareas.razor
  src/BootstrapBlazor.Shared/Samples/Textareas.razor.cs
  src/BootstrapBlazor/Components/Textarea/Textarea.razor
  src/BootstrapBlazor/Components/Textarea/Textarea.razor.cs
  src/BootstrapBlazor/wwwroot/modules/textarea.js
  test/UnitTest/Components/TextareaTest.cs
Labels: enhancement

#905 doc: update signaturepadResponsive demos
  src/BootstrapBlazor.Shared/Demos/SignaturePads/SignaturePadBase.razor
  src/BootstrapBlazor.Shared/Samples/SignaturePad/SignaturePadPageResponsive.razor
Labels: documentation

#907 feat(Topology): add Scale/Reset method on instance
  src/Extensions/Components/BootstrapBlazor.Topology/BootstrapBlazor.Topology.csproj
  src/Extensions/Components/BootstrapBlazor.Topology/Components/Topology/Topology.razor.cs
Labels: enhancement

#909 doc: update the chart component Doughnut demos
  src/BootstrapBlazor.Shared/Demos/Charts/Doughnut/DoughnutAspectRatio.razor
  src/BootstrapBlazor.Shared/Demos/Charts/Doughnut/DoughnutNormal.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Charts/Doughnut.razor
  src/BootstrapBlazor.Shared/Samples/Charts/Doughnut.razor.cs
Labels: documentation

#913 doc: update the chart component Line demos
  src/BootstrapBlazor.Shared/Demos/Charts/Line/LineBarAspectRatio.razor
  src/BootstrapBlazor.Shared/Demos/Charts/Line/LineNullable.razor
  src/BootstrapBlazor.Shared/Demos/Charts/Line/LineOnInit.razor
  src/BootstrapBlazor.Shared/Demos/Charts/Line/LineTension.razor
  src/BootstrapBlazor.Shared/Demos/Charts/Line/LineTwoYaxes.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Charts/Line.razor
  src/BootstrapBlazor.Shared/Samples/Charts/Line.razor.cs
Labels: documentation

#915 feat(Topology): add Resize method on Topology
  src/Extensions/Components/BootstrapBlazor.Topology/BootstrapBlazor.Topology.csproj
  src/Extensions/Components/BootstrapBlazor.Topology/Components/Topology/Topology.js
  src/Extensions/Components/BootstrapBlazor.Topology/Components/Topology/Topology.min.js
  src/Extensions/Components/BootstrapBlazor.Topology/Components/Topology/Topology.razor.cs
  src/Extensions/Components/BootstrapBlazor.Topology/wwwroot/js/bootstrap.blazor.topology.min.js
Labels: enhancement

#917 doc(Topology): update resize sample code
  src/BootstrapBlazor.Shared/Demos/Topologies/TopologiesNomal.razor
Labels: documentation

#919 doc(Install): update install document
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor/Components/Table/Table.razor
Labels: documentation

#921 feat(Editor): support localizer
  src/Extensions/Components/BootstrapBlazor.SummerNote/BootstrapBlazor.SummerNote.csproj
  src/Extensions/Components/BootstrapBlazor.SummerNote/Components/Editor/Editor.js
  src/Extensions/Components/BootstrapBlazor.SummerNote/wwwroot/js/bootstrap.blazor.editor.min.js
Labels: enhancement

#924 fix(Textarea): goto top not work
  src/BootstrapBlazor.Shared/Demos/Textareas/TextareasScroll.razor
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/wwwroot/modules/textarea.js
Labels: bug

#926 doc(Footer): add Internet Content Provider info
  src/BootstrapBlazor.Shared/Shared/HomeLayout.razor
Labels: documentation

#928 doc(Toast): update Toast document
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Toasts.razor
  src/BootstrapBlazor/Components/Toast/Toast.razor
  src/BootstrapBlazor/Components/Toast/Toast.razor.cs
  src/BootstrapBlazor/Services/DefaultIconTheme.cs
Labels: documentation

#930 feat(IconTheme): remove PopConfirmButtonContentIcon enum item
  src/BootstrapBlazor/Components/Button/PopConfirmButtonContent.razor
  src/BootstrapBlazor/Components/Button/PopConfirmButtonContent.razor.cs
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/BootstrapBlazor/Services/DefaultIconTheme.cs
  test/UnitTest/Components/PopConfirmButtonTest.cs
Labels: enhancement

#932 fix(Table): should not resize the fixed column
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor
Labels: bug
