Repository dotnetcore/BootstrapBlazor, pull requests merged in 2023-11, with the labels that each got.

#2306 feat(Select): add ClearSearchText method
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Select/Select.razor.cs
  test/UnitTest/Components/SelectTest.cs
Labels: enhancement

#2307 fix(Table): shown tooltip not in the table cell center
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Extensions/ITableColumnExtensions.cs
Labels: bug

#2309 feat(Table): add AdvancedSearchFilter callback
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.Search.cs
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  test/UnitTest/Components/TableDialogTest.cs
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#2311 fix(ValidateForm): OnValidSubmit runs before ValidateAsync
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/ValidateForm/ValidateForm.razor.cs
  test/UnitTest/Validators/ValidatorAsyncTest.cs
Labels: bug

#2304 doc(Block): incomplete code display
  src/BootstrapBlazor.Shared/Components/Pre.razor.cs
  src/BootstrapBlazor.Shared/Services/MockAuthenticationStateProvider.cs
Labels: documentation

#2313 refactor(AutoComplete): use scss style
  src/BootstrapBlazor.Shared/Samples/ValidateForms.razor.cs
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.scss
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.scss
  src/BootstrapBlazor/wwwroot/scss/root.scss
Labels: enhancement

#2315 refactor(AnchorLink): use scss style
  src/BootstrapBlazor/Components/AnchorLink/AnchorLink.razor.scss
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.scss
  test/UnitTest/UnitTest.csproj
Labels: enhancement

#2317 refactor(Avatar): use scss style
  src/BootstrapBlazor/Components/Avatar/Avatar.razor.scss
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.scss
Labels: enhancement

#2319 refactor(Button): use scss style of Button component
  src/BootstrapBlazor/Components/Badge/Badge.razor.scss
  src/BootstrapBlazor/Components/Button/Button.razor.scss
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.scss
Labels: enhancement

#2322 refactor(Calendar): use scss style
  src/BootstrapBlazor.Shared/Components/CalendarCrewCell.razor.css
  src/BootstrapBlazor.Shared/Samples/Calendars.razor.css
  src/BootstrapBlazor/Components/Calendar/Calendar.razor
  src/BootstrapBlazor/Components/Calendar/Calendar.razor.cs
  src/BootstrapBlazor/Components/Calendar/Calendar.razor.scss
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.scss
  src/BootstrapBlazor/wwwroot/scss/root.scss
Labels: enhancement

#2324 doc(Table): update sample code
  src/BootstrapBlazor.Shared/Components/CultureChooser.razor.css
  src/BootstrapBlazor.Shared/Samples/Table/TablesRow.razor
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
Labels: enhancement

#2326 refactor(Captcha): use scss style
  src/BootstrapBlazor/Components/Camera/Camera.razor.scss
  src/BootstrapBlazor/Components/Captcha/Captcha.razor
  src/BootstrapBlazor/Components/Captcha/Captcha.razor.scss
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
Labels: enhancement

#2328 refactor(Card): use scss style
  src/BootstrapBlazor/Components/Captcha/Captcha.razor.scss
  src/BootstrapBlazor/Components/Card/Card.razor.scss
  src/BootstrapBlazor/Components/Carousel/Carousel.razor.scss
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.scss
Labels: enhancement

#2330 refactor(Drawer): use scss style
  src/BootstrapBlazor/Components/ContextMenu/ContextMenu.razor.scss
  src/BootstrapBlazor/Components/Divider/Divider.razor
  src/BootstrapBlazor/Components/Divider/Divider.razor.scss
  src/BootstrapBlazor/Components/Drawer/Drawer.razor.scss
  src/BootstrapBlazor/Locales/en.json
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.scss
Labels: enhancement

#2332 fix(Markdown): missing zh-CN localization
  src/BootstrapBlazor.Shared/BootstrapBlazor.Shared.csproj
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/Extensions/Components/BootstrapBlazor.Markdown/BootstrapBlazor.Markdown.csproj
  src/Extensions/Components/BootstrapBlazor.Markdown/Components/Markdown/Markdown.razor.cs
  src/Extensions/Components/BootstrapBlazor.Markdown/Components/Markdown/Markdown.razor.js
Labels: bug

#2335 refactor(Widget/Empty): use scss style
  src/BootstrapBlazor/Components/DropdownWidget/DropdownWidget.razor.scss
  src/BootstrapBlazor/Components/Empty/Empty.razor.scss
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.scss
Labels: enhancement

#2337 refactor(Tab): revert Items property to IEnumerable
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Tab/Tab.razor.cs
Labels: enhancement

#2341 refactor(TableFilter): update scss style
  src/BootstrapBlazor/Components/FileIcon/FileIcon.razor.scss
  src/BootstrapBlazor/Components/Filters/TableFilter.razor.scss
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.scss
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#2339 feat(Gantt ): add gantt component
  BootstrapBlazor.sln
  src/BootstrapBlazor.Shared/BootstrapBlazor.Shared.csproj
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Gantts.razor
  src/BootstrapBlazor.Shared/Samples/Gantts.razor.cs
  src/BootstrapBlazor.Shared/docs.json
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/Extensions/Components/BootstrapBlazor.Grantt/BootstrapBlazor.Gantt.csproj
  src/Extensions/Components/BootstrapBlazor.Grantt/Components/Gantt.razor
  src/Extensions/Components/BootstrapBlazor.Grantt/Components/Gantt.razor.cs
  src/Extensions/Components/BootstrapBlazor.Grantt/Components/Gantt.razor.css
  src/Extensions/Components/BootstrapBlazor.Grantt/Components/Gantt.razor.js
  src/Extensions/Components/BootstrapBlazor.Grantt/Components/GanttItem.cs
  src/Extensions/Components/BootstrapBlazor.Grantt/Components/GanttOption.cs
  src/Extensions/Components/BootstrapBlazor.Grantt/Components/GanttViewMode.cs
  src/Extensions/Components/BootstrapBlazor.Grantt/logo.png
  src/Extensions/Components/BootstrapBlazor.Grantt/wwwroot/css/frappe-gantt.min.css
  src/Extensions/Components/BootstrapBlazor.Grantt/wwwroot/js/frappe-gantt.min.js
Labels: enhancement

#2343 doc(Table): update table filter sample code
  src/BootstrapBlazor.Shared/Samples/Table/TablesFilter.razor
  src/BootstrapBlazor/BootstrapBlazor.csproj
Labels: documentation

#2345 refactor(Topology): update style code
  src/BootstrapBlazor.Shared/BootstrapBlazor.Shared.csproj
  src/Extensions/Components/BootstrapBlazor.Topology/BootstrapBlazor.Topology.csproj
  src/Extensions/Components/BootstrapBlazor.Topology/Components/Topology/Topology.razor
  src/Extensions/Components/BootstrapBlazor.Topology/Components/Topology/Topology.razor.cs
  src/Extensions/Components/BootstrapBlazor.Topology/Components/Topology/Topology.razor.css
Labels: enhancement

#2347 refactor(scss): update variable in scss file
  src/BootstrapBlazor/Components/Alert/Alert.razor.scss
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.scss
  src/BootstrapBlazor/Components/Badge/Badge.razor.scss
  src/BootstrapBlazor/Components/Button/DialButton.razor.scss
  src/BootstrapBlazor/Components/Button/PopConfirmButtonContent.razor.scss
  src/BootstrapBlazor/Components/Button/PulseButton.razor.scss
  src/BootstrapBlazor/Components/Button/SlideButton.razor.scss
  src/BootstrapBlazor/Components/Card/Card.razor.scss
  src/BootstrapBlazor/Components/Checkbox/Checkbox.razor.scss
  src/BootstrapBlazor/Components/Checkbox/CheckboxList.razor.scss
  src/BootstrapBlazor/Components/Collapse/Collapse.razor.scss
  src/BootstrapBlazor/Components/Console/Console.razor.scss
  src/BootstrapBlazor/Components/Divider/Divider.razor.scss
  src/BootstrapBlazor/Components/Footer/Footer.razor.scss
  src/BootstrapBlazor/Components/Step/Step.razor.scss
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.scss
Labels: enhancement

#2349 refactor(Drawer): update style file use variable
  src/BootstrapBlazor/Components/ContextMenu/ContextMenu.razor.scss
  src/BootstrapBlazor/Components/Drawer/Drawer.razor.scss
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.scss
Labels: enhancement

#2351 fix(Table): not trigger OnResizeColumnAsync callback
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.js
Labels: bug

#2353 chore(Nuget): remove nuget.blazor.zone source
  BootstrapBlazor.sln
  NuGet.Config
  global.json
Labels: chore

#2355 fix(ValidateForm): async validate failed
  src/BootstrapBlazor/Components/ValidateForm/ValidateForm.razor.cs
Labels: bug

#2357 refactor(Step): update style variable
  src/BootstrapBlazor.Shared/Components/ThemeChooser.razor.js
  src/BootstrapBlazor/Components/Step/Step.razor.scss
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.scss
Labels: enhancement

#2359 refactor(GoTop): update scss use variable
  src/BootstrapBlazor/Components/FullScreen/FullScreen.razor.scss
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
Labels: enhancement

#2361 refactor(IpAddress): update javascript
  src/BootstrapBlazor.Shared/Samples/GoTops.razor
  src/BootstrapBlazor/Components/GoTop/GoTop.razor.scss
  src/BootstrapBlazor/Components/IpAddress/IpAddress.razor.js
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.scss
Labels: enhancement

#2363 refactor(GroupBox): update style use variable
  src/BootstrapBlazor/Components/GroupBox/GroupBox.razor.scss
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.scss
Labels: enhancement

#2365 refactor(IpAddress): redesign interaction
  src/BootstrapBlazor.Shared/Samples/Ips.razor.cs
  src/BootstrapBlazor/Components/IpAddress/IpAddress.razor
  src/BootstrapBlazor/Components/IpAddress/IpAddress.razor.js
Labels: enhancement

#2367 fix(Table): can't resize column when use dynamic data
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.Toolbar.cs
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Components/Table/Table.razor.js
  src/BootstrapBlazor/Components/Table/Table.razor.scss
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
Labels: bug

#2369 fix(table): missing drag event when use dynamic data
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.js
  test/UnitTest/Components/PaginationTest.cs
Labels: bug

#2371 chore(NET8): support net8.0
  .github/workflows/auto-pull-request-checks.yml
  .github/workflows/build.yml
  .github/workflows/pack.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  Framework.props
  scripts/linux/deploy-blazor.sh
  src/BootstrapBlazor.Shared/BootstrapBlazor.Shared.csproj
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/Extensions/Components/BootstrapBlazor.AzureOpenAI/BootstrapBlazor.AzureOpenAI.csproj
  src/Extensions/Components/BootstrapBlazor.AzureSpeech/BootstrapBlazor.AzureSpeech.csproj
  src/Extensions/Components/BootstrapBlazor.BaiduOcr/BootstrapBlazor.BaiduOcr.csproj
  src/Extensions/Components/BootstrapBlazor.BaiduSpeech/BootstrapBlazor.BaiduSpeech.csproj
  src/Extensions/Components/BootstrapBlazor.BarCode/BootstrapBlazor.BarCode.csproj
  src/Extensions/Components/BootstrapBlazor.Chart/BootstrapBlazor.Chart.csproj
  src/Extensions/Components/BootstrapBlazor.CherryMarkdown/BootstrapBlazor.CherryMarkdown.csproj
  src/Extensions/Components/BootstrapBlazor.CodeEditor/BootstrapBlazor.CodeEditor.csproj
  src/Extensions/Components/BootstrapBlazor.Dock/BootstrapBlazor.Dock.csproj
  src/Extensions/Components/BootstrapBlazor.FloatingUI/BootstrapBlazor.FloatingUI.csproj
  src/Extensions/Components/BootstrapBlazor.FontAwesome/BootstrapBlazor.FontAwesome.csproj
  src/Extensions/Components/BootstrapBlazor.Grantt/BootstrapBlazor.Gantt.csproj
  src/Extensions/Components/BootstrapBlazor.Html2Pdf/BootstrapBlazor.Html2Pdf.csproj
  src/Extensions/Components/BootstrapBlazor.Live2DDisplay/BootstrapBlazor.Live2DDisplay.csproj
  src/Extensions/Components/BootstrapBlazor.Markdown/BootstrapBlazor.Markdown.csproj
  src/Extensions/Components/BootstrapBlazor.MaterialDesign.Extensions/BootstrapBlazor.MaterialDesign.Extensions.csproj
  src/Extensions/Components/BootstrapBlazor.MaterialDesign/BootstrapBlazor.MaterialDesign.csproj
  src/Extensions/Components/BootstrapBlazor.MouseFollower/BootstrapBlazor.MouseFollower.csproj
  src/Extensions/Components/BootstrapBlazor.Splitting/BootstrapBlazor.Splitting.csproj
  src/Extensions/Components/BootstrapBlazor.SummerNote/BootstrapBlazor.SummerNote.csproj
  src/Extensions/Components/BootstrapBlazor.TableExport/BootstrapBlazor.TableExport.csproj
  src/Extensions/Components/BootstrapBlazor.Topology/BootstrapBlazor.Topology.csproj
  src/Extensions/DataServices/BootstrapBlazor.DataAccess.EntityFrameworkCore/BootstrapBlazor.DataAccess.EntityFrameworkCore.csproj
  src/Extensions/DataServices/BootstrapBlazor.DataAccess.FreeSql/BootstrapBlazor.DataAccess.FreeSql.csproj
  src/Extensions/DataServices/BootstrapBlazor.DataAccess.PetaPoco/BootstrapBlazor.DataAccess.PetaPoco.csproj
  src/Frameworks.props
  src/Middleware/BootstrapBlazor.Middleware/BootstrapBlazor.Middleware.csproj
  src/Middleware/BootstrapBlazor.Middleware/BootstrapBlazorApplicationBuilderExtensions.cs
  src/Wasm/BootstrapBlazor.WebAssembly.ClientHost/BootstrapBlazor.WebAssembly.ClientHost.csproj
  src/Wasm/BootstrapBlazor.WebAssembly.ServerHost/BootstrapBlazor.WebAssembly.ServerHost.csproj
  test/UniTest.Sass/UniTest.Sass.csproj
  test/UnitTest.Localization/UnitTest.Localization.csproj
  test/UnitTest/Components/MenuTest.cs
  test/UnitTest/UnitTest.csproj
  test/UnitTestDocs/UnitTestDocs.csproj
  test/UnitTestEditor/UnitTestEditor.csproj
Labels: enhancement

#2373 doc(Gantt): update project folder name
  .github/workflows/release.yml
  src/Extensions/Components/BootstrapBlazor.Gantt/BootstrapBlazor.Gantt.csproj
  src/Extensions/Components/BootstrapBlazor.Gantt/Components/Gantt.razor
  src/Extensions/Components/BootstrapBlazor.Gantt/Components/Gantt.razor.cs
  src/Extensions/Components/BootstrapBlazor.Gantt/Components/Gantt.razor.css
  src/Extensions/Components/BootstrapBlazor.Gantt/Components/Gantt.razor.js
  src/Extensions/Components/BootstrapBlazor.Gantt/Components/GanttItem.cs
  src/Extensions/Components/BootstrapBlazor.Gantt/Components/GanttOption.cs
  src/Extensions/Components/BootstrapBlazor.Gantt/Components/GanttViewMode.cs
  src/Extensions/Components/BootstrapBlazor.Gantt/logo.png
  src/Extensions/Components/BootstrapBlazor.Gantt/wwwroot/css/frappe-gantt.min.css
  src/Extensions/Components/BootstrapBlazor.Gantt/wwwroot/js/frappe-gantt.min.js
Labels: documentation

#2375 chore(Release): update github action script
  .github/workflows/release.yml
  src/BootstrapBlazor.Shared/Directory.Build.targets
  src/Bundle.props
  src/Version.targets
  src/WebCompiler.props
Labels: chore

#2379 refactor(ImagePreview): update scss use variable
  src/BootstrapBlazor/Components/ImagePreviewer/ImagePreviewer.razor.scss
  src/BootstrapBlazor/Components/ImageViewer/ImageViewer.razor.scss
  src/BootstrapBlazor/Components/IpAddress/IpAddress.razor.scss
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.scss
Labels: enhancement

#2377 chore(bundle): ignore bundle files
  .gitignore
  scripts/linux/ba.blazor.service
  src/BootstrapBlazor.Server/appsettings.Development.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Directory.Build.props
  src/BootstrapBlazor/bundleconfig.json
  src/BootstrapBlazor/compilerconfig.json
  src/BootstrapBlazor/compilerconfig.json.defaults
  src/BootstrapBlazor/package.json
  src/BootstrapBlazor/sasscompiler.json
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor-dark.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor-dark.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrap.blazor-dark.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrap.blazor.scss
  src/Bundle.props
  src/Directory.Build.props
  src/WebCompiler.props
Labels: documentation

#2381 refactor(Sass): update Sass pacakge reference
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/Bundle.props
Labels: enhancement

#2383 refactor(Layout): update scss file use variable
  src/BootstrapBlazor/Components/Layout/Layout.razor.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrap.blazor.scss
Labels: enhancement

#2391 refactor(Light): update scss use variable
  BootstrapBlazor.sln
  src/BootstrapBlazor.Server/Components/Samples/Lights.razor
  src/BootstrapBlazor/Components/Light/Light.razor.scss
  src/BootstrapBlazor/Components/Table/Table.razor.scss
  src/BootstrapBlazor/Components/ValidateForm/ValidateForm.razor.scss
Labels: enhancement

#2393 refactor(AutoComplete): update auto-complete style
  src/BootstrapBlazor.Server/Locales/en.json
  src/BootstrapBlazor.Server/Locales/zh.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.scss
  src/BootstrapBlazor/Components/Select/Select.razor.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrap.blazor.scss
Labels: enhancement

#2395 chore(Solution): update project dependence of unit test
  exclusion.dic
  src/BootstrapBlazor.Server/AIChat/Chats.razor
  src/BootstrapBlazor.Server/AIChat/Chats.razor.cs
  src/BootstrapBlazor.Server/AIChat/OAuth/AzureOpenAIUser.cs
  src/BootstrapBlazor.Server/AIChat/OAuth/OAuthHelper.cs
  src/BootstrapBlazor.Server/Extensions/ServicesExtensions.cs
  src/BootstrapBlazor.Server/docs.json
  test/UniTest.Sass/UniTest.Sass.csproj
  test/UniTest.Sass/VariableTest.cs
  test/UnitTest.Localization/Locales/en.json
  test/UnitTest.Localization/Locales/zh.json
  test/UnitTest.Localization/LocalizerEnTest.cs
  test/UnitTest.Localization/LocalizerZhTest.cs
  test/UnitTest.Localization/UnitTest.Localization.csproj
  test/UnitTestDocs/MenuTest.cs
  test/UnitTestDocs/UnitTestDocs.csproj
  test/UnitTestEditor/EditorTest.cs
  test/UnitTestEditor/UnitTestEditor.csproj
Labels: enhancement

#2399 refator(Editor): update style for wrap toolbar
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/Extensions/Components/BootstrapBlazor.Markdown/wwwroot/css/bootstrap.blazor.markdown.min.css
  src/Extensions/Components/BootstrapBlazor.SummerNote/BootstrapBlazor.SummerNote.csproj
  src/Extensions/Components/BootstrapBlazor.SummerNote/Components/Editor/Editor.css
  src/Extensions/Components/BootstrapBlazor.SummerNote/wwwroot/css/bootstrap.blazor.editor.min.css
Labels: enhancement

#2401 doc(Version): update version string trim suffix
  src/BootstrapBlazor.Server/Components/Layout/HomeLayout.razor
  src/BootstrapBlazor.Server/Services/PackageVersionService.cs
  src/BootstrapBlazor.Server/docs.json
Labels: documentation

#2405 doc(Layout): update sass file
  src/BootstrapBlazor.Server/Components/Samples/LayoutPages.razor
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Layout/Layout.razor.scss
Labels: documentation

#2406 feat(LookupFilter): support LookupServiceKey
  src/BootstrapBlazor/Components/Filters/TableFilter.razor
  src/BootstrapBlazor/Components/Filters/TableFilter.razor.cs
Labels: bug

#2408 doc(Chart): update Chart line type sample code
  src/BootstrapBlazor.Server/Components/Samples/Charts/Line.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Charts/Line.razor.js
  src/BootstrapBlazor/BootstrapBlazor.csproj
Labels: documentation

#2413 feat(Table): use localstorage keep table column width
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/ColumnWidth.cs
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Components/Table/Table.razor.js
Labels: enhancement

#2415 doc(Table): update sample code
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesColumnResizing.razor
  src/BootstrapBlazor.Server/Locales/zh.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Components/Table/Table.razor.js
Labels: documentation

#2416 refactor: update table resize support fix header
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesColumnResizing.razor
  src/BootstrapBlazor/Components/Table/Table.razor.cs
Labels: enhancement

#2418 refactor(Captcha): update javascript
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Captcha/Captcha.razor.js
  test/UnitTest/Components/QueryBuilderTest.cs
Labels: enhancement

#2421 doc(Chart): update line chart sample code
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Layout/PageLayout.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Charts/Line.razor
  src/BootstrapBlazor.Server/Components/Samples/Charts/Line.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Charts/Line.razor.js
  src/BootstrapBlazor/Components/Menu/MenuLink.razor.cs
  src/Extensions/Components/BootstrapBlazor.Chart/BootstrapBlazor.Chart.csproj
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/Chart.razor
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/Chart.razor.cs
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/Chart.razor.js
  src/Extensions/Components/BootstrapBlazor.SummerNote/wwwroot/css/bootstrap.blazor.editor.min.css
Labels: documentation

#2409 feat(LookupFilter): add IsShowSearch parameter
  README.zh-CN.md
  src/BootstrapBlazor/Components/Filters/LookupFilter.razor
  src/BootstrapBlazor/Components/Filters/LookupFilter.razor.cs
  src/BootstrapBlazor/Components/Filters/TableFilter.razor
Labels: enhancement

#2429 fix(Multiple): can't close item when set IsPopover to true
  src/BootstrapBlazor.Server/Locales/en.json
  src/BootstrapBlazor.Server/Locales/zh.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Select/MultiSelect.razor.cs
Labels: bug

#2432 fix(Localizer): can't find json stream when inconsistent namespace and assembly name
  src/BootstrapBlazor.Server/Extensions/ServicesExtensions.cs
  src/BootstrapBlazor/Extensions/LocalizationOptionsExtensions.cs
  test/UnitTest/Core/BootstrapBlazorTestBase.cs
  test/UnitTest/Core/DialogTestBase.cs
  test/UnitTest/Core/MessageTestBase.cs
  test/UnitTest/Core/PopoverTestBase.cs
  test/UnitTest/Core/SwalTestBase.cs
  test/UnitTest/Core/TabTestBase.cs
  test/UnitTest/Core/TableDialogTestBase.cs
  test/UnitTest/Core/TablePopConfirmTestBase.cs
  test/UnitTest/Core/TableSortDialogTestBase.cs
  test/UnitTest/Core/TableTestBase.cs
  test/UnitTest/Core/ValidateFormTestBase.cs
  test/UnitTest/Localization/JsonStringLocalizerTest.cs
  test/UnitTestDocs/MenuTest.cs
Labels: bug

#2435 chore(Light): use variable in sass file
  src/BootstrapBlazor/Components/Light/Light.razor.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrap.blazor.scss
Labels: chore

#2439 test(Table): add unit test improve code coverage
  src/BootstrapBlazor/Components/Filters/TableFilter.razor.cs
  test/UnitTest/Components/ImageTest.cs
  test/UnitTest/Components/TableFilterTest.cs
  test/UnitTest/Components/TableLookupFilterTest.cs
  test/UnitTest/Components/TableTest.cs
Labels: test

#2441 doc(AIChat): update sample code
  src/BootstrapBlazor.Server/AIChat/Chats.razor
  src/BootstrapBlazor.Server/AIChat/OAuth/AzureOpenAIUser.cs
  src/BootstrapBlazor.Server/AIChat/OAuth/OAuthHelper.cs
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Pages/Chats.razor
  src/BootstrapBlazor.Server/Components/Pages/Chats.razor.cs
  src/BootstrapBlazor.Server/Components/Pages/Chats.razor.css
  src/BootstrapBlazor.Server/Components/Pages/Chats.razor.js
  src/BootstrapBlazor.Server/Controllers/AccountController.cs
  src/BootstrapBlazor.Server/Extensions/ServicesExtensions.cs
  src/BootstrapBlazor.Server/Locales/en.json
  src/BootstrapBlazor.Server/Locales/zh.json
  src/BootstrapBlazor.Server/Program.cs
  src/Extensions/Components/BootstrapBlazor.AzureOpenAI/BootstrapBlazor.AzureOpenAI.csproj
  src/Extensions/Components/BootstrapBlazor.AzureOpenAI/Extensions/ServiceCollectionExtensions.cs
  src/Extensions/Components/BootstrapBlazor.AzureOpenAI/Services/AzureOpenAIService.cs
Labels: documentation

#2445 refactor(ListGrup): use variable in sass file
  src/BootstrapBlazor/Components/ListGroup/ListGroup.razor.scss
  src/BootstrapBlazor/Components/ListView/ListView.razor.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrap.blazor.scss
Labels: chore

#2447 refactor(Logout): use variable in Logout sass file
  src/BootstrapBlazor/Components/Logout/Logout.razor.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrap.blazor.scss
Labels: chore

#2452 refactor(Menu): use variable in sass file
  src/BootstrapBlazor/Components/Menu/Menu.razor.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrap.blazor.scss
Labels: chore

#2454 doc(Block): update Block component sample code
  src/BootstrapBlazor.Server/Components/Samples/Blocks.razor
  src/BootstrapBlazor.Server/Extensions/ServicesExtensions.cs
Labels: documentation
