Repository dotnetcore/BootstrapBlazor, pull requests merged in 2023-09, with the labels that each got.

#2043 refactor(Footer): update scss file
  src/BootstrapBlazor/Components/Footer/Footer.razor.scss
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.scss
Labels: enhancement

#2041 refactor(Splitting): rename loader to splitting
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Loaders.razor
  src/BootstrapBlazor.Shared/Samples/Splittings.razor
  src/BootstrapBlazor.Shared/Samples/Splittings.razor.cs
  src/BootstrapBlazor.Shared/Samples/Splittings.razor.css
  src/BootstrapBlazor.Shared/docs.json
  src/BootstrapBlazor/Components/Loader/Loader.razor
  src/BootstrapBlazor/Components/Loader/Loader.razor.js
  src/BootstrapBlazor/Components/Loader/Loader.razor.scss
  src/BootstrapBlazor/Components/Splitting/Splitting.razor
  src/BootstrapBlazor/Components/Splitting/Splitting.razor.cs
  src/BootstrapBlazor/Components/Splitting/Splitting.razor.js
  src/BootstrapBlazor/Components/Splitting/Splitting.razor.scss
  src/BootstrapBlazor/Locales/en.json
  src/BootstrapBlazor/Locales/zh.json
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.scss
  src/BootstrapBlazor/wwwroot/scss/components.scss
  test/UnitTest/Components/SplittingTest.cs
Labels: enhancement

#2046 feat(Table): support update PageIndex/PageItems in query process
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.Edit.cs
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#2048 feat(Table): custom search support IsDraggable/ShowMaximizeButton
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.Search.cs
Labels: enhancement

#2050 feat(Table): auto height function compatible with mobile
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Table/TablesSearch.razor
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Components/Table/Table.razor.js
  src/BootstrapBlazor/Components/Table/Table.razor.scss
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#2054 feat(Empty): update scss file
  src/BootstrapBlazor/Components/Empty/Empty.razor.scss
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
Labels: enhancement

#2055 doc(SlideButton): update demo layout
  src/BootstrapBlazor.Shared/Samples/SlideButtons.razor
  src/BootstrapBlazor.Shared/Samples/SlideButtons.razor.css
  src/BootstrapBlazor/Components/Button/SlideButton.razor.cs
  src/BootstrapBlazor/Components/Button/SlideButton.razor.js
  src/BootstrapBlazor/Components/Button/SlideButton.razor.scss
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
  test/UnitTest/Components/SlideButtonTest.cs
Labels: documentation

#2062 refactor(FullScreen): update scss file
  src/BootstrapBlazor/Components/FullScreen/FullScreen.razor.scss
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
Labels: enhancement

#2065 feat(QueryBuilder): add QueryBuilder component
  BootstrapBlazor.sln
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/QueryBuilders.razor
  src/BootstrapBlazor.Shared/Samples/QueryBuilders.razor.cs
  src/BootstrapBlazor.Shared/Samples/Table/TablesCell.razor.cs
  src/BootstrapBlazor.Shared/docs.json
  src/BootstrapBlazor/Components/Menu/MenuItem.cs
  src/BootstrapBlazor/Components/QueryBuilder/QueryBuilder.razor
  src/BootstrapBlazor/Components/QueryBuilder/QueryBuilder.razor.cs
  src/BootstrapBlazor/Components/QueryBuilder/QueryBuilder.razor.scss
  src/BootstrapBlazor/Components/QueryBuilder/QueryColumn.cs
  src/BootstrapBlazor/Components/QueryBuilder/QueryGroup.cs
  src/BootstrapBlazor/Components/Select/PopoverSelectBase.cs
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/BootstrapBlazor/Extensions/EnumExtensions.cs
  src/BootstrapBlazor/Locales/en.json
  src/BootstrapBlazor/Locales/zh.json
  src/BootstrapBlazor/Options/IconThemeOptions.cs
  src/BootstrapBlazor/Utils/Utility.cs
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
  src/BootstrapBlazor/wwwroot/scss/components.scss
  src/Extensions/Components/BootstrapBlazor.MaterialDesign.Extensions/DefaultIcon.cs
  test/UnitTest/Components/LayoutTest.cs
  test/UnitTest/Components/QueryBuilderTest.cs
  test/UnitTest/Utils/UtilityTest.cs
Labels: enhancement

#2064 refactor(GoTop): update scss file
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/GoTop/GoTop.razor.scss
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
Labels: enhancement

#2068 refactor(GroupBox): update scss file
  src/BootstrapBlazor/Components/GroupBox/GroupBox.razor.scss
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
Labels: enhancement

#2071 feat(MouseFollower): Gsap.js referenced from BootstrapBlazor
  src/Extensions/Components/BootstrapBlazor.MouseFollower/Components/MouseFollower/MouseFollower.razor.js
  src/Extensions/Components/BootstrapBlazor.MouseFollower/wwwroot/gsap.js
  src/Extensions/Components/BootstrapBlazor.MouseFollower/wwwroot/gsap.min.js
Labels: enhancement

#2073 feat(Table): support partial columns
  exclusion.dic
  src/BootstrapBlazor.Shared/Samples/Table/TablesColumnList.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesColumnList.razor.cs
  src/BootstrapBlazor.Shared/Services/CodeSnippetService.cs
  src/BootstrapBlazor.Shared/Shared/ComponentLayout.razor.js
  src/BootstrapBlazor.Shared/Shared/NavMenu.razor.js
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/Components/Table/Table.razor.Toolbar.cs
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  test/UnitTest/Components/MenuTest.cs
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#2069 feat(MindMap): add MindMap component #2066
  src/BootstrapBlazor.Server/wwwroot/images/MindMap.jpg
  src/BootstrapBlazor.Shared/BootstrapBlazor.Shared.csproj
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Pages/Coms.razor
  src/BootstrapBlazor.Shared/Samples/MindMaps/MindMaps.razor
  src/BootstrapBlazor.Shared/Samples/MindMaps/MindMaps.razor.cs
  src/BootstrapBlazor.Shared/Samples/MindMaps/MindMapsSamples.razor.cs
  src/BootstrapBlazor.Shared/docs.json
Labels: enhancement

#2077 refactor(Splitting): Splitting into independent components
  BootstrapBlazor.sln
  src/BootstrapBlazor.Shared/BootstrapBlazor.Shared.csproj
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Samples/Splittings.razor
  src/BootstrapBlazor.Shared/Samples/Splittings.razor.cs
  src/BootstrapBlazor/Components/Splitting/Splitting.razor.scss
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.scss
  src/BootstrapBlazor/wwwroot/scss/components.scss
  src/Extensions/Components/BootstrapBlazor.MouseFollower/Components/MouseFollower/MouseFollower.razor.js
  src/Extensions/Components/BootstrapBlazor.MouseFollower/wwwroot/gsap.min.js
  src/Extensions/Components/BootstrapBlazor.Splitting/BootstrapBlazor.Splitting.csproj
  src/Extensions/Components/BootstrapBlazor.Splitting/Components/Splitting/Splitting.razor
  src/Extensions/Components/BootstrapBlazor.Splitting/Components/Splitting/Splitting.razor.cs
  src/Extensions/Components/BootstrapBlazor.Splitting/Components/Splitting/Splitting.razor.css
  src/Extensions/Components/BootstrapBlazor.Splitting/Components/Splitting/Splitting.razor.js
  src/Extensions/Components/BootstrapBlazor.Splitting/_Imports.razor
  src/Extensions/Components/BootstrapBlazor.Splitting/logo.png
  src/Extensions/Components/BootstrapBlazor.Splitting/wwwroot/lib/splitting/splitting-cells.css
  src/Extensions/Components/BootstrapBlazor.Splitting/wwwroot/lib/splitting/splitting.css
  src/Extensions/Components/BootstrapBlazor.Splitting/wwwroot/lib/splitting/splitting.min.js
  src/Extensions/Components/BootstrapBlazor.Splitting/wwwroot/modules/gsap.min.js
  test/UnitTest/Components/SplittingTest.cs
Labels: enhancement

#2080 feat(Steps): redesign Steps component
  exclusion.dic
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Steps.razor
  src/BootstrapBlazor.Shared/Samples/Steps.razor.cs
  src/BootstrapBlazor/Components/Step/StepItem.cs
  src/BootstrapBlazor/Components/Step/Steps.razor.cs
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  test/UnitTest/Components/DialogTest.cs
  test/UnitTest/Components/QueryBuilderTest.cs
  test/UnitTest/Components/TableTest.cs
  test/UnitTest/UnitTest.csproj
  test/UnitTest/Utils/JSModuleTest.cs
Labels: enhancement

#2082 feat(ListView): add GroupOrderCallback parameter
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/ListViews.razor
  src/BootstrapBlazor.Shared/Samples/ListViews.razor.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/ListView/ListView.razor
  src/BootstrapBlazor/Components/ListView/ListView.razor.cs
  test/UnitTest/Components/ListViewTest.cs
Labels: enhancement

#2085 feat(Step): add Step component
  exclusion.dic
  src/BootstrapBlazor.Shared/Components/Pre.razor.cs
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Steps.razor
  src/BootstrapBlazor.Shared/Samples/Steps.razor.cs
  src/BootstrapBlazor.Shared/Samples/Steps.razor.css
  src/BootstrapBlazor.Shared/Samples/WebSerials.razor
  src/BootstrapBlazor.Shared/Samples/WebSerials.razor.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Step/Step.razor
  src/BootstrapBlazor/Components/Step/Step.razor.cs
  src/BootstrapBlazor/Components/Step/Step.razor.scss
  src/BootstrapBlazor/Components/Step/StepItem.cs
  src/BootstrapBlazor/Components/Step/StepOption.cs
  src/BootstrapBlazor/Components/Step/Steps.razor
  src/BootstrapBlazor/Components/Step/Steps.razor.cs
  src/BootstrapBlazor/Components/Step/Steps.razor.scss
  src/BootstrapBlazor/Options/IconThemeOptions.cs
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
  src/BootstrapBlazor/wwwroot/scss/components.scss
  test/UnitTest/Components/StepTest.cs
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#2087 refactor(Captcha): modify slider verification code footer style
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Captcha/Captcha.razor.scss
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
  test/UnitTest/Components/ButtonTest.cs
Labels: bug

#2089 doc(readme): update readme doc
  README.zh-CN.md
Labels: documentation

#2092 feat(DateTimeRangeValue): update Start/End to nullable date type
  exclusion.dic
  src/BootstrapBlazor.Shared/Samples/DateTimeRanges.razor.cs
  src/BootstrapBlazor/Components/DateTimePicker/DatePickerBody.razor.cs
  src/BootstrapBlazor/Components/DateTimeRange/DateTimeRange.razor.cs
  src/BootstrapBlazor/Components/DateTimeRange/DateTimeRangeValue.cs
  src/BootstrapBlazor/Extensions/DateTimeRangeValueExtensions.cs
  src/BootstrapBlazor/Validators/DateTimeRangeRequiredValidator.cs
  test/UniTest.Sass/VariableTest.cs
  test/UnitTest/Components/DateTimeRangeTest.cs
  test/UnitTest/Components/LayoutTest.cs
  test/UnitTest/Components/MenuTest.cs
  test/UnitTest/Components/TreeViewTest.cs
  test/UnitTest/Components/UploadTest.cs
  test/UnitTest/Validators/DateTimeRangeRangeRequiredValidatorTest.cs
Labels: enhancement

#2090 refactor(WebSerial): update WebSerial function
  src/BootstrapBlazor.Shared/BootstrapBlazor.Shared.csproj
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/WebSerials.razor
  src/BootstrapBlazor.Shared/Samples/WebSerials.razor.cs
  src/BootstrapBlazor.Shared/Samples/WebSerials.razor.css
  test/UnitTest/Components/LayoutTest.cs
Labels: enhancement

#2098 feat(FontAweseom): upgrade to 6.4.2
  BootstrapBlazor.sln
  Directory.Build.props
  exclusion.dic
  src/BootstrapBlazor.Shared/BootstrapBlazor.Shared.csproj
  src/BootstrapBlazor/Directory.Build.props
  src/Bundle.props
  src/Directory.Build.props
  src/Extensions/Components/BootstrapBlazor.FontAwesome/BootstrapBlazor.FontAwesome.csproj
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/css/font-awesome.min.css
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/fa/all.css
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/fa/all.min.css
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/webfonts/fa-brands-400.ttf
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/webfonts/fa-brands-400.woff2
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/webfonts/fa-regular-400.ttf
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/webfonts/fa-regular-400.woff2
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/webfonts/fa-solid-900.ttf
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/webfonts/fa-solid-900.woff2
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/webfonts/fa-v4compatibility.ttf
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/webfonts/fa-v4compatibility.woff2
  src/Extensions/Components/BootstrapBlazor.Markdown/BootstrapBlazor.Markdown.csproj
  src/Extensions/Components/BootstrapBlazor.MaterialDesign.Extensions/BootstrapBlazor.MaterialDesign.Extensions.csproj
  src/Extensions/Components/BootstrapBlazor.MaterialDesign/BootstrapBlazor.MaterialDesign.csproj
  src/Extensions/Components/BootstrapBlazor.SummerNote/BootstrapBlazor.SummerNote.csproj
  src/WebCompiler.props
Labels: enhancement

#2096 refactor(Sass): update scss file
  exclusion.dic
  src/BootstrapBlazor.Server/Pages/_Layout.cshtml
  src/BootstrapBlazor.Shared/Components/CultureChooser.razor
  src/BootstrapBlazor.Shared/Components/CultureChooser.razor.css
  src/BootstrapBlazor.Shared/Components/UpdateIntro.razor.cs
  src/BootstrapBlazor.Shared/Components/UpdateIntro.razor.js
  src/BootstrapBlazor/Components/Alert/Alert.razor.scss
  src/BootstrapBlazor/Components/Handwritten/Handwritten.razor.scss
  src/BootstrapBlazor/Components/ImagePreviewer/ImagePreviewer.razor.scss
  src/BootstrapBlazor/Components/ImageViewer/ImageViewer.razor.scss
  src/BootstrapBlazor/Components/Input/BootstrapInputGroup.razor.scss
  src/BootstrapBlazor/Components/Input/FloatingLabel.razor.scss
  src/BootstrapBlazor/Components/IpAddress/IpAddress.razor.scss
  src/BootstrapBlazor/Components/Layout/Layout.razor.scss
  src/BootstrapBlazor/Components/Light/Light.razor.scss
  src/BootstrapBlazor/Components/Step/Step.razor.scss
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.scss
Labels: enhancement

#2099 feat(Camera): supports different resolutions
  src/BootstrapBlazor.Shared/Components/Pre.razor.cs
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Cameras.razor
  src/BootstrapBlazor.Shared/Samples/Cameras.razor.cs
  src/BootstrapBlazor.Shared/docs.json
  src/BootstrapBlazor/Components/Camera/Camera.razor
  src/BootstrapBlazor/Components/Camera/Camera.razor.cs
  src/BootstrapBlazor/Components/Camera/Camera.razor.js
  src/BootstrapBlazor/Locales/en.json
  src/BootstrapBlazor/Locales/zh.json
  test/UnitTest/Components/ButtonTest.cs
  test/UnitTest/Components/CameraTest.cs
  test/UnitTest/Components/TreeViewTest.cs
  test/UnitTest/Components/UploadTest.cs
  test/UnitTest/Mock/MockJSStreamReference.cs
  test/UnitTestDocs/MenuTest.cs
Labels: documentation

#2094 feat(WebSpeech): add WebSpeech component
  src/BootstrapBlazor.Server/wwwroot/images/WebSpeech.jpg
  src/BootstrapBlazor.Shared/BootstrapBlazor.Shared.csproj
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Pages/Coms.razor
  src/BootstrapBlazor.Shared/Samples/CountUps.razor.cs
  src/BootstrapBlazor.Shared/Samples/InputGroups.razor
  src/BootstrapBlazor.Shared/Samples/WebSpeechs.razor
  src/BootstrapBlazor.Shared/Samples/WebSpeechs.razor.cs
  src/BootstrapBlazor.Shared/Samples/WebSpeechs.razor.css
  src/BootstrapBlazor.Shared/docs.json
Labels: enhancement

#2101 feat(QueryPageOptions): add ToFilterFunc/ToFilterLambda extensions method
  exclusion.dic
  src/BootstrapBlazor.Shared/Samples/Table/TablesFilter.razor.cs
  src/BootstrapBlazor.Shared/Samples/Table/TablesSearch.razor.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Extensions/LambdaExtensions.cs
  src/BootstrapBlazor/Extensions/QueryPageOptionsExtensions.cs
  src/BootstrapBlazor/Options/QueryPageOptions.cs
  test/UnitTest/Extensions/QueryPageOptionsExtensionsTest.cs
Labels: enhancement

#2103 refactor(Camera): support switch device by call update
  src/BootstrapBlazor.Shared/Samples/Cameras.razor.cs
  src/BootstrapBlazor/Components/Camera/Camera.razor.js
Labels: enhancement

#2105 chore(Table): refactor code improve readability
  exclusion.dic
  src/BootstrapBlazor.Shared/Data/Foo.cs
  src/BootstrapBlazor/Attributes/AutoGenerateBaseAttribute.cs
  src/BootstrapBlazor/Attributes/AutoGenerateColumnAttribute.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.Sort.cs
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Extensions/ITableColumnExtensions.cs
  src/BootstrapBlazor/Extensions/ObjectExtensions.cs
  src/BootstrapBlazor/Utils/Utility.cs
  test/UnitTest/Components/TableTest.cs
  test/UnitTest/Extensions/ITableColumnExtensionsTest.cs
Labels: chore

#2107 chore(Table): revert add visible on AutoGenerateBaseAttribute
  src/BootstrapBlazor.Shared/Samples/Table/TablesColumn.razor.cs
  src/BootstrapBlazor/Attributes/AutoGenerateBaseAttribute.cs
  src/BootstrapBlazor/Attributes/AutoGenerateColumnAttribute.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Switch/NullSwitch.razor.cs
  src/BootstrapBlazor/Extensions/ITableColumnExtensions.cs
  src/BootstrapBlazor/Utils/Utility.cs
  test/UnitTest/Components/LogoutTest.cs
  test/UnitTest/Components/MenuTest.cs
  test/UnitTest/Components/ModalDialogTest.cs
  test/UnitTest/Components/TableTest.cs
  test/UnitTest/Components/TreeViewTest.cs
  test/UnitTest/Components/ValidateTest.cs
  test/UnitTest/Extensions/ITableColumnExtensionsTest.cs
Labels: chore

#2111 chore(test): update Test
  README.md
  README.zh-CN.md
  src/BootstrapBlazor.Shared/Pages/Localization.razor
  src/BootstrapBlazor/Components/Checkbox/Checkbox.razor.cs
  src/BootstrapBlazor/Components/Input/BootstrapInputGroup.razor.scss
  src/BootstrapBlazor/Components/Speech/SpeechWave.razor.cs
  src/BootstrapBlazor/Components/Validate/ValidateBase.cs
  src/BootstrapBlazor/Extensions/ObjectExtensions.cs
  src/BootstrapBlazor/Utils/Utility.cs
  test/UniTest.Sass/VariableTest.cs
  test/UnitTest/Components/CheckboxListTest.cs
  test/UnitTest/Components/IPLocatorTest.cs
  test/UnitTest/Components/ValidateTest.cs
Labels: chore

#2113 doc(ContextMenu): add sample code for ContextMenu
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/ContextMenus.razor
  src/BootstrapBlazor.Shared/Samples/ContextMenus.razor.cs
  src/BootstrapBlazor/Localization/Json/JsonStringLocalizer.cs
Labels: documentation

#2115 feat(PetaPoco): update PetaPoco support OrElse expression
  src/BootstrapBlazor/Components/Table/Table.razor.Toolbar.cs
  src/Extensions/DataServices/BootstrapBlazor.DataAccess.PetaPoco/BootstrapBlazor.DataAccess.PetaPoco.csproj
  src/Extensions/DataServices/BootstrapBlazor.DataAccess.PetaPoco/DatabaseExtensions.cs
Labels: enhancement

#2118 feat(EnumFilter): support more then one filter
  src/BootstrapBlazor/Components/Filters/EnumFilter.razor
  src/BootstrapBlazor/Components/Filters/EnumFilter.razor.cs
  src/BootstrapBlazor/Components/Filters/TableFilter.razor
  test/UnitTest/Components/TableEnumFilterTest.cs
Labels: enhancement

#2120 feat(TableFilter): set multiple filters not work
  src/BootstrapBlazor.Shared/Samples/Table/TablesFixedHeader.razor
  src/BootstrapBlazor/Components/Filters/EnumFilter.razor.cs
  src/BootstrapBlazor/Components/Filters/FilterKeyValueAction.cs
  src/BootstrapBlazor/Components/Filters/TableFilter.razor
  src/BootstrapBlazor/Components/Filters/TableFilter.razor.cs
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/Frameworks.props
  test/UnitTest/Components/TableEnumFilterTest.cs
Labels: enhancement

#2124 feat(TableFilter): remove step default value
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Filters/TableFilter.razor.cs
  src/BootstrapBlazor/Components/InputNumber/BootstrapInputNumber.razor.cs
  src/BootstrapBlazor/Components/ValidateForm/ValidateForm.razor.scss
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
  src/Frameworks.props
Labels: enhancement

#2130 refactor(InputNumber): update step parameter
  src/BootstrapBlazor/Components/InputNumber/BootstrapInputNumber.razor.cs
  test/UnitTest/Components/InputNumberTest.cs
Labels: enhancement

#2128 refactor(DateTimeRangeValue): add nullable value
  src/BootstrapBlazor.Shared/Samples/DateTimeRanges.razor.cs
  src/BootstrapBlazor/Components/DateTimePicker/DatePickerBody.razor.cs
  src/BootstrapBlazor/Components/DateTimeRange/DateTimeRange.razor.cs
  src/BootstrapBlazor/Components/DateTimeRange/DateTimeRangeValue.cs
  src/BootstrapBlazor/Extensions/DateTimeRangeValueExtensions.cs
  src/BootstrapBlazor/Options/TableSettings.cs
  src/BootstrapBlazor/Validators/DateTimeRangeRequiredValidator.cs
  test/UnitTest/Components/DateTimeRangeTest.cs
  test/UnitTest/Components/TableTest.cs
  test/UnitTest/Components/ValidateTest.cs
Labels: chore

#2126 fix(ModalDialog): add save return value check
  src/BootstrapBlazor/Components/Modal/ModalDialog.razor.cs
Labels: bug

#2132 feat(ListGroup): add ListGroup component
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/ListGroup/ListGroup.razor
  src/BootstrapBlazor/Components/ListGroup/ListGroup.razor.cs
  test/UnitTest/Components/TableTest.cs
  test/UnitTest/Components/UploadTest.cs
Labels: enhancement

#2134 doc(ListGroup): add sample code
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/ListGroups.razor
  src/BootstrapBlazor.Shared/Samples/ListGroups.razor.cs
  src/BootstrapBlazor.Shared/Samples/ListGroups.razor.css
  src/BootstrapBlazor.Shared/docs.json
  src/BootstrapBlazor/Components/ListGroup/ListGroup.razor
  src/BootstrapBlazor/Components/ListGroup/ListGroup.razor.cs
  src/BootstrapBlazor/Components/ListGroup/ListGroup.razor.scss
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
  src/BootstrapBlazor/wwwroot/scss/components.scss
Labels: documentation

#2136 refactor(MultiSelect): remove the label for display text
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Select/MultiSelect.razor
Labels: enhancement

#2138 test(ListGroup): add unit test for ListGroup
  test/UnitTest/Components/ListGroupTest.cs
Labels: test

#2140 refactor(ListGroup): add HeaderText parameter
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/ListGroups.razor
  src/BootstrapBlazor.Shared/Samples/ListGroups.razor.cs
  src/BootstrapBlazor.Shared/Samples/MultiSelects.razor
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/ListGroup/ListGroup.razor
  src/BootstrapBlazor/Components/ListGroup/ListGroup.razor.cs
  src/BootstrapBlazor/Components/ListGroup/ListGroup.razor.scss
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
  test/UnitTest/Components/ListGroupTest.cs
Labels: enhancement

#2142 feat(Step): add FinishedTemplate parameter
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Steps.razor
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Step/Step.razor
  src/BootstrapBlazor/Components/Step/Step.razor.cs
  test/UnitTest/Components/StepTest.cs
Labels: enhancement

#2144 fix(Table): step parameter not work when set AutoGenerateColumn to true
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Extensions/ITableColumnExtensions.cs
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  test/UnitTest/Extensions/ITableColumnExtensionsTest.cs
Labels: bug

#2154 feat(Row): update form-label style
  src/BootstrapBlazor/Components/Row/Row.razor.scss
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
  test/UnitTest/Components/UploadTest.cs
Labels: enhancement

#2156 feat(table): add OnAfterDeleteAsync/OnAfterModifyAsync parameter
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.Edit.cs
  src/BootstrapBlazor/Components/Table/Table.razor.Toolbar.cs
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#2157 fix(Table): edit dialog display component support FormatString parameter
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Utils/Utility.cs
  test/UnitTest/Components/TableTest.cs
  test/UnitTest/Utils/UtilityTest.cs
Labels: bug

#2161 doc(Table): update EditTemplate sample
  src/BootstrapBlazor.Shared/Components/DemoTableEditTemplate.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Table/Tables.razor.cs
  src/BootstrapBlazor.Shared/Samples/Table/TablesEdit.razor
  src/BootstrapBlazor/Components/Row/Row.razor.scss
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
Labels: documentation

#2165 feat(MultiSelect): prevent height resizing
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Select/MultiSelect.razor.cs
  src/BootstrapBlazor/Components/Select/MultiSelect.razor.scss
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
  test/UnitTest/Components/MultiSelectTest.cs
Labels: enhancement

#2174 chore(Table): throw InvalidOperationException when set both Items and OnQueryAsync
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Components/Table/Table.razor.scss
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
  test/UnitTest/Components/TableTest.cs
Labels: chore

#2177 refactor(ButtonPulse): update scss file
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Button/PulseButton.razor.scss
  src/BootstrapBlazor/Components/Checkbox/CheckboxList.razor.scss
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
Labels: enhancement

#2179 feat(TableExport): add ExportCsvAsync function
  src/BootstrapBlazor.Shared/BootstrapBlazor.Shared.csproj
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Table/TablesExport.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesExport.razor.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.Toolbar.cs
  src/BootstrapBlazor/Services/DefaultExcelExport.cs
  src/BootstrapBlazor/Services/ITableExcelExport.cs
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/Extensions/Components/BootstrapBlazor.TableExport/BootstrapBlazor.TableExport.csproj
  src/Extensions/Components/BootstrapBlazor.TableExport/ExcelExport.cs
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#2182 feat(Table): add IsFirstQuery parameter on Table
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.Edit.cs
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Options/QueryPageOptions.cs
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#2184 feat(Table): add IsAutoQueryFirstRender parameter
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.Edit.cs
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#2186 fix(ListView): GroupOrderCallback not work
  src/BootstrapBlazor/Components/ListView/ListView.razor.cs
Labels: bug

#2188 feat(TableColumn): add IsMarkupString parameter
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Table/Tables.razor.cs
  src/BootstrapBlazor/Attributes/AutoGenerateColumnAttribute.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/ITableColumn.cs
  src/BootstrapBlazor/Components/Table/InternalTableColumn.cs
  src/BootstrapBlazor/Components/Table/TableColumn.cs
  src/BootstrapBlazor/Extensions/ITableColumnExtensions.cs
  test/UnitTest/Attributes/AutoGenerateClassTest.cs
  test/UnitTest/Components/TableColumnTest.cs
  test/UnitTest/Components/TableTest.cs
  test/UnitTest/Extensions/ITableColumnExtensionsTest.cs
  test/UnitTest/Misc/MockTableColumn.cs
Labels: enhancement

#2192 fix(Table): filter incorrect after update column visible
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor
Labels: bug

#2193 feat(Tab): support drag/drop function
  src/BootstrapBlazor/Components/Tab/Tab.razor
  src/BootstrapBlazor/Components/Tab/Tab.razor.cs
  src/BootstrapBlazor/Components/Tab/Tab.razor.js
  src/BootstrapBlazor/Components/Tab/Tab.razor.scss
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
  test/UnitTest/Components/TabTest.cs
Labels: enhancement

#2195 feat(Select): add DisableItemChangedWhenFirstRender parameter
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Select/Select.razor.cs
  test/UnitTest/Components/SelectTest.cs
Labels: enhancement

#2197 doc(Tab): add drag sample code
  src/BootstrapBlazor.Shared/Components/ThemeChooser.razor.css
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Tabs.razor
  src/BootstrapBlazor.Shared/Samples/Tabs.razor.cs
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  test/UnitTest/Components/LinkButtonTest.cs
Labels: documentation

#2199 doc(Select): update document
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/MultiSelects.razor.cs
  src/BootstrapBlazor.Shared/Samples/Selects.razor.cs
Labels: documentation

#2201 fix(TableExport): default file extension always csv
  src/BootstrapBlazor.Shared/BootstrapBlazor.Shared.csproj
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/Extensions/Components/BootstrapBlazor.TableExport/BootstrapBlazor.TableExport.csproj
  src/Extensions/Components/BootstrapBlazor.TableExport/ExcelExport.cs
Labels: bug

#2204 fix(MenuLink): always active if href equal "/"
  src/BootstrapBlazor/Components/Menu/MenuLink.razor.cs
Labels: bug

#2206 chore(Rate): update sass file
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Rate/Rate.razor.scss
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.css
  src/BootstrapBlazor/wwwroot/scss/bootstrap.blazor.min.css
Labels: chore

#2209 doc(TableExport): update package
  src/BootstrapBlazor.Shared/BootstrapBlazor.Shared.csproj
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/Extensions/Components/BootstrapBlazor.TableExport/BootstrapBlazor.TableExport.csproj
Labels: documentation
