Repository dotnetcore/BootstrapBlazor, pull requests merged in 2023-06, with the labels that each got.

#1327 doc(Localization): update en localization
  src/BootstrapBlazor/Locales/en.json
Labels: documentation

#1331 fix(Validate): tooltip title incorrect
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/wwwroot/modules/validate.js
Labels: bug

#1333 feat(Tooltip): support update title
  src/BootstrapBlazor/Components/Tooltip/Tooltip.razor.js
Labels: enhancement

#1336 fix(GetVersion) publish to single file get version incorrect #1328
  src/BootstrapBlazor/Services/DefaultJSVersionService.cs
Labels: bug

#1335 feat(Bootstrap): update bootstrap 5.3.0
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/IFrame/IFrame.razor.js
  src/BootstrapBlazor/wwwroot/core/bootstrap/css/bootstrap.css
  src/BootstrapBlazor/wwwroot/core/bootstrap/css/bootstrap.min.css
  src/BootstrapBlazor/wwwroot/core/bootstrap/js/bootstrap.bundle.js
  src/BootstrapBlazor/wwwroot/core/bootstrap/js/bootstrap.bundle.min.js
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/js/bootstrap.blazor.bundle.js
  src/BootstrapBlazor/wwwroot/js/bootstrap.blazor.bundle.min.js
  test/UnitTest/Components/TreeViewTest.cs
Labels: enhancement

#1338 refactor(Carousel): update indicator for bootstrap 5.3.0
  src/BootstrapBlazor.Shared/Pages/Index.razor.css
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Carousel/Carousel.razor
Labels: chore

#1341 fix(Transition): duration parameter not work
  src/BootstrapBlazor.Shared/Demos/Transitions/TransitionsEndCallback.razor
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Transition/Transition.razor.cs
  src/BootstrapBlazor/Components/Transition/Transition.razor.js
Labels: bug

#1342 fix(EditorForm): custom placeholders are not working in GroupBox
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Extensions/ITableColumnExtensions.cs
  test/UnitTest/Extensions/ITableColumnExtensionsTest.cs
Labels: bug

#1344 refactor(Tooltip): support real-time title updates
  src/BootstrapBlazor.Shared/Components/AIChat.razor
  src/BootstrapBlazor.Shared/Components/AIChat.razor.cs
  src/BootstrapBlazor.Shared/Components/AIChat.razor.css
  src/BootstrapBlazor.Shared/Components/AIChat.razor.js
  src/BootstrapBlazor.Shared/Components/ThemeChooser.razor.css
  src/BootstrapBlazor.Shared/Components/ThemeChooser.razor.js
  src/BootstrapBlazor.Shared/Shared/BaseLayout.razor
  src/BootstrapBlazor/Components/Button/Button.razor.js
  src/BootstrapBlazor/Components/Button/ButtonBase.cs
  src/BootstrapBlazor/Components/IFrame/IFrame.razor.js
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  test/UnitTest/Components/ButtonTest.cs
  test/UnitTest/Components/InputTest.cs
Labels: triage

#1346 doc(Index): add AI-Chat button
  src/BootstrapBlazor.Shared/Components/AIChat.razor
  src/BootstrapBlazor.Shared/Components/AIChat.razor.cs
  src/BootstrapBlazor.Shared/Components/AIChat.razor.css
  src/BootstrapBlazor.Shared/Components/AIChat.razor.js
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Shared/BaseLayout.razor
  src/BootstrapBlazor.Shared/Shared/BaseLayout.razor.cs
  src/BootstrapBlazor.Shared/Shared/BaseLayout.razor.css
  src/BootstrapBlazor/Components/Upload/CardUpload.razor
  src/BootstrapBlazor/Components/Upload/CardUpload.razor.cs
  test/UnitTest/Components/UploadTest.cs
Labels: documentation

#1349 feat(Dialog): add ShowResize parameter on ModalDialog
  src/BootstrapBlazor.Server/Controllers/AccountController.cs
  src/BootstrapBlazor.Server/Pages/_Layout.cshtml
  src/BootstrapBlazor.Server/appsettings.Development.json
  src/BootstrapBlazor.Shared/Components/UpdateIntro.razor.cs
  src/BootstrapBlazor.Shared/Demos/Topologies/TopologiesNormal.razor
  src/BootstrapBlazor.Shared/Demos/Topologies/TopologiesNormal.razor.js
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/topology.json
  src/BootstrapBlazor/Components/ErrorLogger/ErrorLogger.cs
  src/BootstrapBlazor/Components/Layout/Layout.razor.cs
  src/BootstrapBlazor/Components/Modal/Modal.css
  src/BootstrapBlazor/Components/Modal/Modal.razor.js
  src/BootstrapBlazor/Components/Modal/ModalDialog.razor
  src/BootstrapBlazor/Components/Modal/ModalDialog.razor.cs
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/modules/autoredirect.js
  test/UnitTest/Components/ModalDialogTest.cs
Labels: enhancement

#1351 fix(IConfiguration): throw exception use BootstrapBlazor in WinForm/WPF
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Extensions/BootstrapBlazorServiceCollectionExtensions.cs
  src/BootstrapBlazor/Extensions/ConfigurationExtensions.cs
Labels: enhancement

#1353 doc(Dialog): add ShowResize sample code
  src/BootstrapBlazor.Server/appsettings.Development.json
  src/BootstrapBlazor.Shared/Demos/Dialog/DialogResize.razor
  src/BootstrapBlazor.Shared/Demos/Modals/ModalsDialogResize.razor
  src/BootstrapBlazor.Shared/Demos/Modals/ModalsShownCallbackAsync.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Dialogs.razor
  src/BootstrapBlazor.Shared/Samples/Modals.razor
  src/BootstrapBlazor/Components/Dialog/Dialog.razor.cs
  src/BootstrapBlazor/Components/Dialog/DialogOption.cs
  src/BootstrapBlazor/Components/Modal/Modal.css
  src/BootstrapBlazor/Components/Modal/Modal.razor.js
  src/BootstrapBlazor/Components/Modal/ModalDialog.razor
  src/BootstrapBlazor/Components/Modal/ModalDialog.razor.cs
  src/BootstrapBlazor/Components/Modal/ModalDialog.razor.js
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/css/motronic.min.css
  src/BootstrapBlazor/wwwroot/src/css/motronic.css
  test/UnitTest/Components/DialogTest.cs
Labels: documentation

#1358 fix(Camera): stop track failed in dispose
  src/BootstrapBlazor/Components/Camera/Camera.razor.js
Labels: bug

#1361 fix(ValidateForm): validate tooltip dispose throw exception
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/modules/validate.js
Labels: bug

#1363 refactor(IEditorItem): add virtual key word on sub class
  src/BootstrapBlazor/Attributes/AutoGenerateColumnAttribute.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/EditorForm/EditorItem.cs
  src/BootstrapBlazor/Components/Table/InternalTableColumn.cs
  src/BootstrapBlazor/Components/Table/TableColumn.cs
Labels: triage

#1365 feat(Dock): add BootstrapBlazor.Dock lib
  BootstrapBlazor.sln
  src/BootstrapBlazor.Shared/BootstrapBlazor.Shared.csproj
  src/BootstrapBlazor.Shared/Demos/DockView/DockViewCol.razor
  src/BootstrapBlazor.Shared/Demos/DockView/DockViewComplex.razor
  src/BootstrapBlazor.Shared/Demos/DockView/DockViewNest.razor
  src/BootstrapBlazor.Shared/Demos/DockView/DockViewRow.razor
  src/BootstrapBlazor.Shared/Demos/DockView/DockViewStack.razor
  src/BootstrapBlazor.Shared/Demos/DockView/DockViewVisible.razor
  src/BootstrapBlazor.Shared/Demos/DockView/_Imports.razor
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/DockViews.razor
  src/BootstrapBlazor.Shared/Shared/DockLayout.razor
  src/BootstrapBlazor.Shared/Shared/DockLayout.razor.cs
  src/BootstrapBlazor.Shared/Shared/DockLayout.razor.css
  src/BootstrapBlazor.Shared/Shared/DockLayout.razor.js
  src/Extensions/Components/BootstrapBlazor.Dock/BootstrapBlazor.Dock.csproj
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockComponent.cs
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockContent.cs
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockContentType.cs
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockView.razor
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockView.razor.cs
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockView.razor.js
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockViewConfig.cs
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/IDockComponent.cs
  src/Extensions/Components/BootstrapBlazor.Dock/Converters/DockComponentConverter.cs
  src/Extensions/Components/BootstrapBlazor.Dock/Converters/DockContentRootConverter.cs
  src/Extensions/Components/BootstrapBlazor.Dock/Converters/DockTypeConverter.cs
  src/Extensions/Components/BootstrapBlazor.Dock/Extensions/DockContentExtensions.cs
  src/Extensions/Components/BootstrapBlazor.Dock/logo.png
  src/Extensions/Components/BootstrapBlazor.Dock/wwwroot/css/goldenlayout-base.css
  src/Extensions/Components/BootstrapBlazor.Dock/wwwroot/css/goldenlayout-bb.css
  src/Extensions/Components/BootstrapBlazor.Dock/wwwroot/css/goldenlayout-light-theme.css
  src/Extensions/Components/BootstrapBlazor.Dock/wwwroot/images/lm_close_black.png
  src/Extensions/Components/BootstrapBlazor.Dock/wwwroot/images/lm_close_tab_white.png
  src/Extensions/Components/BootstrapBlazor.Dock/wwwroot/images/lm_close_white.png
  src/Extensions/Components/BootstrapBlazor.Dock/wwwroot/images/lm_maximise_black.png
  src/Extensions/Components/BootstrapBlazor.Dock/wwwroot/images/lm_maximise_white.png
  src/Extensions/Components/BootstrapBlazor.Dock/wwwroot/images/lm_minimize_black.png
  src/Extensions/Components/BootstrapBlazor.Dock/wwwroot/images/lm_minimize_white.png
  src/Extensions/Components/BootstrapBlazor.Dock/wwwroot/images/lm_popin_black.png
  src/Extensions/Components/BootstrapBlazor.Dock/wwwroot/images/lm_popin_white.png
  src/Extensions/Components/BootstrapBlazor.Dock/wwwroot/images/lm_popout_black.png
  src/Extensions/Components/BootstrapBlazor.Dock/wwwroot/images/lm_popout_white.png
  src/Extensions/Components/BootstrapBlazor.Dock/wwwroot/js/golden-layout.js
  src/Extensions/Components/BootstrapBlazor.Dock/wwwroot/js/golden-layout.min.js
Labels: enhancement

#1367 feat(DockView): auto update component item title
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockView.razor.js
Labels: enhancement

#1369 feat(DockView): auto-update component item visible state
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockView.razor.js
Labels: enhancement

#1371 feat(DockView): auto-update tab via original title
  src/BootstrapBlazor.Shared/Shared/DockLayout.razor.cs
  src/Extensions/Components/BootstrapBlazor.Dock/BootstrapBlazor.Dock.csproj
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockView.razor.js
Labels: enhancement

#1373 feat(RibbonTab): add Render method
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/RibbonTab/RibbonTab.razor
  src/BootstrapBlazor/Components/RibbonTab/RibbonTab.razor.cs
Labels: enhancement

#1377 feat(Topology): add OnResize observer
  src/Extensions/Components/BootstrapBlazor.Topology/BootstrapBlazor.Topology.csproj
  src/Extensions/Components/BootstrapBlazor.Topology/Components/Topology/Topology.razor
  src/Extensions/Components/BootstrapBlazor.Topology/Components/Topology/Topology.razor.cs
  src/Extensions/Components/BootstrapBlazor.Topology/Components/Topology/Topology.razor.js
Labels: enhancement

#1379 feat(Topology): support use in Modal
  src/Extensions/Components/BootstrapBlazor.Topology/BootstrapBlazor.Topology.csproj
  src/Extensions/Components/BootstrapBlazor.Topology/Components/Topology/Topology.razor.js
Labels: enhancement

#1382 fix(Topology): throw exception on PushData method
  src/Extensions/Components/BootstrapBlazor.Topology/BootstrapBlazor.Topology.csproj
  src/Extensions/Components/BootstrapBlazor.Topology/Components/Topology/Topology.razor.cs
Labels: bug

#1385 feat(DockView): support save layout on client side
  src/Extensions/Components/BootstrapBlazor.Dock/BootstrapBlazor.Dock.csproj
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockComponent.cs
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockContent.cs
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockView.razor.cs
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockView.razor.js
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockViewConfig.cs
Labels: enhancement

#1387 feat(Chart): support change labels font size
  src/BootstrapBlazor.Shared/BootstrapBlazor.Shared.csproj
  src/BootstrapBlazor.Shared/Demos/Charts/Line/LineChartJS.razor.js
  src/BootstrapBlazor.Shared/Demos/Charts/Line/LineOnInit.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/Extensions/Components/BootstrapBlazor.Chart/BootstrapBlazor.Chart.csproj
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/Chart.razor.js
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/ChartOptions.cs
Labels: enhancement

#1390 doc(Table): update set highlight style sample
  src/BootstrapBlazor.Shared/wwwroot/css/site.css
  test/UnitTest/Components/RibbonTabTest.cs
Labels: documentation

#1392 refactor(CherryMarkdown): update JavaScript lib to v0.8.18
  src/Extensions/Components/BootstrapBlazor.CherryMarkdown/BootstrapBlazor.CherryMarkdown.csproj
  src/Extensions/Components/BootstrapBlazor.CherryMarkdown/wwwroot/js/cherry-markdown.min.js
Labels: enhancement

#1394 refactor(PopConfirmButton): auto close other shown popup confirm window
  src/BootstrapBlazor/Components/Button/PopConfirmButton.razor.js
Labels: enhancement

#1401 feat(CheckboxList): add IsButton parameter
  src/BootstrapBlazor.Shared/Demos/CheckboxList/CheckboxListIsButton.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/CheckboxLists.razor
  src/BootstrapBlazor/Components/Checkbox/Checkbox.razor
  src/BootstrapBlazor/Components/Checkbox/Checkbox.razor.cs
  src/BootstrapBlazor/Components/Checkbox/CheckboxList.css
  src/BootstrapBlazor/Components/Checkbox/CheckboxList.razor
  src/BootstrapBlazor/Components/Checkbox/CheckboxList.razor.cs
  src/BootstrapBlazor/Components/Radio/Radio.razor
  src/BootstrapBlazor/Components/Radio/Radio.razor.cs
  src/BootstrapBlazor/Components/Radio/RadioList.css
  src/BootstrapBlazor/Components/Radio/RadioList.razor
  src/BootstrapBlazor/Components/Radio/RadioList.razor.cs
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  test/UnitTest/Components/CheckboxListTest.cs
  test/UnitTest/Components/RadioTest.cs
Labels: enhancement

#1399 feat(Chart): support pointStyles
  src/BootstrapBlazor.Shared/Demos/Charts/Line/LineChartJS.razor.js
  src/BootstrapBlazor.Shared/Demos/Charts/Line/LineOnInit.razor
  src/Extensions/Components/BootstrapBlazor.Chart/BootstrapBlazor.Chart.csproj
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/Chart.razor.js
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/ChartDataset.cs
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/ChartOptions.cs
  src/Extensions/Components/BootstrapBlazor.Chart/Converter/ChartLegendPositionConverter.cs
  src/Extensions/Components/BootstrapBlazor.Chart/Enums/ChartPointStyle.cs
Labels: enhancement

#1403 fix(Select): trigger OnSelectedItemChanged twice
  src/BootstrapBlazor.Shared/BootstrapBlazor.Shared.csproj
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Select/Select.razor.cs
  test/UnitTest/Components/SelectTest.cs
Labels: bug

#1405 refactor(TableCellButton): add ITableCellButton interface
  src/BootstrapBlazor/Components/Table/ITableCellButton.cs
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Components/Table/TableCellButton.cs
  src/BootstrapBlazor/Components/Table/TableCellButtonArgs.cs
  src/BootstrapBlazor/Components/Table/TableCellPopconfirmButton.cs
  src/BootstrapBlazor/Components/Table/TableToolbar.razor.cs
Labels: enhancement

#1408 feat(DockView): update Key parameter default value from Title
  src/BootstrapBlazor.Shared/BootstrapBlazor.Shared.csproj
  src/BootstrapBlazor/Components/ContextMenu/ContextMenu.razor.js
  src/BootstrapBlazor/Components/Table/Table.razor.js
  src/Extensions/Components/BootstrapBlazor.Dock/BootstrapBlazor.Dock.csproj
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockComponent.cs
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockContentType.cs
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockView.razor.js
Labels: enhancement

#1410 feat(FloatingUI): add Floating-UI package
  BootstrapBlazor.sln
  src/BootstrapBlazor/wwwroot/lib/floating-ui/floating-ui.core.esm.js
  src/BootstrapBlazor/wwwroot/lib/floating-ui/floating-ui.dom.esm.js
  src/BootstrapBlazor/wwwroot/modules/floating-ui.js
  src/Extensions/Components/BootstrapBlazor.FloatingUI/BootstrapBlazor.FloatingUI.csproj
  src/Extensions/Components/BootstrapBlazor.FloatingUI/Components/FloatingUI/FloatingUI.razor
  src/Extensions/Components/BootstrapBlazor.FloatingUI/logo.png
  src/Extensions/Components/BootstrapBlazor.FloatingUI/wwwroot/js/floating-ui.core.esm.js
  src/Extensions/Components/BootstrapBlazor.FloatingUI/wwwroot/js/floating-ui.dom.esm.js
Labels: enhancement

#1412 feat(ContextMenu): support auto-placement
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/ContextMenu/ContextMenu.css
  src/BootstrapBlazor/Components/ContextMenu/ContextMenu.razor.js
  src/BootstrapBlazor/Components/Divider/Divider.css
  src/BootstrapBlazor/Services/DefaultJSVersionService.cs
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/modules/floating-ui.js
  test/UnitTest/UnitTest.csproj
Labels: enhancement

#1414 refactor(FloatingUI): update JavaScript package
  src/BootstrapBlazor/wwwroot/lib/floating-ui/floating-ui.core.esm.js
  src/BootstrapBlazor/wwwroot/lib/floating-ui/floating-ui.dom.esm.js
Labels: enhancement

#1417 refactor(Table): rename Searchs to Searches
  src/BootstrapBlazor.Shared/Data/FooSearchModel.cs
  src/BootstrapBlazor.Shared/Demos/Table/TablesLoading/TablesLoadingShowLoading.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesLoading/TablesLoadingShowLoadingInFirstRender.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesLoading/TablesLoadingShowSkeleton.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesSearch/TablesAutoGenerateSearch.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesSearch/TablesCustomColSearch.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesSearch/TablesCustomerSearchModel.razor
  src/BootstrapBlazor/Components/Table/ITableSearchModel.cs
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/Components/Table/Table.razor.Edit.cs
  src/BootstrapBlazor/Components/Table/Table.razor.Search.cs
  src/BootstrapBlazor/Components/Table/Table.razor.Toolbar.cs
  src/BootstrapBlazor/Options/QueryPageOptions.cs
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#1421 feat(AutoFill): add AutoFill/AutoComplete loading icon
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.css
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.cs
  src/BootstrapBlazor/Components/AutoFill/AutoFill.razor
  src/BootstrapBlazor/Components/AutoFill/AutoFill.razor.cs
  src/BootstrapBlazor/Components/Modal/ModalDialog.razor.cs
  src/BootstrapBlazor/Components/Search/Search.razor
  src/BootstrapBlazor/Components/Upload/AvatarUpload.razor.cs
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/BootstrapBlazor/Options/IconThemeOptions.cs
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/Extensions/Components/BootstrapBlazor.MaterialDesign.Extensions/BootstrapBlazor.MaterialDesign.Extensions.csproj
  src/Extensions/Components/BootstrapBlazor.MaterialDesign.Extensions/DefaultIcon.cs
  test/UnitTest/Components/AutoFillTest.cs
  test/UnitTest/Services/ConfigureIconMapperOptionsTest.cs
Labels: enhancement

#1422 fix(MenuItem): not expand sub menu when parent menu item set expand
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Menu/MenuLink.razor
  src/BootstrapBlazor/Components/Menu/MenuLink.razor.cs
  src/BootstrapBlazor/Components/Menu/SideMenu.razor
  src/BootstrapBlazor/Components/Menu/SideMenu.razor.cs
  test/UnitTest/Components/MenuTest.cs
Labels: bug

#1427 fix(Table): column not align when resize column on Fix Header mode
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.js
Labels: bug

#1429 feat(DockView): remove the index parameter on AddItem method
  src/BootstrapBlazor/Extensions/TypeExtensions.cs
  src/Extensions/Components/BootstrapBlazor.Dock/BootstrapBlazor.Dock.csproj
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockView.razor.js
  test/UnitTest/Components/MenuTest.cs
Labels: enhancement

#1432 feat(Table): auto height support ShowSearch top
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.js
Labels: enhancement

#1436 refactor(Select): not trigger SelectedItemChanged callback when click Empty item
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Select/Select.razor.cs
  src/BootstrapBlazor/Components/Select/Select.razor.js
  test/UnitTest/Components/SelectTest.cs
Labels: chore

#1438 doc(readme): update readme document
  README.zh-CN.md
Labels: documentation

#1440 doc(Login): add Login template
  src/BootstrapBlazor.Shared/Practicals/LoginAndRegister/PracLogin.razor
  src/BootstrapBlazor.Shared/Practicals/LoginAndRegister/PracLogin.razor.css
  src/BootstrapBlazor.Shared/Shared/PracNavMenu.razor.cs
Labels: documentation

#1442 feat(FloatingLabel): add IsGroupBox parameter
  src/BootstrapBlazor.Shared/Demos/FloatingLabels/FloatingLabelGroupBox.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/FloatingLabels.razor
  src/BootstrapBlazor.Shared/Samples/FloatingLabels.razor.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Input/FloatingLabel.css
  src/BootstrapBlazor/Components/Input/FloatingLabel.razor
  src/BootstrapBlazor/Components/Input/FloatingLabel.razor.cs
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  test/UnitTest/Components/InputTest.cs
Labels: enhancement

#1444 doc(Login): update Login sample
  src/BootstrapBlazor.Shared/Practicals/LoginAndRegister/PracLogin.razor
Labels: documentation

#1446 feat(LazyLoading): add LazyLoading component
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/LazyLoading/LazyLoading.cs
  test/UnitTest/Components/LazyLoadingTest.cs
Labels: enhancement

#1448 feat(MouseFollower): add MouseFollower component
  BootstrapBlazor.sln
  src/BootstrapBlazor.Shared/BootstrapBlazor.Shared.csproj
  src/BootstrapBlazor.Shared/Demos/MouseFollower/MouseFollowerIcon.razor
  src/BootstrapBlazor.Shared/Demos/MouseFollower/MouseFollowerImage.razor
  src/BootstrapBlazor.Shared/Demos/MouseFollower/MouseFollowerNormal.razor
  src/BootstrapBlazor.Shared/Demos/MouseFollower/MouseFollowerText.razor
  src/BootstrapBlazor.Shared/Demos/MouseFollower/MouseFollowerVideo.razor
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/MouseFollowers.razor
  src/BootstrapBlazor.Shared/Samples/MouseFollowers.razor.css
  src/BootstrapBlazor.Shared/wwwroot/images/mousefollower/cat.gif
  src/Extensions/Components/BootstrapBlazor.MouseFollower/BootstrapBlazor.MouseFollower.csproj
  src/Extensions/Components/BootstrapBlazor.MouseFollower/Components/MouseFollower/MouseFollower.razor
  src/Extensions/Components/BootstrapBlazor.MouseFollower/Components/MouseFollower/MouseFollower.razor.cs
  src/Extensions/Components/BootstrapBlazor.MouseFollower/Components/MouseFollower/MouseFollower.razor.css
  src/Extensions/Components/BootstrapBlazor.MouseFollower/Components/MouseFollower/MouseFollower.razor.js
  src/Extensions/Components/BootstrapBlazor.MouseFollower/Components/MouseFollower/MouseFollowerMode.cs
  src/Extensions/Components/BootstrapBlazor.MouseFollower/Components/MouseFollower/MouseFollowerOptions.cs
  src/Extensions/Components/BootstrapBlazor.MouseFollower/_Imports.razor
  src/Extensions/Components/BootstrapBlazor.MouseFollower/logo.png
  src/Extensions/Components/BootstrapBlazor.MouseFollower/wwwroot/gsap.js
  src/Extensions/Components/BootstrapBlazor.MouseFollower/wwwroot/gsap.min.js
  src/Extensions/Components/BootstrapBlazor.MouseFollower/wwwroot/mouse-follower.min.css
  src/Extensions/Components/BootstrapBlazor.MouseFollower/wwwroot/mouse-follower.min.js
  src/Extensions/Directory.Build.props
Labels: enhancement

#1450 refactor(Table): add TriggerContextMenu parameter
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/BaseComponents/DynamicElement.cs
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/wwwroot/modules/utility.js
Labels: enhancement

#1452 doc(MouseFollower): update MouseFollower demo
  src/BootstrapBlazor.Shared/BootstrapBlazor.Shared.csproj
  src/BootstrapBlazor.Shared/Samples/MouseFollowers.razor
Labels: documentation

#1456 feat(HtmlRender): add type parameter overload method
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Services/ComponentHtmlRenderer.cs
  src/BootstrapBlazor/Services/IComponentHtmlRenderer.cs
  test/UnitTest/Services/HtmlRendererTest.cs
Labels: enhancement

#1454 feat(PDF): add Html2Pdf service
  BootstrapBlazor.sln
  src/Extensions/Components/BootstrapBlazor.FloatingUI/BootstrapBlazor.FloatingUI.csproj
  src/Extensions/Components/BootstrapBlazor.Html2Pdf/BootstrapBlazor.Html2Pdf.csproj
  src/Extensions/Components/BootstrapBlazor.Html2Pdf/Extensions/ServiceCollectionExtensions.cs
  src/Extensions/Components/BootstrapBlazor.Html2Pdf/Services/DefaultPdfService.cs
  src/Extensions/Components/BootstrapBlazor.Html2Pdf/Services/IHtml2Pdf.cs
  src/Extensions/Components/BootstrapBlazor.Html2Pdf/_Imports.razor
  src/Extensions/Components/BootstrapBlazor.Html2Pdf/logo.png
  src/Extensions/Components/BootstrapBlazor.Html2Pdf/wwwroot/html2pdf.bundle.min.js
Labels: enhancement

#1458 feat(DockView): support RowOrColumn layout
  src/Extensions/Components/BootstrapBlazor.Dock/BootstrapBlazor.Dock.csproj
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockComponent.cs
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockComponentBase.cs
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockContent.cs
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockView.razor.cs
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockView.razor.js
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/IDockComponent.cs
Labels: enhancement

#1461 feat(IFrame): add instance method PushData
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/IFrame/IFrame.razor.cs
  src/BootstrapBlazor/Components/IFrame/IFrame.razor.js
Labels: enhancement

#1463 refactor(IFrame): update PushData to public
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/IFrame/IFrame.razor.cs
Labels: enhancement

#1467 feat(Analyzer): add analyzer for bootstrap blazor
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/build/bootstrapblazor.targets
Labels: enhancement

#1468 fix(Menu): menu arrow not rotated
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Menu/Menu.css
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
Labels: bug

#1479 refactor(JSModule): support no version JavaScript file
  src/BootstrapBlazor/Extensions/JSModuleExtensions.cs
Labels: chore

#1481 fix(Table): can not resize table column when set ShowDetails to true
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.js
Labels: bug

#1483 feat(IconTheme): add Pdf icon
  src/Extensions/Components/BootstrapBlazor.MaterialDesign.Extensions/BootstrapBlazor.MaterialDesign.Extensions.csproj
Labels: enhancement

#1474 bug(Chart): Refactoring the borderWidth attribute
  src/BootstrapBlazor.Shared/BootstrapBlazor.Shared.csproj
  src/BootstrapBlazor.Shared/Demos/Charts/Line/LineOnInit.razor
  src/Extensions/Components/BootstrapBlazor.Chart/BootstrapBlazor.Chart.csproj
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/Chart.razor.cs
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/Chart.razor.js
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/ChartDataset.cs
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/ChartOptions.cs
Labels: bug
