Repository dotnetcore/BootstrapBlazor, pull requests merged in 2023-05, with the labels that each got.

#1181 feat(HandWritten): use JavaScript isolation
  src/BootstrapBlazor/Components/BaseComponents/BootstrapModuleComponentBase.cs
  src/BootstrapBlazor/Components/Handwritten/Handwritten.css
  src/BootstrapBlazor/Components/Handwritten/Handwritten.razor
  src/BootstrapBlazor/Components/Handwritten/Handwritten.razor.cs
  src/BootstrapBlazor/Components/Handwritten/Handwritten.razor.js
  src/BootstrapBlazor/Components/Handwritten/handwritten.css
  src/BootstrapBlazor/Components/Handwritten/handwritten.js
  src/BootstrapBlazor/Utils/JSInterop.cs
  src/BootstrapBlazor/wwwroot/bundle/bootstrap.blazor.js
  src/BootstrapBlazor/wwwroot/bundle/bootstrap.blazor.min.js
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/js/bootstrap.blazor.bundle.js
  src/BootstrapBlazor/wwwroot/js/bootstrap.blazor.bundle.min.js
Labels: enhancement

#1183 fix(Table): throw exception when model include static property
  src/BootstrapBlazor/Extensions/PropertyInfoExtensions.cs
  src/BootstrapBlazor/Utils/Utility.cs
Labels: bug

#1185 feat(GeoLocationService): add GeoLocationService
  src/BootstrapBlazor.Shared/Demos/Geolocations/GeolocationNormal.razor
  src/BootstrapBlazor/Components/Geolocation/Geolocation.cs
  src/BootstrapBlazor/Components/Geolocation/Geolocation.js
  src/BootstrapBlazor/Components/Geolocation/GeolocationPosition.cs
  src/BootstrapBlazor/Extensions/BootstrapBlazorServiceCollectionExtensions.cs
  src/BootstrapBlazor/Extensions/PropertyInfoExtensions.cs
  src/BootstrapBlazor/Services/DefaultGeoLocationService.cs
  src/BootstrapBlazor/Services/IGeoLocationService.cs
  src/BootstrapBlazor/Utils/JSInterop.cs
  src/BootstrapBlazor/wwwroot/bundle/bootstrap.blazor.js
  src/BootstrapBlazor/wwwroot/bundle/bootstrap.blazor.min.js
  src/BootstrapBlazor/wwwroot/js/bootstrap.blazor.bundle.js
  src/BootstrapBlazor/wwwroot/js/bootstrap.blazor.bundle.min.js
  src/BootstrapBlazor/wwwroot/modules/geo.js
  test/UnitTest/Components/DisplayTest.cs
  test/UnitTest/Components/GeolocationTest.cs
  test/UnitTest/Components/IconDialogTest.cs
  test/UnitTest/Components/SwitchButtonTest.cs
  test/UnitTest/Components/TableTest.cs
  test/UnitTest/Extensions/ObjectExtensionsTest.cs
  test/UnitTest/UnitTest.csproj
Labels: enhancement

#1187 feat(NotificationService): use JavaScript isolation
  src/BootstrapBlazor.Shared/Demos/Notifications/NotificationsNormal.razor
  src/BootstrapBlazor/Components/Notification/NotificationItem.cs
  src/BootstrapBlazor/Components/Notifications/BrowserNotification.cs
  src/BootstrapBlazor/Components/Notifications/Notification.js
  src/BootstrapBlazor/Extensions/BootstrapBlazorServiceCollectionExtensions.cs
  src/BootstrapBlazor/Services/CacheManager.cs
  src/BootstrapBlazor/Services/DefaultGeoLocationService.cs
  src/BootstrapBlazor/Services/ICacheManager.cs
  src/BootstrapBlazor/Services/NotificationService.cs
  src/BootstrapBlazor/Utils/JSInterop.cs
  src/BootstrapBlazor/wwwroot/bundle/bootstrap.blazor.js
  src/BootstrapBlazor/wwwroot/bundle/bootstrap.blazor.min.js
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/js/bootstrap.blazor.bundle.js
  src/BootstrapBlazor/wwwroot/js/bootstrap.blazor.bundle.min.js
  src/BootstrapBlazor/wwwroot/modules/geo.js
  src/BootstrapBlazor/wwwroot/modules/noti.js
  test/UnitTest/Components/BrowserNotificationTest.cs
  test/UnitTest/Components/GeolocationTest.cs
  test/UnitTest/Services/CacheManagerTest.cs
Labels: enhancement

#1189 feat(Upload): use JavaScript isolation
  src/BootstrapBlazor/Components/Upload/CardUpload.razor
  src/BootstrapBlazor/Components/Upload/CardUpload.razor.cs
  src/BootstrapBlazor/Components/Upload/UploadBase.cs
  src/BootstrapBlazor/wwwroot/modules/upload.js
  src/BootstrapBlazor/wwwroot/modules/viewer.js
  test/UnitTest/Components/UploadTest.cs
Labels: enhancement

#1191 fix(PopConfirmButton): do not pop on wasm mode
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Button/PopConfirmButton.razor.cs
  src/BootstrapBlazor/Components/Button/PopConfirmButton.razor.js
Labels: bug

#1196 fix(MultiSelect): value not change when use OnSearchTextChanged as data source
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Select/MultiSelect.razor
  src/BootstrapBlazor/Components/Select/MultiSelect.razor.cs
  test/UnitTest/Components/MultiSelectTest.cs
Labels: bug

#1203 fix(BarCode): throw exception when click Clear button
  src/BootstrapBlazor.Shared/BootstrapBlazor.Shared.csproj
  src/BootstrapBlazor.Shared/Demos/QRCodes/QRCodeNormal.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/QRCodes.razor.cs
  src/Extensions/Components/BootstrapBlazor.BarCode/BootstrapBlazor.BarCode.csproj
  src/Extensions/Components/BootstrapBlazor.BarCode/Components/QRCode/QRCode.razor
  src/Extensions/Components/BootstrapBlazor.BarCode/Components/QRCode/QRCode.razor.cs
  src/Extensions/Components/BootstrapBlazor.BarCode/Components/QRCode/QRCode.razor.js
  test/UnitTest/Components/MultiSelectTest.cs
Labels: bug

#1206 fix(DateTimeRange): not update display value after click Confirm/Today/Clear buttons
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/DateTimeRange/DateTimeRange.razor
Labels: bug

#1208 feat(EyeDropper): add EyeDropper component
  src/BootstrapBlazor.Shared/Demos/EyeDropper/EyeDropperNormal.razor
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/EyeDroppers.razor
  src/BootstrapBlazor.Shared/docs.json
  src/BootstrapBlazor/Components/BaseComponents/BootstrapBlazorRoot.razor
  src/BootstrapBlazor/Components/EyeDropper/EyeDropper.cs
  src/BootstrapBlazor/Components/EyeDropper/EyeDropperOption.cs
  src/BootstrapBlazor/Components/EyeDropper/EyeDropperService.cs
  src/BootstrapBlazor/Extensions/BootstrapBlazorServiceCollectionExtensions.cs
  src/BootstrapBlazor/wwwroot/modules/eye-dropper.js
  test/UnitTest/Services/EyeDropperTest.cs
Labels: enhancement

#1210 refactor(EyeDropper): handle error by press ESC key
  src/BootstrapBlazor.Shared/Demos/EyeDropper/EyeDropperNormal.razor
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/EyeDropper/EyeDropper.cs
  src/BootstrapBlazor/Components/EyeDropper/EyeDropperService.cs
  src/BootstrapBlazor/wwwroot/modules/eye-dropper.js
  test/UnitTest/Services/EyeDropperTest.cs
Labels: enhancement

#1212 fix(Table): not show the BeforeRowButtonTemplate button in CardView
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/EyeDropper/EyeDropper.cs
  src/BootstrapBlazor/Components/FullScreen/FullScreen.cs
  src/BootstrapBlazor/Components/Table/Table.razor
  test/UnitTest/Components/TableTest.cs
  test/UnitTest/Components/UploadTest.cs
Labels: bug

#1214 refactor(GoTop): use JavaScript isolation
  src/BootstrapBlazor/Components/Collapse/Collapse.js
  src/BootstrapBlazor/Components/Gotop/GoTop.razor
  src/BootstrapBlazor/Components/Gotop/GoTop.razor.cs
  src/BootstrapBlazor/Components/Gotop/GoTop.razor.js
  src/BootstrapBlazor/Components/Gotop/Gotop.js
  src/BootstrapBlazor/wwwroot/bundle/bootstrap.blazor.js
  src/BootstrapBlazor/wwwroot/bundle/bootstrap.blazor.min.js
  src/BootstrapBlazor/wwwroot/js/bootstrap.blazor.bundle.js
  src/BootstrapBlazor/wwwroot/js/bootstrap.blazor.bundle.min.js
Labels: enhancement

#1216 refactor(PrintButton): use JavaScript isolation
  src/BootstrapBlazor.Shared/Components/UpdateIntro.razor.css
  src/BootstrapBlazor/Components/Button/ButtonBase.cs
  src/BootstrapBlazor/Components/Modal/Modal.css
  src/BootstrapBlazor/Components/Print/PrintButton.js
  src/BootstrapBlazor/Components/Print/PrintButton.razor
  src/BootstrapBlazor/Components/Print/PrintButton.razor.cs
  src/BootstrapBlazor/Components/Print/PrintButton.razor.js
  src/BootstrapBlazor/wwwroot/bundle/bootstrap.blazor.js
  src/BootstrapBlazor/wwwroot/bundle/bootstrap.blazor.min.js
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/js/bootstrap.blazor.bundle.js
  src/BootstrapBlazor/wwwroot/js/bootstrap.blazor.bundle.min.js
  src/BootstrapBlazor/wwwroot/modules/utility.js
Labels: enhancement

#1220 refactor(Reconnector): use JavaScript isolation
  src/BootstrapBlazor.Shared/Components/Pre.razor.css
  src/BootstrapBlazor/Components/Button/PopConfirmButtonBase.cs
  src/BootstrapBlazor/Components/Dialog/DialogCloseButton.cs
  src/BootstrapBlazor/Components/Dialog/DialogSaveButton.cs
  src/BootstrapBlazor/Components/FullScreen/FullScreenButton.razor.cs
  src/BootstrapBlazor/Components/Reconnector/ReconnectorContent.js
  src/BootstrapBlazor/Components/Reconnector/ReconnectorContent.razor
  src/BootstrapBlazor/Components/Reconnector/ReconnectorContent.razor.cs
  src/BootstrapBlazor/Components/Reconnector/ReconnectorContent.razor.js
  src/BootstrapBlazor/wwwroot/bundle/bootstrap.blazor.js
  src/BootstrapBlazor/wwwroot/bundle/bootstrap.blazor.min.js
  src/BootstrapBlazor/wwwroot/js/bootstrap.blazor.bundle.js
  src/BootstrapBlazor/wwwroot/js/bootstrap.blazor.bundle.min.js
Labels: enhancement

#1223 refactor(Tree): use JavaScript isolation
  src/BootstrapBlazor/Components/Tree/Tree.js
  src/BootstrapBlazor/Components/Tree/Tree.razor
  src/BootstrapBlazor/Components/Tree/Tree.razor.cs
  src/BootstrapBlazor/Components/Tree/Tree.razor.js
  src/BootstrapBlazor/wwwroot/bundle/bootstrap.blazor.js
  src/BootstrapBlazor/wwwroot/bundle/bootstrap.blazor.min.js
  src/BootstrapBlazor/wwwroot/js/bootstrap.blazor.bundle.js
  src/BootstrapBlazor/wwwroot/js/bootstrap.blazor.bundle.min.js
Labels: enhancement

#1225 refactor(TreeView): use JavaScript isolation
  src/BootstrapBlazor/Components/Tree/Tree.razor
  src/BootstrapBlazor/Components/TreeView/TreeView.css
  src/BootstrapBlazor/Components/TreeView/TreeView.js
  src/BootstrapBlazor/Components/TreeView/TreeView.razor
  src/BootstrapBlazor/Components/TreeView/TreeView.razor.cs
  src/BootstrapBlazor/Components/TreeView/TreeView.razor.js
  src/BootstrapBlazor/wwwroot/bundle/bootstrap.blazor.js
  src/BootstrapBlazor/wwwroot/bundle/bootstrap.blazor.min.js
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/js/bootstrap.blazor.bundle.js
  src/BootstrapBlazor/wwwroot/js/bootstrap.blazor.bundle.min.js
  test/UnitTest/Components/ModalDialogTest.cs
Labels: enhancement

#1227 refactor(Split): use JavaScript isolation
  src/BootstrapBlazor/Components/Split/Split.js
  src/BootstrapBlazor/Components/Split/Split.razor
  src/BootstrapBlazor/Components/Split/Split.razor.cs
  src/BootstrapBlazor/Components/Split/Split.razor.js
  src/BootstrapBlazor/Components/Split/SplitBase.cs
  src/BootstrapBlazor/wwwroot/bundle/bootstrap.blazor.js
  src/BootstrapBlazor/wwwroot/bundle/bootstrap.blazor.min.js
  src/BootstrapBlazor/wwwroot/js/bootstrap.blazor.bundle.js
  src/BootstrapBlazor/wwwroot/js/bootstrap.blazor.bundle.min.js
Labels: enhancement

#1229 refactor(Row): use JavaScript isolation
  src/BootstrapBlazor/Components/Row/Row.js
  src/BootstrapBlazor/Components/Row/Row.razor
  src/BootstrapBlazor/Components/Row/Row.razor.cs
  src/BootstrapBlazor/Components/Row/Row.razor.js
  src/BootstrapBlazor/wwwroot/bundle/bootstrap.blazor.js
  src/BootstrapBlazor/wwwroot/bundle/bootstrap.blazor.min.js
  src/BootstrapBlazor/wwwroot/js/bootstrap.blazor.bundle.js
  src/BootstrapBlazor/wwwroot/js/bootstrap.blazor.bundle.min.js
  src/BootstrapBlazor/wwwroot/lib/extensions/longbow.grid.js
  test/UnitTest/Components/RowTest.cs
Labels: enhancement

#1231 refactor(IpAdress): use JavaScript isolation
  src/BootstrapBlazor.Shared/Demos/Ip/IpNormal.razor
  src/BootstrapBlazor/Components/IpAddress/IpAddress.js
  src/BootstrapBlazor/Components/IpAddress/IpAddress.min.js
  src/BootstrapBlazor/Components/IpAddress/IpAddress.razor
  src/BootstrapBlazor/Components/IpAddress/IpAddress.razor.cs
  src/BootstrapBlazor/Components/IpAddress/IpAddress.razor.js
  src/BootstrapBlazor/wwwroot/bundle/bootstrap.blazor.js
  src/BootstrapBlazor/wwwroot/bundle/bootstrap.blazor.min.js
  src/BootstrapBlazor/wwwroot/js/bootstrap.blazor.bundle.js
  src/BootstrapBlazor/wwwroot/js/bootstrap.blazor.bundle.min.js
Labels: enhancement

#1233 refactor(Tab): use JavaScript isolation
  src/BootstrapBlazor.Shared/Components/DemoBlock.razor.css
  src/BootstrapBlazor.Shared/Demos/Dialog/DialogEmail.razor
  src/BootstrapBlazor.Shared/Demos/Tabs/TabsAddTabItem.razor
  src/BootstrapBlazor.Shared/Demos/Tabs/TabsApp.razor
  src/BootstrapBlazor.Shared/Demos/Tabs/TabsDynamicTabItem.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Shared/BaseLayout.razor.css
  src/BootstrapBlazor.Shared/Shared/MainLayout.razor.css
  src/BootstrapBlazor.Shared/Shared/PracLayout.razor.css
  src/BootstrapBlazor/Components/IpAddress/IpAddress.razor.js
  src/BootstrapBlazor/Components/Layout/Layout.css
  src/BootstrapBlazor/Components/Tab/Tab.css
  src/BootstrapBlazor/Components/Tab/Tab.js
  src/BootstrapBlazor/Components/Tab/Tab.razor
  src/BootstrapBlazor/Components/Tab/Tab.razor.cs
  src/BootstrapBlazor/Components/Tab/Tab.razor.js
  src/BootstrapBlazor/Components/Tab/TabItem.cs
  src/BootstrapBlazor/Components/Table/Table.razor.Toolbar.cs
  src/BootstrapBlazor/wwwroot/bundle/bootstrap.blazor.js
  src/BootstrapBlazor/wwwroot/bundle/bootstrap.blazor.min.js
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/js/bootstrap.blazor.bundle.js
  src/BootstrapBlazor/wwwroot/js/bootstrap.blazor.bundle.min.js
  src/BootstrapBlazor/wwwroot/lib/extensions/longbow.tab.js
  test/UnitTest/Components/TabTest.cs
Labels: enhancement

#1238 chore(jQuery): remove dependency on jQuery
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Tab/Tab.css
  src/BootstrapBlazor/bundleconfig.json
  src/BootstrapBlazor/wwwroot/bundle/bootstrap.blazor.js
  src/BootstrapBlazor/wwwroot/bundle/bootstrap.blazor.min.js
  src/BootstrapBlazor/wwwroot/core/jquery/jquery-3.5.1.js
  src/BootstrapBlazor/wwwroot/core/jquery/jquery-3.5.1.min.js
  src/BootstrapBlazor/wwwroot/core/jquery/jquery-3.5.1.min.map
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/js/bootstrap.blazor.bundle.js
  src/BootstrapBlazor/wwwroot/js/bootstrap.blazor.bundle.min.js
  src/BootstrapBlazor/wwwroot/lib/extensions/longbow.extensions.js
Labels: chore

#1242 chore(JSVersion): update output info
  src/.config/dotnet-tools.json
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Directory.Build.props
  src/BootstrapBlazor.Server/Directory.Build.targets
  src/BootstrapBlazor/Components/Tree/Tree.razor.cs
  src/Version.targets
Labels: chore

#1234 feat(Practicals): support for downloading source code
  src/BootstrapBlazor.Shared/Shared/PracLayout.razor
  src/BootstrapBlazor.Shared/Shared/PracLayout.razor.css
  src/BootstrapBlazor.Shared/Shared/PracNavMenu.razor
  src/BootstrapBlazor.Shared/Shared/PracNavMenu.razor.cs
Labels: enhancement

#1245 doc(Download): bad file after download
  src/BootstrapBlazor.Shared/Practicals/Pintereso/Pintereso.razor.css
  src/BootstrapBlazor.Shared/Shared/PracNavMenu.razor.cs
Labels: documentation

#1247 doc(JSVersion): share project support auto add JavaScript version
  src/.config/dotnet-tools.json
  src/BootstrapBlazor.Server/Directory.Build.targets
  src/BootstrapBlazor.Server/Pages/_Layout.cshtml
  src/BootstrapBlazor.Shared/BootstrapBlazor.Shared.csproj
  src/BootstrapBlazor.Shared/Components/Header.razor.js
  src/BootstrapBlazor.Shared/Components/Pre.razor.js
  src/BootstrapBlazor.Shared/Components/ThemeChooser.razor.js
  src/BootstrapBlazor.Shared/Components/UpdateIntro.razor.js
  src/BootstrapBlazor.Shared/Demos/Charts/Line/LineChartJS.razor
  src/BootstrapBlazor.Shared/Demos/Topologies/TopologiesNormal.razor
  src/BootstrapBlazor.Shared/Directory.Build.targets
  src/BootstrapBlazor.Shared/Pages/Index.razor.js
  src/BootstrapBlazor.Shared/Practicals/Pintereso/Pintereso.razor.css
  src/BootstrapBlazor.Shared/Shared/NavMenu.razor.js
  src/BootstrapBlazor.Shared/versionconfig.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/Version.targets
Labels: chore

#1249 fix(Select): keyboard not work on ShowSearch mode
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Select/Select.razor.js
Labels: bug

#1251 feat(Editor): add ShowSubmit parameter
  src/BootstrapBlazor.Server/Pages/_Layout.cshtml
  src/BootstrapBlazor.Shared/BootstrapBlazor.Shared.csproj
  src/BootstrapBlazor.Shared/Components/Pre.razor.cs
  src/BootstrapBlazor.Shared/Components/Pre.razor.js
  src/BootstrapBlazor.Shared/Demos/Editor/EditorIsEditor.razor
  src/BootstrapBlazor.Shared/Demos/Editor/EditorOnValueChanged.razor
  src/BootstrapBlazor.Shared/Demos/Editor/EditorSubmit.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Editors.razor
  src/BootstrapBlazor.Shared/Samples/Editors.razor.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/Extensions/Components/BootstrapBlazor.SummerNote/BootstrapBlazor.SummerNote.csproj
  src/Extensions/Components/BootstrapBlazor.SummerNote/Components/Editor/Editor.razor
  src/Extensions/Components/BootstrapBlazor.SummerNote/Components/Editor/Editor.razor.cs
  src/Extensions/Components/BootstrapBlazor.SummerNote/Components/Editor/Editor.razor.js
  src/Extensions/Components/BootstrapBlazor.SummerNote/wwwroot/js/jquery-3.5.1.min.js
Labels: enhancement

#1253 doc(SetRowClassFormatter): update doc for SetRowClassFormatter
  src/BootstrapBlazor.Shared/Demos/Table/TablesRow/TablesRowSetRowClassFormatter.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesRow/TablesRowSetRowClassFormatter.razor.css
  src/BootstrapBlazor.Shared/wwwroot/css/site.css
  src/BootstrapBlazor/Components/GoTop/GoTop.css
  src/BootstrapBlazor/Components/GoTop/GoTop.razor
  src/BootstrapBlazor/Components/GoTop/GoTop.razor.cs
  src/BootstrapBlazor/Components/GoTop/GoTop.razor.js
Labels: documentation

#1257 refactor(Cascader): remove JavaScript file
  src/BootstrapBlazor/Components/Cascader/Cascader.js
  src/BootstrapBlazor/Components/Cascader/Cascader.razor.cs
Labels: enhancement

#1262 feat(Reconnector): add ReconnectInterval parameter
  .github/workflows/auto-pull-request-checks.yml
  .github/workflows/build.yml
  global.json
  src/BootstrapBlazor.Server/Pages/_Host.cshtml
  src/BootstrapBlazor.Server/Pages/_Layout.cshtml
  src/BootstrapBlazor.Shared/Components/BlazorReconnector.razor
  src/BootstrapBlazor.Shared/Components/DataDialogComponent.razor
  src/BootstrapBlazor.Shared/Demos/AutoComplete/AutoCompleteNoDataTip.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesEdit/TablesEditFooterTemplate.razor
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Modal/ModalDialog.razor
  src/BootstrapBlazor/Components/Reconnector/ReconnectorContent.razor.cs
  src/BootstrapBlazor/Components/Reconnector/ReconnectorContent.razor.js
  src/BootstrapBlazor/Components/Reconnector/ReconnectorOutlet.cs
  src/BootstrapBlazor/Components/Reconnector/ReconnectorProvider.cs
  src/BootstrapBlazor/Components/Tab/Tab.css
  src/BootstrapBlazor/Components/Table/Table.razor.js
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/modules/utility.js
  test/UnitTest/Components/ReconnectorTest.cs
Labels: enhancement

#1266 feat(Topology): support html attribute on element
  src/Extensions/Components/BootstrapBlazor.Topology/Components/Topology/Topology.razor
  src/Extensions/Components/BootstrapBlazor.Topology/Components/Topology/Topology.razor.cs
Labels: enhancement

#1268 feat(TableCellButton): support ChildContent/BodyTemplate parameter
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Button/ButtonBase.cs
  src/BootstrapBlazor/Components/Table/TableExtensionButton.razor
Labels: enhancement

#1270 refactor(EditorForm): rename ColSpan to Cols
  src/BootstrapBlazor/Attributes/AutoGenerateColumnAttribute.cs
  src/BootstrapBlazor/Components/EditorForm/EditorForm.razor.cs
  test/UnitTest/Components/EditorFormTest.cs
Labels: triage

#1272 refactor(PopoverDropdown): update Placement default value to false
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.cs
  src/BootstrapBlazor/Components/DateTimePicker/PopoverDropdownBase.cs
  src/BootstrapBlazor/Components/Select/PopoverSelectBase.cs
  test/UnitTest/Components/AutoCompleteTest.cs
  test/UnitTest/Components/CalendarTest.cs
  test/UnitTest/Components/DateTimeRangeTest.cs
  test/UnitTest/Components/DragDropTest.cs
  test/UnitTest/Components/MultiSelectTest.cs
  test/UnitTest/Components/SwalTest.cs
  test/UnitTest/Components/TreeViewTest.cs
Labels: enhancement

#1275 feat(Export): use min-excel instead of Epplus
  src/Extensions/Components/BootstrapBlazor.TableExport/BootstrapBlazor.TableExport.csproj
  src/Extensions/Components/BootstrapBlazor.TableExport/ExcelExport.cs
Labels: enhancement

#1277 doc(Practicals): use stream instead of byte collection
  src/BootstrapBlazor.Shared/Shared/PracNavMenu.razor.cs
  test/UnitTest/Components/SwalTest.cs
Labels: documentation

#1279 feat(Redirect): add ForceLoad parameter
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Redirect/Redirect.cs
  test/UnitTest/Components/RedirectTest.cs
Labels: enhancement

#1280 feat(ZipArchiveService): add ZipArchiveService
  src/BootstrapBlazor.Shared/Shared/PracNavMenu.razor.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Extensions/BootstrapBlazorServiceCollectionExtensions.cs
  src/BootstrapBlazor/Options/ArchiveOptions.cs
  src/BootstrapBlazor/Services/DefaultZipArchiveService.cs
  src/BootstrapBlazor/Services/IZipArchiveService.cs
  test/UnitTest/Components/TableDateTimeFilterTest.cs
  test/UnitTest/Services/ZipArchiveServiceTest.cs
Labels: enhancement

#1282 feat(ZipArchiveService): add Extract/GetEntry function
  src/BootstrapBlazor/Services/DefaultZipArchiveService.cs
  src/BootstrapBlazor/Services/IZipArchiveService.cs
  test/UnitTest/Components/TableNumberFilterTest.cs
  test/UnitTest/Services/ZipArchiveServiceTest.cs
Labels: enhancement

#1284 bug(Table): tooltip content not updated from the second pages
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  test/UnitTest/Components/LinkButtonTest.cs
  test/UnitTest/Components/ToastTest.cs
Labels: bug

#1288 feat(OpenAI): add Azure OpenAI component
  BootstrapBlazor.sln
  src/BootstrapBlazor.Server/Controllers/AccountController.cs
  src/BootstrapBlazor.Server/Extensions/ServicesExtensions.cs
  src/BootstrapBlazor.Server/Program.cs
  src/BootstrapBlazor.Server/Properties/launchSettings.json
  src/BootstrapBlazor.Server/appsettings.json
  src/BootstrapBlazor.Shared/BootstrapBlazor.Shared.csproj
  src/BootstrapBlazor.Shared/Data/Menus.cs
  src/BootstrapBlazor.Shared/Demos/AzureOpenAI/AzureOpenAIChat.razor
  src/BootstrapBlazor.Shared/Demos/AzureOpenAI/AzureOpenAIChat.razor.css
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/OAuth/AzureOpenAIUser.cs
  src/BootstrapBlazor.Shared/OAuth/OAuthHelper.cs
  src/BootstrapBlazor.Shared/Samples/Chats.razor
  src/Extensions/Components/BootstrapBlazor.AzureOpenAI/BootstrapBlazor.AzureOpenAI.csproj
  src/Extensions/Components/BootstrapBlazor.AzureOpenAI/Extensions/ServiceCollectionExtensions.cs
  src/Extensions/Components/BootstrapBlazor.AzureOpenAI/Services/AzureOpenAIChatMessage.cs
  src/Extensions/Components/BootstrapBlazor.AzureOpenAI/Services/AzureOpenAIOption.cs
  src/Extensions/Components/BootstrapBlazor.AzureOpenAI/Services/AzureOpenAIService.cs
  src/Extensions/Components/BootstrapBlazor.AzureOpenAI/Services/IAzureOpenAIService.cs
  src/Extensions/Components/BootstrapBlazor.AzureOpenAI/logo.png
  src/Extensions/Components/BootstrapBlazor.AzureSpeech/BootstrapBlazor.AzureSpeech.csproj
  src/Extensions/Components/BootstrapBlazor.BaiduOcr/BootstrapBlazor.BaiduOcr.csproj
  src/Extensions/Components/BootstrapBlazor.BaiduSpeech/BootstrapBlazor.BaiduSpeech.csproj
  src/Extensions/Components/BootstrapBlazor.CherryMarkdown/BootstrapBlazor.CherryMarkdown.csproj
  src/Extensions/Components/BootstrapBlazor.MaterialDesign.Extensions/BootstrapBlazor.MaterialDesign.Extensions.csproj
  src/Extensions/Components/BootstrapBlazor.TableExport/BootstrapBlazor.TableExport.csproj
Labels: enhancement

#1290 doc(AzureOpenAI): update Azure OpenAI sample
  src/BootstrapBlazor.Shared/Demos/AzureOpenAI/AzureOpenAIChat.razor
  src/BootstrapBlazor.Shared/Demos/AzureOpenAI/AzureOpenAIChat.razor.css
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
Labels: documentation

#1292 doc(AzureOpenAI): add auto scroll function
  src/BootstrapBlazor.Shared/Demos/AzureOpenAI/AzureOpenAIChat.razor
  src/BootstrapBlazor.Shared/Demos/AzureOpenAI/AzureOpenAIChat.razor.js
Labels: documentation

#1294 feat(IComponentHtmlRenderer): add IComponentHtmlRenderer service
  src/BootstrapBlazor/Extensions/BootstrapBlazorServiceCollectionExtensions.cs
  src/BootstrapBlazor/Services/ComponentHtmlRenderer.cs
  src/BootstrapBlazor/Services/IComponentHtmlRenderer.cs
  src/BootstrapBlazor/Services/Internal/HtmlRenderer.cs
  src/BootstrapBlazor/Services/Internal/HtmlRootComponent.cs
  src/BootstrapBlazor/Services/Internal/StaticHtmlRenderer.HtmlWriting.cs
  src/BootstrapBlazor/Services/Internal/StaticHtmlRenderer.cs
  test/UnitTest/Components/ListViewTest.cs
  test/UnitTest/Components/TableStringFilterTest.cs
  test/UnitTest/Services/HtmlRendererTest.cs
Labels: enhancement

#1295 feat(AzureOpenAI): add GetChatStreaming api
  src/BootstrapBlazor.Shared/BootstrapBlazor.Shared.csproj
  src/BootstrapBlazor.Shared/Demos/AzureOpenAI/AzureOpenAIChat.razor
  src/BootstrapBlazor.Shared/Demos/AzureOpenAI/AzureOpenAIChat.razor.css
  src/BootstrapBlazor.Shared/Demos/AzureOpenAI/AzureOpenAIChat.razor.js
  src/Extensions/Components/BootstrapBlazor.AzureOpenAI/BootstrapBlazor.AzureOpenAI.csproj
  src/Extensions/Components/BootstrapBlazor.AzureOpenAI/Services/AzureOpenAIService.cs
  src/Extensions/Components/BootstrapBlazor.AzureOpenAI/Services/IAzureOpenAIService.cs
Labels: documentation

#1299 feat(Utility): copy function compatible with http protocal
  src/BootstrapBlazor/wwwroot/modules/utility.js
Labels: bug

#1301 fix(DialogButton): no restore button icon if set IsAsync to true
  src/BootstrapBlazor/Components/Dialog/DialogCloseButton.cs
  src/BootstrapBlazor/Components/Dialog/DialogSaveButton.cs
Labels: bug

#1304 fix(AutoFill): does not collapse after clicking the dropdown menu item
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/AutoFill/AutoFill.razor.cs
Labels: bug

#1308 fix(Editor): submit button support localization
  src/BootstrapBlazor.Shared/BootstrapBlazor.Shared.csproj
  src/Extensions/Components/BootstrapBlazor.SummerNote/BootstrapBlazor.SummerNote.csproj
  src/Extensions/Components/BootstrapBlazor.SummerNote/Components/Editor/Editor.razor.js
Labels: triage

#1311 feat(Editor): add LanguageUrl parameter support multiple language script plugin
  src/BootstrapBlazor.Shared/BootstrapBlazor.Shared.csproj
  src/Extensions/Components/BootstrapBlazor.SummerNote/BootstrapBlazor.SummerNote.csproj
  src/Extensions/Components/BootstrapBlazor.SummerNote/Components/Editor/Editor.razor.cs
  src/Extensions/Components/BootstrapBlazor.SummerNote/Components/Editor/Editor.razor.js
  test/UnitTest/Components/LayoutTest.cs
  test/UnitTest/Components/ListViewTest.cs
Labels: enhancement

#1313 feat(JSModule): support config JSModule version
  src/BootstrapBlazor/Options/BootstrapBlazorOptions.cs
  src/BootstrapBlazor/Services/DefaultJSVersionService.cs
Labels: enhancement

#1316 feat(Tab): add Resource value
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Tab/Tab.razor.cs
  test/UnitTest/Components/LayoutTest.cs
  test/UnitTest/Options/BootstrapBlazorOptionsTest.cs
Labels: enhancement

#1318 feat(BootstrapDynamicComponent): add new overload method for CreateComponent
  src/BootstrapBlazor/Attributes/JSModuleNotInheritedAttribute.cs
  src/BootstrapBlazor/Components/BaseComponents/BootstrapModuleComponentBase.cs
Labels: enhancement

#1320 feat(BootstrapDynamicComponent): add new overload method for CreateComponent
  src/BootstrapBlazor/Utils/BootstrapDynamicComponent.cs
Labels: enhancement

#1324 feat(ContextMenu): add context menu framework
  src/BootstrapBlazor.Shared/Components/ContextMenuList.razor
  src/BootstrapBlazor.Shared/Demos/ContextMenu/ContextMenuNormal.razor
  src/BootstrapBlazor.Shared/Demos/ContextMenu/ContextMenuTable.razor
  src/BootstrapBlazor.Shared/Demos/ContextMenu/ContextMenuTree.razor
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/ContextMenus.razor
  src/BootstrapBlazor.Shared/wwwroot/images/Bluetooth.jpg
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/AnchorLink/AnchorLink.razor.js
  src/BootstrapBlazor/Components/BaseComponents/BootstrapModuleComponentBase.cs
  src/BootstrapBlazor/Components/BaseComponents/DynamicElement.cs
  src/BootstrapBlazor/Components/ContextMenu/ContextMenu.css
  src/BootstrapBlazor/Components/ContextMenu/ContextMenu.razor
  src/BootstrapBlazor/Components/ContextMenu/ContextMenu.razor.cs
  src/BootstrapBlazor/Components/ContextMenu/ContextMenu.razor.js
  src/BootstrapBlazor/Components/ContextMenu/ContextMenuItem.razor
  src/BootstrapBlazor/Components/ContextMenu/ContextMenuItem.razor.cs
  src/BootstrapBlazor/Components/ContextMenu/ContextMenuTrigger.cs
  src/BootstrapBlazor/Components/ContextMenu/ContextMenuZone.css
  src/BootstrapBlazor/Components/ContextMenu/ContextMenuZone.razor
  src/BootstrapBlazor/Components/ContextMenu/ContextMenuZone.razor.cs
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Components/TreeView/TreeView.razor
  src/BootstrapBlazor/Components/TreeView/TreeView.razor.cs
  src/BootstrapBlazor/Services/ComponentHtmlRenderer.cs
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  test/UnitTest/Components/BootstrapModuleComponentBaseTest.cs
  test/UnitTest/Components/ContextMenuTest.cs
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#1326 feat(IFrame): add IFrame component
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/IFrame/IFrame.css
  src/BootstrapBlazor/Components/IFrame/IFrame.razor
  src/BootstrapBlazor/Components/IFrame/IFrame.razor.cs
  src/BootstrapBlazor/Components/IFrame/IFrame.razor.js
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  test/UnitTest/Components/IFrameTest.cs
Labels: enhancement
