Repository dotnetcore/BootstrapBlazor, pull requests merged in 2023-04, with the labels that each got.

#934 doc(Table): add Tips for bind-Field
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Table/Tables.razor
Labels: documentation

#936 fix(Chart): LineChart BorderWidth Property settings are not valid
  src/BootstrapBlazor.Shared/Demos/Charts/Line/LineOnInit.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/Chart.razor.cs
  src/Extensions/Components/BootstrapBlazor.Chart/wwwroot/js/bootstrap.blazor.chart.bundle.min.js
  src/Extensions/Components/BootstrapBlazor.Chart/wwwroot/js/bootstrap.blazor.chart.js
  src/Extensions/Components/BootstrapBlazor.Chart/wwwroot/js/bootstrap.blazor.chart.min.js
Labels: bug

#938 feat(LogoutLink): remove OnClick callback
  src/BootstrapBlazor.Shared/Demos/Logouts/LogoutLinkTemplate.razor
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Logout/LogoutLink.razor
  src/BootstrapBlazor/Components/Logout/LogoutLink.razor.cs
  src/Extensions/Components/BootstrapBlazor.Chart/BootstrapBlazor.Chart.csproj
  test/UnitTest/Components/LogoutLinkTest.cs
Labels: enhancement

#939 doc(SpeechWave): update SpeechWaves demos
  src/BootstrapBlazor.Shared/Demos/Speechs/SpeechWaves/SpeechWaveNormal.razor
  src/BootstrapBlazor.Shared/Demos/Speechs/SpeechWaves/SpeechWaveShow.razor
  src/BootstrapBlazor.Shared/Demos/Speechs/SpeechWaves/SpeechWaveShowUsedTime.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Speechs/SpeechWaves.razor
Labels: documentation

#940 doc(Speech): update the Recognizers demos
  src/BootstrapBlazor.Shared/Demos/Speechs/Recognizers/RecognizerNormal.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Speechs/Recognizers.razor
Labels: documentation

#941 doc(Speech): update the Synthesizers demos
  src/BootstrapBlazor.Shared/Demos/Speechs/Synthesizers/SynthesizerNormal.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Speechs/Synthesizers.razor
Labels: documentation

#942 doc(Bluetooth): update demos
  src/BootstrapBlazor.Shared/Demos/Bluetooths/BluetoothBatteryLevel.razor
  src/BootstrapBlazor.Shared/Demos/Bluetooths/BluetoothHeartRate.razor
  src/BootstrapBlazor.Shared/Demos/Bluetooths/BluetoothNomal.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Bluetooth/BluetoothBatteryLevel.razor
  src/BootstrapBlazor.Shared/Samples/Bluetooth/BluetoothHeartRate.razor
  src/BootstrapBlazor.Shared/Samples/Bluetooth/Bluetooths.razor
  src/BootstrapBlazor.Shared/Samples/Bluetooth/Bluetooths.razor.cs
Labels: documentation

#943 doc(Speech): update the demos localizer
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Speechs/Speechs.razor
Labels: documentation

#945 doc(Modal): update documentation for localizer
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Modals.razor.cs
Labels: documentation

#947 feat(Modal): add Modal parameter on FirstAfterRenderCallbackAsync
  src/BootstrapBlazor/Components/Modal/Modal.razor.cs
  test/UnitTest/Components/ModalTest.cs
Labels: enhancement

#950 feat(Icon): add Icon theme service
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Extensions/BootstrapBlazorServiceCollectionExtensions.cs
  src/BootstrapBlazor/Options/IconThemeOptions.cs
  src/BootstrapBlazor/Services/DefaultIconTheme.cs
  test/UnitTest/Components/TableTest.cs
  test/UnitTest/Services/ConfigureIconMapperOptionsTest.cs
Labels: enhancement

#949 feat(IconTheme): add material design icon theme
  src/BootstrapBlazor.Server/Pages/_Layout.cshtml
  src/BootstrapBlazor.Server/Program.cs
  src/BootstrapBlazor.Shared/BootstrapBlazor.Shared.csproj
  src/BootstrapBlazor.Shared/Demos/Card/CardCompare.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Shared/ComponentLayout.razor
  src/BootstrapBlazor.Shared/Shared/ComponentLayout.razor.cs
  src/BootstrapBlazor/Components/Card/Card.css
  src/BootstrapBlazor/Components/ImageViewer/ImagePreviewer.css
  src/BootstrapBlazor/Components/ImageViewer/ImagePreviewer.razor
  src/BootstrapBlazor/Components/ImageViewer/ImagePreviewer.razor.cs
  src/BootstrapBlazor/Components/ImageViewer/ImageViewer.css
  src/BootstrapBlazor/Components/Upload/UploadBase.css
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/modules/image-previewer.js
  src/Extensions/Components/BootstrapBlazor.MaterialDesign.Extensions/BootstrapBlazor.MaterialDesign.Extensions.csproj
  src/Extensions/Components/BootstrapBlazor.MaterialDesign.Extensions/DefaultIcon.cs
  src/Extensions/Components/BootstrapBlazor.MaterialDesign.Extensions/DefaultIconTheme.cs
  src/Extensions/Components/BootstrapBlazor.MaterialDesign.Extensions/ServiceCollectionExtensions.cs
Labels: enhancement

#953 doc: update UpdateIntro description
  src/BootstrapBlazor.Shared/Components/UpdateIntro.razor
Labels: documentation

#955 doc(Localizer): remove inject IStringLocalizer statement from sample code
  src/BootstrapBlazor.Shared/Demos/AutoComplete/AutoCompleteDebounce.razor
  src/BootstrapBlazor.Shared/Demos/AutoComplete/AutoCompleteGroup.razor
  src/BootstrapBlazor.Shared/Demos/AutoComplete/AutoCompleteLikeMatch.razor
  src/BootstrapBlazor.Shared/Demos/AutoComplete/AutoCompleteNoDataTip.razor
  src/BootstrapBlazor.Shared/Demos/AutoComplete/AutoCompleteNormal.razor
  src/BootstrapBlazor.Shared/Demos/AutoComplete/AutoCompleteOnSelectedItemChanged.razor
  src/BootstrapBlazor.Shared/Demos/AutoComplete/AutoCompleteShowLabel.razor
  src/BootstrapBlazor.Shared/Demos/AutoComplete/AutoCompleteValueChanged.razor
  src/BootstrapBlazor.Shared/Extensions/CacheManagerExtensions.cs
  src/BootstrapBlazor.Shared/Services/CodeSnippetService.cs
Labels: documentation

#957 doc(Localizer): update failed to intercept newline symbol
  src/BootstrapBlazor.Shared/Services/CodeSnippetService.cs
Labels: documentation

#967 fix(checkbox): color not work when checkbox state is Indeterminate
  src/BootstrapBlazor.Shared/Demos/Checkbox/CheckboxNormal.razor
  src/BootstrapBlazor/Components/Checkbox/Checkbox.css
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
Labels: bug

#969 doc(LineChart): add a demo to generate charts using the Chart.JS
  src/BootstrapBlazor.Shared/Demos/Charts/Line/LineChartJS.razor
  src/BootstrapBlazor.Shared/Demos/Charts/Line/LineChartJS.razor.js
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Charts/Line.razor
Labels: documentation

#971 feat(javascript): add data/utility javascript
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/wwwroot/modules/data.js
  src/BootstrapBlazor/wwwroot/modules/utility.js
Labels: enhancement

#973 feat(Chart): support dynamic load css/javascript
  src/BootstrapBlazor.Server/Pages/_Layout.cshtml
  src/BootstrapBlazor.Shared/Demos/Charts/Line/LineChartJS.razor
  src/BootstrapBlazor.Shared/Demos/Charts/Line/LineChartJS.razor.js
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Charts/Index.razor
  src/Extensions/Components/BootstrapBlazor.Chart/BootstrapBlazor.Chart.csproj
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/Chart.razor.cs
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/Chart.razor.js
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/ChartAction.cs
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/ChartDataSource.cs
  src/Extensions/Components/BootstrapBlazor.Chart/bundleconfig.json
  src/Extensions/Components/BootstrapBlazor.Chart/wwwroot/css/bootstrap.blazor.chart.bundle.min.css
  src/Extensions/Components/BootstrapBlazor.Chart/wwwroot/css/bootstrap.blazor.chart.min.css
  src/Extensions/Components/BootstrapBlazor.Chart/wwwroot/js/bootstrap.blazor.chart.bundle.min.js
  src/Extensions/Components/BootstrapBlazor.Chart/wwwroot/js/bootstrap.blazor.chart.js
  src/Extensions/Components/BootstrapBlazor.Chart/wwwroot/js/bootstrap.blazor.chart.min.js
  src/Extensions/Components/BootstrapBlazor.Chart/wwwroot/js/chart.min.js
Labels: enhancement

#975 doc(Chart): do not show the source code on LineChart sample page
  src/BootstrapBlazor.Server/Controllers/Api/CodeController.cs
  src/BootstrapBlazor.Server/Services/ClearUploadFilesService.cs
  src/BootstrapBlazor.Shared/Data/WebsiteOptions.cs
  src/BootstrapBlazor.Shared/Demos/Charts/Line/LineChartJS.razor
  src/BootstrapBlazor.Shared/Services/CodeSnippetService.cs
  src/BootstrapBlazor.Shared/wwwroot/modules/pre.js
Labels: documentation

#977 feat(SwalOption): add CloseAsync method
  src/BootstrapBlazor.Shared/Demos/SweetAlerts/SweetAlertsAutoClose.razor
  src/BootstrapBlazor.Shared/Demos/SweetAlerts/SweetAlertsClose.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/SweetAlerts.razor
  src/BootstrapBlazor/Components/SweetAlert/SwalOption.cs
  src/BootstrapBlazor/Components/SweetAlert/SweetAlert.razor.cs
  test/UnitTest/Components/SwalTest.cs
Labels: enhancement

#979 fix(IconTheme): update icon on Tab component
  src/BootstrapBlazor.Shared/BootstrapBlazor.Shared.csproj
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Tab/Tab.razor
  src/BootstrapBlazor/Options/IconThemeOptions.cs
  src/Extensions/Components/BootstrapBlazor.MaterialDesign.Extensions/BootstrapBlazor.MaterialDesign.Extensions.csproj
  src/Extensions/Components/BootstrapBlazor.MaterialDesign.Extensions/DefaultIcon.cs
Labels: bug

#982 feat(Progress): supports decimals
  src/BootstrapBlazor.Shared/Demos/Progresss/ProgressBinding.razor
  src/BootstrapBlazor.Shared/Demos/Progresss/ProgressDecimals.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Progresss.razor
  src/BootstrapBlazor/Components/Progress/Progress.razor
  src/BootstrapBlazor/Components/Progress/Progress.razor.cs
  src/BootstrapBlazor/Components/Progress/ProgressBase.cs
Labels: enhancement

#989 fix(SelectTree): do not show the Text when value is not null in first render
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Select/SelectTree.razor.cs
Labels: bug

#987 feat(Chart): supports DisplayLegend
  src/BootstrapBlazor/wwwroot/modules/utility.js
  src/Extensions/Components/BootstrapBlazor.Chart/BootstrapBlazor.Chart.csproj
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/Chart.razor
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/Chart.razor.cs
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/Chart.razor.js
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/ChartOptions.cs
  src/Extensions/Components/BootstrapBlazor.Chart/wwwroot/css/bootstrap.blazor.chart.css
  src/Extensions/Components/BootstrapBlazor.Chart/wwwroot/js/chart.js
Labels: enhancement

#990 feat(Chart): support LegendPosition
  src/Extensions/Components/BootstrapBlazor.Chart/BootstrapBlazor.Chart.csproj
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/Chart.razor.js
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/ChartLegendPosition.cs
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/ChartOptions.cs
  src/Extensions/Components/BootstrapBlazor.Chart/Converter/ChartLegendPositionConverter.cs
Labels: enhancement

#992 doc(Chart): update chart demo
  src/BootstrapBlazor.Shared/Demos/Charts/Pie/PieLegendPostion.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Charts/Index.razor
  src/BootstrapBlazor.Shared/Samples/Charts/Index.razor.cs
  src/BootstrapBlazor.Shared/Samples/Charts/Pie.razor
  src/Extensions/Components/BootstrapBlazor.Chart/BootstrapBlazor.Chart.csproj
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/ChartOptions.cs
  src/Extensions/Components/BootstrapBlazor.Chart/Converter/ChartLegendPositionConverter.cs
Labels: documentation

#994 feat(Chart): add ShowLine/ShowScales on ChartOption
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/Chart.razor.js
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/ChartOptions.cs
Labels: enhancement

#998 chore(Preview): disable the message for use preview SDK
  src/Directory.Build.props
  src/Extensions/Components/BootstrapBlazor.Chart/BootstrapBlazor.Chart.csproj
Labels: chore

#1001 feat(JS): add vibrate/event-handler on javascript module
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/wwwroot/modules/event-handler.js
  src/BootstrapBlazor/wwwroot/modules/utility.js
  src/Extensions/Components/BootstrapBlazor.BaiduOcr/wwwroot/background.png
  src/Extensions/Components/BootstrapBlazor.BaiduOcr/wwwroot/exampleJsInterop.js
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/Chart.razor.cs
Labels: enhancement

#1003 feat(BarCode): update javascript module
  src/BootstrapBlazor.Shared/Demos/QRCodes/QRCodeNormal.razor
  src/Extensions/Components/BootstrapBlazor.BarCode/BootstrapBlazor.BarCode.csproj
  src/Extensions/Components/BootstrapBlazor.BarCode/Components/BarcodeReader/BarcodeReader.js
  src/Extensions/Components/BootstrapBlazor.BarCode/Components/BarcodeReader/BarcodeReader.min.js
  src/Extensions/Components/BootstrapBlazor.BarCode/Components/BarcodeReader/BarcodeReader.razor
  src/Extensions/Components/BootstrapBlazor.BarCode/Components/BarcodeReader/BarcodeReader.razor.cs
  src/Extensions/Components/BootstrapBlazor.BarCode/Components/BarcodeReader/BarcodeReader.razor.js
  src/Extensions/Components/BootstrapBlazor.BarCode/Components/QRCode/QRCode.js
  src/Extensions/Components/BootstrapBlazor.BarCode/Components/QRCode/QRCode.razor
  src/Extensions/Components/BootstrapBlazor.BarCode/Components/QRCode/QRCode.razor.cs
  src/Extensions/Components/BootstrapBlazor.BarCode/Components/QRCode/QRCode.razor.js
  src/Extensions/Components/BootstrapBlazor.BarCode/bundleconfig.json
  src/Extensions/Components/BootstrapBlazor.BarCode/wwwroot/barcodereader.bundle.min.js
  src/Extensions/Components/BootstrapBlazor.BarCode/wwwroot/qrcode.bundle.min.js
  src/Extensions/Components/BootstrapBlazor.BarCode/wwwroot/qrcode.min.js
  src/Extensions/Components/BootstrapBlazor.BarCode/wwwroot/zxing.min.js
Labels: enhancement

#999 feat(Chart): Support chart auto resize
  src/Extensions/Components/BootstrapBlazor.Chart/BootstrapBlazor.Chart.csproj
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/Chart.razor.js
Labels: enhancement

#1004 doc(Practicals): add dashboard practicals demo
  src/BootstrapBlazor.Shared/Pages/Prac.razor
  src/BootstrapBlazor.Shared/Pages/Prac.razor.css
  src/BootstrapBlazor.Shared/Practicals/Dashboard/Dashboard.razor
  src/BootstrapBlazor.Shared/Practicals/Dashboard/DashboardData.cs
  src/BootstrapBlazor.Shared/Practicals/Dashboard/DashboardService.cs
  src/BootstrapBlazor.Shared/Practicals/_Imports.razor
  src/BootstrapBlazor.Shared/Shared/BaseLayout.razor
  src/BootstrapBlazor.Shared/Shared/PracLayout.razor
  src/BootstrapBlazor.Shared/Shared/PracLayout.razor.cs
  src/BootstrapBlazor.Shared/Shared/PracLayout.razor.css
  src/BootstrapBlazor.Shared/Shared/PracNavMenu.razor
  src/BootstrapBlazor.Shared/Shared/PracNavMenu.razor.cs
  src/BootstrapBlazor.Shared/Shared/PracNavMenu.razor.css
Labels: enhancement

#1007 feat(CherryMarkdown): use javascript isolation
  src/Extensions/Components/BootstrapBlazor.BarCode/BootstrapBlazor.BarCode.csproj
  src/Extensions/Components/BootstrapBlazor.BarCode/Components/BarcodeReader/BarcodeReader.razor
  src/Extensions/Components/BootstrapBlazor.BarCode/Components/BarcodeReader/BarcodeReader.razor.cs
  src/Extensions/Components/BootstrapBlazor.BarCode/Components/BarcodeReader/BarcodeReader.razor.js
  src/Extensions/Components/BootstrapBlazor.BarCode/Components/QRCode/QRCode.razor
  src/Extensions/Components/BootstrapBlazor.BarCode/Components/QRCode/QRCode.razor.cs
  src/Extensions/Components/BootstrapBlazor.BarCode/Components/QRCode/QRCode.razor.js
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/Chart.razor
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/Chart.razor.cs
  src/Extensions/Components/BootstrapBlazor.Chart/wwwroot/js/chart.js
  src/Extensions/Components/BootstrapBlazor.CherryMarkdown/BootstrapBlazor.CherryMarkdown.csproj
  src/Extensions/Components/BootstrapBlazor.CherryMarkdown/Components/CherryMarkdown/CherryMarkdown.js
  src/Extensions/Components/BootstrapBlazor.CherryMarkdown/Components/CherryMarkdown/CherryMarkdown.min.js
  src/Extensions/Components/BootstrapBlazor.CherryMarkdown/Components/CherryMarkdown/CherryMarkdown.razor
  src/Extensions/Components/BootstrapBlazor.CherryMarkdown/Components/CherryMarkdown/CherryMarkdown.razor.cs
  src/Extensions/Components/BootstrapBlazor.CherryMarkdown/Components/CherryMarkdown/CherryMarkdown.razor.js
  src/Extensions/Components/BootstrapBlazor.CherryMarkdown/bundleconfig.json
  src/Extensions/Components/BootstrapBlazor.CherryMarkdown/wwwroot/css/bootstrap.blazor.cherrymarkdown.min.css
  src/Extensions/Components/BootstrapBlazor.CherryMarkdown/wwwroot/js/bootstrap.blazor.cherrymarkdown.min.js
Labels: enhancement

#1011 feat(Markdown): use javascript isolation
  src/Extensions/Components/BootstrapBlazor.Markdown/BootstrapBlazor.Markdown.csproj
  src/Extensions/Components/BootstrapBlazor.Markdown/Components/Markdown/Markdown.js
  src/Extensions/Components/BootstrapBlazor.Markdown/Components/Markdown/Markdown.min.js
  src/Extensions/Components/BootstrapBlazor.Markdown/Components/Markdown/Markdown.razor
  src/Extensions/Components/BootstrapBlazor.Markdown/Components/Markdown/Markdown.razor.cs
  src/Extensions/Components/BootstrapBlazor.Markdown/Components/Markdown/Markdown.razor.js
  src/Extensions/Components/BootstrapBlazor.Markdown/bundleconfig.json
  src/Extensions/Components/BootstrapBlazor.Markdown/wwwroot/js/bootstrap.blazor.markdown.min.js
Labels: enhancement

#1013 feat(Editor): use javascript isolation
  src/BootstrapBlazor.Shared/Demos/Editor/EditorCustomerToolbarButtons.razor
  src/BootstrapBlazor.Shared/Demos/Editor/EditorDoMethodAsync.razor
  src/Extensions/Components/BootstrapBlazor.CherryMarkdown/BootstrapBlazor.CherryMarkdown.csproj
  src/Extensions/Components/BootstrapBlazor.Markdown/BootstrapBlazor.Markdown.csproj
  src/Extensions/Components/BootstrapBlazor.SummerNote/BootstrapBlazor.SummerNote.csproj
  src/Extensions/Components/BootstrapBlazor.SummerNote/Components/Editor/Editor.js
  src/Extensions/Components/BootstrapBlazor.SummerNote/Components/Editor/Editor.razor
  src/Extensions/Components/BootstrapBlazor.SummerNote/Components/Editor/Editor.razor.cs
  src/Extensions/Components/BootstrapBlazor.SummerNote/Components/Editor/Editor.razor.js
  src/Extensions/Components/BootstrapBlazor.SummerNote/bundleconfig.json
  src/Extensions/Components/BootstrapBlazor.SummerNote/wwwroot/js/bootstrap.blazor.editor.min.js
Labels: enhancement

#1015 feat(Topology): use javascript isolation
  src/BootstrapBlazor.Shared/Demos/Topologies/TopologiesNormal.razor
  src/BootstrapBlazor.Shared/Demos/Topologies/TopologiesNormal.razor.css
  src/BootstrapBlazor.Shared/Demos/Topologies/TopologiesNormal.razor.js
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Topologies.razor
  src/BootstrapBlazor.Shared/wwwroot/modules/topology.js
  src/Extensions/Components/BootstrapBlazor.Topology/BootstrapBlazor.Topology.csproj
  src/Extensions/Components/BootstrapBlazor.Topology/Components/Topology/Topology.js
  src/Extensions/Components/BootstrapBlazor.Topology/Components/Topology/Topology.razor
  src/Extensions/Components/BootstrapBlazor.Topology/Components/Topology/Topology.razor.cs
  src/Extensions/Components/BootstrapBlazor.Topology/Components/Topology/Topology.razor.js
  src/Extensions/Components/BootstrapBlazor.Topology/Components/Topology/Topology.razor.min.js
  src/Extensions/Components/BootstrapBlazor.Topology/bundleconfig.json
  src/Extensions/Components/BootstrapBlazor.Topology/wwwroot/js/bootstrap.blazor.topology.min.js
  src/Extensions/Components/BootstrapBlazor.Topology/wwwroot/topology.js
Labels: enhancement

#1021 feat(CountUp): add CountUP component
  src/BootstrapBlazor.Shared/Demos/CountUp/CountUpNormal.razor
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Practicals/Dashboard/Dashboard.razor
  src/BootstrapBlazor.Shared/Samples/CountUps.razor
  src/BootstrapBlazor.Shared/Samples/CountUps.razor.cs
  src/BootstrapBlazor/Components/BaseComponents/BootstrapModuleComponentBase.cs
  src/BootstrapBlazor/Components/CountUp/CountUp.razor
  src/BootstrapBlazor/Components/CountUp/CountUp.razor.cs
  src/BootstrapBlazor/Components/CountUp/CountUp.razor.js
  src/BootstrapBlazor/wwwroot/lib/countUp/countUp.min.js
  test/UnitTest/Components/CountUpTest.cs
Labels: enhancement

#1018 doc(Practicals): add login,register practicals demo
  src/BootstrapBlazor.Shared/Extensions/ServicesExtensions.cs
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Pages/Prac.razor
  src/BootstrapBlazor.Shared/Practicals/Dashboard/Dashboard.razor
  src/BootstrapBlazor.Shared/Practicals/Dashboard/Dashboard.razor.cs
  src/BootstrapBlazor.Shared/Practicals/Dashboard/Dashboard.razor.css
  src/BootstrapBlazor.Shared/Practicals/Dashboard/DashboardData.cs
  src/BootstrapBlazor.Shared/Practicals/Dashboard/DashboardService.cs
  src/BootstrapBlazor.Shared/Practicals/LoginAndRegister/PracLogin.razor
  src/BootstrapBlazor.Shared/Practicals/LoginAndRegister/PracRegister.razor
  src/BootstrapBlazor.Shared/Services/DashboardService.cs
  src/BootstrapBlazor.Shared/Shared/PracNavMenu.razor.cs
  src/BootstrapBlazor.Shared/wwwroot/images/practicals/login.png
Labels: documentation

#1030 doc(CountUp): fix load countUp.min.js failed issue
  src/BootstrapBlazor/BootstrapBlazor.csproj
Labels: bug

#1033 feat(mdi): update fullscreen icon
  src/BootstrapBlazor/Components/FullScreen/FullScreenButton.razor.cs
  src/Extensions/Components/BootstrapBlazor.MaterialDesign.Extensions/BootstrapBlazor.MaterialDesign.Extensions.csproj
  src/Extensions/Components/BootstrapBlazor.MaterialDesign.Extensions/DefaultIcon.cs
Labels: enhancement

#1037 feat(AnchorLink): use JavaScript isolation
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/AnchorLink/AnchorLink.css
  src/BootstrapBlazor/Components/AnchorLink/AnchorLink.razor
  src/BootstrapBlazor/Components/AnchorLink/AnchorLink.razor.cs
  src/BootstrapBlazor/Components/AnchorLink/AnchorLink.razor.js
  src/BootstrapBlazor/wwwroot/modules/anchorlink.js
Labels: enhancement

#1041 feat(FullScreen): use JavaScript isolation
  src/BootstrapBlazor/Components/FullScreen/FullScreen.cs
  src/BootstrapBlazor/Components/FullScreen/FullScreenService.cs
  src/BootstrapBlazor/Extensions/FullScreenServiceExtensions.cs
  src/BootstrapBlazor/wwwroot/modules/fullscreen.js
Labels: enhancement

#1043 feat(Console): use JavaScript isolation
  src/BootstrapBlazor/Components/Console/Console.razor
  src/BootstrapBlazor/Components/Console/Console.razor.cs
  src/BootstrapBlazor/Components/Console/Console.razor.js
  src/BootstrapBlazor/wwwroot/modules/console.js
  src/BootstrapBlazor/wwwroot/modules/fullscreen.js
Labels: enhancement

#1045 feat(Carousel): use JavaScript isolation
  src/BootstrapBlazor/Components/Carousel/Carousel.razor
  src/BootstrapBlazor/Components/Carousel/Carousel.razor.js
  src/BootstrapBlazor/wwwroot/modules/carousel.js
Labels: enhancement

#1047 feat(Drawer): use JavaScript isolation
  src/BootstrapBlazor/Components/Drawer/Drawer.razor
  src/BootstrapBlazor/Components/Drawer/Drawer.razor.cs
  src/BootstrapBlazor/Components/Drawer/Drawer.razor.js
  src/BootstrapBlazor/wwwroot/modules/drawer.js
Labels: enhancement

#1051 doc(label): update document for label settings
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
Labels: documentation

#1053 fix(Input): can't get Value by press enter key
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Input/BootstrapInput.js
  src/BootstrapBlazor/Components/Input/BootstrapInputBase.cs
  src/BootstrapBlazor/wwwroot/bundle/bootstrap.blazor.js
  src/BootstrapBlazor/wwwroot/bundle/bootstrap.blazor.min.js
  src/BootstrapBlazor/wwwroot/js/bootstrap.blazor.bundle.js
  src/BootstrapBlazor/wwwroot/js/bootstrap.blazor.bundle.min.js
  test/UnitTest/Components/InputTest.cs
Labels: bug

#1055 feat(Download): use JavaScript isolation
  src/BootstrapBlazor/Components/Download/Download.cs
  src/BootstrapBlazor/wwwroot/modules/download.js
  src/BootstrapBlazor/wwwroot/modules/fullscreen.js
Labels: enhancement

#1057 feat(ValidateForm): use JavaScript isolation
  src/BootstrapBlazor/Components/ValidateForm/ValidateForm.razor
  src/BootstrapBlazor/Components/ValidateForm/ValidateForm.razor.cs
  src/BootstrapBlazor/Components/ValidateForm/ValidateForm.razor.js
  src/BootstrapBlazor/wwwroot/modules/validate-form.js
Labels: enhancement

#1059 feat(Ajax): use JavaScript isolation
  src/BootstrapBlazor/Components/Ajax/Ajax.cs
  src/BootstrapBlazor/wwwroot/modules/ajax.js
Labels: enhancement

#1061 feat(EditDialog): use JavaScript isolation
  src/BootstrapBlazor/Components/BaseComponents/BootstrapModuleComponentBase.cs
  src/BootstrapBlazor/Components/Dialog/DialogBase.cs
  src/BootstrapBlazor/Components/Dialog/EditDialog.razor.cs
  src/BootstrapBlazor/Components/Dialog/EditDialog.razor.js
  src/BootstrapBlazor/Components/Dialog/SearchDialog.razor.cs
  src/BootstrapBlazor/wwwroot/modules/edit-dialog.js
Labels: enhancement

#1063 feat(IconDialog): use JavaScript isolation
  src/BootstrapBlazor/Components/Dialog/EditDialog.razor.cs
  src/BootstrapBlazor/Components/Dialog/IconDialog.razor
  src/BootstrapBlazor/Components/Dialog/IconDialog.razor.cs
  src/BootstrapBlazor/Components/Dialog/IconDialog.razor.js
  src/BootstrapBlazor/wwwroot/modules/icon-dialog.js
  src/Extensions/Components/BootstrapBlazor.FontAwesome/BootstrapBlazor.FontAwesome.csproj
  src/Extensions/Components/BootstrapBlazor.FontAwesome/Components/FAIconList.razor.cs
  src/Extensions/Components/BootstrapBlazor.FontAwesome/Components/FAIconList.razor.js
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/modules/icon-list.js
Labels: enhancement

#1065 feat(ImageViewer): use JavaScript isolation
  src/BootstrapBlazor/Components/AnchorLink/AnchorLink.razor.js
  src/BootstrapBlazor/Components/ImagePreviewer/ImagePreviewer.css
  src/BootstrapBlazor/Components/ImagePreviewer/ImagePreviewer.razor
  src/BootstrapBlazor/Components/ImagePreviewer/ImagePreviewer.razor.cs
  src/BootstrapBlazor/Components/ImagePreviewer/ImagePreviewer.razor.js
  src/BootstrapBlazor/Components/ImageViewer/ImageViewer.razor
  src/BootstrapBlazor/Components/ImageViewer/ImageViewer.razor.cs
  src/BootstrapBlazor/Components/ImageViewer/ImageViewer.razor.js
  src/BootstrapBlazor/Extensions/JSModuleExtensions.cs
  src/BootstrapBlazor/wwwroot/modules/image-previewer.js
  src/BootstrapBlazor/wwwroot/modules/image-viewer.js
  src/BootstrapBlazor/wwwroot/modules/utility.js
Labels: enhancement

#1070 feat(Menu): use JavaScript isolation
  src/BootstrapBlazor/Components/Menu/Menu.razor
  src/BootstrapBlazor/Components/Menu/Menu.razor.cs
  src/BootstrapBlazor/Components/Menu/Menu.razor.js
  src/BootstrapBlazor/Components/Toast/Toast.razor
  src/BootstrapBlazor/Components/Toast/Toast.razor.cs
  src/BootstrapBlazor/Components/Toast/Toast.razor.js
  src/BootstrapBlazor/wwwroot/modules/menu.js
  src/BootstrapBlazor/wwwroot/modules/utility.js
Labels: enhancement

#1072 test(EditorTest): build failed EditorTest project
  test/UnitTestEditor/EditorTest.cs
Labels: test

#1073 fix(DateTimeRnage): incorrect EndValue when click confirm button after choose sidebar item
  src/BootstrapBlazor/Components/DateTimeRange/DateTimeRange.razor
  src/BootstrapBlazor/Components/DateTimeRange/DateTimeRange.razor.cs
  test/UnitTest/Components/DateTimeRangeTest.cs
Labels: bug

#1074 feat(Chart): update chartOption label default value
  src/Extensions/Components/BootstrapBlazor.Chart/BootstrapBlazor.Chart.csproj
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/ChartDataset.cs
Labels: enhancement

#1076 feat(Modal): use JavaScript isolation
  src/BootstrapBlazor/Components/Modal/Modal.razor
  src/BootstrapBlazor/Components/Modal/Modal.razor.cs
  src/BootstrapBlazor/Components/Modal/Modal.razor.js
  src/BootstrapBlazor/wwwroot/modules/modal.js
Labels: enhancement

#1077 feat(Chart): do not show scales and grid by default Pie/Doughnut
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/Chart.razor.js
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/ChartOptions.cs
Labels: enhancement

#1080 doc(JSModule): use JavaScript isolation
  src/BootstrapBlazor.Shared/App.razor
  src/BootstrapBlazor.Shared/App.razor.cs
  src/BootstrapBlazor.Shared/App.razor.js
  src/BootstrapBlazor.Shared/Components/Header.razor
  src/BootstrapBlazor.Shared/Components/Header.razor.cs
  src/BootstrapBlazor.Shared/Components/Header.razor.css
  src/BootstrapBlazor.Shared/Components/Header.razor.js
  src/BootstrapBlazor.Shared/Components/JSModuleComponentBase.cs
  src/BootstrapBlazor.Shared/Components/Pre.razor
  src/BootstrapBlazor.Shared/Components/Pre.razor.cs
  src/BootstrapBlazor.Shared/Components/Pre.razor.js
  src/BootstrapBlazor.Shared/Components/ThemeChooser.razor
  src/BootstrapBlazor.Shared/Components/ThemeChooser.razor.cs
  src/BootstrapBlazor.Shared/Components/ThemeChooser.razor.js
  src/BootstrapBlazor.Shared/Components/UpdateIntro.razor
  src/BootstrapBlazor.Shared/Components/UpdateIntro.razor.cs
  src/BootstrapBlazor.Shared/Components/UpdateIntro.razor.js
  src/BootstrapBlazor.Shared/Components/WebSiteModuleComponentBase.cs
  src/BootstrapBlazor.Shared/Components/Wwads.razor
  src/BootstrapBlazor.Shared/Components/Wwads.razor.js
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Pages/Index.razor
  src/BootstrapBlazor.Shared/Pages/Index.razor.cs
  src/BootstrapBlazor.Shared/Pages/Index.razor.js
  src/BootstrapBlazor.Shared/Practicals/Dashboard/Dashboard.razor
  src/BootstrapBlazor.Shared/Shared/BaseLayout.razor
  src/BootstrapBlazor.Shared/Shared/BaseLayout.razor.cs
  src/BootstrapBlazor.Shared/Shared/BaseLayout.razor.css
  src/BootstrapBlazor.Shared/Shared/NavMenu.razor
  src/BootstrapBlazor.Shared/Shared/NavMenu.razor.cs
  src/BootstrapBlazor.Shared/Shared/NavMenu.razor.js
  src/BootstrapBlazor.Shared/Shared/PracNavMenu.razor
  src/BootstrapBlazor.Shared/Shared/PracNavMenu.razor.cs
  src/BootstrapBlazor.Shared/wwwroot/lib/highlight/vs.css
  src/BootstrapBlazor.Shared/wwwroot/lib/highlight/vs.min.css
  src/BootstrapBlazor.Shared/wwwroot/modules/app.js
  src/BootstrapBlazor.Shared/wwwroot/modules/header.js
  src/BootstrapBlazor.Shared/wwwroot/modules/index.js
  src/BootstrapBlazor.Shared/wwwroot/modules/menu.js
  src/BootstrapBlazor.Shared/wwwroot/modules/pre.js
  src/BootstrapBlazor.Shared/wwwroot/modules/theme-chooser.js
  src/BootstrapBlazor.Shared/wwwroot/modules/update-intro.js
  src/BootstrapBlazor.Shared/wwwroot/modules/wwads.js
  src/BootstrapBlazor/Attributes/JSModuleAutoLoaderAttribute.cs
  src/BootstrapBlazor/Components/CountUp/CountUp.razor.cs
  src/BootstrapBlazor/Components/CountUp/CountUp.razor.js
Labels: documentation

#1083 feat(RibbonTab): use JavaScript isolation
  src/BootstrapBlazor.Server/Pages/_Layout.cshtml
  src/BootstrapBlazor.Shared/Demos/SignaturePads/SignaturePadBase.razor
  src/BootstrapBlazor.Shared/Samples/SignaturePad/SignaturePadPageResponsive.razor
  src/BootstrapBlazor.Shared/Samples/SignaturePad/SignaturePads.razor
  src/BootstrapBlazor.Shared/wwwroot/lib/wwads/wwads.js
  src/BootstrapBlazor/Components/RibbonTab/RibbonTab.razor
  src/BootstrapBlazor/Components/RibbonTab/RibbonTab.razor.cs
  src/BootstrapBlazor/Components/RibbonTab/RibbonTab.razor.js
  src/BootstrapBlazor/wwwroot/bundle/bootstrap.blazor.js
  src/BootstrapBlazor/wwwroot/bundle/bootstrap.blazor.min.js
  src/BootstrapBlazor/wwwroot/js/bootstrap.blazor.bundle.js
  src/BootstrapBlazor/wwwroot/js/bootstrap.blazor.bundle.min.js
  src/BootstrapBlazor/wwwroot/lib/extensions/browser.js
  src/BootstrapBlazor/wwwroot/modules/ribbon-tab.js
Labels: enhancement

#1087 feat(TimePicker): use JavaScript isolation
  src/BootstrapBlazor/Components/DateTimePicker/TimePickerCell.razor
  src/BootstrapBlazor/Components/DateTimePicker/TimePickerCell.razor.cs
  src/BootstrapBlazor/Components/DateTimePicker/TimePickerCell.razor.js
  src/BootstrapBlazor/wwwroot/modules/time-pick.js
Labels: enhancement

#1089 doc(Practicals): add a pintereso practice
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Pages/Prac.razor
  src/BootstrapBlazor.Shared/Practicals/Pintereso/Pintereso.razor
  src/BootstrapBlazor.Shared/Practicals/Pintereso/Pintereso.razor.cs
  src/BootstrapBlazor.Shared/Practicals/Pintereso/Pintereso.razor.css
  src/BootstrapBlazor.Shared/Practicals/Pintereso/Pintereso.razor.js
  src/BootstrapBlazor.Shared/Shared/PracNavMenu.razor.cs
  src/BootstrapBlazor.Shared/wwwroot/images/practicals/pintereso.png
Labels: documentation

#1093 feat(Table): use JavaScript isolation
  src/BootstrapBlazor.Shared/Components/Pre.razor.js
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/Components/Table/Table.razor.Edit.cs
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Components/Table/Table.razor.js
  src/BootstrapBlazor/wwwroot/modules/table.js
Labels: enhancement

#1095 feat(JSModuleAutoLoader): redesign ModuleName parameter function
  src/BootstrapBlazor.Shared/Components/ThemeChooser.razor.js
  src/BootstrapBlazor/Components/Ajax/Ajax.cs
  src/BootstrapBlazor/Components/AutoRedirect/AutoRedirect.cs
  src/BootstrapBlazor/Components/BaseComponents/BootstrapModuleComponentBase.cs
  src/BootstrapBlazor/Components/DateTimePicker/TimePickerCell.razor
  src/BootstrapBlazor/Components/Dialog/EditDialog.razor
  src/BootstrapBlazor/Components/Dialog/IconDialog.razor
  src/BootstrapBlazor/Components/Download/Download.cs
  src/BootstrapBlazor/Components/FullScreen/FullScreen.cs
  src/BootstrapBlazor/Components/ImageViewer/ImageViewer.razor.js
  src/BootstrapBlazor/Components/Menu/Menu.razor.js
  src/BootstrapBlazor/Components/ResizeNotification/ResizeNotification.cs
  src/BootstrapBlazor/Components/Table/Table.razor.js
  test/UnitTest/Components/BootstrapModuleComponentBaseTest.cs
Labels: enhancement

#1097 feat(Button): use JavaScript isolation
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor/Components/BaseComponents/BootstrapModuleComponentBase.cs
  src/BootstrapBlazor/Components/Button/Button.razor.js
  src/BootstrapBlazor/Components/Button/ButtonBase.cs
  src/BootstrapBlazor/Components/Button/PopConfirmButton.razor.cs
  src/BootstrapBlazor/Components/Button/PopConfirmButton.razor.js
  src/BootstrapBlazor/Components/Button/PopConfirmButtonBase.cs
  src/BootstrapBlazor/Components/Carousel/Carousel.razor.js
  src/BootstrapBlazor/Components/Tooltip/TooltipWrapperBase.cs
  src/BootstrapBlazor/wwwroot/modules/utility.js
Labels: enhancement

#1099 feat(Tooltip/Popover): use JavaScript isolation
  src/BootstrapBlazor.Shared/Samples/Tooltips.razor
  src/BootstrapBlazor/Components/BaseComponents/BootstrapModuleComponentBase.cs
  src/BootstrapBlazor/Components/Popover/Popover.cs
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Components/Tooltip/Tooltip.razor
  src/BootstrapBlazor/Components/Tooltip/Tooltip.razor.cs
  src/BootstrapBlazor/Components/Tooltip/Tooltip.razor.js
  src/BootstrapBlazor/wwwroot/modules/button.js
  src/BootstrapBlazor/wwwroot/modules/confirm.js
  src/BootstrapBlazor/wwwroot/modules/popover.js
  src/BootstrapBlazor/wwwroot/modules/tooltip.js
Labels: enhancement

#1101 feat(validate): use JavaScript isolation
  src/BootstrapBlazor/Components/Validate/ValidateBase.cs
  src/BootstrapBlazor/wwwroot/modules/validate.js
Labels: enhancement

#1103 fix(Layout): check authorization at first render
  src/BootstrapBlazor/Components/Layout/Layout.razor.cs
  test/UnitTest/Components/LayoutTest.cs
Labels: bug

#1105 doc(FontAwesome): update xml annotation
  src/Extensions/Components/BootstrapBlazor.FontAwesome/BootstrapBlazor.FontAwesome.csproj
  src/Extensions/Components/BootstrapBlazor.FontAwesome/Components/FAIconList.razor.cs
  src/Extensions/Components/BootstrapBlazor.FontAwesome/Components/FAIconList.razor.js
Labels: documentation

#1111 feat(TableFilter): use JavaScript isolation
  src/BootstrapBlazor/Components/Filters/TableFilter.razor
  src/BootstrapBlazor/Components/Filters/TableFilter.razor.cs
  src/BootstrapBlazor/Components/Filters/TableFilter.razor.js
  src/BootstrapBlazor/wwwroot/modules/base-popover.js
  src/BootstrapBlazor/wwwroot/modules/table-filter.js
Labels: enhancement

#1113 feat(Captcha): change OnValid to OnValidAsync
  src/BootstrapBlazor.Shared/Demos/Captcha/CaptchaNormal.razor
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Captcha/Captcha.razor.cs
  test/UnitTest/Components/CaptchaTest.cs
Labels: enhancement

#1115 feat(Captcha): add Max parameter
  src/BootstrapBlazor/Components/Captcha/Captcha.razor.cs
  test/UnitTest/Components/CaptchaTest.cs
Labels: enhancement

#1118 fix(Upload): import wrong path of image-previewer
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/ImagePreviewer/ImagePreviewer.razor.js
  src/BootstrapBlazor/Components/ImageViewer/ImageViewer.razor.js
  src/BootstrapBlazor/wwwroot/modules/upload.js
  src/BootstrapBlazor/wwwroot/modules/viewer.js
Labels: bug

#1120 feat(Rate): support double data type value
  src/BootstrapBlazor.Shared/Demos/Rates/RatesDisable.razor
  src/BootstrapBlazor.Shared/Demos/Rates/RatesIcon.razor
  src/BootstrapBlazor.Shared/Demos/Rates/RatesNormal.razor
  src/BootstrapBlazor.Shared/Demos/Rates/RatesValue.razor
  src/BootstrapBlazor.Shared/Demos/Rates/RatesWrap.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Rates.razor
  src/BootstrapBlazor.Shared/Samples/Rates.razor.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Captcha/Captcha.razor.cs
  src/BootstrapBlazor/Components/Rate/Rate.css
  src/BootstrapBlazor/Components/Rate/Rate.razor
  src/BootstrapBlazor/Components/Rate/Rate.razor.cs
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  test/UnitTest/Components/RateTest.cs
Labels: enhancement

#1122 feat(Rate): add IsReadonly parameter
  src/BootstrapBlazor.Shared/Demos/Rates/RatesReadonly.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Rates.razor
  src/BootstrapBlazor.Shared/Samples/Rates.razor.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Rate/Rate.css
  src/BootstrapBlazor/Components/Rate/Rate.razor
  src/BootstrapBlazor/Components/Rate/Rate.razor.cs
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  test/UnitTest/Components/RateTest.cs
Labels: enhancement

#1124 feat(Menu): use variable for css
  src/BootstrapBlazor/Components/Menu/Menu.css
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
Labels: enhancement

#1125 fix(QRCode): support Chinese and Number
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/Extensions/Components/BootstrapBlazor.BarCode/BootstrapBlazor.BarCode.csproj
  src/Extensions/Components/BootstrapBlazor.BarCode/Components/QRCode/QRCode.razor.js
  src/Extensions/Components/BootstrapBlazor.BarCode/wwwroot/qrcode.min.js
Labels: bug

#1128 feat(Validate): use JavaScript isolation
  src/BootstrapBlazor.Shared/Components/Pre.razor.js
  src/BootstrapBlazor/Components/DateTimePicker/DateTimePicker.razor
  src/BootstrapBlazor/Components/DateTimePicker/DateTimePicker.razor.cs
  src/BootstrapBlazor/Components/DateTimePicker/DateTimePicker.razor.js
  src/BootstrapBlazor/Components/DateTimeRange/DateTimeRange.razor
  src/BootstrapBlazor/Components/DateTimeRange/DateTimeRange.razor.cs
  src/BootstrapBlazor/Components/Display/DisplayBase.cs
  src/BootstrapBlazor/Components/Select/MultiSelect.razor
  src/BootstrapBlazor/Components/Select/MultiSelect.razor.cs
  src/BootstrapBlazor/Components/Select/MultiSelect.razor.js
  src/BootstrapBlazor/Components/Select/Select.razor
  src/BootstrapBlazor/Components/Select/Select.razor.cs
  src/BootstrapBlazor/Components/Select/Select.razor.js
  src/BootstrapBlazor/Components/Select/SelectTree.razor
  src/BootstrapBlazor/Components/Select/SelectTree.razor.cs
  src/BootstrapBlazor/Components/Select/SelectTree.razor.js
  src/BootstrapBlazor/Components/Textarea/Textarea.razor.cs
  src/BootstrapBlazor/Components/Textarea/Textarea.razor.js
  src/BootstrapBlazor/Components/Upload/MultipleUploadBase.cs
  src/BootstrapBlazor/Components/Upload/SingleUploadBase.cs
  src/BootstrapBlazor/Components/Validate/ValidateBase.cs
  src/BootstrapBlazor/wwwroot/modules/dropdown.js
  src/BootstrapBlazor/wwwroot/modules/multi-select.js
  src/BootstrapBlazor/wwwroot/modules/select-tree.js
  src/BootstrapBlazor/wwwroot/modules/select.js
  src/BootstrapBlazor/wwwroot/modules/textarea.js
Labels: enhancement

#1132 feat(Select): add IsClearable parameter
  src/BootstrapBlazor.Shared/Demos/Selects/SelectsClearable.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Selects.razor
  src/BootstrapBlazor/Components/Select/Select.css
  src/BootstrapBlazor/Components/Select/Select.razor
  src/BootstrapBlazor/Components/Select/Select.razor.cs
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/BootstrapBlazor/Options/IconThemeOptions.cs
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  test/UnitTest/Components/SelectTest.cs
Labels: enhancement

#1130 doc(Captcha): update Max parameter sample
  src/BootstrapBlazor.Shared/Demos/Captcha/CaptchaImage.razor
  src/BootstrapBlazor.Shared/Demos/Captcha/CaptchaNormal.razor
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Captcha/Captcha.razor.cs
Labels: documentation

#1134 feat(Icon): add ClearIcon for Select component
  src/Extensions/Components/BootstrapBlazor.MaterialDesign.Extensions/BootstrapBlazor.MaterialDesign.Extensions.csproj
  src/Extensions/Components/BootstrapBlazor.MaterialDesign.Extensions/DefaultIcon.cs
Labels: enhancement

#1136 feat(Timer): use JavaScript isolation
  src/BootstrapBlazor/Components/Circle/CircleBase.cs
  src/BootstrapBlazor/Components/Timer/Timer.razor.cs
Labels: enhancement

#1139 feat(JSModule): update JSModuleAutoLoader add same assembly check
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/BaseComponents/BootstrapModule2ComponentBase.cs
  src/BootstrapBlazor/Components/BaseComponents/BootstrapModuleComponentBase.cs
  src/BootstrapBlazor/Components/Checkbox/Checkbox.razor.cs
  src/BootstrapBlazor/Components/Clipboard/Clipboard.cs
  src/BootstrapBlazor/Components/ValidateForm/ValidateForm.razor.js
  src/BootstrapBlazor/Extensions/JSModuleExtensions.cs
  src/BootstrapBlazor/Utils/JSModule2OfType.cs
  src/BootstrapBlazor/wwwroot/modules/utility.js
  test/UnitTest/Components/BootstrapModuleComponentBaseTest.cs
  test/UnitTest/Components/UploadTest.cs
  test/UnitTest/Extensions/JSModuleExtensionsTest.cs
Labels: enhancement

#1143 feat(JSRuntimeEventHandler): add IJSRuntimeEventHandler service
  src/BootstrapBlazor.Shared/Practicals/Pintereso/Pintereso.razor
  src/BootstrapBlazor.Shared/Practicals/Pintereso/Pintereso.razor.cs
  src/BootstrapBlazor.Shared/Practicals/Pintereso/Pintereso.razor.css
  src/BootstrapBlazor.Shared/Practicals/Pintereso/Pintereso.razor.js
  src/BootstrapBlazor/Enums/DOMEvents.cs
  src/BootstrapBlazor/Extensions/BootstrapBlazorServiceCollectionExtensions.cs
  src/BootstrapBlazor/Services/BootstrapBlazorJSRuntimeEventHandler.cs
  src/BootstrapBlazor/Services/IJSRuntimeEventHandler.cs
  src/BootstrapBlazor/Services/JSRuntimeEventHandler.Event.cs
  src/BootstrapBlazor/Services/JSRuntimeEventHandler.Invoke.cs
  src/BootstrapBlazor/Services/JSRuntimeEventHandler.cs
  src/BootstrapBlazor/Services/NullLookupService.cs
  src/BootstrapBlazor/wwwroot/modules/event-services.js
  test/UnitTest/Services/JSRuntimeEventHandlerTest.cs
Labels: enhancement

#1145 fix(DateTimePicker): modify the reference script
  src/BootstrapBlazor/Components/DateTimePicker/DateTimePicker.razor.js
Labels: bug

#1148 chore(Obsolete): remove obsolete code
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.js
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.cs
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.js
  src/BootstrapBlazor/Components/Captcha/Captcha.razor.cs
  src/BootstrapBlazor/Components/Dialog/Dialog.razor.cs
  src/BootstrapBlazor/Components/Dialog/DialogOption.cs
  src/BootstrapBlazor/Components/Search/Search.razor.cs
  src/BootstrapBlazor/Components/Tab/Tab.razor.cs
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/Components/Table/Table.razor.Toolbar.cs
  src/BootstrapBlazor/Components/Table/Table.razor.js
  src/BootstrapBlazor/Extensions/UploadFileExtensions.cs
  src/BootstrapBlazor/Utils/JSModule2OfType.cs
  src/BootstrapBlazor/wwwroot/bundle/bootstrap.blazor.js
  src/BootstrapBlazor/wwwroot/bundle/bootstrap.blazor.min.js
  src/BootstrapBlazor/wwwroot/js/bootstrap.blazor.bundle.js
  src/BootstrapBlazor/wwwroot/js/bootstrap.blazor.bundle.min.js
  src/BootstrapBlazor/wwwroot/modules/base/base-component.js
  src/BootstrapBlazor/wwwroot/modules/base/base-dropdown.js
  src/BootstrapBlazor/wwwroot/modules/base/blazor-component.js
  src/BootstrapBlazor/wwwroot/modules/base/config.js
  src/BootstrapBlazor/wwwroot/modules/base/data.js
  src/BootstrapBlazor/wwwroot/modules/base/event-handler.js
  src/BootstrapBlazor/wwwroot/modules/base/index.js
  src/BootstrapBlazor/wwwroot/modules/base/manipulator.js
  src/BootstrapBlazor/wwwroot/modules/base/simple-component.js
  src/BootstrapBlazor/wwwroot/modules/base/utility.js
  src/BootstrapBlazor/wwwroot/modules/debounce.js
  src/BootstrapBlazor/wwwroot/modules/input.js
  test/UnitTest/Components/TableTest.cs
  test/UnitTest/Utils/JSModuleTest.cs
Labels: chore

#1150 feat(BarcodeReader): support for setting camera at initialization
  src/BootstrapBlazor.Shared/BootstrapBlazor.Shared.csproj
  src/Extensions/Components/BootstrapBlazor.BarCode/BootstrapBlazor.BarCode.csproj
  src/Extensions/Components/BootstrapBlazor.BarCode/Components/BarcodeReader/BarcodeReader.razor.cs
Labels: enhancement

#1152 feat(FontAwesome): remove BootstrapModuleComponentBase class
  src/BootstrapBlazor.Shared/BootstrapBlazor.Shared.csproj
  src/Extensions/Components/BootstrapBlazor.BarCode/BootstrapBlazor.BarCode.csproj
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/Chart.razor.cs
  src/Extensions/Components/BootstrapBlazor.FontAwesome/BootstrapBlazor.FontAwesome.csproj
  src/Extensions/Components/BootstrapBlazor.FontAwesome/Components/FAIconList.razor
  src/Extensions/Components/BootstrapBlazor.FontAwesome/Components/FAIconList.razor.cs
  src/Extensions/Components/BootstrapBlazor.FontAwesome/Components/FAIconList.razor.js
Labels: enhancement

#1154 feat(Markdown): remove BootstrapModuleComponentBase class
  src/BootstrapBlazor.Shared/BootstrapBlazor.Shared.csproj
  src/Extensions/Components/BootstrapBlazor.Markdown/BootstrapBlazor.Markdown.csproj
  src/Extensions/Components/BootstrapBlazor.Markdown/Components/Markdown/Markdown.razor.cs
Labels: enhancement

#1156 feat(Editor): reduce dependency package version
  src/BootstrapBlazor.Shared/BootstrapBlazor.Shared.csproj
  src/Extensions/Components/BootstrapBlazor.SummerNote/BootstrapBlazor.SummerNote.csproj
  src/Extensions/Components/BootstrapBlazor.SummerNote/Components/Editor/Editor.razor.cs
Labels: enhancement

#1158 feat(Topology): add canvas height check
  src/BootstrapBlazor.Shared/BootstrapBlazor.Shared.csproj
  src/BootstrapBlazor.Shared/Demos/Topologies/TopologiesNormal.razor
  src/Extensions/Components/BootstrapBlazor.Topology/BootstrapBlazor.Topology.csproj
  src/Extensions/Components/BootstrapBlazor.Topology/Components/Topology/Topology.razor.cs
  src/Extensions/Components/BootstrapBlazor.Topology/Components/Topology/Topology.razor.js
Labels: enhancement

#1161 feat(Input): use JavaScript isolation
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.cs
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.js
  src/BootstrapBlazor/Components/AutoFill/AutoFill.razor.cs
  src/BootstrapBlazor/Components/Input/BootstrapInput.js
  src/BootstrapBlazor/Components/Input/BootstrapInput.razor.js
  src/BootstrapBlazor/Components/Input/BootstrapInputBase.cs
  src/BootstrapBlazor/Components/Select/Select.razor.cs
  src/BootstrapBlazor/Components/Select/Select.razor.js
  src/BootstrapBlazor/wwwroot/bundle/bootstrap.blazor.js
  src/BootstrapBlazor/wwwroot/bundle/bootstrap.blazor.min.js
  src/BootstrapBlazor/wwwroot/js/bootstrap.blazor.bundle.js
  src/BootstrapBlazor/wwwroot/js/bootstrap.blazor.bundle.min.js
  src/BootstrapBlazor/wwwroot/modules/debounce.js
Labels: enhancement

#1163 feat(Layout): use JavaScript isolation
  src/BootstrapBlazor/Components/BaseComponents/BootstrapModuleComponentBase.cs
  src/BootstrapBlazor/Components/Input/BootstrapInput.razor.js
  src/BootstrapBlazor/Components/Input/BootstrapInputBase.cs
  src/BootstrapBlazor/Components/Layout/Layout.js
  src/BootstrapBlazor/Components/Layout/Layout.razor
  src/BootstrapBlazor/Components/Layout/Layout.razor.cs
  src/BootstrapBlazor/Components/Layout/Layout.razor.js
  src/BootstrapBlazor/wwwroot/bundle/bootstrap.blazor.js
  src/BootstrapBlazor/wwwroot/bundle/bootstrap.blazor.min.js
  src/BootstrapBlazor/wwwroot/js/bootstrap.blazor.bundle.js
  src/BootstrapBlazor/wwwroot/js/bootstrap.blazor.bundle.min.js
Labels: enhancement

#1165 feat(Input): use JavaScript isolation
  src/BootstrapBlazor.Shared/Demos/AutoComplete/AutoCompleteOnSelectedItemChanged.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.cs
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.js
  src/BootstrapBlazor/Components/AutoFill/AutoFill.razor
  src/BootstrapBlazor/Components/AutoFill/AutoFill.razor.cs
  src/BootstrapBlazor/Components/Input/BootstrapInput.razor.cs
  src/BootstrapBlazor/Components/Input/BootstrapInput.razor.js
  src/BootstrapBlazor/Components/Input/BootstrapInputBase.cs
  src/BootstrapBlazor/Components/Input/FloatingLabel.razor.cs
  src/BootstrapBlazor/Components/InputNumber/BootstrapInputNumber.razor.cs
  src/BootstrapBlazor/Components/Search/Search.razor
  src/BootstrapBlazor/Components/Search/Search.razor.cs
  src/BootstrapBlazor/wwwroot/modules/debounce.js
  src/BootstrapBlazor/wwwroot/modules/input.js
Labels: enhancement

#1167 feat(Message): use JavaScript isolation
  src/BootstrapBlazor/Components/Alert/Alert.razor.cs
  src/BootstrapBlazor/Components/Alert/AlertBase.cs
  src/BootstrapBlazor/Components/Message/Message.js
  src/BootstrapBlazor/Components/Message/Message.razor
  src/BootstrapBlazor/Components/Message/Message.razor.cs
  src/BootstrapBlazor/Components/Message/Message.razor.js
  src/BootstrapBlazor/Components/Message/MessageItem.razor
  src/BootstrapBlazor/Components/Message/MessageItem.razor.cs
  src/BootstrapBlazor/Components/Tag/Tag.razor.cs
  src/BootstrapBlazor/wwwroot/bundle/bootstrap.blazor.js
  src/BootstrapBlazor/wwwroot/bundle/bootstrap.blazor.min.js
  src/BootstrapBlazor/wwwroot/js/bootstrap.blazor.bundle.js
  src/BootstrapBlazor/wwwroot/js/bootstrap.blazor.bundle.min.js
Labels: enhancement

#1171 feat(Slider): use JavaScript isolation
  src/BootstrapBlazor/Components/Slider/Slider.js
  src/BootstrapBlazor/Components/Slider/Slider.razor
  src/BootstrapBlazor/Components/Slider/Slider.razor.cs
  src/BootstrapBlazor/Components/Slider/Slider.razor.js
  src/BootstrapBlazor/wwwroot/bundle/bootstrap.blazor.js
  src/BootstrapBlazor/wwwroot/bundle/bootstrap.blazor.min.js
  src/BootstrapBlazor/wwwroot/js/bootstrap.blazor.bundle.js
  src/BootstrapBlazor/wwwroot/js/bootstrap.blazor.bundle.min.js
Labels: enhancement

#1169 feat(Transition): use JavaScript isolation
  src/BootstrapBlazor/Components/Slider/Slider.razor.js
  src/BootstrapBlazor/Components/Transition/Transition.js
  src/BootstrapBlazor/Components/Transition/Transition.razor
  src/BootstrapBlazor/Components/Transition/Transition.razor.cs
  src/BootstrapBlazor/Components/Transition/Transition.razor.js
  src/BootstrapBlazor/wwwroot/bundle/bootstrap.blazor.js
  src/BootstrapBlazor/wwwroot/bundle/bootstrap.blazor.min.js
  src/BootstrapBlazor/wwwroot/js/bootstrap.blazor.bundle.js
  src/BootstrapBlazor/wwwroot/js/bootstrap.blazor.bundle.min.js
  test/UnitTest/Components/TransitionTest.cs
Labels: enhancement

#1173 feat(drag): design drag component
  src/BootstrapBlazor/Components/Select/Select.razor.js
  src/BootstrapBlazor/Components/Slider/Slider.razor.js
  src/BootstrapBlazor/wwwroot/modules/data.js
  src/BootstrapBlazor/wwwroot/modules/drag.js
  src/BootstrapBlazor/wwwroot/modules/viewer.js
Labels: enhancement

#1175 feat(Camera): use JavaScript isolation
  src/BootstrapBlazor/Components/Camera/Camera.js
  src/BootstrapBlazor/Components/Camera/Camera.razor
  src/BootstrapBlazor/Components/Camera/Camera.razor.cs
  src/BootstrapBlazor/Components/Camera/Camera.razor.js
  src/BootstrapBlazor/Locales/en.json
  src/BootstrapBlazor/Locales/zh.json
  src/BootstrapBlazor/wwwroot/bundle/bootstrap.blazor.js
  src/BootstrapBlazor/wwwroot/bundle/bootstrap.blazor.min.js
  src/BootstrapBlazor/wwwroot/js/bootstrap.blazor.bundle.js
  src/BootstrapBlazor/wwwroot/js/bootstrap.blazor.bundle.min.js
  test/UnitTest/Components/CameraTest.cs
  test/UnitTest/Components/MessageTest.cs
  test/UnitTest/Components/RadioTest.cs
Labels: enhancement

#1177 feat(Captcha): use JavaScript isolation
  src/BootstrapBlazor/Components/Captcha/Captcha.razor
  src/BootstrapBlazor/Components/Captcha/Captcha.razor.cs
  src/BootstrapBlazor/Components/Captcha/Captcha.razor.js
  src/BootstrapBlazor/Locales/en.json
  src/BootstrapBlazor/Locales/zh.json
  src/BootstrapBlazor/Utils/JSInterop.cs
  src/BootstrapBlazor/wwwroot/bundle/bootstrap.blazor.js
  src/BootstrapBlazor/wwwroot/bundle/bootstrap.blazor.min.js
  src/BootstrapBlazor/wwwroot/js/bootstrap.blazor.bundle.js
  src/BootstrapBlazor/wwwroot/js/bootstrap.blazor.bundle.min.js
  src/BootstrapBlazor/wwwroot/lib/extensions/longbow.captcha.js
  test/UnitTest/Components/CaptchaTest.cs
  test/UnitTest/Utils/JSInteropTest.cs
Labels: enhancement

#1179 feat(WebClient): use JavaScript isolation
  src/BootstrapBlazor.Shared/Demos/Ajax/AjaxNormal.razor
  src/BootstrapBlazor/Components/Ajax/Ajax.cs
  src/BootstrapBlazor/Components/Ajax/AjaxService.cs
  src/BootstrapBlazor/Services/WebClientService.cs
  src/BootstrapBlazor/Utils/JSModule.cs
  src/BootstrapBlazor/wwwroot/bundle/bootstrap.blazor.js
  src/BootstrapBlazor/wwwroot/bundle/bootstrap.blazor.min.js
  src/BootstrapBlazor/wwwroot/js/bootstrap.blazor.bundle.js
  src/BootstrapBlazor/wwwroot/js/bootstrap.blazor.bundle.min.js
  src/BootstrapBlazor/wwwroot/lib/extensions/longbow.extensions.js
  src/BootstrapBlazor/wwwroot/modules/ajax.js
  src/BootstrapBlazor/wwwroot/modules/browser.js
  src/BootstrapBlazor/wwwroot/modules/client.js
  test/UnitTest/Components/AjaxTest.cs
  test/UnitTest/Services/WebClientServiceTest.cs
Labels: enhancement
