Repository dotnetcore/BootstrapBlazor, pull requests merged in 2023-07, with the labels that each got.

#1486 feat(Table): export support Lookup parameter
  src/BootstrapBlazor.Shared/BootstrapBlazor.Shared.csproj
  src/BootstrapBlazor.Shared/Demos/Table/TablesExport/TablesExportShowExportButton.razor
  src/BootstrapBlazor/Utils/Utility.cs
  src/Extensions/Components/BootstrapBlazor.TableExport/BootstrapBlazor.TableExport.csproj
  src/Extensions/Components/BootstrapBlazor.TableExport/ExcelExport.cs
Labels: enhancement

#1472 doc(Login): update demo
  src/BootstrapBlazor.Shared/Data/LoginModel.cs
  src/BootstrapBlazor.Shared/Practicals/LoginAndRegister/PracLogin.razor
  src/BootstrapBlazor.Shared/Practicals/LoginAndRegister/PracLogin.razor.css
  src/BootstrapBlazor.Shared/Practicals/LoginAndRegister/PracLoginTemplate1.razor
  src/BootstrapBlazor.Shared/Practicals/LoginAndRegister/PracLoginTemplate1.razor.css
  src/BootstrapBlazor.Shared/Practicals/LoginAndRegister/PracLoginTemplate2.razor
  src/BootstrapBlazor.Shared/Practicals/LoginAndRegister/PracLoginTemplate2.razor.css
  src/BootstrapBlazor.Shared/Practicals/LoginAndRegister/PracLoginTemplate3.razor
  src/BootstrapBlazor.Shared/Practicals/LoginAndRegister/PracLoginTemplate3.razor.css
  src/BootstrapBlazor.Shared/Practicals/LoginAndRegister/PracLoginTemplate4.razor
  src/BootstrapBlazor.Shared/Practicals/LoginAndRegister/PracLoginTemplate4.razor.css
  src/BootstrapBlazor.Shared/Practicals/LoginAndRegister/PracLoginTemplate4.razor.js
  src/BootstrapBlazor.Shared/Practicals/LoginAndRegister/PracLoginTemplate5.razor
  src/BootstrapBlazor.Shared/Practicals/LoginAndRegister/PracLoginTemplate5.razor.css
  src/BootstrapBlazor.Shared/Practicals/LoginAndRegister/PracLoginTemplate5.razor.js
  src/BootstrapBlazor.Shared/Practicals/LoginAndRegister/PracLoginTemplate6.razor
  src/BootstrapBlazor.Shared/Practicals/LoginAndRegister/PracLoginTemplate6.razor.css
  src/BootstrapBlazor.Shared/Practicals/LoginAndRegister/PracLoginTemplate7.razor
  src/BootstrapBlazor.Shared/Practicals/LoginAndRegister/PracLoginTemplate7.razor.css
  src/BootstrapBlazor.Shared/Practicals/LoginAndRegister/PracLoginTemplate8.razor
  src/BootstrapBlazor.Shared/Practicals/LoginAndRegister/PracLoginTemplate8.razor.css
  src/BootstrapBlazor.Shared/Practicals/LoginAndRegister/PracLoginTemplate9.razor
  src/BootstrapBlazor.Shared/Practicals/LoginAndRegister/PracLoginTemplate9.razor.css
  src/BootstrapBlazor.Shared/Practicals/LoginAndRegister/PracRegister.razor
  src/BootstrapBlazor.Shared/Practicals/Pintereso/Pintereso.razor
  src/BootstrapBlazor.Shared/Shared/PracLoginLayout.razor
  src/BootstrapBlazor.Shared/Shared/PracLoginLayout.razor.css
  src/BootstrapBlazor.Shared/Shared/PracNavMenu.razor.cs
  src/BootstrapBlazor.Shared/wwwroot/images/practicals/logintemplate3background.jpg
  src/BootstrapBlazor.Shared/wwwroot/images/practicals/logintemplate4background.jpg
Labels: documentation

#1488 fix(Table): table JavaScript throw exception
  src/BootstrapBlazor.Shared/Samples/Table/TablesLookup.razor
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/Components/Table/Table.razor.js
Labels: bug

#1491 fix(Table): can't resize column when reset visible columns
  src/BootstrapBlazor.Shared/Components/DemoBlock.razor.css
  src/BootstrapBlazor.Shared/Components/Pre.razor.css
  src/BootstrapBlazor.Shared/Demos/Table/TablesFixedHeader/TablesFixedHeaderDialog.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesSearch/TablesSearchTable.razor
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Table/TablesSearch.razor
  src/BootstrapBlazor/Components/Table/Table.css
  src/BootstrapBlazor/Components/Table/Table.razor.Checkbox.cs
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Components/Table/Table.razor.js
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  test/UnitTest/Components/TableTest.cs
Labels: bug

#1494 fix(Filter): can't input in Modal
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Filters/TableFilter.razor.js
Labels: bug

#1496 doc(Dialog): update document for CloseDialogAsync
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Dialogs.razor
  src/BootstrapBlazor/Components/Modal/ModalDialog.razor
  src/BootstrapBlazor/Components/Modal/ModalDialog.razor.cs
Labels: documentation

#1498 doc(Html2Pdf): add html to pdf sample code
  src/BootstrapBlazor.Shared/Demos/Html2Pdf/Html2PdfNormal.razor
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Html2Pdfs.razor
Labels: documentation

#1500 fix(Table): trigger sort event when resize column
  src/BootstrapBlazor.Shared/wwwroot/css/motronic.css
  src/BootstrapBlazor.Shared/wwwroot/css/site.css
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.js
Labels: bug

#1504 fix(Table): ShowCheckboxCallback not work on CardView mode
  src/BootstrapBlazor.Shared/BootstrapBlazor.Shared.csproj
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor
Labels: bug

#1512 chore(SummerNote): update import module path
  src/BootstrapBlazor.Shared/BootstrapBlazor.Shared.csproj
  src/BootstrapBlazor.Shared/Components/Pre.razor.js
  src/BootstrapBlazor/Components/Slider/Slider.razor.cs
  src/Extensions/Components/BootstrapBlazor.SummerNote/BootstrapBlazor.SummerNote.csproj
  src/Extensions/Components/BootstrapBlazor.SummerNote/Components/Editor/Editor.razor.js
Labels: chore

#1510 chore(Analyzer): update Analyzer configuration
  src/BootstrapBlazor.Docs/BootstrapBlazor.Docs.csproj
  src/BootstrapBlazor/build/BootstrapBlazor.targets
  src/BootstrapBlazor/build/bootstrapblazor.targets
Labels: chore

#1514 refactor(Collapse): add accordion-button variable of css
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Collapse/Collapse.css
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
Labels: chore

#1516 feat(Checkbox): support inside BootstrapInputGroup
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.js
  src/BootstrapBlazor/Components/Checkbox/Checkbox.razor
  src/BootstrapBlazor/Components/Display/DisplayBase.cs
  src/BootstrapBlazor/Components/EditorForm/EditorForm.razor
  src/BootstrapBlazor/Components/Input/BootstrapInput.razor.js
  src/BootstrapBlazor/Components/Input/BootstrapInputBase.cs
Labels: enhancement

#1529 feat(Slider): redesign Slider component
  src/BootstrapBlazor.Docs/BootstrapBlazor.Docs.csproj
  src/BootstrapBlazor.Shared/BootstrapBlazor.Shared.csproj
  src/BootstrapBlazor.Shared/Demos/Sliders/SliderBinding.razor
  src/BootstrapBlazor.Shared/Demos/Sliders/SliderNormal.razor
  src/BootstrapBlazor.Shared/Demos/Sliders/SliderNormal.razor.css
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Sliders.razor
  src/BootstrapBlazor.Shared/Samples/Sliders.razor.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/InputNumber/BootstrapInputNumber.razor
  src/BootstrapBlazor/Components/InputNumber/BootstrapInputNumber.razor.cs
  src/BootstrapBlazor/Components/InputNumber/BootstrapInputNumberBase.cs
  src/BootstrapBlazor/Components/Slider/Slider.css
  src/BootstrapBlazor/Components/Slider/Slider.razor
  src/BootstrapBlazor/Components/Slider/Slider.razor.cs
  src/BootstrapBlazor/Components/Slider/Slider.razor.js
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  test/UnitTest/Components/CheckboxListTest.cs
  test/UnitTest/Components/SliderTest.cs
Labels: enhancement

#1517 fix(Table): not trigger OnExportAsync callback
  src/BootstrapBlazor.Shared/Demos/Table/TablesExport/TablesExportOnExportAsync.razor
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/ITableExportDataContext.cs
  src/BootstrapBlazor/Components/Table/Table.razor.Toolbar.cs
  src/BootstrapBlazor/Components/Table/TableExportDataContext.cs
  src/Extensions/Components/BootstrapBlazor.TableExport/ExcelExport.cs
  test/UnitTest/Components/TableTest.cs
Labels: bug

#1532 feat(Dock): add header style
  src/BootstrapBlazor.Docs/wwwroot/lib/highlight/highlight.min.js
  src/BootstrapBlazor.Docs/wwwroot/lib/highlight/vs.min.css
  src/Extensions/Components/BootstrapBlazor.Dock/BootstrapBlazor.Dock.csproj
  src/Extensions/Components/BootstrapBlazor.Dock/wwwroot/css/goldenlayout-bb.css
Labels: enhancement

#1534 fix(Modal): remove focustrap function
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Filters/TableFilter.razor.js
  src/BootstrapBlazor/Components/Modal/Modal.razor.js
Labels: bug

#1538 feat(Table): support drag column
  src/BootstrapBlazor.Shared/Demos/Table/TablesColumn/TablesColumnDragOrder.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Table/Tables.razor.cs
  src/BootstrapBlazor.Shared/Samples/Table/TablesColumn.razor
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Scroll/Scroll.css
  src/BootstrapBlazor/Components/Table/Table.css
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Components/Table/Table.razor.js
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  test/UnitTest/Components/ListViewTest.cs
  test/UnitTest/Components/TableTest.cs
  test/UnitTest/Extensions/ITableColumnExtensionsTest.cs
Labels: enhancement

#1542 doc(Shared): update package version
  src/BootstrapBlazor.Docs/BootstrapBlazor.Docs.csproj
  src/BootstrapBlazor.Shared/BootstrapBlazor.Shared.csproj
  src/Extensions/Components/BootstrapBlazor.Live2DDisplay/BootstrapBlazor.Live2DDisplay.csproj
Labels: documentation

#1524 feat(Camera): support capture with JPEG format
  src/BootstrapBlazor.Docs/BootstrapBlazor.Docs.csproj
  src/BootstrapBlazor.Shared/BootstrapBlazor.Shared.csproj
  src/BootstrapBlazor.Shared/Demos/Camera/CameraCaptureJpeg.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Cameras.razor
  src/BootstrapBlazor.Shared/Samples/Cameras.razor.cs
  src/BootstrapBlazor/Components/Camera/Camera.razor
  src/BootstrapBlazor/Components/Camera/Camera.razor.cs
  src/BootstrapBlazor/Components/Camera/Camera.razor.js
Labels: enhancement

#1526 fix(Camera): can't preview correctly and obtain the camera list in iOS
  src/BootstrapBlazor/Components/Camera/Camera.razor.js
Labels: bug

#1519 feat(ContextMenu): support mobile device
  src/BootstrapBlazor/Components/ContextMenu/ContextMenuTrigger.cs
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Components/TreeView/TreeView.razor
  src/BootstrapBlazor/Components/TreeView/TreeView.razor.cs
  test/UnitTest/Components/CameraTest.cs
  test/UnitTest/Components/ContextMenuTest.cs
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#1544 fix(Steps): items always empty
  src/BootstrapBlazor/Components/Step/Steps.razor.cs
Labels: bug

#1547 fix(AddScript): load failed when concurrency request script
  src/BootstrapBlazor/wwwroot/modules/utility.js
Labels: bug

#1550 feat(DockView): support Lock feature
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockComponent.cs
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockView.razor.cs
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockView.razor.js
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockViewConfig.cs
  src/Extensions/Components/BootstrapBlazor.Dock/wwwroot/css/goldenlayout-bb.css
  src/Extensions/Components/BootstrapBlazor.Dock/wwwroot/images/lock.svg
Labels: enhancement

#1552 chore(IZipArchiveService): remove await keyword
  src/BootstrapBlazor/Services/DefaultZipArchiveService.cs
  src/BootstrapBlazor/Services/IZipArchiveService.cs
  test/UnitTest/Services/ZipArchiveServiceTest.cs
Labels: chore

#1556 doc(conduct): add code-conduct/security/contribute markdown doc
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  SECURITY.md
Labels: documentation

#1560 feat(DockView): add lock button on stack header
  src/Extensions/Components/BootstrapBlazor.Dock/BootstrapBlazor.Dock.csproj
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockView.razor.js
  src/Extensions/Components/BootstrapBlazor.Dock/wwwroot/css/goldenlayout-bb.css
  src/Extensions/Components/BootstrapBlazor.Dock/wwwroot/images/lock.svg
  src/Extensions/Components/BootstrapBlazor.Dock/wwwroot/images/unlock.svg
Labels: enhancement

#1558 feat(Live2DDisplay): support draggble element
  src/BootstrapBlazor.Shared/Demos/Live2DDisplay/Live2DDisplayNormal.razor
  src/Extensions/Components/BootstrapBlazor.Live2DDisplay/Components/Live2DDisplay/Live2DDisplay.razor.cs
  src/Extensions/Components/BootstrapBlazor.Live2DDisplay/Components/Live2DDisplay/Live2DDisplay.razor.js
Labels: enhancement

#1562 feat(DockView): add LockChangedCallbackAsync parameter
  src/Extensions/Components/BootstrapBlazor.Dock/BootstrapBlazor.Dock.csproj
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockView.razor.cs
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockView.razor.js
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockViewConfig.cs
Labels: enhancement

#1564 feat(Filter): add Items parameter
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Filters/BoolFilter.razor.cs
  src/BootstrapBlazor/Components/Filters/DateTimeFilter.razor.cs
  src/BootstrapBlazor/Components/Filters/EnumFilter.razor.cs
  src/BootstrapBlazor/Components/Filters/FilterBase.cs
  src/BootstrapBlazor/Components/Filters/LookupFilter.razor.cs
  src/BootstrapBlazor/Components/Filters/NumberFilter.razor.cs
  src/BootstrapBlazor/Components/Filters/StringFilter.razor.cs
Labels: enhancement

#1568 feat(Table): support auto calc height
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.css
  src/BootstrapBlazor/Components/Table/Table.razor.Sort.cs
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Components/Table/Table.razor.js
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#1566 feat(ShareButton): add ShareButton component
  src/BootstrapBlazor/Components/Button/Button.razor.js
  src/BootstrapBlazor/Components/Button/ShareButton.cs
  src/BootstrapBlazor/Components/Button/ShareButtonContext.cs
  test/UnitTest/Components/ButtonTest.cs
Labels: enhancement

#1570 refactor(DockView): support IsLock parameter on firstRender
  src/BootstrapBlazor.Shared/BootstrapBlazor.Shared.csproj
  src/BootstrapBlazor.Shared/Demos/DockView/BaseDockView.cs
  src/BootstrapBlazor.Shared/Demos/DockView/DockViewCol.razor
  src/BootstrapBlazor.Shared/Demos/DockView/DockViewComplex.razor
  src/BootstrapBlazor.Shared/Demos/DockView/DockViewLock.razor
  src/BootstrapBlazor.Shared/Demos/DockView/DockViewLock.razor.css
  src/BootstrapBlazor.Shared/Demos/DockView/DockViewNest.razor
  src/BootstrapBlazor.Shared/Demos/DockView/DockViewRow.razor
  src/BootstrapBlazor.Shared/Demos/DockView/DockViewStack.razor
  src/BootstrapBlazor.Shared/Demos/DockView/DockViewVisible.razor
  src/BootstrapBlazor.Shared/Demos/DockView/DockViewVisible.razor.css
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Table/CustomerFilter.razor
  src/BootstrapBlazor.Shared/Samples/Table/Tables.razor.cs
  src/BootstrapBlazor.Shared/Samples/Table/TablesColumn.razor
  src/BootstrapBlazor.Shared/Shared/DockLayout.razor
  src/Extensions/Components/BootstrapBlazor.Dock/BootstrapBlazor.Dock.csproj
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockView.razor.js
Labels: enhancement

#1572 feat(Table): add OnDragColumnEndAsync parameter
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#1573 fix(Editor): throw exception for dispose tooltip
  src/BootstrapBlazor.Shared/BootstrapBlazor.Shared.csproj
  src/Extensions/Components/BootstrapBlazor.SummerNote/BootstrapBlazor.SummerNote.csproj
  src/Extensions/Components/BootstrapBlazor.SummerNote/Components/Editor/Editor.razor.js
Labels: bug

#1575 feat(Table): add OnResizeColumnCallback parameter
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Components/Table/Table.razor.js
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#1577 feat(Table): update resize column function
  src/BootstrapBlazor.Shared/Demos/Table/TablesColumn/TablesColumnAllowResizing.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesFixedColumn/TablesFixedColHeader.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesFixedColumn/TablesFixedColTableHeader.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesFixedColumn/TablesFixedExtendButtonsColumn.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesFixedColumn/TablesFixedHeaderAndExtendButtonsColumn.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Table/TablesColumn.razor
  src/BootstrapBlazor.Shared/Shared/MainLayout.razor.css
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Scroll/Scroll.css
  src/BootstrapBlazor/Components/Table/Table.css
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Components/Table/Table.razor.js
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#1579 doc(Table): update table tree sample
  src/BootstrapBlazor.Shared/Demos/Table/TablesTree/TablesTreeData.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesTree/TablesTreeEdit.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesTree/TablesTreeIcon.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesTree/TablesTreeLevel.razor
Labels: documentation

#1581 feat(Menu): cascade set parent to expand on Vertical mode
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Menu/Menu.razor.cs
  src/BootstrapBlazor/Components/Menu/MenuItem.cs
  test/UnitTest/Components/MenuTest.cs
Labels: enhancement

#1583 refactor(Utility): use float instead of int data type on getHeight/getWidth
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.css
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Components/Table/Table.razor.js
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/modules/utility.js
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#1585 doc(ValidateForms): fix Hobbies no value
  src/BootstrapBlazor.Shared/Components/DataDialogComponent.razor
  src/BootstrapBlazor.Shared/Data/Foo.cs
  src/BootstrapBlazor.Shared/Demos/CheckboxList/CheckboxListIsButton.razor
  src/BootstrapBlazor.Shared/Demos/Display/DisplayDataType.razor
  src/BootstrapBlazor.Shared/Demos/Display/DisplayEditorForm.razor
  src/BootstrapBlazor.Shared/Demos/Display/DisplayLabels.razor
  src/BootstrapBlazor.Shared/Demos/Display/DisplayNormal.razor
  src/BootstrapBlazor.Shared/Demos/EditDialog/EditDialogNoRender.razor
  src/BootstrapBlazor.Shared/Demos/EditDialog/EditDialogNormal.razor
  src/BootstrapBlazor.Shared/Demos/EditForm/EditFormAlignment.razor
  src/BootstrapBlazor.Shared/Demos/EditForm/EditFormItemsPerRow.razor
  src/BootstrapBlazor.Shared/Demos/EditForm/EditFormNormal.razor
  src/BootstrapBlazor.Shared/Demos/EditForm/EditFormSkipValidate.razor
  src/BootstrapBlazor.Shared/Demos/EditForm/EditFormValidateForm.razor
  src/BootstrapBlazor.Shared/Demos/Labels/LabelsEditorForm.razor
  src/BootstrapBlazor.Shared/Demos/Labels/LabelsValidateForm1.razor
  src/BootstrapBlazor.Shared/Demos/Rows/RowForm.razor
  src/BootstrapBlazor.Shared/Demos/Rows/RowFormInline.razor
  src/BootstrapBlazor.Shared/Demos/Rows/Rowspan.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesEdit/TablesEditDataService.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesEdit/TablesEditFooterTemplate.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesEdit/TablesEditInjectDataService.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesLoading/TablesLoadingShowLoading.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesLoading/TablesLoadingShowLoadingInFirstRender.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesLoading/TablesLoadingShowSkeleton.razor
  src/BootstrapBlazor.Shared/Demos/ValidateForms/ValidateFormComplexValidation.razor
  src/BootstrapBlazor.Shared/Demos/ValidateForms/ValidateFormCustomDisplsyError.razor
  src/BootstrapBlazor.Shared/Demos/ValidateForms/ValidateFormInnerComponent.razor
  src/BootstrapBlazor.Shared/Demos/ValidateForms/ValidateFormInnerFormLabel.razor
  src/BootstrapBlazor.Shared/Demos/ValidateForms/ValidateFormValidatorAllField.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/ValidateForms.razor
  test/UnitTest/Components/ButtonTest.cs
  test/UnitTest/Components/CheckboxListTest.cs
  test/UnitTest/Components/TransitionTest.cs
Labels: documentation

#1587 refactor(DockView): sync Lock state after close tab/stack
  src/BootstrapBlazor.Shared/BootstrapBlazor.Shared.csproj
  src/Extensions/Components/BootstrapBlazor.Dock/BootstrapBlazor.Dock.csproj
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockView.razor.js
Labels: enhancement

#1591 feat(TableFooterCell): add FormatString/Formatter parameter
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/TableFooterCell.razor
  src/BootstrapBlazor/Components/Table/TableFooterCell.razor.cs
  test/UnitTest/Components/TableFooterCellTest.cs
Labels: enhancement

#1594 fix(GoTop): should not throw exception when Target is null or empty
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/GoTop/GoTop.razor.cs
  src/BootstrapBlazor/Components/GoTop/GoTop.razor.js
Labels: bug

#1596 fix(TableColumn): ShownWithBreakPoint not work
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  test/UnitTest/Components/TableTest.cs
Labels: bug

#1598 doc(Table): reclassification table column example
  src/BootstrapBlazor.Shared/Components/CustomerFilter.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesColumn/TablesColumnDragColumn.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesColumn/TablesColumnShownWithBreakPoint.razor
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Table/TablesCell.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesColumn.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesColumnDrag.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesColumnList.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesColumnResizing.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesColumnTemplate.razor
Labels: documentation

#1600 doc(NavMenu): only expand the active menu
  src/BootstrapBlazor.Server/appsettings.json
  src/BootstrapBlazor.Shared/Shared/NavMenu.razor.cs
Labels: documentation

#1602 feat(AutoComplete): support popover function
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.cs
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.js
  src/BootstrapBlazor/Components/Search/Search.razor
  src/BootstrapBlazor/wwwroot/modules/base-popover.js
Labels: enhancement

#1604 feat(AutoFill): add IsPopover parameter
  src/BootstrapBlazor.Server/wwwroot/css/site.css
  src/BootstrapBlazor.Shared/Components/DemoBlock.razor.css
  src/BootstrapBlazor.Shared/Demos/AutoComplete/AutoCompleteNormal.razor
  src/BootstrapBlazor.Shared/Demos/AutoFill/AutoFillNormal.razor
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.cs
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.js
  src/BootstrapBlazor/Components/AutoComplete/PopoverCompleteBase.cs
  src/BootstrapBlazor/Components/AutoFill/AutoFill.razor
  src/BootstrapBlazor/Components/AutoFill/AutoFill.razor.cs
  src/BootstrapBlazor/Components/Search/Search.razor
  src/BootstrapBlazor/Misc/IPopoverBaseComponent.cs
Labels: enhancement

#1606 feat(Menu): support url hash and query
  src/BootstrapBlazor.Shared/Components/DemoBlock.razor
  src/BootstrapBlazor.Shared/Components/DemoBlock.razor.cs
  src/BootstrapBlazor.Shared/Samples/Table/TablesDynamicExcel.razor
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Menu/Menu.razor.cs
  src/BootstrapBlazor/Components/Menu/MenuItem.cs
  test/UnitTest/Components/AutoCompleteTest.cs
  test/UnitTest/Components/MenuTest.cs
Labels: enhancement

#1608 feat(Topology): support keep fit status function
  src/Extensions/Components/BootstrapBlazor.Topology/BootstrapBlazor.Topology.csproj
  src/Extensions/Components/BootstrapBlazor.Topology/Components/Topology/Topology.razor
  src/Extensions/Components/BootstrapBlazor.Topology/Components/Topology/Topology.razor.cs
  src/Extensions/Components/BootstrapBlazor.Topology/Components/Topology/Topology.razor.js
Labels: enhancement

#1610 feat(RibbonTab): remove border card style
  src/BootstrapBlazor.Shared/Demos/RibbonTabs/RibbonTabsFloat.razor
  src/BootstrapBlazor.Shared/Demos/RibbonTabs/RibbonTabsFloat.razor.css
  src/BootstrapBlazor.Shared/Demos/RibbonTabs/RibbonTabsHeaderClick.razor
  src/BootstrapBlazor.Shared/Demos/RibbonTabs/RibbonTabsNormal.razor
  src/BootstrapBlazor.Shared/Demos/RibbonTabs/RibbonTabsRightButtonsTemplate.razor
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Samples/RibbonTabs.razor
  src/BootstrapBlazor.Shared/Samples/RibbonTabs.razor.cs
  src/BootstrapBlazor/Components/Button/LinkButton.razor.cs
  src/BootstrapBlazor/Components/RibbonTab/RibbonTab.css
  src/BootstrapBlazor/Components/RibbonTab/RibbonTab.razor
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
Labels: enhancement

#1616 refator(RibbonTab): update css support nested usage
  src/BootstrapBlazor.Server/Pages/_Layout.cshtml
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/RibbonTab/RibbonTab.css
  src/BootstrapBlazor/Components/Tab/Tab.css
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
Labels: enhancement

#1620 doc(ValidatForm): redesign ValidateForm sample docus
  src/BootstrapBlazor.Shared/Demos/ValidateForms/ValidateFormComplexValidation.razor
  src/BootstrapBlazor.Shared/Demos/ValidateForms/ValidateFormCustomDisplsyError.razor
  src/BootstrapBlazor.Shared/Demos/ValidateForms/ValidateFormCustomValidationForm.razor
  src/BootstrapBlazor.Shared/Demos/ValidateForms/ValidateFormDisableAutoSubmitFormByEnter.razor
  src/BootstrapBlazor.Shared/Demos/ValidateForms/ValidateFormDynamicForm.razor
  src/BootstrapBlazor.Shared/Demos/ValidateForms/ValidateFormInnerComponent.razor
  src/BootstrapBlazor.Shared/Demos/ValidateForms/ValidateFormInnerFormLabel.razor
  src/BootstrapBlazor.Shared/Demos/ValidateForms/ValidateFormNormal.razor
  src/BootstrapBlazor.Shared/Demos/ValidateForms/ValidateFormValidate.razor
  src/BootstrapBlazor.Shared/Demos/ValidateForms/ValidateFormValidatorAllField.razor
  src/BootstrapBlazor.Shared/Samples/ValidateForms.razor
  src/BootstrapBlazor.Shared/Samples/ValidateForms.razor.cs
Labels: documentation

#1624 doc(Slider): redesign Slider sample document
  src/BootstrapBlazor.Shared/Demos/Sliders/SliderNormal.razor
  src/BootstrapBlazor.Shared/Samples/Alerts.razor.cs
  src/BootstrapBlazor.Shared/Samples/Anchors.razor.cs
  src/BootstrapBlazor.Shared/Samples/Breadcrumbs.razor.cs
  src/BootstrapBlazor.Shared/Samples/Client.razor.cs
  src/BootstrapBlazor.Shared/Samples/ContextMenus.razor.cs
  src/BootstrapBlazor.Shared/Samples/Sliders.razor
  src/BootstrapBlazor.Shared/Samples/Sliders.razor.css
Labels: documentation

#1628 fix(Title): not work SetTitle method
  src/BootstrapBlazor.Shared/Samples/Html2Pdfs.razor
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Title/Title.cs
  test/UnitTest/Components/TitleTest.cs
Labels: bug

#1626 doc(Tree): refactor the tree document
  src/BootstrapBlazor.Shared/Demos/Trees/TreesAccordionModel.razor
  src/BootstrapBlazor.Shared/Demos/Trees/TreesCheckbox.razor
  src/BootstrapBlazor.Shared/Demos/Trees/TreesCheckedItems.razor
  src/BootstrapBlazor.Shared/Demos/Trees/TreesClickExpand.razor
  src/BootstrapBlazor.Shared/Demos/Trees/TreesCustomNode.razor
  src/BootstrapBlazor.Shared/Demos/Trees/TreesDefauleExpand.razor
  src/BootstrapBlazor.Shared/Demos/Trees/TreesDisable.razor
  src/BootstrapBlazor.Shared/Demos/Trees/TreesDisplayIcon.razor
  src/BootstrapBlazor.Shared/Demos/Trees/TreesLazyLoading.razor
  src/BootstrapBlazor.Shared/Demos/Trees/TreesNodeColor.razor
  src/BootstrapBlazor.Shared/Demos/Trees/TreesNormal.razor
  src/BootstrapBlazor.Shared/Demos/Trees/TreesShowRadio.razor
  src/BootstrapBlazor.Shared/Demos/Trees/TreesShowSkeleton.razor
  src/BootstrapBlazor.Shared/Demos/Trees/TreesValidationForm.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Trees.razor
  src/BootstrapBlazor.Shared/Samples/Trees.razor.cs
Labels: documentation

#1630 doc(TreeView): update TreeView sample #1629
  src/BootstrapBlazor.Shared/Demos/TreeViews/TreeViewAccordionModel.razor
  src/BootstrapBlazor.Shared/Demos/TreeViews/TreeViewCheckbox.razor
  src/BootstrapBlazor.Shared/Demos/TreeViews/TreeViewCheckedItems.razor
  src/BootstrapBlazor.Shared/Demos/TreeViews/TreeViewDefauleExpand.razor
  src/BootstrapBlazor.Shared/Demos/TreeViews/TreeViewNormal.razor
  src/BootstrapBlazor.Shared/Demos/TreeViews/TreeViewShowSkeleton.razor
  src/BootstrapBlazor.Shared/Demos/TreeViews/TreeViewTreeClickExpand.razor
  src/BootstrapBlazor.Shared/Demos/TreeViews/TreeViewTreeCustomNode.razor
  src/BootstrapBlazor.Shared/Demos/TreeViews/TreeViewTreeDisable.razor
  src/BootstrapBlazor.Shared/Demos/TreeViews/TreeViewTreeDisplayIcon.razor
  src/BootstrapBlazor.Shared/Demos/TreeViews/TreeViewTreeLazyLoading.razor
  src/BootstrapBlazor.Shared/Demos/TreeViews/TreeViewTreeNodeColor.razor
  src/BootstrapBlazor.Shared/Demos/TreeViews/TreeViewTreeValidationForm.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/TreeViews.razor
  src/BootstrapBlazor.Shared/Samples/TreeViews.razor.cs
  src/BootstrapBlazor.Shared/Samples/Uploads.razor.cs
Labels: documentation

#1633 doc(Transfer): refactor the transfer document
  src/BootstrapBlazor.Shared/Demos/Transfers/TransferBind.razor
  src/BootstrapBlazor.Shared/Demos/Transfers/TransferCustomer.razor
  src/BootstrapBlazor.Shared/Demos/Transfers/TransferDisable.razor
  src/BootstrapBlazor.Shared/Demos/Transfers/TransferItemClass.razor
  src/BootstrapBlazor.Shared/Demos/Transfers/TransferMinMax.razor
  src/BootstrapBlazor.Shared/Demos/Transfers/TransferNormal.razor
  src/BootstrapBlazor.Shared/Demos/Transfers/TransferSearch.razor
  src/BootstrapBlazor.Shared/Demos/Transfers/TransferValidate.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Transfers.razor
  src/BootstrapBlazor.Shared/Samples/Transfers.razor.cs
  src/BootstrapBlazor/Components/Transfer/Transfer.css
  src/BootstrapBlazor/Components/Transfer/Transfer.razor
  src/BootstrapBlazor/Components/Transfer/Transfer.razor.cs
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  test/UnitTest/Components/TransferTest.cs
Labels: documentation

#1634 doc(Transtion): refactor the transition document
  src/BootstrapBlazor.Shared/Demos/Transitions/TransitionsDuration.razor
  src/BootstrapBlazor.Shared/Demos/Transitions/TransitionsEndCallback.razor
  src/BootstrapBlazor.Shared/Demos/Transitions/TransitionsNormal.razor
  src/BootstrapBlazor.Shared/Samples/Transitions.razor
  src/BootstrapBlazor.Shared/Samples/Transitions.razor.cs
  src/BootstrapBlazor.Shared/Samples/Uploads.razor
  src/BootstrapBlazor.Shared/Samples/Uploads.razor.cs
  src/BootstrapBlazor/Components/Transition/Transition.razor.js
Labels: documentation

#1636 doc(Topology): refactor the topology document
  src/BootstrapBlazor.Shared/Demos/Topologies/TopologiesNormal.razor
  src/BootstrapBlazor.Shared/Samples/Topologies.razor
  src/BootstrapBlazor.Shared/Samples/Topologies.razor.cs
  src/BootstrapBlazor.Shared/Samples/Topologies.razor.css
  src/BootstrapBlazor.Shared/Samples/Topologies.razor.js
Labels: documentation

#1640 doc(Tooltip): refactor the tooltip document
  src/BootstrapBlazor.Shared/Demos/Tooltips/BootstrapTooltip.razor
  src/BootstrapBlazor.Shared/Demos/Tooltips/TooltipsButton.razor
  src/BootstrapBlazor.Shared/Demos/Tooltips/TooltipsCustomClass.razor
  src/BootstrapBlazor.Shared/Demos/Tooltips/TooltipsNomal.razor
  src/BootstrapBlazor.Shared/Demos/Tooltips/TooltipsSelector.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Tooltips.razor
  src/BootstrapBlazor.Shared/Samples/Tooltips.razor.cs
  src/BootstrapBlazor.Shared/Samples/Tooltips.razor.css
Labels: documentation

#1641 doc(Toggle): refactor the toggle document
  src/BootstrapBlazor.Shared/Demos/Toggles/TogglesBindToWay.razor
  src/BootstrapBlazor.Shared/Demos/Toggles/TogglesDisable.razor
  src/BootstrapBlazor.Shared/Demos/Toggles/TogglesNormal.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Toggles.razor
  src/BootstrapBlazor.Shared/Samples/Toggles.razor.cs
Labels: documentation

#1643 doc(Toast): refactor the toast document
  src/BootstrapBlazor.Shared/Demos/Toasts/ToastsClose.razor
  src/BootstrapBlazor.Shared/Demos/Toasts/ToastsHeaderTemplate.razor
  src/BootstrapBlazor.Shared/Demos/Toasts/ToastsNormal.razor
  src/BootstrapBlazor.Shared/Demos/Toasts/ToastsPosition.razor
  src/BootstrapBlazor.Shared/Demos/Toasts/ToastsShowHeader.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Toasts.razor
  src/BootstrapBlazor.Shared/Samples/Toasts.razor.cs
  src/BootstrapBlazor.Shared/Shared/MainLayout.razor.css
  src/BootstrapBlazor.Shared/Shared/PracLayout.razor.css
Labels: documentation

#1645 doc(Timer): refactor the timer document
  src/BootstrapBlazor.Shared/Demos/Timers/TimersColor.razor
  src/BootstrapBlazor.Shared/Demos/Timers/TimersNormal.razor
  src/BootstrapBlazor.Shared/Samples/Timers.razor
  src/BootstrapBlazor.Shared/Samples/Timers.razor.cs
Labels: documentation

#1647 doc(Timeline): refactor the timeline document
  src/BootstrapBlazor.Shared/Demos/Timelines/TimelinesAlternate.razor
  src/BootstrapBlazor.Shared/Demos/Timelines/TimelinesCutomNodeStyle.razor
  src/BootstrapBlazor.Shared/Demos/Timelines/TimelinesDispalyCustomComponent.razor
  src/BootstrapBlazor.Shared/Demos/Timelines/TimelinesLeft.razor
  src/BootstrapBlazor.Shared/Demos/Timelines/TimelinesNormal.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Timelines.razor
  src/BootstrapBlazor.Shared/Samples/Timelines.razor.cs
Labels: documentation

#1650 doc(Textarea): refactor the textarea document
  src/BootstrapBlazor.Shared/Demos/Textareas/TextareasBindToWay.razor
  src/BootstrapBlazor.Shared/Demos/Textareas/TextareasDisable.razor
  src/BootstrapBlazor.Shared/Demos/Textareas/TextareasHeight.razor
  src/BootstrapBlazor.Shared/Demos/Textareas/TextareasNormal.razor
  src/BootstrapBlazor.Shared/Demos/Textareas/TextareasReadonly.razor
  src/BootstrapBlazor.Shared/Demos/Textareas/TextareasScroll.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/TextAreas.razor
  src/BootstrapBlazor.Shared/Samples/TextAreas.razor.cs
  src/BootstrapBlazor.Shared/Samples/TextAreas.razor.css
  src/BootstrapBlazor.Shared/Samples/Textareas.razor
  src/BootstrapBlazor.Shared/Samples/Textareas.razor.cs
  src/BootstrapBlazor/Components/Transfer/Transfer.razor.cs
Labels: documentation

#1652 doc(Tag): refactor the tag document
  src/BootstrapBlazor.Shared/Demos/Tags/TagsCloseButton.razor
  src/BootstrapBlazor.Shared/Demos/Tags/TagsIcon.razor
  src/BootstrapBlazor.Shared/Demos/Tags/TagsNormal.razor
  src/BootstrapBlazor.Shared/Samples/Tags.razor
  src/BootstrapBlazor.Shared/Samples/Tags.razor.cs
Labels: documentation

#1656 doc(Responsive): update sample document
  src/BootstrapBlazor.Shared/Demos/Responsives/ResponsivesNormal.razor
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Responsives.razor
  src/BootstrapBlazor.Shared/Samples/Responsives.razor.cs
  src/BootstrapBlazor/Components/Transfer/Transfer.razor.cs
Labels: documentation

#1658 doc(Scroll): update sample document
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Scrolls.razor
  src/BootstrapBlazor.Shared/Samples/Scrolls.razor.cs
  src/BootstrapBlazor.Shared/Samples/Scrolls.razor.css
Labels: documentation

#1660 doc(Tab): refactor the tab document
  src/BootstrapBlazor.Shared/Demos/Tabs/TabsAddTabItem.razor
  src/BootstrapBlazor.Shared/Demos/Tabs/TabsApp.razor
  src/BootstrapBlazor.Shared/Demos/Tabs/TabsBorder.razor
  src/BootstrapBlazor.Shared/Demos/Tabs/TabsCard.razor
  src/BootstrapBlazor.Shared/Demos/Tabs/TabsClosable.razor
  src/BootstrapBlazor.Shared/Demos/Tabs/TabsComponent.razor
  src/BootstrapBlazor.Shared/Demos/Tabs/TabsDynamicTabItem.razor
  src/BootstrapBlazor.Shared/Demos/Tabs/TabsHeaderTemplate.razor
  src/BootstrapBlazor.Shared/Demos/Tabs/TabsIcon.razor
  src/BootstrapBlazor.Shared/Demos/Tabs/TabsIsOnlyRenderActive.razor
  src/BootstrapBlazor.Shared/Demos/Tabs/TabsLazyLoad.razor
  src/BootstrapBlazor.Shared/Demos/Tabs/TabsNormal.razor
  src/BootstrapBlazor.Shared/Demos/Tabs/TabsPlacement.razor
  src/BootstrapBlazor.Shared/Demos/Tabs/TabsSetHeaderTemplate.razor
  src/BootstrapBlazor.Shared/Demos/Tabs/TabsSetTabItemHeaderText.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Tabs.razor
  src/BootstrapBlazor.Shared/Samples/Tabs.razor.cs
  src/BootstrapBlazor.Shared/Samples/Tabs.razor.css
Labels: documentation

#1662 doc(Components): redesign component demos
  src/BootstrapBlazor.Shared/Demos/DateTimePicker/DatePickerBodyDemo.razor
  src/BootstrapBlazor.Shared/Demos/DateTimePicker/DateTimePickerAutoClose.razor
  src/BootstrapBlazor.Shared/Demos/DateTimePicker/DateTimePickerBindValueDemo.razor
  src/BootstrapBlazor.Shared/Demos/DateTimePicker/DateTimePickerDateTimeOffsetDemo.razor
  src/BootstrapBlazor.Shared/Demos/DateTimePicker/DateTimePickerDisalbed.razor
  src/BootstrapBlazor.Shared/Demos/DateTimePicker/DateTimePickerGroup.razor
  src/BootstrapBlazor.Shared/Demos/DateTimePicker/DateTimePickerMinValue.razor
  src/BootstrapBlazor.Shared/Demos/DateTimePicker/DateTimePickerNullValue.razor
  src/BootstrapBlazor.Shared/Demos/DateTimePicker/DateTimePickerShowLabel.razor
  src/BootstrapBlazor.Shared/Demos/DateTimePicker/DateTimePickerShowSidebar.razor
  src/BootstrapBlazor.Shared/Demos/DateTimePicker/DateTimePickerValidateDemo.razor
  src/BootstrapBlazor.Shared/Demos/DateTimePicker/DateTimePickerViewMode.razor
  src/BootstrapBlazor.Shared/Demos/DateTimePicker/TimePickerBodyBindValueDemo.razor
  src/BootstrapBlazor.Shared/Demos/DateTimePicker/TimePickerBodyDemo.razor
  src/BootstrapBlazor.Shared/Demos/DateTimeRange/DateTimeRangeAutoClose.razor
  src/BootstrapBlazor.Shared/Demos/DateTimeRange/DateTimeRangeBindValue.razor
  src/BootstrapBlazor.Shared/Demos/DateTimeRange/DateTimeRangeDisabled.razor
  src/BootstrapBlazor.Shared/Demos/DateTimeRange/DateTimeRangeMaxMinValue.razor
  src/BootstrapBlazor.Shared/Demos/DateTimeRange/DateTimeRangeNormal.razor
  src/BootstrapBlazor.Shared/Demos/DateTimeRange/DateTimeRangeSidebar.razor
  src/BootstrapBlazor.Shared/Demos/DateTimeRange/DateTimeRangeToday.razor
  src/BootstrapBlazor.Shared/Demos/DateTimeRange/DateTimeRangeValidateForm.razor
  src/BootstrapBlazor.Shared/Demos/Dialog/DialogApply.razor
  src/BootstrapBlazor.Shared/Demos/Dialog/DialogBodyContext.razor
  src/BootstrapBlazor.Shared/Demos/Dialog/DialogCloseDialogByCode.razor
  src/BootstrapBlazor.Shared/Demos/Dialog/DialogComponent.razor
  src/BootstrapBlazor.Shared/Demos/Dialog/DialogCustomerHeader.razor
  src/BootstrapBlazor.Shared/Demos/Dialog/DialogDisableHeaderCloseButton.razor
  src/BootstrapBlazor.Shared/Demos/Dialog/DialogEditDialog.razor
  src/BootstrapBlazor.Shared/Demos/Dialog/DialogEmail.razor
  src/BootstrapBlazor.Shared/Demos/Dialog/DialogErrorLogger.razor
  src/BootstrapBlazor.Shared/Demos/Dialog/DialogHeaderToolbarTemplate.razor
  src/BootstrapBlazor.Shared/Demos/Dialog/DialogKeyboard.razor
  src/BootstrapBlazor.Shared/Demos/Dialog/DialogModalDialog.razor
  src/BootstrapBlazor.Shared/Demos/Dialog/DialogMultipleDialog.razor
  src/BootstrapBlazor.Shared/Demos/Dialog/DialogPrintDialog.razor
  src/BootstrapBlazor.Shared/Demos/Dialog/DialogResize.razor
  src/BootstrapBlazor.Shared/Demos/Dialog/DialogSaveDialog.razor
  src/BootstrapBlazor.Shared/Demos/Dialog/DialogSearchDialog.razor
  src/BootstrapBlazor.Shared/Demos/Dialog/DialogShowMaximizeButton.razor
  src/BootstrapBlazor.Shared/Demos/Dialog/DialogSize.razor
  src/BootstrapBlazor.Shared/Demos/Dispatch/DispatchNormal.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Collapses.razor.cs
  src/BootstrapBlazor.Shared/Samples/ColorPickers.razor.cs
  src/BootstrapBlazor.Shared/Samples/Consoles.razor.cs
  src/BootstrapBlazor.Shared/Samples/ContextMenus.razor
  src/BootstrapBlazor.Shared/Samples/ContextMenus.razor.cs
  src/BootstrapBlazor.Shared/Samples/CountUps.razor.cs
  src/BootstrapBlazor.Shared/Samples/DateTimePickers.razor
  src/BootstrapBlazor.Shared/Samples/DateTimePickers.razor.cs
  src/BootstrapBlazor.Shared/Samples/DateTimeRanges.razor
  src/BootstrapBlazor.Shared/Samples/DateTimeRanges.razor.cs
  src/BootstrapBlazor.Shared/Samples/Dialogs.razor
  src/BootstrapBlazor.Shared/Samples/Dialogs.razor.cs
  src/BootstrapBlazor.Shared/Samples/Dispatches.razor
  src/BootstrapBlazor.Shared/Samples/Dispatches.razor.cs
Labels: documentation

#1665 doc(Drawer): refactor the drawer document
  src/BootstrapBlazor.Shared/Demos/Drawer/DrawerNoBackdrop.razor
  src/BootstrapBlazor.Shared/Demos/Drawer/DrawerNormal.razor
  src/BootstrapBlazor.Shared/Demos/Drawer/DrawerPlacement.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Drawers.razor
  src/BootstrapBlazor.Shared/Samples/Drawers.razor.cs
Labels: documentation

#1672 doc(SweetAlert): refactor the sweetalert document
  src/BootstrapBlazor.Shared/Demos/SweetAlerts/SweetAlertsAutoClose.razor
  src/BootstrapBlazor.Shared/Demos/SweetAlerts/SweetAlertsButton.razor
  src/BootstrapBlazor.Shared/Demos/SweetAlerts/SweetAlertsClose.razor
  src/BootstrapBlazor.Shared/Demos/SweetAlerts/SweetAlertsComponent.razor
  src/BootstrapBlazor.Shared/Demos/SweetAlerts/SweetAlertsDispaly.razor
  src/BootstrapBlazor.Shared/Demos/SweetAlerts/SweetAlertsFooter.razor
  src/BootstrapBlazor.Shared/Demos/SweetAlerts/SweetAlertsModal.razor
  src/BootstrapBlazor.Shared/Demos/SweetAlerts/SweetAlertsNormal.razor
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Pages/Coms.razor
  src/BootstrapBlazor.Shared/Samples/SweetAlerts.razor
  src/BootstrapBlazor.Shared/Samples/SweetAlerts.razor.cs
Labels: documentation

#1676 doc(Split): refactor the split document
  src/BootstrapBlazor.Shared/Demos/Splits/SplitsNested.razor
  src/BootstrapBlazor.Shared/Demos/Splits/SplitsNormal.razor
  src/BootstrapBlazor.Shared/Demos/Splits/SplitsPercent.razor
  src/BootstrapBlazor.Shared/Demos/Splits/SplitsVertical.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Splits.razor
  src/BootstrapBlazor.Shared/Samples/Splits.razor.cs
Labels: documentation

#1670 doc(SwitchButton): refactor the switchbutton document
  src/BootstrapBlazor.Shared/Demos/SwitchButtons/SwitchButtonsNormal.razor
  src/BootstrapBlazor.Shared/Demos/SwitchButtons/SwitchButtonsOnClick.razor
  src/BootstrapBlazor.Shared/Demos/SwitchButtons/SwitchButtonsToggleState.razor
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Pages/Coms.razor
  src/BootstrapBlazor.Shared/Samples/Dispatches.razor.cs
  src/BootstrapBlazor.Shared/Samples/SwitchButtons.razor
  src/BootstrapBlazor.Shared/Samples/SwitchButtons.razor.cs
Labels: documentation

#1680 doc(Skeleton): refactor the skeleton document
  src/BootstrapBlazor.Shared/Demos/Skeletons/SkeletonsForm.razor
  src/BootstrapBlazor.Shared/Demos/Skeletons/SkeletonsImg.razor
  src/BootstrapBlazor.Shared/Demos/Skeletons/SkeletonsParagraph.razor
  src/BootstrapBlazor.Shared/Demos/Skeletons/SkeletonsTable.razor
  src/BootstrapBlazor.Shared/Demos/Skeletons/SkeletonsTree.razor
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Pages/Coms.razor
  src/BootstrapBlazor.Shared/Samples/Skeletons.razor
  src/BootstrapBlazor.Shared/Samples/Skeletons.razor.cs
  src/BootstrapBlazor.Shared/Samples/Skeletons.razor.css
Labels: documentation

#1686 doc(Search): refactor the search document
  src/BootstrapBlazor.Shared/Demos/Searchs/SearchsClearValue.razor
  src/BootstrapBlazor.Shared/Demos/Searchs/SearchsDispalyButton.razor
  src/BootstrapBlazor.Shared/Demos/Searchs/SearchsNormal.razor
  src/BootstrapBlazor.Shared/Demos/Searchs/SearchsValidateForm.razor
  src/BootstrapBlazor.Shared/Demos/Searchs/Searchskeyboards.razor
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Pages/Coms.razor
  src/BootstrapBlazor.Shared/Samples/Searches.razor
  src/BootstrapBlazor.Shared/Samples/Searches.razor.cs
  src/BootstrapBlazor.Shared/Samples/Searchs.razor
Labels: documentation

#1688 doc(SearchDialog): refactor the searchdialog document
  src/BootstrapBlazor.Shared/Demos/SearchDialogs/SearchDialogsField.razor
  src/BootstrapBlazor.Shared/Demos/SearchDialogs/SearchDialogsLayout.razor
  src/BootstrapBlazor.Shared/Demos/SearchDialogs/SearchDialogsNormal.razor
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Pages/Coms.razor
  src/BootstrapBlazor.Shared/Samples/SearchDialogs.razor
  src/BootstrapBlazor.Shared/Samples/SearchDialogs.razor.cs
Labels: documentation

#1690 doc(Row): refactor the row document
  src/BootstrapBlazor.Shared/Demos/Rows/RowCommon.razor
  src/BootstrapBlazor.Shared/Demos/Rows/RowForm.razor
  src/BootstrapBlazor.Shared/Demos/Rows/RowFormInline.razor
  src/BootstrapBlazor.Shared/Demos/Rows/RowNested.razor
  src/BootstrapBlazor.Shared/Demos/Rows/Rowspan.razor
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Pages/Coms.razor
  src/BootstrapBlazor.Shared/Samples/Rows.razor
  src/BootstrapBlazor.Shared/Samples/Rows.razor.cs
Labels: documentation

#1694 doc(Rate): refactor the rate document
  src/BootstrapBlazor.Shared/Demos/Rates/RatesDisable.razor
  src/BootstrapBlazor.Shared/Demos/Rates/RatesIcon.razor
  src/BootstrapBlazor.Shared/Demos/Rates/RatesNormal.razor
  src/BootstrapBlazor.Shared/Demos/Rates/RatesReadonly.razor
  src/BootstrapBlazor.Shared/Demos/Rates/RatesValue.razor
  src/BootstrapBlazor.Shared/Demos/Rates/RatesWrap.razor
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Pages/Coms.razor
  src/BootstrapBlazor.Shared/Samples/Rates.razor
  src/BootstrapBlazor.Shared/Samples/Rates.razor.cs
Labels: documentation

#1692 doc(Repeater): refactor the repeater document
  src/BootstrapBlazor.Shared/Demos/Repeaters/RepeaterContainer.razor
  src/BootstrapBlazor.Shared/Demos/Repeaters/RepeaterEmpty.razor
  src/BootstrapBlazor.Shared/Demos/Repeaters/RepeaterLoading.razor
  src/BootstrapBlazor.Shared/Demos/Repeaters/RepeaterNormal.razor
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Samples/Repeaters.razor
  src/BootstrapBlazor.Shared/Samples/Repeaters.razor.cs
Labels: documentation

#1698 doc(PlusButton): refactor the plusbutton document
  src/BootstrapBlazor.Shared/Demos/PulseButtons/PulseButtonNormal.razor
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/PulseButtons.razor
Labels: documentation

#1696 doc(QRCode): refactor the qrcode document
  src/BootstrapBlazor.Shared/Demos/QRCodes/QRCodeContent.razor
  src/BootstrapBlazor.Shared/Demos/QRCodes/QRCodeDarkColor.razor
  src/BootstrapBlazor.Shared/Demos/QRCodes/QRCodeNormal.razor
  src/BootstrapBlazor.Shared/Demos/QRCodes/QRCodeWidth.razor
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Pages/Coms.razor
  src/BootstrapBlazor.Shared/Samples/QRCodes.razor
  src/BootstrapBlazor.Shared/Samples/QRCodes.razor.cs
Labels: documentation

#1674 doc(Steps): refactor the steps document
  src/BootstrapBlazor.Shared/Demos/Stepss/StepssDesc.razor
  src/BootstrapBlazor.Shared/Demos/Stepss/StepssMiddle.razor
  src/BootstrapBlazor.Shared/Demos/Stepss/StepssNormal.razor
  src/BootstrapBlazor.Shared/Demos/Stepss/StepssStep.razor
  src/BootstrapBlazor.Shared/Demos/Stepss/StepssTitleCenter.razor
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Pages/Coms.razor
  src/BootstrapBlazor.Shared/Samples/Steps.razor
  src/BootstrapBlazor.Shared/Samples/Steps.razor.cs
  src/BootstrapBlazor.Shared/Samples/Stepss.razor
  src/BootstrapBlazor.Shared/Samples/Stepss.razor.cs
Labels: documentation

#1684 doc(Select): refactor the select document
  src/BootstrapBlazor.Shared/Demos/Selects/SelectsBinding.razor
  src/BootstrapBlazor.Shared/Demos/Selects/SelectsBindingSelectedItem.razor
  src/BootstrapBlazor.Shared/Demos/Selects/SelectsCascading.razor
  src/BootstrapBlazor.Shared/Demos/Selects/SelectsClearable.razor
  src/BootstrapBlazor.Shared/Demos/Selects/SelectsClientValidation.razor
  src/BootstrapBlazor.Shared/Demos/Selects/SelectsConfirmSelect.razor
  src/BootstrapBlazor.Shared/Demos/Selects/SelectsCunstomTemplate.razor
  src/BootstrapBlazor.Shared/Demos/Selects/SelectsDisable.razor
  src/BootstrapBlazor.Shared/Demos/Selects/SelectsDispalyLabel.razor
  src/BootstrapBlazor.Shared/Demos/Selects/SelectsDisplayTemplate.razor
  src/BootstrapBlazor.Shared/Demos/Selects/SelectsEnum.razor
  src/BootstrapBlazor.Shared/Demos/Selects/SelectsGroup.razor
  src/BootstrapBlazor.Shared/Demos/Selects/SelectsGuid.razor
  src/BootstrapBlazor.Shared/Demos/Selects/SelectsNormal.razor
  src/BootstrapBlazor.Shared/Demos/Selects/SelectsNullable.razor
  src/BootstrapBlazor.Shared/Demos/Selects/SelectsNullableBoolean.razor
  src/BootstrapBlazor.Shared/Demos/Selects/SelectsPopover.razor
  src/BootstrapBlazor.Shared/Demos/Selects/SelectsShowSearch.razor
  src/BootstrapBlazor.Shared/Demos/Selects/SelectsStatic.razor
  src/BootstrapBlazor.Shared/Demos/Selects/SelectsTimezone.razor
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Pages/Coms.razor
  src/BootstrapBlazor.Shared/Samples/Selects.razor
  src/BootstrapBlazor.Shared/Samples/Selects.razor.cs
Labels: documentation

#1678 doc(Spinner): refactor the spinner document
  src/BootstrapBlazor.Shared/Demos/Spinners/SpinnerColor.razor
  src/BootstrapBlazor.Shared/Demos/Spinners/SpinnerCustom.razor
  src/BootstrapBlazor.Shared/Demos/Spinners/SpinnerFlex.razor
  src/BootstrapBlazor.Shared/Demos/Spinners/SpinnerFloat.razor
  src/BootstrapBlazor.Shared/Demos/Spinners/SpinnerGrowing.razor
  src/BootstrapBlazor.Shared/Demos/Spinners/SpinnerGrowingColor.razor
  src/BootstrapBlazor.Shared/Demos/Spinners/SpinnerNormal.razor
  src/BootstrapBlazor.Shared/Demos/Spinners/SpinnerSize.razor
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Pages/Coms.razor
  src/BootstrapBlazor.Shared/Samples/Spinners.razor
  src/BootstrapBlazor.Shared/Samples/Spinners.razor.cs
Labels: documentation

#1700 doc(signaturepad): refactor the signaturepad document
  src/BootstrapBlazor.Shared/Demos/SignaturePads/SignaturePadBase.razor
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Samples/SignaturePad/SignaturePadPageResponsive.razor
  src/BootstrapBlazor.Shared/Samples/SignaturePad/SignaturePads.razor
  src/BootstrapBlazor.Shared/Samples/SignaturePad/SignaturePads.razor.cs
Labels: documentation

#1702 doc(Radio): refactor the radio document
  src/BootstrapBlazor.Shared/Demos/Radios/RadiosBinding.razor
  src/BootstrapBlazor.Shared/Demos/Radios/RadiosColor.razor
  src/BootstrapBlazor.Shared/Demos/Radios/RadiosDisable.razor
  src/BootstrapBlazor.Shared/Demos/Radios/RadiosEnum.razor
  src/BootstrapBlazor.Shared/Demos/Radios/RadiosIsButton.razor
  src/BootstrapBlazor.Shared/Demos/Radios/RadiosItemTemplate.razor
  src/BootstrapBlazor.Shared/Demos/Radios/RadiosLabel.razor
  src/BootstrapBlazor.Shared/Demos/Radios/RadiosNormal.razor
  src/BootstrapBlazor.Shared/Demos/Radios/RadiosVertical.razor
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Pages/Coms.razor
  src/BootstrapBlazor.Shared/Samples/Radios.razor
  src/BootstrapBlazor.Shared/Samples/Radios.razor.cs
Labels: documentation

#1704 doc(Progress): refactor the progress document
  src/BootstrapBlazor.Shared/Components/Widget.razor
  src/BootstrapBlazor.Shared/Demos/DropdownWidget/DropdownWidgetNormal.razor
  src/BootstrapBlazor.Shared/Demos/Progresss/ProgressBinding.razor
  src/BootstrapBlazor.Shared/Demos/Progresss/ProgressColor.razor
  src/BootstrapBlazor.Shared/Demos/Progresss/ProgressDecimals.razor
  src/BootstrapBlazor.Shared/Demos/Progresss/ProgressDispalyValue.razor
  src/BootstrapBlazor.Shared/Demos/Progresss/ProgressDynamic.razor
  src/BootstrapBlazor.Shared/Demos/Progresss/ProgressHeight.razor
  src/BootstrapBlazor.Shared/Demos/Progresss/ProgressNormal.razor
  src/BootstrapBlazor.Shared/Demos/Progresss/ProgressStripe.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesColumn/TablesColumnAdvance.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesExcel/TablesExcelCellRender.razor
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Pages/Coms.razor
  src/BootstrapBlazor.Shared/Practicals/Dashboard/Dashboard.razor
  src/BootstrapBlazor.Shared/Samples/Progress.razor
  src/BootstrapBlazor.Shared/Samples/Progress.razor.cs
  src/BootstrapBlazor.Shared/Samples/Progresss.razor
Labels: documentation

#1706 doc(Print): refactor the print document
  src/BootstrapBlazor.Shared/Demos/Prints/PrintsButton.razor
  src/BootstrapBlazor.Shared/Demos/Prints/PrintsDialog.razor
  src/BootstrapBlazor.Shared/Demos/Prints/PrintsService.razor
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Pages/Coms.razor
  src/BootstrapBlazor.Shared/Samples/Print.razor
  src/BootstrapBlazor.Shared/Samples/PrintView.razor
  src/BootstrapBlazor.Shared/Samples/Prints.razor
Labels: documentation

#1708 doc(Popover): refactor the popover document
  src/BootstrapBlazor.Shared/Demos/Popovers/PopoversButton.razor
  src/BootstrapBlazor.Shared/Demos/Popovers/PopoversCssClass.razor
  src/BootstrapBlazor.Shared/Demos/Popovers/PopoversNormal.razor
  src/BootstrapBlazor.Shared/Samples/Popovers.razor
  src/BootstrapBlazor.Shared/Samples/Popovers.razor.cs
  src/BootstrapBlazor.Shared/Samples/Popovers.razor.css
Labels: documentation

#1710 doc(PopoverConfirm): refactor the popoverconfirm document
  src/BootstrapBlazor.Shared/Demos/PopoverConfirms/PopoverConfirmsBodyTemplate.razor
  src/BootstrapBlazor.Shared/Demos/PopoverConfirms/PopoverConfirmsContent.razor
  src/BootstrapBlazor.Shared/Demos/PopoverConfirms/PopoverConfirmsCustomClass.razor
  src/BootstrapBlazor.Shared/Demos/PopoverConfirms/PopoverConfirmsForm.razor
  src/BootstrapBlazor.Shared/Demos/PopoverConfirms/PopoverConfirmsIsAsync.razor
  src/BootstrapBlazor.Shared/Demos/PopoverConfirms/PopoverConfirmsIsLink.razor
  src/BootstrapBlazor.Shared/Demos/PopoverConfirms/PopoverConfirmsNormal.razor
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Pages/Coms.razor
  src/BootstrapBlazor.Shared/Samples/PopoverConfirms.razor
  src/BootstrapBlazor.Shared/Samples/PopoverConfirms.razor.cs
  src/BootstrapBlazor.Shared/Samples/Print.razor
Labels: documentation

#1712 doc(PdfReader): refactor the pdfreader document
  src/BootstrapBlazor.Shared/Demos/PdfReader/PdfReaderAdvanced.razor
  src/BootstrapBlazor.Shared/Demos/PdfReader/PdfReaderCompatibilityMode.razor
  src/BootstrapBlazor.Shared/Demos/PdfReader/PdfReaderNomal.razor
  src/BootstrapBlazor.Shared/Demos/PdfReader/PdfReaderStreamMode.razor
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Pages/Coms.razor
  src/BootstrapBlazor.Shared/Samples/PdfReaders.razor
  src/BootstrapBlazor.Shared/Samples/PdfReaders.razor.cs
Labels: documentation

#1714 doc(Components): redesign component demos
  src/BootstrapBlazor.Shared/Demos/Display/DisplayDataType.razor
  src/BootstrapBlazor.Shared/Demos/Display/DisplayEditorForm.razor
  src/BootstrapBlazor.Shared/Demos/Display/DisplayFormatString.razor
  src/BootstrapBlazor.Shared/Demos/Display/DisplayLabels.razor
  src/BootstrapBlazor.Shared/Demos/Display/DisplayLookup.razor
  src/BootstrapBlazor.Shared/Demos/Display/DisplayNormal.razor
  src/BootstrapBlazor.Shared/Demos/Divider/DividerAlignment.razor
  src/BootstrapBlazor.Shared/Demos/Divider/DividerChildContent.razor
  src/BootstrapBlazor.Shared/Demos/Divider/DividerIcon.razor
  src/BootstrapBlazor.Shared/Demos/Divider/DividerNormal.razor
  src/BootstrapBlazor.Shared/Demos/Divider/DividerVertical.razor
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Pages/Coms.razor
  src/BootstrapBlazor.Shared/Samples/Displays.razor
  src/BootstrapBlazor.Shared/Samples/Displays.razor.cs
  src/BootstrapBlazor.Shared/Samples/Dividers.razor
Labels: documentation

#1716 fix(AutoComplete): can't input chinese character inside validate form
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.cs
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.js
Labels: bug

#1718 fix(AutoFill): compatible with inside validate form
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.cs
  src/BootstrapBlazor/Components/AutoFill/AutoFill.razor
  src/BootstrapBlazor/Components/AutoFill/AutoFill.razor.cs
  src/BootstrapBlazor/Components/Search/Search.razor
  src/BootstrapBlazor/Components/Search/Search.razor.cs
Labels: bug

#1720 doc(Html2Pdf): update sample code
  src/BootstrapBlazor.Shared/BootstrapBlazor.Shared.csproj
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Html2Pdfs.razor
  src/BootstrapBlazor.Shared/Samples/Uploads.razor
  src/Extensions/Components/BootstrapBlazor.Html2Pdf/BootstrapBlazor.Html2Pdf.csproj
  src/Extensions/Components/BootstrapBlazor.Html2Pdf/Services/DefaultPdfService.cs
  src/Extensions/Components/BootstrapBlazor.Html2Pdf/Services/IHtml2Pdf.cs
  src/Extensions/Components/BootstrapBlazor.Html2Pdf/wwwroot/export.js
Labels: documentation

#1727 doc(Pagination): refactor the pagination document
  src/BootstrapBlazor.Shared/Demos/MultiSelect/MultiSelectDisplayLabel.razor
  src/BootstrapBlazor.Shared/Demos/MultiSelect/MultiSelectDisplayLabel.razor.css
  src/BootstrapBlazor.Shared/Demos/Paginations/PaginationsAlignment.razor
  src/BootstrapBlazor.Shared/Demos/Paginations/PaginationsDispalyText.razor
  src/BootstrapBlazor.Shared/Demos/Paginations/PaginationsGoto.razor
  src/BootstrapBlazor.Shared/Demos/Paginations/PaginationsInfoTemplate.razor
  src/BootstrapBlazor.Shared/Demos/Paginations/PaginationsMaxPageLinkCount.razor
  src/BootstrapBlazor.Shared/Demos/Paginations/PaginationsNormal.razor
  src/BootstrapBlazor.Shared/Demos/Paginations/PaginationsPageInfoText.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesToolbar/TablesToolbarCustomDisplayButton.razor
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Pages/Coms.razor
  src/BootstrapBlazor.Shared/Samples/Editors.razor
  src/BootstrapBlazor.Shared/Samples/MultiSelects.razor
  src/BootstrapBlazor.Shared/Samples/Paginations.razor
  src/BootstrapBlazor.Shared/Samples/Paginations.razor.cs
  src/BootstrapBlazor.Shared/Samples/Searches.razor
  src/BootstrapBlazor.Shared/Samples/Searches.razor.cs
  src/BootstrapBlazor.Shared/Samples/Table/TablesToolbar.razor
Labels: documentation

#1731 doc(OnScreenKeyboard ): refactor the onscreenkeyboard document
  src/BootstrapBlazor.Shared/Demos/OnScreenKeyboards/OnScreenKeyboardsApp.razor
  src/BootstrapBlazor.Shared/Demos/OnScreenKeyboards/OnScreenKeyboardsNormal.razor
  src/BootstrapBlazor.Shared/Demos/OnScreenKeyboards/OnScreenKeyboardsSpecialcharactersCustomerTitle.razor
  src/BootstrapBlazor.Shared/Demos/OnScreenKeyboards/OnScreenKeyboardsSpecialcharactersTitle.razor
  src/BootstrapBlazor.Shared/Demos/OnScreenKeyboards/OnScreenKeyboardsThemeDarkTitle.razor
  src/BootstrapBlazor.Shared/Demos/OnScreenKeyboards/OnScreenKeyboardsTypeNumpadTitle.razor
  src/BootstrapBlazor.Shared/Demos/OnScreenKeyboards/OnScreenKeyboardsTypekeyboard.razor
  src/BootstrapBlazor.Shared/Pages/Coms.razor
  src/BootstrapBlazor.Shared/Samples/OnScreenKeyboards.razor
  src/BootstrapBlazor.Shared/Samples/OnScreenKeyboards.razor.cs
Labels: documentation

#1729 doc(Notification): refactor the notification document
  src/BootstrapBlazor.Shared/Demos/Notifications/NotificationsNormal.razor
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Pages/Coms.razor
  src/BootstrapBlazor.Shared/Samples/Notifications.razor
  src/BootstrapBlazor.Shared/Samples/Notifications.razor.cs
Labels: documentation

#1733 doc(Nav): refactor the nav document
  src/BootstrapBlazor.Shared/Demos/Navs/NavsAlign.razor
  src/BootstrapBlazor.Shared/Demos/Navs/NavsFillAndAlign.razor
  src/BootstrapBlazor.Shared/Demos/Navs/NavsNormal.razor
  src/BootstrapBlazor.Shared/Demos/Navs/NavsPills.razor
  src/BootstrapBlazor.Shared/Demos/Navs/NavsVertical.razor
  src/BootstrapBlazor.Shared/Demos/Navs/NavsWide.razor
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Pages/Coms.razor
  src/BootstrapBlazor.Shared/Samples/Navigation.razor
  src/BootstrapBlazor.Shared/Samples/Navigation.razor.cs
  src/BootstrapBlazor.Shared/Samples/Navs.razor
Labels: documentation

#1739 doc(Modal): refactor the modal document
  src/BootstrapBlazor.Shared/Demos/Modals/ModalsCenterVertically.razor
  src/BootstrapBlazor.Shared/Demos/Modals/ModalsDialogResize.razor
  src/BootstrapBlazor.Shared/Demos/Modals/ModalsDialogSize.razor
  src/BootstrapBlazor.Shared/Demos/Modals/ModalsFullScreenSize.razor
  src/BootstrapBlazor.Shared/Demos/Modals/ModalsIsBackdrop.razor
  src/BootstrapBlazor.Shared/Demos/Modals/ModalsIsDraggable.razor
  src/BootstrapBlazor.Shared/Demos/Modals/ModalsLongContent.razor
  src/BootstrapBlazor.Shared/Demos/Modals/ModalsMaximize.razor
  src/BootstrapBlazor.Shared/Demos/Modals/ModalsNormal.razor
  src/BootstrapBlazor.Shared/Demos/Modals/ModalsShownCallbackAsync.razor
  src/BootstrapBlazor.Shared/Samples/Modals.razor
  src/BootstrapBlazor.Shared/Samples/Modals.razor.cs
  src/BootstrapBlazor.Shared/Samples/MouseFollowers.razor.cs
Labels: documentation

#1741 doc(Message): refactor the message document
  src/BootstrapBlazor.Shared/Demos/Messages/MessagesCloseButton.razor
  src/BootstrapBlazor.Shared/Demos/Messages/MessagesDifferentColor.razor
  src/BootstrapBlazor.Shared/Demos/Messages/MessagesIcon.razor
  src/BootstrapBlazor.Shared/Demos/Messages/MessagesLeftBoard.razor
  src/BootstrapBlazor.Shared/Demos/Messages/MessagesNormal.razor
  src/BootstrapBlazor.Shared/Demos/Messages/MessagesPosition.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Messages.razor
  src/BootstrapBlazor.Shared/Samples/Messages.razor.cs
Labels: documentation

#1745 doc(Select): update Select virtual scroll sample
  BootstrapBlazor.slnf
  src/BootstrapBlazor.Shared/Samples/Selects.razor
  src/BootstrapBlazor.Shared/Samples/Selects.razor.cs
  src/BootstrapBlazor/Components/Select/Select.css
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
Labels: documentation

#1747 doc(Charts): update sample router
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
Labels: documentation

#1749 doc(Tables): update sample router
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Samples/Table/TablesAutoRefresh.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesCell.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesColumn.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesColumnDrag.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesColumnList.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesColumnResizing.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesColumnTemplate.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesDetailRow.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesDialog.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesDynamic.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesDynamicExcel.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesDynamicObject.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesEdit.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesExcel.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesExport.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesFilter.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesFixedColumn.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesFixedHeader.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesFooter.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesHeader.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesLoading.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesLookup.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesPages.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesRow.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesSearch.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesSelection.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesToolbar.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesTracking.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesTree.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesVirtualization.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesWrap.razor
Labels: documentation

#1751 doc(Speech): refactor the speech document
  src/BootstrapBlazor.Shared/Demos/Speechs/SpeechWaves/SpeechWaveNormal.razor
  src/BootstrapBlazor.Shared/Demos/Speechs/SpeechWaves/SpeechWaveShow.razor
  src/BootstrapBlazor.Shared/Demos/Speechs/SpeechWaves/SpeechWaveShowUsedTime.razor
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Bluetooths.razor
  src/BootstrapBlazor.Shared/Samples/Bluetooths.razor.cs
  src/BootstrapBlazor.Shared/Samples/Bluetooths.razor.css
  src/BootstrapBlazor.Shared/Samples/DockViews.razor
  src/BootstrapBlazor.Shared/Samples/SignaturePadPageResponsive.razor
  src/BootstrapBlazor.Shared/Samples/SignaturePads.razor
  src/BootstrapBlazor.Shared/Samples/SignaturePads.razor.cs
  src/BootstrapBlazor.Shared/Samples/Speeches/Index.razor
  src/BootstrapBlazor.Shared/Samples/Speeches/Index.razor.cs
  src/BootstrapBlazor.Shared/Samples/Speeches/Recognizers.razor
  src/BootstrapBlazor.Shared/Samples/Speeches/Recognizers.razor.cs
  src/BootstrapBlazor.Shared/Samples/Speeches/SpeechWaves.razor
  src/BootstrapBlazor.Shared/Samples/Speeches/SpeechWaves.razor.cs
  src/BootstrapBlazor.Shared/Samples/Speeches/Synthesizers.razor
  src/BootstrapBlazor.Shared/Samples/Speeches/Synthesizers.razor.cs
  src/BootstrapBlazor.Shared/Samples/Speechs/Recognizers.razor
  src/BootstrapBlazor.Shared/Samples/Speechs/SpeechWaves.razor
  src/BootstrapBlazor.Shared/Samples/Speechs/Synthesizers.razor
  src/BootstrapBlazor.Shared/Samples/Steps.razor
  src/BootstrapBlazor.Shared/docs.json
Labels: documentation

#1753 doc(Code): update fetch source code function
  src/BootstrapBlazor.Shared/BootstrapBlazor.Shared.csproj
  src/BootstrapBlazor.Shared/Components/DemoBlock.razor.cs
  src/BootstrapBlazor.Shared/Components/GlobalSearch.razor.cs
  src/BootstrapBlazor.Shared/Components/Pre.razor.cs
  src/BootstrapBlazor.Shared/Data/WebsiteOptions.cs
  src/BootstrapBlazor.Shared/Extensions/CacheManagerExtensions.cs
  src/BootstrapBlazor.Shared/Samples/Footers.razor
  src/BootstrapBlazor.Shared/Samples/Speeches/Recognizers.razor.cs
  src/BootstrapBlazor.Shared/Samples/Speeches/Synthesizers.razor.cs
  src/BootstrapBlazor.Shared/Samples/Table/Tables.razor
  src/BootstrapBlazor.Shared/Services/CodeSnippetService.cs
  src/BootstrapBlazor.Shared/Shared/ComponentLayout.razor
  src/BootstrapBlazor.Shared/Shared/ComponentLayout.razor.cs
  src/BootstrapBlazor.Shared/Shared/ComponentLayout.razor.css
  src/BootstrapBlazor.Shared/Shared/NavMenu.razor
  src/BootstrapBlazor.Shared/Shared/NavMenu.razor.css
  src/BootstrapBlazor.Shared/links.json
Labels: documentation

#1755 doc(DockView): refactor dock view sample document
  src/BootstrapBlazor.Server/wwwroot/css/site.css
  src/BootstrapBlazor.Shared/Components/DemoBlock.razor
  src/BootstrapBlazor.Shared/Components/DemoBlock.razor.cs
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/DockViews.razor
  src/BootstrapBlazor.Shared/Samples/DockViews/BaseDockView.cs
  src/BootstrapBlazor.Shared/Samples/DockViews/DockViewCol.razor
  src/BootstrapBlazor.Shared/Samples/DockViews/DockViewComplex.razor
  src/BootstrapBlazor.Shared/Samples/DockViews/DockViewIndex.razor
  src/BootstrapBlazor.Shared/Samples/DockViews/DockViewLock.razor
  src/BootstrapBlazor.Shared/Samples/DockViews/DockViewLock.razor.css
  src/BootstrapBlazor.Shared/Samples/DockViews/DockViewNest.razor
  src/BootstrapBlazor.Shared/Samples/DockViews/DockViewRow.razor
  src/BootstrapBlazor.Shared/Samples/DockViews/DockViewStack.razor
  src/BootstrapBlazor.Shared/Samples/DockViews/DockViewVisible.razor
  src/BootstrapBlazor.Shared/Samples/DockViews/DockViewVisible.razor.css
  src/BootstrapBlazor.Shared/Samples/DockViews/_Imports.razor
  src/BootstrapBlazor.Shared/Shared/DockLayout.razor
  src/BootstrapBlazor.Shared/Shared/DockLayout.razor.css
  src/BootstrapBlazor.Shared/Shared/DockLayout.razor.js
  src/BootstrapBlazor.Shared/docs.json
  src/BootstrapBlazor/Components/Table/Table.razor.js
Labels: documentation

#1757 doc(FileView): refactor file viewer sample document
  src/BootstrapBlazor.Shared/Demos/FileViewer/FileViewerNormal.razor
  src/BootstrapBlazor.Shared/Demos/FileViewer/FileViewerReload.razor
  src/BootstrapBlazor.Shared/Demos/Scroll/ScrollNormal.razor
  src/BootstrapBlazor.Shared/Samples/FileViewers.razor
  src/BootstrapBlazor.Shared/Samples/FileViewers.razor.cs
  src/BootstrapBlazor.Shared/Samples/Scrolls.razor
  src/BootstrapBlazor.Shared/Samples/Scrolls.razor.cs
Labels: documentation

#1759 doc(BaduOrc): refactor orc sample document
  src/BootstrapBlazor.Shared/Demos/BaiduOcr/BaiduOcrNormal.razor
  src/BootstrapBlazor.Shared/Demos/BaiduOcr/BaiduOcrVerifyVatInvoice.razor
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Samples/BaiduOcr.razor
  src/BootstrapBlazor.Shared/Samples/BaiduOcr.razor.cs
Labels: documentation

#1761 doc(Download): refactor download sample document
  src/BootstrapBlazor.Shared/Demos/Downloads/DownloadBigFile.razor
  src/BootstrapBlazor.Shared/Demos/Downloads/DownloadFolder.razor
  src/BootstrapBlazor.Shared/Demos/Downloads/DownloadImage.razor
  src/BootstrapBlazor.Shared/Demos/Downloads/DownloadNormal.razor
  src/BootstrapBlazor.Shared/Samples/Downloads.razor
  src/BootstrapBlazor.Shared/Samples/Downloads.razor.cs
Labels: documentation

#1763 doc(Bluetooth): update sample document
  src/BootstrapBlazor.Shared/Demos/Bluetooths/BluetoothBatteryLevel.razor
  src/BootstrapBlazor.Shared/Demos/Bluetooths/BluetoothHeartRate.razor
  src/BootstrapBlazor.Shared/Demos/Bluetooths/BluetoothNomal.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Bluetooth.razor
  src/BootstrapBlazor.Shared/Samples/Bluetooth.razor.cs
  src/BootstrapBlazor.Shared/Samples/Bluetooth.razor.css
  src/BootstrapBlazor.Shared/Samples/Bluetooths.razor
Labels: documentation

#1765 doc(Chart): refactor Chart sample document
  src/BootstrapBlazor.Shared/Demos/Charts/Bar/BarAspectRatio.razor
  src/BootstrapBlazor.Shared/Demos/Charts/Bar/BarStacked.razor
  src/BootstrapBlazor.Shared/Demos/Charts/Bar/BarTwoYaxes.razor
  src/BootstrapBlazor.Shared/Demos/Charts/Bar/BarType.razor
  src/BootstrapBlazor.Shared/Demos/Charts/Bubble/BubbleBarAspectRatio.razor
  src/BootstrapBlazor.Shared/Demos/Charts/Doughnut/DoughnutAspectRatio.razor
  src/BootstrapBlazor.Shared/Demos/Charts/Doughnut/DoughnutNormal.razor
  src/BootstrapBlazor.Shared/Demos/Charts/Line/LineBarAspectRatio.razor
  src/BootstrapBlazor.Shared/Demos/Charts/Line/LineChartJS.razor
  src/BootstrapBlazor.Shared/Demos/Charts/Line/LineNullable.razor
  src/BootstrapBlazor.Shared/Demos/Charts/Line/LineOnInit.razor
  src/BootstrapBlazor.Shared/Demos/Charts/Line/LineTension.razor
  src/BootstrapBlazor.Shared/Demos/Charts/Line/LineTwoYaxes.razor
  src/BootstrapBlazor.Shared/Demos/Charts/Pie/PieAspectRatio.razor
  src/BootstrapBlazor.Shared/Demos/Charts/Pie/PieLegendPostion.razor
  src/BootstrapBlazor.Shared/Demos/Charts/Pie/PieNormal.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Bluetooth.razor
  src/BootstrapBlazor.Shared/Samples/Bluetooth.razor.cs
  src/BootstrapBlazor.Shared/Samples/Charts/Bar.razor
  src/BootstrapBlazor.Shared/Samples/Charts/Bar.razor.cs
  src/BootstrapBlazor.Shared/Samples/Charts/Bubble.razor
  src/BootstrapBlazor.Shared/Samples/Charts/Bubble.razor.cs
  src/BootstrapBlazor.Shared/Samples/Charts/Doughnut.razor
  src/BootstrapBlazor.Shared/Samples/Charts/Doughnut.razor.cs
  src/BootstrapBlazor.Shared/Samples/Charts/Line.razor
  src/BootstrapBlazor.Shared/Samples/Charts/Line.razor.cs
  src/BootstrapBlazor.Shared/Samples/Charts/Line.razor.js
  src/BootstrapBlazor.Shared/Samples/Charts/Pie.razor
  src/BootstrapBlazor.Shared/Samples/Charts/Pie.razor.cs
  src/BootstrapBlazor.Shared/Services/CodeSnippetService.cs
Labels: documentation

#1767 doc(Practice): update practices sample code
  src/BootstrapBlazor.Server/wwwroot/images/practices/dashboard.png
  src/BootstrapBlazor.Server/wwwroot/images/practices/login.png
  src/BootstrapBlazor.Server/wwwroot/images/practices/logintemplate3background.jpg
  src/BootstrapBlazor.Server/wwwroot/images/practices/logintemplate4background.jpg
  src/BootstrapBlazor.Server/wwwroot/images/practices/waterfall.png
  src/BootstrapBlazor.Shared/Components/DemoBlock.razor
  src/BootstrapBlazor.Shared/Components/Header.razor
  src/BootstrapBlazor.Shared/Pages/Prac.razor
  src/BootstrapBlazor.Shared/Pages/Practice.razor
  src/BootstrapBlazor.Shared/Pages/Practice.razor.css
  src/BootstrapBlazor.Shared/Practicals/LoginAndRegister/PracLoginTemplate1.razor
  src/BootstrapBlazor.Shared/Practicals/LoginAndRegister/PracLoginTemplate1.razor.css
  src/BootstrapBlazor.Shared/Practicals/LoginAndRegister/PracLoginTemplate2.razor
  src/BootstrapBlazor.Shared/Practicals/LoginAndRegister/PracLoginTemplate2.razor.css
  src/BootstrapBlazor.Shared/Practicals/LoginAndRegister/PracLoginTemplate3.razor
  src/BootstrapBlazor.Shared/Practicals/LoginAndRegister/PracLoginTemplate3.razor.css
  src/BootstrapBlazor.Shared/Practicals/LoginAndRegister/PracLoginTemplate4.razor
  src/BootstrapBlazor.Shared/Practicals/LoginAndRegister/PracLoginTemplate4.razor.css
  src/BootstrapBlazor.Shared/Practicals/LoginAndRegister/PracLoginTemplate4.razor.js
  src/BootstrapBlazor.Shared/Practicals/LoginAndRegister/PracLoginTemplate5.razor
  src/BootstrapBlazor.Shared/Practicals/LoginAndRegister/PracLoginTemplate5.razor.css
  src/BootstrapBlazor.Shared/Practicals/LoginAndRegister/PracLoginTemplate5.razor.js
  src/BootstrapBlazor.Shared/Practicals/_Imports.razor
  src/BootstrapBlazor.Shared/Samples/Practices/Dashboard.razor
  src/BootstrapBlazor.Shared/Samples/Practices/Dashboard.razor.cs
  src/BootstrapBlazor.Shared/Samples/Practices/Dashboard.razor.css
  src/BootstrapBlazor.Shared/Samples/Practices/DashboardData.cs
  src/BootstrapBlazor.Shared/Samples/Practices/LoginAndRegister/Template6.razor
  src/BootstrapBlazor.Shared/Samples/Practices/LoginAndRegister/Template6.razor.css
  src/BootstrapBlazor.Shared/Samples/Practices/LoginAndRegister/Template7.razor
  src/BootstrapBlazor.Shared/Samples/Practices/LoginAndRegister/Template7.razor.css
  src/BootstrapBlazor.Shared/Samples/Practices/LoginAndRegister/Template8.razor
  src/BootstrapBlazor.Shared/Samples/Practices/LoginAndRegister/Template8.razor.css
  src/BootstrapBlazor.Shared/Samples/Practices/LoginAndRegister/Template9.razor
  src/BootstrapBlazor.Shared/Samples/Practices/LoginAndRegister/Template9.razor.css
  src/BootstrapBlazor.Shared/Samples/Practices/Waterfall.razor
  src/BootstrapBlazor.Shared/Samples/Practices/Waterfall.razor.cs
  src/BootstrapBlazor.Shared/Samples/Practices/Waterfall.razor.css
  src/BootstrapBlazor.Shared/Samples/Practices/_Imports.razor
  src/BootstrapBlazor.Shared/Services/DashboardService.cs
  src/BootstrapBlazor.Shared/Shared/BaseLayout.razor
  src/BootstrapBlazor.Shared/Shared/MainLayout.razor
  src/BootstrapBlazor.Shared/Shared/NavMenu.razor
  src/BootstrapBlazor.Shared/Shared/PracLayout.razor.cs
  src/BootstrapBlazor.Shared/Shared/PracNavMenu.razor.cs
  src/BootstrapBlazor.Shared/Shared/PracticeLayout.razor
  src/BootstrapBlazor.Shared/Shared/PracticeLayout.razor.css
  src/BootstrapBlazor.Shared/Shared/PracticeLoginLayout.razor
  src/BootstrapBlazor.Shared/Shared/PracticeLoginLayout.razor.css
  src/BootstrapBlazor.Shared/Shared/PracticeNavMenu.razor
  src/BootstrapBlazor.Shared/Shared/PracticeNavMenu.razor.cs
  src/BootstrapBlazor.Shared/Shared/PracticeNavMenu.razor.css
Labels: documentation

#1769 doc(Label): refactor label sample document
  src/BootstrapBlazor.Shared/Demos/Labels/LabelsEditorForm.razor
  src/BootstrapBlazor.Shared/Demos/Labels/LabelsNormal.razor
  src/BootstrapBlazor.Shared/Demos/Labels/LabelsValidateForm1.razor
  src/BootstrapBlazor.Shared/Demos/Labels/LabelsValidateForm2.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Labels.razor
  src/BootstrapBlazor.Shared/Samples/Labels.razor.cs
  src/BootstrapBlazor.Shared/Samples/Practices/Waterfall.razor
Labels: documentation

#1771 doc(InputGroup): refactor input group sample document
  src/BootstrapBlazor.Shared/Demos/InputGroups/InputGroupsMultiple.razor
  src/BootstrapBlazor.Shared/Demos/InputGroups/InputGroupsNormal.razor
  src/BootstrapBlazor.Shared/Demos/InputGroups/InputGroupsSelect.razor
  src/BootstrapBlazor.Shared/Demos/InputGroups/InputGroupsValidateForm.razor
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/DockViews/DockViewIndex.razor
  src/BootstrapBlazor.Shared/Samples/InputGroups.razor
  src/BootstrapBlazor.Shared/Samples/InputGroups.razor.cs
  src/BootstrapBlazor.Shared/Samples/Labels.razor.cs
  src/BootstrapBlazor.Shared/docs.json
Labels: documentation

#1773 doc(ImageViewer): refactor image viewer sample document
  src/BootstrapBlazor.Shared/Components/DemoBlock.razor
  src/BootstrapBlazor.Shared/Components/DemoBlock.razor.cs
  src/BootstrapBlazor.Shared/Demos/ImageViewer/ImageViewerErrorTemplate.razor
  src/BootstrapBlazor.Shared/Demos/ImageViewer/ImageViewerNormal.razor
  src/BootstrapBlazor.Shared/Demos/ImageViewer/ImageViewerNormal.razor.css
  src/BootstrapBlazor.Shared/Demos/ImageViewer/ImageViewerPlaceHolder.razor
  src/BootstrapBlazor.Shared/Demos/ImageViewer/ImageViewerPlaceHolder.razor.css
  src/BootstrapBlazor.Shared/Demos/ImageViewer/ImageViewerPlaceHolderTemplate.razor
  src/BootstrapBlazor.Shared/Demos/ImageViewer/ImageViewerPlaceHolderTemplate.razor.css
  src/BootstrapBlazor.Shared/Demos/ImageViewer/ImageViewerPreviewList.razor
  src/BootstrapBlazor.Shared/Demos/ImageViewer/ImageViewerPreviewList.razor.css
  src/BootstrapBlazor.Shared/Demos/Table/TablesFixedColumn/TablesFixedColHeader.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesFixedColumn/TablesFixedColTableHeader.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesFixedColumn/TablesFixedExtendButtonsColumn.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesFixedColumn/TablesFixedHeaderAndExtendButtonsColumn.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesFixedHeader/TablesFixedHeaderAllowResizing.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesFixedHeader/TablesFixedHeaderAutoHeight.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesFixedHeader/TablesFixedHeaderNormal.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesFixedHeader/TablesFixedHeaderWidth.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/ImageViewers.razor
  src/BootstrapBlazor.Shared/Samples/ImageViewers.razor.cs
  src/BootstrapBlazor.Shared/Samples/ImageViewers.razor.css
  src/BootstrapBlazor.Shared/Samples/Table/TablesColumnFix.razor
  src/BootstrapBlazor.Shared/Shared/MainLayout.razor.css
Labels: documentation

#1775 doc(ListView): refactor list view sample document
  src/BootstrapBlazor.Shared/Demos/ListViews/ListViewsCollapsable.razor
  src/BootstrapBlazor.Shared/Demos/ListViews/ListViewsGroup.razor
  src/BootstrapBlazor.Shared/Demos/ListViews/ListViewsIsAccordion.razor
  src/BootstrapBlazor.Shared/Demos/ListViews/ListViewsNormal.razor
  src/BootstrapBlazor.Shared/Demos/ListViews/ListViewsPagination.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/ListViews.razor
  src/BootstrapBlazor.Shared/Samples/ListViews.razor.cs
  src/BootstrapBlazor.Shared/Samples/ListViews.razor.css
Labels: documentation

#1777 doc(EditorForm): rector editor form sample document
  src/BootstrapBlazor.Shared/Demos/EditForm/EditFormAlignment.razor
  src/BootstrapBlazor.Shared/Demos/EditForm/EditFormAutoGenerate.razor
  src/BootstrapBlazor.Shared/Demos/EditForm/EditFormItemsPerRow.razor
  src/BootstrapBlazor.Shared/Demos/EditForm/EditFormNormal.razor
  src/BootstrapBlazor.Shared/Demos/EditForm/EditFormSkipValidate.razor
  src/BootstrapBlazor.Shared/Demos/EditForm/EditFormValidateForm.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/EditorForms.razor
  src/BootstrapBlazor.Shared/Samples/EditorForms.razor.cs
Labels: documentation

#1779 doc(ComponentLayout): support lazy load
  src/BootstrapBlazor.Shared/Components/Pre.razor.cs
  src/BootstrapBlazor.Shared/Shared/ComponentLayout.razor
  src/BootstrapBlazor.Shared/Shared/ComponentLayout.razor.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/LazyLoad/LazyLoad.cs
  test/UnitTest/Components/LazyLoadTest.cs
Labels: documentation

#1781 doc(Logout): refactor the logout document
  src/BootstrapBlazor.Shared/Demos/Logouts/LogoutChildContent.razor
  src/BootstrapBlazor.Shared/Demos/Logouts/LogoutHeaderTemplate.razor
  src/BootstrapBlazor.Shared/Demos/Logouts/LogoutLinkTemplate.razor
  src/BootstrapBlazor.Shared/Demos/Logouts/LogoutNormal.razor
  src/BootstrapBlazor.Shared/Demos/Logouts/LogoutShowUserName.razor
  src/BootstrapBlazor.Shared/Samples/Logouts.razor
  src/BootstrapBlazor.Shared/Samples/Logouts.razor.cs
Labels: documentation

#1783 doc(Menu): refactor the menu document
  src/BootstrapBlazor.Shared/Demos/Menus/MenusAccordion.razor
  src/BootstrapBlazor.Shared/Demos/Menus/MenusBottomBar.razor
  src/BootstrapBlazor.Shared/Demos/Menus/MenusClickShrink.razor
  src/BootstrapBlazor.Shared/Demos/Menus/MenusCustomNode.razor
  src/BootstrapBlazor.Shared/Demos/Menus/MenusDynamic.razor
  src/BootstrapBlazor.Shared/Demos/Menus/MenusIconLeft.razor
  src/BootstrapBlazor.Shared/Demos/Menus/MenusIconTop.razor
  src/BootstrapBlazor.Shared/Demos/Menus/MenusLeftRightLayout.razor
  src/BootstrapBlazor.Shared/Demos/Menus/MenusPartDisable.razor
  src/BootstrapBlazor.Shared/Demos/Menus/MenusTopBar.razor
  src/BootstrapBlazor.Shared/Demos/Menus/MenusWiget.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Menus.razor
  src/BootstrapBlazor.Shared/Samples/Menus.razor.cs
  src/BootstrapBlazor.Shared/Samples/Menus.razor.css
Labels: documentation

#1785 doc(Markdown): refactor the markdown document
  src/BootstrapBlazor.Shared/Demos/Markdowns/MarkdownsAsync.razor
  src/BootstrapBlazor.Shared/Demos/Markdowns/MarkdownsBrowser.razor
  src/BootstrapBlazor.Shared/Demos/Markdowns/MarkdownsCommonProperty.razor
  src/BootstrapBlazor.Shared/Demos/Markdowns/MarkdownsEnableHighlight.razor
  src/BootstrapBlazor.Shared/Demos/Markdowns/MarkdownsIsDark.razor
  src/BootstrapBlazor.Shared/Demos/Markdowns/MarkdownsIsViewer.razor
  src/BootstrapBlazor.Shared/Demos/Markdowns/MarkdownsNormal.razor
  src/BootstrapBlazor.Shared/Demos/Markdowns/MarkdownsValidate.razor
  src/BootstrapBlazor.Shared/Samples/Markdowns.razor
  src/BootstrapBlazor.Shared/Samples/Markdowns.razor.cs
Labels: documentation

#1787 doc(LinkButton): refactor the linkbutton document
  src/BootstrapBlazor.Shared/Demos/LinkButtons/LinkButtonsChildContent.razor
  src/BootstrapBlazor.Shared/Demos/LinkButtons/LinkButtonsColor.razor
  src/BootstrapBlazor.Shared/Demos/LinkButtons/LinkButtonsIcon.razor
  src/BootstrapBlazor.Shared/Demos/LinkButtons/LinkButtonsImage.razor
  src/BootstrapBlazor.Shared/Demos/LinkButtons/LinkButtonsIsDisabled.razor
  src/BootstrapBlazor.Shared/Demos/LinkButtons/LinkButtonsIsVertical.razor
  src/BootstrapBlazor.Shared/Demos/LinkButtons/LinkButtonsOnClick.razor
  src/BootstrapBlazor.Shared/Demos/LinkButtons/LinkButtonsText.razor
  src/BootstrapBlazor.Shared/Demos/LinkButtons/LinkButtonsTitle.razor
  src/BootstrapBlazor.Shared/Demos/LinkButtons/LinkButtonsUrl.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/LinkButtons.razor
  src/BootstrapBlazor.Shared/Samples/LinkButtons.razor.cs
Labels: documentation

#1789 doc(Layout): refactor the layout document
  src/BootstrapBlazor.Shared/Demos/Layouts/LayoutsApp.razor
  src/BootstrapBlazor.Shared/Demos/Layouts/LayoutsApp.razor.css
  src/BootstrapBlazor.Shared/Demos/Layouts/LayoutsCustomPercent.razor
  src/BootstrapBlazor.Shared/Demos/Layouts/LayoutsLeftRight.razor
  src/BootstrapBlazor.Shared/Demos/Layouts/LayoutsMiddleLeftRight.razor
  src/BootstrapBlazor.Shared/Demos/Layouts/LayoutsUpAndDown.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Layouts.razor
  src/BootstrapBlazor.Shared/Samples/Layouts.razor.cs
  src/BootstrapBlazor.Shared/Samples/Layouts.razor.css
Labels: documentation

#1791 doc(FloatingLabel): refactor the floatinglabel document
  src/BootstrapBlazor.Shared/Demos/FloatingLabels/FloatingLabelBindValue.razor
  src/BootstrapBlazor.Shared/Demos/FloatingLabels/FloatingLabelDisabled.razor
  src/BootstrapBlazor.Shared/Demos/FloatingLabels/FloatingLabelDisplayText.razor
  src/BootstrapBlazor.Shared/Demos/FloatingLabels/FloatingLabelFormatString.razor
  src/BootstrapBlazor.Shared/Demos/FloatingLabels/FloatingLabelFormatter.razor
  src/BootstrapBlazor.Shared/Demos/FloatingLabels/FloatingLabelGroupBox.razor
  src/BootstrapBlazor.Shared/Demos/FloatingLabels/FloatingLabelNormal.razor
  src/BootstrapBlazor.Shared/Demos/FloatingLabels/FloatingLabelPassword.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/FloatingLabels.razor
  src/BootstrapBlazor.Shared/Samples/FloatingLabels.razor.cs
Labels: documentation

#1793 doc(Editor): refactor the editor document
  src/BootstrapBlazor.Shared/Demos/Editor/EditorCustomerToolbarButtons.razor
  src/BootstrapBlazor.Shared/Demos/Editor/EditorDoMethodAsync.razor
  src/BootstrapBlazor.Shared/Demos/Editor/EditorHeight.razor
  src/BootstrapBlazor.Shared/Demos/Editor/EditorIsEditor.razor
  src/BootstrapBlazor.Shared/Demos/Editor/EditorNormal.razor
  src/BootstrapBlazor.Shared/Demos/Editor/EditorOnValueChanged.razor
  src/BootstrapBlazor.Shared/Demos/Editor/EditorPlaceholder.razor
  src/BootstrapBlazor.Shared/Demos/Editor/EditorSubmit.razor
  src/BootstrapBlazor.Shared/Demos/Editor/EditorToolbarItems.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Editors.razor
  src/BootstrapBlazor.Shared/Samples/Editors.razor.cs
Labels: documentation

#1795 doc(InputNumber): refactor the inputnumber document
  src/BootstrapBlazor.Shared/Demos/InputNumbers/InputNumbersColor.razor
  src/BootstrapBlazor.Shared/Demos/InputNumbers/InputNumbersDateType.razor
  src/BootstrapBlazor.Shared/Demos/InputNumbers/InputNumbersDisabled.razor
  src/BootstrapBlazor.Shared/Demos/InputNumbers/InputNumbersNormal.razor
  src/BootstrapBlazor.Shared/Demos/InputNumbers/InputNumbersRange.razor
  src/BootstrapBlazor.Shared/Demos/InputNumbers/InputNumbersShowButton.razor
  src/BootstrapBlazor.Shared/Demos/InputNumbers/InputNumbersStep.razor
  src/BootstrapBlazor.Shared/Demos/InputNumbers/InputNumbersValidateForm.razor
  src/BootstrapBlazor.Shared/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/InputNumbers.razor
  src/BootstrapBlazor.Shared/Samples/InputNumbers.razor.cs
  src/BootstrapBlazor.Shared/Samples/InputNumbers.razor.css
Labels: documentation

#1796 doc(Dropdown): refactor the dropdown document
  src/BootstrapBlazor.Shared/Demos/Dropdown/DropdownAlignment.razor
  src/BootstrapBlazor.Shared/Demos/Dropdown/DropdownCascade.razor
  src/BootstrapBlazor.Shared/Demos/Dropdown/DropdownColor.razor
  src/BootstrapBlazor.Shared/Demos/Dropdown/DropdownDirection.razor
  src/BootstrapBlazor.Shared/Demos/Dropdown/DropdownFixedButtonText.razor
  src/BootstrapBlazor.Shared/Demos/Dropdown/DropdownIsFixedButtonText.razor
  src/BootstrapBlazor.Shared/Demos/Dropdown/DropdownItems.razor
  src/BootstrapBlazor.Shared/Demos/Dropdown/DropdownNormal.razor
  src/BootstrapBlazor.Shared/Demos/Dropdown/DropdownNull.razor
  src/BootstrapBlazor.Shared/Demos/Dropdown/DropdownRadio.razor
  src/BootstrapBlazor.Shared/Demos/Dropdown/DropdownSize.razor
  src/BootstrapBlazor.Shared/Demos/Dropdown/DropdownSplit.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Dropdowns.razor
  src/BootstrapBlazor.Shared/Samples/Dropdowns.razor.cs
Labels: documentation

#1801 doc(Table): refactor the table document
  src/BootstrapBlazor.Shared/Demos/Table/TablesBase/TableBaseBordered.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesBase/TableBaseHeaderStyle.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesBase/TableBaseNormal.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesBase/TableBaseSize.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesBase/TableBaseStriped.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Table/Tables.razor
  src/BootstrapBlazor.Shared/Samples/Table/Tables.razor.cs
Labels: documentation

#1803 doc(Tables/Virtualization): refactor the Tables Virtualization document(#1802)
  src/BootstrapBlazor.Shared/Demos/Table/TablesVirtualization/TablesVirtualizationNormal.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesVirtualization/TablesVirtualizationNormal.razor.css
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Table/TablesVirtualization.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesVirtualization.razor.cs
  src/BootstrapBlazor.Shared/Samples/Table/TablesVirtualization.razor.css
Labels: documentation

#1809 doc(Tables/Dialog): refactor the Tables Dialog document(#1808)
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Table/TablesDialog.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesDialog.razor.cs
Labels: documentation

#1811 doc(Tables/Dynamic): refactor the Tables Dynamic document
  src/BootstrapBlazor.Shared/Demos/Table/TablesDynamic/TablesDynamicDataTable.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesDynamic/TablesDynamicDynamicCol.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesDynamic/TablesDynamicPage.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Table/TablesDynamic.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesDynamic.razor.cs
Labels: documentation
