Repository dotnetcore/BootstrapBlazor, pull requests merged in 2023-02, with the labels that each got.

#437 chore: remove workflow use app function
  scripts/workflows/auto-assign-issue.yml
  scripts/workflows/auto-sync-from-issue.yml
  scripts/workflows/labeler.yml
Labels: chore

#438 doc: update the table component some demos namespace
  src/BootstrapBlazor.Shared/Demos/Table/TablesAutoRefresh/TablesAutoRefreshControl.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesAutoRefresh/TablesAutoRefreshNormal.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesBase/TableBaseBordered.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesBase/TableBaseHeaderStyle.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesBase/TableBaseNormal.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesBase/TableBaseSize.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesBase/TableBaseStriped.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesCell/TableCellMergeCell.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesCell/TableCellOnDoubleClickCell.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesDialog/TableDialogNormal.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesLookup/TableLookupNormal.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesVirtualization/TablesVirtualizationDynamic.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesVirtualization/TablesVirtualizationDynamic.razor.css
  src/BootstrapBlazor.Shared/Demos/Table/TablesVirtualization/TablesVirtualizationNormal.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesVirtualization/TablesVirtualizationNormal.razor.css
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Table/Tables.razor
  src/BootstrapBlazor.Shared/Samples/Table/Tables.razor.cs
  src/BootstrapBlazor.Shared/Samples/Table/TablesAutoRefresh.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesCell.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesCell.razor.cs
  src/BootstrapBlazor.Shared/Samples/Table/TablesDialog.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesLookup.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesVirtualization.razor
Labels: documentation

#440 chore: add oscs badge on readme
  README.md
  README.zh-CN.md
  src/BootstrapBlazor.Shared/Shared/ComponentLayout.razor
Labels: chore

#444 test: add Trigger unit test improve code coverage
  test/UnitTest/Components/PopConfirmButtonTest.cs
Labels: test

#446 refactor: update CheckboxList for improve code coverage
  src/BootstrapBlazor/Components/Checkbox/CheckboxList.razor.cs
Labels: enhancement

#448 test: add unit test for HasFilter
  test/UnitTest/Components/TableStringFilterTest.cs
Labels: test

#450 test: add unit test for Menu
  src/BootstrapBlazor/Components/Menu/SideMenu.razor.cs
  src/BootstrapBlazor/Components/Menu/TopMenu.razor.cs
  test/UnitTest/Components/MenuTest.cs
Labels: test

#452 doc: update the table component fix-column demos
  src/BootstrapBlazor.Shared/Demos/Table/TablesFixedColumn/TablesFixedColHeader.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesFixedColumn/TablesFixedColTableHeader.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesFixedColumn/TablesFixedExtendButtonsColumn.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesFixedColumn/TablesFixedHeaderAndExtendButtonsColumn.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Table/TablesFixedColumn.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesFixedColumn.razor.cs
Labels: documentation

#454 doc: update the table component tree demos.
  src/BootstrapBlazor.Shared/Demos/Table/TablesTree/TablesTreeData.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesTree/TablesTreeEdit.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesTree/TablesTreeIcon.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesTree/TablesTreeLevel.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Table/TablesTree.razor
Labels: documentation

#456 test: add unit test for dispose method
  src/BootstrapBlazor/Components/Handwritten/Handwritten.razor.cs
  test/UnitTest/Components/HandwrittenTest.cs
Labels: test

#460 test: add isPopover unit test for MultiSelect
  test/UnitTest/Components/MultiSelectTest.cs
Labels: test

#465 chore: add bb-auto-config.yml file
  .github/bb-auto-config.yml
  BootstrapBlazor.sln
Labels: chore

#464 doc: update the table component search demos
  src/BootstrapBlazor.Shared/Demos/Table/TablesSearch/TablesAutoGenerateSearch.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesSearch/TablesCustomColSearch.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesSearch/TablesCustomerSearchModel.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesSearch/TablesSearchTable.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Table/TablesSearch.razor
Labels: documentation

#467 doc: update the table component row demos.
  src/BootstrapBlazor.Shared/Demos/Table/TablesRow/TablesRowClickToSelect.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesRow/TablesRowClickToSelect.razor.css
  src/BootstrapBlazor.Shared/Demos/Table/TablesRow/TablesRowDoubleClickRowCallback.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesRow/TablesRowDoubleClickRowCallback.razor.css
  src/BootstrapBlazor.Shared/Demos/Table/TablesRow/TablesRowDoubleClickToEdit.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesRow/TablesRowDoubleClickToEdit.razor.css
  src/BootstrapBlazor.Shared/Demos/Table/TablesRow/TablesRowNubmer.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesRow/TablesRowNubmer.razor.css
  src/BootstrapBlazor.Shared/Demos/Table/TablesRow/TablesRowSetRowClassFormatter.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesRow/TablesRowSetRowClassFormatter.razor.css
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Table/TablesRow.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesRow.razor.cs
Labels: documentation

#469 test: add null Options unit test for Toast
  test/UnitTest/Components/ToastTest.cs
Labels: test

#470 chore: add config Issue form
  .github/ISSUE_TEMPLATE/config.yml
Labels: chore

#472 test: add unit test for TooltipWrapperBase
  src/BootstrapBlazor/BootstrapBlazor.csproj
  test/UnitTest/Components/ButtonTest.cs
Labels: test

#477 test: add unit test for not exist field
  test/UnitTest/Extensions/EnumExtensionsTest.cs
Labels: test

#481 doc: update the table component fixed header demos
  src/BootstrapBlazor.Shared/Demos/Table/TablesFixedHeader/TablesFixedHeaderAllowResizing.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesFixedHeader/TablesFixedHeaderAutoHeight.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesFixedHeader/TablesFixedHeaderDialog.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesFixedHeader/TablesFixedHeaderNormal.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesFixedHeader/TablesFixedHeaderWidth.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Table/TablesFixedHeader.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesFixedHeader.razor.cs
Labels: documentation

#480 test: add unite test for TryConvertTo
  src/BootstrapBlazor/Extensions/ObjectExtensions.cs
Labels: test

#483 doc: update the table component detailrow demos
  src/BootstrapBlazor.Shared/Demos/Table/TablesDetailRow/TablesDetailRowExcel.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesDetailRow/TablesDetailRowHeight.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesDetailRow/TablesDetailRowIsDetails.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesDetailRow/TablesDetailRowShow.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesDetailRow/TablesDetailRowTemplate.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Table/TablesDetailRow.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesDetailRow.razor.cs
Labels: documentation

#485 chore: update solution file remove miscellaneous
  .github/ISSUE_TEMPLATE/10_bug_report.yml
  .github/ISSUE_TEMPLATE/30_doc_documentation.yml
  .github/ISSUE_TEMPLATE/40_unit_test.yml
  .github/ISSUE_TEMPLATE/50_other.yml
  .github/ISSUE_TEMPLATE/60_config.yml
  .github/pull_request_template.md
  BootstrapBlazor.sln
Labels: chore

#488 feat: do not close tab item when OnCloseTabItemAsync return false
  src/BootstrapBlazor/Components/ErrorLogger/IHandlerException.cs
  src/BootstrapBlazor/Components/Tab/Tab.razor.cs
  src/BootstrapBlazor/Components/Tab/TabLink.razor.cs
  test/UnitTest/Components/TabTest.cs
Labels: enhancement

#489 bug: RepositoryUrl does not exist in WebsiteOptions
  src/Wasm/BootstrapBlazor.WebAssembly.ClientHost/Properties/launchSettings.json
  src/Wasm/BootstrapBlazor.WebAssembly.ClientHost/ServicesExtensions.cs
  src/Wasm/BootstrapBlazor.WebAssembly.ServerHost/Program.cs
  src/Wasm/BootstrapBlazor.WebAssembly.ServerHost/Properties/launchSettings.json
  src/Wasm/BootstrapBlazor.WebAssembly.ServerHost/Startup.cs
Labels: bug

#491 doc: update the table component filter demos
  src/BootstrapBlazor.Shared/Demos/Table/TablesFilter/TablesFilterDefaultSort.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesFilter/TablesFilterOnSort.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesFilter/TablesFilterSortString.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesFilter/TablesFilterTemplate.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesFilter/TablesFilterable.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesFilter/TablesSetFilterInCode.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesFilter/TablesShowFilterHeader.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Table/TablesFilter.razor
Labels: documentation

#493 doc: update Dialog close button sample code
  src/BootstrapBlazor.Shared/Components/DataDialogComponent.razor
  src/BootstrapBlazor.Shared/Demos/Dialog/DialogApply.razor
  src/BootstrapBlazor.Shared/Demos/Dialog/DialogCloseDialogByCode.razor
  src/BootstrapBlazor.Shared/Demos/Dialog/DialogDisableHeaderCloseButton.razor
  src/BootstrapBlazor.Shared/Demos/Dialog/DialogPrintDialog.razor
  src/BootstrapBlazor.Shared/Samples/Prints.razor.cs
  src/BootstrapBlazor/Extensions/PrintServiceExtensions.cs
Labels: documentation

#495 chore: update document issue form
  .github/ISSUE_TEMPLATE/30_documentation.yml
Labels: chore

#497 doc: update the demos C# tabItem content
  src/BootstrapBlazor.Shared/Components/DemoBlock.razor.css
  src/BootstrapBlazor.Shared/Shared/ComponentLayout.razor
  src/BootstrapBlazor.Shared/Shared/ComponentLayout.razor.cs
Labels: documentation

#500 feat: Circle support ChildContent parameter
  src/BootstrapBlazor.Shared/Demos/Circle/CircleChildContent.razor.css
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Circle/Circle.css
  src/BootstrapBlazor/Components/Circle/Circle.razor
  src/BootstrapBlazor/Components/Circle/CircleBase.cs
  src/BootstrapBlazor/Components/Timer/Timer.css
  src/BootstrapBlazor/Components/Timer/Timer.razor
  src/BootstrapBlazor/Components/Timer/Timer.razor.cs
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  test/UnitTest/Components/CircleTest.cs
  test/UnitTest/Components/TimerTest.cs
Labels: enhancement

#502 fix: can not drag Dialog/Model when set IsScrolling to true
  src/BootstrapBlazor/wwwroot/modules/modal.js
Labels: bug

#505 doc: update the table component tblesedit demo
  src/BootstrapBlazor.Shared/Demos/Table/TablesEdit/TablesEditDataService.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesEdit/TablesEditFooterTemplate.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesEdit/TablesEditInjectDataService.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesEdit/TablesEditMode.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesEdit/TablesEditOnAddAsync.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesEdit/TablesEditShowSearch.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesEdit/TablesEditTemplate.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Table/TablesEdit.razor
Labels: documentation

#508 doc: update the table component Column demos
  src/BootstrapBlazor.Shared/Demos/Table/TablesColumn/TablesColumnAdvance.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesColumn/TablesColumnAlign.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesColumn/TablesColumnAllowResizing.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesColumn/TablesColumnAutoGenerateColumns.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesColumn/TablesColumnDisabled.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesColumn/TablesColumnFormatter.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesColumn/TablesColumnNormal.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesColumn/TablesColumnOnColumnCreating.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesColumn/TablesColumnSelect.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesColumn/TablesColumnShowCheckbox.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesColumn/TablesColumnShowCopyColumn.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesColumn/TablesColumnShownWithBreakPoint.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesColumn/TablesColumnTemplate.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesColumn/TablesColumnText.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesColumn/TablesColumnVisible.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesColumn/TablesColumnWidth.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Table/TablesColumn.razor
  src/BootstrapBlazor.Shared/Samples/Table/TablesColumn.razor.cs
Labels: documentation

#510 chore: remove the TableRow Demo css file
  src/BootstrapBlazor.Shared/Samples/Table/TablesRow.razor.css
Labels: chore

#512 chore: should use variable in Time/Circle component css
  src/BootstrapBlazor/Components/Circle/Circle.css
  src/BootstrapBlazor/Components/Timer/Timer.css
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
Labels: enhancement

#513 test: update Locate method improve code coverage
  src/BootstrapBlazor/Components/IPLocator/DefaultIPLocator.cs
  test/UnitTest/Components/IPLocatorTest.cs
Labels: test

#519 doc: update the InputNumbers demos
  src/BootstrapBlazor.Shared/Demos/InputNumbers/InputNumbersColor.razor
  src/BootstrapBlazor.Shared/Demos/InputNumbers/InputNumbersDateType.razor
  src/BootstrapBlazor.Shared/Demos/InputNumbers/InputNumbersDisabled.razor
  src/BootstrapBlazor.Shared/Demos/InputNumbers/InputNumbersNormal.razor
  src/BootstrapBlazor.Shared/Demos/InputNumbers/InputNumbersRange.razor
  src/BootstrapBlazor.Shared/Demos/InputNumbers/InputNumbersShowButton.razor
  src/BootstrapBlazor.Shared/Demos/InputNumbers/InputNumbersStep.razor
  src/BootstrapBlazor.Shared/Demos/InputNumbers/InputNumbersValidateForm.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/InputNumbers.razor
  src/BootstrapBlazor.Shared/Samples/InputNumbers.razor.cs
  src/BootstrapBlazor.Shared/Samples/InputNumbers.razor.css
Labels: documentation

#520 doc: update the Inputs demos
  src/BootstrapBlazor.Shared/Demos/Inputs/InputsColor.razor
  src/BootstrapBlazor.Shared/Demos/Inputs/InputsDisabled.razor
  src/BootstrapBlazor.Shared/Demos/Inputs/InputsFormatString.razor
  src/BootstrapBlazor.Shared/Demos/Inputs/InputsGeneric.razor
  src/BootstrapBlazor.Shared/Demos/Inputs/InputsKeyboard.razor
  src/BootstrapBlazor.Shared/Demos/Inputs/InputsLabels.razor
  src/BootstrapBlazor.Shared/Demos/Inputs/InputsNormal.razor
  src/BootstrapBlazor.Shared/Demos/Inputs/InputsPassword.razor
  src/BootstrapBlazor.Shared/Demos/Inputs/InputsPassword2.razor
  src/BootstrapBlazor.Shared/Demos/Inputs/InputsPlaceholder.razor
  src/BootstrapBlazor.Shared/Demos/Inputs/InputsTrim.razor
  src/BootstrapBlazor.Shared/Demos/Inputs/InputsValidateForm.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Inputs.razor
  src/BootstrapBlazor.Shared/Samples/Inputs.razor.cs
Labels: documentation

#518 doc: update InputGroups demos
  src/BootstrapBlazor.Shared/Demos/InputGroups/InputGroupsMultiple.razor
  src/BootstrapBlazor.Shared/Demos/InputGroups/InputGroupsNormal.razor
  src/BootstrapBlazor.Shared/Demos/InputGroups/InputGroupsSelect.razor
  src/BootstrapBlazor.Shared/Demos/InputGroups/InputGroupsValidateForm.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/InputGroups.razor
  src/BootstrapBlazor.Shared/Samples/InputGroups.razor.cs
Labels: documentation

#523 doc: update the Labels demos
  src/BootstrapBlazor.Shared/Demos/Labels/LabelsEditorForm.razor
  src/BootstrapBlazor.Shared/Demos/Labels/LabelsNormal.razor
  src/BootstrapBlazor.Shared/Demos/Labels/LabelsValidateForm1.razor
  src/BootstrapBlazor.Shared/Demos/Labels/LabelsValidateForm2.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Labels.razor
  src/BootstrapBlazor.Shared/Samples/Labels.razor.cs
Labels: documentation

#524 doc: update Install_wasm document
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Pages/Install_wasm.razor
Labels: documentation

#526 test: update Timer component improve test code coverage
  src/BootstrapBlazor/Components/IPLocator/DefaultIPLocator.cs
  src/BootstrapBlazor/Components/IPLocator/IIPLocator.cs
  src/BootstrapBlazor/Components/Timer/Timer.razor.cs
Labels: test

#528 doc: update the SpeechWave demos
  src/BootstrapBlazor.Shared/Demos/Speechs/SpeechWaveNormal.razor
  src/BootstrapBlazor.Shared/Demos/Speechs/SpeechWaveShow.razor
  src/BootstrapBlazor.Shared/Demos/Speechs/SpeechWaveShowUsedTime.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesEdit/TablesEditInjectDataService.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Speechs/SpeechWaves.razor
  src/BootstrapBlazor.Shared/Samples/Speechs/SpeechWaves.razor.cs
  src/BootstrapBlazor/Components/Speech/SpeechWave.razor.cs
Labels: documentation

#533 doc: update FixedHeader sample code
  src/BootstrapBlazor.Shared/Demos/Table/TablesFixedHeader/TablesFixedHeaderDialog.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesHeader/TablesHeaderNormal.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
Labels: documentation

#535 doc: update the Layouts component demos
  src/BootstrapBlazor.Shared/Demos/Layouts/LayoutsApp.razor
  src/BootstrapBlazor.Shared/Demos/Layouts/LayoutsApp.razor.css
  src/BootstrapBlazor.Shared/Demos/Layouts/LayoutsCustomPercent.razor
  src/BootstrapBlazor.Shared/Demos/Layouts/LayoutsLeftRight.razor
  src/BootstrapBlazor.Shared/Demos/Layouts/LayoutsMiddleLeftRight.razor
  src/BootstrapBlazor.Shared/Demos/Layouts/LayoutsUpAndDown.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Layouts.razor
  src/BootstrapBlazor.Shared/Samples/Layouts.razor.cs
  src/BootstrapBlazor.Shared/Samples/Layouts.razor.css
Labels: documentation

#537 test: add unit test for improve code coverage of ValidateBase
  test/UnitTest/Components/ValidateTest.cs
Labels: test

#539 test: improve Transfer code coverage
  src/BootstrapBlazor/Components/Transfer/Transfer.razor.cs
Labels: test

#541 doc: update the Lights demos
  src/BootstrapBlazor.Shared/Demos/Lights/LightsColor.razor
  src/BootstrapBlazor.Shared/Demos/Lights/LightsFlashing.razor
  src/BootstrapBlazor.Shared/Demos/Lights/LightsNormal.razor
  src/BootstrapBlazor.Shared/Demos/Lights/LightsTooltipText.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Lights.razor
  src/BootstrapBlazor.Shared/Samples/Lights.razor.cs
Labels: documentation

#543 test: add unit test for ValidateForm improve code coverage
  test/UnitTest/Components/ValidateFormTest.cs
Labels: test

#545 test: add unit test of UploadBase improve code coverage
  test/UnitTest/Components/UploadTest.cs
Labels: test

#547 doc: update LinkButtons demos
  src/BootstrapBlazor.Shared/Demos/LinkButtons/LinkButtonsChildContent.razor
  src/BootstrapBlazor.Shared/Demos/LinkButtons/LinkButtonsColor.razor
  src/BootstrapBlazor.Shared/Demos/LinkButtons/LinkButtonsIcon.razor
  src/BootstrapBlazor.Shared/Demos/LinkButtons/LinkButtonsImage.razor
  src/BootstrapBlazor.Shared/Demos/LinkButtons/LinkButtonsIsDisabled.razor
  src/BootstrapBlazor.Shared/Demos/LinkButtons/LinkButtonsIsVertical.razor
  src/BootstrapBlazor.Shared/Demos/LinkButtons/LinkButtonsOnClick.razor
  src/BootstrapBlazor.Shared/Demos/LinkButtons/LinkButtonsText.razor
  src/BootstrapBlazor.Shared/Demos/LinkButtons/LinkButtonsTitle.razor
  src/BootstrapBlazor.Shared/Demos/LinkButtons/LinkButtonsUrl.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/LinkButtons.razor
  src/BootstrapBlazor.Shared/Samples/LinkButtons.razor.cs
Labels: documentation

#551 doc: update Locators demos
  src/BootstrapBlazor.Shared/Demos/Locators/LocatorsNormal.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Locators.razor
  src/BootstrapBlazor.Shared/Samples/Locators.razor.cs
Labels: documentation

#549 doc: update ListView demos
  src/BootstrapBlazor.Shared/Demos/ListViews/ListViewsCollapsable.razor
  src/BootstrapBlazor.Shared/Demos/ListViews/ListViewsGroup.razor
  src/BootstrapBlazor.Shared/Demos/ListViews/ListViewsIsAccordion.razor
  src/BootstrapBlazor.Shared/Demos/ListViews/ListViewsNormal.razor
  src/BootstrapBlazor.Shared/Demos/ListViews/ListViewsPagination.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/ListViews.razor
  src/BootstrapBlazor.Shared/Samples/ListViews.razor.cs
  src/BootstrapBlazor.Shared/Samples/ListViews.razor.css
Labels: documentation

#555 doc: update Markdowns demos
  src/BootstrapBlazor.Shared/Demos/Markdowns/MarkdownsAsync.razor
  src/BootstrapBlazor.Shared/Demos/Markdowns/MarkdownsBrowser.razor
  src/BootstrapBlazor.Shared/Demos/Markdowns/MarkdownsCommonProperty.razor
  src/BootstrapBlazor.Shared/Demos/Markdowns/MarkdownsEnableHighlight.razor
  src/BootstrapBlazor.Shared/Demos/Markdowns/MarkdownsIsDark.razor
  src/BootstrapBlazor.Shared/Demos/Markdowns/MarkdownsIsViewer.razor
  src/BootstrapBlazor.Shared/Demos/Markdowns/MarkdownsNormal.razor
  src/BootstrapBlazor.Shared/Demos/Markdowns/MarkdownsValidate.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Markdowns.razor
  src/BootstrapBlazor.Shared/Samples/Markdowns.razor.cs
Labels: documentation

#554 doc: update Logouts demos
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Logouts.razor
  src/BootstrapBlazor.Shared/Samples/Logouts.razor.cs
Labels: documentation

#559 test: add unit test for ExpandableNodeCache
  test/UnitTest/Components/TreeViewTest.cs
  test/UnitTest/Misc/TreeNodeCacheTest.cs
Labels: test

#557 doc: update Menus demos
  src/BootstrapBlazor.Shared/Demos/Menus/MenusAccordion.razor
  src/BootstrapBlazor.Shared/Demos/Menus/MenusBottomBar.razor
  src/BootstrapBlazor.Shared/Demos/Menus/MenusClickShrink.razor
  src/BootstrapBlazor.Shared/Demos/Menus/MenusClickShrink.razor.css
  src/BootstrapBlazor.Shared/Demos/Menus/MenusCustomNode.razor
  src/BootstrapBlazor.Shared/Demos/Menus/MenusDynamic.razor
  src/BootstrapBlazor.Shared/Demos/Menus/MenusIconLeft.razor
  src/BootstrapBlazor.Shared/Demos/Menus/MenusIconTop.razor
  src/BootstrapBlazor.Shared/Demos/Menus/MenusLeftRightLayout.razor
  src/BootstrapBlazor.Shared/Demos/Menus/MenusPartDisable.razor
  src/BootstrapBlazor.Shared/Demos/Menus/MenusTopBar.razor
  src/BootstrapBlazor.Shared/Demos/Menus/MenusWiget.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Menus.razor
  src/BootstrapBlazor.Shared/Samples/Menus.razor.cs
Labels: documentation

#564 doc: update FileViewers demos #563
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/FileViewers.razor
Labels: documentation

#568 feat: add OnCloseAsync/OnConfirmAsync callback on SwalAlert component
  src/BootstrapBlazor.Shared/Samples/SweetAlerts.razor
  src/BootstrapBlazor.Shared/Samples/SweetAlerts.razor.cs
  src/BootstrapBlazor/Components/Dialog/Dialog.razor
  src/BootstrapBlazor/Components/Dialog/Dialog.razor.cs
  src/BootstrapBlazor/Components/SweetAlert/SwalOption.cs
  src/BootstrapBlazor/Components/SweetAlert/SwalService.cs
  src/BootstrapBlazor/Components/SweetAlert/SweetAlert.razor.cs
  src/BootstrapBlazor/Components/SweetAlert/SweetAlertBody.razor.cs
  src/BootstrapBlazor/Extensions/SwalExtensions.cs
  src/BootstrapBlazor/wwwroot/modules/modal.js
  test/UnitTest/Components/SwalTest.cs
Labels: enhancement

#566 doc: update Messages demos
  src/BootstrapBlazor.Shared/Demos/Messages/MessagesCloseButton.razor
  src/BootstrapBlazor.Shared/Demos/Messages/MessagesDifferentColor.razor
  src/BootstrapBlazor.Shared/Demos/Messages/MessagesIcon.razor
  src/BootstrapBlazor.Shared/Demos/Messages/MessagesLeftBoard.razor
  src/BootstrapBlazor.Shared/Demos/Messages/MessagesNormal.razor
  src/BootstrapBlazor.Shared/Demos/Messages/MessagesPosition.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Messages.razor
  src/BootstrapBlazor.Shared/Samples/Messages.razor.cs
Labels: documentation

#570 doc: update Modals demos
  src/BootstrapBlazor.Shared/Demos/Modals/ModalsCenterVertically.razor
  src/BootstrapBlazor.Shared/Demos/Modals/ModalsDialogSize.razor
  src/BootstrapBlazor.Shared/Demos/Modals/ModalsFullScreenSize.razor
  src/BootstrapBlazor.Shared/Demos/Modals/ModalsIsBackdrop.razor
  src/BootstrapBlazor.Shared/Demos/Modals/ModalsIsDraggable.razor
  src/BootstrapBlazor.Shared/Demos/Modals/ModalsLongContent.razor
  src/BootstrapBlazor.Shared/Demos/Modals/ModalsMaximize.razor
  src/BootstrapBlazor.Shared/Demos/Modals/ModalsNormal.razor
  src/BootstrapBlazor.Shared/Demos/Modals/ModalsShownCallbackAsync.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Modals.razor
  src/BootstrapBlazor.Shared/Samples/Modals.razor.cs
Labels: documentation

#573 test: add unit test for Switch
  test/UnitTest/Components/SwitchTest.cs
Labels: test

#575 refactor: refine EditDialog reuse DialogCloseButton
  src/BootstrapBlazor/Components/Dialog/EditDialog.razor.cs
  src/BootstrapBlazor/Extensions/DialogServiceExtensions.cs
Labels: enhancement

#579 doc: update Table document
  src/BootstrapBlazor.Shared/Demos/Table/TablesEdit/TablesEditDataService.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesEdit/TablesEditFooterTemplate.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesEdit/TablesEditInjectDataService.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesEdit/TablesEditMode.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesEdit/TablesEditOnAddAsync.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesEdit/TablesEditShowSearch.razor
  src/BootstrapBlazor.Shared/Demos/Table/TablesEdit/TablesEditTemplate.razor
Labels: documentation

#581 feat: add CloseDialogAsync method on DialogOption
  src/BootstrapBlazor.Shared/Demos/Dialog/DialogCloseDialogByCode.razor
  src/BootstrapBlazor.Shared/Demos/Dialog/DialogDisableHeaderCloseButton.razor
  src/BootstrapBlazor/Components/Dialog/DialogOption.cs
  src/BootstrapBlazor/Components/Dialog/EditDialogOption.cs
  src/BootstrapBlazor/Components/Validate/ValidateBase.cs
  src/BootstrapBlazor/Extensions/DialogServiceExtensions.cs
Labels: enhancement

#577 feat: Table component support Edit/Delete when use Items as datasource
  src/BootstrapBlazor.Shared/Demos/Table/TablesEdit/TablesEditItems.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Table/TablesEdit.razor
  src/BootstrapBlazor/Components/Dialog/Dialog.razor.cs
  src/BootstrapBlazor/Components/Dialog/DialogOption.cs
  src/BootstrapBlazor/Components/Table/Table.razor.Toolbar.cs
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Extensions/DialogServiceExtensions.cs
  src/BootstrapBlazor/Services/CacheManager.cs
  src/BootstrapBlazor/Utils/Utility.cs
  test/UnitTest/Components/TableDialogTest.cs
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#583 feat: add ToolbarTemplate on Table component
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/Components/Table/Table.razor.Toolbar.cs
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#585 doc: update Table sample code
  src/BootstrapBlazor.Shared/Samples/Table/TablesEdit.razor
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.css
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
Labels: documentation

#589 doc: update nav demos
  src/BootstrapBlazor.Shared/Demos/Navs/NavsAlign.razor
  src/BootstrapBlazor.Shared/Demos/Navs/NavsFillAndAlign.razor
  src/BootstrapBlazor.Shared/Demos/Navs/NavsNormal.razor
  src/BootstrapBlazor.Shared/Demos/Navs/NavsPills.razor
  src/BootstrapBlazor.Shared/Demos/Navs/NavsVertical.razor
  src/BootstrapBlazor.Shared/Demos/Navs/NavsWide.razor
  src/BootstrapBlazor.Shared/Locales/en.json
  src/BootstrapBlazor.Shared/Locales/zh.json
  src/BootstrapBlazor.Shared/Samples/Navs.razor
  src/BootstrapBlazor.Shared/Samples/Navs.razor.cs
Labels: documentation
