Repository dotnetcore/BootstrapBlazor, pull requests merged in 2024-01, with the labels that each got.

#2706 doc(Footer): update footer/header text localization
  src/BootstrapBlazor.Server/Components/Components/Header.razor
  src/BootstrapBlazor.Server/Components/Components/Header.razor.cs
  src/BootstrapBlazor.Server/Components/Components/ThemeMode.razor
  src/BootstrapBlazor.Server/Components/Layout/HomeLayout.razor
  src/BootstrapBlazor.Server/Locales/en.json
  src/BootstrapBlazor.Server/Locales/zh.json
  src/BootstrapBlazor.Server/wwwroot/images/12377@2x.png
Labels: documentation

#2709 chore(Package): update Task/Logging version to 8.0
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Services/ClearUploadFilesService.cs
  src/BootstrapBlazor.Server/appsettings.Development.json
  src/BootstrapBlazor.Server/appsettings.json
Labels: chore

#2710 feat(Localization): import localization logic auto load entry assembly
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Extensions/LocalizationOptionsExtensions.cs
Labels: chore

#2712 feat(Link): add Link component
  src/BootstrapBlazor.Server/Components/App.razor
  src/BootstrapBlazor/Components/HtmlTag/Link.razor
  src/BootstrapBlazor/Components/HtmlTag/Link.razor.cs
  test/UnitTest/Components/LinkTest.cs
Labels: enhancement

#2714 feat(Script): add Script component
  src/BootstrapBlazor.Server/Components/App.razor
  src/BootstrapBlazor/Components/HtmlTag/Script.razor
  src/BootstrapBlazor/Components/HtmlTag/Script.razor.cs
  test/UnitTest/Components/ScriptTest.cs
Labels: enhancement

#2716 doc(PopConfirmButton): update document for PopConfirmButton
  src/BootstrapBlazor.Server/Components/Components/GlobalSearch.razor.cs
  src/BootstrapBlazor.Server/Locales/en.json
  src/BootstrapBlazor.Server/Locales/zh.json
  src/BootstrapBlazor.Server/Services/MenuService.cs
Labels: documentation

#2718 fix(ITableColumn): update check Step value
  src/BootstrapBlazor/Extensions/ITableColumnExtensions.cs
Labels: enhancement

#2720 feat(Toast): update extensions method set Title nullable
  src/BootstrapBlazor.Server/Components/Samples/Toasts.razor
  src/BootstrapBlazor/Components/Toast/ToastService.cs
  src/BootstrapBlazor/Extensions/ToastServiceExtensions.cs
Labels: enhancement

#2722 doc(Web): adjust the gap between elements
  exclusion.dic
  src/BootstrapBlazor.Server/Components/Components/BlazorReconnector.razor
  src/BootstrapBlazor.Server/Components/Components/DemoBlock.razor.css
  src/BootstrapBlazor.Server/Components/Components/InstallContent.razor
  src/BootstrapBlazor.Server/Components/Components/PackageTips.razor
  src/BootstrapBlazor.Server/Components/Components/Pre.razor.css
  src/BootstrapBlazor.Server/Components/Layout/MainLayout.razor.css
  src/BootstrapBlazor.Server/Components/Pages/Breakpoints.razor
  src/BootstrapBlazor.Server/Components/Pages/Install.razor
  src/BootstrapBlazor.Server/Components/Pages/Install_Maui.razor
  src/BootstrapBlazor.Server/Components/Pages/Install_Server.razor
  src/BootstrapBlazor.Server/Components/Pages/Install_wasm.razor
  src/BootstrapBlazor.Server/Components/Pages/Introduction.razor
  src/BootstrapBlazor.Server/Components/Pages/Template.razor
  src/BootstrapBlazor.Server/Components/Samples/Avatars.razor
  src/BootstrapBlazor.Server/Components/Samples/BaiduOcr.razor
  src/BootstrapBlazor.Server/Components/Samples/Clipboards.razor
  src/BootstrapBlazor.Server/Locales/en.json
  src/BootstrapBlazor.Server/Locales/zh.json
  src/BootstrapBlazor.Server/wwwroot/css/site.css
  src/BootstrapBlazor.Server/wwwroot/images/search-extensions.png
Labels: documentation

#2725 doc(MindMaps): update MindMaps sample
  src/BootstrapBlazor.Server/Components/Samples/MindMaps.razor
  src/BootstrapBlazor.Server/Components/Samples/MindMaps.razor.Data.cs
  src/BootstrapBlazor.Server/Components/Samples/MindMaps.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/MindMaps/MindMapsSamples.razor.cs
Labels: documentation

#2728 fix(Textarea): throw exception when js invoke
  src/BootstrapBlazor/Components/Textarea/Textarea.razor.js
Labels: bug

#2730 fix(Table): throw exception when DynamicContext is null
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.Edit.cs
  src/BootstrapBlazor/Components/Table/Table.razor.Toolbar.cs
Labels: bug

#2726 feat(Translator): add Translator component
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Components/Header.razor
  src/BootstrapBlazor.Server/Components/Layout/TutorialsLayout.razor
  src/BootstrapBlazor.Server/Components/Layout/TutorialsLayout.razor.css
  src/BootstrapBlazor.Server/Components/Layout/TutorialsLoginLayout.razor
  src/BootstrapBlazor.Server/Components/Layout/TutorialsLoginLayout.razor.css
  src/BootstrapBlazor.Server/Components/Layout/TutorialsNavMenu.razor
  src/BootstrapBlazor.Server/Components/Layout/TutorialsNavMenu.razor.cs
  src/BootstrapBlazor.Server/Components/Layout/TutorialsNavMenu.razor.css
  src/BootstrapBlazor.Server/Components/Pages/Practice.razor
  src/BootstrapBlazor.Server/Components/Pages/Tutorials.razor
  src/BootstrapBlazor.Server/Components/Pages/Tutorials.razor.css
  src/BootstrapBlazor.Server/Components/Samples/Practices/_Imports.razor
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/Dashboard.razor
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/Dashboard.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/Dashboard.razor.css
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/DashboardData.cs
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/LoginAndRegister/Template6.razor
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/LoginAndRegister/Template6.razor.css
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/LoginAndRegister/Template7.razor
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/LoginAndRegister/Template7.razor.css
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/LoginAndRegister/Template8.razor
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/LoginAndRegister/Template8.razor.css
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/LoginAndRegister/Template9.razor
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/LoginAndRegister/Template9.razor.css
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/Translation/AzureTranslatorServiceExtensions.cs
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/Translation/LanguageDataTable.cs
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/Translation/LanguageWriter.cs
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/Translation/Translator.razor
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/Translation/Translator.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/Translation/Translator.razor.css
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/Waterfall.razor
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/Waterfall.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/Waterfall.razor.css
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/_Imports.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/Services/DashboardService.cs
  src/BootstrapBlazor.Server/appsettings.Development.json
  src/BootstrapBlazor.Server/wwwroot/images/dashboard.png
  src/BootstrapBlazor.Server/wwwroot/images/login.png
  src/BootstrapBlazor.Server/wwwroot/images/practices/logintemplate3background.jpg
  src/BootstrapBlazor.Server/wwwroot/images/practices/logintemplate4background.jpg
  src/BootstrapBlazor.Server/wwwroot/images/waterfall.png
  src/BootstrapBlazor/Extensions/ToastServiceExtensions.cs
Labels: enhancement

#2732 doc(Web): update sample code
  exclusion.dic
  src/BootstrapBlazor.Server/Components/Samples/CountUps.razor
  src/BootstrapBlazor.Server/Components/Samples/Dialogs.razor
  src/BootstrapBlazor.Server/Components/Samples/DockViews/Index.razor
  src/BootstrapBlazor.Server/Components/Samples/Downloads.razor
  src/BootstrapBlazor.Server/Components/Samples/GlobalException.razor
  src/BootstrapBlazor.Server/Components/Samples/Html2Pdfs.razor
  src/BootstrapBlazor.Server/Components/Samples/JSRuntimeExtensions.razor
  src/BootstrapBlazor.Server/Components/Samples/LayoutPages.razor
  src/BootstrapBlazor.Server/Components/Samples/Live2DDisplays.razor
  src/BootstrapBlazor.Server/Components/Samples/Locators.razor
  src/BootstrapBlazor.Server/Components/Samples/Reconnectors.razor
  src/BootstrapBlazor.Server/Components/Samples/Speeches/Index.razor
  src/BootstrapBlazor.Server/Components/Samples/Splittings.razor
  src/BootstrapBlazor.Server/Components/Samples/Steps.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesFilter.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesFixedHeader.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesRow.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesSearch.razor
  src/BootstrapBlazor.Server/Components/Samples/ZipArchives.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
Labels: documentation

#2734 doc(Web): update p element margin-bottom value
  src/BootstrapBlazor.Server/Components/Samples/Editors.razor
  src/BootstrapBlazor.Server/Components/Samples/FloatingLabels.razor
  src/BootstrapBlazor.Server/Components/Samples/ImageCroppers.razor
  src/BootstrapBlazor.Server/Components/Samples/InputNumbers.razor
  src/BootstrapBlazor.Server/Components/Samples/LinkButtons.razor
  src/BootstrapBlazor.Server/Components/Samples/Markdowns.razor
  src/BootstrapBlazor.Server/Components/Samples/Menus.razor
  src/BootstrapBlazor.Server/Components/Samples/Messages.razor
  src/BootstrapBlazor.Server/Components/Samples/MultiSelects.razor
  src/BootstrapBlazor.Server/Components/Samples/OnScreenKeyboards.razor
  src/BootstrapBlazor.Server/Components/Samples/Print.razor
  src/BootstrapBlazor.Server/Components/Samples/PulseButtons.razor
  src/BootstrapBlazor.Server/Components/Samples/Rows.razor
  src/BootstrapBlazor.Server/Components/Samples/Searches.razor
  src/BootstrapBlazor.Server/Components/Samples/Selects.razor
  src/BootstrapBlazor.Server/Components/Samples/Skeletons.razor
  src/BootstrapBlazor.Server/Components/Samples/SlideButtons.razor
  src/BootstrapBlazor.Server/Components/Samples/SweetAlerts.razor
  src/BootstrapBlazor.Server/Components/Samples/SwitchButtons.razor
  src/BootstrapBlazor.Server/Components/Samples/Switches.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/Tables.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesAutoRefresh.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesColumn.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesColumnDrag.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesColumnList.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesColumnTemplate.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesDetailRow.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesDynamicExcel.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesEdit.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesFilter.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesFixedColumn.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesToolbar.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesTracking.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesWrap.razor
  src/BootstrapBlazor.Server/Components/Samples/Toggles.razor
  src/BootstrapBlazor.Server/Components/Samples/Trees.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
Labels: documentation

#2736 doc(TableFooter): add key for update count value
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesFooter.razor
Labels: documentation

#2738 refactor(CacheManager): update Clear function
  src/.config/dotnet-tools.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Services/CacheManager.cs
Labels: enhancement

#2740 chore(JsVesion): bump javascript version tool 1.1.3
  src/.config/dotnet-tools.json
  src/Version.targets
Labels: chore

#2742 refactor(Localizer): remove MissingLocalizerCache use CacheManager
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/EditorForm/EditorForm.razor
  src/BootstrapBlazor/Localization/Json/JsonStringLocalizer.cs
  src/BootstrapBlazor/Localization/Json/JsonStringLocalizerFactory.cs
  src/BootstrapBlazor/Services/CacheManager.cs
Labels: enhancement

#2744 doc(tutorials): update tutorials documentation download link
  src/BootstrapBlazor.Server/Components/Components/BlazorReconnector.razor
  src/BootstrapBlazor.Server/Components/Components/InstallContent.razor
  src/BootstrapBlazor.Server/Components/Layout/TutorialsNavMenu.razor
  src/BootstrapBlazor.Server/Components/Layout/TutorialsNavMenu.razor.cs
  src/BootstrapBlazor.Server/Components/Layout/TutorialsNavMenu.razor.css
  src/BootstrapBlazor.Server/Components/Samples/Reconnectors.razor
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/LoginAndRegister/Template1.razor
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/LoginAndRegister/Template1.razor.css
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/LoginAndRegister/Template2.razor
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/LoginAndRegister/Template3.razor
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/LoginAndRegister/Template3.razor.css
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/LoginAndRegister/Template4.razor
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/LoginAndRegister/Template4.razor.css
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/LoginAndRegister/Template7.razor.css
Labels: documentation

#2746 fix(DefaltDataService): compatible pager/virtual-scroll mode
  src/Extensions/DataServices/BootstrapBlazor.DataAccess.EntityFrameworkCore/BootstrapBlazor.DataAccess.EntityFrameworkCore.csproj
  src/Extensions/DataServices/BootstrapBlazor.DataAccess.EntityFrameworkCore/DefaultDataService.cs
  src/Extensions/DataServices/BootstrapBlazor.DataAccess.EntityFrameworkCore/IQueryableExtensions.cs
  src/Extensions/DataServices/BootstrapBlazor.DataAccess.FreeSql/BootstrapBlazor.DataAccess.FreeSql.csproj
  src/Extensions/DataServices/BootstrapBlazor.DataAccess.FreeSql/DefaultDataService.cs
  src/Extensions/DataServices/BootstrapBlazor.DataAccess.PetaPoco/BootstrapBlazor.DataAccess.PetaPoco.csproj
  src/Extensions/DataServices/BootstrapBlazor.DataAccess.PetaPoco/DefaultDataService.cs
Labels: bug

#2748 refactor(TableFooter): add Key on tfoot
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesFooter.razor
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/Components/Table/TableFooterCell.razor
  src/BootstrapBlazor/Components/Table/TableFooterCell.razor.cs
  src/Extensions/DataServices/BootstrapBlazor.DataAccess.PetaPoco/BootstrapBlazor.DataAccess.PetaPoco.csproj
Labels: enhancement

#2751 doc(Tab): update tab parameter document
  src/BootstrapBlazor.Server/Components/Samples/Tabs.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/Services/DashboardService.cs
  src/BootstrapBlazor/Components/Tab/Tab.razor.cs
Labels: documentation

#2753 doc(Layout): update Layout sample
  src/BootstrapBlazor.Server/Components/Layout/PageLayout.razor.cs
  src/BootstrapBlazor.Server/Components/Layout/PageLayout.razor.css
  src/BootstrapBlazor.Server/wwwroot/css/site.css
Labels: documentation

#2755 fix(Print): update Print compatible net8
  src/BootstrapBlazor.Server/Components/Samples/Print.razor
  src/BootstrapBlazor.Server/Components/Samples/PrintView.razor
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Modal/Modal.razor.scss
  src/BootstrapBlazor/Components/Print/Print.cs
Labels: bug

#2759 doc(Tutorial): Add Drawing Tutorial
  src/BootstrapBlazor.Server/Components/Layout/TutorialsNavMenu.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/DrawingApp.razor
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/DrawingApp.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/DrawingApp.razor.css
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/DrawingApp.razor.js
Labels: documentation

#2761 feat(Table): toolbar compatible ButtonUpload component
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesToolbar.razor
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Upload/UploadBase.razor.scss
Labels: enhancement

#2767 feat(InputNumber): support oninput event
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Input/BootstrapInput.razor
  src/BootstrapBlazor/Components/Input/BootstrapInput.razor.cs
  src/BootstrapBlazor/Components/Input/BootstrapInputEventBase.cs
  src/BootstrapBlazor/Components/InputNumber/BootstrapInputNumber.razor
  src/BootstrapBlazor/Components/InputNumber/BootstrapInputNumberBase.cs
  src/BootstrapBlazor/Components/Slider/Slider.razor
  src/BootstrapBlazor/Components/Slider/Slider.razor.cs
Labels: enhancement

#2763 test(Utility): improve code coverage
  src/BootstrapBlazor/Components/ListView/ListView.razor
  src/BootstrapBlazor/Components/ListView/ListView.razor.cs
  src/BootstrapBlazor/Components/Upload/ButtonUploadBase.cs
  src/BootstrapBlazor/Extensions/LambdaExtensions.cs
  src/BootstrapBlazor/Extensions/ObjectExtensions.cs
  src/BootstrapBlazor/Utils/Utility.cs
Labels: test

#2765 doc(Tutorial): update Drawing tutorial
  src/BootstrapBlazor.Server/Components/Layout/TutorialsNavMenu.razor.cs
  src/BootstrapBlazor.Server/Components/Pages/Tutorials.razor
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/DrawingApp.razor
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/DrawingApp.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/DrawingApp.razor.js
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/Program.cs
  src/BootstrapBlazor.Server/wwwroot/images/tutorials/dashboard.png
  src/BootstrapBlazor.Server/wwwroot/images/tutorials/drawing.png
  src/BootstrapBlazor.Server/wwwroot/images/tutorials/login.png
  src/BootstrapBlazor.Server/wwwroot/images/tutorials/translate.png
  src/BootstrapBlazor.Server/wwwroot/images/tutorials/waterfall.png
Labels: documentation

#2773 fix(IpAddress): missing disabled sass variable
  src/BootstrapBlazor.Server/Components/Samples/Ips.razor
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/IpAddress/IpAddress.razor.scss
Labels: bug

#2777 chore(Toast): revert extensions method modify
  src/BootstrapBlazor.Server/Components/Pages/Coms.razor
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Extensions/ToastServiceExtensions.cs
Labels: chore

#2778 fix(Pagination): compatible wasm mode
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Pagination/Pagination.razor.scss
  src/BootstrapBlazor/Components/Pagination/PaginationItem.razor
Labels: question

#2780 feat(Calendar): add OnValueChanged callback
  .editorconfig
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Calendar/Calendar.razor
  src/BootstrapBlazor/Components/Calendar/Calendar.razor.cs
  src/BootstrapBlazor/Components/Calendar/Calendar.razor.scss
  test/UnitTest/Components/CalendarTest.cs
Labels: enhancement

#2782 feat(Table): support pagination on dynamic context mode
  src/BootstrapBlazor/Components/Table/Table.razor.Toolbar.cs
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#2785 feat(IDynamicContext): add OnFilterCallback method
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.Toolbar.cs
  src/BootstrapBlazor/Dynamic/DynamicObjectContext.cs
  src/BootstrapBlazor/Dynamic/IDynamicObjectContext.cs
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#2787 refactor(Card): update style of HeaderTemplate
  src/BootstrapBlazor.Server/Components/Samples/Cards.razor
  src/BootstrapBlazor/Components/Card/Card.razor.scss
Labels: enhancement

#2789 refactor(Table): update PageIndex logic on dynamic datatable mode
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.Toolbar.cs
Labels: enhancement

#2792 doc(Section): remove margin-top/bottom style
  src/BootstrapBlazor.Server/Components/Samples/Dialogs.razor
  src/BootstrapBlazor.Server/Components/Samples/Displays.razor
  src/BootstrapBlazor.Server/Components/Samples/Html2Pdfs.razor
  src/BootstrapBlazor.Server/Components/Samples/Inputs.razor
  src/BootstrapBlazor.Server/Components/Samples/MultiSelects.razor
  src/BootstrapBlazor.Server/Components/Samples/RibbonTabs.razor
  src/BootstrapBlazor.Server/Components/Samples/Stacks.razor
  src/BootstrapBlazor.Server/Components/Samples/Steps.razor
  src/BootstrapBlazor.Server/Components/Samples/Switches.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesColumnResizing.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesEdit.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesFilter.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesFooter.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesRow.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesVirtualization.razor
  src/BootstrapBlazor.Server/Components/Samples/Tabs.razor
  src/BootstrapBlazor.Server/Components/Samples/Timelines.razor
  src/BootstrapBlazor.Server/Components/Samples/Transfers.razor
  src/BootstrapBlazor.Server/Components/Samples/TreeViews.razor
  src/BootstrapBlazor.Server/Components/Samples/ValidateForms.razor
  src/BootstrapBlazor.Server/wwwroot/css/site.css
  src/BootstrapBlazor/Components/Table/Table.razor.cs
Labels: documentation

#2794 doc(Toast): update Toast sample code
  src/BootstrapBlazor.Server/Components/Samples/Toasts.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
Labels: documentation

#2796 fix(Table): throw exception when click refresh button on browser
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.js
  src/BootstrapBlazor/Utils/JSModule.cs
Labels: bug

#2798 fix(Table): setBodyHeight incorrect when invisible
  src/BootstrapBlazor/Components/Table/Table.razor.js
  src/BootstrapBlazor/wwwroot/modules/utility.js
Labels: bug

#2799 feat(Table): add TableToolbarComponent
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Input/BootstrapInputGroup.razor.scss
  src/BootstrapBlazor/Components/Table/ITableToolbarButton.cs
  src/BootstrapBlazor/Components/Table/IToolbarComponent.cs
  src/BootstrapBlazor/Components/Table/TableToolbar.razor
  src/BootstrapBlazor/Components/Table/TableToolbar.razor.cs
  src/BootstrapBlazor/Components/Table/TableToolbarComponent.cs
  src/BootstrapBlazor/Utils/JSModule.cs
  src/BootstrapBlazor/wwwroot/scss/root.scss
  test/UnitTest/Components/TableTest.cs
  test/UnitTest/Utils/JSModuleTest.cs
Labels: enhancement

#2801 doc(Table): add TableToolbarComponent sample code
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesToolbar.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesToolbar.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/ITableToolbarButton.cs
  src/BootstrapBlazor/Components/Table/IToolbarComponent.cs
  src/BootstrapBlazor/Components/Table/TableToolbar.razor.cs
  src/BootstrapBlazor/Components/Table/TableToolbarComponent.cs
Labels: documentation

#2803 fix(BootstrapInputGroupLabel): required attribute not work
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/ValidateForm/ValidateForm.razor.scss
Labels: bug

#2807 fix(ListGroup): list-group-item background color incorrect
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/ListGroup/ListGroup.razor.scss
Labels: bug

#2809 feat(Utility): add AddLinkBatch/AddScriptBatch method
  exclusion.dic
  src/BootstrapBlazor/Attributes/JSModuleAutoLoaderAttribute.cs
  src/BootstrapBlazor/Components/Select/MultiSelect.razor.cs
  src/BootstrapBlazor/Components/Validate/ValidateBase.cs
  src/BootstrapBlazor/Utils/BootstrapDynamicComponent.cs
  src/BootstrapBlazor/wwwroot/modules/utility.js
Labels: enhancement

#2811 perf(MultiSelect): reduce one rendering and improve performance
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Select/MultiSelect.razor
  src/BootstrapBlazor/Components/Select/MultiSelect.razor.cs
Labels: enhancement

#2813 fix(Localization): set DefaultCultureInfo not work in code
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Extensions/BootstrapBlazorServiceCollectionExtensions.cs
Labels: bug

#2815 fix(Menu): missing color of nav-link
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Menu/Menu.razor.scss
Labels: bug

#2817 fix(Drawer): body missing padding variable
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Drawer/Drawer.razor.scss
Labels: bug

#2819 fix(JSModule): missing JSException
  src/BootstrapBlazor/Utils/JSModule.cs
  test/UnitTest/Utils/JSModuleTest.cs
Labels: bug

#2775 feat(SelectTable): add SelectTable component
  src/BootstrapBlazor.Server/Components/Samples/SelectTables.razor
  src/BootstrapBlazor.Server/Components/Samples/SelectTables.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/SelectTables.razor.css
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/docs.json
  src/BootstrapBlazor/Components/Select/SelectTable.razor
  src/BootstrapBlazor/Components/Select/SelectTable.razor.cs
  src/BootstrapBlazor/Components/Select/SelectTable.razor.js
  src/BootstrapBlazor/Components/Select/SelectTable.razor.scss
  src/BootstrapBlazor/Components/Table/ITable.cs
  src/BootstrapBlazor/Components/Validate/ValidateBase.cs
  src/BootstrapBlazor/wwwroot/modules/base-popover.js
  src/BootstrapBlazor/wwwroot/scss/components.scss
  src/BootstrapBlazor/wwwroot/scss/root.scss
  test/UnitTest/Components/SelectTableTest.cs
  test/UnitTest/Components/SelectTest.cs
Labels: enhancement

#2821 doc(Table): update comments #2820
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Select/MultiSelect.razor.cs
  src/BootstrapBlazor/Components/Select/Select.razor.cs
  src/BootstrapBlazor/Components/Table/Table.razor.Edit.cs
  src/BootstrapBlazor/Components/Table/Table.razor.cs
Labels: documentation

#2823 refactor(SelectTable): add resize observer table width
  src/BootstrapBlazor.Server/Components/Samples/SelectTables.razor
  src/BootstrapBlazor.Server/Components/Samples/SelectTables.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Filters/TableFilter.razor.cs
  src/BootstrapBlazor/Components/Select/SelectTable.razor
  src/BootstrapBlazor/Components/Select/SelectTable.razor.cs
  src/BootstrapBlazor/Components/Select/SelectTable.razor.js
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Components/Transfer/Transfer.razor.cs
  src/BootstrapBlazor/Validators/RequiredValidator.cs
Labels: enhancement

#2825 fix(Table): reset sort by default sort setting when set bind-SelectedRow
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesFilter.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesFilter.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesSelection.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesSelection.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.Edit.cs
  src/BootstrapBlazor/Components/Table/Table.razor.Pagination.cs
  src/BootstrapBlazor/Components/Table/Table.razor.cs
Labels: bug

#2827 feat(SelectTable): add TableMinWidth parameter
  src/BootstrapBlazor.Server/Components/Samples/SelectTables.razor
  src/BootstrapBlazor.Server/Components/Samples/SelectTables.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Select/SelectTable.razor
  src/BootstrapBlazor/Components/Select/SelectTable.razor.cs
  src/BootstrapBlazor/Components/Select/SelectTable.razor.js
  test/UnitTest/Components/SelectTableTest.cs
Labels: enhancement

#2833 feat(Upload): add Max parameter
  src/BootstrapBlazor.Server/Components/Samples/Uploads.razor
  src/BootstrapBlazor/Components/Upload/AvatarUpload.razor
  src/BootstrapBlazor/Components/Upload/CardUpload.razor
  src/BootstrapBlazor/Components/Upload/CardUpload.razor.cs
  src/BootstrapBlazor/Components/Upload/SingleUploadBase.cs
  test/UnitTest/Components/UploadTest.cs
Labels: enhancement

#2831 feat(SelectTable): support Sort/Filter/Search function
  src/BootstrapBlazor.Server/Components/Samples/SelectTables.razor
  src/BootstrapBlazor.Server/Components/Samples/SelectTables.razor.cs
  src/BootstrapBlazor/Components/Rate/Rate.razor.cs
  src/BootstrapBlazor/Components/Select/SelectTable.razor
  src/BootstrapBlazor/Components/Select/SelectTable.razor.cs
  src/BootstrapBlazor/Components/Select/SelectTree.razor.js
  src/BootstrapBlazor/Components/Table/IColumnCollection.cs
  src/BootstrapBlazor/Components/Table/ITable.cs
  src/BootstrapBlazor/Components/Table/TableColumn.cs
  src/BootstrapBlazor/Extensions/DialogServiceExtensions.cs
  test/UnitTest/Components/SelectTableTest.cs
Labels: enhancement

#2836 bug(Card): arrow does not rotate on the header
  src/BootstrapBlazor/Components/Card/Card.razor.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrap.blazor.scss
Labels: bug

#2838 feat(SelectTable): support Search function
  src/BootstrapBlazor.Server/Components/Samples/SelectTables.razor
  src/BootstrapBlazor.Server/Components/Samples/SelectTables.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/Select/SelectTable.razor
  src/BootstrapBlazor/Components/Select/SelectTable.razor.cs
  src/BootstrapBlazor/Components/Select/SelectTable.razor.js
  src/BootstrapBlazor/Components/Select/SelectTable.razor.scss
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/Components/Table/Table.razor.Pagination.cs
  src/BootstrapBlazor/Components/Table/Table.razor.js
  src/BootstrapBlazor/Components/Table/Table.razor.scss
  src/BootstrapBlazor/wwwroot/scss/root.scss
Labels: enhancement

#2841 fix(DynamicElement): rename Name to TagName
  src/BootstrapBlazor/Components/Button/PopConfirmButton.razor
  src/BootstrapBlazor/Components/Button/PopConfirmButton.razor.cs
Labels: bug

#2844 refactor(BreakPoint): update BreakPoint parse function
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/ResizeNotification/ResizeNotification.cs
  test/UnitTest/Components/ResponsiveTest.cs
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#2846 feat(SlideButton): add ButtonItemTemplate parameter
  src/BootstrapBlazor/Components/Button/SlideButton.razor
  src/BootstrapBlazor/Components/Button/SlideButton.razor.cs
  test/UnitTest/Components/SlideButtonTest.cs
Labels: enhancement

#2848 feat(SlideButton): add HeaderTemplate parameter
  src/BootstrapBlazor/Components/Button/SlideButton.razor
  src/BootstrapBlazor/Components/Button/SlideButton.razor.cs
  test/UnitTest/Components/SlideButtonTest.cs
Labels: enhancement

#2850 test(SelectTable): add unit test improve code coverage
  src/BootstrapBlazor/BootstrapBlazor.csproj
  test/UnitTest/Components/SelectTableTest.cs
Labels: test

#2854 fix(Responsive): add IgnoreCase parameter
  src/BootstrapBlazor.Server/Components/Samples/Table/Tables.razor
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Button/SlideButton.razor.cs
  src/BootstrapBlazor/Components/ResizeNotification/ResizeNotification.cs
Labels: bug

#2829 test(SelectObject): add unit test improve code coverage
  .github/workflows/auto-pull-request-checks.yml
  test/UnitTest/Components/SelectObjectTest.cs
Labels: bug

#2856 feat(Table): dynamic table support filter
  src/BootstrapBlazor.Server/Components/Components/ValueCounter.razor
  src/BootstrapBlazor.Server/Components/Samples/SelectObjects.razor
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.Edit.cs
  src/BootstrapBlazor/Components/Table/Table.razor.Search.cs
  src/BootstrapBlazor/Components/Table/Table.razor.Toolbar.cs
  src/BootstrapBlazor/Dynamic/DynamicObjectContext.cs
  src/BootstrapBlazor/Dynamic/IDynamicObjectContext.cs
  src/BootstrapBlazor/Extensions/QueryPageOptionsExtensions.cs
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#2858 test(TreeView): add unit test improve code coverage
  .github/workflows/build.yml
  .github/workflows/docker.yml
  .github/workflows/pack.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  src/BootstrapBlazor.Server/Components/Samples/TreeViews.razor
  src/BootstrapBlazor.Server/Components/Samples/TreeViews.razor.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/TreeView/TreeView.razor
  src/BootstrapBlazor/Components/TreeView/TreeView.razor.cs
  src/BootstrapBlazor/Components/TreeView/TreeView.razor.scss
  test/UnitTest/Components/TreeViewTest.cs
Labels: test

#2860 feat(BrowserFinger): add IBrowserFingerService
  src/BootstrapBlazor.Server/Components/Pages/Chats.razor
  src/BootstrapBlazor.Server/Components/Pages/Chats.razor.cs
  src/BootstrapBlazor.Server/Components/Pages/Chats.razor.css
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/BrowserFinger/BrowserFinger.razor
  src/BootstrapBlazor/Components/BrowserFinger/BrowserFinger.razor.cs
  src/BootstrapBlazor/Components/BrowserFinger/BrowserFinger.razor.js
  src/BootstrapBlazor/Components/ResizeNotification/Responsive.cs
  src/BootstrapBlazor/Extensions/BootstrapBlazorServiceCollectionExtensions.cs
  src/BootstrapBlazor/Services/DefaultBrowserFingerService.cs
  src/BootstrapBlazor/Services/IBrowserFingerService.cs
  test/UnitTest/Services/BrowserFingerServiceTest.cs
Labels: enhancement

#2862 doc(BrowserFinger): add BrowserFinger service sample code
  src/BootstrapBlazor.Server/Components/Pages/Chats.razor
  src/BootstrapBlazor.Server/Components/Samples/BrowserFingers.razor
  src/BootstrapBlazor.Server/Components/Samples/BrowserFingers.razor.cs
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/docs.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/BaseComponents/BootstrapBlazorRoot.razor
  src/BootstrapBlazor/Components/BrowserFinger/BrowserFinger.razor.cs
  src/BootstrapBlazor/Components/BrowserFinger/BrowserFinger.razor.js
Labels: documentation

#2864 refactor(Topology): bump version 8.0.3
  src/Extensions/Components/BootstrapBlazor.Topology/BootstrapBlazor.Topology.csproj
  src/Extensions/Components/BootstrapBlazor.Topology/Components/Topology/Topology.razor.cs
Labels: enhancement

#2866 refactor(BrowserFinger): support Initialized life cycle
  src/BootstrapBlazor.Server/Components/Samples/BrowserFingers.razor.cs
  src/BootstrapBlazor.Server/docs.json
  src/BootstrapBlazor/Components/BrowserFinger/BrowserFinger.razor.cs
Labels: enhancement

#2872 refactor(SelectTable): update style for SelectTable
  src/BootstrapBlazor/Components/Select/SelectTable.razor.scss
Labels: enhancement

#2873 feat(Toast): add PreventDuplicates option to Toast options
  src/BootstrapBlazor.Server/Components/Samples/Toasts.razor
  src/BootstrapBlazor.Server/Components/Samples/Toasts.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Toast/ToastContainer.razor.cs
  src/BootstrapBlazor/Components/Toast/ToastOption.cs
  test/UnitTest/Components/ToastTest.cs
Labels: enhancement

#2877 doc(Dock): adjust z-index prevent being blocked
  src/BootstrapBlazor.Server/Components/Layout/BaseLayout.razor.css
Labels: documentation

#2875 doc(TreeView): missing localization NotSetOnTreeExpandErrorMessage
  localization/de.json
  localization/es.json
  localization/pt.json
  localization/th-TH.json
  localization/zh-TW.json
  src/BootstrapBlazor/Locales/en.json
  src/BootstrapBlazor/Locales/zh.json
Labels: documentation

#2879 fix(Popover): OnBeforeClick does not take effect
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Button/PopConfirmButton.razor
  src/BootstrapBlazor/Components/Button/PopConfirmButton.razor.cs
  src/BootstrapBlazor/Components/Button/PopConfirmButton.razor.js
  src/BootstrapBlazor/Components/Button/PopConfirmButtonBase.cs
Labels: bug
