Repository dotnetcore/BootstrapBlazor, pull requests merged in 2024-11, with the labels that each got.

#4587 feat(ThemeLoader): remove ThemeLoader component
  src/BootstrapBlazor.Server/Components/App.razor
  src/BootstrapBlazor.Server/Components/Samples/ThemeProviders.razor
  src/BootstrapBlazor/Components/ThemeProvider/ThemeLoader.razor
  src/BootstrapBlazor/wwwroot/modules/theme.js
Labels: enhancement

#4585 feat(net9): support net9.0 framework
  .github/workflows/auto-pull-request-checks.yml
  .github/workflows/build.yml
  .github/workflows/pack.yml
  .github/workflows/publish.yml
  Framework.props
  exclusion.dic
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/App.razor
  src/BootstrapBlazor.Server/Components/Samples/MindMaps.razor
  src/BootstrapBlazor.Server/Components/Samples/MindMaps.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/VideoPlayers.razor
  src/BootstrapBlazor.Server/Directory.Build.props
  src/BootstrapBlazor.Server/Directory.Build.targets
  src/BootstrapBlazor.Server/Program.cs
  src/BootstrapBlazor.Server/versionconfig.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/BaseComponents/BootstrapBlazorRoot.razor
  src/BootstrapBlazor/Components/ErrorLogger/ErrorLogger.cs
  src/BootstrapBlazor/Components/ErrorLogger/IErrorLogger.cs
  src/BootstrapBlazor/Directory.Build.props
  src/BootstrapBlazor/Directory.Build.targets
  src/BootstrapBlazor/versionconfig.json
Labels: enhancement

#4588 fix(AutoComplete): click event also trigger focus event
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.cs
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.js
  test/UnitTest/Components/AutoCompleteTest.cs
Labels: bug

#4589 feat(ModalDialog): support IsCenter when set IsDraggable to true
  src/BootstrapBlazor/Components/Modal/Modal.razor.js
  src/BootstrapBlazor/Components/Modal/Modal.razor.scss
  src/BootstrapBlazor/Components/Modal/ModalDialog.razor.cs
  test/UnitTest/Components/ModalDialogTest.cs
Labels: enhancement

#4592 feat(HandWritten): remove HandWritten component
  src/BootstrapBlazor.Server/Components/Samples/Handwrittens.razor
  src/BootstrapBlazor.Server/Components/Samples/Handwrittens.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/Handwritten/Handwritten.razor.cs
  test/UnitTest/Components/HandwrittenTest.cs
Labels: enhancement

#4596 feat(TableRowContext): add RenderMode parameter
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/Components/Table/TableRowContext.cs
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#4595 fix(WinBox): body should be compatible with dark mode
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
Labels: bug

#4599 feat(Cascader): add OnBlurAsync parameter
  src/BootstrapBlazor/Components/Cascader/Cascader.razor
  src/BootstrapBlazor/Components/Cascader/Cascader.razor.cs
  test/UnitTest/Components/CascaderTest.cs
Labels: enhancement

#4600 fix(Table): missing scroll after toggle CardView mode
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesFixedHeader.razor
  src/BootstrapBlazor/Components/Table/Table.razor.Edit.cs
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Components/Table/Table.razor.js
Labels: bug

#4601 fix(TableColumn): ShownWithBreakPoint not work well with Fixed
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/Components/Table/Table.razor.Sort.cs
  src/BootstrapBlazor/Components/Table/Table.razor.Toolbar.cs
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Extensions/ITableColumnExtensions.cs
  test/UnitTest/Components/TableTest.cs
Labels: bug

#4603 feat(Table): add DisableDelete/EditButtonCallback Parameter
  src/BootstrapBlazor.Server/Dockerfile
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#4606 refactor(Select): refactor the editable mode logic
  src/BootstrapBlazor/Components/Select/Select.razor.cs
Labels: enhancement

#4607 feat(Table): Table add button to add disabled callback
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#4609 feat(Layout): add default style
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Layout/Layout.razor.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrapblazor.scss
Labels: enhancement

#4615 doc(404): add not found middleware
  src/BootstrapBlazor.Server/Program.cs
Labels: documentation

#4613 doc(Tab): update NotAuthorized parameter documentation
  .github/workflows/qodana_code_quality.yml
  qodana.yaml
  src/BootstrapBlazor/Components/Layout/Layout.razor
  src/BootstrapBlazor/Components/Layout/Layout.razor.cs
  src/BootstrapBlazor/Components/Tab/Tab.razor.cs
Labels: enhancement

#4618 bug(Checkbox): render UI when click input
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Checkbox/Checkbox.razor.cs
Labels: bug

#4620 feat(Checkbox): use client click instead of server event
  src/BootstrapBlazor/Components/Checkbox/Checkbox.razor
  src/BootstrapBlazor/Components/Checkbox/Checkbox.razor.cs
  src/BootstrapBlazor/Components/Checkbox/Checkbox.razor.js
  src/BootstrapBlazor/Components/Table/Table.razor
  test/UnitTest/Components/CheckboxListTest.cs
  test/UnitTest/Components/ConsoleTest.cs
  test/UnitTest/Components/TableDialogTest.cs
  test/UnitTest/Components/TableDrawerTest.cs
  test/UnitTest/Components/TableTest.cs
  test/UnitTest/Components/TreeViewTest.cs
Labels: enhancement

#4625 fix(Table): throw exception when click delete button in table row
  src/BootstrapBlazor/Components/Button/PopConfirmButton.razor.js
Labels: bug

#4629 refactor(Checkbox): redesign javascript invoke improve performance
  src/BootstrapBlazor/Components/Checkbox/Checkbox.razor
  src/BootstrapBlazor/Components/Checkbox/Checkbox.razor.cs
  src/BootstrapBlazor/Components/Checkbox/Checkbox.razor.js
  test/UnitTest/Components/CheckboxListTest.cs
  test/UnitTest/Components/TreeViewTest.cs
Labels: enhancement

#4631 chore(Framework): add runtime framework config
  Framework.props
  src/BootstrapBlazor.Server/Components/App.razor
  src/BootstrapBlazor.Server/Components/_Imports.razor
  src/BootstrapBlazor.Server/Extensions/StaticFileResponseContextExtensions.cs
  src/BootstrapBlazor.Server/Program.cs
  src/BootstrapBlazor/Directory.Build.props
  src/BootstrapBlazor/Directory.Build.targets
Labels: chore

#4624 feat(TreeView): support virtualize scroll
  exclusion.dic
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/TreeViews.razor
  src/BootstrapBlazor.Server/Components/Samples/TreeViews.razor.cs
  src/BootstrapBlazor.Server/Data/TreeFoo.cs
  src/BootstrapBlazor/Components/TreeView/TreeView.razor
  src/BootstrapBlazor/Components/TreeView/TreeView.razor.cs
  src/BootstrapBlazor/Components/TreeView/TreeView.razor.js
  src/BootstrapBlazor/Components/TreeView/TreeView.razor.scss
  src/BootstrapBlazor/Components/TreeView/TreeViewItem.cs
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/BootstrapBlazor/Extensions/ExpandableNodeExtensions.cs
  src/BootstrapBlazor/Misc/ExpandableNodeCache.cs
  src/BootstrapBlazor/Misc/IExpandableNode.cs
  src/BootstrapBlazor/Misc/TreeNodeCache.cs
  src/BootstrapBlazor/Options/IconThemeOptions.cs
  test/UnitTest/Components/TreeViewTest.cs
  test/UnitTest/Misc/TreeNodeCacheTest.cs
Labels: enhancement

#4633 feat(Editor): summernote jQuery upgrade to 3.6.0
  src/BootstrapBlazor.Server/Components/App.razor
Labels: enhancement

#4634 fix(AutoFill): support numberpad enter key
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.cs
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.js
  src/BootstrapBlazor/Components/AutoComplete/PopoverCompleteBase.cs
  src/BootstrapBlazor/Components/AutoFill/AutoFill.razor.cs
  test/UnitTest/Components/AutoCompleteTest.cs
Labels: bug

#4636 feat(Layout): add default theme support dark mode
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Layout/Layout.razor.scss
  src/BootstrapBlazor/Directory.Build.props
  src/BootstrapBlazor/wwwroot/scss/bootstrapblazor-dark.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrapblazor.scss
Labels: enhancement

#4638 refactor(Layout): integrate widget styles
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Layout/Layout.razor.scss
Labels: enhancement

#4640 feat(Authorization): redesign service for IAuthorizationPolicyProvider
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Block/Block.cs
  src/BootstrapBlazor/Components/Layout/Layout.razor.cs
  src/BootstrapBlazor/Components/Tab/BootstrapBlazorAuthorizeView.cs
  src/BootstrapBlazor/Directory.Build.props
  src/BootstrapBlazor/Extensions/BootstrapBlazorServiceCollectionExtensions.cs
  src/BootstrapBlazor/Extensions/TypeExtensions.cs
Labels: enhancement

#4642 fix(FullScreenButton): update fullscreen state icon
  src/BootstrapBlazor/wwwroot/modules/fullscreen.js
Labels: bug

#4646 refactor(Checkbox): update the state value callback
  src/BootstrapBlazor.Server/Components/Samples/TreeViews.razor
  src/BootstrapBlazor.Server/Components/Samples/TreeViews.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Checkbox/Checkbox.razor.js
Labels: enhancement

#4649 chore(net9): bump version 9.0
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Directory.Build.props
  test/UnitTest/UnitTest.csproj
Labels: chore

#4651 refactor(Display): make TValue as nullable
  src/BootstrapBlazor/Components/Checkbox/CheckboxList.razor.cs
  src/BootstrapBlazor/Components/DateTimePicker/DateTimePicker.razor.cs
  src/BootstrapBlazor/Components/Display/DisplayBase.cs
  src/BootstrapBlazor/Components/Input/BootstrapInputBase.cs
  src/BootstrapBlazor/Components/InputNumber/BootstrapInputNumber.razor.cs
  src/BootstrapBlazor/Components/Radio/RadioList.razor.cs
  src/BootstrapBlazor/Components/Select/MultiSelect.razor.cs
  src/BootstrapBlazor/Components/Transfer/Transfer.razor.cs
  src/BootstrapBlazor/Components/Validate/ValidateBase.cs
Labels: enhancement

#4656 test(Display): update test for nullable value
  test/UnitTest/Components/DateTimeRangeTest.cs
  test/UnitTest/Components/InputNumberTest.cs
  test/UnitTest/Components/InputTest.cs
  test/UnitTest/Components/SelectTest.cs
  test/UnitTest/Components/SelectTreeTest.cs
  test/UnitTest/Components/TransferTest.cs
  test/UnitTest/Components/ValidateFormTest.cs
Labels: test

#4660 doc(net9): remove 404 redirect middle ware
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/Charts/Line.razor.js
  src/BootstrapBlazor.Server/Program.cs
Labels: chore

#4663 fix(ModalDialog): not shown after close previous window when set IsDraggable and IsCenter to true
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Modal/Modal.razor.js
  src/BootstrapBlazor/Components/Modal/ModalDialog.razor.cs
  src/BootstrapBlazor/Components/Modal/ModalDialog.razor.js
Labels: bug

#4665 fix(Widget): throw exception when dispose
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/DropdownWidget/DropdownWidget.razor.js
Labels: bug

#4667 fix(Checkbox): not trigger OnStateChanged callback when set TValue to bool
  src/BootstrapBlazor/Components/Checkbox/Checkbox.razor.cs
  test/UnitTest/Components/CheckboxListTest.cs
Labels: bug

#4670 doc(Install): remove visual studio 2019
  exclusion.dic
  src/BootstrapBlazor.Server/Components/Components/InstallContent.razor
  src/BootstrapBlazor.Server/Components/Samples/LayoutPages.razor
  src/BootstrapBlazor/readme.md
Labels: documentation

#4672 feat(Menu): redesign collapse logic
  src/BootstrapBlazor/Components/Menu/Menu.razor.cs
  src/BootstrapBlazor/Components/Menu/Menu.razor.scss
  src/BootstrapBlazor/Components/Menu/MenuLink.razor
  src/BootstrapBlazor/Components/Menu/TopMenu.razor
  test/UnitTest/Components/MenuTest.cs
Labels: enhancement

#4676 refactor(ModalDialog): update javascript check modal first shown
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Modal/ModalDialog.razor.js
Labels: enhancement

#4681 doc(VisualStudio): remove version of IDE
  src/BootstrapBlazor.Server/Components/Components/InstallContent.razor
  src/BootstrapBlazor.Server/Components/Pages/Install_Maui.razor
  src/BootstrapBlazor.Server/Components/Pages/Template.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
Labels: documentation

#4668 feat(Layout): add IsFixedTabHeader parameter
  src/BootstrapBlazor.Server/Components/Layout/PageLayout.razor
  src/BootstrapBlazor.Server/Components/Layout/PageLayout.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/LayoutPages.razor
  src/BootstrapBlazor.Server/Components/Samples/LayoutPages.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Layouts.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/wwwroot/css/site.css
  src/BootstrapBlazor/Components/Layout/Layout.razor.cs
  src/BootstrapBlazor/Components/Layout/Layout.razor.scss
  test/UnitTest/Components/LayoutTest.cs
Labels: enhancement

#4684 doc(Layout): update sample
  src/BootstrapBlazor.Server/Components/Samples/Layouts.razor
  src/BootstrapBlazor.Server/Components/Samples/Layouts.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Layouts.razor.css
  src/BootstrapBlazor.Server/Data/Menus.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
Labels: documentation

#4686 refactor(Layout): adjust z-index value for Modal
  src/BootstrapBlazor.Server/Components/Layout/PageLayout.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Menus.razor
  src/BootstrapBlazor.Server/Components/Samples/Menus.razor.css
  src/BootstrapBlazor.Server/wwwroot/css/site.css
  src/BootstrapBlazor/Components/Layout/Layout.razor.cs
  src/BootstrapBlazor/Components/Layout/Layout.razor.scss
  test/UnitTest/Components/LayoutTest.cs
Labels: enhancement

#4677 perf(TreeView): improve cache for TreeViewNode
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Components/TreeView/TreeView.razor.cs
  src/BootstrapBlazor/Misc/ExpandableNodeCache.cs
  src/BootstrapBlazor/Misc/ModelComparer.cs
  src/BootstrapBlazor/Misc/ModelHashSetComparer.cs
  src/BootstrapBlazor/Misc/TreeNodeCache.cs
  test/UnitTest/Components/TreeViewTest.cs
  test/UnitTest/Misc/ModelEqualityComparerTest.cs
  test/UnitTest/Misc/TreeNodeCacheTest.cs
  test/UnitTest/Utils/HashSetComparerTest.cs
  test/UnitTest/Utils/ModelComparerTest.cs
Labels: enhancement

#4692 fix(Select): padding incorrect when validating success
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Select/Select.razor.scss
Labels: bug

#4696 refactor(TreeView): redesign TreeView dom structure
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Checkbox/Checkbox.razor.js
  src/BootstrapBlazor/Components/TreeView/TreeView.razor
  src/BootstrapBlazor/Components/TreeView/TreeView.razor.cs
  src/BootstrapBlazor/Components/TreeView/TreeView.razor.scss
  src/BootstrapBlazor/Misc/ExpandableNodeCache.cs
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrapblazor.scss
  test/UnitTest/Components/SelectTreeTest.cs
  test/UnitTest/Components/TreeViewTest.cs
Labels: enhancement

#4697 fix(Editor): bump version 9.0.1
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
Labels: enhancement

#4699 feat(WinBox): add background color variable
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Components/CustomWinBoxContent.razor
  src/BootstrapBlazor/Directory.Build.props
Labels: enhancement

#4701 chore(TargetFrameworks): revert multiple frameworks on debug mode
  src/BootstrapBlazor/Directory.Build.props
Labels: chore

#4705 chore(Target): add version props
  Framework.props
  Version.props
  src/BootstrapBlazor/Directory.Build.targets
Labels: chore

#4703 refactor(TreeView): support hover/active background color
  src/BootstrapBlazor/Components/TreeView/TreeView.razor
  src/BootstrapBlazor/Components/TreeView/TreeView.razor.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrapblazor.scss
  test/UnitTest/Components/TreeViewTest.cs
Labels: enhancement

#4707 feat(MeiliSearch): add MeiliSearch component
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Components/GlobalSearch.razor
  src/BootstrapBlazor.Server/Components/Components/GlobalSearch.razor.cs
  src/BootstrapBlazor.Server/Components/Components/GlobalSearch.razor.css
  src/BootstrapBlazor.Server/Components/Components/GlobalSearch.razor.js
  src/BootstrapBlazor.Server/Components/Components/Header.razor.css
  src/BootstrapBlazor.Server/Extensions/ServicesExtensions.cs
  src/BootstrapBlazor.Server/wwwroot/lib/meilisearch/meilisearch.umd.min.js
Labels: enhancement

#4709 doc(Readme): add .NET Foundation information
  src/BootstrapBlazor/readme.md
Labels: documentation

#4714 doc(Readme): update readme documentation
  BootstrapBlazor.sln
  README.md
  README.zh-CN.md
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/wwwroot/images/MostValuableProfessionalCertificate20240918.jpg
Labels: documentation

#4716 doc(WinBox): update style variable sample
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/WinBoxes.razor
Labels: documentation

#4719 doc(MeiliSearch): update package for style
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Components/Header.razor.css
  src/BootstrapBlazor.Server/wwwroot/css/site.css
Labels: documentation

#4723 refactor(Checkbox): use server render instead of client render
  src/BootstrapBlazor/Components/Checkbox/Checkbox.razor
  src/BootstrapBlazor/Components/Checkbox/Checkbox.razor.cs
  src/BootstrapBlazor/Components/Checkbox/Checkbox.razor.js
  src/BootstrapBlazor/Components/TreeView/TreeView.razor.cs
  src/BootstrapBlazor/Extensions/ExpandableNodeExtensions.cs
  test/UnitTest/Components/CheckboxListTest.cs
  test/UnitTest/Components/ConsoleTest.cs
  test/UnitTest/Components/TableDialogTest.cs
  test/UnitTest/Components/TableDrawerTest.cs
  test/UnitTest/Components/TableTest.cs
  test/UnitTest/Components/TreeViewTest.cs
  test/UnitTest/Misc/TreeNodeCacheTest.cs
Labels: enhancement

#4725 feat(TreeView): update javascript of TreeView
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/TreeView/TreeView.razor.js
Labels: enhancement

#4726 feat(Sort): Sort extension method support IDynamicObject
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Extensions/LambdaExtensions.cs
  test/UnitTest/Extensions/LambadaExtensionsTest.cs
Labels: enhancement

#4728 refactor(TreeView): improve TreeView script
  src/BootstrapBlazor/Components/TreeView/TreeView.razor.cs
  src/BootstrapBlazor/Components/TreeView/TreeView.razor.js
  test/UnitTest/Components/TreeViewTest.cs
Labels: enhancement

#4731 feat(Layout): update style for IsFixedTabHeader
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Layout/Layout.razor.scss
Labels: enhancement

#4733 doc(Footer): update footer style
  src/BootstrapBlazor.Server/Components/Layout/HomeLayout.razor
  src/BootstrapBlazor.Server/Components/Layout/HomeLayout.razor.css
  src/BootstrapBlazor.Server/Components/Pages/Index.razor
  src/BootstrapBlazor.Server/Components/Pages/Index.razor.css
  src/BootstrapBlazor.Server/Extensions/IpExtensions.cs
Labels: documentation

#4735 doc(PopConfirmButton): add hover focus sample documentation
  src/BootstrapBlazor.Server/Components/Samples/PopoverConfirms.razor
  src/BootstrapBlazor.Server/Components/Samples/PopoverConfirms.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/Button/PopConfirmButtonBase.cs
Labels: enhancement

#4737 feat(TreeView): use Task instead of ValueTask
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/TreeView/TreeView.razor.cs
Labels: enhancement

#4740 perf(Table): improve performance for select all on header
  src/BootstrapBlazor/Components/Table/Table.razor.Checkbox.cs
Labels: enhancement

#4742 doc(GlobalSearch): add key word highlight
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/wwwroot/css/site.css
Labels: documentation

#4748 doc(Dialog): add docment for ShowModal dialog service
  src/BootstrapBlazor.Server/Components/Samples/DialogServices.razor
  test/UnitTest/Components/DateTimePickerTest.cs
Labels: documentation

#4750 fix(Table): ItemChangedType doesn't pass correct value to EditTemplate on Drawer mode
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Dialog/EditDialog.razor
Labels: bug

#4752 feat(Layout): add flex shrink for layout side
  src/BootstrapBlazor/Components/Layout/Layout.razor.scss
Labels: enhancement

#4756 doc(SortableList): update parameter document
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/Charts/Bar.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/SortableLists.razor
  src/BootstrapBlazor.Server/Components/Samples/SortableLists.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
Labels: enhancement

#4759 fix(Layout): update width style for layout
  src/BootstrapBlazor.Server/Components/Samples/Layouts.razor.css
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Layout/Layout.razor.scss
Labels: enhancement

#4763 feat(Collapse): add HeaderTemplate parameter
  src/BootstrapBlazor.Server/Components/App.razor
  src/BootstrapBlazor.Server/Extensions/StaticFileResponseContextExtensions.cs
  src/BootstrapBlazor.Shared/Components/Samples/Collapses.razor
  src/BootstrapBlazor.Shared/Components/Samples/Collapses.razor.cs
  src/BootstrapBlazor.Shared/Locales/en-US.json
  src/BootstrapBlazor.Shared/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Collapse/Collapse.razor
  src/BootstrapBlazor/Components/Collapse/Collapse.razor.cs
  src/BootstrapBlazor/Components/Collapse/Collapse.razor.scss
  src/BootstrapBlazor/Components/Collapse/CollapseItem.cs
  test/UnitTest/Components/CollapseTest.cs
Labels: enhancement

#4767 chore(JSModule): update javascript path
  src/BootstrapBlazor.Server/Components/App.razor
  src/BootstrapBlazor.Server/Extensions/StaticFileResponseContextExtensions.cs
  src/BootstrapBlazor.Shared/BootstrapBlazor.Shared.csproj
  src/BootstrapBlazor.Shared/Components/Layout/DockLayout.razor.cs
  src/BootstrapBlazor.Shared/Components/Samples/Charts/Line.razor.cs
  src/BootstrapBlazor.Shared/Components/Samples/Charts/Line.razor.js
  src/BootstrapBlazor.Shared/Components/Samples/Icons/AntDesignIconList.razor.cs
  src/BootstrapBlazor.Shared/Components/Samples/Icons/AntDesignIconList.razor.js
  src/BootstrapBlazor.Shared/Components/Samples/Icons/ElementIconList.razor.cs
  src/BootstrapBlazor.Shared/Components/Samples/Icons/ElementIconList.razor.js
  src/BootstrapBlazor.Shared/Components/Samples/Icons/FAIconList.razor.cs
  src/BootstrapBlazor.Shared/Components/Samples/Icons/FAIconList.razor.js
  src/BootstrapBlazor.Shared/Components/Samples/Icons/IconParkList.razor.cs
  src/BootstrapBlazor.Shared/Components/Samples/Icons/IconParkList.razor.js
  src/BootstrapBlazor.Shared/Components/Samples/Table/TablesSelection.razor.cs
Labels: chore
