Repository dotnetcore/BootstrapBlazor, pull requests merged in 2024-02, with the labels that each got.

#2881 fix(Dispose): catch ObjectDisposed exception
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Utils/JSModule.cs
Labels: bug

#2886 feat(Drawer): update bar style
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Drawer/Drawer.razor.scss
Labels: enhancement

#2888 fix(Table): fix bindResizeColumn throw exception
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.js
  src/BootstrapBlazor/Utils/JSModule.cs
Labels: bug

#2890 feat(RibbonTab): reset ribbon-tab item min-width to 58px
  src/BootstrapBlazor/Utils/JSModule.cs
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrap.blazor.scss
Labels: enhancement

#2892 doc(MindMap): update localizer namespace
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
Labels: documentation

#2894 test(JSModule): add unit test for JSModule
  src/BootstrapBlazor/Utils/JSModule.cs
  test/UnitTest/Utils/JSModuleTest.cs
Labels: documentation

#2896 feat(Formatter): CreateDisplayByFieldType method supports Formatter callback
  src/BootstrapBlazor/Attributes/AutoGenerateColumnAttribute.cs
  src/BootstrapBlazor/Components/Display/Display.razor.cs
  src/BootstrapBlazor/Components/Table/ITableColumn.cs
  src/BootstrapBlazor/Components/Table/InternalTableColumn.cs
  src/BootstrapBlazor/Components/Table/TableColumn.cs
  src/BootstrapBlazor/Components/Upload/SingleUploadBase.cs
  src/BootstrapBlazor/Services/CacheManager.cs
  src/BootstrapBlazor/Utils/Utility.cs
  test/UnitTest/Misc/MockTableColumn.cs
  test/UnitTest/Utils/JSModuleTest.cs
  test/UnitTest/Utils/UtilityTest.cs
Labels: enhancement

#2898 feat(Segmented): update style for segmented item
  src/BootstrapBlazor/Components/Button/PopConfirmButtonBase.cs
  src/BootstrapBlazor/Components/Modal/ModalDialog.razor.cs
  src/BootstrapBlazor/Components/Segmented/Segmented.razor.scss
  src/BootstrapBlazor/Extensions/DialogServiceExtensions.cs
  test/UnitTest/Components/DisplayTest.cs
  test/UnitTest/Components/TableTest.cs
  test/UnitTest/Extensions/ITableColumnExtensionsTest.cs
Labels: enhancement

#2900 chore(action): bump codecov-action vertion to 4
  .github/workflows/auto-pull-request-checks.yml
  .github/workflows/build.yml
Labels: chore

#2902 feat(Message): support OnDismiss event callback
  src/BootstrapBlazor.Server/Components/Samples/Messages.razor.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Message/Message.razor
  src/BootstrapBlazor/Components/Message/Message.razor.cs
  src/BootstrapBlazor/Components/Message/Message.razor.js
  src/BootstrapBlazor/Components/Message/MessageService.cs
  src/BootstrapBlazor/Components/Table/Table.razor.Toolbar.cs
  test/UnitTest/Components/MessageTest.cs
Labels: enhancement

#2904 feat(Message): support ChildContent parameter
  src/BootstrapBlazor.Server/Components/Samples/Messages.razor
  src/BootstrapBlazor.Server/Components/Samples/Messages.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/Message/Message.razor
  src/BootstrapBlazor/Components/Message/Message.razor.scss
  src/BootstrapBlazor/Components/Message/MessageOption.cs
  test/UnitTest/Components/MessageTest.cs
Labels: enhancement

#2906 feat(Toast): add OnCloseAsync parameter on ToastOption
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesToolbar.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Toasts.razor
  src/BootstrapBlazor.Server/Components/Samples/Toasts.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Toast/Toast.razor.cs
  src/BootstrapBlazor/Components/Toast/ToastContainer.razor.cs
  src/BootstrapBlazor/Components/Toast/ToastOption.cs
  test/UnitTest/Components/ToastTest.cs
Labels: enhancement

#2910 bug(ContextMenu): can't close popup window when use in Dialog
  src/BootstrapBlazor.Server/Components/Samples/SvgEditors.razor
  src/BootstrapBlazor.Server/Components/Samples/SvgEditors.razor.cs
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/docs.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/ContextMenu/ContextMenu.razor.js
Labels: bug

#2912 feat(TableCellComponent): add TableCellComponent for table RowButtonTemplate
  src/BootstrapBlazor.Server/Components/Samples/DateTimePickers.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesColumnResizing.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesColumnResizing.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/wwwroot/images/Pop-confirm.svg
  src/BootstrapBlazor/Components/Button/Button.razor.scss
  src/BootstrapBlazor/Components/Display/Display.razor.cs
  src/BootstrapBlazor/Components/Table/ITableCellButton.cs
  src/BootstrapBlazor/Components/Table/ITableCellComponent.cs
  src/BootstrapBlazor/Components/Table/TableCellComponent.cs
  src/BootstrapBlazor/Components/Table/TableCellPopConfirmButton.cs
  src/BootstrapBlazor/Components/Table/TableExtensionButton.razor
  src/BootstrapBlazor/Components/Table/TableExtensionButton.razor.cs
  src/BootstrapBlazor/Components/Upload/ButtonUpload.razor
  src/BootstrapBlazor/Components/Upload/ButtonUpload.razor.cs
  test/UnitTest/Components/TableConfirmTest.cs
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#2914 feat(Table): add DisableExtendEditButton parameter
  src/BootstrapBlazor.Server/Components/Samples/Table/Tables.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/Components/Table/Table.razor.Edit.cs
  src/BootstrapBlazor/Components/Table/Table.razor.Toolbar.cs
  test/UnitTest/Components/TableTest.cs
  test/UnitTest/Components/UploadTest.cs
Labels: enhancement

#2916 doc(Website): add reboot dispatch function
  src/BootstrapBlazor.Server/Components/Layout/BaseLayout.razor.cs
  src/BootstrapBlazor.Server/Controllers/Api/DispatchController.cs
  src/BootstrapBlazor.Server/Controllers/Api/GiteeController.cs
  src/BootstrapBlazor.Server/Data/RebootMessage.cs
Labels: documentation

#2918 feat(Scroll): to cater the new scroll style
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Scroll/Scroll.razor.scss
Labels: enhancement

#2920 feat(Scroll): add ScrollWidth parameter
  src/BootstrapBlazor/Components/Scroll/Scroll.razor.cs
  src/BootstrapBlazor/Components/Scroll/Scroll.razor.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrap.blazor.scss
  test/UnitTest/Components/ScrollTest.cs
Labels: enhancement

#2924 doc(Scroll): update sidebar style
  src/BootstrapBlazor.Server/Components/Layout/NavMenu.razor.css
  src/BootstrapBlazor.Server/wwwroot/css/site.css
Labels: documentation

#2922 feat(Table): variable ScrollWidth parameter
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesFixedHeader.razor
  src/BootstrapBlazor/Components/ResizeNotification/Responsive.cs
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Components/Table/Table.razor.js
  src/BootstrapBlazor/Components/Table/Table.razor.scss
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#2926 fix(Logout): logout text max width not working
  src/BootstrapBlazor/Components/Logout/Logout.razor.scss
Labels: bug

#2929 feat(BootstrapInputGroupLabel): add width parameter
  src/BootstrapBlazor/Components/Input/BootstrapInputGroup.razor.scss
  src/BootstrapBlazor/Components/Input/BootstrapInputGroupLabel.razor
  src/BootstrapBlazor/Components/Input/BootstrapInputGroupLabel.razor.cs
  test/UnitTest/Components/InputTest.cs
Labels: enhancement

#2931 feat(BootstrapInputGroupLabel): add alignment parameter
  src/BootstrapBlazor.Server/Components/Samples/InputGroups.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/Input/BootstrapInputGroupLabel.razor.cs
  test/UnitTest/Components/InputTest.cs
Labels: enhancement

#2934 feat(EditorForm): add LabelWidth parameter
  src/BootstrapBlazor.Server/Components/Samples/EditorForms.razor
  src/BootstrapBlazor.Server/Components/Samples/EditorForms.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/EditorForm/EditorForm.razor
  src/BootstrapBlazor/Components/EditorForm/EditorForm.razor.cs
  test/UnitTest/Components/EditorFormTest.cs
Labels: enhancement

#2936 refactor(TableFilter): using ToFilterFunc to simplify code
  src/BootstrapBlazor.Server/Components/Samples/SelectTables.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesExport.razor.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Transfer/Transfer.razor.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrap.blazor.scss
  test/UnitTest/Components/SelectTableTest.cs
  test/UnitTest/Extensions/QueryPageOptionsExtensionsTest.cs
Labels: enhancement

#2940 feat(Layout): add CollapseBarTemplate parameter
  .gitattributes
  src/BootstrapBlazor/Components/Layout/Layout.razor
  src/BootstrapBlazor/Components/Layout/Layout.razor.cs
  src/BootstrapBlazor/Extensions/ConfigurationExtensions.cs
  test/UnitTest/Components/LayoutTest.cs
Labels: enhancement

#2943 feat(Modal): use hidden event instead of hide event
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Modal/Modal.razor.js
Labels: enhancement

#2945 feat(DateTimePicker): add ShowIcon parameter
  src/BootstrapBlazor.Server/Components/Samples/DateTimePickers.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/DateTimePicker/DateTimePicker.razor
  src/BootstrapBlazor/Components/DateTimePicker/DateTimePicker.razor.cs
  src/BootstrapBlazor/Components/DateTimePicker/DateTimePicker.razor.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrap.blazor.scss
  test/UnitTest/Components/DateTimePickerTest.cs
Labels: enhancement

#2948 feat(Table): redesign search bar
  src/BootstrapBlazor.Server/Components/Samples/Selects.razor
  src/BootstrapBlazor/Components/Input/BootstrapInputGroup.razor.scss
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/Components/Table/Table.razor.scss
Labels: enhancement

#2952 refactor(DateTime): add GetSafeMonthDateTime extension method
  src/BootstrapBlazor/Components/DateTimePicker/DatePickerBody.razor.cs
  src/BootstrapBlazor/Components/InputNumber/BootstrapInputNumber.razor.cs
  src/BootstrapBlazor/Extensions/BootstrapBlazorOptionsExtensions.cs
  src/BootstrapBlazor/Extensions/DateTimeExtensions.cs
  test/UnitTest/Components/DateTimePickerTest.cs
  test/UnitTest/Options/BootstrapBlazorOptionsTest.cs
Labels: enhancement

#2954 doc(Components): add example comments
  exclusion.dic
  src/BootstrapBlazor.Server/Components/Samples/Badges.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Cascaders.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/DialButtons.razor.cs
Labels: documentation

#2957 feat(Slider): update disabled style
  src/BootstrapBlazor.Server/Components/Samples/Sliders.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/Slider/Slider.razor.scss
Labels: enhancement

#2959 feat(GenerateComponent): support custom css class
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Utils/Utility.cs
Labels: enhancement

#2961 fix(Drawer): drawer bar be covered
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Drawer/Drawer.razor.scss
Labels: bug

#2965 feat(Utility): support native html attributes
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Utils/Utility.cs
Labels: enhancement

#2969 refactor(Table): use ScrollWidth variable replace const 6px
  src/BootstrapBlazor/Components/Table/Table.razor.js
  src/BootstrapBlazor/Utils/Utility.cs
Labels: enhancement

#2970 feat(ClockPicker): add ClockPicker component
  src/BootstrapBlazor.Server/Components/Samples/ClockPickers.razor
  src/BootstrapBlazor.Server/Components/Samples/ClockPickers.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/wwwroot/css/site.css
  src/BootstrapBlazor/Components/ClockPicker/ClockPicker.razor
  src/BootstrapBlazor/Components/ClockPicker/ClockPicker.razor.cs
  src/BootstrapBlazor/Components/ClockPicker/ClockPicker.razor.scss
  src/BootstrapBlazor/Components/DateTimePicker/DatePickerBody.razor
  src/BootstrapBlazor/Components/DateTimePicker/DatePickerBody.razor.scss
  src/BootstrapBlazor/Locales/en.json
  src/BootstrapBlazor/Locales/zh.json
  test/UnitTest/Components/ClockPickerTest.cs
Labels: enhancement

#2972 refactor(GetUID): redesign getUID logic
  src/BootstrapBlazor/wwwroot/modules/utility.js
Labels: enhancement

#2974 feat(DateTimeRange): support DateTime mode
  src/BootstrapBlazor.Server/Components/Samples/DateTimePickers.razor
  src/BootstrapBlazor/Components/ClockPicker/ClockPicker.razor
  src/BootstrapBlazor/Components/ClockPicker/ClockPicker.razor.scss
  src/BootstrapBlazor/Components/DateTimePicker/DatePickerBody.razor.cs
  src/BootstrapBlazor/Components/DateTimePicker/DateTimePicker.razor.cs
  src/BootstrapBlazor/Components/DateTimeRange/DateTimeRange.razor.cs
  src/BootstrapBlazor/Components/Table/Table.razor.Toolbar.cs
  src/BootstrapBlazor/Utils/Utility.cs
  test/UnitTest/Components/DateTimePickerTest.cs
  test/UnitTest/Components/DateTimeRangeTest.cs
  test/UnitTest/Components/TimePickerSettingTest.cs
  test/UnitTest/Components/ValidateFormTest.cs
Labels: enhancement

#2978 refactor(DateTimeRange): disable DateTime mode
  src/BootstrapBlazor.Server/Components/Samples/DateTimeRanges.razor
  src/BootstrapBlazor/Components/DateTimePicker/DatePickerBody.razor.cs
  src/BootstrapBlazor/Components/DateTimeRange/DateTimeRange.razor.cs
  test/UnitTest/Components/DateTimeRangeTest.cs
  test/UnitTest/Components/TimePickerSettingTest.cs
Labels: enhancement

#2975 fix(Pagination): incorrect pagination jump
  src/BootstrapBlazor/Components/Pagination/Pagination.razor.cs
Labels: bug

#2980 test(Pagination): add unit test Pagination
  src/BootstrapBlazor/Components/Pagination/Pagination.razor.cs
  test/UnitTest/Components/PaginationTest.cs
Labels: test

#2986 feat(Display): add ShowTooltip parameter
  src/BootstrapBlazor.Server/Components/Samples/Displays.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Display/Display.razor
  src/BootstrapBlazor/Components/Display/Display.razor.cs
  src/BootstrapBlazor/Components/Display/DisplayBase.cs
  src/BootstrapBlazor/Components/Label/BootstrapLabel.razor.cs
  test/UnitTest/Components/DisplayTest.cs
Labels: enhancement

#2938 feat(Table): add IsVisibleWhenAdd/Edit parameter
  src/BootstrapBlazor.Server/Components/Samples/Table/Tables.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesEdit.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Attributes/AutoGenerateBaseAttribute.cs
  src/BootstrapBlazor/Attributes/AutoGenerateClassAttribute.cs
  src/BootstrapBlazor/Attributes/AutoGenerateColumnAttribute.cs
  src/BootstrapBlazor/Components/EditorForm/EditorForm.razor
  src/BootstrapBlazor/Components/EditorForm/EditorForm.razor.cs
  src/BootstrapBlazor/Components/EditorForm/EditorItem.cs
  src/BootstrapBlazor/Components/EditorForm/IEditorItem.cs
  src/BootstrapBlazor/Components/Table/ITableColumn.cs
  src/BootstrapBlazor/Components/Table/InternalTableColumn.cs
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/Components/Table/Table.razor.Toolbar.cs
  src/BootstrapBlazor/Components/Table/Table.razor.scss
  src/BootstrapBlazor/Components/Table/TableColumn.cs
  src/BootstrapBlazor/Extensions/ITableColumnExtensions.cs
  src/BootstrapBlazor/Extensions/ObjectExtensions.cs
  test/UnitTest/Attributes/AutoGenerateClassTest.cs
  test/UnitTest/Components/EditorFormTest.cs
  test/UnitTest/Components/TableTest.cs
  test/UnitTest/Extensions/ITableColumnExtensionsTest.cs
  test/UnitTest/Extensions/ObjectExtensionsTest.cs
  test/UnitTest/Utils/UtilityTest.cs
Labels: enhancement

#2990 chore(Gitee): update Issue template
  .gitee/ISSUE_TEMPLATE/10_bug_report.yml
Labels: chore

#2992 feat(JSModule): add GenerateId method
  src/BootstrapBlazor/Extensions/JSModuleExtensions.cs
  src/BootstrapBlazor/wwwroot/modules/utility.js
  test/UnitTest/Extensions/JSModuleExtensionsTest.cs
Labels: enhancement

#2963 feat(DatePicker): add IsEditable parameter
  src/BootstrapBlazor.Server/Components/Samples/DateTimePickers.razor
  src/BootstrapBlazor.Server/Components/Samples/DateTimePickers.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/DateTimeRanges.razor
  src/BootstrapBlazor.Server/Components/Samples/DateTimeRanges.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/DateTimePicker/DateTimePicker.razor
  src/BootstrapBlazor/Components/DateTimePicker/DateTimePicker.razor.cs
  src/BootstrapBlazor/Components/DateTimeRange/DateTimeRange.razor
  src/BootstrapBlazor/Components/DateTimeRange/DateTimeRange.razor.cs
  src/Extensions/Components/BootstrapBlazor.SummerNote/wwwroot/css/bootstrap.blazor.editor.min.css
  test/UnitTest/Components/DateTimePickerTest.cs
  test/UnitTest/Components/DateTimeRangeTest.cs
Labels: enhancement

#3001 feat(Select): add IsEditable parameter
  src/BootstrapBlazor.Server/Components/Samples/SelectTrees.razor
  src/BootstrapBlazor.Server/Components/Samples/Selects.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Select/ISelect.cs
  src/BootstrapBlazor/Components/Select/Select.razor
  src/BootstrapBlazor/Components/Select/Select.razor.cs
  src/BootstrapBlazor/Components/Select/SelectTree.razor
  src/BootstrapBlazor/Components/Select/SelectTree.razor.cs
  src/BootstrapBlazor/Components/TreeView/TreeView.razor.cs
  test/UnitTest/Components/SelectTest.cs
  test/UnitTest/Components/SelectTreeTest.cs
Labels: enhancement

#3003 feat(Select): add OnInputChangedCallback parameter
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Select/Select.razor.cs
  test/UnitTest/Components/SelectTest.cs
Labels: enhancement

#3005 feat(Console): add IsHtml parameter on ConsoleMessageItem
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesSearch.razor
  src/BootstrapBlazor.Server/Data/TreeDataFoo.cs
  src/BootstrapBlazor/Components/Console/Console.razor
  src/BootstrapBlazor/Components/Console/Console.razor.cs
  src/BootstrapBlazor/Components/Console/ConsoleMessageItem.cs
  src/BootstrapBlazor/Extensions/ConsoleItemMessageExtensions.cs
  src/BootstrapBlazor/Extensions/MenuItemExtensions.cs
  test/UnitTest/Components/ConsoleTest.cs
Labels: enhancement

#3007 feat(Console): add ConsoleMessageCollection class
  src/BootstrapBlazor.Server/Components/Samples/Consoles.razor.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Console/Console.razor.cs
  src/BootstrapBlazor/Components/Console/ConsoleMessageCollection.cs
  test/UnitTest/Components/ConsoleTest.cs
Labels: enhancement

#3011 refactor(Select): update OnInputChangedCallback call before ValueChanged
  src/BootstrapBlazor/Components/Select/Select.razor.cs
Labels: enhancement

#3015 feat(Display): add overflow hidden style
  src/BootstrapBlazor.Server/Components/Samples/Client.razor
  src/BootstrapBlazor/Components/Tooltip/Tooltip.razor.scss
Labels: enhancement

#3018 doc(Table): update document
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/TableAdvancedSortDialog.razor
Labels: documentation
