Repository dotnetcore/BootstrapBlazor, pull requests merged in 2024-03, with the labels that each got.

#3020 fix(InputNumber): input illegal value not cleared
  src/BootstrapBlazor.Server/Components/Samples/InputNumbers.razor
  src/BootstrapBlazor.Server/Components/Samples/InputNumbers.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Input/BootstrapInput.razor.js
  src/BootstrapBlazor/Components/InputNumber/BootstrapInputNumber.razor.cs
  test/UnitTest/Components/InputNumberTest.cs
Labels: bug

#3022 fix(DateTimeRange): start value timespan is not zero
  Directory.Build.props
  src/BootstrapBlazor.Server/Components/Samples/DateTimeRanges.razor.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/DateTimeRange/DateTimeRange.razor.cs
Labels: bug

#3024 chore(Bootstrap): bump bs to 5.3.3
  src/BootstrapBlazor.Server/wwwroot/css/site.css
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Directory.Build.targets
  src/BootstrapBlazor/bundleconfig.json
  src/BootstrapBlazor/wwwroot/core/bootstrap/css/bootstrap.css
  src/BootstrapBlazor/wwwroot/core/bootstrap/css/bootstrap.min.css
  src/BootstrapBlazor/wwwroot/core/bootstrap/js/bootstrap.bundle.js
  src/BootstrapBlazor/wwwroot/core/bootstrap/js/bootstrap.bundle.min.js
  src/BootstrapBlazor/wwwroot/js/bootstrap.blazor.bundle.js
  src/BootstrapBlazor/wwwroot/js/bootstrap.blazor.bundle.min.js
  test/UnitTest/Components/UploadTest.cs
Labels: chore

#3028 bug(Display): parameter Lookup not work
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Display/Display.razor.cs
  src/BootstrapBlazor/Utils/Utility.cs
Labels: bug

#3032 feat(SweetAlert): eliminating latency between call show method twice
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/SweetAlert/SwalOption.cs
  src/BootstrapBlazor/Components/SweetAlert/SweetAlert.razor.cs
  src/BootstrapBlazor/Components/SweetAlert/SweetContext.cs
  src/BootstrapBlazor/Extensions/SwalExtensions.cs
Labels: enhancement

#3034 fix(MultiSelect): can't close popup window when in validate form
  src/BootstrapBlazor.Server/Components/Samples/SweetAlerts.razor
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Select/MultiSelect.razor
  src/BootstrapBlazor/Components/Select/MultiSelect.razor.cs
  src/BootstrapBlazor/Components/Select/MultiSelect.razor.js
Labels: bug

#3036 fix(Table): no scroll on card view
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.scss
Labels: bug

#3040 bug(SelectTable): throw exception when in the table column's edit template
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/EditorForm/EditorForm.razor.cs
  test/UnitTest/Components/SelectTableTest.cs
Labels: bug

#3043 fix(SelectTable): search text wrap inside validate form
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor
Labels: bug

#3045 feat(SelectTable): add CollapsedTopSearch parameter
  src/BootstrapBlazor/Components/Select/SelectTable.razor
  src/BootstrapBlazor/Components/Select/SelectTable.razor.cs
Labels: enhancement

#3047 fix(Table): keep client column width not work when set AutoGenerateColumns to true
  src/BootstrapBlazor/Attributes/AutoGenerateColumnAttribute.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Utils/Utility.cs
  test/UnitTest/Attributes/AutoGenerateClassTest.cs
Labels: bug

#3048 fix(Table): table search case sensitive
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Extensions/LambdaExtensions.cs
  test/UnitTest/Components/SelectTableTest.cs
  test/UnitTest/Components/TableTestEFCore.cs
  test/UnitTest/Core/EFCoreTableTestBase.cs
  test/UnitTest/Core/FooContext.cs
  test/UnitTest/Extensions/QueryPageOptionsExtensionsTest.cs
  test/UnitTest/FooTest.db
  test/UnitTest/UnitTest.csproj
Labels: bug

#365 doc(Theme): add blue theme
  src/BootstrapBlazor.Server/Components/Components/CultureChooser.razor.css
  src/BootstrapBlazor.Server/Components/Components/GlobalSearch.razor.css
  src/BootstrapBlazor.Server/Components/Components/Header.razor
  src/BootstrapBlazor.Server/Components/Components/Header.razor.css
  src/BootstrapBlazor.Server/Components/Components/ThemeChooser.razor.cs
  src/BootstrapBlazor.Server/Components/Components/ThemeChooser.razor.css
  src/BootstrapBlazor.Server/Components/Components/ThemeChooser.razor.js
  src/BootstrapBlazor.Server/Components/Layout/BaseLayout.razor.css
  src/BootstrapBlazor.Server/Components/Layout/NavMenu.razor.css
  src/BootstrapBlazor.Server/Data/ThemeOption.cs
  src/BootstrapBlazor.Server/Data/WebsiteOptions.cs
  src/BootstrapBlazor.Server/Program.cs
  src/BootstrapBlazor.Server/appsettings.json
  src/BootstrapBlazor.Server/wwwroot/css/blue.css
  src/BootstrapBlazor.Server/wwwroot/css/site.css
  src/BootstrapBlazor/Options/BootstrapBlazorOptions.cs
  test/UnitTest/Options/BootstrapBlazorOptionsTest.cs
Labels: documentation

#3051 feat(Upload): add OnAllFileUploaded parameter
  src/BootstrapBlazor/Components/Upload/ButtonUploadBase.cs
  test/UnitTest/Components/UploadTest.cs
Labels: enhancement

#3053 feat(Chart): add ShowDataLabel option
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/Charts/Bar.razor
  src/BootstrapBlazor.Server/Components/Samples/Charts/Bar.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/Extensions/Components/BootstrapBlazor.Chart/BootstrapBlazor.Chart.csproj
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/Chart.razor.js
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/ChartDataLabelPosition.cs
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/ChartDataset.cs
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/ChartOptions.cs
  src/Extensions/Components/BootstrapBlazor.Chart/wwwroot/js/chartjs-plugin-datalabels.js
Labels: enhancement

#3057 revert(Contains): remove StringComparison parameter
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesSearch.razor.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Extensions/LambdaExtensions.cs
  src/BootstrapBlazor/Extensions/QueryPageOptionsExtensions.cs
  test/UnitTest/Components/TableTestEFCore.cs
  test/UnitTest/Extensions/QueryPageOptionsExtensionsTest.cs
Labels: enhancement

#3059 fix(InputNumber): can't input 0.0 when set UseInputEvent to true
  src/BootstrapBlazor/Attributes/TableMetadataForAttribute.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Input/BootstrapInputEventBase.cs
  src/BootstrapBlazor/Components/InputNumber/BootstrapInputNumber.razor
  src/BootstrapBlazor/Components/InputNumber/BootstrapInputNumber.razor.cs
  test/UnitTest/Components/InputNumberTest.cs
Labels: bug

#3061 feat(FlipClock): add FlipClock component
  src/BootstrapBlazor.Server/Components/Samples/FlipClocks.razor
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/docs.json
  src/BootstrapBlazor/Components/Captcha/Captcha.razor.js
  src/BootstrapBlazor/Components/FlipClock/FlipClock.razor
  src/BootstrapBlazor/Components/FlipClock/FlipClock.razor.cs
  src/BootstrapBlazor/Components/FlipClock/FlipClock.razor.js
  src/BootstrapBlazor/Components/FlipClock/FlipClock.razor.scss
  src/BootstrapBlazor/wwwroot/scss/components.scss
  test/UnitTest/Components/FlipClockTest.cs
Labels: enhancement

#3065 refactor(FlipClock): add ViewMode parameter
  src/BootstrapBlazor.Server/Components/Pages/Index.razor
  src/BootstrapBlazor.Server/Components/Pages/Index.razor.cs
  src/BootstrapBlazor.Server/Components/Pages/Index.razor.css
  src/BootstrapBlazor.Server/Components/Samples/FlipClocks.razor
  src/BootstrapBlazor.Server/Components/Samples/FlipClocks.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/FlipClock/FlipClock.razor
  src/BootstrapBlazor/Components/FlipClock/FlipClock.razor.cs
  src/BootstrapBlazor/Components/FlipClock/FlipClock.razor.js
  src/BootstrapBlazor/Components/FlipClock/FlipClock.razor.scss
  src/BootstrapBlazor/Enums/FlipClockViewMode.cs
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrap.blazor.scss
  test/UnitTest/Components/FlipClockTest.cs
Labels: enhancement

#3066 fix(Table): incorrect display of fixed table columns when visible false
  src/BootstrapBlazor.Server/Components/Layout/ComponentLayout.razor.css
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Layout/Layout.razor.scss
  src/BootstrapBlazor/Components/Table/Table.razor.Sort.cs
  test/UnitTest/Components/TableTestEFCore.cs
  test/UnitTest/Services/IpLocatorTest.cs
Labels: bug

#3067 fix(Table): update IsReadonly/Visible logic
  src/BootstrapBlazor/Attributes/AutoGenerateColumnAttribute.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/EditorForm/EditorItem.cs
  src/BootstrapBlazor/Components/EditorForm/IEditorItem.cs
  src/BootstrapBlazor/Components/Table/InternalTableColumn.cs
  src/BootstrapBlazor/Components/Table/TableColumn.cs
  src/BootstrapBlazor/Extensions/ITableColumnExtensions.cs
  src/BootstrapBlazor/Extensions/ObjectExtensions.cs
  test/UnitTest/Attributes/AutoGenerateClassTest.cs
Labels: bug

#3069 feat(DateTimePicker): add ShowLunar parameter
  src/BootstrapBlazor.Server/Components/Samples/DateTimePickers.razor
  src/BootstrapBlazor.Server/Components/Samples/DateTimePickers.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/DateTimePickers.razor.css
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/DateTimePicker/DatePickerBody.razor
  src/BootstrapBlazor/Components/DateTimePicker/DatePickerBody.razor.cs
  src/BootstrapBlazor/Components/DateTimePicker/DatePickerBody.razor.scss
  src/BootstrapBlazor/Components/DateTimePicker/DatePickerCell.razor
  src/BootstrapBlazor/Components/DateTimePicker/DatePickerCell.razor.cs
  src/BootstrapBlazor/Components/DateTimePicker/DateTimePicker.razor
  src/BootstrapBlazor/Components/DateTimePicker/DateTimePicker.razor.cs
  src/BootstrapBlazor/Extensions/DateTimeExtensions.cs
  test/UnitTest/Components/DateTimePickerTest.cs
  test/UnitTest/Extensions/DateTimeExtensionsTest.cs
  test/UnitTest/UnitTest.csproj
Labels: enhancement

#3071 feat(DateTimePicker): add ShowSolarTerm parameter
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/DateTimePicker/DatePickerBody.razor
  src/BootstrapBlazor/Components/DateTimePicker/DatePickerBody.razor.cs
  src/BootstrapBlazor/Components/DateTimePicker/DatePickerCell.razor.cs
  src/BootstrapBlazor/Components/DateTimePicker/DateTimePicker.razor
  src/BootstrapBlazor/Components/DateTimePicker/DateTimePicker.razor.cs
  src/BootstrapBlazor/Extensions/DateTimeExtensions.cs
  test/UnitTest/Components/DateTimePickerTest.cs
  test/UnitTest/Components/LayoutTest.cs
Labels: enhancement

#3073 feat(DateTimePicker): add ShowFestivals parameter
  src/BootstrapBlazor.Server/Components/Samples/DateTimePickers.razor
  src/BootstrapBlazor/Components/DateTimePicker/DatePickerBody.razor
  src/BootstrapBlazor/Components/DateTimePicker/DatePickerBody.razor.cs
  src/BootstrapBlazor/Components/DateTimePicker/DatePickerBody.razor.scss
  src/BootstrapBlazor/Components/DateTimePicker/DatePickerCell.razor.cs
  src/BootstrapBlazor/Components/DateTimePicker/DateTimePicker.razor
  src/BootstrapBlazor/Components/DateTimePicker/DateTimePicker.razor.cs
  src/BootstrapBlazor/Extensions/BootstrapBlazorServiceCollectionExtensions.cs
  src/BootstrapBlazor/Extensions/DateTimeExtensions.cs
  src/BootstrapBlazor/Services/DefaultCalendarFestivals.cs
  src/BootstrapBlazor/Services/ICalendarFestivals.cs
  test/UnitTest/Components/DateTimePickerTest.cs
  test/UnitTest/Extensions/DateTimeExtensionsTest.cs
Labels: enhancement

#3077 feat(Holiday): add BootstrapBlazor.Holiday package
  BootstrapBlazor.sln
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/Extensions/Components/BootstrapBlazor.Holiday/BootstrapBlazor.Holiday.csproj
Labels: enhancement

#3079 doc(ICalendarHoliday): add Holiday interface document
  exclusion.dic
  src/BootstrapBlazor.Server/Components/Samples/DateTimePickers.razor
  src/BootstrapBlazor.Server/Components/Samples/DateTimePickers.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Downloads.razor
  src/BootstrapBlazor.Server/Components/Samples/Holidays.razor
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/wwwroot/css/site.css
  src/BootstrapBlazor/Components/DateTimePicker/DatePickerBody.razor.scss
  src/BootstrapBlazor/Components/DateTimePicker/DateTimePicker.razor.scss
Labels: documentation

#3080 refactor(Table): redesign visible column list for Table
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/ColumnVisibleItem.cs
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/Components/Table/Table.razor.Sort.cs
  src/BootstrapBlazor/Components/Table/Table.razor.Toolbar.cs
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  test/UnitTest/Components/TableTest.cs
Labels: bug

#3082 test(Table): improve code coverage
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor/Components/Table/ColumnVisibleItem.cs
  src/BootstrapBlazor/Components/Table/Table.razor.Sort.cs
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/Extensions/Components/BootstrapBlazor.Holiday/BootstrapBlazor.Holiday.csproj
  test/UnitTest/Components/TableTest.cs
Labels: test

#3084 doc(Reboot): update Reboot notification
  scripts/linux/deploy-blazor.sh
  src/BootstrapBlazor.Server/Components/Components/RebootCountDown.razor
  src/BootstrapBlazor.Server/Components/Components/RebootCountDown.razor.css
  src/BootstrapBlazor.Server/Components/Layout/BaseLayout.razor.cs
  src/BootstrapBlazor.Server/Components/Pages/Index.razor
  src/BootstrapBlazor.Server/Controllers/Api/DispatchController.cs
  src/BootstrapBlazor.Server/Data/RebootMessage.cs
Labels: documentation

#3086 fix(Editor): load zh-CN lang failed when first render
  src/Extensions/Components/BootstrapBlazor.SummerNote/BootstrapBlazor.SummerNote.csproj
  src/Extensions/Components/BootstrapBlazor.SummerNote/Components/Editor/Editor.razor.cs
  src/Extensions/Components/BootstrapBlazor.SummerNote/Components/Editor/Editor.razor.js
Labels: bug

#3088 fix(Menu): active status incorect when route changed
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Menu/Menu.razor.cs
  src/BootstrapBlazor/Components/Menu/Menu.razor.scss
Labels: bug

#3091 feat(TableCellArgs): add ValueTemplate parameter
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/Components/Table/TableCellArgs.cs
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#3093 doc(SlideButton): fixed demo attribute error
  src/BootstrapBlazor.Server/Components/Samples/SlideButtons.razor
Labels: documentation

#3095 feat(IpAddress): add support for handling both keyboard and numpad input for numeric values
  src/BootstrapBlazor/Components/IpAddress/IpAddress.razor.js
Labels: enhancement

#3097 refactor(FlipClock): add more parameter
  src/BootstrapBlazor.Server/Components/Samples/FlipClocks.razor
  src/BootstrapBlazor.Server/Components/Samples/FlipClocks.razor.cs
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/FlipClock/FlipClock.razor
  src/BootstrapBlazor/Components/FlipClock/FlipClock.razor.cs
  test/UnitTest/Components/FlipClockTest.cs
Labels: enhancement

#3099 refactor(OnCellRender): fix value template not work on Table mode
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#3101 refactor(InputNumber): not nullable data unable to be cleared
  src/BootstrapBlazor.Server/Components/Samples/InputNumbers.razor
  src/BootstrapBlazor.Server/Components/Samples/InputNumbers.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/InputNumber/BootstrapInputNumber.razor.cs
  test/UnitTest/Components/InputNumberTest.cs
Labels: enhancement

#3105 fix(MultiSelect): selected value incorrect when use daynamic create
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Select/MultiSelect.razor.cs
Labels: bug

#3103 feat(Table): add IsAccordion parameter
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesDetailRow.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesDetailRow.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#3107 doc(Festival): add ICalendarFestival service document
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/DateTimePickers.razor
  src/BootstrapBlazor.Server/Components/Samples/DateTimePickers.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Festivals.razor
  src/BootstrapBlazor.Server/Components/Samples/Holidays.razor
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/appsettings.json
  src/BootstrapBlazor/Services/DefaultCalendarFestivals.cs
  src/BootstrapBlazor/Services/ICalendarFestivals.cs
  src/BootstrapBlazor/Services/ICalendarHolidays.cs
Labels: documentation

#3110 doc(ILookupService): add lookup documention
  src/BootstrapBlazor.Server/Components/Samples/InputNumbers.razor
  src/BootstrapBlazor.Server/Components/Samples/InputNumbers.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Lookup.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesLookup.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesLookup.razor.cs
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Extensions/ServicesExtensions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/Program.cs
  src/BootstrapBlazor/Services/ILookupService.cs
  test/UnitTest/Performance/AlgorithmTest.cs
Labels: documentation

#3113 doc(DialgService): update dialog service documentation
  src/BootstrapBlazor.Server/Components/Components/Pre.razor
  src/BootstrapBlazor.Server/Components/Samples/DialogServices.razor
  src/BootstrapBlazor.Server/Components/Samples/DialogServices.razor.css
  src/BootstrapBlazor.Server/Components/Samples/Dialogs.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/Dialog/ResultDialogOption.cs
Labels: documentation

#3117 refactor(BrowserFinger): move getFingerCode into utility
  src/BootstrapBlazor/Components/BrowserFinger/BrowserFinger.cs
  src/BootstrapBlazor/Components/BrowserFinger/BrowserFinger.razor
  src/BootstrapBlazor/Components/BrowserFinger/BrowserFinger.razor.js
  src/BootstrapBlazor/wwwroot/modules/utility.js
Labels: enhancement

#3119 refactor(WebClientService): use client info class
  src/BootstrapBlazor/Services/WebClientService.cs
  src/BootstrapBlazor/wwwroot/modules/client.js
  test/UnitTest/Services/WebClientServiceTest.cs
Labels: enhancement

#3115 feat(Gantt): support localization
  src/Extensions/Components/BootstrapBlazor.Gantt/Components/GanttOption.cs
Labels: enhancement

#3121 feat(IConnectionService): add IConnectionService
  src/BootstrapBlazor.Server/Components/Samples/Consoles.razor.cs
  src/BootstrapBlazor/Components/BaseComponents/BootstrapBlazorRoot.razor
  src/BootstrapBlazor/Components/ConnectionHub/CollectionItem.cs
  src/BootstrapBlazor/Components/ConnectionHub/ConnectionHub.cs
  src/BootstrapBlazor/Extensions/BootstrapBlazorServiceCollectionExtensions.cs
  src/BootstrapBlazor/Options/BootstrapBlazorOptions.cs
  src/BootstrapBlazor/Options/CollectionHubOptions.cs
  src/BootstrapBlazor/Services/DefaultConnectionService.cs
  src/BootstrapBlazor/Services/IConnectionService.cs
  src/BootstrapBlazor/wwwroot/modules/hub.js
  test/UnitTest/Components/ConnectionHubTest.cs
  test/UnitTest/Components/CountButtonTest.cs
  test/UnitTest/Components/TimerTest.cs
  test/UnitTest/Services/IpLocatorTest.cs
  test/UnitTest/appsettings.json
Labels: enhancement

#3123 doc(Index): add online user count
  src/BootstrapBlazor.Server/Components/Layout/HomeLayout.razor
  src/BootstrapBlazor.Server/Components/Pages/Index.razor
  src/BootstrapBlazor.Server/Components/Pages/Index.razor.cs
  src/BootstrapBlazor.Server/Components/Pages/Index.razor.css
  src/BootstrapBlazor.Server/Components/Samples/DialogServices.razor
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/wwwroot/modules/hub.js
Labels: documentation

#3125 chore(Gantt): bump version 8.0.1
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/Extensions/Components/BootstrapBlazor.Gantt/BootstrapBlazor.Gantt.csproj
  src/Extensions/Components/BootstrapBlazor.Gantt/Components/GanttItem.cs
  src/Extensions/Components/BootstrapBlazor.Gantt/Components/GanttOption.cs
  src/Extensions/Components/BootstrapBlazor.Gantt/Components/GanttViewMode.cs
Labels: documentation

#3127 refactor(ConnectionHub): add try catch for request failed
  src/BootstrapBlazor.Server/Components/Layout/HomeLayout.razor
  src/BootstrapBlazor.Server/Components/Layout/HomeLayout.razor.css
  src/BootstrapBlazor/Options/CollectionHubOptions.cs
  src/BootstrapBlazor/wwwroot/modules/ajax.js
  src/BootstrapBlazor/wwwroot/modules/hub.js
Labels: enhancement

#3129 doc(Table): add document for edit template
  src/BootstrapBlazor.Server/Components/Samples/DialogServices.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesColumnTemplate.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
Labels: documentation

#3131 refactor(IConnectionService): add await keyword
  src/BootstrapBlazor/Options/BootstrapBlazorOptions.cs
  src/BootstrapBlazor/Options/CollectionHubOptions.cs
  src/BootstrapBlazor/Services/DefaultConnectionService.cs
  test/UnitTest/Components/CountButtonTest.cs
  test/UnitTest/Services/ConnectionHubTest.cs
Labels: enhancement

#3138 refactor(IConnectionService): add Connections parameter
  src/BootstrapBlazor.Server/Components/Components/Header.razor.css
  src/BootstrapBlazor.Server/Components/Layout/HomeLayout.razor
  src/BootstrapBlazor.Server/Components/Layout/HomeLayout.razor.cs
  src/BootstrapBlazor.Server/Components/Pages/Online.razor
  src/BootstrapBlazor.Server/Components/Pages/Online.razor.cs
  src/BootstrapBlazor.Server/appsettings.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/ConnectionHub/ConnectionHub.cs
  src/BootstrapBlazor/Components/ConnectionHub/ConnectionItem.cs
  src/BootstrapBlazor/Options/BootstrapBlazorOptions.cs
  src/BootstrapBlazor/Options/ConnectionHubOptions.cs
  src/BootstrapBlazor/Services/DefaultConnectionService.cs
  src/BootstrapBlazor/Services/IConnectionService.cs
  src/BootstrapBlazor/wwwroot/modules/client.js
  src/BootstrapBlazor/wwwroot/modules/hub.js
  test/UnitTest/Services/ConnectionHubTest.cs
  test/UnitTest/appsettings.json
Labels: enhancement

#3142 refactor(ConnectionHub): add locate ip cache
  src/BootstrapBlazor/Components/ConnectionHub/ConnectionHub.cs
  src/BootstrapBlazor/Services/IPLocator/DefaultIPLocatorProvider.cs
Labels: enhancement

#3145 feat(IpLocatorOptions): add data cache logic
  src/BootstrapBlazor.Server/Components/Layout/HomeLayout.razor.cs
  src/BootstrapBlazor.Server/appsettings.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/ConnectionHub/ConnectionHub.cs
  src/BootstrapBlazor/Options/BootstrapBlazorOptions.cs
  src/BootstrapBlazor/Services/DefaultConnectionService.cs
  src/BootstrapBlazor/Services/IPLocator/BaiduIpLocatorProvider.cs
  src/BootstrapBlazor/Services/IPLocator/BaiduIpLocatorProviderV2.cs
  src/BootstrapBlazor/Services/IPLocator/DefaultIPLocatorProvider.cs
  src/BootstrapBlazor/Services/IPLocator/IpLocatorOptions.cs
  test/UnitTest/Services/ConnectionHubTest.cs
  test/UnitTest/Services/IpLocatorTest.cs
Labels: enhancement

#3150 feat(TreeView): add Search feature
  src/BootstrapBlazor.Server/Components/Samples/TreeViews.razor
  src/BootstrapBlazor.Server/Components/Samples/TreeViews.razor.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/TreeView/TreeView.razor
  src/BootstrapBlazor/Components/TreeView/TreeView.razor.cs
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/BootstrapBlazor/Options/IconThemeOptions.cs
Labels: enhancement

#3148 feat(IThrottleDispatcherFactory): add throttle service
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/ConnectionHub/ConnectionHub.cs
  src/BootstrapBlazor/Extensions/BootstrapBlazorServiceCollectionExtensions.cs
  src/BootstrapBlazor/Options/ConnectionHubOptions.cs
  src/BootstrapBlazor/Options/ThrottleOptions.cs
  src/BootstrapBlazor/Services/DefaultConnectionService.cs
  src/BootstrapBlazor/Services/DefaultThrottleDispatcherFactory.cs
  src/BootstrapBlazor/Services/IThrottleDispatcherFactory.cs
  src/BootstrapBlazor/Services/ThrottleDispatcher.cs
  src/BootstrapBlazor/wwwroot/modules/hub.js
  test/UnitTest/Services/ThrottleTest.cs
Labels: enhancement

#3152 feat(TreeView): add SearchTemplate parameter
  src/BootstrapBlazor.Server/Components/Samples/TreeViews.razor
  src/BootstrapBlazor.Server/Components/Samples/TreeViews.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/TreeView/TreeView.razor
  src/BootstrapBlazor/Components/TreeView/TreeView.razor.cs
  test/UnitTest/Components/TreeViewTest.cs
Labels: enhancement

#3154 refactor(ConnectionService): add TimeoutInterval parameter
  src/BootstrapBlazor.Server/appsettings.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/ConnectionHub/ConnectionHub.cs
  src/BootstrapBlazor/Options/ConnectionHubOptions.cs
  src/BootstrapBlazor/Options/ThrottleOptions.cs
  src/BootstrapBlazor/Services/DefaultConnectionService.cs
  src/BootstrapBlazor/Services/IThrottleDispatcherFactory.cs
  src/BootstrapBlazor/Services/ThrottleDispatcher.cs
  src/BootstrapBlazor/Services/WebClientService.cs
  test/UnitTest/Services/ConnectionHubTest.cs
  test/UnitTest/Services/ThrottleTest.cs
  test/UnitTest/Services/WebClientServiceTest.cs
  test/UnitTest/UnitTest.csproj
Labels: enhancement

#3156 refactor(TreeView): update style for search box
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/TreeView/TreeView.razor
  src/BootstrapBlazor/Components/TreeView/TreeView.razor.scss
Labels: enhancement

#3158 refactor(ConnectionHub): add client throttle
  src/BootstrapBlazor.Server/appsettings.json
  src/BootstrapBlazor/Components/ConnectionHub/ConnectionHub.cs
  src/BootstrapBlazor/wwwroot/modules/client.js
  src/BootstrapBlazor/wwwroot/modules/hub.js
  test/UnitTest/Services/ConnectionHubTest.cs
Labels: enhancement

#3164 feat(Carousel): add OnSlideChanged parameter
  src/BootstrapBlazor/Components/Carousel/Carousel.razor
  src/BootstrapBlazor/Components/Carousel/Carousel.razor.cs
  src/BootstrapBlazor/Components/Carousel/Carousel.razor.js
  test/UnitTest/Components/CarouselTest.cs
Labels: enhancement

#3174 bug(Dialog): not popup when use DispatchService trigger
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Dialog/Dialog.razor.cs
  src/BootstrapBlazor/Components/Message/Message.razor.cs
  src/BootstrapBlazor/Components/SweetAlert/SweetAlert.razor.cs
Labels: bug

#3178 fix(Gannt): error when dragging the progress bar for the second time
  src/Extensions/Components/BootstrapBlazor.Gantt/wwwroot/js/frappe-gantt.min.js
Labels: bug

#3180 refactor(ConnectionHub): fix missing connection id issue
  src/BootstrapBlazor/wwwroot/modules/hub.js
Labels: enhancement

#3182 doc(Online): add online sample
  src/BootstrapBlazor.Server/Components/Pages/Online.razor.cs
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/appsettings.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/wwwroot/modules/hub.js
  test/UnitTest/Components/CalendarTest.cs
  test/UnitTest/Components/DateTimeRangeTest.cs
Labels: documentation

#3184 doc(PrintService): add PrintService documentation
  src/BootstrapBlazor.Server/Components/Samples/PrintServices.razor
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
Labels: documentation
