Repository dotnetcore/BootstrapBlazor, pull requests merged in 2024-04, with the labels that each got.

#3187 fix(CodeEditor): do not show in Dialog on first render
  src/Extensions/Components/BootstrapBlazor.CodeEditor/BootstrapBlazor.CodeEditor.csproj
  src/Extensions/Components/BootstrapBlazor.CodeEditor/Components/CodeEditor/CodeEditor.razor
  src/Extensions/Components/BootstrapBlazor.CodeEditor/Components/CodeEditor/CodeEditor.razor.cs
  src/Extensions/Components/BootstrapBlazor.CodeEditor/Components/CodeEditor/CodeEditor.razor.css
  src/Extensions/Components/BootstrapBlazor.CodeEditor/Components/CodeEditor/CodeEditor.razor.js
Labels: bug

#3190 feat(DateTimeRange): support lunar festival holiday solar tearm feature
  src/BootstrapBlazor.Server/Components/Samples/DateTimeRanges.razor
  src/BootstrapBlazor.Server/Components/Samples/DateTimeRanges.razor.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/DateTimePicker/DatePickerBody.razor.cs
  src/BootstrapBlazor/Components/DateTimePicker/DatePickerBody.razor.scss
  src/BootstrapBlazor/Components/DateTimeRange/DateTimeRange.razor
  src/BootstrapBlazor/Components/DateTimeRange/DateTimeRange.razor.cs
  src/BootstrapBlazor/Components/DateTimeRange/DateTimeRange.razor.scss
  src/BootstrapBlazor/Services/IPLocator/BaiduIpLocatorProviderV2.cs
  test/UnitTest/Services/IpLocatorTest.cs
Labels: enhancement

#3197 doc(NavMenu): update service menu name
  src/BootstrapBlazor.Server/Components/Layout/HomeLayout.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/docs.json
Labels: documentation

#3199 feat(MaterialDesign): add search icon of TreeView
  src/Extensions/Components/BootstrapBlazor.MaterialDesign.Extensions/BootstrapBlazor.MaterialDesign.Extensions.csproj
  src/Extensions/Components/BootstrapBlazor.MaterialDesign.Extensions/DefaultIcon.cs
Labels: enhancement

#3206 fix(ButtonUpload): do not trigger ValueChanged callback
  src/BootstrapBlazor/Components/Upload/ButtonUploadBase.cs
Labels: bug

#3212 doc(Online): add IP mask keep privace
  src/BootstrapBlazor.Server/Components/Pages/Online.razor.cs
Labels: documentation

#3214 feat(table): support Caption of DataTable #3213
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Dynamic/DataTableDynamicContext.cs
Labels: enhancement

#3223 doc(Online): add day information
  src/BootstrapBlazor.Server/Components/Layout/HomeLayout.razor
  src/BootstrapBlazor.Server/Components/Pages/Online.razor.cs
  src/BootstrapBlazor.Server/Extensions/IpExtensions.cs
  test/UnitTest/UnitTest.csproj
  test/UnitTest/Utils/UtilityTest.cs
Labels: documentation

#3225 refactor(FAIcon): use JSModule refactor javascript logic
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/Extensions/Components/BootstrapBlazor.FontAwesome/BootstrapBlazor.FontAwesome.csproj
  src/Extensions/Components/BootstrapBlazor.FontAwesome/Components/FAIconList.razor
  src/Extensions/Components/BootstrapBlazor.FontAwesome/Components/FAIconList.razor.cs
  src/Extensions/Components/BootstrapBlazor.FontAwesome/Components/FAIconList.razor.js
Labels: enhancement

#3227 fix(BootstrapInput): can't set value
  src/BootstrapBlazor.Server/Components/Layout/HomeLayout.razor.css
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/InputNumber/BootstrapInputNumber.razor.cs
Labels: bug

#3228 feat(DateTimePicker): add working day feature
  src/BootstrapBlazor/Components/DateTimePicker/DatePickerBody.razor.scss
  src/BootstrapBlazor/Components/DateTimePicker/DatePickerCell.razor
  src/BootstrapBlazor/Services/DefaultCalendarHolidayss.cs
  src/BootstrapBlazor/Services/ICalendarHolidays.cs
  src/Extensions/Components/BootstrapBlazor.Holiday/Services/DefaultCalendarHolidays.cs
  test/UnitTest/Components/DateTimePickerTest.cs
Labels: enhancement

#3232 QueryParameterValueSupplier cache dictionary changed to thread safe dictionary
  src/BootstrapBlazor/Misc/Internal/QueryParameterValueSupplier.cs
Labels: bug

#3234 feat(TableColumn): support complex model
  src/BootstrapBlazor/Components/Table/TableColumn.cs
  src/BootstrapBlazor/Localization/NullLocalizationResolve.cs
  src/BootstrapBlazor/Utils/Utility.cs
  test/UnitTest/Components/TableTest.cs
Labels: question

#3236 refactor(DateTimePicker): format code for ICalendarHoliday
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Services/DefaultCalendarHolidayss.cs
  src/BootstrapBlazor/Services/ICalendarHolidays.cs
  src/Extensions/Components/BootstrapBlazor.Holiday/BootstrapBlazor.Holiday.csproj
  src/Extensions/Components/BootstrapBlazor.Holiday/Services/DefaultCalendarHolidays.cs
  test/UnitTest/Components/DateTimePickerTest.cs
Labels: enhancement

#3240 feat(DockView): add Version parameter
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/Extensions/Components/BootstrapBlazor.Dock/BootstrapBlazor.Dock.csproj
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockView.razor.cs
Labels: enhancement

#3246 feat(TableExportOptions): add TableExportOptions class for Table export
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Options/BootstrapBlazorOptions.cs
  src/BootstrapBlazor/Options/TableExportOptions.cs
  src/BootstrapBlazor/Options/TableSettings.cs
  src/BootstrapBlazor/Services/DefaultTableExport.cs
  src/BootstrapBlazor/Services/ITableExport.cs
  test/UnitTest/Options/BootstrapBlazorOptionsTest.cs
Labels: enhancement

#3247 feat(TableExport): support TableExportOptions
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/appsettings.json
  src/Extensions/Components/BootstrapBlazor.TableExport/BootstrapBlazor.TableExport.csproj
  src/Extensions/Components/BootstrapBlazor.TableExport/Extensions/ITableColumnExtensions.cs
  src/Extensions/Components/BootstrapBlazor.TableExport/Services/DefaultTableExport.cs
  src/Extensions/Components/BootstrapBlazor.TableExport/Services/ExportDataReader.cs
Labels: enhancement

#3254 doc(Layout): empty text when F5 refresh
  src/BootstrapBlazor.Server/Components/Samples/LayoutDemo.razor
  src/BootstrapBlazor.Server/Extensions/ServicesExtensions.cs
  src/BootstrapBlazor/Components/Tab/Tab.razor.cs
Labels: documentation

#3251 doc(Online): add Online Localizer
  src/BootstrapBlazor.Server/Components/Pages/Online.razor
  src/BootstrapBlazor.Server/Components/Pages/Online.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
Labels: documentation

#3262 doc(Online): fix IP unshielded issue
  src/BootstrapBlazor.Server/Components/Pages/Online.razor.cs
  test/UnitTest/Components/WaterfallTest.cs
Labels: documentation

#3263 refactor(QueryPageOptions): rename IsFristQuery to IsFirstQuery
  .github/workflows/auto-pull-request-checks.yml
  .github/workflows/build.yml
  src/BootstrapBlazor/Components/Table/Table.razor.Edit.cs
  src/BootstrapBlazor/Components/Table/Table.razor.Toolbar.cs
  src/BootstrapBlazor/Options/QueryPageOptions.cs
  test/UnitTest/Components/TableTest.cs
Labels: chore

#3265 feat(JuHeIpLocatorProvider): add JuHeIpLocatorProvider service
  src/BootstrapBlazor.Server/Components/Samples/Locators.razor
  src/BootstrapBlazor.Server/Components/Samples/Locators.razor.cs
  src/BootstrapBlazor.Server/appsettings.json
  src/BootstrapBlazor/Extensions/BootstrapBlazorServiceCollectionExtensions.cs
  src/BootstrapBlazor/Services/IPLocator/DefaultIPLocatorProvider.cs
  src/BootstrapBlazor/Services/IPLocator/JuHeIpLocatorProvider.cs
  test/UnitTest/Services/IpLocatorTest.cs
  test/UnitTest/appsettings.json
Labels: enhancement

#3270 feat(Select): default value filter disabled item
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Select/MultiSelect.razor.cs
  src/BootstrapBlazor/Components/Select/Select.razor.cs
  src/Extensions/Components/BootstrapBlazor.TableExport/BootstrapBlazor.TableExport.csproj
Labels: bug

#3274 refactor(ITableExport): redesign ITableExport compatible with previous versions
  src/BootstrapBlazor/Services/DefaultTableExport.cs
  src/BootstrapBlazor/Services/ITableExport.cs
Labels: enhancement

#3276 feat(TableExport): redesign ExportAsync compatible previous version
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/Extensions/Components/BootstrapBlazor.TableExport/BootstrapBlazor.TableExport.csproj
  src/Extensions/Components/BootstrapBlazor.TableExport/Services/DefaultTableExport.cs
Labels: enhancement

#3279 fix(CacheManager): unable to dynamically load DLL multiple times
  src/BootstrapBlazor/Extensions/TypeExtensions.cs
  src/BootstrapBlazor/Services/CacheManager.cs
Labels: bug

#3282 refactor(TagHelper): add IVersionService implement
  .github/workflows/release.yml
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Directory.Build.props
  src/BootstrapBlazor.Server/Extensions/ServicesExtensions.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/HtmlTag/Link.razor
  src/BootstrapBlazor/Components/HtmlTag/Link.razor.cs
  src/BootstrapBlazor/Components/HtmlTag/Script.razor
  src/BootstrapBlazor/Components/HtmlTag/Script.razor.cs
  src/BootstrapBlazor/Services/IVersionService.cs
  src/Extensions/Components/BootstrapBlazor.TagHelper/BootstrapBlazor.TagHelper.csproj
  src/Extensions/Components/BootstrapBlazor.TagHelper/DefaultVersionService.cs
  src/Extensions/Components/BootstrapBlazor.TagHelper/Extensions/ServiceCollectionExtensions.cs
  src/Extensions/Components/BootstrapBlazor.TagHelper/_Imports.razor
  test/UnitTest/Components/LinkTest.cs
  test/UnitTest/Components/ScriptTest.cs
Labels: enhancement

#3284 doc(Web): use css variable
  .gitattributes
  src/BootstrapBlazor.Server/Components/Components/Header.razor.css
  src/BootstrapBlazor.Server/Components/Layout/ComponentLayout.razor
  src/BootstrapBlazor.Server/Components/Layout/ComponentLayout.razor.css
  src/BootstrapBlazor.Server/Components/Layout/HomeLayout.razor.css
  src/BootstrapBlazor.Server/Components/Layout/MainLayout.razor
  src/BootstrapBlazor.Server/Components/Layout/MainLayout.razor.css
  src/BootstrapBlazor.Server/Components/Layout/NavMenu.razor
  src/BootstrapBlazor.Server/Components/Layout/NavMenu.razor.css
  src/BootstrapBlazor.Server/Components/Layout/TutorialsNavMenu.razor.css
  src/BootstrapBlazor.Server/wwwroot/css/devui.css
  src/BootstrapBlazor.Server/wwwroot/css/site.css
  src/BootstrapBlazor/Services/ITableExport.cs
  test/UnitTest/Components/TableExportTest.cs
Labels: documentation

#3285 refactor(ALC): add assembly extension method GetUniqueName
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Extensions/AssemblyExtensions.cs
  src/BootstrapBlazor/Extensions/TypeExtensions.cs
  src/BootstrapBlazor/Localization/Json/JsonStringLocalizer.cs
  src/BootstrapBlazor/Services/CacheManager.cs
Labels: enhancement

#3288 test(GetUniqueName): add uni test improve code coverage
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Extensions/AssemblyExtensions.cs
  src/BootstrapBlazor/Extensions/TypeExtensions.cs
  src/BootstrapBlazor/wwwroot/src/css/motronic.css
  src/Bundle.props
  src/Extensions/Components/BootstrapBlazor.TagHelper/BootstrapBlazor.TagHelper.csproj
  test/UnitTest/Extensions/AssemblyExtensionsTest.cs
  test/UnitTest/Plugins/Test.dll
  test/UnitTest/UnitTest.csproj
Labels: test

#3289 refactor(CacheManager): update GetJsonStringByTypeName support collectible assembly
  src/BootstrapBlazor/Services/CacheManager.cs
Labels: enhancement

#3292 refactor(Topology): update init arguments
  src/Extensions/Components/BootstrapBlazor.Topology/BootstrapBlazor.Topology.csproj
  src/Extensions/Components/BootstrapBlazor.Topology/Components/Topology/Topology.razor.cs
  src/Extensions/Components/BootstrapBlazor.Topology/Components/Topology/Topology.razor.js
Labels: enhancement

#3295 doc(ConnectionService): add document for connection service
  src/BootstrapBlazor.Server/Components/Samples/Client.razor
  src/BootstrapBlazor.Server/Components/Samples/Client.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/ConnectionServices.razor
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/wwwroot/css/site.css
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Checkbox/CheckboxList.razor.cs
Labels: documentation

#3300 doc(FlipClocks): add Localizer
  src/BootstrapBlazor.Server/Components/Samples/FlipClocks.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
Labels: documentation

#3302 refactor(TableExport): generate file failed
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor/Extensions/BootstrapBlazorServiceCollectionExtensions.cs
  src/Extensions/Components/BootstrapBlazor.TableExport/BootstrapBlazor.TableExport.csproj
  src/Extensions/Components/BootstrapBlazor.TableExport/Extensions/TableExportServiceCollectionExtensions.cs
Labels: bug

#3304 feat(WebClientInfo): integrated IP geolocation functionality
  src/BootstrapBlazor.Server/Components/Samples/Client.razor
  src/BootstrapBlazor.Server/Components/Samples/ConnectionServices.razor
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Services/IPLocator/DefaultIPLocatorProvider.cs
  src/BootstrapBlazor/Services/IPLocator/DefaultIpLocatorFactory.cs
  src/BootstrapBlazor/Services/IPLocator/IIpLocatorProvider.cs
  src/BootstrapBlazor/Services/WebClientService.cs
  test/UnitTest/Services/WebClientServiceTest.cs
Labels: enhancement

#3307 feat(Dock): not show close button when any tab set ShowClose to false
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/Extensions/Components/BootstrapBlazor.Dock/BootstrapBlazor.Dock.csproj
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockContent.cs
  src/Extensions/Components/BootstrapBlazor.Dock/wwwroot/css/goldenlayout-bb.css
Labels: enhancement

#3309 feat(Dock): support push new component from server side
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/Extensions/Components/BootstrapBlazor.Dock/BootstrapBlazor.Dock.csproj
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockView.razor.js
Labels: enhancement

#3320 refactor(JSModule): catch ObjectDisposed exception
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Utils/JSModule.cs
  test/UnitTest/Utils/JSModuleTest.cs
Labels: enhancement

#3318 feat(DocView): add ShowHeader parameter
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/DockViews/DockViewCol.razor
  src/BootstrapBlazor.Server/Components/Samples/DockViews/DockViewComplex.razor
  src/BootstrapBlazor.Server/Components/Samples/DockViews/DockViewLayout.razor
  src/BootstrapBlazor.Server/Components/Samples/DockViews/DockViewLayout.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/DockViews/DockViewLock.razor
  src/BootstrapBlazor.Server/Components/Samples/DockViews/DockViewNest.razor
  src/BootstrapBlazor.Server/Components/Samples/DockViews/DockViewRow.razor
  src/BootstrapBlazor.Server/Components/Samples/DockViews/DockViewStack.razor
  src/BootstrapBlazor.Server/Components/Samples/DockViews/DockViewVisible.razor
  src/BootstrapBlazor.Server/Components/Samples/DockViews/Index.razor
  src/BootstrapBlazor.Server/Components/Samples/DockViews/Index.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/DockViews/Index.razor.css
  src/BootstrapBlazor.Server/appsettings.json
  src/Extensions/Components/BootstrapBlazor.Dock/BootstrapBlazor.Dock.csproj
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockComponent.cs
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockComponentBase.cs
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockContent.cs
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockView.razor
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockView.razor.cs
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockView.razor.js
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockViewConfig.cs
  src/Extensions/Components/BootstrapBlazor.Dock/DockViewOptions.cs
Labels: enhancement

#3326 refactor(DockView): missing ComponentName parameter
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/DockViews/DockViewLayout.razor.css
  src/BootstrapBlazor.Server/Properties/launchSettings.json
  src/BootstrapBlazor/Localization/Json/JsonStringLocalizer.cs
  src/Extensions/Components/BootstrapBlazor.Dock/BootstrapBlazor.Dock.csproj
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockComponent.cs
  test/UnitTest/UnitTest.csproj
Labels: enhancement

#3331 feat(WebClient): add Enable parameter on IpLocatorOptions
  src/BootstrapBlazor.Server/appsettings.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Services/IPLocator/IpLocatorOptions.cs
  src/BootstrapBlazor/Services/WebClientService.cs
Labels: enhancement

#3336 feat(PetaPoco): use TryAddTransient method
  src/Extensions/DataServices/BootstrapBlazor.DataAccess.PetaPoco/BootstrapBlazor.DataAccess.PetaPoco.csproj
  src/Extensions/DataServices/BootstrapBlazor.DataAccess.PetaPoco/DefaultDataService.cs
  src/Extensions/DataServices/BootstrapBlazor.DataAccess.PetaPoco/PetaPocoServiceCollectionExtensions.cs
Labels: enhancement

#3340 feat(Select): Clear search text while clearing text content
  src/BootstrapBlazor/Components/Select/Select.razor.cs
  test/UnitTest/Components/SelectTest.cs
Labels: enhancement

#3345 feat(IpLocator): add Enable parameter logic
  src/BootstrapBlazor/Services/IPLocator/DefaultIPLocatorProvider.cs
  test/UnitTest/Services/IpLocatorTest.cs
  test/UnitTest/appsettings.json
Labels: enhancement

#3347 test(Table): add reload column order unit test
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  test/UnitTest/Components/TableTest.cs
  test/UnitTest/Services/WebClientServiceTest.cs
Labels: test

#3351 fix(Editor): throw exception in EditTemplate of Table
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesExport.razor.cs
  src/Extensions/Components/BootstrapBlazor.SummerNote/BootstrapBlazor.SummerNote.csproj
  src/Extensions/Components/BootstrapBlazor.SummerNote/Components/Editor/Editor.razor
  src/Extensions/Components/BootstrapBlazor.SummerNote/Components/Editor/Editor.razor.cs
  test/UnitTestEditor/EditorTest.cs
Labels: bug

#3355 fix(FullScreenButton): missing FullScreenIcon setting
  src/BootstrapBlazor.Server/Components/Samples/ListViews.razor
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor/Components/FullScreen/FullScreen.cs
  src/BootstrapBlazor/Components/FullScreen/FullScreenButton.razor.cs
  src/BootstrapBlazor/Components/FullScreen/FullScreenButton.razor.scss
  src/BootstrapBlazor/Components/FullScreen/FullScreenOption.cs
  src/BootstrapBlazor/wwwroot/modules/fullscreen.js
  src/BootstrapBlazor/wwwroot/scss/components.scss
  test/UnitTest/Components/FullScreenTest.cs
Labels: bug

#3357 feat(FullScreenButton): add TargetId parameter
  src/BootstrapBlazor/Components/FullScreen/FullScreenButton.razor.cs
  src/BootstrapBlazor/wwwroot/modules/fullscreen.js
Labels: enhancement

#3359 feat(TabItem): add ShowFullScreen parameter
  src/BootstrapBlazor.Server/Components/Layout/ComponentLayout.razor
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Tab/Tab.razor
  src/BootstrapBlazor/Components/Tab/Tab.razor.cs
  src/BootstrapBlazor/Components/Tab/Tab.razor.scss
  src/BootstrapBlazor/Components/Tab/TabItem.cs
  src/BootstrapBlazor/wwwroot/modules/fullscreen.js
  test/UnitTest/Components/FullScreenTest.cs
  test/UnitTest/Components/TabTest.cs
Labels: enhancement

#3361 feat(Tab): add ShowFullScreen parameter
  src/BootstrapBlazor.Server/Components/Layout/ComponentLayout.razor
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Tab/Tab.razor
  src/BootstrapBlazor/Components/Tab/Tab.razor.cs
  src/BootstrapBlazor/Components/Tab/TabItem.cs
  test/UnitTest/Components/TabTest.cs
Labels: enhancement

#3365 feat(TableColumn): add Ignore parameter
  src/BootstrapBlazor.Server/Components/Samples/EditDialogs.razor
  src/BootstrapBlazor.Server/Components/Samples/EditDialogs.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Table/Tables.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesColumn.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesDynamic.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesEdit.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesExcel.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesVirtualization.razor
  src/BootstrapBlazor.Server/Data/Foo.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/Services/MockDataTableDynamicService.cs
  src/BootstrapBlazor/Attributes/AutoGenerateBaseAttribute.cs
  src/BootstrapBlazor/Attributes/AutoGenerateColumnAttribute.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/EditorForm/EditorForm.razor.cs
  src/BootstrapBlazor/Components/EditorForm/EditorItem.cs
  src/BootstrapBlazor/Components/EditorForm/IEditorItem.cs
  src/BootstrapBlazor/Components/Table/ITableColumn.cs
  src/BootstrapBlazor/Components/Table/InternalTableColumn.cs
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/Components/Table/Table.razor.Toolbar.cs
  src/BootstrapBlazor/Components/Table/TableColumn.cs
  src/BootstrapBlazor/Dynamic/DataTableDynamicContext.cs
  src/BootstrapBlazor/Extensions/DialogServiceExtensions.cs
  src/BootstrapBlazor/Extensions/IEditorItemExtensions.cs
  src/BootstrapBlazor/Extensions/ITableColumnExtensions.cs
  src/BootstrapBlazor/Extensions/ObjectExtensions.cs
  test/UnitTest/Attributes/AutoGenerateClassTest.cs
  test/UnitTest/Components/EditorFormTest.cs
  test/UnitTest/Components/TableTest.cs
  test/UnitTest/Dynamic/DataTableDynamicContextTest.cs
  test/UnitTest/Extensions/ITableColumnExtensionsTest.cs
  test/UnitTest/Extensions/ObjectExtensionsTest.cs
  test/UnitTest/Utils/UtilityTest.cs
Labels: enhancement

#3370 doc(BootstrapIcon): update document for bootstrap icon
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/Bluetooth.razor
  src/BootstrapBlazor/Components/Card/Card.razor.scss
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/Extensions/Components/BootstrapBlazor.BootstrapIcon/BootstrapBlazor.BootstrapIcon.csproj
  src/Extensions/Components/BootstrapBlazor.BootstrapIcon/wwwroot/css/bootstrap-icons.min.css
  src/Extensions/Components/BootstrapBlazor.BootstrapIcon/wwwroot/css/bs.css
  src/Extensions/Components/BootstrapBlazor.MaterialDesign/BootstrapBlazor.MaterialDesign.csproj
  src/Extensions/Components/BootstrapBlazor.MaterialDesign/bundleconfig.json
  src/Extensions/Components/BootstrapBlazor.MaterialDesign/wwwroot/css/md.min.css
  src/Extensions/Components/BootstrapBlazor.MaterialDesign/wwwroot/md/css/materialdesignicons.css.map
  src/Extensions/Components/BootstrapBlazor.MaterialDesign/wwwroot/md/css/materialdesignicons.min.css
  src/Extensions/Components/BootstrapBlazor.MaterialDesign/wwwroot/md/css/materialdesignicons.min.css.map
  src/Extensions/Components/BootstrapBlazor.MaterialDesign/wwwroot/md/css/md.css
Labels: documentation

#3372 feat(DockView): support stack layout
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/Extensions/Components/BootstrapBlazor.Dock/BootstrapBlazor.Dock.csproj
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockView.razor.js
Labels: enhancement

#3374 doc(Table): update table documentation
  README.md
  README.zh-CN.md
  src/BootstrapBlazor.Server/Components/Layout/ComponentLayout.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/Tables.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesCell.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesCell.razor.css
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesColumnList.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesColumnResizing.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesDetailRow.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesDialog.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesDynamic.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesDynamicExcel.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesExcel.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesFixedColumn.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesFixedHeader.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesHeader.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesRow.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesSelection.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesSelection.razor.css
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesToolbar.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesTracking.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesVirtualization.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesVirtualization.razor.css
  src/BootstrapBlazor/BootstrapBlazor.csproj
Labels: documentation

#3376 bug(DateTimePicker): can't drag clock in NET6
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/ClockPicker/ClockPicker.razor.cs
  src/BootstrapBlazor/Components/ClockPicker/ClockPicker.razor.js
Labels: bug

#3378 feat(DockView): add TitleClass/TitleWidth parameter #3377
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/DockViews/DockViewCol.razor
  src/Extensions/Components/BootstrapBlazor.Dock/BootstrapBlazor.Dock.csproj
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockComponent.cs
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockView.razor.js
  src/Extensions/Components/BootstrapBlazor.Dock/Converters/DockComponentConverter.cs
  src/Extensions/Components/BootstrapBlazor.Dock/wwwroot/css/goldenlayout-bb.css
Labels: enhancement
