Repository dotnetcore/BootstrapBlazor, pull requests merged in 2024-05, with the labels that each got.

#3382 feat(IHtml2Pdf): add PdfStreamFromHtmlAsync method
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Services/IHtml2Pdf.cs
  src/Extensions/Components/BootstrapBlazor.Html2Pdf/BootstrapBlazor.Html2Pdf.csproj
  src/Extensions/Components/BootstrapBlazor.Html2Pdf/Extensions/ServiceCollectionExtensions.cs
  src/Extensions/Components/BootstrapBlazor.Html2Pdf/Services/DefaultPdfService.cs
Labels: enhancement

#3384 feat(TableExport): update ExportPdfAsync use IHtml2Pdf interface
  src/Extensions/Components/BootstrapBlazor.TableExport/BootstrapBlazor.TableExport.csproj
  src/Extensions/Components/BootstrapBlazor.TableExport/Services/DefaultTableExport.cs
Labels: enhancement

#3386 feat(IExportPdf): remove ExportPdfService service
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Extensions/ServicesExtensions.cs
  src/BootstrapBlazor.Server/Services/ExportPdfService.cs
  src/BootstrapBlazor.Server/wwwroot/pdf/readme.txt
  src/BootstrapBlazor.Server/wwwroot/pdf/template.htm
  src/BootstrapBlazor/Extensions/BootstrapBlazorServiceCollectionExtensions.cs
  src/BootstrapBlazor/Services/DefaultExportPdf.cs
  src/BootstrapBlazor/Services/IExportPdf.cs
  src/Extensions/Components/BootstrapBlazor.Html2Pdf/BootstrapBlazor.Html2Pdf.csproj
  src/maui/BootstrapBlazor.Maui/BootstrapBlazor.Maui.csproj
  src/maui/BootstrapBlazor.Maui/wwwroot/index.html
Labels: enhancement

#3390 feat(ITableExport): add links parameter support dynamic load style sheet
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Services/ITableExport.cs
  test/UnitTest/Components/TableExportTest.cs
Labels: enhancement

#3392 refactor(IHtml2Pdf): remove bootstrapblazor default links
  src/Extensions/Components/BootstrapBlazor.Html2Pdf/Extensions/ServiceCollectionExtensions.cs
  src/Extensions/Components/BootstrapBlazor.Html2Pdf/Services/DefaultPdfService.cs
Labels: enhancement

#3388 feat(IHtml2Pdf): support linux
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/Extensions/Components/BootstrapBlazor.Html2Pdf/BootstrapBlazor.Html2Pdf.csproj
  src/Extensions/Components/BootstrapBlazor.TableExport/BootstrapBlazor.TableExport.csproj
  src/Extensions/Components/BootstrapBlazor.TableExport/Services/DefaultTableExport.cs
Labels: enhancement

#3401 doc(IHtml2Pdf): update document for IHtml2Pdf
  src/BootstrapBlazor.Server/Components/Samples/Html2Pdfs.razor
  src/BootstrapBlazor.Server/Components/Samples/Html2Pdfs.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Extensions/BootstrapBlazorServiceCollectionExtensions.cs
  src/BootstrapBlazor/Services/DefaultHtml2PdfService.cs
  test/UnitTest/Services/Html2PdfServiceTest.cs
Labels: documentation

#3403 feat(MultiSelect): make Clear/SelectAll/InvertSelect methods to public
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Select/MultiSelect.razor.cs
Labels: enhancement

#3404 feat(MultiSelect): provider Show/Hide methods for Dropdown components
  src/BootstrapBlazor.Server/Components/Samples/Selects.razor
  src/BootstrapBlazor.Server/Components/Samples/Selects.razor.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/DateTimePicker/DatePickerBody.razor.scss
  src/BootstrapBlazor/Components/Select/MultiSelect.razor.js
  src/BootstrapBlazor/Components/Select/Select.razor.js
  src/BootstrapBlazor/Components/Select/SelectBase.cs
  src/BootstrapBlazor/wwwroot/modules/base-popover.js
  test/UnitTest/Components/SelectTest.cs
Labels: enhancement

#3408 refactor(DockView): update TitleClass type to string
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/Extensions/Components/BootstrapBlazor.Dock/BootstrapBlazor.Dock.csproj
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockComponent.cs
Labels: enhancement

#3411 feat(DockView): add TitleTemplate parameter
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Components/DataDialogComponent.razor
  src/BootstrapBlazor.Server/Components/Samples/DockViews/DockViewCol.razor
  src/BootstrapBlazor.Server/Components/Samples/DockViews/DockViewCol.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Print.razor
  src/Extensions/Components/BootstrapBlazor.Dock/BootstrapBlazor.Dock.csproj
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockComponent.cs
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockView.razor
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockView.razor.cs
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockView.razor.js
  src/Extensions/Components/BootstrapBlazor.Dock/wwwroot/css/goldenlayout-bb.css
Labels: enhancement

#3416 feat(ExportPdfButton): add ExportPdfButton component
  exclusion.dic
  src/BootstrapBlazor.Server/Components/Samples/Dialogs.razor
  src/BootstrapBlazor.Server/Components/Samples/Dialogs.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Html2Pdfs.razor
  src/BootstrapBlazor.Server/Components/Samples/Html2Pdfs.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Html2Pdfs.razor.js
  src/BootstrapBlazor.Server/Components/Samples/Modals.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Button/ExportPdfButton.cs
  src/BootstrapBlazor/Components/Dialog/DialogOption.cs
  src/BootstrapBlazor/Components/Modal/ModalDialog.razor
  src/BootstrapBlazor/Components/Modal/ModalDialog.razor.cs
  src/BootstrapBlazor/Locales/en.json
  src/BootstrapBlazor/Locales/zh.json
  src/BootstrapBlazor/Options/ExportPdfButtonOptions.cs
  src/BootstrapBlazor/wwwroot/modules/utility.js
  test/UnitTest/Components/DialogTest.cs
  test/UnitTest/Components/ExportPdfButtonTest.cs
  test/UnitTest/Components/ModalDialogTest.cs
  test/UnitTest/Core/ExportPdfTestBase.cs
Labels: enhancement

#3420 feat(IJSRuntime): add GetHtml extension method on IJSRuntime
  src/BootstrapBlazor.Server/Components/Samples/Html2Pdfs.razor
  src/BootstrapBlazor.Server/Components/Samples/Html2Pdfs.razor.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Extensions/JSModuleExtensions.cs
  test/UnitTest/Extensions/JSModuleExtensionsTest.cs
Labels: enhancement

#3418 doc(Localization): improve Spanish translation resources
  localization/es.json
Labels: enhancement

#3422 feat(IconTheme): add FullScreenExitButtonIcon icon
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/FullScreens.razor
  src/BootstrapBlazor/Components/FullScreen/FullScreenButton.razor
  src/BootstrapBlazor/Components/FullScreen/FullScreenButton.razor.cs
  src/BootstrapBlazor/Components/FullScreen/FullScreenButton.razor.scss
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/BootstrapBlazor/Options/IconThemeOptions.cs
  src/BootstrapBlazor/wwwroot/modules/fullscreen.js
  src/Extensions/Components/BootstrapBlazor.BootstrapIcon.Extensions/BootstrapBlazor.BootstrapIcon.Extensions.csproj
  src/Extensions/Components/BootstrapBlazor.BootstrapIcon.Extensions/DefaultIcon.cs
  src/Extensions/Components/BootstrapBlazor.Html2Pdf/BootstrapBlazor.Html2Pdf.csproj
  src/Extensions/Components/BootstrapBlazor.MaterialDesign.Extensions/BootstrapBlazor.MaterialDesign.Extensions.csproj
  src/Extensions/Components/BootstrapBlazor.MaterialDesign.Extensions/DefaultIcon.cs
  src/Extensions/Components/BootstrapBlazor.TableExport/BootstrapBlazor.TableExport.csproj
  test/UnitTest/Components/FullScreenTest.cs
Labels: enhancement

#3424 doc(ExportPdfButton): add documentation for ExportPdfButton
  src/BootstrapBlazor.Server/Components/Samples/ExportPdfButtons.razor
  src/BootstrapBlazor.Server/Components/Samples/ExportPdfButtons.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Html2Pdfs.razor
  src/BootstrapBlazor.Server/Components/Samples/Html2Pdfs.razor.cs
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/docs.json
Labels: documentation

#3426 feat(ExportPdfButton): add ExportPdfSettings component
  src/BootstrapBlazor.Server/Components/Samples/ExportPdfButtons.razor
  src/BootstrapBlazor.Server/Components/Samples/ExportPdfButtons.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Button/Button.razor.js
  src/BootstrapBlazor/Components/Button/ExportPdfButton.cs
  src/BootstrapBlazor/Components/Button/ExportPdfButtonSettings.cs
  src/BootstrapBlazor/Components/EditorForm/EditorItem.cs
  src/BootstrapBlazor/Components/EditorForm/IEditorItem.cs
  src/BootstrapBlazor/Components/Modal/ModalDialog.razor
  src/BootstrapBlazor/Components/Table/TableColumn.cs
  src/BootstrapBlazor/Options/ExportPdfButtonOptions.cs
  test/UnitTest/Components/ExportPdfButtonTest.cs
  test/UnitTest/Extensions/AssemblyExtensionsTest.cs
  test/UnitTest/Utils/UnsafeAccessorTest.cs
Labels: enhancement

#3428 fix(IconTheme): icon garbled issue
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/App.razor
  src/Extensions/Components/BootstrapBlazor.BootstrapIcon/BootstrapBlazor.BootstrapIcon.csproj
  src/Extensions/Components/BootstrapBlazor.BootstrapIcon/bundleconfig.json
  src/Extensions/Components/BootstrapBlazor.BootstrapIcon/wwwroot/css/bootstrap-icons.min.css
  src/Extensions/Components/BootstrapBlazor.BootstrapIcon/wwwroot/css/bootstrap.min.css
  src/Extensions/Components/BootstrapBlazor.BootstrapIcon/wwwroot/css/bs.min.css
  src/Extensions/Components/BootstrapBlazor.FontAwesome/BootstrapBlazor.FontAwesome.csproj
  src/Extensions/Components/BootstrapBlazor.FontAwesome/bundleconfig.json
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/css/font-awesome.min.css
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/fa/all.css
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/fa/all.min.css
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/fa/fa-list.min.css
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/webfonts/fa-brands-400.ttf
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/webfonts/fa-brands-400.woff2
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/webfonts/fa-regular-400.ttf
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/webfonts/fa-regular-400.woff2
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/webfonts/fa-solid-900.ttf
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/webfonts/fa-solid-900.woff2
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/webfonts/fa-v4compatibility.ttf
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/webfonts/fa-v4compatibility.woff2
  src/Extensions/Components/BootstrapBlazor.MaterialDesign/BootstrapBlazor.MaterialDesign.csproj
  src/Extensions/Components/BootstrapBlazor.MaterialDesign/bundleconfig.json
  src/Extensions/Components/BootstrapBlazor.MaterialDesign/wwwroot/css/md.min.css
  src/Extensions/Components/BootstrapBlazor.MaterialDesign/wwwroot/md/css/materialdesignicons.css
  src/Extensions/Components/BootstrapBlazor.MaterialDesign/wwwroot/md/css/materialdesignicons.min.css
  src/Extensions/Components/BootstrapBlazor.MaterialDesign/wwwroot/md/css/md.min.css
  src/Extensions/Components/BootstrapBlazor.MaterialDesign/wwwroot/md/fonts/materialdesignicons-webfont.eot
  src/Extensions/Components/BootstrapBlazor.MaterialDesign/wwwroot/md/fonts/materialdesignicons-webfont.ttf
  src/Extensions/Components/BootstrapBlazor.MaterialDesign/wwwroot/md/fonts/materialdesignicons-webfont.woff
  src/Extensions/Components/BootstrapBlazor.MaterialDesign/wwwroot/md/fonts/materialdesignicons-webfont.woff2
Labels: bug

#3430 feat(ThemeProvider): add ThemeProvider component
  src/BootstrapBlazor.Server/Components/Components/Header.razor
  src/BootstrapBlazor.Server/Components/Components/Header.razor.css
  src/BootstrapBlazor.Server/Components/Components/Header.razor.js
  src/BootstrapBlazor.Server/wwwroot/lib/theme.js
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/ThemeProvider/ThemeProvider.razor
  src/BootstrapBlazor/Components/ThemeProvider/ThemeProvider.razor.cs
  src/BootstrapBlazor/Components/ThemeProvider/ThemeProvider.razor.js
  src/BootstrapBlazor/Components/ThemeProvider/ThemeProvider.razor.scss
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/BootstrapBlazor/Extensions/BootstrapBlazorServiceCollectionExtensions.cs
  src/BootstrapBlazor/Extensions/JSModuleExtensions.cs
  src/BootstrapBlazor/Locales/en.json
  src/BootstrapBlazor/Locales/zh.json
  src/BootstrapBlazor/Options/IconThemeOptions.cs
  src/BootstrapBlazor/Services/DefaultThemeProvider.cs
  src/BootstrapBlazor/Services/IThemeProvider.cs
  src/BootstrapBlazor/wwwroot/modules/theme.js
  src/BootstrapBlazor/wwwroot/modules/utility.js
  src/BootstrapBlazor/wwwroot/scss/components.scss
  test/UnitTest/Components/ThemeProviderTest.cs
  test/UnitTest/Services/ThemeProviderTest.cs
Labels: enhancement

#3432 feat(IconTheme): add Theme icon for extensions
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/VideoPlayers.razor.cs
  src/Extensions/Components/BootstrapBlazor.BootstrapIcon.Extensions/BootstrapBlazor.BootstrapIcon.Extensions.csproj
  src/Extensions/Components/BootstrapBlazor.BootstrapIcon.Extensions/DefaultIcon.cs
  src/Extensions/Components/BootstrapBlazor.MaterialDesign.Extensions/BootstrapBlazor.MaterialDesign.Extensions.csproj
  src/Extensions/Components/BootstrapBlazor.MaterialDesign.Extensions/DefaultIcon.cs
Labels: enhancement

#3434 doc(IThemeProvider): add documentation for Theme provider
  src/BootstrapBlazor.Server/Components/App.razor
  src/BootstrapBlazor.Server/Components/Samples/ThemeProviders.razor
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/docs.json
  src/BootstrapBlazor.Server/wwwroot/lib/theme.js
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/ThemeProvider/ThemeLoader.razor
  src/BootstrapBlazor/Extensions/JSModuleExtensions.cs
  src/BootstrapBlazor/Services/DefaultThemeProvider.cs
  src/BootstrapBlazor/wwwroot/modules/theme.js
Labels: documentation

#3436 feat(Topology): add IsFitView/IsCenterView options on Scale/Reset method
  src/Extensions/Components/BootstrapBlazor.Topology/BootstrapBlazor.Topology.csproj
  src/Extensions/Components/BootstrapBlazor.Topology/Components/Topology/Topology.razor.cs
  src/Extensions/Components/BootstrapBlazor.Topology/Components/Topology/Topology.razor.js
Labels: enhancement

#3438 feat(IconTheme): update fullscreen icon
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor/Options/IconThemeOptions.cs
  src/Extensions/Components/BootstrapBlazor.BootstrapIcon.Extensions/BootstrapBlazor.BootstrapIcon.Extensions.csproj
  src/Extensions/Components/BootstrapBlazor.BootstrapIcon.Extensions/DefaultIcon.cs
  src/Extensions/Components/BootstrapBlazor.MaterialDesign.Extensions/BootstrapBlazor.MaterialDesign.Extensions.csproj
  src/Extensions/Components/BootstrapBlazor.MaterialDesign.Extensions/DefaultIcon.cs
Labels: enhancement

#3440 feat(ScrollOptions): add ScrollOptions on BootstrapBlazorOptions
  exclusion.dic
  src/BootstrapBlazor.Server/docs.json
  src/BootstrapBlazor/Components/Scroll/Scroll.razor.cs
  src/BootstrapBlazor/Components/Scroll/Scroll.razor.scss
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Options/BootstrapBlazorOptions.cs
  src/BootstrapBlazor/Options/ScrollOptions.cs
  test/UnitTest/Components/ScrollTest.cs
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#3442 feat(Table): add ColumnMinWidth parameter
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Components/Table/Table.razor.js
  src/BootstrapBlazor/Components/Table/TableColumnContext.cs
  src/BootstrapBlazor/Options/TableSettings.cs
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#3453 refactor(Topology): update code fix reset not work
  src/Extensions/Components/BootstrapBlazor.Topology/BootstrapBlazor.Topology.csproj
  src/Extensions/Components/BootstrapBlazor.Topology/Components/Topology/Topology.razor.js
Labels: enhancement

#3455 feat(Chart): support export to image
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/Extensions/Components/BootstrapBlazor.Chart/BootstrapBlazor.Chart.csproj
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/Chart.razor.cs
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/Chart.razor.js
Labels: enhancement

#3458 feat(Chart): Add a CanvasBackgroundColor parameter
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/Extensions/Components/BootstrapBlazor.Chart/BootstrapBlazor.Chart.csproj
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/Chart.razor.js
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/ChartOptions.cs
Labels: enhancement

#3464 doc(GlobalSearch): add global-search function
  src/BootstrapBlazor.Server/Components/Components/CultureChooser.razor.css
  src/BootstrapBlazor.Server/Components/Components/GlobalSearch.razor
  src/BootstrapBlazor.Server/Components/Components/GlobalSearch.razor.cs
  src/BootstrapBlazor.Server/Components/Components/GlobalSearch.razor.css
  src/BootstrapBlazor.Server/Components/Components/GlobalSearch.razor.js
  src/BootstrapBlazor.Server/Components/Components/Header.razor
  src/BootstrapBlazor.Server/Components/Components/Header.razor.css
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/Options/MeiliSearchOptions.cs
  src/BootstrapBlazor.Server/appsettings.json
  src/BootstrapBlazor.Server/wwwroot/css/site.css
  src/BootstrapBlazor.Server/wwwroot/lib/meilisearch/meilisearch.umd.min.js
Labels: documentation

#3445 feat(DateTimeRange): add RenderMode parameter
  src/BootstrapBlazor.Server/Components/Samples/DateTimeRanges.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor/Components/DateTimePicker/DatePickerBody.razor
  src/BootstrapBlazor/Components/DateTimeRange/DateTimeRange.razor
  src/BootstrapBlazor/Components/DateTimeRange/DateTimeRange.razor.cs
  src/BootstrapBlazor/Enums/DateTimeRangeRenderMode.cs
Labels: enhancement

#3465 fix(SelectTable): dropdown pop not full width
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Select/SelectTable.razor.js
  src/BootstrapBlazor/Components/Table/Table.razor.js
Labels: chore

#3467 doc(GlobalSearch): update style for global-search
  src/BootstrapBlazor.Server/Components/Components/GlobalSearch.razor
  src/BootstrapBlazor.Server/Components/Components/GlobalSearch.razor.css
  src/BootstrapBlazor.Server/Components/Components/GlobalSearch.razor.js
  src/BootstrapBlazor.Server/Components/Components/Header.razor.css
  src/BootstrapBlazor.Server/wwwroot/css/site.css
Labels: documentation

#3469 doc(GlobalSearch): add input event support
  src/BootstrapBlazor.Server/Components/Components/GlobalSearch.razor.css
  src/BootstrapBlazor.Server/Components/Components/GlobalSearch.razor.js
Labels: documentation

#3471 doc(GlobalSearch): adapt to mobile devices
  src/BootstrapBlazor.Server/Components/Components/GlobalSearch.razor.css
  src/BootstrapBlazor.Server/Components/Components/GlobalSearch.razor.js
Labels: documentation

#3474 feat(Chart): add IsAnimation parameter
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Components/DemoBlock.razor.css
  src/BootstrapBlazor.Server/Components/Samples/Charts/Line.razor
  src/BootstrapBlazor.Server/Components/Samples/Charts/Line.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/Extensions/Components/BootstrapBlazor.Chart/BootstrapBlazor.Chart.csproj
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/Chart.razor.cs
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/Chart.razor.js
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/ChartDataSource.cs
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/ChartOptions.cs
Labels: enhancement

#3476 fix(Chart): ShowPointStyle not work
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/Charts/Line.razor.cs
  src/Extensions/Components/BootstrapBlazor.Chart/BootstrapBlazor.Chart.csproj
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/Chart.razor.js
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/ChartDataset.cs
Labels: bug

#3478 feat(Button): add IsKeepDisabled parameter
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Button/Button.razor.cs
  src/BootstrapBlazor/Components/Button/ButtonBase.cs
Labels: enhancement

#3484 doc(GlobalSearch): support WebHook
  exclusion.dic
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Components/GlobalSearch.razor.cs
  src/BootstrapBlazor.Server/Components/Components/GlobalSearch.razor.js
  src/BootstrapBlazor.Server/Controllers/Api/SearchController.cs
  src/BootstrapBlazor.Server/Extensions/ServicesExtensions.cs
  src/BootstrapBlazor.Server/Options/MeiliSearchOptions.cs
  src/BootstrapBlazor.Server/appsettings.json
Labels: enhancement

#3482 doc(Table): update Title
  src/BootstrapBlazor.Server/Components/Samples/Table/Tables.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesAutoRefresh.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesCell.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesColumn.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesColumnDrag.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesColumnList.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesColumnResizing.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesColumnTemplate.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesDetailRow.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesDialog.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesDynamic.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesDynamicExcel.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesDynamicObject.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesEdit.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesExcel.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesExport.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesFilter.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesFixedColumn.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesFixedHeader.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesFooter.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesHeader.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesLoading.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesLookup.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesPages.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesRow.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesSearch.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesSelection.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesToolbar.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesTracking.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesTree.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesVirtualization.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesWrap.razor
Labels: documentation

#3486 doc(SearchController): add push branch check
  src/BootstrapBlazor.Server/Controllers/Api/SearchController.cs
  src/BootstrapBlazor.Server/Data/GiteePushBody.cs
Labels: documentation

#3488 doc(GlobalSearch): add highlight key word
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Components/GlobalSearch.razor.css
  src/BootstrapBlazor.Server/Components/Components/GlobalSearch.razor.js
  src/BootstrapBlazor.Server/Controllers/Api/SearchController.cs
  src/BootstrapBlazor.Server/wwwroot/css/site.css
Labels: documentation

#3496 doc(Theme): add switch theme transition
  src/BootstrapBlazor.Server/Components/Components/GlobalSearch.razor.css
  src/BootstrapBlazor.Server/Components/Components/Header.razor.js
  src/BootstrapBlazor.Server/Components/Components/ThemeMode.razor
  src/BootstrapBlazor.Server/Components/Components/ThemeMode.razor.cs
  src/BootstrapBlazor.Server/Components/Layout/BaseLayout.razor.css
  src/BootstrapBlazor.Server/wwwroot/css/site.css
  src/BootstrapBlazor/Components/ThemeProvider/ThemeProvider.razor.js
Labels: documentation

#3502 doc(ThemeMode): compactible iOS safari
  src/BootstrapBlazor.Server/Components/Components/Header.razor.js
  src/BootstrapBlazor.Server/wwwroot/css/site.css
  src/BootstrapBlazor/Components/ThemeProvider/ThemeProvider.razor.js
  src/BootstrapBlazor/wwwroot/modules/utility.js
  src/BootstrapBlazor/wwwroot/scss/root.scss
  src/Bundle.props
Labels: documentation

#3504 fix(FreeSqlExtensions): support fuzzy search
  src/BootstrapBlazor/Components/Filters/SearchFilterAction.cs
  src/Extensions/DataServices/BootstrapBlazor.DataAccess.FreeSql/BootstrapBlazor.DataAccess.FreeSql.csproj
  src/Extensions/DataServices/BootstrapBlazor.DataAccess.FreeSql/FreeSqlExtensions.cs
Labels: bug

#3507 feat(MultiSelect): add IsSingleLine parameter
  src/BootstrapBlazor.Server/Components/Samples/MultiSelects.razor
  src/BootstrapBlazor.Server/Components/Samples/MultiSelects.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Select/MultiSelect.razor.cs
  src/BootstrapBlazor/Components/Select/MultiSelect.razor.scss
  test/UnitTest/Components/MultiSelectTest.cs
Labels: enhancement

#3515 feat(CardUpload): auto zoom when click preview image
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Upload/CardUpload.razor
  src/BootstrapBlazor/wwwroot/modules/upload.js
  test/UnitTest/Components/UploadTest.cs
Labels: enhancement

#3514 test(Button): improve code coverage
  src/BootstrapBlazor/Components/Button/Button.razor.js
  src/BootstrapBlazor/Components/Button/ShareButton.cs
  test/UnitTest/Components/ButtonTest.cs
  test/UnitTest/Extensions/QueryPageOptionsExtensionsTest.cs
Labels: test

#3517 fix(TreeView): all children node state is Indeterminate after expand node
  src/BootstrapBlazor.Server/Data/TreeFoo.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Button/Button.razor.js
  src/BootstrapBlazor/Components/Button/ShareButton.cs
  src/BootstrapBlazor/Components/TreeView/TreeView.razor.cs
  src/BootstrapBlazor/Extensions/ExpandableNodeExtensions.cs
  src/BootstrapBlazor/Misc/TreeNodeCache.cs
  test/UnitTest/Components/ButtonTest.cs
  test/UnitTest/Components/TreeViewTest.cs
Labels: bug

#3512 feat(SvgEdtior): add UpdateAsync method for the SvgEditor
  src/Extensions/Components/BootstrapBlazor.SVGEditor/BootstrapBlazor.SvgEditor.csproj
  src/Extensions/Components/BootstrapBlazor.SVGEditor/Components/SvgEditor/SvgEditor.razor
  src/Extensions/Components/BootstrapBlazor.SVGEditor/Components/SvgEditor/SvgEditor.razor.cs
  src/Extensions/Components/BootstrapBlazor.SVGEditor/Components/SvgEditor/SvgEditor.razor.js
Labels: enhancement

#3520 feat(WebClientOptions): add WebClientOptions class
  src/BootstrapBlazor.Server/appsettings.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Options/BootstrapBlazorOptions.cs
  src/BootstrapBlazor/Options/WebClientOptions.cs
  src/BootstrapBlazor/Services/WebClientService.cs
  test/UnitTest/Services/WebClientServiceTest.cs
Labels: enhancement

#3522 perf(Table): skip call client column info when not set ClientTableName
  src/BootstrapBlazor/Components/Table/Table.razor.cs
Labels: enhancement

#3524 refactor(DateTimeRange): remove unused code and improve code coverage
  src/BootstrapBlazor/Components/ClockPicker/ClockPicker.razor.js
  src/BootstrapBlazor/Components/DateTimePicker/DatePickerBody.razor.cs
  src/BootstrapBlazor/Components/DateTimePicker/DatePickerBody.razor.scss
  src/BootstrapBlazor/Components/DateTimeRange/DateTimeRange.razor
  src/BootstrapBlazor/Components/DateTimeRange/DateTimeRange.razor.cs
  src/BootstrapBlazor/Enums/DateTimeRangeRenderMode.cs
  test/UnitTest/Components/DateTimePickerTest.cs
  test/UnitTest/Components/DateTimeRangeTest.cs
Labels: enhancement

#3526 feat(TimePicker): redesign TimePicker component
  src/BootstrapBlazor.Server/Components/Samples/Bluetooth.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/TimePickers.razor
  src/BootstrapBlazor.Server/Properties/launchSettings.json
  src/BootstrapBlazor/Components/Layout/Layout.razor.cs
  src/BootstrapBlazor/Components/TimePicker/TimePicker.razor
  src/BootstrapBlazor/Components/TimePicker/TimePicker.razor.cs
  src/BootstrapBlazor/Components/TimePicker/TimePicker.razor.scss
  src/BootstrapBlazor/Components/TimePicker/TimePickerBody.razor
  src/BootstrapBlazor/Components/TimePicker/TimePickerBody.razor.cs
  src/BootstrapBlazor/Components/TimePicker/TimePickerBody.razor.scss
  src/BootstrapBlazor/Components/TimePicker/TimePickerCell.razor
  src/BootstrapBlazor/Components/TimePicker/TimePickerCell.razor.cs
  src/BootstrapBlazor/Components/TimePicker/TimePickerCell.razor.scss
  src/BootstrapBlazor/Components/Timer/Timer.razor
  src/BootstrapBlazor/wwwroot/scss/components.scss
  src/BootstrapBlazor/wwwroot/scss/root.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrap.blazor.scss
  test/UnitTest/Components/DateTimePickerTest.cs
  test/UnitTest/Components/TableTest.cs
  test/UnitTest/Components/TimePickerBodyTest.cs
  test/UnitTest/Components/TimePickerTest.cs
  test/UnitTest/Components/TreeViewTest.cs
  test/UnitTest/UnitTest.csproj
Labels: enhancement

#3529 doc(Search): remove sync search doc webhook
  src/BootstrapBlazor.Server/Controllers/Api/SearchController.cs
  src/BootstrapBlazor.Server/Extensions/ServicesExtensions.cs
Labels: documentation

#3531 feat(Message): add ShowMode parameter
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/Messages.razor
  src/BootstrapBlazor.Server/Components/Samples/Messages.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/Message/Message.razor.cs
  src/BootstrapBlazor/Components/Message/MessageOption.cs
  src/BootstrapBlazor/Enums/MessageShowMode.cs
  test/UnitTest/Components/MessageTest.cs
Labels: enhancement

#3542 feat(MetadataTypeService): update typo error
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Services/TableMetadataTypeService.cs
  test/UnitTest/Utils/UtilityTest.cs
Labels: enhancement

#3538 feat(FileViewer): bump BootstrapBlazor.FileViewer version to v8.0.3
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
Labels: bug

#3550 doc(Table): update sample code for MultipSelect in EditTemplate
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesEdit.razor.cs
Labels: documentation

#3544 feat(Select): auto append the close icon when using DisplayTemplate
  src/BootstrapBlazor/Components/Select/Select.razor
Labels: enhancement

#3552 fix(Table): throw exception resize column when empty data
  src/BootstrapBlazor.Server/Components/Components/DemoTableEditTemplate.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesEdit.razor
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.js
Labels: bug

#3555 feat(Dock): keep tool button on header when drag tab
  src/Extensions/Components/BootstrapBlazor.Dock/BootstrapBlazor.Dock.csproj
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockView.razor.js
Labels: enhancement

#3560 feat(RibbonTab): update style sheet use scss
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/RibbonTab/RibbonTab.razor.cs
  src/BootstrapBlazor/Components/RibbonTab/RibbonTab.razor.scss
  src/Extensions/Components/BootstrapBlazor.BootstrapIcon.Extensions/BootstrapBlazor.BootstrapIcon.Extensions.csproj
  src/Extensions/Components/BootstrapBlazor.BootstrapIcon.Extensions/DefaultIcon.cs
  src/Extensions/Components/BootstrapBlazor.MaterialDesign.Extensions/BootstrapBlazor.MaterialDesign.Extensions.csproj
  src/Extensions/Components/BootstrapBlazor.MaterialDesign.Extensions/DefaultIcon.cs
Labels: enhancement

#3569 fix(Collapse): collapsed status incorrect
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Collapse/Collapse.razor
Labels: bug

#3571 doc(Table): update OnSaveAsync documentation
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesExcel.razor
  src/BootstrapBlazor/Attributes/AutoGenerateColumnAttribute.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/ITableColumn.cs
  src/BootstrapBlazor/Components/Table/InternalTableColumn.cs
  src/BootstrapBlazor/Components/Table/TableColumn.cs
  test/UnitTest/Attributes/AutoGenerateClassTest.cs
Labels: documentation

#3573 refactor(Table): update GetTooltipTextCallback logic
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesWrap.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesWrap.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Extensions/ITableColumnExtensions.cs
Labels: enhancement

#3576 feat(Table): support custom search filter
  src/BootstrapBlazor/Attributes/AutoGenerateColumnAttribute.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/ITableColumn.cs
  src/BootstrapBlazor/Components/Table/InternalTableColumn.cs
  src/BootstrapBlazor/Components/Table/TableColumn.cs
  src/BootstrapBlazor/Extensions/ITableColumnExtensions.cs
  test/UnitTest/Attributes/AutoGenerateClassTest.cs
  test/UnitTest/Components/TableColumnTest.cs
  test/UnitTest/Components/TableTest.cs
  test/UnitTest/Extensions/ITableColumnExtensionsTest.cs
Labels: enhancement

#3583 feat(Table): Add LoadingTemplate support
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#3584 feat(Localization): add ILocalizationMissingItemHandler
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Localization/ILocalizationMissingItemHandler.cs
  src/BootstrapBlazor/Localization/Json/JsonLocalizationServiceCollectionExtensions.cs
  src/BootstrapBlazor/Localization/Json/JsonStringLocalizer.cs
  src/BootstrapBlazor/Localization/Json/JsonStringLocalizerFactory.cs
  src/BootstrapBlazor/Localization/NullLocalizationMissingItemHandler.cs
  test/UnitTest/Localization/JsonStringLocalizerTest.cs
  test/UnitTest/UnitTest.csproj
Labels: enhancement

#3590 feat(Dialog): redesign ShowModal extension method of DialogService
  src/BootstrapBlazor.Server/Components/Components/ResultDialogDemo.razor.cs
  src/BootstrapBlazor.Server/Components/Components/ResultDialogDemo2.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Dialogs.razor
  src/BootstrapBlazor.Server/Components/Samples/Dialogs.razor.cs
  src/BootstrapBlazor/Components/Dialog/Dialog.razor.cs
  src/BootstrapBlazor/Components/Dialog/DialogOption.cs
  src/BootstrapBlazor/Components/Dialog/IResultDialog.cs
  src/BootstrapBlazor/Components/Dialog/ResultDialogFooter.razor
  src/BootstrapBlazor/Components/Dialog/ResultDialogFooter.razor.cs
  src/BootstrapBlazor/Components/Dialog/ResultDialogOption.cs
  src/BootstrapBlazor/Components/Dialog/SearchDialog.razor
  src/BootstrapBlazor/Components/EditorForm/EditorItem.cs
  src/BootstrapBlazor/Components/Modal/ModalDialog.razor
  src/BootstrapBlazor/Components/Modal/ModalDialog.razor.cs
  src/BootstrapBlazor/Components/Table/Table.razor.scss
  src/BootstrapBlazor/Extensions/DialogServiceExtensions.cs
  test/UnitTest/Components/ButtonTest.cs
  test/UnitTest/Components/DialogTest.cs
Labels: enhancement

#3592 feat(ColorPicker): add Formatter parameter
  src/BootstrapBlazor.Server/Components/Samples/ColorPickers.razor
  src/BootstrapBlazor.Server/Components/Samples/ColorPickers.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/ColorPicker/ColorPicker.razor
  src/BootstrapBlazor/Components/ColorPicker/ColorPicker.razor.cs
  test/UnitTest/Components/ColorPickerTest.cs
  test/UnitTest/Components/DialogTest.cs
Labels: enhancement

#3595 feat(DialogSaveButton): add OnSaveAsync parameter
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Dialog/DialogSaveButton.cs
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  test/UnitTest/Components/ButtonTest.cs
Labels: enhancement

#3600 feat(Validate): auto provider memeber name when custom validate rule
  src/BootstrapBlazor.Server/Components/Samples/ValidateForms.razor.cs
  src/BootstrapBlazor/Attributes/FileValidationAttribute.cs
  src/BootstrapBlazor/Components/Validate/ValidateBase.cs
  src/BootstrapBlazor/Components/ValidateForm/ValidateForm.razor.cs
  test/UnitTest/Components/ValidateTest.cs
Labels: enhancement

#3602 feat(ImageViewer): add IsIntersectionObserver parameter
  exclusion.dic
  src/BootstrapBlazor.Server/Components/Components/ComponentCard.razor
  src/BootstrapBlazor.Server/Components/Samples/ImageViewers.razor
  src/BootstrapBlazor.Server/Components/Samples/ImageViewers.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/ImageViewer/ImageViewer.razor
  src/BootstrapBlazor/Components/ImageViewer/ImageViewer.razor.cs
  src/BootstrapBlazor/Components/ImageViewer/ImageViewer.razor.js
  test/UnitTest/Components/ImageTest.cs
Labels: enhancement

#3604 feat(ThemeProvider): add ShowShadow/Alignment parameter
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/ThemeProvider/ThemeProvider.razor
  src/BootstrapBlazor/Components/ThemeProvider/ThemeProvider.razor.cs
  test/UnitTest/Components/ThemeProviderTest.cs
Labels: enhancement

#3605 feat(MultiSelect): add right icon like select
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Select/MultiSelect.razor
  src/BootstrapBlazor/Components/Select/MultiSelect.razor.cs
  src/BootstrapBlazor/Components/Select/MultiSelect.razor.scss
  src/BootstrapBlazor/Components/Select/Select.razor.cs
  src/BootstrapBlazor/Components/Select/SelectBase.cs
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/BootstrapBlazor/Options/IconThemeOptions.cs
  src/Extensions/Components/BootstrapBlazor.BootstrapIcon.Extensions/BootstrapBlazor.BootstrapIcon.Extensions.csproj
  src/Extensions/Components/BootstrapBlazor.BootstrapIcon.Extensions/DefaultIcon.cs
  src/Extensions/Components/BootstrapBlazor.MaterialDesign.Extensions/BootstrapBlazor.MaterialDesign.Extensions.csproj
  src/Extensions/Components/BootstrapBlazor.MaterialDesign.Extensions/DefaultIcon.cs
Labels: enhancement
