Repository dotnetcore/BootstrapBlazor, pull requests merged in 2024-06, with the labels that each got.

#3612 doc(ad): add ccbmp ad component
  src/BootstrapBlazor.Server/Components/Components/Wwads.razor
  src/BootstrapBlazor.Server/Components/Components/Wwads.razor.cs
  src/BootstrapBlazor.Server/Components/Components/Wwads.razor.js
  src/BootstrapBlazor.Server/Components/Layout/TutorialsLayout.razor
  src/BootstrapBlazor.Server/wwwroot/css/site.css
Labels: documentation

#3614 feat(Table): add OnAfterRenderCallback parameter
  src/BootstrapBlazor.Server/Components/Samples/Table/Tables.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesColumn.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesSelection.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesSelection.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesSelection.razor.css
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesSelection.razor.js
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Components/Table/Table.razor.js
  src/BootstrapBlazor/Extensions/IEditorItemExtensions.cs
  test/UnitTest/Components/TableTest.cs
  test/UnitTest/Extensions/ObjectExtensionsTest.cs
  test/UnitTest/Performance/TaskTest.cs
Labels: enhancement

#3615 fix(Table): colspan incorrect
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.cs
Labels: bug

#3620 refactor(Select): update ICollection to List for performance
  src/BootstrapBlazor/Components/Select/Select.razor
  src/BootstrapBlazor/Components/Select/Select.razor.cs
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#3626 doc(DatePicker): remove documentation for IsShown
  src/BootstrapBlazor.Server/Components/Samples/DateTimePickers.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
Labels: documentation

#3533 feat(DockView): add new dockview component
  BootstrapBlazor.sln
  exclusion.dic
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Components/DockViewTitleTemplateDemo.razor
  src/BootstrapBlazor.Server/Components/Components/DockViewTitleTemplateDemo.razor.css
  src/BootstrapBlazor.Server/Components/Layout/ComponentLayout.razor.js
  src/BootstrapBlazor.Server/Components/Samples/DockViews2/DockViewCol.razor
  src/BootstrapBlazor.Server/Components/Samples/DockViews2/DockViewCol.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/DockViews2/DockViewComplex.razor
  src/BootstrapBlazor.Server/Components/Samples/DockViews2/DockViewGroup.razor
  src/BootstrapBlazor.Server/Components/Samples/DockViews2/DockViewLayout.razor
  src/BootstrapBlazor.Server/Components/Samples/DockViews2/DockViewLayout.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/DockViews2/DockViewLayout.razor.css
  src/BootstrapBlazor.Server/Components/Samples/DockViews2/DockViewLock.razor
  src/BootstrapBlazor.Server/Components/Samples/DockViews2/DockViewLock.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/DockViews2/DockViewLock.razor.css
  src/BootstrapBlazor.Server/Components/Samples/DockViews2/DockViewNest.razor
  src/BootstrapBlazor.Server/Components/Samples/DockViews2/DockViewNest.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/DockViews2/DockViewNest.razor.css
  src/BootstrapBlazor.Server/Components/Samples/DockViews2/DockViewRow.razor
  src/BootstrapBlazor.Server/Components/Samples/DockViews2/DockViewVisible.razor
  src/BootstrapBlazor.Server/Components/Samples/DockViews2/DockViewVisible.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/DockViews2/DockViewVisible.razor.css
  src/BootstrapBlazor.Server/Components/Samples/DockViews2/Index.razor
  src/BootstrapBlazor.Server/Components/Samples/DockViews2/Index.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/DockViews2/Index.razor.css
  src/BootstrapBlazor.Server/Components/Samples/DockViews2/_Imports.razor
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/docs.json
  src/BootstrapBlazor/Components/BaseComponents/IdComponentBase.cs
  src/Extensions/Components/BootstrapBlazor.AzureSpeech/wwwroot/js/speech.js
  src/Extensions/Components/BootstrapBlazor.BaiduSpeech/wwwroot/js/recognizer.js
  src/Extensions/Components/BootstrapBlazor.BarCode/Components/BarcodeReader/BarcodeReader.razor.js
  src/Extensions/Components/BootstrapBlazor.DockView/BootstrapBlazor.DockView.csproj
  src/Extensions/Components/BootstrapBlazor.DockView/Components/DockViewComponent.cs
  src/Extensions/Components/BootstrapBlazor.DockView/Components/DockViewComponentBase.cs
  src/Extensions/Components/BootstrapBlazor.DockView/Components/DockViewConfig.cs
  src/Extensions/Components/BootstrapBlazor.DockView/Components/DockViewContent.cs
  src/Extensions/Components/BootstrapBlazor.DockView/Components/DockViewContentType.cs
  src/Extensions/Components/BootstrapBlazor.DockView/Components/DockViewOptions.cs
  src/Extensions/Components/BootstrapBlazor.DockView/Components/DockViewTitle.cs
  src/Extensions/Components/BootstrapBlazor.DockView/Components/DockViewV2.razor
  src/Extensions/Components/BootstrapBlazor.DockView/Components/DockViewV2.razor.cs
  src/Extensions/Components/BootstrapBlazor.DockView/Components/DockViewV2.razor.js
  src/Extensions/Components/BootstrapBlazor.DockView/Components/IDockViewComponent.cs
  src/Extensions/Components/BootstrapBlazor.DockView/Components/_Imports.razor
  src/Extensions/Components/BootstrapBlazor.DockView/Converters/DockViewComponentConverter.cs
  src/Extensions/Components/BootstrapBlazor.DockView/Converters/DockViewContentRootConverter.cs
  src/Extensions/Components/BootstrapBlazor.DockView/Converters/DockViewTypeConverter.cs
  src/Extensions/Components/BootstrapBlazor.DockView/Data/DockViewTheme.cs
  src/Extensions/Components/BootstrapBlazor.DockView/Data/DockViewV2Options.cs
  src/Extensions/Components/BootstrapBlazor.DockView/logo.png
  src/Extensions/Components/BootstrapBlazor.DockView/wwwroot/css/dockview-bb.css
  src/Extensions/Components/BootstrapBlazor.DockView/wwwroot/css/dockview.css
  src/Extensions/Components/BootstrapBlazor.DockView/wwwroot/js/dockview-core.esm.js
  src/Extensions/Components/BootstrapBlazor.DockView/wwwroot/js/dockview-extensions.js
  src/Extensions/Components/BootstrapBlazor.DockView/wwwroot/js/dockview-utils.js
  src/Extensions/Components/BootstrapBlazor.Live2DDisplay/Components/Live2DDisplay/Live2DDisplay.razor.js
Labels: enhancement

#3631 feat(Table): add ShowSearchButton control search button
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/BaseComponents/BootstrapComponentBase.cs
  src/BootstrapBlazor/Components/Table/Table.razor
Labels: enhancement

#3633 refactor(Table): update ShowSearchButton function
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#3637 fix(Layout): block application when use async method in OnAuthorizing callback
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Layout/Layout.razor.cs
Labels: bug

#3641 doc(GlobalSearch): add side menu section
  src/BootstrapBlazor.Server/Components/Components/GlobalSearch.razor
  src/BootstrapBlazor.Server/Components/Components/GlobalSearch.razor.css
  src/BootstrapBlazor.Server/Components/Components/GlobalSearch.razor.js
  src/BootstrapBlazor.Server/Components/Components/Wwads.razor.cs
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
Labels: documentation

#3643 refactor(Dock): streamline code and refactor logic
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/Extensions/Components/BootstrapBlazor.Dock/BootstrapBlazor.Dock.csproj
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockComponent.razor
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockComponent.razor.cs
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockView.razor
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockView.razor.cs
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockView.razor.js
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockViewConfig.cs
  src/Extensions/Components/BootstrapBlazor.Dock/wwwroot/css/goldenlayout-bb.css
Labels: enhancement

#3645 feat(RadioList): add style for in InputGroup
  src/BootstrapBlazor.Server/Components/Samples/InputGroups.razor
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Input/BootstrapInputGroup.razor.scss
  src/BootstrapBlazor/wwwroot/scss/root.scss
Labels: enhancement

#3649 doc(Dock): update style for DockView
  src/BootstrapBlazor.Server/Components/Components/DemoBlock.razor
  src/BootstrapBlazor.Server/Components/Components/Wwads.razor.js
  src/BootstrapBlazor.Server/Components/Layout/ComponentLayout.razor
  src/BootstrapBlazor.Server/Components/Layout/MainLayout.razor.css
  src/BootstrapBlazor.Server/Components/Layout/TutorialsLayout.razor.css
  src/BootstrapBlazor.Server/Components/Samples/DockViews/DockViewCol.razor.css
  src/BootstrapBlazor.Server/Components/Samples/DockViews/DockViewComplex.razor.css
  src/BootstrapBlazor.Server/Components/Samples/DockViews/DockViewLayout.razor.css
  src/BootstrapBlazor.Server/Components/Samples/DockViews/DockViewLock.razor.css
  src/BootstrapBlazor.Server/Components/Samples/DockViews/DockViewNest.razor.css
  src/BootstrapBlazor.Server/Components/Samples/DockViews/DockViewRow.razor.css
  src/BootstrapBlazor.Server/Components/Samples/DockViews/DockViewStack.razor.css
  src/BootstrapBlazor.Server/Components/Samples/DockViews/DockViewVisible.razor.css
  src/BootstrapBlazor.Server/Components/Samples/DockViews2/DockViewCol.razor.css
  src/BootstrapBlazor.Server/Components/Samples/DockViews2/DockViewComplex.razor.css
  src/BootstrapBlazor.Server/Components/Samples/DockViews2/DockViewGroup.razor.css
  src/BootstrapBlazor.Server/Components/Samples/DockViews2/DockViewLayout.razor.css
  src/BootstrapBlazor.Server/Components/Samples/DockViews2/DockViewLock.razor.css
  src/BootstrapBlazor.Server/Components/Samples/DockViews2/DockViewNest.razor.css
  src/BootstrapBlazor.Server/Components/Samples/DockViews2/DockViewRow.razor.css
  src/BootstrapBlazor.Server/Components/Samples/DockViews2/DockViewTitle.razor.css
  src/BootstrapBlazor.Server/Components/Samples/DockViews2/DockViewVisible.razor.css
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/appsettings.json
  src/BootstrapBlazor.Server/wwwroot/css/site.css
  src/BootstrapBlazor.Server/wwwroot/css/wwads.css
  src/Extensions/Components/BootstrapBlazor.Dock/BootstrapBlazor.Dock.csproj
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockView.razor.js
  src/Extensions/Components/BootstrapBlazor.Dock/wwwroot/js/golden-layout-extensions.js
Labels: documentation

#3647 feat(GlobalSearch): auto close the search dialog
  src/BootstrapBlazor.Server/Components/Components/GlobalSearch.razor.js
Labels: enhancement

#3651 doc(Ad): redesign wwads component
  exclusion.dic
  src/BootstrapBlazor.Server/Components/Components/Wwads.razor
  src/BootstrapBlazor.Server/Components/Components/Wwads.razor.cs
  src/BootstrapBlazor.Server/Components/Components/Wwads.razor.js
  src/BootstrapBlazor.Server/Components/Layout/TutorialsLayout.razor
  src/BootstrapBlazor.Server/Components/Layout/TutorialsNavMenu.razor.css
  src/BootstrapBlazor.Server/wwwroot/css/wwads.css
Labels: documentation

#3658 doc(Home): redesign home
  src/BootstrapBlazor.Server/Components/Layout/BaseLayout.razor
  src/BootstrapBlazor.Server/Components/Layout/BaseLayout.razor.cs
  src/BootstrapBlazor.Server/Components/Layout/MainLayout.razor
  src/BootstrapBlazor.Server/Components/Layout/MainLayout.razor.cs
  src/BootstrapBlazor.Server/Components/Pages/Index.razor
  src/BootstrapBlazor.Server/Components/Pages/Index.razor.cs
  src/BootstrapBlazor.Server/Components/Pages/Index.razor.css
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/wwwroot/css/site.css
Labels: documentation

#3655 doc(Locales): update EnumEducation typo
  src/BootstrapBlazor.Server/Components/Samples/CheckboxLists.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  test/UnitTest.Localization/Locales/en.json
  test/UnitTest.Localization/Locales/zh.json
  test/UnitTest/Locales/en-US.json
  test/UnitTest/Locales/zh.json
Labels: documentation

#3661 doc(Index): update style for target framework
  src/BootstrapBlazor.Server/Components/Pages/Index.razor
  src/BootstrapBlazor.Server/Components/Pages/Index.razor.css
Labels: documentation

#3663 refactor(DockViewV2): update render logic
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/DockViews2/DockViewComplex.razor
  src/BootstrapBlazor.Server/Components/Samples/DockViews2/DockViewLayout.razor
  src/BootstrapBlazor.Server/Components/Samples/DockViews2/DockViewNest.razor
  src/BootstrapBlazor.Server/Components/Samples/DockViews2/DockViewRow.razor
  src/BootstrapBlazor.Server/Components/Samples/DockViews2/DockViewVisible.razor
  src/BootstrapBlazor.Server/Directory.Build.targets
  src/Extensions/Components/BootstrapBlazor.DockView/BootstrapBlazor.DockView.csproj
  src/Extensions/Components/BootstrapBlazor.DockView/Components/DockViewComponent.razor
  src/Extensions/Components/BootstrapBlazor.DockView/Components/DockViewComponent.razor.cs
  src/Extensions/Components/BootstrapBlazor.DockView/Components/DockViewConfig.cs
  src/Extensions/Components/BootstrapBlazor.DockView/Components/DockViewDropdownIcon.razor
  src/Extensions/Components/BootstrapBlazor.DockView/Components/DockViewDropdownIcon.razor.cs
  src/Extensions/Components/BootstrapBlazor.DockView/Components/DockViewIcon.razor
  src/Extensions/Components/BootstrapBlazor.DockView/Components/DockViewIcon.razor.cs
  src/Extensions/Components/BootstrapBlazor.DockView/Components/DockViewV2.razor
  src/Extensions/Components/BootstrapBlazor.DockView/Components/DockViewV2.razor.cs
  src/Extensions/Components/BootstrapBlazor.DockView/wwwroot/css/dockview-bb.css
  src/Extensions/Components/BootstrapBlazor.DockView/wwwroot/icon/dockview.svg
  src/Extensions/Components/BootstrapBlazor.DockView/wwwroot/js/dockview-extensions.js
  src/Extensions/Components/BootstrapBlazor.DockView/wwwroot/js/dockview-utils.js
Labels: enhancement

#3670 chore(Mask): add a mask component
  exclusion.dic
  src/BootstrapBlazor.Server/Components/Samples/Marquees.razor
  src/BootstrapBlazor.Server/Components/Samples/Masks.razor
  src/BootstrapBlazor.Server/Components/Samples/Masks.razor.cs
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/docs.json
  src/BootstrapBlazor/Components/BaseComponents/BootstrapBlazorRoot.razor
  src/BootstrapBlazor/Components/Mask/Mask.razor
  src/BootstrapBlazor/Components/Mask/Mask.razor.cs
  src/BootstrapBlazor/Components/Mask/Mask.razor.scss
  src/BootstrapBlazor/Components/Mask/MaskOption.cs
  src/BootstrapBlazor/Components/Mask/MaskService.cs
  src/BootstrapBlazor/Components/Message/MessageService.cs
  src/BootstrapBlazor/Components/SweetAlert/SwalService.cs
  src/BootstrapBlazor/Extensions/BootstrapBlazorServiceCollectionExtensions.cs
  src/BootstrapBlazor/wwwroot/scss/components.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrap.blazor.scss
  test/UnitTest/Services/MaskServiceTest.cs
Labels: enhancement

#3673 feat(Topology): add background paramer
  src/Extensions/Components/BootstrapBlazor.Topology/BootstrapBlazor.Topology.csproj
  src/Extensions/Components/BootstrapBlazor.Topology/Components/Topology/TopologyItem.cs
Labels: enhancement

#3677 fix(Table): setTableDefaultWidth not work
  src/BootstrapBlazor/Components/Table/Table.razor.js
Labels: bug

#3679 refactor(IconTheme): bump version 8.0.8
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/Extensions/Components/BootstrapBlazor.BootstrapIcon.Extensions/BootstrapBlazor.BootstrapIcon.Extensions.csproj
  src/Extensions/Components/BootstrapBlazor.MaterialDesign.Extensions/BootstrapBlazor.MaterialDesign.Extensions.csproj
Labels: enhancement

#3681 fix(Checkbox): check active state incorrect
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Checkbox/CheckboxList.razor.cs
Labels: bug

#3685 feat(ListView): add group order callback parameter
  src/BootstrapBlazor.Server/Components/Samples/ListViews.razor
  src/BootstrapBlazor.Server/Components/Samples/ListViews.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/ListView/ListView.razor
  src/BootstrapBlazor/Components/ListView/ListView.razor.cs
  test/UnitTest/Components/ListViewTest.cs
Labels: enhancement

#3686 fix(Select): DisableItemChangedWhenFirstRender not work
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Select/Select.razor.cs
Labels: bug

#3688 fix(Table): ShowColumnList item incorrect if remove column by OnColumnCreating
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.cs
Labels: bug

#3690 feat(TableFooterCell): add ColspanCallback parameter
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/Components/Table/TableFooterCell.razor
  src/BootstrapBlazor/Components/Table/TableFooterCell.razor.cs
  test/UnitTest/Components/TableFooterCellTest.cs
Labels: enhancement

#3698 feat(TableFooterCell): add BreakPoint parameter
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/TableFooterCell.razor
  src/BootstrapBlazor/Components/Table/TableFooterCell.razor.cs
  test/UnitTest/Components/TableFooterCellTest.cs
  test/UnitTest/Services/MaskServiceTest.cs
Labels: enhancement

#3700 doc(Themes): add themes website menu
  src/BootstrapBlazor.Server/Components/Components/Header.razor
  src/BootstrapBlazor.Server/wwwroot/css/site.css
Labels: documentation

#3702 refactor(Dock): bump version 8.1.7
  src/Extensions/Components/BootstrapBlazor.Dock/BootstrapBlazor.Dock.csproj
  src/Extensions/Components/BootstrapBlazor.Dock/Components/DockView/DockView.razor.js
  src/Extensions/Components/BootstrapBlazor.Dock/wwwroot/js/golden-layout-config.js
  src/Extensions/Components/BootstrapBlazor.Dock/wwwroot/js/golden-layout-extensions.js
  src/Extensions/Components/BootstrapBlazor.Dock/wwwroot/js/golden-layout-utility.js
Labels: enhancement

#3705 feat(FlipClock): add ShowSecond parameter
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/FlipClocks.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/FlipClock/FlipClock.razor
  src/BootstrapBlazor/Components/FlipClock/FlipClock.razor.cs
  test/UnitTest/Components/FlipClockTest.cs
Labels: enhancement

#3703 feat(MultiFilter): add MultiFilter component
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesFilter.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Filters/BoolFilter.razor.cs
  src/BootstrapBlazor/Components/Filters/MultiFilter.razor
  src/BootstrapBlazor/Components/Filters/MultiFilter.razor.cs
  src/BootstrapBlazor/Components/Filters/MultiFilter.razor.scss
  src/BootstrapBlazor/Locales/en.json
  src/BootstrapBlazor/Locales/zh.json
  src/BootstrapBlazor/Options/QueryPageOptions.cs
  src/BootstrapBlazor/wwwroot/scss/components.scss
  test/UnitTest/Components/TableFilterTest.cs
Labels: enhancement

#3709 feat(IconPark): add SvgIcon component support ByteDance
  BootstrapBlazor.sln
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Components/Pre.razor.css
  src/BootstrapBlazor.Server/Components/Samples/IconParks.razor
  src/BootstrapBlazor.Server/Components/Samples/IconParks.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/IconParks.razor.css
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesFixedHeader.razor
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/docs.json
  src/Extensions/Components/BootstrapBlazor.IconPark/BootstrapBlazor.IconPark.csproj
  src/Extensions/Components/BootstrapBlazor.IconPark/SvgIcon.razor
  src/Extensions/Components/BootstrapBlazor.IconPark/SvgIcon.razor.cs
  src/Extensions/Components/BootstrapBlazor.IconPark/SvgIcon.razor.css
  src/Extensions/Components/BootstrapBlazor.IconPark/_Imports.razor
  src/Extensions/Components/BootstrapBlazor.IconPark/logo.png
  src/Extensions/Components/BootstrapBlazor.IconPark/wwwroot/icon-park.svg
  test/UniTestIconPark/IconParkList.razor
  test/UniTestIconPark/UniTestIconPark.csproj
  test/UniTestIconPark/UnitTest.cs
  test/UniTestIconPark/download.zip
  test/UniTestIconPark/icon-park.svg
Labels: enhancement

#3712 fix(table): add Observer table width
  src/BootstrapBlazor.Server/Components/Samples/EditorForms.razor
  src/BootstrapBlazor/Components/Table/Table.razor.js
Labels: enhancement

#3714 fix(Table): auto scroll top click Filter button in use virtual mode
  src/BootstrapBlazor/Components/Filters/TableFilter.razor.cs
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Components/Table/Table.razor.js
  src/BootstrapBlazor/Components/Table/Table.razor.scss
  src/BootstrapBlazor/Components/Table/TableFooterCell.razor.cs
Labels: enhancement

#3715 doc(Table): add sample code for Table link readonly column
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesEdit.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesEdit.razor.cs
  src/BootstrapBlazor.Server/Data/Foo.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/ValidateForm/ValidateForm.razor.cs
  src/BootstrapBlazor/Extensions/IEditorItemExtensions.cs
  src/BootstrapBlazor/Extensions/ObjectExtensions.cs
  src/BootstrapBlazor/Extensions/PropertyInfoExtensions.cs
  src/BootstrapBlazor/Utils/Utility.cs
  test/UnitTest/Components/TableFooterCellTest.cs
  test/UnitTest/Core/FooContext.cs
Labels: documentation

#3719 feat(CardUpload): add CanPreviewCallback parameter
  src/BootstrapBlazor/Components/Upload/CardUpload.razor.cs
  src/BootstrapBlazor/Extensions/IEditorItemExtensions.cs
Labels: enhancement

#3717 fix(CardUpload): support image for preview
  src/BootstrapBlazor/Components/Upload/CardUpload.razor.cs
Labels: bug

#3627 feat(Table): add rowspan function
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesCell.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesCell.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Attributes/AutoGenerateColumnAttribute.cs
  src/BootstrapBlazor/Components/Table/ITableColumn.cs
  src/BootstrapBlazor/Components/Table/InternalTableColumn.cs
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/Components/Table/Table.razor.Sort.cs
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Components/Table/TableColumn.cs
Labels: enhancement

#3722 feat(CardUpload): support webp format image
  exclusion.dic
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesCell.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesCell.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Attributes/AutoGenerateColumnAttribute.cs
  src/BootstrapBlazor/Components/Table/ITableColumn.cs
  src/BootstrapBlazor/Components/Table/InternalTableColumn.cs
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/Components/Table/Table.razor.Sort.cs
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Components/Table/TableColumn.cs
  src/BootstrapBlazor/Components/Upload/CardUpload.razor.cs
  test/UnitTest/Components/UploadTest.cs
Labels: enhancement

#3724 feat(Icon): add BootstrapBlazorIcon component
  src/BootstrapBlazor.Server/Components/Samples/Icons.razor
  src/BootstrapBlazor.Server/Components/Samples/Icons.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Icons.razor.css
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/docs.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Icon/BootstrapBlazorIcon.razor
  src/BootstrapBlazor/Components/Icon/BootstrapBlazorIcon.razor.cs
  src/BootstrapBlazor/Components/Icon/BootstrapBlazorIcon.razor.scss
  src/BootstrapBlazor/wwwroot/scss/components.scss
  src/Extensions/Components/BootstrapBlazor.IconPark/SvgIcon.razor.cs
  test/UnitTest/Components/IconTest.cs
Labels: enhancement

#3728 feat(PopConfirmButton): add OnCloseAsync/OnConfirmAsync cascade parameter
  src/BootstrapBlazor/Components/Button/PopConfirmButton.razor
  src/BootstrapBlazor/Components/Button/PopConfirmButtonBase.cs
  src/BootstrapBlazor/Components/Button/PopConfirmButtonContent.razor
  src/BootstrapBlazor/Components/Button/PopConfirmButtonContent.razor.cs
  test/UnitTest/Components/PopConfirmButtonTest.cs
Labels: enhancement

#3736 feat(Search): add ShowNoDataTip parameter
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor
  src/BootstrapBlazor/Components/AutoComplete/PopoverCompleteBase.cs
  src/BootstrapBlazor/Components/AutoFill/AutoFill.razor
  src/BootstrapBlazor/Components/Search/Search.razor
  test/UnitTest/Components/AutoCompleteTest.cs
Labels: enhancement

#3742 refactor(PopConfirmButton): update javascript callback logic
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Button/PopConfirmButton.razor.js
  src/BootstrapBlazor/Components/Button/PopConfirmButtonContent.razor
  src/BootstrapBlazor/Components/Button/PopConfirmButtonContent.razor.cs
  src/BootstrapBlazor/Components/Button/PopConfirmButtonContent.razor.js
  test/UnitTest/Components/PopConfirmButtonTest.cs
Labels: enhancement

#3739 feat(MultiFilter): Update components after changes in the Items data source
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Filters/MultiFilter.razor
  src/BootstrapBlazor/Components/Filters/MultiFilter.razor.cs
Labels: enhancement

#3744 refactor(Html2Pdf): update PuppeteerSharp to 18.0.2
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/Extensions/Components/BootstrapBlazor.Html2Pdf/BootstrapBlazor.Html2Pdf.csproj
  src/Extensions/Components/BootstrapBlazor.Html2Pdf/Services/DefaultPdfService.cs
Labels: enhancement

#3746 fix(CheckboxList): ShowLabelTooltip not work
  src/BootstrapBlazor.Server/Components/Samples/CheckboxLists.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/Checkbox/Checkbox.razor.cs
  src/BootstrapBlazor/Components/Checkbox/CheckboxList.razor
Labels: bug

#3751 feat(FreeSqlExtensions): support MultiFilter component
  src/Extensions/DataServices/BootstrapBlazor.DataAccess.FreeSql/BootstrapBlazor.DataAccess.FreeSql.csproj
  src/Extensions/DataServices/BootstrapBlazor.DataAccess.FreeSql/FreeSqlExtensions.cs
Labels: bug

#3740 fix(DateTimeRange): support Year/Month view
  src/BootstrapBlazor.Server/Components/Samples/DateTimePickers.razor
  src/BootstrapBlazor.Server/Components/Samples/DateTimeRanges.razor
  src/BootstrapBlazor.Server/Components/Samples/DateTimeRanges.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/DateTimePicker/DatePickerBody.razor.cs
  src/BootstrapBlazor/Components/DateTimeRange/DateTimeRange.razor.cs
  test/UnitTest/Components/DateTimeRangeTest.cs
Labels: enhancement

#3755 doc(PopConfirmButton): add sample code for custom button
  src/BootstrapBlazor.Server/Components/Components/CustomPopConfirmContent.razor
  src/BootstrapBlazor.Server/Components/Components/CustomPopConfirmContent.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/PopoverConfirms.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/Button/PopConfirmButtonContent.razor
  src/BootstrapBlazor/Components/Button/PopConfirmButtonContent.razor.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrap.blazor.scss
  test/UnitTest/Components/PopConfirmButtonTest.cs
Labels: documentation

#3757 doc(Dispatch): update sample code
  src/BootstrapBlazor.Server/Components/Layout/MainLayout.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Dispatches.razor
  src/BootstrapBlazor.Server/Components/Samples/Dispatches.razor.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Services/IPLocator/DefaultIpLocatorFactory.cs
Labels: documentation

#3761 fix(Tab): auto adjust position use in Layout
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Select/Select.razor
  src/BootstrapBlazor/Components/Select/Select.razor.cs
  src/BootstrapBlazor/Components/Tab/Tab.razor.cs
  test/UnitTest/Components/SelectTest.cs
Labels: bug
