Repository dotnetcore/BootstrapBlazor, pull requests merged in 2024-10, with the labels that each got.

#4385 feat(WebClientService): make client info id consistent with webclient id
  src/BootstrapBlazor.Server/Components/Pages/Online.razor
  src/BootstrapBlazor.Server/Components/Pages/Online.razor.cs
  src/BootstrapBlazor/Services/WebClientService.cs
  src/BootstrapBlazor/wwwroot/modules/client.js
Labels: enhancement

#4390 doc(DockView): update dockview sample code
  src/BootstrapBlazor.Server/Components/Pages/Online.razor.css
  src/BootstrapBlazor.Server/Components/Samples/DockViews2/BaseDockView.cs
  src/BootstrapBlazor.Server/Components/Samples/DockViews2/DockViewCol.razor
  src/BootstrapBlazor.Server/Components/Samples/DockViews2/DockViewComplex.razor
  src/BootstrapBlazor.Server/Components/Samples/DockViews2/DockViewGroup.razor
  src/BootstrapBlazor.Server/Components/Samples/DockViews2/DockViewNest.razor
  src/BootstrapBlazor.Server/Components/Samples/DockViews2/DockViewRow.razor
  src/BootstrapBlazor.Server/Components/Samples/DockViews2/DockViewTitle.razor
Labels: documentation

#4392 feat(SignaturePad): remove css isolation
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
Labels: enhancement

#4394 refactor(SvgIcon): add css variable
  src/BootstrapBlazor/Components/Icon/BootstrapBlazorIcon.razor.scss
  src/BootstrapBlazor/Components/Icon/SvgIcon.razor.scss
  src/BootstrapBlazor/wwwroot/scss/components.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrapblazor.scss
Labels: enhancement

#4396 feat(Topology): remove css isoloation
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
Labels: enhancement

#4398 doc(Icon): update css refer documentation
  src/BootstrapBlazor.Server/Components/Components/Pre.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Icons/BootstrapIcons.razor
  src/BootstrapBlazor.Server/Components/Samples/Icons/MaterialDesignIcons.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/Services/PackageVersionService.cs
Labels: documentation

#4400 feat(ThemeProvider): support auto mode
  src/BootstrapBlazor.Server/Components/App.razor
  src/BootstrapBlazor.Server/Components/Components/Header.razor.cs
  src/BootstrapBlazor.Server/Controllers/Api/LoginController.cs
  src/BootstrapBlazor/Components/ThemeProvider/ThemeProvider.razor.cs
  src/BootstrapBlazor/Components/ThemeProvider/ThemeProvider.razor.js
  src/BootstrapBlazor/Components/ThemeProvider/ThemeValue.cs
  src/BootstrapBlazor/Converter/JsonEnumConverter.cs
  src/BootstrapBlazor/wwwroot/modules/utility.js
  test/UnitTest/Components/ThemeProviderTest.cs
Labels: enhancement

#4405 chore(TableExport): bump version 8.3.0
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
Labels: enhancement

#4406 feat(AutoComplete): add OnBlurAsync parameter
  src/BootstrapBlazor.Server/Components/Components/Pre.razor.cs
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.cs
  test/UnitTest/Components/AutoCompleteTest.cs
Labels: enhancement

#4408 fix(Table): table footer cell not update in Card mode
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor
Labels: bug

#4410 doc(Readme): add .net foundation code of conduct
  README.md
  README.zh-CN.md
  src/BootstrapBlazor.Server/Components/Pages/Index.razor
  src/BootstrapBlazor.Server/Components/Pages/Index.razor.css
Labels: documentation

#4414 feat(Table): IsKeepSelectedRows effect in add method
  src/BootstrapBlazor.Server/Components/Samples/Table/Tables.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.Checkbox.cs
  src/BootstrapBlazor/Components/Table/Table.razor.Edit.cs
  src/BootstrapBlazor/Components/Table/Table.razor.Toolbar.cs
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#4418 doc(Table): update edit mode sample code
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesEdit.razor
Labels: documentation

#4419 feat(DropdownWidget): add OnItemShown/CloseAsync parameter
  src/BootstrapBlazor.Server/Components/Samples/DropdownWidgets.razor
  src/BootstrapBlazor.Server/Components/Samples/DropdownWidgets.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/Properties/launchSettings.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/DropdownWidget/DropdownWidget.razor
  src/BootstrapBlazor/Components/DropdownWidget/DropdownWidget.razor.cs
  src/BootstrapBlazor/Components/DropdownWidget/DropdownWidget.razor.js
  test/UnitTest/Components/DropdownWidgetTest.cs
Labels: enhancement

#4421 chore(Security): update dependence
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Pages/Index.razor
  src/BootstrapBlazor.Server/wwwroot/images/dotnet_foundation_v4.png
Labels: chore

#4423 feat(ColorPicker): support IsSupportOpacity toggle
  src/BootstrapBlazor.Server/Components/Pages/Online.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/ColorPickers.razor
  src/BootstrapBlazor.Server/Components/Samples/ColorPickers.razor.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/ColorPicker/ColorPicker.razor
  src/BootstrapBlazor/Components/ColorPicker/ColorPicker.razor.cs
  src/BootstrapBlazor/Components/ColorPicker/ColorPicker.razor.js
  src/BootstrapBlazor/Directory.Build.props
  src/Frameworks.props
  test/UnitTest/Components/ColorPickerTest.cs
Labels: enhancement

#4425 chore(Props): update project configuration
  src/.config/dotnet-tools.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Directory.Build.props
  src/Directory.Build.props
  src/Version.targets
Labels: chore

#4428 doc(Icons): update icons style sheet documentation
  src/BootstrapBlazor.Server/Components/Samples/Icons/AntDesignIcons.razor
  src/BootstrapBlazor.Server/Components/Samples/Icons/ElementIcons.razor
  src/BootstrapBlazor.Server/Components/Samples/Icons/IconParks.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
Labels: documentation

#4431 doc(HtmlToPdf): bump version 8.2.1
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
Labels: documentation

#4433 chore(Props): update project configuration
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Directory.Build.props
  src/Bundle.props
  src/Directory.Build.props
Labels: chore

#4435 chore(deps): update dependence
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Pages/Chats.razor.cs
Labels: chore

#4443 doc(ImageCropper): add round image sample code
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/ImageCroppers.razor
  src/BootstrapBlazor.Server/Components/Samples/ImageCroppers.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Extensions/JSModuleExtensions.cs
  test/UnitTest/Extensions/JSModuleExtensionsTest.cs
Labels: documentation

#4438 feat(Link): add Rel parameter #4437
  src/BootstrapBlazor/Components/HtmlTag/Link.razor
  src/BootstrapBlazor/Components/HtmlTag/Link.razor.cs
  test/UnitTest/Components/LinkTest.cs
Labels: enhancement

#4440 doc(UriFormat): use SafeUnescaped instead of Unescaped
  src/BootstrapBlazor.Server/Components/Components/CultureChooser.razor.cs
  src/BootstrapBlazor.Server/Components/Layout/HomeLayout.razor.cs
  src/BootstrapBlazor.Server/Components/Pages/Localization.razor
Labels: documentation

#4449 feat(Layout): add ShowTabItemClose parameter
  src/BootstrapBlazor/Components/Layout/Layout.razor
  src/BootstrapBlazor/Components/Layout/Layout.razor.cs
  test/UnitTest/Components/LayoutTest.cs
Labels: enhancement

#4445 perf(Tab): improve create tab item from url performance
  exclusion.dic
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/DateTimePicker/TimePickerSetting.cs
  src/BootstrapBlazor/Components/Tab/BootstrapBlazorAuthorizeView.cs
  src/BootstrapBlazor/Components/Tab/Route/IRouteTable.cs
  src/BootstrapBlazor/Components/Tab/Route/RouteConstraint.cs
  src/BootstrapBlazor/Components/Tab/Route/RouteContext.cs
  src/BootstrapBlazor/Components/Tab/Route/RouteEntry.cs
  src/BootstrapBlazor/Components/Tab/Route/RouteKey.cs
  src/BootstrapBlazor/Components/Tab/Route/RouteTable.cs
  src/BootstrapBlazor/Components/Tab/Route/RouteTableFactory.cs
  src/BootstrapBlazor/Components/Tab/Route/RouteTemplate.cs
  src/BootstrapBlazor/Components/Tab/Route/StringSegmentAccumulator.cs
  src/BootstrapBlazor/Components/Tab/Route/TemplateSegment.cs
  src/BootstrapBlazor/Components/Tab/Route/TypeRouteConstraint.cs
  src/BootstrapBlazor/Components/Tab/Route/UrlValueConstraint.cs
  src/BootstrapBlazor/Components/Tab/Tab.razor.cs
  src/BootstrapBlazor/Components/Tab/TabItem.cs
  test/UnitTest/Components/TabTest.cs
Labels: enhancement

#4453 refactor(Localizer): update Localization namesapce
  src/BootstrapBlazor.Server/Extensions/CacheManagerExtensions.cs
  src/BootstrapBlazor.Server/Services/CodeSnippetService.cs
  src/BootstrapBlazor/Components/ValidateForm/ValidateForm.razor.cs
  src/BootstrapBlazor/Enums/TransitionType.cs
  src/BootstrapBlazor/Extensions/BootstrapBlazorServiceCollectionExtensions.cs
  src/BootstrapBlazor/Extensions/LocalizationOptionsExtensions.cs
  src/BootstrapBlazor/Localization/ILocalizationMissingItemHandler.cs
  src/BootstrapBlazor/Localization/ILocalizationResolve.cs
  src/BootstrapBlazor/Localization/Json/JsonLocalizationOptions.cs
  src/BootstrapBlazor/Localization/Json/JsonLocalizationServiceCollectionExtensions.cs
  src/BootstrapBlazor/Localization/Json/JsonStringLocalizer.cs
  src/BootstrapBlazor/Localization/Json/JsonStringLocalizerFactory.cs
  src/BootstrapBlazor/Localization/Json/StringLocalizer.cs
  src/BootstrapBlazor/Localization/NullLocalizationMissingItemHandler.cs
  src/BootstrapBlazor/Localization/NullLocalizationResolve.cs
  src/BootstrapBlazor/Options/BootstrapBlazorOptions.cs
  src/BootstrapBlazor/Services/CacheManager.cs
  src/BootstrapBlazor/Utils/Utility.cs
  src/BootstrapBlazor/Validators/RequiredValidator.cs
  test/UnitTest/Localization/JsonStringLocalizerTest.cs
  test/UnitTest/Utils/UtilityTest.cs
  test/UnitTest/Validators/RequiredValidatorTest.cs
Labels: enhancement

#4455 refactor(JsonEnumConverter): update namespace
  src/BootstrapBlazor/Converter/JsonEnumConverter.cs
Labels: enhancement

#4457 fix(ColorPicker): throw exception when dispose
  src/BootstrapBlazor/Components/ColorPicker/ColorPicker.razor.js
Labels: bug

#4459 feat(BarcodeGenerator): redesign BarcodeGenerator component
  exclusion.dic
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Components/BarcodeGenerateSettings.razor
  src/BootstrapBlazor.Server/Components/Components/BarcodeGenerateSettings.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/BarcodeGenerators.razor
  src/BootstrapBlazor.Server/Components/Samples/BarcodeGenerators.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  test/UnitTest/Converters/JsonDescriptionEnumConverterTest.cs
Labels: enhancement

#4460 fix(Select): update padding-right variable
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Select/Select.razor.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrapblazor.scss
Labels: bug

#4462 feat(Tab): support style attribute
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Tab/Tab.razor.cs
Labels: enhancement

#4464 chore(Icon): bump version 8.1.0
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
Labels: chore

#4469 feat(IZipArchiveService): auto create zip folder
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Services/DefaultZipArchiveService.cs
  test/UnitTest/Services/ZipArchiveServiceTest.cs
Labels: enhancement

#4472 doc(Site): update dependencies to the latest
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor/Directory.Build.props
Labels: documentation

#4477 fix(Tab): not update url when close the latest tab item
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Layout/Layout.razor.cs
  src/BootstrapBlazor/Components/Tab/Tab.razor
  src/BootstrapBlazor/Components/Tab/Tab.razor.cs
  test/UnitTest/Components/TabTest.cs
  test/UnitTestDocs/MenuTest.cs
Labels: bug

#4479 chore(sdk): add net9 sdk support
  src/BootstrapBlazor/Directory.Build.props
Labels: chore

#4481 feat(CheckboxList): update style of IsVertical
  src/BootstrapBlazor.Server/Components/App.razor
  src/BootstrapBlazor/Components/Checkbox/CheckboxList.razor.scss
Labels: enhancement

#4483 fix(FileIcon): missing svg widht/height
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/FileIcon/FileIcon.razor.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrapblazor.scss
Labels: bug

#4489 doc(Pre): add ignoreUnescapedHTML config
  src/BootstrapBlazor.Server/Components/Components/Pre.razor.js
  src/BootstrapBlazor/Services/Serial/DefaultSerialService.cs
  test/UnitTest/Services/SerialServiceTest.cs
Labels: documentation

#4494 doc(SlideButton): update Offset annotate
  src/BootstrapBlazor/Components/Button/SlideButton.razor.cs
Labels: documentation

#4492 feat(IBluetoothService): add IBluetoothService service
  exclusion.dic
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/Bluetooth.razor
  src/BootstrapBlazor.Server/Components/Samples/Bluetooth.razor.cs
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Extensions/BootstrapBlazorServiceCollectionExtensions.cs
  src/BootstrapBlazor/Extensions/IBluetoothDeviceExtensions.cs
  src/BootstrapBlazor/Services/Bluetooth/BluetoothDevice.cs
  src/BootstrapBlazor/Services/Bluetooth/DefaultBluetoothService.cs
  src/BootstrapBlazor/Services/Bluetooth/IBluetoothDevice.cs
  src/BootstrapBlazor/Services/Bluetooth/IBluetoothService.cs
  src/BootstrapBlazor/Services/Serial/DefaultSerialService.cs
  src/BootstrapBlazor/Services/Serial/ISerialPort.cs
  src/BootstrapBlazor/Services/Serial/ISerialService.cs
  src/BootstrapBlazor/Services/Serial/SerialPort.cs
  src/BootstrapBlazor/wwwroot/modules/bt.js
  test/UnitTest/Services/BluetoothServiceTest.cs
Labels: enhancement

#4496 feat(IBluetoothService): add BluetoothFilterOption parameter
  src/BootstrapBlazor.Server/Components/Samples/Bluetooth.razor
  src/BootstrapBlazor.Server/Components/Samples/Bluetooth.razor.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Services/Bluetooth/BluetoothFilter.cs
  src/BootstrapBlazor/Services/Bluetooth/BluetoothManufacturerDataFilter.cs
  src/BootstrapBlazor/Services/Bluetooth/BluetoothRequestOptions.cs
  src/BootstrapBlazor/Services/Bluetooth/BluetoothServiceDataFilter.cs
  src/BootstrapBlazor/Services/Bluetooth/DefaultBluetoothService.cs
  src/BootstrapBlazor/Services/Bluetooth/IBluetoothService.cs
  src/BootstrapBlazor/wwwroot/modules/bt.js
  test/UnitTest/Services/BluetoothServiceTest.cs
Labels: enhancement

#4501 feat(BluetoothDevice): add GetCurrentTime method
  .editorconfig
  src/BootstrapBlazor.Server/Components/Samples/Bluetooth.razor
  src/BootstrapBlazor.Server/Components/Samples/Bluetooth.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Extensions/BluetoothExtensions.cs
  src/BootstrapBlazor/Services/Bluetooth/BluetoothDevice.cs
  src/BootstrapBlazor/Services/Bluetooth/BluetoothDeviceInfo.cs
  src/BootstrapBlazor/Services/Bluetooth/BluetoothRequestOptions.cs
  src/BootstrapBlazor/Services/Bluetooth/BluetoothServices.cs
  src/BootstrapBlazor/Services/Bluetooth/DefaultBluetoothService.cs
  src/BootstrapBlazor/Services/Bluetooth/IBluetoothDevice.cs
  src/BootstrapBlazor/Services/Bluetooth/IBluetoothService.cs
  src/BootstrapBlazor/wwwroot/modules/bt.js
  test/UnitTest/Services/BluetoothServiceTest.cs
Labels: enhancement

#4504 feat(IBluetootchDevice): add GetPrimaryServices method
  src/BootstrapBlazor.Server/Components/Samples/Bluetooth.razor
  src/BootstrapBlazor.Server/Components/Samples/Bluetooth.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Extensions/BluetoothExtensions.cs
  src/BootstrapBlazor/Services/Bluetooth/BluetoothDevice.cs
  src/BootstrapBlazor/Services/Bluetooth/BluetoothRequestOptions.cs
  src/BootstrapBlazor/Services/Bluetooth/BluetoothServices.cs
  src/BootstrapBlazor/Services/Bluetooth/BluetoothUUIDAttribute.cs
  src/BootstrapBlazor/Services/Bluetooth/IBluetoothDevice.cs
  src/BootstrapBlazor/wwwroot/modules/bt.js
  test/UnitTest/Services/BluetoothServiceTest.cs
Labels: enhancement

#4512 feat(Select): support SelectedItem<TValue> generic value
  src/BootstrapBlazor.Server/Components/Samples/Selects.razor
  src/BootstrapBlazor.Server/Components/Samples/Selects.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/AutoFill/AutoFill.razor.cs
  src/BootstrapBlazor/Components/Select/Select.razor.cs
  src/BootstrapBlazor/Misc/IModelEqualityComparer.cs
  src/BootstrapBlazor/Misc/SelectedItemOfT.cs
  test/UnitTest/Components/SelectTest.cs
Labels: enhancement

#4518 feat(Textarea): add OnBlurAsync parameter
  src/BootstrapBlazor/Components/Textarea/Textarea.razor
  src/BootstrapBlazor/Components/Textarea/Textarea.razor.cs
  test/UnitTest/Components/TextareaTest.cs
Labels: enhancement

#4519 feat(BootstrapInputNumber): add OnBlurAsync parameter
  src/BootstrapBlazor/Components/InputNumber/BootstrapInputNumber.razor.cs
  test/UnitTest/Components/InputNumberTest.cs
Labels: enhancement

#4521 feat(BootstrapInput): add OnBlurAsync parameter
  src/BootstrapBlazor/Components/Input/BootstrapInput.razor
  src/BootstrapBlazor/Components/Input/BootstrapInput.razor.cs
  test/UnitTest/Components/InputTest.cs
  test/UnitTest/Utils/UtilityTest.cs
Labels: enhancement

#4523 feat(FloatingLabel): add OnBlurAsync parameter
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.cs
  src/BootstrapBlazor/Components/AutoFill/AutoFill.razor.cs
  src/BootstrapBlazor/Components/Input/BootstrapInput.razor.cs
  src/BootstrapBlazor/Components/Input/BootstrapInputBase.cs
  src/BootstrapBlazor/Components/Input/FloatingLabel.razor
  src/BootstrapBlazor/Components/InputNumber/BootstrapInputNumber.razor.cs
  src/BootstrapBlazor/Components/Textarea/Textarea.razor.cs
Labels: enhancement

#4525 feat(Slider): add OnBlurAsync parameter
  src/BootstrapBlazor/Components/Slider/Slider.razor
  test/UnitTest/Components/SliderTest.cs
Labels: enhancement

#4527 feat(AutoFill): add OnBlurAsync parameter
  test/UnitTest/Components/AutoFillTest.cs
Labels: enhancement

#4529 feat(DateTimePicker): add OnBlurAsync parameter
  src/BootstrapBlazor/Components/DateTimePicker/DateTimePicker.razor
  src/BootstrapBlazor/Components/DateTimePicker/DateTimePicker.razor.cs
  test/UnitTest/Components/DateTimePickerTest.cs
Labels: enhancement

#4531 chore(JsonEnumConverter): remove core namespace
  src/BootstrapBlazor/Components/ThemeProvider/ThemeValue.cs
  src/BootstrapBlazor/Converter/JsonDescriptionEnumConverter.cs
  src/BootstrapBlazor/Converter/JsonEnumConverter.cs
  src/BootstrapBlazor/Options/ScrollIntoViewOptions.cs
  src/BootstrapBlazor/Services/Bluetooth/BluetoothServices.cs
  src/BootstrapBlazor/Services/Serial/SerialPortFlowControlType.cs
  src/BootstrapBlazor/Services/Serial/SerialPortParityType.cs
  test/UnitTest/Converters/JsonDescriptionEnumConverterTest.cs
Labels: chore

#4533 feat(Tab): add height 100% style
  src/BootstrapBlazor/Components/Tab/Tab.razor.scss
Labels: enhancement

#4535 feat(Ribbon): update menu body height default value to 84.5
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrapblazor.scss
Labels: enhancement

#4539 feat(Title): update TitleService
  src/BootstrapBlazor/Components/Title/Title.cs
  src/BootstrapBlazor/Components/Title/TitleOption.cs
  src/BootstrapBlazor/Services/TitleService.cs
  src/BootstrapBlazor/wwwroot/modules/title.js
  src/BootstrapBlazor/wwwroot/modules/utility.js
  test/UnitTest/Components/TitleTest.cs
Labels: enhancement

#4537 feat(FullScreen): remove FullScreen component
  src/BootstrapBlazor/Components/BaseComponents/BootstrapBlazorRoot.razor
  src/BootstrapBlazor/Components/FullScreen/FullScreen.cs
  src/BootstrapBlazor/Services/FullScreenService.cs
  src/BootstrapBlazor/wwwroot/modules/fullscreen.js
  test/UnitTest/Components/FullScreenTest.cs
  test/UnitTest/Services/FullScreenServiceTest.cs
Labels: enhancement

#4541 feat(Clipboard): remove Clipboard component
  src/BootstrapBlazor/Components/BaseComponents/BootstrapBlazorRoot.razor
  src/BootstrapBlazor/Components/Clipboard/Clipboard.cs
  src/BootstrapBlazor/Components/Clipboard/ClipboardOption.cs
  src/BootstrapBlazor/Components/Clipboard/ClipboardService.cs
  src/BootstrapBlazor/Services/ClipboardService.cs
  test/UnitTest/Components/ClipboardServiceTest.cs
  test/UnitTest/Services/ClipboardServiceTest.cs
  test/UnitTest/Services/ClipboardTest.cs
Labels: enhancement

#4543 feat(BrowserFinger): redesign IBrowserFinger service
  src/BootstrapBlazor/Components/BaseComponents/BootstrapBlazorRoot.razor
  src/BootstrapBlazor/Components/BrowserFinger/BrowserFinger.cs
  src/BootstrapBlazor/Services/DefaultBrowserFingerService.cs
  src/BootstrapBlazor/Services/IBrowserFingerService.cs
  test/UnitTest/Services/BrowserFingerServiceTest.cs
Labels: enhancement

#4545 feat(EyeDropper): remove EyeDropper component
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/BaseComponents/BootstrapBlazorRoot.razor
  src/BootstrapBlazor/Components/EyeDropper/EyeDropper.cs
  src/BootstrapBlazor/Components/EyeDropper/EyeDropperOption.cs
  src/BootstrapBlazor/Services/EyeDropperService.cs
  src/BootstrapBlazor/wwwroot/modules/eye-dropper.js
  test/UnitTest/Services/EyeDropperServiceTest.cs
Labels: enhancement

#4547 doc(Download): update download url
  BootstrapBlazor.sln
  src/BootstrapBlazor.Server/Components/Components/Header.razor.cs
Labels: enhancement

#4550 feat(ResizeNotification): remove ResizeNotification service
  src/BootstrapBlazor/Components/BaseComponents/BootstrapBlazorRoot.razor
  src/BootstrapBlazor/Components/ResizeNotification/ResizeNotification.razor.scss
  src/BootstrapBlazor/Components/ResizeNotification/ResizeNotificationService.cs
  src/BootstrapBlazor/Components/ResizeNotification/Responsive.cs
  src/BootstrapBlazor/Components/Responsive/Responsive.cs
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Enums/BreakPoint.cs
  src/BootstrapBlazor/Extensions/BootstrapBlazorServiceCollectionExtensions.cs
  src/BootstrapBlazor/wwwroot/scss/components.scss
  src/BootstrapBlazor/wwwroot/scss/root.scss
  test/UnitTest/Components/ResponsiveTest.cs
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#4552 feat(Dialog): add ShowModal extensions method
  src/BootstrapBlazor.Server/Components/Samples/Dialogs.razor
  src/BootstrapBlazor.Server/Components/Samples/Dialogs.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Extensions/DialogServiceExtensions.cs
  test/UnitTest/Components/DialogTest.cs
  test/UnitTest/Services/ClipboardServiceTest.cs
Labels: enhancement

#4554 bug(Table): missing border style when fix column
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.scss
Labels: bug

#4558 doc(DemoBlock): add Height parameter
  src/BootstrapBlazor.Server/Components/Components/DemoBlock.razor
  src/BootstrapBlazor.Server/Components/Components/DemoBlock.razor.cs
Labels: documentation

#4556 feat(IFrame): update default style
  exclusion.dic
  src/BootstrapBlazor.Server/Components/Samples/IFrames.razor
  src/BootstrapBlazor.Server/Components/Samples/IFrames.razor.cs
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/IFrame/IFrame.razor.scss
Labels: enhancement

#4560 feat(ColorPicker): add Swatches parameter
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/ColorPicker/ColorPicker.razor.cs
  src/BootstrapBlazor/Components/ColorPicker/ColorPicker.razor.js
  test/UnitTest/Components/ColorPickerTest.cs
Labels: enhancement

#4564 chore(Sass): move sass dept into targets
  src/BootstrapBlazor/Directory.Build.props
  src/BootstrapBlazor/Directory.Build.targets
Labels: chore

#4566 feat(Checkbox): optimize OnBeforeStateChanged callback method
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Checkbox/Checkbox.razor
  src/BootstrapBlazor/Components/Checkbox/Checkbox.razor.cs
  src/BootstrapBlazor/Components/Checkbox/Checkbox.razor.js
Labels: enhancement

#4570 feat(AjaxService): redesign AjaxService
  src/BootstrapBlazor/Components/Ajax/Ajax.cs
  src/BootstrapBlazor/Components/Ajax/AjaxService.cs
  src/BootstrapBlazor/Components/BaseComponents/BootstrapBlazorRoot.razor.cs
  src/BootstrapBlazor/Services/AjaxService.cs
  test/UnitTest/Components/AjaxTest.cs
Labels: enhancement

#4568 doc(ErrorLogger): update sample code
  src/BootstrapBlazor.Server/Components/Samples/GlobalException.razor
  src/BootstrapBlazor/Components/BaseComponents/BootstrapBlazorRoot.razor
Labels: documentation

#4576 feat(ErrorLogger): redesign ErrorLogger component
  src/BootstrapBlazor.Server/Components/Pages/Layout.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/BaseComponents/BootstrapBlazorRoot.razor
  src/BootstrapBlazor/Components/BaseComponents/BootstrapBlazorRoot.razor.cs
  src/BootstrapBlazor/Components/BaseComponents/BootstrapComponentBase.cs
  src/BootstrapBlazor/Components/ErrorLogger/BootstrapBlazorErrorBoundary.cs
  src/BootstrapBlazor/Components/ErrorLogger/ErrorLogger.cs
  src/BootstrapBlazor/Components/ErrorLogger/IErrorLogger.cs
  src/BootstrapBlazor/Components/Layout/Layout.razor.cs
  src/BootstrapBlazor/Components/Tab/Tab.razor.cs
  test/UnitTest/Components/DateTimePickerTest.cs
  test/UnitTest/Components/ErrorHandlerTest.cs
  test/UnitTest/Components/ErrorLoggerTest.cs
Labels: enhancement

#4579 feat(IErrorLogger): support DetailedErrors config
  src/BootstrapBlazor.Server/Components/Components/MockError.razor
  src/BootstrapBlazor.Server/Components/Layout/BaseLayout.razor
  src/BootstrapBlazor.Server/Components/Samples/GlobalException.razor
  src/BootstrapBlazor.Server/Components/Samples/GlobalException.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/ErrorLogger/BootstrapBlazorErrorBoundary.cs
  src/BootstrapBlazor/Components/ErrorLogger/ErrorLogger.cs
  test/UnitTest/Components/ErrorLoggerTest.cs
Labels: enhancement

#4580 fix(SelectTable): validate component shoud be skip validate in search panel
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/Utils/Utility.cs
  test/UnitTest/Components/DateTimePickerTest.cs
Labels: bug

#4582 feat(PrintService): remove Print component
  src/BootstrapBlazor/Components/BaseComponents/BootstrapBlazorRoot.razor
  src/BootstrapBlazor/Components/Print/Print.cs
  src/BootstrapBlazor/Services/PrintService.cs
Labels: enhancement
