Repository dotnetcore/BootstrapBlazor, pull requests merged in 2024-08, with the labels that each got.

#3959 fix(Table): IsDisabled parameter not work on TableToolbarButton
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/TableToolbar.razor.cs
Labels: bug

#3961 feat(Modal): add RegisterShownCallback method
  src/BootstrapBlazor.Server/Components/Components/ResultDialogDemo2.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Modals.razor.cs
  src/BootstrapBlazor/Components/Input/BootstrapInputBase.cs
  src/BootstrapBlazor/Components/Modal/Modal.razor.cs
  test/UnitTest/Components/ButtonTest.cs
  test/UnitTest/Components/ModalTest.cs
  test/UnitTest/UnitTest.csproj
Labels: enhancement

#3963 feat(TextArea): support IsAutoFocus parameter
  src/BootstrapBlazor.Server/Components/Samples/TextAreas.razor
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Input/BootstrapInput.razor
  src/BootstrapBlazor/Components/Input/BootstrapInputBase.cs
  src/BootstrapBlazor/Components/Textarea/Textarea.razor
  src/BootstrapBlazor/Components/Textarea/Textarea.razor.cs
  src/BootstrapBlazor/Components/Textarea/Textarea.razor.js
Labels: enhancement

#3965 fix(Tab): disable drag when set AllowDrag to false
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Tab/Tab.razor.cs
Labels: bug

#3967 fix(Table): ShownWithBreakpoint not work on CardView mode
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor
Labels: bug

#3969 feat(FocusGuide): add FocusGuide component
  src/BootstrapBlazor.Server/Components/Samples/FocusGuides.razor
  src/BootstrapBlazor.Server/Components/Samples/FocusGuides.razor.cs
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/docs.json
  src/BootstrapBlazor/Components/CountUp/CountUp.razor.js
  src/BootstrapBlazor/Components/FocusGuide/FocusGuide.razor
  src/BootstrapBlazor/Components/FocusGuide/FocusGuide.razor.cs
  src/BootstrapBlazor/Components/FocusGuide/FocusGuide.razor.js
  src/BootstrapBlazor/Components/FocusGuide/FocusGuideConfig.cs
  src/BootstrapBlazor/Components/FocusGuide/FocusGuidePopover.cs
  src/BootstrapBlazor/Components/FocusGuide/FocusGuideState.cs
  src/BootstrapBlazor/Components/FocusGuide/FocusGuideStep.cs
  src/BootstrapBlazor/Components/FocusGuide/IFocusGuidePopover.cs
  src/BootstrapBlazor/Components/FocusGuide/InternalFocusPopover.cs
  src/BootstrapBlazor/Locales/en.json
  src/BootstrapBlazor/Locales/zh.json
  src/BootstrapBlazor/wwwroot/lib/driver/driver.css
  src/BootstrapBlazor/wwwroot/lib/driver/driver.js
Labels: enhancement

#3972 feat(ThemeProvider): add OnThemeChangedAsync parameter
  src/BootstrapBlazor.Server/Components/Components/Header.razor
  src/BootstrapBlazor.Server/Components/Components/Header.razor.cs
  src/BootstrapBlazor.Server/Components/Components/Header.razor.js
  src/BootstrapBlazor.Server/Components/Components/Pre.razor.js
  src/BootstrapBlazor.Server/wwwroot/lib/highlight/vs2015.min.css
  src/BootstrapBlazor/Components/ThemeProvider/ThemeProvider.razor
  src/BootstrapBlazor/Components/ThemeProvider/ThemeProvider.razor.cs
  src/BootstrapBlazor/Components/ThemeProvider/ThemeProvider.razor.js
  test/UnitTest/Components/ThemeProviderTest.cs
Labels: enhancement

#3974 feat(DriverJs): add BootstrapBlazor.DriverJs package
  BootstrapBlazor.sln
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/DriverDotnetJs.razor
  src/BootstrapBlazor.Server/Components/Samples/DriverDotnetJs.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/FocusGuides.razor
  src/BootstrapBlazor.Server/Components/Samples/FocusGuides.razor.cs
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/docs.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/FocusGuide/FocusGuide.razor.cs
  src/BootstrapBlazor/Components/FocusGuide/FocusGuide.razor.js
  src/BootstrapBlazor/Components/FocusGuide/FocusGuideState.cs
  src/BootstrapBlazor/Locales/en.json
  src/BootstrapBlazor/Locales/zh.json
  src/Extensions/Components/BootstrapBlazor.DriverJs/BootstrapBlazor.DriverJs.csproj
  src/Extensions/Components/BootstrapBlazor.DriverJs/Components/DriverJs.razor
  src/Extensions/Components/BootstrapBlazor.DriverJs/Components/DriverJs.razor.cs
  src/Extensions/Components/BootstrapBlazor.DriverJs/Components/DriverJs.razor.js
  src/Extensions/Components/BootstrapBlazor.DriverJs/Components/DriverJsConfig.cs
  src/Extensions/Components/BootstrapBlazor.DriverJs/Components/DriverJsPopover.cs
  src/Extensions/Components/BootstrapBlazor.DriverJs/Components/DriverJsStep.cs
  src/Extensions/Components/BootstrapBlazor.DriverJs/Components/IDriverJsPopover.cs
  src/Extensions/Components/BootstrapBlazor.DriverJs/Internal/InternalDriverJsPopover.cs
  src/Extensions/Components/BootstrapBlazor.DriverJs/Locales/en.json
  src/Extensions/Components/BootstrapBlazor.DriverJs/Locales/zh.json
  src/Extensions/Components/BootstrapBlazor.DriverJs/_Imports.razor
  src/Extensions/Components/BootstrapBlazor.DriverJs/logo.png
  src/Extensions/Components/BootstrapBlazor.DriverJs/wwwroot/driver.css
  src/Extensions/Components/BootstrapBlazor.DriverJs/wwwroot/driver.js
Labels: enhancement

#3975 fix(TimePicker): can't update value in Dialog
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/TimePicker/TimePickerCell.razor.js
Labels: bug

#3980 fix(Table): calc table height incorrect when invisible at first render
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.js
Labels: bug

#3977 fix(Layout): can't collapse side when set side with value
  src/BootstrapBlazor/Components/Layout/Layout.razor.cs
Labels: bug

#3984 feat(IntersectionObserver): add IntersectionObserver component
  src/BootstrapBlazor.Server/Components/Samples/IntersectionObservers.razor
  src/BootstrapBlazor.Server/Components/Samples/IntersectionObservers.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/IntersectionObservers.razor.css
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/docs.json
  src/BootstrapBlazor.Server/wwwroot/images/default.jpeg
  src/BootstrapBlazor/Components/IntersectionObserver/IntersectionObserver.razor
  src/BootstrapBlazor/Components/IntersectionObserver/IntersectionObserver.razor.cs
  src/BootstrapBlazor/Components/IntersectionObserver/IntersectionObserver.razor.js
  src/BootstrapBlazor/Components/IntersectionObserver/IntersectionObserverItem.razor
  src/BootstrapBlazor/Components/IntersectionObserver/IntersectionObserverItem.razor.cs
Labels: enhancement

#3986 feat(IntersectionObserver): add AutoUnobserve parameter
  src/BootstrapBlazor.Server/Components/Samples/IntersectionObservers.razor
  src/BootstrapBlazor.Server/Components/Samples/IntersectionObservers.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/IntersectionObservers.razor.css
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/IntersectionObserver/IntersectionObserver.razor.cs
  src/BootstrapBlazor/Components/IntersectionObserver/IntersectionObserver.razor.js
Labels: enhancement

#3988 refactor(IntersectionObserver): update Threshold data type
  src/BootstrapBlazor.Server/Components/Samples/IntersectionObservers.razor
  src/BootstrapBlazor.Server/Components/Samples/IntersectionObservers.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/IntersectionObserver/IntersectionObserver.razor.cs
  src/BootstrapBlazor/Components/IntersectionObserver/IntersectionObserver.razor.js
  src/BootstrapBlazor/Components/LoadMore/LoadMore.razor
  src/BootstrapBlazor/Components/LoadMore/LoadMore.razor.cs
  src/BootstrapBlazor/Components/LoadMore/LoadMore.razor.js
  test/UnitTest/Components/IntersectionObserverTest.cs
Labels: enhancement

#3990 refactor(IntersectionObserver): add AutoUnobserverWhenIntersection parameter
  src/BootstrapBlazor.Server/Components/Components/VideoDemo.razor
  src/BootstrapBlazor.Server/Components/Components/VideoDemo.razor.cs
  src/BootstrapBlazor.Server/Components/Components/VideoDemo.razor.js
  src/BootstrapBlazor.Server/Components/Samples/IntersectionObservers.razor
  src/BootstrapBlazor.Server/Components/Samples/IntersectionObservers.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/IntersectionObservers.razor.css
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/IntersectionObserver/IntersectionObserver.razor.cs
  src/BootstrapBlazor/Components/IntersectionObserver/IntersectionObserver.razor.js
  src/BootstrapBlazor/Components/IntersectionObserver/IntersectionObserverEntry.cs
  test/UnitTest/Components/IntersectionObserverTest.cs
Labels: enhancement

#3995 feat(DriverJs): add many instance method
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/DriverDotnetJs.razor.cs
  src/Extensions/Components/BootstrapBlazor.DriverJs/BootstrapBlazor.DriverJs.csproj
  src/Extensions/Components/BootstrapBlazor.DriverJs/Components/DriverJs.razor.cs
  src/Extensions/Components/BootstrapBlazor.DriverJs/Components/DriverJs.razor.js
  src/Extensions/Components/BootstrapBlazor.DriverJs/Locales/zh.json
Labels: enhancement

#3997 feat(DriverJs): add Highlight method
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/DriverDotnetJs.razor
  src/BootstrapBlazor.Server/Components/Samples/DriverDotnetJs.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/Extensions/Components/BootstrapBlazor.DriverJs/BootstrapBlazor.DriverJs.csproj
  src/Extensions/Components/BootstrapBlazor.DriverJs/Components/DriverJs.razor.cs
  src/Extensions/Components/BootstrapBlazor.DriverJs/Components/DriverJs.razor.js
  src/Extensions/Components/BootstrapBlazor.DriverJs/Components/DriverJsConfig.cs
  src/Extensions/Components/BootstrapBlazor.DriverJs/Components/DriverJsStep.cs
  src/Extensions/Components/BootstrapBlazor.DriverJs/Internal/InternalDriverJsPopover.cs
  src/Extensions/Components/BootstrapBlazor.DriverJs/Models/DriverJsHighlightPopover.cs
Labels: enhancement

#4000 fix(Table): throw exception when resize table
  src/BootstrapBlazor/Components/Table/Table.razor.js
Labels: bug

#4001 fix(Table): overflow container when toolbar or pages wrap
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.js
Labels: bug

#4003 bug(ValidaetForm): do not show label when InputGroup inside ValidateForm
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/ValidateForm/ValidateForm.razor.cs
  test/UnitTest/Components/DisplayTest.cs
  test/UnitTest/Components/ValidateTest.cs
Labels: bug

#4007 feat(TreeView): add MaxSelectedCount OnMaxSelectedCountExceed parameter
  src/BootstrapBlazor.Server/Components/Samples/Checkboxs.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/TreeViews.razor
  src/BootstrapBlazor.Server/Components/Samples/TreeViews.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/Checkbox/Checkbox.razor.cs
  src/BootstrapBlazor/Components/TreeView/TreeView.razor
  src/BootstrapBlazor/Components/TreeView/TreeView.razor.cs
  test/UnitTest/Components/TreeViewTest.cs
Labels: enhancement

#4010 feat(CheckboxList): add OnMaxSelectedCount/OnMaxSelectedCountExceed parameter
  src/BootstrapBlazor.Server/Components/Samples/CheckboxLists.razor
  src/BootstrapBlazor.Server/Components/Samples/CheckboxLists.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Checkbox/CheckboxList.razor
  src/BootstrapBlazor/Components/Checkbox/CheckboxList.razor.cs
  test/UnitTest/Components/CheckboxListTest.cs
Labels: enhancement

#4014 feat(TreeView): MaxSelectedCount support collapsed node
  src/BootstrapBlazor/Components/TreeView/TreeView.razor
  src/BootstrapBlazor/Components/TreeView/TreeView.razor.cs
  test/UnitTest/Components/TreeViewTest.cs
Labels: enhancement

#4015 fix(AutoFill): support enter when set OnCustomeFilter callback
  src/BootstrapBlazor/Components/AutoFill/AutoFill.razor.cs
Labels: bug

#4017 fix(Table): calc body height incorrect on CardView mode
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.js
Labels: bug

#4019 doc(Icon): add Icon menu
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/AntDesignIconList.razor
  src/BootstrapBlazor.Server/Components/Samples/FAIcons.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/IconParks.razor
  src/BootstrapBlazor.Server/Components/Samples/Icons/AntDesignIconList.razor
  src/BootstrapBlazor.Server/Components/Samples/Icons/AntDesignIconList.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Icons/AntDesignIconList.razor.css
  src/BootstrapBlazor.Server/Components/Samples/Icons/AntDesignIconList.razor.js
  src/BootstrapBlazor.Server/Components/Samples/Icons/AntDesignIcons.razor
  src/BootstrapBlazor.Server/Components/Samples/Icons/AntDesignIcons.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Icons/AntDesignIcons.razor.css
  src/BootstrapBlazor.Server/Components/Samples/Icons/BootstrapBlazorIcons.razor
  src/BootstrapBlazor.Server/Components/Samples/Icons/BootstrapBlazorIcons.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Icons/BootstrapBlazorIcons.razor.css
  src/BootstrapBlazor.Server/Components/Samples/Icons/BootstrapIcons.razor
  src/BootstrapBlazor.Server/Components/Samples/Icons/BootstrapIcons.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Icons/FAIconList.razor
  src/BootstrapBlazor.Server/Components/Samples/Icons/FAIconList.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Icons/FAIconList.razor.css
  src/BootstrapBlazor.Server/Components/Samples/Icons/FAIconList.razor.js
  src/BootstrapBlazor.Server/Components/Samples/Icons/FAIcons.razor
  src/BootstrapBlazor.Server/Components/Samples/Icons/FAIcons.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Icons/IconParkList.razor
  src/BootstrapBlazor.Server/Components/Samples/Icons/IconParkList.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Icons/IconParkList.razor.css
  src/BootstrapBlazor.Server/Components/Samples/Icons/IconParkList.razor.js
  src/BootstrapBlazor.Server/Components/Samples/Icons/IconParks.razor
  src/BootstrapBlazor.Server/Components/Samples/Icons/IconParks.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Icons/IconParks.razor.css
  src/BootstrapBlazor.Server/Components/Samples/Icons/MaterialDesignIcons.razor
  src/BootstrapBlazor.Server/Components/Samples/Icons/MaterialDesignIcons.razor.cs
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/Icon/SvgIcon.razor
  src/BootstrapBlazor/Components/Icon/SvgIcon.razor.cs
  src/BootstrapBlazor/Components/Icon/SvgIcon.razor.css
  src/Extensions/Components/BootstrapBlazor.BootstrapIcon/BootstrapBlazor.BootstrapIcon.csproj
  src/Extensions/Components/BootstrapBlazor.BootstrapIcon/bundleconfig.json
  src/Extensions/Components/BootstrapBlazor.BootstrapIcon/wwwroot/css/bootstrap-icons.css
  src/Extensions/Components/BootstrapBlazor.BootstrapIcon/wwwroot/css/bootstrap.min.css
  src/Extensions/Components/BootstrapBlazor.BootstrapIcon/wwwroot/css/bs.min.css
  src/Extensions/Components/BootstrapBlazor.FontAwesome/BootstrapBlazor.FontAwesome.csproj
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/css/font-awesome.min.css
  src/Extensions/Components/BootstrapBlazor.IconPark/BootstrapBlazor.IconPark.csproj
  src/Extensions/Components/BootstrapBlazor.IconPark/ByteDanceIcon.razor
  src/Extensions/Components/BootstrapBlazor.IconPark/ByteDanceIcon.razor.cs
  src/Extensions/Components/BootstrapBlazor.IconPark/ByteDanceIcon.razor.css
  test/UniTestIconPark/IconParkList.razor
  test/UniTestIconPark/UnitTest.cs
Labels: documentation

#4023 feat(Core): add BootstrapBlazor Core project
  BootstrapBlazor.sln
  src/Extensions/Components/BootstrapBlazor.Core/BootstrapBlazor.Core.csproj
  src/Extensions/Components/BootstrapBlazor.Core/logo.png
Labels: enhancement

#4025 feat(SvgIcon): add SvgIcon component
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Icon/SvgIcon.razor
  src/BootstrapBlazor/Components/Icon/SvgIcon.razor.cs
  test/UnitTest/Components/SvgIconTest.cs
Labels: enhancement

#4027 doc(DrawerService): add documentation for DrawerService
  src/BootstrapBlazor.Server/Components/Samples/BootstrapBlazorIcons.razor
  src/BootstrapBlazor.Server/Components/Samples/BootstrapBlazorIcons.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/DrawerServices.razor
  src/BootstrapBlazor.Server/Components/Samples/DrawerServices.razor.css
  src/BootstrapBlazor.Server/Components/Samples/Icons/BootstrapBlazorIcons.razor
  src/BootstrapBlazor.Server/Components/Samples/Icons/BootstrapBlazorIcons.razor.css
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/docs.json
Labels: documentation

#4029 feat(SortableList): add SortableList component
  BootstrapBlazor.sln
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Components/VideoDemo.razor
  src/BootstrapBlazor.Server/Components/Samples/IntersectionObservers.razor
  src/BootstrapBlazor.Server/Components/Samples/SortableLists.razor
  src/BootstrapBlazor.Server/Components/Samples/SortableLists.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/SortableLists.razor.css
  src/BootstrapBlazor.Server/Components/Samples/Table/Tables.razor.cs
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/docs.json
  src/Extensions/Components/BootstrapBlazor.Sortable/BootstrapBlazor.Sortable.csproj
  src/Extensions/Components/BootstrapBlazor.Sortable/Components/SortableList.razor
  src/Extensions/Components/BootstrapBlazor.Sortable/Components/SortableList.razor.cs
  src/Extensions/Components/BootstrapBlazor.Sortable/Components/SortableList.razor.css
  src/Extensions/Components/BootstrapBlazor.Sortable/Components/SortableList.razor.js
  src/Extensions/Components/BootstrapBlazor.Sortable/Components/SortableOption.cs
  src/Extensions/Components/BootstrapBlazor.Sortable/_Imports.razor
  src/Extensions/Components/BootstrapBlazor.Sortable/logo.png
  src/Extensions/Components/BootstrapBlazor.Sortable/wwwroot/sortable.esm.js
  src/Extensions/Components/BootstrapBlazor.Topology/Components/Topology/Topology.razor.cs
Labels: enhancement

#4034 refactor(SortableList): update OnUpdate/OnRemove logic
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/Extensions/Components/BootstrapBlazor.Sortable/BootstrapBlazor.Sortable.csproj
  src/Extensions/Components/BootstrapBlazor.Sortable/Components/SortableList.razor.js
Labels: enhancement

#4037 fix(Table): throw exception when resize window on enable detail and fix header
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.js
Labels: bug

#4038 feat(Chart): add Stack parameter
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/ChartDataset.cs
Labels: enhancement

#4040 fix(Table): auto cancel edit when select multiple row on EditForm mode
  src/BootstrapBlazor/Components/Table/Table.razor.Checkbox.cs
Labels: bug

#4042 feat(Table): add CreateTItemCallback to support required modifier
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesEdit.razor.cs
  src/BootstrapBlazor.Server/Services/TableDemoDataService.cs
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/Components/Table/Table.razor.Edit.cs
  src/BootstrapBlazor/Components/Table/Table.razor.Search.cs
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Services/DataServiceBase.cs
  src/BootstrapBlazor/Services/IDataService.cs
  src/BootstrapBlazor/Utils/Utility.cs
  src/Extensions/DataServices/BootstrapBlazor.DataAccess.EntityFrameworkCore/DefaultDataService.cs
  src/Extensions/DataServices/BootstrapBlazor.DataAccess.FreeSql/DefaultDataService.cs
  src/Extensions/DataServices/BootstrapBlazor.DataAccess.PetaPoco/DefaultDataService.cs
  src/Extensions/DataServices/BootstrapBlazor.DataAccess.SqlSugar/DefaultDataService.cs
  src/maui/BootstrapBlazor.Maui/Data/TableDemoDataServiceCollectionExtensions.cs
  test/UnitTest/Components/TableTest.cs
  test/UnitTest/Core/TableDialogTestBase.cs
  test/UnitTest/Core/TableDrawerTestBase.cs
  test/UnitTest/Services/DataServiceTest.cs
Labels: enhancement

#4041 Feat(Chart): use custom ChartDataSource
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/Charts/Line.razor
  src/BootstrapBlazor.Server/Components/Samples/Charts/Line.razor.cs
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/ChartDataSource.cs
Labels: enhancement

#4047 feat(Chart): add AppendData parameter
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/Charts/Line.razor
  src/BootstrapBlazor.Server/Components/Samples/Charts/Line.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/wwwroot/modules/utility.js
  src/Extensions/Components/BootstrapBlazor.Chart/BootstrapBlazor.Chart.csproj
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/Chart.razor.cs
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/Chart.razor.js
Labels: enhancement

#4048 fix(Table): fieldName incorrect when column set IsFixed=true
  src/BootstrapBlazor.Server/Components/Samples/Charts/Line.razor.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.cs
Labels: bug

#4050 fix(Table): has gap when set IsFixedFooter to true
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesFooter.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesFooter.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Toasts.razor
  src/BootstrapBlazor/Components/Table/Table.razor.scss
Labels: bug

#4053 doc(SortableList): update clone sample
  src/BootstrapBlazor.Server/Components/Samples/SortableLists.razor
  src/BootstrapBlazor.Server/Components/Samples/SortableLists.razor.cs
Labels: documentation

#4057 chore(props): update ide config for NET9
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Directory.Build.props
  src/BootstrapBlazor/bundleconfig.json
  src/Directory.Build.props
Labels: chore

#4054 fix(MaterialDesignIcons): wrong link to material design icon
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
Labels: documentation

#4061 feat(SortableList): add MultiDrag parameter
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Components/FooSortableListItem.razor
  src/BootstrapBlazor.Server/Components/Components/FooSortableListItem.razor.cs
  src/BootstrapBlazor.Server/Components/Components/FooSortableListItem.razor.css
  src/BootstrapBlazor.Server/Components/Samples/SortableLists.razor
  src/BootstrapBlazor.Server/Components/Samples/SortableLists.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/SortableLists.razor.css
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Directory.Build.props
  src/Extensions/Components/BootstrapBlazor.Sortable/BootstrapBlazor.Sortable.csproj
  src/Extensions/Components/BootstrapBlazor.Sortable/Components/SortableEvent.cs
  src/Extensions/Components/BootstrapBlazor.Sortable/Components/SortableList.razor.cs
  src/Extensions/Components/BootstrapBlazor.Sortable/Components/SortableList.razor.css
  src/Extensions/Components/BootstrapBlazor.Sortable/Components/SortableList.razor.js
  src/Extensions/Components/BootstrapBlazor.Sortable/Components/SortableListItem.cs
  src/Extensions/Components/BootstrapBlazor.Sortable/Components/SortableOption.cs
  src/Extensions/Directory.Build.props
Labels: enhancement

#4059 revert(Chart): remove Stack parameter
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/ChartDataset.cs
Labels: chore

#4064 doc(Chart): revert Stack parameter
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Components/FooSortableListItem.razor.css
  src/BootstrapBlazor.Server/Components/Samples/SortableLists.razor
  src/BootstrapBlazor.Server/Components/Samples/SortableLists.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/Extensions/Components/BootstrapBlazor.Chart/BootstrapBlazor.Chart.csproj
  src/Extensions/Components/BootstrapBlazor.Sortable/BootstrapBlazor.Sortable.csproj
  src/Extensions/Components/BootstrapBlazor.Sortable/Components/SortableList.razor.js
  src/Extensions/Components/BootstrapBlazor.Sortable/Components/SortableOption.cs
  src/Extensions/Components/BootstrapBlazor.Sortable/wwwroot/sortable.esm.js
Labels: documentation

#4074 feat(TableExport): add DataReaderBase class
  src/Extensions/Components/BootstrapBlazor.TableExport/BootstrapBlazor.TableExport.csproj
  src/Extensions/Components/BootstrapBlazor.TableExport/Services/ExportDataReader.cs
Labels: enhancement

#4072 fix(Table): not callback SelectedRow when query data
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.Edit.cs
  src/BootstrapBlazor/Components/Table/Table.razor.Toolbar.cs
Labels: bug

#4079 refactor(Chart): move AppendData into ChartDataSource
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/Charts/Line.razor
  src/BootstrapBlazor.Server/Components/Samples/Charts/Line.razor.cs
  src/Extensions/Components/BootstrapBlazor.Chart/BootstrapBlazor.Chart.csproj
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/Chart.razor.cs
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/Chart.razor.js
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/ChartDataSource.cs
Labels: enhancement

#4081 feat(CardUpload): add IsUploadButtonAtFirst
  src/BootstrapBlazor/Components/Upload/AvatarUpload.razor
  src/BootstrapBlazor/Components/Upload/AvatarUpload.razor.cs
  src/BootstrapBlazor/Components/Upload/CardUpload.razor
  src/BootstrapBlazor/Components/Upload/CardUpload.razor.cs
  src/BootstrapBlazor/wwwroot/modules/upload.js
  test/UnitTest/Components/UploadTest.cs
Labels: enhancement

#4084 refactor(Table): refactor logic for event callback selected row
  src/BootstrapBlazor.Server/Components/Samples/Dispatches.razor
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.Edit.cs
  src/BootstrapBlazor/Components/Table/Table.razor.Toolbar.cs
  src/BootstrapBlazor/Services/IEntityFrameworkCoreDataService.cs
  test/UnitTest/Components/ButtonTest.cs
Labels: enhancement

#4086 fix(Chart): reload method missong OnClickData callback
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/Extensions/Components/BootstrapBlazor.Chart/BootstrapBlazor.Chart.csproj
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/Chart.razor.cs
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/Chart.razor.js
Labels: bug

#4089 feat(Chart): upgrade chart.js to 4.4.3
  src/Extensions/Components/BootstrapBlazor.Chart/BootstrapBlazor.Chart.csproj
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/Chart.razor.js
  src/Extensions/Components/BootstrapBlazor.Chart/wwwroot/js/chart.js
  src/Extensions/Components/BootstrapBlazor.Chart/wwwroot/js/chart.umd.js
Labels: enhancement

#4091 feat(Chart): support client extension option
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/Charts/Line.razor
  src/BootstrapBlazor.Server/Components/Samples/Charts/Line.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Charts/Line.razor.js
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/Extensions/Components/BootstrapBlazor.Chart/BootstrapBlazor.Chart.csproj
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/Chart.razor.js
  src/Extensions/Components/BootstrapBlazor.Chart/Directory.Build.targets
  src/Extensions/Components/BootstrapBlazor.Chart/wwwroot/js/chart.js
Labels: enhancement

#4093 bug(Chart): update chart.js url
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/Extensions/Components/BootstrapBlazor.Chart/BootstrapBlazor.Chart.csproj
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/Chart.razor.js
Labels: bug

#4095 feat(ButtonUpload): add ChildContent parameter
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Upload/ButtonUpload.razor
  src/BootstrapBlazor/Components/Upload/ButtonUpload.razor.cs
Labels: enhancement

#4097 doc(BootstrapInput): update UseInputEvent documentation
  src/BootstrapBlazor.Server/Components/Samples/Icons/FAIconList.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  test/UnitTest/Components/TableTest.cs
  test/UnitTest/Components/UploadTest.cs
Labels: documentation

#4103 doc(Tutorials): add pro website link
  src/BootstrapBlazor.Server/Components/Components/ComponentCard.razor.css
  src/BootstrapBlazor.Server/Components/Layout/TutorialsNavMenu.razor.cs
  src/BootstrapBlazor.Server/Components/Pages/Introduction.razor
  src/BootstrapBlazor.Server/Components/Pages/Tutorials.razor
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/Admin.razor
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/Admin.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/Admin.razor.css
  src/BootstrapBlazor.Server/Data/WebsiteOptions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/wwwroot/images/tutorials/admin.jpg
  src/BootstrapBlazor.Server/wwwroot/images/tutorials/pro.jpg
Labels: documentation

#4105 chore(Build): upgrade dependence to latest version
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/Translators.razor.cs
  src/Extensions/Components/BootstrapBlazor.AzureTranslator/BootstrapBlazor.AzureTranslator.csproj
  src/Extensions/Components/BootstrapBlazor.BaiduOcr/BootstrapBlazor.BaiduOcr.csproj
  src/Extensions/Components/BootstrapBlazor.BaiduSpeech/BootstrapBlazor.BaiduSpeech.csproj
  src/Extensions/Components/BootstrapBlazor.Html2Pdf.iText/BootstrapBlazor.Html2Pdf.iText.csproj
  src/Extensions/Components/BootstrapBlazor.Html2Pdf/BootstrapBlazor.Html2Pdf.csproj
  src/Extensions/Components/BootstrapBlazor.TableExport/BootstrapBlazor.TableExport.csproj
  src/Extensions/Components/BootstrapBlazor.TableExport/MiniExcelDataReaderBase.cs
  src/Extensions/DataServices/BootstrapBlazor.DataAccess.EntityFrameworkCore/BootstrapBlazor.DataAccess.EntityFrameworkCore.csproj
  src/Extensions/DataServices/BootstrapBlazor.DataAccess.FreeSql/BootstrapBlazor.DataAccess.FreeSql.csproj
  src/Extensions/DataServices/BootstrapBlazor.DataAccess.PetaPoco/BootstrapBlazor.DataAccess.PetaPoco.csproj
  src/Extensions/DataServices/BootstrapBlazor.DataAccess.SqlSugar/BootstrapBlazor.DataAccess.SqlSugar.csproj
  src/Extensions/DataServices/BootstrapBlazor.DataAccess.SqlSugar/DefaultDataService.cs
  src/maui/BootstrapBlazor.Maui/BootstrapBlazor.Maui.csproj
  test/UniTest.Sass/UniTest.Sass.csproj
  test/UniTestSvgIcon/UniTestSvgIcon.csproj
  test/UnitTest.Localization/BootstrapBlazorEnTestBase.cs
  test/UnitTest.Localization/BootstrapBlazorZhTestBase .cs
  test/UnitTest.Localization/UnitTest.Localization.csproj
  test/UnitTest/Components/EditorFormTest.cs
  test/UnitTest/Core/BootstrapEditorFormTestBase.cs
  test/UnitTest/UnitTest.csproj
  test/UnitTestDocs/UnitTestDocs.csproj
  test/UnitTestEditor/EditorTest.cs
  test/UnitTestEditor/UnitTestEditor.csproj
  test/UnitTestHoliday/UnitTestHoliday.csproj
Labels: chore

#4107 test(Configuration): update test for check docs.json
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/docs.json
  test/UnitTestDocs/MenuTest.cs
Labels: test

#4109 fix(Split): iframe drags incorrectly
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Split/Split.razor.js
  src/BootstrapBlazor/Components/Split/Split.razor.scss
Labels: bug

#4114 feat(DockView): add Renderer parameter
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/Extensions/Components/BootstrapBlazor.DockView/BootstrapBlazor.DockView.csproj
  src/Extensions/Components/BootstrapBlazor.DockView/Components/DockViewComponent.razor.cs
  src/Extensions/Components/BootstrapBlazor.DockView/Components/DockViewConfig.cs
  src/Extensions/Components/BootstrapBlazor.DockView/Components/DockViewV2.razor.cs
Labels: enhancement

#4112 feat(ContextMenu): Add OnClickBefore callback event
  src/BootstrapBlazor.Server/Components/Samples/ContextMenus.razor
  src/BootstrapBlazor.Server/Components/Samples/ContextMenus.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/ContextMenu/ContextMenu.razor
  src/BootstrapBlazor/Components/ContextMenu/ContextMenu.razor.cs
  src/BootstrapBlazor/Components/ContextMenu/ContextMenuItem.cs
  src/BootstrapBlazor/Components/ContextMenu/ContextMenuItem.razor
  src/BootstrapBlazor/Components/ContextMenu/ContextMenuItem.razor.cs
  test/UnitTest/Components/ContextMenuTest.cs
Labels: enhancement

#4118 feat(WinBox): add WinBox component
  BootstrapBlazor.sln
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/WebSpeeches.razor
  src/BootstrapBlazor.Server/Components/Samples/WinBoxes.razor
  src/BootstrapBlazor.Server/Components/Samples/WinBoxes.razor.cs
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Extensions/ServicesExtensions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/docs.json
  src/Extensions/Components/BootstrapBlazor.WinBox/BootstrapBlazor.WinBox.csproj
  src/Extensions/Components/BootstrapBlazor.WinBox/Extensions/ServiceCollectionExtensions.cs
  src/Extensions/Components/BootstrapBlazor.WinBox/Extensions/WinBoxServiceExtensions.cs
  src/Extensions/Components/BootstrapBlazor.WinBox/WinBox.razor
  src/Extensions/Components/BootstrapBlazor.WinBox/WinBox.razor.cs
  src/Extensions/Components/BootstrapBlazor.WinBox/WinBox.razor.js
  src/Extensions/Components/BootstrapBlazor.WinBox/WinBoxOption.cs
  src/Extensions/Components/BootstrapBlazor.WinBox/WinBoxService.cs
  src/Extensions/Components/BootstrapBlazor.WinBox/logo.png
  src/Extensions/Components/BootstrapBlazor.WinBox/wwwroot/css/winbox.bundle.css
  src/Extensions/Components/BootstrapBlazor.WinBox/wwwroot/css/winbox.min.css
  src/Extensions/Components/BootstrapBlazor.WinBox/wwwroot/img/close.svg
  src/Extensions/Components/BootstrapBlazor.WinBox/wwwroot/img/exit.svg
  src/Extensions/Components/BootstrapBlazor.WinBox/wwwroot/img/full.svg
  src/Extensions/Components/BootstrapBlazor.WinBox/wwwroot/img/max.svg
  src/Extensions/Components/BootstrapBlazor.WinBox/wwwroot/img/min.svg
  src/Extensions/Components/BootstrapBlazor.WinBox/wwwroot/img/restore.svg
  src/Extensions/Components/BootstrapBlazor.WinBox/wwwroot/js/winbox.min.js
Labels: enhancement

#4116 doc(ContextMenus): add localization
  src/BootstrapBlazor.Server/Components/Samples/ContextMenus.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
Labels: documentation

#4120 fix(Table): do not trigger sort when click copy column icon
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesColumn.razor
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.js
Labels: bug

#4122 fix(Split): mask not removed after drag
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Split/Split.razor.js
Labels: bug

#4124 feat(IRootComponentGenerator): add IRootComponentGenerator interface
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/BaseComponents/BootstrapBlazorRoot.razor
  src/BootstrapBlazor/Components/BaseComponents/BootstrapBlazorRoot.razor.cs
  src/BootstrapBlazor/Services/IRootComponentGenerator.cs
Labels: enhancement

#4132 feat(WinBox): add ShowModal method
  exclusion.dic
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Components/CustomWinBoxContent.razor
  src/BootstrapBlazor.Server/Components/Components/CustomWinBoxContent.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/WinBoxes.razor
  src/BootstrapBlazor.Server/Components/Samples/WinBoxes.razor.cs
  src/Extensions/Components/BootstrapBlazor.WinBox/BootstrapBlazor.WinBox.csproj
  src/Extensions/Components/BootstrapBlazor.WinBox/Extensions/WinBoxServiceExtensions.cs
  src/Extensions/Components/BootstrapBlazor.WinBox/WinBox.razor
  src/Extensions/Components/BootstrapBlazor.WinBox/WinBox.razor.cs
  src/Extensions/Components/BootstrapBlazor.WinBox/WinBox.razor.js
  src/Extensions/Components/BootstrapBlazor.WinBox/WinBoxCloseButton.cs
  src/Extensions/Components/BootstrapBlazor.WinBox/WinBoxOption.cs
  src/Extensions/Components/BootstrapBlazor.WinBox/WinBoxService.cs
  src/Extensions/Components/BootstrapBlazor.WinBox/wwwroot/css/winbox.bundle.css
  test/UnitTest/Components/BootstrapBlazorRootTest.cs
Labels: enhancement

#4135 feat(WebSpeechSynthesizer): add WebSpeechSynthesizer service
  src/BootstrapBlazor.Server/Components/Samples/Speeches/WebSpeeches.razor
  src/BootstrapBlazor.Server/Components/Samples/Speeches/WebSpeeches.razor.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Speech/RecognizerService.cs
  src/BootstrapBlazor/Components/Speech/SynthesizerService.cs
  src/BootstrapBlazor/Components/Speech/WebSpeechService.cs
  src/BootstrapBlazor/Components/Speech/WebSpeechSynthesizer.cs
  src/BootstrapBlazor/Extensions/BootstrapBlazorServiceCollectionExtensions.cs
  src/BootstrapBlazor/wwwroot/modules/speech.js
Labels: enhancement

#4137 feat(WebSpeech): add GetVoices method
  src/BootstrapBlazor.Server/Components/Samples/Speeches/WebSpeeches.razor
  src/BootstrapBlazor.Server/Components/Samples/Speeches/WebSpeeches.razor.cs
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/docs.json
  src/BootstrapBlazor/Components/Speech/WebSpeechSynthesisError.cs
  src/BootstrapBlazor/Components/Speech/WebSpeechSynthesisUtterance.cs
  src/BootstrapBlazor/Components/Speech/WebSpeechSynthesisVoice.cs
  src/BootstrapBlazor/Components/Speech/WebSpeechSynthesizer.cs
  src/BootstrapBlazor/wwwroot/modules/speech.js
  test/UnitTest/Services/WebSpeechServiceTest.cs
Labels: enhancement

#4140 feat(WebSpeechRecognition): add WebSpeechRecognition service
  src/BootstrapBlazor.Server/Components/Samples/Speeches/WebSpeeches.razor
  src/BootstrapBlazor.Server/Components/Samples/Speeches/WebSpeeches.razor.cs
  src/BootstrapBlazor.Server/Extensions/WebSpeechRecognitionErrorExtensions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/DateTimeRange/DateTimeRange.razor.cs
  src/BootstrapBlazor/Components/Speech/WebSpeechService.cs
  src/BootstrapBlazor/Components/Transfer/Transfer.razor.cs
  src/BootstrapBlazor/Components/WebSpeech/Recognition/WebSpeechRecognition.cs
  src/BootstrapBlazor/Components/WebSpeech/Recognition/WebSpeechRecognitionError.cs
  src/BootstrapBlazor/Components/WebSpeech/Recognition/WebSpeechRecognitionEvent.cs
  src/BootstrapBlazor/Components/WebSpeech/Synthesizer/WebSpeechSynthesisError.cs
  src/BootstrapBlazor/Components/WebSpeech/Synthesizer/WebSpeechSynthesisUtterance.cs
  src/BootstrapBlazor/Components/WebSpeech/Synthesizer/WebSpeechSynthesisVoice.cs
  src/BootstrapBlazor/Components/WebSpeech/Synthesizer/WebSpeechSynthesizer.cs
  src/BootstrapBlazor/Components/WebSpeech/WebSpeechService.cs
  src/BootstrapBlazor/wwwroot/modules/recognition.js
  src/BootstrapBlazor/wwwroot/modules/synthesis.js
  test/UnitTest/Components/ButtonTest.cs
  test/UnitTest/Components/TableEnumFilterTest.cs
  test/UnitTest/Components/TableTestEFCore.cs
  test/UnitTest/Components/UploadTest.cs
  test/UnitTest/Core/ButtonTestBase.cs
  test/UnitTest/Core/EFCoreTableTestBase.cs
  test/UnitTest/Services/WebSpeechRecognitionTest.cs
  test/UnitTest/Services/WebSpeechSynthesizerTest.cs
Labels: enhancement

#4146 feat(Recognition): support continuous recognition
  src/BootstrapBlazor.Server/Components/Samples/Speeches/WebSpeeches.razor
  src/BootstrapBlazor.Server/Components/Samples/Speeches/WebSpeeches.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Speeches/WebSpeeches.razor.css
  src/BootstrapBlazor.Server/Components/Samples/WebSpeeches.razor
  src/BootstrapBlazor.Server/Components/Samples/WebSpeeches.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/WebSpeeches.razor.css
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/WebSpeech/Recognition/WebSpeechRecognition.cs
  src/BootstrapBlazor/Components/WebSpeech/Recognition/WebSpeechRecognitionEvent.cs
  src/BootstrapBlazor/Components/WebSpeech/Recognition/WebSpeechRecognitionOption.cs
  src/BootstrapBlazor/wwwroot/modules/recognition.js
  src/BootstrapBlazor/wwwroot/modules/synthesis.js
  test/UnitTest/Services/WebSpeechRecognitionTest.cs
Labels: enhancement

#4157 fix(TableExport): throw exception when exeport excel
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/Extensions/Components/BootstrapBlazor.TableExport/BootstrapBlazor.TableExport.csproj
  src/Extensions/Components/BootstrapBlazor.TableExport/Services/ExportDataReader.cs
Labels: bug

#4160 fix(WinBox): Title parameter not work
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/Extensions/Components/BootstrapBlazor.WinBox/BootstrapBlazor.WinBox.csproj
  src/Extensions/Components/BootstrapBlazor.WinBox/WinBox.razor.js
Labels: enhancement

#4162 feat(WebSpeechRecognition): add Callback parameter
  src/BootstrapBlazor.Server/Components/Samples/Speeches/WebSpeeches.razor.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/WebSpeech/Recognition/WebSpeechRecognition.cs
  src/BootstrapBlazor/wwwroot/modules/recognition.js
Labels: enhancement

#4164 feat(WinBox): add Mask background color function
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/Extensions/Components/BootstrapBlazor.WinBox/BootstrapBlazor.WinBox.csproj
  src/Extensions/Components/BootstrapBlazor.WinBox/wwwroot/css/winbox.bundle.css
Labels: enhancement

#4165 fix(AutoComplete): support Tab when set IsPopover to true
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.js
Labels: bug

#4138 feat(split): support pane collapsible
  src/BootstrapBlazor.Server/Components/Samples/Splits.razor
  src/BootstrapBlazor.Server/Components/Samples/Splits.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Splits.razor.css
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Split/Split.razor
  src/BootstrapBlazor/Components/Split/Split.razor.cs
  src/BootstrapBlazor/Components/Split/Split.razor.js
  src/BootstrapBlazor/Components/Split/Split.razor.scss
  src/BootstrapBlazor/wwwroot/scss/bootstrapblazor-dark.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrapblazor.scss
  test/UnitTest/Components/SplitTest.cs
Labels: enhancement

#4167 fix(WinBox): dispose ChildContent component
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Components/CustomWinBoxContent.razor
  src/Extensions/Components/BootstrapBlazor.WinBox/BootstrapBlazor.WinBox.csproj
  src/Extensions/Components/BootstrapBlazor.WinBox/WinBox.razor.cs
Labels: bug

#4171 feat(split): add IsKeepOriginalSize parameter
  src/BootstrapBlazor.Server/Components/Samples/Splits.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Split/Split.razor.cs
  src/BootstrapBlazor/Components/Split/Split.razor.js
  src/BootstrapBlazor/Components/Split/Split.razor.scss
  test/UnitTest/Components/SplitTest.cs
Labels: enhancement

#4173 fix(PopConfirmButton): auto reset palcement to Auto
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Button/PopConfirmButtonBase.cs
Labels: bug

#4175 feat(Split): add ShowBarHandle parameter
  src/BootstrapBlazor.Server/Components/Samples/Splits.razor
  src/BootstrapBlazor.Server/Components/Samples/Splits.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/Split/Split.razor
  src/BootstrapBlazor/Components/Split/Split.razor.cs
  test/UnitTest/Components/PopConfirmButtonTest.cs
  test/UnitTest/Components/SplitTest.cs
Labels: enhancement

#4177 feat(Split): add OnResizeAsync parameter
  src/BootstrapBlazor.Server/Components/Samples/Splits.razor
  src/BootstrapBlazor.Server/Components/Samples/Splits.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Split/Split.razor.cs
  src/BootstrapBlazor/Components/Split/Split.razor.js
  src/BootstrapBlazor/Components/Split/SplitterResizedEventArgs.cs
  test/UnitTest/Components/SplitTest.cs
Labels: enhancement

#4180 feat(Split): resolve minimum setting conflict
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Split/Split.razor.js
  src/BootstrapBlazor/Components/Split/Split.razor.scss
  src/BootstrapBlazor/Components/Tooltip/Tooltip.razor.js
Labels: enhancement

#4184 refactor(Split): update javascript make min/max correct
  src/BootstrapBlazor.Server/Components/Samples/Splits.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/Split/Split.razor.js
Labels: enhancement

#4182 test(Core): merge base class
  src/BootstrapBlazor/BootstrapBlazor.csproj
  test/UnitTest/Components/ExportPdfButtonTest.cs
  test/UnitTest/Components/TabTest.cs
  test/UnitTest/Components/TableTestEFCore.cs
  test/UnitTest/Components/ValidateFormTest.cs
  test/UnitTest/Core/EFCoreTableTestBase.cs
  test/UnitTest/Core/ExportPdfTestBase.cs
  test/UnitTest/Core/FooContext.cs
  test/UnitTest/Core/TabTestBase.cs
  test/UnitTest/Core/ValidateFormTestBase.cs
Labels: test

#4186 feat(Player): add Player component
  BootstrapBlazor.sln
  exclusion.dic
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Dropdown/Dropdown.razor.cs
  src/Extensions/Components/BootstrapBlazor.Player/BootstrapBlazor.Player.csproj
  src/Extensions/Components/BootstrapBlazor.Player/Player.razor
  src/Extensions/Components/BootstrapBlazor.Player/Player.razor.cs
  src/Extensions/Components/BootstrapBlazor.Player/Player.razor.js
  src/Extensions/Components/BootstrapBlazor.Player/PlayerOption.cs
  src/Extensions/Components/BootstrapBlazor.Player/PlayerSources.cs
  src/Extensions/Components/BootstrapBlazor.Player/logo.png
  src/Extensions/Components/BootstrapBlazor.Player/wwwroot/hls.js
  src/Extensions/Components/BootstrapBlazor.Player/wwwroot/hls.min.js
  src/Extensions/Components/BootstrapBlazor.Player/wwwroot/plyr.css
  src/Extensions/Components/BootstrapBlazor.Player/wwwroot/plyr.js
  src/Extensions/Components/BootstrapBlazor.Player/wwwroot/plyr.min.js
Labels: enhancement
