Repository dotnetcore/BootstrapBlazor, pull requests merged in 2024-07, with the labels that each got.

#3766 fix(MultiFilter): missing item selection status
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Filters/MultiFilter.razor.cs
Labels: bug

#3768 fix(Table): column resize not work in mobile
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.js
  src/BootstrapBlazor/wwwroot/modules/utility.js
Labels: bug

#3773 fix(MultiFilter): not keep selected items open again
  src/BootstrapBlazor/Components/Filters/MultiFilter.razor.cs
Labels: bug

#3775 feat(ClipboardService): support getTextFromClipboard
  src/BootstrapBlazor.Server/Components/Samples/Clipboards.razor
  src/BootstrapBlazor.Server/Components/Samples/Clipboards.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/Clipboard/Clipboard.cs
  src/BootstrapBlazor/Components/Clipboard/ClipboardService.cs
  src/BootstrapBlazor/Services/BootstrapServiceBase.cs
  src/BootstrapBlazor/wwwroot/modules/utility.js
  test/UnitTest/Services/ClipboardTest.cs
Labels: enhancement

#3778 feat(MultiFilter): add OnGetItemsAsync parameter for performance
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesFilter.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesFilter.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/docs.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Filters/FilterBase.cs
  src/BootstrapBlazor/Components/Filters/MultiFilter.razor
  src/BootstrapBlazor/Components/Filters/MultiFilter.razor.cs
  src/BootstrapBlazor/Components/Filters/MultiFilter.razor.js
  src/BootstrapBlazor/Components/Filters/MultiFilter.razor.scss
  src/BootstrapBlazor/Components/Filters/NumberFilter.razor.cs
  src/BootstrapBlazor/Components/Filters/StringFilter.razor.cs
  test/UnitTest/Components/TableFilterTest.cs
Labels: enhancement

#3786 feat(Table): add AutoScrollVerticalAlign parameter
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesSelection.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesSelection.razor.js
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Components/Table/Table.razor.js
  src/BootstrapBlazor/Enums/ScrollToViewAlign.cs
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#3790 feat(ShowColumnToolbox): add ShowColumnWidthTooltip parameter
  src/BootstrapBlazor/Components/Table/Table.razor.Localization.cs
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Components/Table/Table.razor.js
  src/BootstrapBlazor/Locales/en.json
  src/BootstrapBlazor/Locales/zh.json
  test/UnitTest/Components/ButtonTest.cs
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#3788 feat(ClipboardService): add Get method on service
  src/BootstrapBlazor.Server/Components/Samples/Clipboards.razor
  src/BootstrapBlazor.Server/Components/Samples/Clipboards.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/Clipboard/Clipboard.cs
  src/BootstrapBlazor/Components/Clipboard/ClipboardItem.cs
  src/BootstrapBlazor/Components/Clipboard/ClipboardService.cs
  src/BootstrapBlazor/wwwroot/modules/utility.js
  test/UnitTest/Services/ClipboardTest.cs
Labels: enhancement

#3794 fix(Table): scroll to top when click row on VirtualScroll mode
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Filters/TableFilter.razor.cs
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  test/UnitTest/Components/TableTest.cs
Labels: bug

#3795 doc(Table): update AutoRefresh sample code
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesAutoRefresh.razor.cs
Labels: question, need-repro-project

#3796 feat(MultiFilter): add AlwaysTriggerGetItems parameter
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Filters/MultiFilter.razor.cs
  src/BootstrapBlazor/Components/Filters/MultiFilter.razor.js
  test/UnitTest/Components/TableFilterTest.cs
Labels: enhancement

#3798 fix(Popover): fixed the flickering issue when closing pop-up windows
  src/BootstrapBlazor/wwwroot/modules/base-popover.js
Labels: bug

#3800 feat(MultiFilter): keep selected item when AlwaysTriggerGetItems is true
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Filters/MultiFilter.razor.cs
  src/BootstrapBlazor/Components/Filters/MultiFilter.razor.js
  test/UnitTest/Components/TableFilterTest.cs
Labels: enhancement

#3802 feat(ITableColumn): update parameter to Nullable data type
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Attributes/AutoGenerateColumnAttribute.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/EditorForm/EditorForm.razor.cs
  src/BootstrapBlazor/Components/EditorForm/EditorItem.cs
  src/BootstrapBlazor/Components/EditorForm/IEditorItem.cs
  src/BootstrapBlazor/Components/Table/ITableColumn.cs
  src/BootstrapBlazor/Components/Table/InternalTableColumn.cs
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/Components/Table/Table.razor.Search.cs
  src/BootstrapBlazor/Components/Table/Table.razor.Sort.cs
  src/BootstrapBlazor/Components/Table/Table.razor.Toolbar.cs
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Components/Table/TableColumn.cs
  src/BootstrapBlazor/Dynamic/DataTableDynamicContext.cs
  src/BootstrapBlazor/Extensions/DialogServiceExtensions.cs
  src/BootstrapBlazor/Extensions/IEditorItemExtensions.cs
  src/BootstrapBlazor/Extensions/ITableColumnExtensions.cs
  src/BootstrapBlazor/Extensions/JSModuleExtensions.cs
  src/BootstrapBlazor/Extensions/TableEditDialogOptionExtensions.cs
  src/BootstrapBlazor/Utils/Utility.cs
  src/Extensions/Components/BootstrapBlazor.AzureSpeech/Services/AzureSynthesizerProvider.cs
  test/UnitTest/Attributes/AutoGenerateClassTest.cs
  test/UnitTest/Extensions/ITableColumnExtensionsTest.cs
Labels: enhancement

#3805 feat(Popover): add Template parameter
  src/BootstrapBlazor.Server/Components/Samples/Popovers.razor
  src/BootstrapBlazor.Server/Components/Samples/Popovers.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/Popover/Popover.razor
  src/BootstrapBlazor/Components/Popover/Popover.razor.cs
  src/BootstrapBlazor/Components/Popover/Popover.razor.js
  src/BootstrapBlazor/Components/Tooltip/Tooltip.razor
  src/BootstrapBlazor/wwwroot/modules/popover.js
  test/UnitTest/Components/ButtonTest.cs
  test/UnitTest/Components/PopoverTest.cs
Labels: enhancement

#3807 feat(Tooltip): add FallbackPlacements parameter
  src/BootstrapBlazor/Components/Tooltip/Tooltip.razor
  src/BootstrapBlazor/Components/Tooltip/Tooltip.razor.cs
  src/BootstrapBlazor/Components/Tooltip/Tooltip.razor.js
  test/UnitTest/Components/TooltipTest.cs
Labels: enhancement

#3809 feat(Tooltip): add Offset parameter
  src/BootstrapBlazor.Server/Components/Samples/Tooltips.razor.cs
  src/BootstrapBlazor/Components/Tooltip/Tooltip.razor
  src/BootstrapBlazor/Components/Tooltip/Tooltip.razor.cs
  test/UnitTest/Components/TooltipTest.cs
Labels: enhancement

#3811 feat(DockView): add OnSplitterCallbackAsync parameter
  src/Extensions/Components/BootstrapBlazor.DockView/BootstrapBlazor.DockView.csproj
  src/Extensions/Components/BootstrapBlazor.DockView/Components/DockViewConfig.cs
  src/Extensions/Components/BootstrapBlazor.DockView/Components/DockViewV2.razor.cs
  src/Extensions/Components/BootstrapBlazor.DockView/Components/DockViewV2.razor.js
  src/Extensions/Components/BootstrapBlazor.DockView/wwwroot/js/dockview-config.js
  src/Extensions/Components/BootstrapBlazor.DockView/wwwroot/js/dockview-group.js
  src/Extensions/Components/BootstrapBlazor.DockView/wwwroot/js/dockview-utils.js
Labels: enhancement

#3784 feat(ShowColumnToolbox): add ShowColumnToolbox parameter
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesColumn.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Attributes/AutoGenerateColumnAttribute.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/ITableColumn.cs
  src/BootstrapBlazor/Components/Table/InternalTableColumn.cs
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/Components/Table/Table.razor.Sort.cs
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Components/Table/Table.razor.js
  src/BootstrapBlazor/Components/Table/Table.razor.scss
  src/BootstrapBlazor/Components/Table/TableColumn.cs
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/BootstrapBlazor/Extensions/ITableColumnExtensions.cs
  src/BootstrapBlazor/Locales/en.json
  src/BootstrapBlazor/Locales/zh.json
  src/BootstrapBlazor/Options/IconThemeOptions.cs
  src/BootstrapBlazor/wwwroot/scss/root.scss
  test/UnitTest/Attributes/AutoGenerateClassTest.cs
  test/UnitTest/Components/ButtonTest.cs
  test/UnitTest/Components/TableTest.cs
  test/UnitTest/Extensions/ITableColumnExtensionsTest.cs
Labels: enhancement

#3813 feat(Popover): add Offset parameter
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesColumn.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesColumn.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesColumn.razor.css
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Popover/Popover.razor
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/Components/Table/Table.razor.js
  src/BootstrapBlazor/Components/Tooltip/Tooltip.razor
  src/BootstrapBlazor/Components/Tooltip/Tooltip.razor.cs
Labels: enhancement

#3816 fix(Dialog): do not remove when browser go back/forward
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Modal/Modal.razor.js
Labels: bug

#3819 doc(AutoGenerateClassAttribute): add docmentation for auto class/column attribute
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesAttribute.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesAttribute.razor.cs
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
Labels: documentation

#3822 fix(Topology): missing background cause value is null
  src/Extensions/Components/BootstrapBlazor.Topology/BootstrapBlazor.Topology.csproj
  src/Extensions/Components/BootstrapBlazor.Topology/Components/Topology/TopologyItem.cs
Labels: bug

#3824 fix(DockViewV2): re-layout issue after dragging panel
  src/BootstrapBlazor.Server/Components/Samples/DockViews2/DockViewGroup.razor
  src/Extensions/Components/BootstrapBlazor.DockView/BootstrapBlazor.DockView.csproj
  src/Extensions/Components/BootstrapBlazor.DockView/wwwroot/css/dockview.css
  src/Extensions/Components/BootstrapBlazor.DockView/wwwroot/js/dockview-core.esm.js
Labels: bug

#3826 feat(Topology): add IsDisableHover parameter
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesEdit.razor
  src/BootstrapBlazor.Server/Components/Samples/Topologies.razor
  src/Extensions/Components/BootstrapBlazor.Topology/Components/Topology/Topology.razor.cs
  src/Extensions/Components/BootstrapBlazor.Topology/Components/Topology/Topology.razor.js
Labels: enhancement

#3828 doc(IconTheme): add TableColumnToolboxIcon
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/Extensions/Components/BootstrapBlazor.BootstrapIcon.Extensions/BootstrapBlazor.BootstrapIcon.Extensions.csproj
  src/Extensions/Components/BootstrapBlazor.BootstrapIcon.Extensions/DefaultIcon.cs
  src/Extensions/Components/BootstrapBlazor.MaterialDesign.Extensions/BootstrapBlazor.MaterialDesign.Extensions.csproj
  src/Extensions/Components/BootstrapBlazor.MaterialDesign.Extensions/DefaultIcon.cs
  src/Extensions/Components/BootstrapBlazor.MaterialDesign.Extensions/ServiceCollectionExtensions.cs
Labels: documentation

#3830 doc(Video): add Video link
  src/BootstrapBlazor.Server/Components/Samples/ThemeProviders.razor
  src/BootstrapBlazor.Server/Components/Samples/ThemeProviders.razor.cs
  src/BootstrapBlazor.Server/docs.json
  src/BootstrapBlazor/Options/BootstrapBlazorOptions.cs
  src/Bundle.props
Labels: documentation

#3832 refactor(DockView): update reset width logic
  src/Extensions/Components/BootstrapBlazor.DockView/BootstrapBlazor.DockView.csproj
  src/Extensions/Components/BootstrapBlazor.DockView/wwwroot/js/dockview-config.js
  src/Extensions/Components/BootstrapBlazor.DockView/wwwroot/js/dockview-content.js
  src/Extensions/Components/BootstrapBlazor.DockView/wwwroot/js/dockview-core.esm.js
  src/Extensions/Components/BootstrapBlazor.DockView/wwwroot/js/dockview-extensions.js
  src/Extensions/Components/BootstrapBlazor.DockView/wwwroot/js/dockview-group.js
  src/Extensions/Components/BootstrapBlazor.DockView/wwwroot/js/dockview-panel.js
  src/Extensions/Components/BootstrapBlazor.DockView/wwwroot/js/dockview-utils.js
Labels: enhancement

#3834 feat(Table): add ResetSortAsync method
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  test/UnitTest/Components/TableTest.cs
  test/UnitTest/Dynamic/DataTableDynamicContextTest.cs
  test/UnitTest/Localization/JsonStringLocalizerTest.cs
  test/UnitTest/UnitTest.csproj
Labels: enhancement

#3836 doc(Table): add documation for ShowRefresh
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesToolbar.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/Table/Table.razor.Edit.cs
Labels: documentation

#3840 feat(DockView): add keep position function
  src/Extensions/Components/BootstrapBlazor.DockView/BootstrapBlazor.DockView.csproj
  src/Extensions/Components/BootstrapBlazor.DockView/wwwroot/js/dockview-core.esm.js
  src/Extensions/Components/BootstrapBlazor.DockView/wwwroot/js/dockview-group.js
  src/Extensions/Components/BootstrapBlazor.DockView/wwwroot/js/dockview-panel.js
  src/Extensions/Components/BootstrapBlazor.DockView/wwwroot/js/dockview-utils.js
Labels: enhancement

#3838 feat(Table): set ShowColumnWidthTooltip default value to false
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.cs
Labels: enhancement

#3842 refactor(DockView): update dockview-config.js
  src/Extensions/Components/BootstrapBlazor.DockView/BootstrapBlazor.DockView.csproj
  src/Extensions/Components/BootstrapBlazor.DockView/wwwroot/js/dockview-config.js
Labels: enhancement

#3846 feat(BootstrapBlazorOptions): add ContextMenuOptions class
  src/BootstrapBlazor.Server/appsettings.Development.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Components/TreeView/TreeView.razor.cs
  src/BootstrapBlazor/Options/BootstrapBlazorOptions.cs
  src/BootstrapBlazor/Options/ContextMenuOptions.cs
  test/UnitTest/Options/BootstrapBlazorOptionsTest.cs
Labels: enhancement

#3848 doc(GlobalOptions): add GlobalOpton documentation
  src/BootstrapBlazor.Server/Components/Pages/GlobalOption.razor
  src/BootstrapBlazor.Server/Components/Pages/Globalization.razor
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
Labels: documentation

#3850 feat(TreeView): update ResetSearchButton icon
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Options/IconThemeOptions.cs
Labels: enhancement

#3852 feat(TreeView): update icon for clear search bar
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/Extensions/Components/BootstrapBlazor.BootstrapIcon.Extensions/BootstrapBlazor.BootstrapIcon.Extensions.csproj
  src/Extensions/Components/BootstrapBlazor.BootstrapIcon.Extensions/DefaultIcon.cs
  src/Extensions/Components/BootstrapBlazor.MaterialDesign.Extensions/BootstrapBlazor.MaterialDesign.Extensions.csproj
  src/Extensions/Components/BootstrapBlazor.MaterialDesign.Extensions/DefaultIcon.cs
Labels: enhancement

#3844 refactor(DockView): update addPanel method
  src/Extensions/Components/BootstrapBlazor.DockView/BootstrapBlazor.DockView.csproj
  src/Extensions/Components/BootstrapBlazor.DockView/wwwroot/js/dockview-config.js
  src/Extensions/Components/BootstrapBlazor.DockView/wwwroot/js/dockview-extensions.js
  src/Extensions/Components/BootstrapBlazor.DockView/wwwroot/js/dockview-group.js
  src/Extensions/Components/BootstrapBlazor.DockView/wwwroot/js/dockview-panel.js
  src/Extensions/Components/BootstrapBlazor.DockView/wwwroot/js/dockview-utils.js
Labels: enhancement

#3858 doc(GlobalOptions): update documentation for global options
  src/BootstrapBlazor.Server/Components/Pages/GlobalOption.razor
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Options/BootstrapBlazorOptions.cs
  src/BootstrapBlazor/Options/ConnectionHubOptions.cs
  src/BootstrapBlazor/Services/IPLocator/IpLocatorOptions.cs
Labels: documentation

#3860 fix(DockView): update keep active panel logic
  src/Extensions/Components/BootstrapBlazor.DockView/BootstrapBlazor.DockView.csproj
  src/Extensions/Components/BootstrapBlazor.DockView/wwwroot/js/dockview-extensions.js
  src/Extensions/Components/BootstrapBlazor.DockView/wwwroot/js/dockview-group.js
  src/Extensions/Components/BootstrapBlazor.DockView/wwwroot/js/dockview-panel.js
  src/Extensions/Components/BootstrapBlazor.DockView/wwwroot/js/dockview-utils.js
Labels: bug

#3866 refactor(DockView): support multiple custom class
  src/Extensions/Components/BootstrapBlazor.DockView/BootstrapBlazor.DockView.csproj
  src/Extensions/Components/BootstrapBlazor.DockView/wwwroot/js/dockview-content.js
Labels: enhancement

#3867 fix(Print): support textarea html element
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Print/PrintButton.razor.js
Labels: bug

#3871 chore(Minifiler): remove Bundler&Minifiler dependence
  .gitignore
  src/BootstrapBlazor.Server/Components/App.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesRow.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesRow.razor.css
  src/BootstrapBlazor.Server/Program.cs
  src/BootstrapBlazor.Server/wwwroot/css/site.css
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Scroll/Scroll.razor.scss
  src/BootstrapBlazor/Directory.Build.targets
  src/BootstrapBlazor/sasscompiler.json
  src/BootstrapBlazor/wwwroot/css/bootstrap.blazor.bundle.min.css
  src/BootstrapBlazor/wwwroot/js/bootstrap.blazor.bundle.js
  src/BootstrapBlazor/wwwroot/scss/bootstrapblazor-dark.scss
  src/BootstrapBlazor/wwwroot/scss/components.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrapblazor.scss
  src/Bundle.props
Labels: enhancement

#3875 fix(Camera): videoWidth/videoHeight not work
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Camera/Camera.razor.js
Labels: bug

#3879 feat(TableTemplateColumn): add TableTemplateColumn component
  src/BootstrapBlazor.Server/Components/Samples/Tabs.razor
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/TableColumn.cs
  src/BootstrapBlazor/Components/Table/TableTemplateColumn.cs
Labels: enhancement

#3877 doc(Tab): add ConfigureTabItemMenuBindOptions doc
  src/BootstrapBlazor.Server/Components/Samples/Tabs.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
Labels: documentation

#3881 refactor(Table): support Add/Edit function
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesEdit.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/EditorForm/EditorForm.razor.cs
  src/BootstrapBlazor/Components/Table/Table.razor.Toolbar.cs
  src/BootstrapBlazor/Components/Table/Table.razor.js
  src/BootstrapBlazor/Extensions/IEditorItemExtensions.cs
  test/UnitTest/Components/EditorFormTest.cs
  test/UnitTest/Components/TableDialogTest.cs
  test/UnitTest/Components/TableTemplateColumnTest.cs
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#3883 feat(SelectTable): add AutoGenerateColumns parameter
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Select/SelectTable.razor
  src/BootstrapBlazor/Components/Select/SelectTable.razor.cs
  test/UnitTest/Components/SelectTableTest.cs
Labels: enhancement

#3885 feat(Mask): add ContainerId parameter
  src/BootstrapBlazor.Server/Components/Samples/Masks.razor
  src/BootstrapBlazor.Server/Components/Samples/Masks.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Mask/Mask.razor
  src/BootstrapBlazor/Components/Mask/Mask.razor.cs
  src/BootstrapBlazor/Components/Mask/Mask.razor.js
  src/BootstrapBlazor/Components/Mask/Mask.razor.scss
  src/BootstrapBlazor/Components/Mask/MaskOption.cs
  src/BootstrapBlazor/Components/Mask/MaskService.cs
  test/UnitTest/Services/MaskServiceTest.cs
Labels: enhancement

#3887 feat(FontAwesome): update font-awesome css to 6.6.0
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/FAIcons.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/Extensions/Components/BootstrapBlazor.FontAwesome/BootstrapBlazor.FontAwesome.csproj
  src/Extensions/Components/BootstrapBlazor.FontAwesome/Components/FAIconList.css
  src/Extensions/Components/BootstrapBlazor.FontAwesome/bundleconfig.json
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/css/all.min.css
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/css/fa-icon-list.css
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/css/font-awesome.min.css
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/fa/all.css
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/fa/all.min.css
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/fa/fa-list.min.css
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/webfonts/fa-brands-400.ttf
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/webfonts/fa-brands-400.woff2
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/webfonts/fa-regular-400.ttf
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/webfonts/fa-regular-400.woff2
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/webfonts/fa-solid-900.ttf
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/webfonts/fa-solid-900.woff2
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/webfonts/fa-v4compatibility.ttf
  src/Extensions/Components/BootstrapBlazor.FontAwesome/wwwroot/webfonts/fa-v4compatibility.woff2
Labels: enhancement

#3890 feat(Chart): support min/max on Y axis
  src/Extensions/Components/BootstrapBlazor.Chart/BootstrapBlazor.Chart.csproj
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/Chart.razor.js
  src/Extensions/Components/BootstrapBlazor.Chart/Components/Chart/ChartOptions.cs
Labels: enhancement

#3892 feat(Mask): add Show extensions method
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Extensions/MaskServiceExtensions.cs
  test/UnitTest/Services/MaskServiceTest.cs
Labels: enhancement

#3894 feat(Table): add RowContentTemplate parameter
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesRow.razor
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#3896 fix(SelectTable): missing Label when inside InputGroup
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Display/DisplayBase.cs
  src/BootstrapBlazor/Components/Table/Table.razor
  test/UnitTest/Components/SelectTableTest.cs
Labels: bug

#3898 fix(Camera): resize method not working
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/Cameras.razor
  src/BootstrapBlazor.Server/Components/Samples/Cameras.razor.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Camera/Camera.razor
  src/BootstrapBlazor/Components/Camera/Camera.razor.cs
  src/BootstrapBlazor/Components/Camera/Camera.razor.js
  src/BootstrapBlazor/Components/Camera/Camera.razor.scss
Labels: bug

#3900 feat(DockView): keep IsFloating panel position
  src/Extensions/Components/BootstrapBlazor.DockView/BootstrapBlazor.DockView.csproj
  src/Extensions/Components/BootstrapBlazor.DockView/wwwroot/js/dockview-config.js
  src/Extensions/Components/BootstrapBlazor.DockView/wwwroot/js/dockview-group.js
  src/Extensions/Components/BootstrapBlazor.DockView/wwwroot/js/dockview-panel.js
  src/Extensions/Components/BootstrapBlazor.DockView/wwwroot/js/dockview-utils.js
Labels: enhancement

#3905 fix(AutoComplete): DisplayCount parameter not work trigger by focus
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.cs
  src/BootstrapBlazor/Extensions/BootstrapBlazorEditContextDataAnnotationsExtensions.cs
  test/UnitTest/Components/AutoCompleteTest.cs
Labels: bug

#3907 doc(Camera): remove OnCapture documentation
  src/BootstrapBlazor.Server/Components/Samples/Cameras.razor.cs
  src/BootstrapBlazor/Components/Camera/Camera.razor.cs
Labels: documentation

#3911 feat(TableToolbarButton): support OnClickWithoutRender callback
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/TableToolbar.razor.cs
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#3913 feat(Drawer): add Position parameter
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Drawer/Drawer.razor
  src/BootstrapBlazor/Components/Drawer/Drawer.razor.cs
  src/BootstrapBlazor/Components/Drawer/Drawer.razor.scss
  test/UnitTest/Components/DrawerTest.cs
Labels: enhancement

#3915 doc(Video): add video link for components
  src/BootstrapBlazor.Server/Components/Components/Video.razor
  src/BootstrapBlazor.Server/Components/Pages/GlobalOption.razor
  src/BootstrapBlazor.Server/Components/Samples/Drawers.razor
  src/BootstrapBlazor.Server/Components/Samples/Drawers.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/docs.json
  src/BootstrapBlazor/Components/Dialog/DialogCloseButton.cs
Labels: documentation

#3921 refactor(DockViewV2): move component back into template when group removed
  src/Extensions/Components/BootstrapBlazor.DockView/BootstrapBlazor.DockView.csproj
  src/Extensions/Components/BootstrapBlazor.DockView/wwwroot/js/dockview-panel.js
Labels: enhancement

#3926 refactor(BarCode): redesign BarCode package JavaScript logic
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/Extensions/Components/BootstrapBlazor.BarCode/BootstrapBlazor.BarCode.csproj
  src/Extensions/Components/BootstrapBlazor.BarCode/Components/BarcodeReader/BarcodeReader.razor
  src/Extensions/Components/BootstrapBlazor.BarCode/Components/BarcodeReader/BarcodeReader.razor.cs
  src/Extensions/Components/BootstrapBlazor.BarCode/Components/BarcodeReader/BarcodeReader.razor.js
  src/Extensions/Components/BootstrapBlazor.BarCode/Components/QRCode/QRCode.razor
  src/Extensions/Components/BootstrapBlazor.BarCode/Components/QRCode/QRCode.razor.cs
  src/Extensions/Components/BootstrapBlazor.BarCode/Components/QRCode/QRCode.razor.js
Labels: enhancement

#3928 perf(RibbonTab): add RibbonTabHeader component improve performance
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/RibbonTab/RibbonTab.razor
  src/BootstrapBlazor/Components/RibbonTab/RibbonTab.razor.cs
  src/BootstrapBlazor/Components/RibbonTab/RibbonTab.razor.scss
  src/BootstrapBlazor/Components/RibbonTab/RibbonTabHeader.razor
  src/BootstrapBlazor/Components/RibbonTab/RibbonTabHeader.razor.cs
Labels: enhancement

#3936 perf(TreeView): imporve render performance of TreeView ClearCheckedItems
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/TreeView/TreeView.razor.cs
Labels: enhancement

#3940 doc(Table): add Pdf export documentation
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesExport.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
Labels: documentation

#3942 feat(Table): add AlignLeftText/AlignCenterText/AlignRightText parameter
  src/BootstrapBlazor/Components/Table/Table.razor.Localization.cs
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Locales/en.json
  src/BootstrapBlazor/Locales/zh.json
Labels: enhancement

#3944 fix(Table): can't close the context menu popover
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesColumnResizing.razor
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.js
Labels: bug

#3946 feat(Layout): do not render Header/Footer if template is null
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Layout/Layout.razor
  src/BootstrapBlazor/Components/Layout/Layout.razor.cs
  src/BootstrapBlazor/Utils/JSModule.cs
  test/UnitTest/Components/ButtonTest.cs
  test/UnitTest/Components/LayoutTest.cs
Labels: enhancement

#3949 fix(Table): DisableExtendEdit/DeleteButtonCallback not work on CardView mode
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/Components/Table/Table.razor.js
Labels: bug

#3952 fix(EditorForm): update ItemsPerRow value is 1 logic
  src/BootstrapBlazor.Server/Components/Samples/EditorForms.razor
  src/BootstrapBlazor.Server/Components/Samples/EditorForms.razor.cs
  src/BootstrapBlazor/Attributes/AutoGenerateBaseAttribute.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/EditorForm/EditorForm.razor.cs
  src/BootstrapBlazor/Components/Table/TableColumn.cs
Labels: bug

#3955 feat(BootstrapInput): add AutoSetDefaultWhenNull parameter
  src/BootstrapBlazor/Components/Input/BootstrapInput.razor.cs
  test/UnitTest/Components/InputTest.cs
Labels: enhancement

#3957 fix(InputGroup): compatible with InputGroup built-in ValidateForm
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Display/DisplayBase.cs
  test/UnitTest/Components/CheckboxListTest.cs
  test/UnitTest/Components/SliderTest.cs
  test/UnitTest/Components/ValidateTest.cs
Labels: bug
