Repository dotnetcore/BootstrapBlazor, pull requests merged in 2024-09, with the labels that each got.

#4188 refactor(Player): redesign Player component use Callback
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/Players.razor
  src/BootstrapBlazor.Server/Components/Samples/Players.razor.cs
  src/Extensions/Components/BootstrapBlazor.Player/BootstrapBlazor.Player.csproj
  src/Extensions/Components/BootstrapBlazor.Player/Player.razor
  src/Extensions/Components/BootstrapBlazor.Player/Player.razor.cs
  src/Extensions/Components/BootstrapBlazor.Player/Player.razor.css
  src/Extensions/Components/BootstrapBlazor.Player/Player.razor.js
  src/Extensions/Components/BootstrapBlazor.Player/PlayerOption.cs
  src/Extensions/Components/BootstrapBlazor.Player/PlayerSource.cs
  src/Extensions/Components/BootstrapBlazor.Player/PlayerSources.cs
  src/Extensions/Components/BootstrapBlazor.Player/PlayerThumbnail.cs
  src/Extensions/Components/BootstrapBlazor.Player/PlayerTracks.cs
  src/Extensions/Components/BootstrapBlazor.Player/wwwroot/plyr-plugin-thumbnail.js
Labels: enhancement

#4190 feat(Player): add IsHls parameter
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/Players.razor
  src/BootstrapBlazor.Server/Components/Samples/Players.razor.cs
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/docs.json
  src/Extensions/Components/BootstrapBlazor.Player/BootstrapBlazor.Player.csproj
  src/Extensions/Components/BootstrapBlazor.Player/Player.razor
  src/Extensions/Components/BootstrapBlazor.Player/Player.razor.css
  src/Extensions/Components/BootstrapBlazor.Player/Player.razor.js
  src/Extensions/Components/BootstrapBlazor.Player/PlayerMarker.cs
  src/Extensions/Components/BootstrapBlazor.Player/PlayerOption.cs
  src/Extensions/Components/BootstrapBlazor.Player/PlayerPoint.cs
Labels: enhancement

#4192 feat(Player): add Reload instance method
  src/BootstrapBlazor.Server/Components/Samples/Players.razor
  src/BootstrapBlazor.Server/Components/Samples/Players.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/Extensions/Components/BootstrapBlazor.Player/Player.razor.cs
  src/Extensions/Components/BootstrapBlazor.Player/Player.razor.js
  src/Extensions/Components/BootstrapBlazor.Player/PlayerOptions.cs
  src/Extensions/Components/BootstrapBlazor.Player/PlayerSource.cs
Labels: enhancement

#4193 feat(DockViewV2): update Renderer default value
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/Extensions/Components/BootstrapBlazor.DockView/BootstrapBlazor.DockView.csproj
  src/Extensions/Components/BootstrapBlazor.DockView/Components/DockViewConfig.cs
  src/Extensions/Components/BootstrapBlazor.DockView/Components/DockViewV2.razor.cs
  src/Extensions/Components/BootstrapBlazor.DockView/wwwroot/js/dockview-panel.js
Labels: enhancement

#4196 feat(Player): add Mode parameter
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/Players.razor
  src/BootstrapBlazor.Server/Components/Samples/Players.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/Extensions/Components/BootstrapBlazor.Player/BootstrapBlazor.Player.csproj
  src/Extensions/Components/BootstrapBlazor.Player/Player.razor
  src/Extensions/Components/BootstrapBlazor.Player/Player.razor.cs
  src/Extensions/Components/BootstrapBlazor.Player/PlayerMode.cs
  src/Extensions/Components/BootstrapBlazor.Player/PlayerOptions.cs
Labels: enhancement

#4200 doc(ButtonUpload): update document for ShowUploadFileList
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
Labels: documentation

#4205 feat(Core): add BootstrapBlazor.Core project
  BootstrapBlazor.sln
  src/BootstrapBlazor.Core/BootstrapBlazor.Core.csproj
  src/BootstrapBlazor.Core/Converter/JsonDescriptionEnumConverter.cs
  src/BootstrapBlazor.Core/Directory.Build.props
  src/BootstrapBlazor.Core/Extensions/EnumExtensions.cs
  src/BootstrapBlazor.Core/logo.png
  src/BootstrapBlazor.Core/readme.md
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Extensions/EnumExtensions.cs
  src/Extensions/Components/BootstrapBlazor.Core/BootstrapBlazor.Core.csproj
  test/UnitTest/Converters/JsonDescriptionEnumConverterTest.cs
Labels: enhancement

#4209 feat(Converter): add JsonEnumConverter class
  src/BootstrapBlazor.Core/BootstrapBlazor.Core.csproj
  src/BootstrapBlazor.Core/Converter/JsonDescriptionEnumConverter.cs
  src/BootstrapBlazor.Core/Extensions/EnumExtensions.cs
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Converter/JsonDescriptionEnumConverter.cs
  src/BootstrapBlazor/Converter/JsonEnumConverter.cs
  src/BootstrapBlazor/Extensions/EnumExtensions.cs
  src/Extensions/Components/BootstrapBlazor.Core/BootstrapBlazor.Core.csproj
  src/Extensions/Components/BootstrapBlazor.Core/Directory.Build.props
  src/Extensions/Components/BootstrapBlazor.Core/logo.png
  src/Extensions/Components/BootstrapBlazor.Core/readme.md
  src/Extensions/Components/BootstrapBlazor.DockView/BootstrapBlazor.DockView.csproj
  src/Extensions/Components/BootstrapBlazor.DockView/Components/DockViewContentType.cs
  src/Extensions/Components/BootstrapBlazor.DockView/Components/DockViewRenderMode.cs
  test/UnitTest/Converters/JsonDescriptionEnumConverterTest.cs
Labels: enhancement

#4211 feat(Table): add BeforeShowEditDialogCallback parameter
  BootstrapBlazor.sln
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.Toolbar.cs
  src/Extensions/Components/BootstrapBlazor.Core/Directory.Build.props
  test/UnitTest/Components/TableDialogTest.cs
Labels: enhancement

#4213 feat(Table): add Required parameter
  src/BootstrapBlazor/Attributes/AutoGenerateColumnAttribute.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/EditorForm/EditorItem.cs
  src/BootstrapBlazor/Components/EditorForm/IEditorItem.cs
  src/BootstrapBlazor/Components/Table/ITableColumn.cs
  src/BootstrapBlazor/Components/Table/InternalTableColumn.cs
  src/BootstrapBlazor/Components/Table/TableColumn.cs
  src/BootstrapBlazor/Components/Validate/ValidateBase.cs
  src/BootstrapBlazor/Extensions/ITableColumnExtensions.cs
  src/BootstrapBlazor/Locales/en.json
  src/BootstrapBlazor/Locales/zh.json
  src/BootstrapBlazor/Utils/Utility.cs
  src/BootstrapBlazor/Validators/FormItemValidator.cs
  test/UnitTest/Attributes/AutoGenerateClassTest.cs
  test/UnitTest/Components/EditorFormTest.cs
  test/UnitTest/Components/TableColumnTest.cs
  test/UnitTest/Components/TableDialogTest.cs
  test/UnitTest/Extensions/ITableColumnExtensionsTest.cs
Labels: enhancement

#4215 bug(Table): selected row callback causes infinite loop
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.Edit.cs
  test/UnitTest/Components/TableTest.cs
Labels: bug

#4217 feat(CherryMarkdown): inherits BootstrapModuleComponentBase
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/Extensions/Components/BootstrapBlazor.CherryMarkdown/BootstrapBlazor.CherryMarkdown.csproj
  src/Extensions/Components/BootstrapBlazor.CherryMarkdown/Components/CherryMarkdown/CherryMarkdown.razor
  src/Extensions/Components/BootstrapBlazor.CherryMarkdown/Components/CherryMarkdown/CherryMarkdown.razor.cs
  src/Extensions/Components/BootstrapBlazor.CherryMarkdown/Components/CherryMarkdown/CherryMarkdown.razor.js
Labels: enhancement

#4221 doc(CodeEditor): remove sample code for anlysis log
  src/BootstrapBlazor.Server/Components/Samples/CodeEditors.razor
  src/BootstrapBlazor.Server/Components/Samples/OnScreenKeyboards.razor
  src/BootstrapBlazor.Server/Components/Samples/SweetAlerts.razor
  src/BootstrapBlazor/Extensions/JSModuleExtensions.cs
  test/UnitTest/Extensions/JSModuleExtensionsTest.cs
Labels: documentation

#4225 bug(PopConfirmButtom): throw exception cause dispose
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Button/PopConfirmButton.razor.js
Labels: bug

#4069 feat(ColorPicker): add IsSupportOpacity parameter
  .gitignore
  src/BootstrapBlazor.Server/Components/Samples/ColorPickers.razor
  src/BootstrapBlazor/Components/ColorPicker/ColorPicker.razor
  src/BootstrapBlazor/Components/ColorPicker/ColorPicker.razor.cs
  src/BootstrapBlazor/Components/ColorPicker/ColorPicker.razor.js
  src/BootstrapBlazor/Components/ColorPicker/ColorPicker.razor.scss
  src/BootstrapBlazor/Directory.Build.targets
  src/BootstrapBlazor/wwwroot/lib/pickr/nano.min.css
  src/BootstrapBlazor/wwwroot/lib/pickr/pickr.es5.min.js
  test/UnitTest/Components/ColorPickerTest.cs
Labels: enhancement

#4231 feat(ColorPicker): support IsDiabled parameter
  src/BootstrapBlazor.Server/Components/Samples/ColorPickers.razor
  src/BootstrapBlazor.Server/Components/Samples/ColorPickers.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/ColorPicker/ColorPicker.razor.cs
  src/BootstrapBlazor/Components/ColorPicker/ColorPicker.razor.js
  src/BootstrapBlazor/Components/ColorPicker/ColorPicker.razor.scss
  test/UnitTest/Components/ColorPickerTest.cs
Labels: enhancement

#4232 fix(RadioList): update vertical button style
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/ColorPicker/ColorPicker.razor.js
  src/BootstrapBlazor/Components/Radio/RadioList.razor.scss
Labels: bug

#4234 feat(JSModule): redesign JSModule support null js object
  src/BootstrapBlazor.Server/Components/Samples/JSRuntimeExtensions.razor.cs
  src/BootstrapBlazor/Components/WebSpeech/Synthesizer/WebSpeechSynthesizer.cs
  src/BootstrapBlazor/Extensions/JSModuleExtensions.cs
  src/BootstrapBlazor/Utils/JSModule.cs
  test/UnitTest/Extensions/JSModuleExtensionsTest.cs
  test/UnitTest/Services/WebSpeechSynthesizerTest.cs
  test/UnitTest/Utils/JSModuleTest.cs
Labels: enhancement

#4236 fix(Table): not collapse edit form after save the new item
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.Toolbar.cs
  src/BootstrapBlazor/Components/Table/Table.razor.js
Labels: bug

#4238 doc(Readme): remove oscs badge
  README.md
  README.zh-CN.md
  src/BootstrapBlazor.Server/Components/Layout/ComponentLayout.razor
  src/BootstrapBlazor/readme.md
Labels: documentation

#4240 feat(ColorPicker): add localizer parameter
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/ColorPicker/ColorPicker.razor.cs
  src/BootstrapBlazor/Components/ColorPicker/ColorPicker.razor.js
Labels: enhancement

#4242 feat(Player): support YouTube Vimeo video
  exclusion.dic
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/Players.razor
  src/BootstrapBlazor.Server/Components/Samples/Players.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/Extensions/Components/BootstrapBlazor.Player/BootstrapBlazor.Player.csproj
  src/Extensions/Components/BootstrapBlazor.Player/Player.razor
  src/Extensions/Components/BootstrapBlazor.Player/Player.razor.cs
  src/Extensions/Components/BootstrapBlazor.Player/Player.razor.js
  src/Extensions/Components/BootstrapBlazor.Player/PlayerMarkers.cs
  src/Extensions/Components/BootstrapBlazor.Player/PlayerMode.cs
  src/Extensions/Components/BootstrapBlazor.Player/PlayerOptions.cs
  src/Extensions/Components/BootstrapBlazor.Player/PlayerSource.cs
  src/Extensions/Components/BootstrapBlazor.Player/PlayerSources.cs
Labels: enhancement

#4247 feat(RequiredValidator): enhance the RequiredValidator class
  exclusion.dic
  src/BootstrapBlazor/Components/Validate/ValidateBase.cs
  src/BootstrapBlazor/Locales/en.json
  src/BootstrapBlazor/Locales/zh.json
  src/BootstrapBlazor/Validators/FormItemValidator.cs
  src/BootstrapBlazor/Validators/RequiredValidator.cs
  test/UnitTest/Components/ValidateFormTest.cs
  test/UnitTest/Validators/RequiredValidatorTest.cs
Labels: enhancement

#4244 doc(ValidateForm): rename CustomerValidator to FormItemValidator
  src/BootstrapBlazor.Server/Components/Samples/ValidateForms.razor
  src/BootstrapBlazor.Server/Locales/zh-CN.json
Labels: documentation

#4249 fix(EFCore): update EditAsync method
  src/Extensions/DataServices/BootstrapBlazor.DataAccess.EntityFrameworkCore/DefaultDataService.cs
Labels: enhancement

#4255 bug(ValidateBase): should Render UI after validate
  src/BootstrapBlazor/Components/Validate/ValidateBase.cs
  test/UnitTest/Components/ValidateFormTest.cs
Labels: bug

#4257 fix(Cascader): not pop dropdown menu after update IsDisable to false
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Cascader/Cascader.razor
  src/BootstrapBlazor/Components/Cascader/Cascader.razor.cs
Labels: bug

#4261 feat(NumberFilter): support nullable data type
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Filters/TableFilter.razor
  test/UnitTest/Components/TableNumberFilterTest.cs
Labels: enhancement

#4272 feat(ValidateForm): add IValidateCollection interface for multiple validation
  src/BootstrapBlazor.Server/Components/Samples/ValidateForms.razor
  src/BootstrapBlazor.Server/Data/CustomValidateCollectionModel.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/Validate/ValidateBase.cs
  src/BootstrapBlazor/Components/ValidateForm/ValidateForm.razor.cs
  test/UnitTest/Components/ValidateFormTest.cs
Labels: enhancement

#4283 fix(Select): not trigger OnSelectedItemChanged when click clear icon
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Select/Select.razor.cs
  test/UnitTest/Components/SelectTest.cs
Labels: bug

#4285 feat(Table): add cascading value ChangeType to EditTemplate
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor
Labels: enhancement

#4286 feat(Layout): support dark mode
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Layout/Layout.razor.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrapblazor.scss
Labels: bug

#4288 bug(BarCode): not work missing Id
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/Extensions/Components/BootstrapBlazor.BarCode/BootstrapBlazor.BarCode.csproj
  src/Extensions/Components/BootstrapBlazor.BarCode/Components/BarcodeReader/BarcodeReader.razor
  src/Extensions/Components/BootstrapBlazor.BarCode/Components/BarcodeReader/BarcodeReader.razor.cs
Labels: bug

#4291 bug(Select): not show full item after click Clear button
  src/BootstrapBlazor.Server/Components/Samples/Selects.razor
  src/BootstrapBlazor.Server/Components/Samples/Selects.razor.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Select/Select.razor
  src/BootstrapBlazor/Components/Select/Select.razor.cs
  test/UnitTest/Components/SelectTest.cs
Labels: bug

#4299 doc(readme): update readme documentation
  README.md
  README.zh-CN.md
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/readme.md
Labels: documentation

#4297 feat(RibbonTab): redesign RibbonTabItem class remove base class MenuItem
  src/BootstrapBlazor.Server/Components/Samples/RibbonTabs.razor.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/RibbonTab/RibbonTabHeader.razor
  src/BootstrapBlazor/Components/RibbonTab/RibbonTabHeader.razor.cs
  src/BootstrapBlazor/Components/RibbonTab/RibbonTabItem.cs
  src/BootstrapBlazor/Components/Tab/Tab.razor.cs
  src/BootstrapBlazor/Components/Tab/TabItem.cs
  test/UnitTest/Components/RibbonTabAnchorTest.cs
  test/UnitTest/Components/RibbonTabTest.cs
Labels: enhancement

#4300 feat(FreeSqlExtensions): support CustomPredicate custom convert
  src/Extensions/DataServices/BootstrapBlazor.DataAccess.FreeSql/BootstrapBlazor.DataAccess.FreeSql.csproj
  src/Extensions/DataServices/BootstrapBlazor.DataAccess.FreeSql/FreeSqlExtensions.cs
Labels: enhancement

#4306 feat(ValidateForm): add ShowAllInvalidResult parameter
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Layout/Layout.razor.scss
  src/BootstrapBlazor/Components/ValidateForm/ValidateForm.razor
  src/BootstrapBlazor/Components/ValidateForm/ValidateForm.razor.cs
  src/BootstrapBlazor/wwwroot/modules/validate.js
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrapblazor.scss
  test/UnitTest/Components/ValidateFormTest.cs
Labels: enhancement

#4307 doc(SortableList): add custom template sample
  src/BootstrapBlazor.Server/Components/Components/FooSortableListRightItem.razor
  src/BootstrapBlazor.Server/Components/Components/FooSortableListRightItem.razor.cs
  src/BootstrapBlazor.Server/Components/Components/FooSortableListRightItem.razor.css
  src/BootstrapBlazor.Server/Components/Samples/SortableLists.razor
Labels: enhancement

#4315 chore(Bug): update bug template
  .github/ISSUE_TEMPLATE/10_bug_report.yml
  BootstrapBlazor.slnf
Labels: chore

#4317 fix(SortableList): incorrect dom when set Clone to true
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
Labels: bug

#4309 fix(ValidateForm): add trigger the first invalid control tooltip logic
  src/BootstrapBlazor/Components/Validate/ValidateBase.cs
  src/BootstrapBlazor/Components/ValidateForm/ValidateForm.razor.cs
  src/BootstrapBlazor/Components/ValidateForm/ValidateForm.razor.js
  src/BootstrapBlazor/readme.md
  src/BootstrapBlazor/wwwroot/modules/validate.js
Labels: enhancement

#4319 feat(SortableList): add OnAdd parameter
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/SortableLists.razor
  src/BootstrapBlazor.Server/Components/Samples/SortableLists.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
Labels: enhancement

#4325 feat(OnScreenKeyboard): update base class to fix script error
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/OnScreenKeyboards.razor
  src/BootstrapBlazor.Server/Components/Samples/OnScreenKeyboards.razor.cs
Labels: enhancement

#4327 chore(Docker): update docker auto script
  .github/PULL_REQUEST_TEMPLATE/servicing.md
  .github/pull_request_template.md
  .github/workflows/deploy.yml
  .github/workflows/docker.yml
  .github/workflows/release.yml
  exclusion.dic
  src/BootstrapBlazor.Server/Components/Samples/CodeEditors.razor
  src/BootstrapBlazor.Server/Dockerfile
  src/BootstrapBlazor.Server/docs.json
  src/BootstrapBlazor.Server/wwwroot/css/site.css
Labels: documentation

#4313 fix(Dropzone): Insertions should be committed when drag ends without a drop.
  exclusion.dic
  src/BootstrapBlazor/Components/DragDrap/DragDropService.cs
  src/BootstrapBlazor/Components/DragDrap/Dropzone.razor
  src/BootstrapBlazor/Components/DragDrap/Dropzone.razor.cs
  test/UnitTest/Components/DragDropTest.cs
Labels: bug

#4323 feat(MetadataTypeAttribute): support IValidatableObject/IValidateCollection
  src/BootstrapBlazor.Server/Components/Samples/ValidateForms.razor
  src/BootstrapBlazor.Server/Components/Samples/ValidateForms.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/ValidateForm/ValidateForm.razor.cs
  src/BootstrapBlazor/Extensions/ValidateContextExtensions.cs
  test/UnitTest/Components/ValidateFormTest.cs
Labels: enhancement

#4332 fix(ValidateForm): show first element tooltip when set ShowAllInvalidResult to false
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/ValidateForm/ValidateForm.razor.js
Labels: bug

#4334 feat(Checkbox): auto set DisplayText when set ShowAfterLabel to true
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Checkbox/Checkbox.razor.cs
  test/UnitTest/Components/CheckboxListTest.cs
Labels: enhancement

#4337 refactor(FileViewer): bump version 8.1.0
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/FileViewers.razor.cs
Labels: enhancement

#4339 chore(VideoPlayer): upgrade package version
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
Labels: enhancement

#4343 feat(Dialog): support call show OnAfterRender lifecycle
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/BaseComponents/BootstrapModuleComponentBase.cs
  src/BootstrapBlazor/Components/Modal/Modal.razor.cs
  src/BootstrapBlazor/Components/Table/TableToolbarButton.cs
  src/BootstrapBlazor/Components/Table/TableToolbarPopConfirmButton.cs
Labels: enhancement

#4345 feat(TreeView): support keyboard shortcut
  src/BootstrapBlazor.Server/Components/Components/CustomerSelectDialog.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/TreeViews.razor
  src/BootstrapBlazor.Server/Components/Samples/TreeViews.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/TreeView/TreeView.razor
  src/BootstrapBlazor/Components/TreeView/TreeView.razor.cs
  src/BootstrapBlazor/Components/TreeView/TreeView.razor.js
  src/BootstrapBlazor/Extensions/TreeItemExtensions.cs
  test/UnitTest/Components/TreeViewTest.cs
Labels: enhancement

#4349 feat(TreeView): add ScrollIntoViewOptions parameter
  src/BootstrapBlazor/Components/Drawer/Drawer.razor.js
  src/BootstrapBlazor/Components/TreeView/TreeView.razor.cs
  src/BootstrapBlazor/Components/TreeView/TreeView.razor.js
  src/BootstrapBlazor/Options/ScrollIntoViewOptions.cs
  test/UnitTest/Components/TreeViewTest.cs
  test/UnitTest/Options/ScrollIntoViewOptionsTest.cs
Labels: enhancement

#4351 feat(TreeView): support toggle node by ArrowLeft/Right
  src/BootstrapBlazor.Server/Components/Samples/TreeViews.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/TreeView/TreeView.razor
  src/BootstrapBlazor/Components/TreeView/TreeView.razor.cs
  src/BootstrapBlazor/Components/TreeView/TreeView.razor.js
  test/UnitTest/Components/TreeViewTest.cs
Labels: enhancement

#4353 refactor(TreeView): prevent space key default action
  src/BootstrapBlazor.Server/Components/Samples/TreeViews.razor
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/TreeView/TreeView.razor.js
Labels: enhancement

#4355 chore(Dependence): update project configuration
  .github/pull_request_template.md
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/Bundle.props
  src/Frameworks.props
  test/UniTest.Sass/UniTest.Sass.csproj
  test/UniTestSvgIcon/UniTestSvgIcon.csproj
  test/UnitTest.Localization/UnitTest.Localization.csproj
  test/UnitTest/UnitTest.csproj
  test/UnitTestDocs/UnitTestDocs.csproj
Labels: chore

#4360 fix(ValidateForm): validate all validation from MetadataType
  src/BootstrapBlazor.Server/Components/Samples/ValidateForms.razor.cs
  src/BootstrapBlazor.Server/Data/CustomValidateCollectionModel.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Validate/IValidateCollection.cs
  src/BootstrapBlazor/Components/Validate/ValidateBase.cs
  src/BootstrapBlazor/Components/ValidateForm/ValidateForm.razor.cs
  test/UnitTest/Components/ValidateFormTest.cs
Labels: bug

#4362 fix(Table): IsDisabled parameter not work in Toolbar on gear mode
  src/BootstrapBlazor/Components/Table/Table.razor.scss
  src/BootstrapBlazor/Components/Table/TableToolbar.razor
  src/BootstrapBlazor/Components/Table/TableToolbar.razor.cs
Labels: bug

#4357 fix(DateTimePicker): body defaulting to current month
  src/BootstrapBlazor/Components/DateTimeRange/DateTimeRange.razor
  src/BootstrapBlazor/Components/DateTimeRange/DateTimeRange.razor.cs
Labels: bug

#4376 doc(DockView): update lock sample code
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/DockViews2/DockViewLock.razor
Labels: documentation

#4379 fix(Table): search model initialize twice
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.cs
Labels: bug

#4381 perf(DateTimePicker): update cache when click year button
  src/BootstrapBlazor/Components/DateTimePicker/DatePickerBody.razor.cs
  test/UnitTest/Components/DateTimePickerTest.cs
Labels: enhancement

#4382 perf(ValidateForm): support validate multiple validate form
  src/BootstrapBlazor/Components/Validate/ValidateBase.cs
  src/BootstrapBlazor/Components/ValidateForm/ValidateForm.razor.cs
  src/BootstrapBlazor/Components/ValidateForm/ValidateForm.razor.js
  test/UnitTest/Components/ValidateFormTest.cs
Labels: bug, enhancement

#4384 feat(Table): add CreateSearchModelCallback parameter
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.Edit.cs
  src/BootstrapBlazor/Components/Table/Table.razor.Search.cs
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Components/ValidateForm/ValidateForm.razor.cs
  src/BootstrapBlazor/Extensions/TypeExtensions.cs
  src/BootstrapBlazor/Services/CacheManager.cs
  src/BootstrapBlazor/Utils/Utility.cs
  test/UnitTest/Components/TableTest.cs
  test/UnitTest/Extensions/IQueryableExtensionsTest.cs
  test/UnitTest/Extensions/LambadaExtensionsTest.cs
  test/UnitTest/Extensions/ObjectExtensionsTest.cs
  test/UnitTest/Extensions/QueryPageOptionsExtensionsTest.cs
  test/UnitTest/Performance/ReflectionTest.cs
Labels: enhancement
