Repository dotnetcore/BootstrapBlazor, pull requests merged in 2024-12, with the labels that each got.

#4769 doc(Topology): update javascript path
  src/BootstrapBlazor.Shared/Components/Samples/Topologies.razor
  src/BootstrapBlazor.Shared/topology.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
Labels: documentation

#4771 doc(Sample): update static assets path
  src/BootstrapBlazor.Server/Controllers/WaterfallController.cs
  src/BootstrapBlazor.Shared/Components/Samples/Collapses.razor.cs
  src/BootstrapBlazor.Shared/Components/Samples/IntersectionObservers.razor.cs
  src/BootstrapBlazor.Shared/Components/Samples/MouseFollowers.razor
  src/BootstrapBlazor.Shared/Components/Samples/Tutorials/DrawingApp.razor
  src/BootstrapBlazor/BootstrapBlazor.csproj
Labels: documentation

#4778 doc(Bootstrap): update icon style file
  src/BootstrapBlazor.Server/Components/App.razor
  src/BootstrapBlazor.Shared/Components/Samples/Icons/BootstrapIcons.razor
Labels: documentation

#4787 bug(EditDialog): trigger OnCloseAsync callback twice
  BootstrapBlazor.sln
  src/BootstrapBlazor.Shared/Components/Components/CultureChooser.razor.cs
  src/BootstrapBlazor.Shared/Components/Samples/EditDialogs.razor
  src/BootstrapBlazor.Shared/Locales/en-US.json
  src/BootstrapBlazor.Shared/Locales/zh-CN.json
  src/BootstrapBlazor/Extensions/DrawerExtensions.cs
  src/BootstrapBlazor/Extensions/TableEditDialogOptionExtensions.cs
  test/UnitTest/Components/DialogTest.cs
  test/UnitTest/Components/TableDrawerTest.cs
  test/UnitTest/Components/TableTest.cs
Labels: bug

#4789 doc(Theme): update event handler the float theme button
  src/BootstrapBlazor.Shared/Components/Components/Header.razor.js
  src/BootstrapBlazor.Shared/Components/Components/ThemeMode.razor
  src/BootstrapBlazor.Shared/Components/Components/ThemeMode.razor.js
Labels: documentation

#4791 feat(Modal): update form-footer style
  src/BootstrapBlazor/Components/Table/Table.razor.scss
Labels: enhancement

#4793 doc(Icon): remove IconList component
  src/BootstrapBlazor.Shared/BootstrapBlazor.Shared.csproj
  src/BootstrapBlazor.Shared/Components/Samples/Icons/AntDesignIconList.razor
  src/BootstrapBlazor.Shared/Components/Samples/Icons/AntDesignIconList.razor.cs
  src/BootstrapBlazor.Shared/Components/Samples/Icons/AntDesignIconList.razor.css
  src/BootstrapBlazor.Shared/Components/Samples/Icons/AntDesignIconList.razor.js
  src/BootstrapBlazor.Shared/Components/Samples/Icons/AntDesignIcons.razor
  src/BootstrapBlazor.Shared/Components/Samples/Icons/BootstrapIcons.razor
  src/BootstrapBlazor.Shared/Components/Samples/Icons/ElementIconList.razor
  src/BootstrapBlazor.Shared/Components/Samples/Icons/ElementIconList.razor.cs
  src/BootstrapBlazor.Shared/Components/Samples/Icons/ElementIconList.razor.css
  src/BootstrapBlazor.Shared/Components/Samples/Icons/ElementIconList.razor.js
  src/BootstrapBlazor.Shared/Components/Samples/Icons/ElementIcons.razor
  src/BootstrapBlazor.Shared/Components/Samples/Icons/FAIconList.razor
  src/BootstrapBlazor.Shared/Components/Samples/Icons/FAIconList.razor.cs
  src/BootstrapBlazor.Shared/Components/Samples/Icons/FAIconList.razor.css
  src/BootstrapBlazor.Shared/Components/Samples/Icons/FAIconList.razor.js
  src/BootstrapBlazor.Shared/Components/Samples/Icons/FAIcons.razor
  src/BootstrapBlazor.Shared/Components/Samples/Icons/FAIcons.razor.cs
  src/BootstrapBlazor.Shared/Components/Samples/Icons/IconParkList.razor
  src/BootstrapBlazor.Shared/Components/Samples/Icons/IconParkList.razor.cs
  src/BootstrapBlazor.Shared/Components/Samples/Icons/IconParkList.razor.css
  src/BootstrapBlazor.Shared/Components/Samples/Icons/IconParkList.razor.js
  src/BootstrapBlazor.Shared/Components/Samples/Icons/IconParks.razor
  src/BootstrapBlazor.Shared/Components/Samples/Icons/MaterialDesignIcons.razor
  src/BootstrapBlazor.Shared/Locales/en-US.json
  src/BootstrapBlazor.Shared/Locales/zh-CN.json
Labels: documentation

#4798 fix(Select): not render UI sometime
  src/BootstrapBlazor.Shared/Components/Samples/Selects.razor.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Select/Select.razor
  src/BootstrapBlazor/Components/Select/Select.razor.cs
  test/UnitTest/Components/SelectTest.cs
Labels: enhancement

#4801 feat(Layout): update IsFixedTab style
  src/BootstrapBlazor/Components/Layout/Layout.razor.scss
  src/BootstrapBlazor/Components/Menu/Menu.razor
  src/BootstrapBlazor/Components/Tab/Tab.razor.scss
Labels: enhancement

#4803 fix(Layout): update layout-menu style
  src/BootstrapBlazor.Shared/Components/Samples/Layouts.razor
  src/BootstrapBlazor/Components/Layout/Layout.razor
  src/BootstrapBlazor/Components/Layout/Layout.razor.scss
Labels: enhancement

#4807 refactor(Layout): update layout right style
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Layout/Layout.razor.scss
Labels: enhancement

#4809 bug(DialogCloseButton): missing theme button icon
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Dialog/DialogCloseButton.cs
  test/UnitTest/Components/DialogCloseButtonTest.cs
Labels: bug

#4811 chore(Config): update project toolchain
  .github/ISSUE_TEMPLATE/10_bug_report.yml
  BootstrapBlazor.sln
  scripts/linux/deploy-blazor.sh
  scripts/linux/deploy-wasm.sh
  scripts/linux/nginx.conf
Labels: chore

#4813 doc(Editor): add sample code for GetCode method
  src/BootstrapBlazor.Shared/BootstrapBlazor.Shared.csproj
  src/BootstrapBlazor.Shared/Components/Samples/Editors.razor
  src/BootstrapBlazor.Shared/Components/Samples/Editors.razor.cs
  src/BootstrapBlazor.Shared/Locales/en-US.json
  src/BootstrapBlazor.Shared/Locales/zh-CN.json
Labels: documentation

#4816 feat(ILookupService): add GetItemsByKeyAsync method
  src/BootstrapBlazor/Attributes/AutoGenerateColumnAttribute.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/EditorForm/EditorForm.razor
  src/BootstrapBlazor/Components/EditorForm/EditorForm.razor.cs
  src/BootstrapBlazor/Components/EditorForm/EditorItem.cs
  src/BootstrapBlazor/Components/EditorForm/IEditorItem.cs
  src/BootstrapBlazor/Components/Filters/LookupFilter.razor
  src/BootstrapBlazor/Components/Filters/LookupFilter.razor.cs
  src/BootstrapBlazor/Components/Filters/TableFilter.razor
  src/BootstrapBlazor/Components/Filters/TableFilter.razor.cs
  src/BootstrapBlazor/Components/Table/InternalTableColumn.cs
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Components/Table/TableColumn.cs
  src/BootstrapBlazor/Extensions/ILookupServiceExtensions.cs
  src/BootstrapBlazor/Extensions/ITableColumnExtensions.cs
  src/BootstrapBlazor/Services/ILookupService.cs
  src/BootstrapBlazor/Services/LookupServiceBase.cs
  src/BootstrapBlazor/Utils/Utility.cs
  test/UnitTest/Attributes/AutoGenerateClassTest.cs
  test/UnitTest/Components/EditorFormTest.cs
  test/UnitTest/Components/LayoutTest.cs
  test/UnitTest/Components/TableColumnTest.cs
  test/UnitTest/Components/TableLookupFilterTest.cs
  test/UnitTest/Components/TableTest.cs
  test/UnitTest/Core/BootstrapBlazorTestBase.cs
  test/UnitTest/Extensions/ITableColumnExtensionsTest.cs
  test/UnitTest/Services/LookupServiceTest.cs
Labels: enhancement

#4817 fix(Table): not trigger OnAfterCancelSaveAsync on EditForm/InCell mode
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.Toolbar.cs
  test/UnitTest/Components/TableTest.cs
Labels: bug

#4818 feat(Split): add SetLeftWidth method
  src/BootstrapBlazor.Shared/Components/Samples/Splits.razor
  src/BootstrapBlazor.Shared/Components/Samples/Splits.razor.cs
  src/BootstrapBlazor.Shared/Components/Samples/Splittings.razor
  src/BootstrapBlazor.Shared/Locales/en-US.json
  src/BootstrapBlazor.Shared/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Split/Split.razor.cs
  src/BootstrapBlazor/Components/Split/Split.razor.js
  test/UnitTest/Components/SplitTest.cs
Labels: enhancement

#4820 fix(TryConvertTo): add CurrentCulture parameter
  src/BootstrapBlazor.Shared/Components/Layout/ComponentLayout.razor.css
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Extensions/ObjectExtensions.cs
Labels: bug

#4829 refactor(SelectTree): update IEnumerable to List
  src/BootstrapBlazor/Components/Select/SelectTree.razor.cs
Labels: enhancement

#4831 refactor(JSModule): remove throw keyword
  src/BootstrapBlazor/Extensions/JSModuleExtensions.cs
Labels: enhancement

#4833 feat(TreeView): add cache for tree rows
  src/BootstrapBlazor/Components/TreeView/TreeView.razor.cs
  src/BootstrapBlazor/Extensions/JSModuleExtensions.cs
Labels: enhancement

#4836 doc(Global): update global option document
  src/BootstrapBlazor.Shared/Components/Pages/GlobalOption.razor
  src/BootstrapBlazor/Components/ValidateForm/ValidateForm.razor
Labels: documentation

#4840 doc(TableSearch): update search documentation
  src/BootstrapBlazor.Shared/Components/Samples/Table/TablesSearch.razor.cs
  src/BootstrapBlazor/Components/SelectGeneric/SelectGeneric.razor
  src/BootstrapBlazor/Components/SelectGeneric/SelectGeneric.razor.cs
Labels: documentation

#4846 feat(SelectGeneric): add SelectGeneric component
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Dropdown/Dropdown.razor
  src/BootstrapBlazor/Components/Dropdown/Dropdown.razor.cs
  src/BootstrapBlazor/Components/SelectGeneric/ISelectGeneric.cs
  src/BootstrapBlazor/Components/SelectGeneric/SelectGeneric.razor
  src/BootstrapBlazor/Components/SelectGeneric/SelectGeneric.razor.cs
  src/BootstrapBlazor/Components/SelectGeneric/SelectGeneric.razor.scss
  src/BootstrapBlazor/Components/SelectGeneric/SelectOptionGeneric.cs
  src/BootstrapBlazor/Extensions/EnumExtensions.cs
  src/BootstrapBlazor/Misc/SelectedItemOfT.cs
  test/UnitTest/Components/DropdownTest.cs
  test/UnitTest/Components/SelectGenericTest.cs
Labels: enhancement

#4847 fix(Select): add composition support
  src/BootstrapBlazor/Components/Select/Select.razor
  src/BootstrapBlazor/Components/Select/Select.razor.cs
  src/BootstrapBlazor/Components/Select/Select.razor.js
Labels: bug

#4848 fix(Dropdown): not show dropdown menu after toggle IsDisabled parameter
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Dropdown/Dropdown.razor.cs
  src/BootstrapBlazor/Components/SelectGeneric/SelectGeneric.razor
  src/BootstrapBlazor/Components/SelectGeneric/SelectGeneric.razor.cs
  test/UnitTest/Components/DropdownTest.cs
  test/UnitTest/Components/SelectGenericTest.cs
  test/UnitTest/Components/SelectTest.cs
Labels: bug

#4850 fix(Select): can not switch Value when data type is SelectedItem on Virtual mode
  src/BootstrapBlazor/Components/Select/Select.razor.cs
  test/UnitTest/Components/SelectTest.cs
Labels: bug

#4852 refactor(Select): auto load data on virtual mode
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Select/Select.razor.cs
  src/BootstrapBlazor/Components/SelectGeneric/SelectGeneric.razor.cs
  test/UnitTest/Components/SelectTest.cs
Labels: enhancement

#4858 refactor(Isolation): update dependce pacakge remove css isolation
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/App.razor
  src/BootstrapBlazor.Server/Components/Layout/ComponentLayout.razor.css
  src/BootstrapBlazor.Server/Extensions/ServiceCollectionSharedExtensions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/docs.json
  test/UnitTestDocs/MenuTest.cs
Labels: enhancement

#4860 fix(Layout): content overflow
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Layout/Layout.razor.scss
Labels: bug

#4866 fix(Layout): layout main overflow when set IsFullSide to false
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Layout/Layout.razor.scss
Labels: bug

#4869 chore(Build): update the default value of framework
  .github/ISSUE_TEMPLATE/10_bug_report.yml
Labels: chore

#4863 feat(SelectTree): add IsReset parameter
  src/BootstrapBlazor/Components/Select/SelectTree.razor
  src/BootstrapBlazor/Components/Select/SelectTree.razor.cs
Labels: enhancement

#4875 doc(SearchBox): add SearchableColumns parameter
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Components/GlobalSearch.razor
  test/UnitTest/UnitTest.csproj
Labels: enhancement

#4870 doc(Table): update bind-Items documentation
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
Labels: documentation

#4877 doc(CodeSnippetService): update code file path
  src/BootstrapBlazor.Server/Components/Components/RebootCountDown.razor
  src/BootstrapBlazor.Server/Components/Pages/Localization.razor
  src/BootstrapBlazor.Server/Components/Samples/Cascaders.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/ColorPickers.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/DateTimeRanges.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Dialogs.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Displays.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/EditDialogs.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/EditorForms.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/ExportPdfButtons.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/GlobalException.razor
  src/BootstrapBlazor.Server/Components/Samples/InputGroups.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/MultiSelects.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Table/Tables.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesAutoRefresh.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesCell.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesColumn.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesColumnDrag.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesColumnList.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesColumnResizing.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesColumnTemplate.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesDialog.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesEdit.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesExcel.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesExport.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesFilter.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesFixedColumn.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesFixedHeader.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesFooter.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesHeader.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesLoading.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesLookup.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesPages.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesRow.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesSearch.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesSelection.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesToolbar.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesTracking.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesTree.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesVirtualization.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesWrap.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/Translation/Translator.razor.cs
  src/BootstrapBlazor.Server/Services/CodeSnippetService.cs
Labels: documentation

#4883 feat(GotoTop): support IsFixedTabHeader layout component
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/GoTop/GoTop.razor
  src/BootstrapBlazor/Components/GoTop/GoTop.razor.cs
  src/BootstrapBlazor/Components/GoTop/GoTop.razor.js
  src/BootstrapBlazor/Components/Layout/Layout.razor
  src/BootstrapBlazor/Components/Layout/Layout.razor.cs
Labels: enhancement

#4885 feat(GotoTop): add ScrollBehavior parameter
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/GoTop/GoTop.razor
  src/BootstrapBlazor/Components/GoTop/GoTop.razor.cs
  src/BootstrapBlazor/Components/GoTop/GoTop.razor.js
  test/UnitTest/Components/GoTopTest.cs
  test/UnitTest/Components/LayoutTest.cs
  test/UnitTest/Components/SelectTreeTest.cs
Labels: enhancement

#4889 fix(ITableColumn): add GetTooltipText method
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesWrap.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesWrap.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Attributes/AutoGenerateColumnAttribute.cs
  src/BootstrapBlazor/Components/Filters/LookupFilter.razor.cs
  src/BootstrapBlazor/Components/Table/ITableColumn.cs
  src/BootstrapBlazor/Components/Table/InternalTableColumn.cs
  src/BootstrapBlazor/Components/Table/TableColumn.cs
  src/BootstrapBlazor/Extensions/ITableColumnExtensions.cs
  test/UnitTest/Attributes/AutoGenerateClassTest.cs
  test/UnitTest/Components/TableColumnTest.cs
  test/UnitTest/Components/TableTest.cs
  test/UnitTest/Extensions/ITableColumnExtensionsTest.cs
  test/UnitTest/Utils/UtilityTest.cs
Labels: bug

#4891 refactor(LookupService): add cache logic for LookupService sample
  src/BootstrapBlazor.Server/Services/DemoLookupService.cs
Labels: enhancement

#4893 fix(TableColumn): GetTooltipTextCallback not work
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesWrap.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesWrap.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Attributes/AutoGenerateColumnAttribute.cs
  src/BootstrapBlazor/Components/Table/ITableColumn.cs
  src/BootstrapBlazor/Components/Table/InternalTableColumn.cs
  src/BootstrapBlazor/Components/Table/TableColumn.cs
  src/BootstrapBlazor/Components/Tooltip/Tooltip.razor.cs
  src/BootstrapBlazor/Extensions/ITableColumnExtensions.cs
  test/UnitTest/Attributes/AutoGenerateClassTest.cs
  test/UnitTest/Components/TableColumnTest.cs
  test/UnitTest/Components/TableTest.cs
  test/UnitTest/Extensions/ITableColumnExtensionsTest.cs
Labels: bug

#4892 feat(TableColumn): remove Formatter on TableColumn
  src/BootstrapBlazor.Server/Components/Samples/DockViews/BaseDockView.cs
  src/BootstrapBlazor.Server/Components/Samples/DockViews2/BaseDockView.cs
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesColumn.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesColumn.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesColumnList.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesColumnList.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesTree.razor.cs
  src/BootstrapBlazor.Server/Data/Foo.cs
  src/BootstrapBlazor/Attributes/AutoGenerateColumnAttribute.cs
  src/BootstrapBlazor/Components/Table/ITableColumn.cs
  src/BootstrapBlazor/Components/Table/InternalTableColumn.cs
  src/BootstrapBlazor/Components/Table/TableColumn.cs
  src/BootstrapBlazor/Components/Table/TableFormatContent.cs
  src/BootstrapBlazor/Extensions/ITableColumnExtensions.cs
  src/BootstrapBlazor/Services/CacheManager.cs
  test/UnitTest/Components/TableTest.cs
  test/UnitTest/Utils/UtilityTest.cs
Labels: bug

#4894 fix(TreeView): reset Items to null
  src/BootstrapBlazor/Components/TreeView/TreeView.razor
  src/BootstrapBlazor/Components/TreeView/TreeView.razor.cs
  test/UnitTest/Components/TreeViewTest.cs
Labels: bug

#4898 feat(Select): add LookupService parameter
  src/BootstrapBlazor/Components/EditorForm/EditorForm.razor
  src/BootstrapBlazor/Components/EditorForm/EditorForm.razor.cs
  src/BootstrapBlazor/Components/Select/Select.razor.cs
  src/BootstrapBlazor/Components/Select/SelectBase.cs
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Extensions/IEditorItemExtensions.cs
  src/BootstrapBlazor/Utils/Utility.cs
  test/UnitTest/Components/EditorFormTest.cs
Labels: enhancement

#4901 refactor(Select): move LookupService parameter to Select
  src/BootstrapBlazor/Components/Select/Select.razor.cs
  src/BootstrapBlazor/Components/Select/SelectBase.cs
Labels: enhancement

#4903 doc(MeiliSearch): add auto close dialog when click empty list
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Components/CultureChooser.razor.css
  src/BootstrapBlazor.Server/Components/Components/Header.razor.css
  src/BootstrapBlazor.Server/wwwroot/css/site.css
Labels: documentation

#4859 feat(RadioListGeneric): support generic SelectedItem
  src/BootstrapBlazor/Components/Checkbox/CheckboxListGeneric.razor
  src/BootstrapBlazor/Components/Checkbox/CheckboxListGeneric.razor.cs
  src/BootstrapBlazor/Components/Radio/RadioList.razor.cs
  src/BootstrapBlazor/Components/Radio/RadioListGeneric.razor
  src/BootstrapBlazor/Components/Radio/RadioListGeneric.razor.cs
Labels: bug

#4908 feat(RadioListGeneric): implement RadioListGeneric component
  src/BootstrapBlazor.Server/Components/Samples/CheckboxLists.razor
  src/BootstrapBlazor.Server/Components/Samples/Radios.razor
  src/BootstrapBlazor.Server/Components/Samples/Radios.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Radio/RadioListGeneric.razor
  src/BootstrapBlazor/Components/Radio/RadioListGeneric.razor.cs
  test/UnitTest/Components/RadioListGenericTest.cs
Labels: enhancement

#4912 doc(RadioListGeneric): update sample code
  src/BootstrapBlazor.Server/Components/App.razor
  src/BootstrapBlazor.Server/Components/Samples/Radios.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/wwwroot/css/site.css
  src/BootstrapBlazor/Components/Radio/RadioListGeneric.razor.cs
  src/BootstrapBlazor/Components/Table/TableColumn.cs
Labels: documentation

#4909 doc(Safari): add theme color for safari on mac
  src/BootstrapBlazor.Server/Components/App.razor
  src/BootstrapBlazor/Components/Checkbox/CheckboxListGeneric.razor
  src/BootstrapBlazor/Components/Checkbox/CheckboxListGeneric.razor.cs
  src/BootstrapBlazor/Components/Radio/RadioListGeneric.razor.cs
  src/BootstrapBlazor/Components/SelectGeneric/SelectGeneric.razor.cs
  src/BootstrapBlazor/Components/SelectGeneric/SelectOptionGeneric.cs
  src/BootstrapBlazor/Misc/SelectedItemOfT.cs
  test/UnitTest/Components/CheckboxListGenericTest.cs
Labels: documentation

#4914 refactor(EditForm): remove lookup service second render
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/EditorForm/EditorForm.razor
  src/BootstrapBlazor/Components/ValidateForm/ValidateForm.razor
Labels: enhancement

#4917 doc(CodeEditor): remove dependence of CodeEditor
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Components/Pre.razor.css
  src/BootstrapBlazor.Server/Components/Samples/CodeEditors.razor
  src/BootstrapBlazor.Server/Components/Samples/CodeEditors.razor.cs
Labels: documentation

#4919 feat(Compact): add DevUI compact style file
  src/BootstrapBlazor.Server/Components/Components/DemoBlock.razor.css
  src/BootstrapBlazor.Server/Components/Components/Pre.razor.css
  src/BootstrapBlazor.Server/Components/Components/ThemeChooser.razor
  src/BootstrapBlazor.Server/Components/Components/ThemeChooser.razor.cs
  src/BootstrapBlazor.Server/Components/Components/ThemeChooser.razor.css
  src/BootstrapBlazor.Server/Components/Components/ThemeChooser.razor.js
  src/BootstrapBlazor.Server/Components/Layout/BaseLayout.razor.css
  src/BootstrapBlazor.Server/appsettings.json
  src/BootstrapBlazor.Server/wwwroot/css/devui.css
  src/BootstrapBlazor.Server/wwwroot/css/site.css
  src/BootstrapBlazor/Components/DateTimePicker/DateTimePicker.razor.scss
Labels: enhancement

#4921 chore(Deploy): add deploy script
  BootstrapBlazor.sln
  scripts/linux/cert/blazor.zone.cer
  scripts/linux/cert/blazor.zone.key
  scripts/linux/cert/www.blazor.zone.cer
  scripts/linux/cert/www.blazor.zone.key
  scripts/linux/deploy.sh
  scripts/linux/nginx.conf
  scripts/linux/remove.sh
Labels: chore

#4924 feat(Display): support LookupService method GetItemsByKeyAsync
  src/BootstrapBlazor/Components/Display/Display.razor
  src/BootstrapBlazor/Components/Display/Display.razor.cs
  src/BootstrapBlazor/Components/Filters/LookupFilter.razor.cs
  src/BootstrapBlazor/Extensions/LambdaExtensions.cs
  test/UnitTest/Components/DisplayTest.cs
Labels: enhancement

#4922 doc(Table): add explain of binding complex object
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesColumn.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesColumn.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
Labels: documentation

#4926 feat(Table): render tooltip support LookupService GetItemByKeyAsync
  src/BootstrapBlazor/Components/Filters/TableFilter.razor
  src/BootstrapBlazor/Components/Filters/TableFilter.razor.cs
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Extensions/IEditorItemExtensions.cs
  src/BootstrapBlazor/Extensions/ITableColumnExtensions.cs
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#4928 feat(Select): support Items from LookupService
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Select/Select.razor.cs
  test/UnitTest/Components/EditorFormTest.cs
  test/UnitTest/Components/SelectTest.cs
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#4930 refactor(TreeView): add FlatItems parameter
  src/BootstrapBlazor.Server/Components/Samples/TreeViews.razor
  src/BootstrapBlazor.Server/Components/Samples/TreeViews.razor.cs
  src/BootstrapBlazor.Server/Data/TreeFoo.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Select/SelectTree.razor.cs
  src/BootstrapBlazor/Components/TreeView/TreeView.razor.cs
  src/BootstrapBlazor/Extensions/TreeViewExtensions.cs
Labels: chore

#4934 feat(TreeView): add SetItems instance method
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/TreeView/TreeView.razor.cs
  test/UnitTest/Components/TreeViewTest.cs
Labels: enhancement

#4935 refactor(Table): table display value use LookupService
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/LookupContent.cs
  src/BootstrapBlazor/Extensions/ITableColumnExtensions.cs
Labels: enhancement

#4937 feat(FieldIdentifier): add GetRequiredValidator extension method
  src/BootstrapBlazor.Server/Components/Samples/SelectTrees.razor
  src/BootstrapBlazor.Server/Components/Samples/SelectTrees.razor.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Checkbox/CheckboxList.razor.cs
  src/BootstrapBlazor/Components/Checkbox/CheckboxListGeneric.razor.cs
  src/BootstrapBlazor/Components/DateTimeRange/DateTimeRange.razor.cs
  src/BootstrapBlazor/Components/Select/SelectObject.razor.cs
  src/BootstrapBlazor/Components/Select/SelectTable.razor.cs
  src/BootstrapBlazor/Components/Select/SelectTree.razor.cs
  src/BootstrapBlazor/Components/Transfer/Transfer.razor.cs
  src/BootstrapBlazor/Components/Validate/ValidateBase.cs
  src/BootstrapBlazor/Extensions/FieldIdentifierExtensions.cs
  src/BootstrapBlazor/Extensions/ITableColumnExtensions.cs
  src/BootstrapBlazor/Validators/RequiredValidator.cs
  test/UnitTest/Components/DateTimeRangeTest.cs
  test/UnitTest/Components/SelectTableTest.cs
  test/UnitTest/Components/TableTest.cs
  test/UnitTest/Components/TransferTest.cs
Labels: test

#4940 refactor(Table): Lookup on TableColumn not work
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/LookupContent.cs
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Extensions/ITableColumnExtensions.cs
Labels: bug

#4947 doc(SelectTable): update ValidateForm sample code
  src/BootstrapBlazor.Server/Components/Samples/SelectTables.razor.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
Labels: documentation

#4944 refactor(TreeView): support Search function
  src/BootstrapBlazor.Server/Components/Samples/TreeViews.razor
  src/BootstrapBlazor.Server/Components/Samples/TreeViews.razor.cs
  src/BootstrapBlazor/Components/Select/SelectTree.razor
  src/BootstrapBlazor/Components/Select/SelectTree.razor.cs
  src/BootstrapBlazor/Components/TreeView/TreeView.razor.cs
  src/BootstrapBlazor/Components/TreeView/TreeView.razor.js
  src/BootstrapBlazor/Extensions/TreeViewExtensions.cs
  test/UnitTest/Components/SelectTreeTest.cs
  test/UnitTest/Components/TableTest.cs
  test/UnitTest/Components/TreeViewTest.cs
Labels: enhancement

#4949 refactor(TreeView): add Obsolete attribute
  src/BootstrapBlazor/Components/TreeView/TreeView.razor.cs
Labels: enhancement

#4951 refactor(TableExport): upgrade version 9.0.1
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor/BootstrapBlazor.csproj
Labels: enhancement

#4953 refactor(TreeView): redesign TreeNode state cache
  src/BootstrapBlazor.Server/Components/Samples/TreeViews.razor
  src/BootstrapBlazor.Server/Components/Samples/TreeViews.razor.cs
  src/BootstrapBlazor.Server/Data/CustomTreeItem.cs
  src/BootstrapBlazor.Server/Data/TreeFoo.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/TreeView/TreeView.razor.cs
  src/BootstrapBlazor/Components/TreeView/TreeView.razor.js
  test/UnitTest/Components/TreeViewTest.cs
  test/UnitTest/UnitTest.csproj
Labels: enhancement

#4955 refactor(TreeView): update clear cache logic
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/TreeView/TreeView.razor.cs
  src/BootstrapBlazor/Components/TreeView/TreeView.razor.js
  src/BootstrapBlazor/Components/TreeView/TreeView.razor.scss
  src/BootstrapBlazor/Extensions/TreeViewExtensions.cs
  src/BootstrapBlazor/Options/ScrollIntoViewOptions.cs
Labels: enhancement

#4957 feat(Html2Pdf): add disable web security config
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Button/ExportPdfButton.cs
Labels: bug

#4958 doc(ExportPdfButton): update export sample code
  src/BootstrapBlazor.Server/Components/Samples/ExportPdfButtons.razor
Labels: bug

#4960 doc(TreeView): update skeleton documentation
  src/BootstrapBlazor.Server/Components/Samples/TreeViews.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
Labels: documentation

#4964 feat(Drawer): add Component parameter on DrawerOption
  src/BootstrapBlazor/Components/Drawer/DrawerContainer.cs
  src/BootstrapBlazor/Components/Drawer/DrawerOption.cs
  src/BootstrapBlazor/Extensions/DrawerOptionExtensions.cs
  test/UnitTest/Services/DrawerServiceTest.cs
Labels: enhancement

#4963 refactor(MeiliSearch): add global search style
  src/BootstrapBlazor.Server/Components/Components/GlobalSearch.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/wwwroot/scss/root.scss
Labels: enhancement

#4966 doc(MeiliSearch): update meilisearch component
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Components/GlobalSearch.razor
  src/BootstrapBlazor.Server/Components/Components/Header.razor.css
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
Labels: documentation

#4969 refactor(MeiliSearch): use search-dialog-icon match search icon
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/wwwroot/css/site.css
  src/BootstrapBlazor/wwwroot/scss/components.scss
  src/BootstrapBlazor/wwwroot/scss/meilisearch.scss
  src/BootstrapBlazor/wwwroot/scss/root.scss
Labels: enhancement

#4975 feat(Display): support Lookup service
  src/BootstrapBlazor/Attributes/AutoGenerateColumnAttribute.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Display/Display.razor.cs
  src/BootstrapBlazor/Components/EditorForm/EditorItem.cs
  src/BootstrapBlazor/Components/EditorForm/IEditorItem.cs
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Extensions/IEditorItemExtensions.cs
  src/BootstrapBlazor/Extensions/ILooupExtensions.cs
  src/BootstrapBlazor/Misc/ILookup.cs
  test/UnitTest/Components/DisplayTest.cs
Labels: enhancement

#4977 doc(Display): add LookupServiceKey sample code
  src/BootstrapBlazor.Server/Components/Samples/Displays.razor
  src/BootstrapBlazor.Server/Components/Samples/Displays.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/Services/DemoLookupService.cs
  src/BootstrapBlazor/Components/Display/Display.razor.cs
  test/UnitTest/Components/DisplayTest.cs
  test/UnitTest/Core/BootstrapBlazorTestBase.cs
Labels: documentation

#4979 refactor(ILookup): add GetItemsAsync extension method
  src/BootstrapBlazor/Components/Display/Display.razor.cs
  src/BootstrapBlazor/Components/Filters/LookupFilter.razor.cs
  src/BootstrapBlazor/Components/Select/Select.razor.cs
  src/BootstrapBlazor/Components/Table/LookupContent.cs
  src/BootstrapBlazor/Extensions/IEditorItemExtensions.cs
  src/BootstrapBlazor/Extensions/ILookupServiceExtensions.cs
  src/BootstrapBlazor/Extensions/ILooupExtensions.cs
  test/UnitTest/Components/SelectTest.cs
Labels: enhancement

#4981 refactor(ILookup): extension method CreateDisplayByFieldType support ILookup
  src/BootstrapBlazor/Utils/Utility.cs
Labels: enhancement

#4986 test(Lookup): add Select/Display Lookup test
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Display/Display.razor.cs
  test/UnitTest/Components/DisplayTest.cs
  test/UnitTest/Components/EditorFormTest.cs
Labels: test

#4983 feat(BootstrapInputNumber): support NumberDecimalSeparator setting
  src/BootstrapBlazor/Extensions/ObjectExtensions.cs
  test/UnitTest/Extensions/ObjectExtensionsTest.cs
Labels: enhancement

#4989 feat(ScrollIntoViewBehavior): add Description attribute
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Options/ScrollIntoViewOptions.cs
Labels: enhancement

#4991 feat(Input): add Clearable parameter
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Input/BootstrapInput.razor
  src/BootstrapBlazor/Components/Input/BootstrapInput.razor.cs
  src/BootstrapBlazor/Components/Input/BootstrapInput.razor.js
  src/BootstrapBlazor/Components/Input/BootstrapInput.razor.scss
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/BootstrapBlazor/Options/IconThemeOptions.cs
  src/BootstrapBlazor/wwwroot/scss/components.scss
  test/UnitTest/Components/InputTest.cs
Labels: enhancement

#4993 refactor(Input): style to fit the input-group mode
  src/BootstrapBlazor.Server/Components/Samples/Inputs.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Input/BootstrapInput.razor.scss
  src/BootstrapBlazor/Components/Input/BootstrapInputGroup.razor.scss
Labels: enhancement

#4995 fix(ModalDialog): overflow top when set IsDraggable to true
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Modal/ModalDialog.razor.js
Labels: bug

#4973 refactor(AutoComplete): redesign for improve performance
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Pages/Coms.razor
  src/BootstrapBlazor.Server/Components/Pages/Coms.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/AutoCompletes.razor
  src/BootstrapBlazor.Server/Components/Samples/AutoCompletes.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/AutoFills.razor
  src/BootstrapBlazor.Server/Components/Samples/AutoFills.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Searches.razor
  src/BootstrapBlazor.Server/Components/Samples/Searches.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.cs
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.js
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.scss
  src/BootstrapBlazor/Components/AutoComplete/PopoverCompleteBase.cs
  src/BootstrapBlazor/Components/AutoFill/AutoFill.razor
  src/BootstrapBlazor/Components/AutoFill/AutoFill.razor.cs
  src/BootstrapBlazor/Components/Search/Search.razor
  src/BootstrapBlazor/Components/Search/Search.razor.cs
  src/BootstrapBlazor/Options/IconThemeOptions.cs
  test/UnitTest/Components/AutoCompleteTest.cs
  test/UnitTest/Components/AutoFillTest.cs
  test/UnitTest/Components/SearchTest.cs
Labels: enhancement

#5000 feat(Search): OnSearch callback support async
  src/BootstrapBlazor.Server/Components/Pages/Coms.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/AutoFills.razor
  src/BootstrapBlazor.Server/Components/Samples/InputGroups.razor
  src/BootstrapBlazor.Server/Components/Samples/Searches.razor
  src/BootstrapBlazor.Server/Components/Samples/Searches.razor.cs
  src/BootstrapBlazor/Components/AutoFill/AutoFill.razor.cs
  src/BootstrapBlazor/Components/Search/Search.razor
  src/BootstrapBlazor/Components/Search/Search.razor.cs
  test/UnitTest/Components/AutoFillTest.cs
  test/UnitTest/Components/SearchTest.cs
Labels: enhancement

#5003 feat(Search): add IsTriggerSearchByInput parameter
  src/BootstrapBlazor.Server/Components/Layout/BaseLayout.razor.css
  src/BootstrapBlazor.Server/Components/Pages/Coms.razor
  src/BootstrapBlazor.Server/Components/Samples/Searches.razor
  src/BootstrapBlazor.Server/Components/Samples/Searches.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Searches.razor.css
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.cs
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.js
  src/BootstrapBlazor/Components/AutoComplete/PopoverCompleteBase.cs
  src/BootstrapBlazor/Components/AutoFill/AutoFill.razor.cs
  src/BootstrapBlazor/Components/Search/Search.razor
  src/BootstrapBlazor/Components/Search/Search.razor.cs
  src/BootstrapBlazor/Locales/en.json
  src/BootstrapBlazor/Locales/zh.json
  test/UnitTest/Components/SearchTest.cs
Labels: enhancement

#5004 fix(SelectTree): shoud set the default active node by Value on first render
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Select/SelectTree.razor.cs
  test/UnitTest/Components/SelectTreeTest.cs
Labels: bug

#4996 perf(RequiredValidator): call GetLocalizerErrorMessage after validate failed
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Extensions/ValidateContextExtensions.cs
  src/BootstrapBlazor/Validators/RequiredValidator.cs
  test/UnitTest/Validators/RequiredValidatorTest.cs
Labels: bug

#5006 feat(MindMap): redesign MindMap component
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/MindMaps.razor
  src/BootstrapBlazor.Server/Components/Samples/MindMaps.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
Labels: bug
