Repository dotnetcore/BootstrapBlazor, pull requests merged in 2025-09, with the labels that each got.

#6703 doc(Socket): update DataPackageAdapter documentation
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/Sockets/Adapters.razor
  src/BootstrapBlazor.Server/Components/Samples/Sockets/AutoReceives.razor
  src/BootstrapBlazor.Server/Components/Samples/Sockets/DataEntities.razor
  src/BootstrapBlazor.Server/Components/Samples/Sockets/ManualReceives.razor
Labels: documentation

#6705 fix(DockView): component disappearing when moving from floating to new grid group
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
Labels: bug

#6707 feat(DataConverter): add logger for Debugger attached
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
Labels: enhancement

#6709 feat(AutoComplete): use javascript update input value
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.cs
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.js
  src/BootstrapBlazor/Components/AutoComplete/PopoverCompleteBase.cs
  src/BootstrapBlazor/Components/AutoFill/AutoFill.razor
  src/BootstrapBlazor/Components/AutoFill/AutoFill.razor.cs
  src/BootstrapBlazor/Components/Search/Search.razor
  src/BootstrapBlazor/Components/Search/Search.razor.cs
  test/UnitTest/Components/AutoFillTest.cs
Labels: enhancement

#6711 feat(FontAwesome): bump version 9.1.1
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
Labels: enhancement

#6717 doc(Modbus): add IModbusFactory documentation
  exclusion.dic
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/Modbus/ModbusFactories.razor
  src/BootstrapBlazor.Server/Components/Samples/Modbus/ModbusFactories.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Sockets/SocketFactories.razor
  src/BootstrapBlazor.Server/Components/Samples/Sockets/SocketFactories.razor.cs
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Extensions/ServiceCollectionExtensions.cs
  src/BootstrapBlazor.Server/Extensions/ServiceCollectionSharedExtensions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
Labels: documentation

#6725 doc(Modbus): update IModbusClient documentation
  src/BootstrapBlazor.Server/Components/Samples/Modbus/ModbusFactories.razor
Labels: documentation

#6741 doc(Modbus): add not support wasm documentation
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/Modbus/ModbusFactories.razor
  src/BootstrapBlazor.Server/Components/Samples/Sockets/SocketFactories.razor
Labels: documentation

#6745 doc(Socket): remove DataTypeConverter attribute
  src/BootstrapBlazor.Server/Components/Samples/Sockets/SocketFactories.razor
Labels: documentation

#6750 doc(TcpSocket): use extension method ReceiveAsync
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/Sockets/Adapters.razor.cs
Labels: documentation

#6753 doc(Modbus): add Benchmark result
  src/BootstrapBlazor.Server/Components/Samples/Modbus/ModbusFactories.razor
  src/BootstrapBlazor.Server/Components/Samples/Sockets/DataEntities.razor
Labels: documentation

#6754 fix(MultiSelectGeneric): close button not work
  src/BootstrapBlazor/Components/SelectGeneric/MultiSelectGeneric.razor
  src/BootstrapBlazor/Components/SelectGeneric/MultiSelectGeneric.razor.cs
Labels: bug

#6755 fix(SelectObject): should hidden append icon when hover
  src/BootstrapBlazor/Components/Select/SelectObject.razor.cs
Labels: bug

#6758 feat(AutoComplete): add IsClearable parameter
  src/BootstrapBlazor.Server/Components/Samples/AutoCompletes.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.cs
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.js
  test/UnitTest/Components/AutoCompleteTest.cs
Labels: enhancement

#6763 feat(AutoFill): reuse AutoComplete clear-icon function
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/AutoFill/AutoFill.razor
  src/BootstrapBlazor/Components/AutoFill/AutoFill.razor.cs
  test/UnitTest/Components/AutoFillTest.cs
Labels: enhancement

#6767 chore(Version): add Version.props docu
  BootstrapBlazor.slnx
Labels: chore

#6772 doc(Modbus): add IModbusResponse documentation
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/Modbus/ModbusFactories.razor
Labels: documentation

#6780 doc(Modbus): update IModbusResponse Buffer doc
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/Modbus/ModbusFactories.razor
Labels: documentation

#6788 feat(actions): add nuget trusted publishing
  .github/workflows/pack.yml
  BootstrapBlazor.slnx
Labels: chore

#6792 fix(AutoComplete): support bind-Value/OnValueChanged callback
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.cs
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.js
  test/UnitTest/Components/AutoCompleteTest.cs
Labels: bug

#6794 feat(Layout): compatible net10 when href is #
  src/BootstrapBlazor/Components/Menu/MenuLink.razor
  src/BootstrapBlazor/Components/Menu/MenuLink.razor.cs
Labels: enhancement

#6799 feat(Cssbuilder): improve performance use StringBuilder
  src/BootstrapBlazor/Components/AutoFill/AutoFill.razor.cs
  src/BootstrapBlazor/Components/Badge/ShieldBadge.razor.cs
  src/BootstrapBlazor/Components/Captcha/Captcha.razor.cs
  src/BootstrapBlazor/Components/Card/Card.razor.cs
  src/BootstrapBlazor/Components/Drawer/Drawer.razor.cs
  src/BootstrapBlazor/Components/EditorForm/EditorForm.razor.cs
  src/BootstrapBlazor/Components/Label/BootstrapLabel.razor.cs
  src/BootstrapBlazor/Components/Logout/Logout.razor.cs
  src/BootstrapBlazor/Components/Navbar/NavbarGroup.razor.cs
  src/BootstrapBlazor/Components/Toolbar/Toolbar.razor.cs
  src/BootstrapBlazor/Components/ValidateForm/ValidateForm.razor.cs
  src/BootstrapBlazor/Utils/CssBuilder.cs
  test/UnitTest/Components/DrawerTest.cs
  test/UnitTest/Utils/CssBuilderTest.cs
Labels: enhancement

#6800 fix(Table): filter out .is-detail rows when auto-fitting column widths
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.js
Labels: bug

#6807 fix(Modal): support backdrop on multiple dialog mode
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Dialog/Dialog.razor
  src/BootstrapBlazor/Components/Modal/Modal.razor.scss
Labels: bug, investigation

#6809 fix(Table): double click col trigger ResizeColumnCallback
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.js
Labels: enhancement
