Repository dotnetcore/BootstrapBlazor, pull requests merged in 2025-04, with the labels that each got.

#5757 feat(Tab): compatible with devui style
  src/BootstrapBlazor.Server/Components/Samples/Tabs.razor
  src/BootstrapBlazor.Server/Components/Samples/Tabs.razor.cs
  src/BootstrapBlazor.Server/wwwroot/css/devui.css
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Tab/Tab.razor
  src/BootstrapBlazor/Components/Tab/Tab.razor.scss
Labels: enhancement

#5759 doc(Chat): update chat sample
  src/BootstrapBlazor.Server/Components/Pages/Chats.razor
  src/BootstrapBlazor.Server/Components/Pages/Chats.razor.cs
  src/BootstrapBlazor.Server/Components/Pages/Chats.razor.css
Labels: documentation

#5762 feat(Layout): add ShowTabInHeader parameter
  src/BootstrapBlazor/Components/Layout/Layout.razor
  src/BootstrapBlazor/Components/Layout/Layout.razor.cs
  src/BootstrapBlazor/Components/Layout/LayoutHeader.cs
  src/BootstrapBlazor/Components/Tab/ITabHeader.cs
  src/BootstrapBlazor/Components/Tab/Tab.razor
  src/BootstrapBlazor/Components/Tab/Tab.razor.cs
  src/BootstrapBlazor/Components/Tab/Tab.razor.js
  test/UnitTest/Components/LayoutTest.cs
Labels: enhancement

#5764 perf(DispatchService): improve performance
  src/BootstrapBlazor/Services/DefaultDispatchService.cs
Labels: enhancement

#5766 perf(ContextMenu): improve performance
  src/BootstrapBlazor/Components/ContextMenu/ContextMenu.razor
  src/BootstrapBlazor/Components/ContextMenu/ContextMenu.razor.js
  src/BootstrapBlazor/wwwroot/modules/utility.js
  test/UnitTest/Components/LayoutTest.cs
  test/UnitTest/Services/ThrottleTest.cs
Labels: enhancement

#5771 feat(Tab): reduce cascade parameters
  src/BootstrapBlazor/Components/Layout/Layout.razor.cs
  src/BootstrapBlazor/Components/Layout/Layout.razor.scss
  src/BootstrapBlazor/Components/Tab/Tab.razor
  src/BootstrapBlazor/Components/Tab/Tab.razor.cs
  src/BootstrapBlazor/Components/Tab/Tab.razor.scss
  test/UnitTest/Components/LayoutTest.cs
  test/UnitTest/Components/TabTest.cs
Labels: enhancement

#5768 refactor(Layout): improve context menu instance
  src/BootstrapBlazor/Components/ContextMenu/ContextMenuZone.razor.cs
Labels: enhancement

#5773 feat(Layout): add style support ShowTabInHeader parameter
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Layout/Layout.razor.scss
  src/BootstrapBlazor/Components/Tab/Tab.razor
  src/BootstrapBlazor/Components/Tab/Tab.razor.cs
  src/BootstrapBlazor/Components/Tab/Tab.razor.scss
Labels: enhancement

#5780 bug(Table): not restore scrollbar after close drawer edit form
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Drawer/Drawer.razor
  src/BootstrapBlazor/Components/Drawer/Drawer.razor.cs
  src/BootstrapBlazor/Components/Drawer/Drawer.razor.js
  src/BootstrapBlazor/Components/Drawer/Drawer.razor.scss
  src/BootstrapBlazor/Components/Drawer/DrawerContainer.cs
  src/BootstrapBlazor/Components/Table/Table.razor.Toolbar.cs
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrapblazor.scss
  test/UnitTest/Components/DrawerTest.cs
Labels: bug

#5782 feat(Tab): reduce toolbar spacing
  src/BootstrapBlazor.Server/wwwroot/css/devui.css
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Tab/Tab.razor.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrapblazor.scss
Labels: enhancement

#5785 doc(Tab): add ShowTabInHeader documentation
  src/BootstrapBlazor.Server/Components/Samples/Tabs.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
Labels: documentation

#5787 feat(Tab): add TabHeader parameter
  src/BootstrapBlazor/Components/Layout/Layout.razor
  src/BootstrapBlazor/Components/Layout/Layout.razor.cs
  src/BootstrapBlazor/Components/Layout/LayoutHeader.cs
  src/BootstrapBlazor/Components/Tab/ITabHeader.cs
  src/BootstrapBlazor/Components/Tab/Tab.razor
  src/BootstrapBlazor/Components/Tab/Tab.razor.cs
  src/BootstrapBlazor/Components/Tab/Tab.razor.js
  test/UnitTest/Components/LayoutTest.cs
  test/UnitTest/Components/TabTest.cs
Labels: enhancement

#5791 feat(Watermark): update logic to prevent errors
  src/BootstrapBlazor/Components/Watermark/Watermark.razor.js
Labels: enhancement

#5793 feat(Watermark): add IsPage parameter
  src/BootstrapBlazor.Server/Components/Samples/Watermarks.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/Watermark/Watermark.razor.cs
  src/BootstrapBlazor/Components/Watermark/Watermark.razor.js
  src/BootstrapBlazor/Components/Watermark/Watermark.razor.scss
  src/BootstrapBlazor/wwwroot/modules/utility.js
  test/UnitTest/Components/WatermarkTest.cs
Labels: enhancement

#5795 fix(Layout): missing route handler when url has #
  src/BootstrapBlazor/Components/Layout/Layout.razor.cs
  src/BootstrapBlazor/Components/Tab/Tab.razor.js
Labels: bug

#5797 feat(Slider): update style compatible with row
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Slider/Slider.razor.scss
Labels: enhancement

#5800 feat(DateTimeRange): add ShowSelectedValue parameter
  src/BootstrapBlazor.Server/Components/Samples/DateTimeRanges.razor
  src/BootstrapBlazor.Server/Components/Samples/DateTimeRanges.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/DateTimeRange/DateTimeRange.razor.cs
  test/UnitTest/Components/DateTimeRangeTest.cs
Labels: enhancement

#5802 feat(DateTimeRange): add AutoClose parameter
  src/BootstrapBlazor.Server/Components/Samples/DateTimeRanges.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/DateTimeRange/DateTimeRange.razor.cs
  test/UnitTest/Components/DateTimeRangeTest.cs
Labels: enhancement

#5804 feat(ShieldBadge): add ShieldBadge component
  src/BootstrapBlazor.Server/Components/Components/DemoBlock.razor.css
  src/BootstrapBlazor.Server/Components/Samples/ShieldBadges.razor
  src/BootstrapBlazor.Server/Components/Samples/ShieldBadges.razor.cs
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/docs.json
  src/BootstrapBlazor/Components/Badge/Badge.razor.cs
  src/BootstrapBlazor/Components/Badge/ShieldBadge.razor
  src/BootstrapBlazor/Components/Badge/ShieldBadge.razor.cs
  src/BootstrapBlazor/Components/Badge/ShieldBadge.razor.scss
  src/BootstrapBlazor/wwwroot/scss/components.scss
  test/UnitTest/Components/ShieldBadgeTest.cs
Labels: enhancement

#5806 fix(Select): make sure show the right display text
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Select/Select.razor.cs
  test/UnitTest/Components/SelectTest.cs
Labels: bug

#5808 bug(Waterfall): throw exception when click item
  src/BootstrapBlazor/Components/Waterfall/Waterfall.razor.js
Labels: bug

#5814 fix(AutoComplete): missing value when click delete item
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.cs
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.js
  test/UnitTest/Components/AutoCompleteTest.cs
Labels: bug

#5816 fix(AutoComplete): tabbing off AutoComplete field does not close its drop down
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.js
Labels: bug

#5817 fix(AutoComplete): missing value when click delete item
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.js
Labels: bug

#5818 fix(AutoComplete): tabbing off AutoComplete field does not close its drop down
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.js
Labels: bug

#5823 fix(AutoComplete): auto filter the dropdown items when Value is not null
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.cs
  test/UnitTest/Components/AutoCompleteTest.cs
Labels: bug

#5825 feat(Watermark): add data-bb-watermark attribute
  src/BootstrapBlazor/Components/Watermark/Watermark.razor.js
Labels: enhancement

#5826 fix(Table): stuck search form-control when press keyup/keydown when IsExcel mode
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.js
Labels: bug

#5819 fix(AutoComplete): studder on long running OnValueChanged function call
  src/BootstrapBlazor.Server/Components/Samples/AutoCompletes.razor
  src/BootstrapBlazor.Server/Components/Samples/AutoCompletes.razor.cs
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.cs
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.js
  src/BootstrapBlazor/Components/AutoComplete/PopoverCompleteBase.cs
  src/BootstrapBlazor/Components/AutoFill/AutoFill.razor.cs
  src/BootstrapBlazor/Components/Input/BootstrapInputBase.cs
  src/BootstrapBlazor/Components/Search/Search.razor.cs
  test/UnitTest/Components/AutoCompleteTest.cs
  test/UnitTest/Components/InputTest.cs
Labels: bug

#5831 feat(AutoFill): consistent with AutoComplete partial refresh of drop-down box
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.js
  src/BootstrapBlazor/Components/AutoFill/AutoFill.razor
  src/BootstrapBlazor/Components/AutoFill/AutoFill.razor.cs
  src/BootstrapBlazor/Components/Search/Search.razor
  src/BootstrapBlazor/Components/Search/Search.razor.cs
  test/UnitTest/Components/AutoFillTest.cs
  test/UnitTest/Components/SearchTest.cs
Labels: enhancement

#5833 refactor(AutoComplete): auto close dropdown box after press tab
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.js
Labels: enhancement

#5834 fix(Select): cannot select value again after clear by code
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Select/Select.razor.cs
Labels: bug

#5836 refactor(AutoComplete): revert blur event callback
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.cs
  src/BootstrapBlazor/Components/AutoComplete/PopoverCompleteBase.cs
  src/BootstrapBlazor/Components/AutoFill/AutoFill.razor.cs
  src/BootstrapBlazor/Components/Search/Search.razor.cs
  test/UnitTest/Components/AutoCompleteTest.cs
Labels: enhancement

#5838 refactor(AutoComplete): update blur logic
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.cs
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.js
  src/BootstrapBlazor/Components/AutoComplete/PopoverCompleteBase.cs
  src/BootstrapBlazor/Components/AutoFill/AutoFill.razor.cs
  src/BootstrapBlazor/Components/Search/Search.razor.cs
  test/UnitTest/Components/AutoCompleteTest.cs
  test/UnitTest/Components/AutoFillTest.cs
  test/UnitTest/Components/SearchTest.cs
Labels: enhancement

#5842 feat(AutoFill): always filter the dropdown items by input text
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.cs
  src/BootstrapBlazor/Components/AutoFill/AutoFill.razor.cs
  src/BootstrapBlazor/Components/Search/Search.razor.cs
Labels: enhancement

#5844 feat(Tab): add IsLoopSwitchTabItem parameter controll switch tab item behavior
  src/BootstrapBlazor.Server/Components/Samples/Tabs.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Tab/Tab.razor.cs
  test/UnitTest/Components/TabTest.cs
Labels: enhancement

#5846 feat(DefaultTableExport): add EnableAutoFilter/EnableAutoWidth property
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Options/TableExportOptions.cs
  test/UnitTest/Options/BootstrapBlazorOptionsTest.cs
Labels: enhancement

#5849 feat(DefaultTableExport): add EnableAutoFilter property
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
Labels: enhancement

#5851 feat(Table): add col-line-no style on Line column
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Components/Table/Table.razor.scss
Labels: enhancement

#5858 feat(Scroll): add ScrollToBottom method
  src/BootstrapBlazor.Server/Components/Samples/Scrolls.razor
  src/BootstrapBlazor.Server/Components/Samples/Scrolls.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/Scroll/Scroll.razor
  src/BootstrapBlazor/Components/Scroll/Scroll.razor.cs
  src/BootstrapBlazor/Components/Scroll/Scroll.razor.js
  test/UnitTest/Components/ScrollTest.cs
Labels: enhancement

#5862 feat(Ajax): support form post data
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/wwwroot/modules/ajax.js
Labels: enhancement

#5866 feat(Dialog): add IsHidePreviousDialog parameter
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Dialog/Dialog.razor
  src/BootstrapBlazor/Components/Dialog/Dialog.razor.cs
  src/BootstrapBlazor/Components/Dialog/DialogOption.cs
  src/BootstrapBlazor/Components/Modal/Modal.razor.scss
  src/BootstrapBlazor/Components/Modal/ModalDialog.razor.cs
Labels: enhancement

#5870 feat(TableExport): bump MiniExcel version to 1.41.0
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Components/CustomWinBoxContent.razor.cs
  src/BootstrapBlazor.Server/Components/Layout/HomeLayout.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Avatars.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/IntersectionObservers.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/ListViews.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Notifications.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/SelectObjects.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Uploads.razor.cs
  src/BootstrapBlazor.Server/Extensions/ICacheEntryExtensions.cs
  src/BootstrapBlazor/Components/Button/Button.razor.cs
  src/BootstrapBlazor/Components/Checkbox/CheckboxList.razor.cs
  src/BootstrapBlazor/Components/Checkbox/CheckboxListGeneric.razor.cs
  src/BootstrapBlazor/Components/SelectGeneric/SelectOptionGeneric.cs
  src/BootstrapBlazor/Components/WebSpeech/WebSpeechService.cs
  test/UnitTest/Components/CheckboxListGenericTest.cs
  test/UnitTest/Components/DisplayTest.cs
  test/UnitTest/Components/TransitionTest.cs
  test/UnitTest/Localization/JsonStringLocalizerTest.cs
  test/UnitTest/Services/BluetoothServiceTest.cs
  test/UnitTest/Services/ClipboardServiceTest.cs
  test/UnitTest/Services/IpLocatorTest.cs
  tools/Benchmarks/Benmarks.cs
Labels: enhancement

#5872 test(Dialog): improve code coverage
  test/UnitTest/Components/DialogTest.cs
Labels: test

#5873 feat(Table): support fixed column on ResizeColumnCallback
  src/BootstrapBlazor/Components/Table/Table.razor.cs
Labels: enhancement

#5874 修复 Ajax 组件 body 内容错误问题
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/wwwroot/modules/ajax.js
Labels: bug

#5878 fix(Button): IsAsync parameter support wpf
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Button/Button.razor.cs
  src/BootstrapBlazor/Components/Button/CountButton.cs
  src/BootstrapBlazor/Components/Button/PopConfirmButton.razor.cs
Labels: bug

#5881 chore(Ajax): update ajax body according method
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/wwwroot/modules/ajax.js
Labels: chore

#5882 revert(Button): undo Button code changes
  src/BootstrapBlazor/Components/Button/Button.razor.cs
Labels: bug

#5885 feat(Markdown): support default Language
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
Labels: enhancement

#5887 feat(DockView): bump version DockView 4.2.3
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
Labels: enhancement

#5889 feat(PopConfirmButton): support trigger OnClose event callback when click document
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Button/PopConfirmButton.razor
  src/BootstrapBlazor/Components/Button/PopConfirmButton.razor.cs
  src/BootstrapBlazor/Components/Button/PopConfirmButton.razor.js
  src/BootstrapBlazor/Components/Button/PopConfirmButtonBase.cs
  src/BootstrapBlazor/Components/Table/TableExtensionButton.razor.cs
  src/BootstrapBlazor/Components/Table/TableToolbar.razor.cs
  test/UnitTest/Components/PopConfirmButtonTest.cs
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#5891 chore(Button): remove Task.Run in event callback
  src/BootstrapBlazor/Components/Button/Button.razor.cs
  src/BootstrapBlazor/Components/Button/CountButton.cs
  src/BootstrapBlazor/Components/Button/PopConfirmButton.razor.cs
Labels: bug

#5894 feat(SpeechWave): remove Task.Run support wpf
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Speech/SpeechWave.razor.cs
  test/UnitTest/Components/RecognizerTest.cs
Labels: enhancement

#5896 feat(Timer): remove Task.Run support wpf
  src/BootstrapBlazor/Components/Timer/Timer.razor.cs
Labels: enhancement

#5898 refactor(PopConfirmButton): add OnConfirm null check
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Button/PopConfirmButton.razor.cs
Labels: enhancement

#5905 feat(BootstrapInputGroupLabel): add ChildContent parameter
  src/BootstrapBlazor/Components/Input/BootstrapInputGroupLabel.razor
  src/BootstrapBlazor/Components/Input/BootstrapInputGroupLabel.razor.cs
  test/UnitTest/Components/InputTest.cs
Labels: enhancement

#5910 test(BootstrapInputGroupLabel): add ChildContent unit test
  test/UnitTest/Components/InputTest.cs
Labels: test

#5908 refactor(Timer): refactor prevent stuck thread
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Timer/Timer.razor.cs
  test/UnitTest/Components/TimerTest.cs
Labels: enhancement

#5902 feat(OtpInput): add OtpInput component
  exclusion.dic
  src/BootstrapBlazor.Server/Components/Samples/OtpInputs.razor
  src/BootstrapBlazor.Server/Components/Samples/OtpInputs.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/ValidateForms.razor
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/docs.json
  src/BootstrapBlazor/Components/Input/OtpInput.razor
  src/BootstrapBlazor/Components/Input/OtpInput.razor.cs
  src/BootstrapBlazor/Components/Input/OtpInput.razor.js
  src/BootstrapBlazor/Components/Input/OtpInput.razor.scss
  src/BootstrapBlazor/Enums/OtpInputType.cs
  src/BootstrapBlazor/wwwroot/scss/components.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrapblazor.scss
  test/UnitTest/Components/OtpInputTest.cs
Labels: enhancement

#5900 feat(ITotpService): add ITotpService interface
  BootstrapBlazor.sln
  exclusion.dic
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Components/Pre.razor.js
  src/BootstrapBlazor.Server/Components/Samples/Authenticators.razor
  src/BootstrapBlazor.Server/Components/Samples/Authenticators.razor.cs
  src/BootstrapBlazor.Server/Extensions/ServiceCollectionSharedExtensions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/docs.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Extensions/BootstrapBlazorServiceCollectionExtensions.cs
  src/BootstrapBlazor/Options/OtpOptions.cs
  src/BootstrapBlazor/Services/DefaultTotpService.cs
  src/BootstrapBlazor/Services/ITotpService.cs
  test/UnitTest/Options/OtpOptionsTest.cs
  test/UnitTest/Services/TotpServiceTest.cs
Labels: enhancement

#5912 doc(ITotpService): add sample code
  BootstrapBlazor.sln
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/Authenticators.razor
  src/BootstrapBlazor.Server/Components/Samples/OtpServices.razor
  src/BootstrapBlazor.Server/Components/Samples/OtpServices.razor.cs
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Extensions/ServiceCollectionSharedExtensions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/docs.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Services/DefaultTotpService.cs
  src/BootstrapBlazor/Services/ITotpService.cs
Labels: documentation

#5906 feat(ExpandableNodeCache): use RemoveWhere instead of Remove method
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Misc/ExpandableNodeCache.cs
Labels: bug

#5915 feat(LayoutSpitBar): rename LayoutSplitBar component name
  src/BootstrapBlazor.Server/Components/Layout/MainLayout.razor
  src/BootstrapBlazor.Server/Components/Layout/TutorialsLayout.razor
  src/BootstrapBlazor.Server/Components/Samples/Layouts.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Layout/Layout.razor
  src/BootstrapBlazor/Components/Layout/Layout.razor.cs
  src/BootstrapBlazor/Components/Layout/LayoutSplitBar.razor
  src/BootstrapBlazor/Components/Layout/LayoutSplitBar.razor.cs
  src/BootstrapBlazor/Components/Layout/LayoutSplitBar.razor.js
  src/BootstrapBlazor/Components/Layout/LayoutSplitBar.razor.scss
  src/BootstrapBlazor/wwwroot/scss/components.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrapblazor.scss
  test/UnitTest/Components/LayoutSplitebarTest.cs
  test/UnitTest/Components/LayoutTest.cs
Labels: enhancement

#5918 chore(PdfReader): support Watermark component
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor/BootstrapBlazor.csproj
Labels: investigation

#5921 feat(Player): add OnEvent callback
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
Labels: enhancement

#5925 chore(UniverSheet): bump version 9.0.4
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
Labels: enhancement

#5927 chore(DockView): bump version 9.1.12
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
Labels: enhancement

#5929 feat(Search): redesign OnClear parameter
  src/BootstrapBlazor.Server/Components/Pages/Coms.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Searches.razor
  src/BootstrapBlazor.Server/Components/Samples/Searches.razor.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/EditorForm/EditorForm.razor
  src/BootstrapBlazor/Components/Search/Search.razor.cs
  test/UnitTest/Components/SearchTest.cs
Labels: enhancement
