Repository dotnetcore/BootstrapBlazor, pull requests merged in 2025-06, with the labels that each got.

#6130 refactor(DynamicElement): refactor code to improve readability
  src/BootstrapBlazor/Components/BaseComponents/DynamicElement.cs
Labels: enhancement

#6135 doc(SelectGeneric): update `IsEditable` paraemeter sample code
  src/BootstrapBlazor.Server/Components/Samples/SelectGenerics.razor
  src/BootstrapBlazor.Server/Components/Samples/SelectGenerics.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/SelectGeneric/SelectGeneric.razor.cs
Labels: enhancement

#6137 chore(Bootstrap): load bootstrap unbundle javascript on debug mode
  .gitignore
  src/BootstrapBlazor/Directory.Build.targets
  src/BootstrapBlazor/wwwroot/js/bootstrap.blazor.bundle.min.js
Labels: chore

#6141 revert(IErrorLogger): revert update bool to nullable bool
  src/BootstrapBlazor/Components/ErrorLogger/ErrorLogger.cs
  src/BootstrapBlazor/Components/ErrorLogger/IErrorLogger.cs
Labels: enhancement

#6150 refactor(Tab): remove ShowErrorLoggerToast parameter
  src/BootstrapBlazor/Components/Layout/Layout.razor
  src/BootstrapBlazor/Components/Tab/Tab.razor
  src/BootstrapBlazor/Components/Tab/Tab.razor.cs
  src/BootstrapBlazor/Components/Tab/TabItemContent.cs
Labels: enhancement

#6152 feat(IErrorLogger): support Release mode only show exception message
  src/BootstrapBlazor/Components/ErrorLogger/BootstrapBlazorErrorBoundary.cs
  src/BootstrapBlazor/Components/Layout/Layout.razor.cs
  src/BootstrapBlazor/Components/Modal/ModalDialog.razor.cs
  src/BootstrapBlazor/Components/Tab/TabItemContent.cs
  src/BootstrapBlazor/Directory.Build.props
  test/UnitTest/Components/BootstrapBlazorRootTest.cs
  test/UnitTest/Components/ErrorLoggerTest.cs
  test/UnitTest/Core/TestBase.cs
  test/UnitTest/Extensions/IServiceCollectionExtensions.cs
  test/UnitTest/Services/MaskServiceTest.cs
Labels: enhancement

#6157 feat(Upload): use local preview instead of base64 format
  src/BootstrapBlazor.Server/Components/Samples/UploadAvatars.razor
  src/BootstrapBlazor.Server/Components/Samples/UploadAvatars.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Upload/AvatarUpload.razor.cs
  src/BootstrapBlazor/Components/Upload/CardUpload.razor.cs
  src/BootstrapBlazor/Extensions/UploadFileExtensions.cs
  src/BootstrapBlazor/wwwroot/modules/upload.js
  src/BootstrapBlazor/wwwroot/modules/utility.js
  test/UnitTest/Components/UploadAvatarTest.cs
Labels: enhancement

#6160 feat(IFrame): add attributes support
  src/BootstrapBlazor/Components/IFrame/IFrame.razor
Labels: enhancement

#6164 feat(PdfViewer): add PdfViewer component
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/PdfViewers.razor
  src/BootstrapBlazor.Server/Components/Samples/PdfViewers.razor.cs
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/docs.json
  src/BootstrapBlazor.Server/wwwroot/samples/pdf-viewer.pdf
Labels: enhancement

#6162 doc(Login): add microsoft login template
  src/BootstrapBlazor.Server/Components/Layout/TutorialsNavMenu.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/LoginAndRegister/Template5.razor
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/LoginAndRegister/Template5.razor.css
  src/BootstrapBlazor.Server/Components/Samples/UploadAvatars.razor.cs
Labels: documentation

#6166 doc(PdfViewer): add OnLoaded event callback sample code
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/PdfViewers.razor
  src/BootstrapBlazor.Server/Components/Samples/PdfViewers.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
Labels: documentation

#6168 test(Upload): improve code coverage
  .github/workflows/auto-pull-request-checks.yml
  .github/workflows/build.yml
  src/BootstrapBlazor/Components/Upload/UploadPreviewList.razor.cs
  test/UnitTest/Components/UploadButtonTest.cs
Labels: test

#6173 fix(Select): search icon not vertical center when use BI icon theme
  src/BootstrapBlazor.Server/Components/Samples/PdfViewers.razor.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Select/Select.razor.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrapblazor.scss
Labels: bug

#6175 feat(ImageCorpper): update AspectRatio type to float
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/ImageCroppers.razor.cs
Labels: enhancement

#6177 feat(ImageCropper): add Preview parameter
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/ImageCroppers.razor
  src/BootstrapBlazor.Server/Components/Samples/ImageCroppers.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
Labels: enhancement

#6179 feat(ImageCropper): add OnCropChangedAsync parameter
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/ImageCroppers.razor
  src/BootstrapBlazor.Server/Components/Samples/ImageCroppers.razor.cs
Labels: enhancement

#6181 chore(Docker): update ENV lang variable
  src/BootstrapBlazor.Server/Dockerfile
Labels: chore

#6183 feat(PdfViewer): use HTTPS protocal
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
Labels: enhancement

#6185 feat(PdfViewer): add embedded parameter
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
Labels: enhancement

#6186 fix(Login): update Template5 login template return button style
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/LoginAndRegister/Template5.razor.css
  src/BootstrapBlazor/BootstrapBlazor.csproj
Labels: documentation

#6189 feat(Stack): rename bb_stack to bb-stack
  src/BootstrapBlazor.Server/Components/Samples/Stacks.razor.css
  src/BootstrapBlazor/Components/Stack/Stack.razor.cs
  test/UnitTest/Components/StackTest.cs
Labels: enhancement

#6191 feat(Bootstrap): bump dependence 5.3.6
  src/BootstrapBlazor/wwwroot/core/bootstrap/css/bootstrap.css
  src/BootstrapBlazor/wwwroot/core/bootstrap/css/bootstrap.min.css
  src/BootstrapBlazor/wwwroot/core/bootstrap/css/bootstrap.rtl.css
  src/BootstrapBlazor/wwwroot/core/bootstrap/css/bootstrap.rtl.min.css
  src/BootstrapBlazor/wwwroot/core/bootstrap/js/bootstrap.bundle.js
  src/BootstrapBlazor/wwwroot/core/bootstrap/js/bootstrap.bundle.min.js
Labels: enhancement

#6195 doc(BootstrapBlazorRoot): update usage documentation
  src/BootstrapBlazor.Server/Components/Components/InstallContent.razor
  src/BootstrapBlazor.Server/Components/Components/InstallContent.razor.cs
  src/BootstrapBlazor.Server/Components/Pages/Install_Maui.razor
  src/BootstrapBlazor.Server/Components/Pages/Install_Server.razor
  src/BootstrapBlazor.Server/Components/Pages/Install_WebApp.razor
  src/BootstrapBlazor.Server/Components/Pages/Install_wasm.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
Labels: documentation

#6197 feat(BootstrapServiceBase): update exception message
  src/BootstrapBlazor/Components/BaseComponents/BootstrapBlazorRoot.razor
  src/BootstrapBlazor/Components/BaseComponents/BootstrapBlazorRoot.razor.cs
  src/BootstrapBlazor/Services/BootstrapServiceBase.cs
Labels: enhancement

#6199 feat(Select): redesign OnBeforeSelectedItemChange logic
  src/BootstrapBlazor/Components/Select/Select.razor.cs
Labels: enhancement

#6201 feat(Bootstrap): support dynamic load bootstrap javascript
  src/BootstrapBlazor.Server/Components/App.razor
  src/BootstrapBlazor/Components/AnchorLink/AnchorLink.razor.js
  src/BootstrapBlazor/Components/Button/Button.razor.js
  src/BootstrapBlazor/Components/Layout/Layout.razor.js
  src/BootstrapBlazor/Components/Modal/Modal.razor.js
  src/BootstrapBlazor/Components/Popover/Popover.razor.js
  src/BootstrapBlazor/Components/Segmented/Segmented.razor.js
  src/BootstrapBlazor/wwwroot/modules/base-popover.js
  src/BootstrapBlazor/wwwroot/modules/utility.js
Labels: enhancement

#6205 revert(Bootstrap): revert dynamic load bootstrap module
  src/BootstrapBlazor.Server/Components/App.razor
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/AnchorLink/AnchorLink.razor.js
  src/BootstrapBlazor/Components/Button/Button.razor.js
  src/BootstrapBlazor/Components/Layout/Layout.razor.js
  src/BootstrapBlazor/Components/Modal/Modal.razor.js
  src/BootstrapBlazor/Components/Popover/Popover.razor.js
  src/BootstrapBlazor/Components/Segmented/Segmented.razor.js
  src/BootstrapBlazor/wwwroot/modules/base-popover.js
  src/BootstrapBlazor/wwwroot/modules/utility.js
Labels: enhancement

#6214 doc(Bootstrap): remove dynamic load bootstrap doc
  src/BootstrapBlazor.Server/Components/Pages/Install_WebApp.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
Labels: documentation

#6218 feat(FlipClock): add ShowDay parameter
  src/BootstrapBlazor.Server/Components/Samples/FlipClocks.razor
  src/BootstrapBlazor.Server/Components/Samples/FlipClocks.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/FlipClock/FlipClock.razor
  src/BootstrapBlazor/Components/FlipClock/FlipClock.razor.cs
  src/BootstrapBlazor/Components/FlipClock/FlipClock.razor.js
  src/BootstrapBlazor/Components/FlipClock/FlipClock.razor.scss
  test/UnitTest/Components/FlipClockTest.cs
Labels: enhancement

#6222 feat(FlipClock): add ShowMonth parameter
  src/BootstrapBlazor.Server/Components/Samples/FlipClocks.razor
  src/BootstrapBlazor.Server/Components/Samples/FlipClocks.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/FlipClock/FlipClock.razor
  src/BootstrapBlazor/Components/FlipClock/FlipClock.razor.cs
  src/BootstrapBlazor/Components/FlipClock/FlipClock.razor.js
  test/UnitTest/Components/FlipClockTest.cs
Labels: enhancement

#6224 feat(FlipClock): add ShowYear parameter
  src/BootstrapBlazor.Server/Components/Samples/FlipClocks.razor
  src/BootstrapBlazor.Server/Components/Samples/FlipClocks.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/FlipClock/FlipClock.razor
  src/BootstrapBlazor/Components/FlipClock/FlipClock.razor.cs
  src/BootstrapBlazor/Components/FlipClock/FlipClock.razor.js
  test/UnitTest/Components/FlipClockTest.cs
Labels: enhancement

#6230 doc(Pre): update Pre style
  src/BootstrapBlazor.Server/Components/Components/Pre.razor.css
  src/BootstrapBlazor.Server/Components/Layout/BaseLayout.razor.css
Labels: documentation

#6228 feat(Vditor): add Vditor component
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/CherryMarkdowns.razor
  src/BootstrapBlazor.Server/Components/Samples/Vditors.razor
  src/BootstrapBlazor.Server/Components/Samples/Vditors.razor.cs
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/docs.json
  test/UnitTest/Performance/RecordTest.cs
Labels: enhancement

#6232 feat(Light): rename class name light to bb-light
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Light/Light.razor.cs
  src/BootstrapBlazor/Components/Light/Light.razor.scss
  test/UnitTest/Components/LightTest.cs
Labels: enhancement

#6234 fix(Select): trigger OnSelectedItemsChanged after clear
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Select/MultiSelect.razor.cs
  src/BootstrapBlazor/Components/Select/Select.razor.cs
  src/BootstrapBlazor/Components/SelectGeneric/MultiSelectGeneric.razor.cs
  src/BootstrapBlazor/Components/SelectGeneric/SelectGeneric.razor.cs
  test/UnitTest/Components/MultiSelectTest.cs
  test/UnitTest/Components/SelectGenericTest.cs
  test/UnitTest/Components/SelectTest.cs
Labels: bug

#6237 feat(cherry-markdown): add IsSupportMath parameter
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/CherryMarkdowns.razor
Labels: enhancement

#6238 perf(Table): use ReferenceEqualityComparer instance
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.Sort.cs
  src/BootstrapBlazor/Components/Table/TableToolbar.razor.cs
Labels: enhancement

#6246 feat(ErrorLogger): add EnableILogger parameter
  src/BootstrapBlazor/Components/ErrorLogger/BootstrapBlazorErrorBoundary.cs
  src/BootstrapBlazor/Components/ErrorLogger/ErrorLogger.cs
  src/BootstrapBlazor/Components/ErrorLogger/IErrorLogger.cs
  src/BootstrapBlazor/Components/Layout/Layout.razor
  src/BootstrapBlazor/Components/Layout/Layout.razor.cs
  src/BootstrapBlazor/Options/BootstrapBlazorOptions.cs
  test/UnitTest/Components/LayoutTest.cs
Labels: enhancement

#6248 doc(Select): update ShowSwal sample code
  src/BootstrapBlazor.Server/Components/Samples/Selects.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
Labels: documentation

#6244 feat(IpAddress): support ArrowLeft/Right key
  src/BootstrapBlazor/Components/IpAddress/IpAddress.razor.cs
  src/BootstrapBlazor/Components/IpAddress/IpAddress.razor.js
Labels: enhancement

#6242 fix(Table): update table column order in OnColumnCreating not work
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/ColumnWidth.cs
  src/BootstrapBlazor/Components/Table/Table.razor.Toolbar.cs
  src/BootstrapBlazor/Components/Table/Table.razor.cs
Labels: bug

#6251 feat(Table): add ShowColorWhenToolbarButtonsCollapsed parameter
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/Components/Table/Table.razor.Toolbar.cs
  src/BootstrapBlazor/Components/Table/Table.razor.scss
  src/BootstrapBlazor/Components/Table/TableToolbar.razor.cs
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#6254 feat(ITcpSocketFactory): add ITcpSocketFactory service
  src/BootstrapBlazor/Extensions/HostEnvironmentExtensions.cs
  src/BootstrapBlazor/Services/TcpSocket/DataPackage/DataPackageHandlerBase.cs
  src/BootstrapBlazor/Services/TcpSocket/DataPackage/FixLengthDataPackageHandler.cs
  src/BootstrapBlazor/Services/TcpSocket/DataPackage/IDataPackageHandler.cs
  src/BootstrapBlazor/Services/TcpSocket/DefaultTcpSocketClient.cs
  src/BootstrapBlazor/Services/TcpSocket/DefaultTcpSocketFactory.cs
  src/BootstrapBlazor/Services/TcpSocket/Extensions/TcpSocketExtensions.cs
  src/BootstrapBlazor/Services/TcpSocket/ITcpSocketClient.cs
  src/BootstrapBlazor/Services/TcpSocket/ITcpSocketFactory.cs
  test/UnitTest/Extensions/HostEnvironmentExtensionsTest.cs
  test/UnitTest/Services/TcpSocketFactoryTest.cs
Labels: enhancement

#6256 doc(ITcpSocketFactory): add ITcpSocketFactory documentation
  src/BootstrapBlazor.Server/Components/Samples/SocketFactories.razor
  src/BootstrapBlazor.Server/Components/Samples/SocketFactories.razor.cs
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/docs.json
Labels: documentation

#6258 perf(TreeView): use Remove method improve performance
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Misc/ExpandableNodeCache.cs
Labels: enhancement

#6264 feat(ITcpSocketClient): use ReadOnlyMemory improve performance
  src/BootstrapBlazor/Services/TcpSocket/DataPackage/DataPackageHandlerBase.cs
  src/BootstrapBlazor/Services/TcpSocket/DataPackage/DelimiterDataPackageHandler.cs
  src/BootstrapBlazor/Services/TcpSocket/DataPackage/FixLengthDataPackageHandler.cs
  src/BootstrapBlazor/Services/TcpSocket/DataPackage/IDataPackageHandler.cs
  src/BootstrapBlazor/Services/TcpSocket/DefaultTcpSocketClient.cs
  src/BootstrapBlazor/Services/TcpSocket/ITcpSocketClient.cs
  test/UnitTest/Services/TcpSocketFactoryTest.cs
Labels: enhancement

#6273 feat(ITcpSocketClient): add ConnectAsync extension method
  src/BootstrapBlazor.Server/Components/Samples/SocketFactories.razor
  src/BootstrapBlazor/Extensions/ITcpSocketClientExtensions.cs
  src/BootstrapBlazor/Services/TcpSocket/DefaultTcpSocketClient.cs
  src/BootstrapBlazor/Services/TcpSocket/DefaultTcpSocketFactory.cs
  src/BootstrapBlazor/Services/TcpSocket/ITcpSocketClient.cs
  src/BootstrapBlazor/Utils/Utility.cs
  test/UnitTest/Services/TcpSocketFactoryTest.cs
  test/UnitTest/Utils/UtilityTest.cs
Labels: enhancement

#6275 doc(ITcpSocketFactory): add DataAdapter documentation
  src/BootstrapBlazor.Server/Components/Samples/SocketFactories.razor
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Locales/zh-CN.json
Labels: documentation

#6268 feat(ITcpSocketClient): add TouchSocket extensions
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Services/TcpSocket/DefaultTcpSocketClient.cs
  src/BootstrapBlazor/Services/TcpSocket/DefaultTcpSocketFactory.cs
Labels: enhancement

#6284 feat(OtpInput ): support responsive layout
  src/BootstrapBlazor.Server/Components/Samples/OtpInputs.razor
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/MFA/TwoFactorApp.razor.css
  src/BootstrapBlazor/Components/Input/OtpInput.razor.cs
  src/BootstrapBlazor/Components/Input/OtpInput.razor.js
  src/BootstrapBlazor/Components/Input/OtpInput.razor.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrapblazor.scss
  test/UnitTest/Components/OtpInputTest.cs
Labels: bug

#6285 refactor(ImageViewer): image element is not closed
  src/BootstrapBlazor/Components/ImagePreviewer/ImagePreviewer.razor
Labels: enhancement

#6290 feat(Upload): support drag/drop upload function
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Upload/AvatarUpload.razor
  src/BootstrapBlazor/Components/Upload/AvatarUpload.razor.cs
  src/BootstrapBlazor/Components/Upload/ButtonUpload.razor.cs
  src/BootstrapBlazor/Components/Upload/CardUpload.razor
  src/BootstrapBlazor/Components/Upload/CardUpload.razor.cs
  src/BootstrapBlazor/Components/Upload/InputUpload.razor
  src/BootstrapBlazor/Components/Upload/InputUpload.razor.scss
  src/BootstrapBlazor/wwwroot/modules/upload.js
  test/UnitTest/Components/UploadAvatarTest.cs
Labels: bug

#6297 feat(Table): update TableResetSearchButtonIcon icon
  src/BootstrapBlazor/Icons/BootstrapIcons.cs
  src/BootstrapBlazor/Icons/FontAwesomeIcons.cs
  src/BootstrapBlazor/Icons/MaterialDesignIcons.cs
Labels: enhancement

#6300 feat(Table): add default css for Reset/Search button
  src/BootstrapBlazor/Components/Table/Table.razor
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#6298 bug(Table): unsupported filter data type cause filter icon misalignment
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Filters/NotSupportFilter.razor
  src/BootstrapBlazor/Components/Filters/NotSupportFilter.razor.cs
  src/BootstrapBlazor/Components/Filters/TableColumnFilter.razor
  src/BootstrapBlazor/Components/Filters/TableColumnFilter.razor.cs
  src/BootstrapBlazor/Components/Tab/Tab.razor.cs
  test/UnitTest/Components/TabTest.cs
  test/UnitTest/Components/TableNotSupportFilterTest.cs
Labels: bug

#6302 feat(Table): add NotSupportedColumnFilterMessage parameter
  src/BootstrapBlazor/Components/Filters/NotSupportFilter.razor
  src/BootstrapBlazor/Components/Filters/NotSupportFilter.razor.cs
  src/BootstrapBlazor/Components/Filters/TableColumnFilter.razor
  src/BootstrapBlazor/Components/Filters/TableColumnFilter.razor.cs
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Locales/en.json
  src/BootstrapBlazor/Locales/zh.json
  test/UnitTest/Components/TableNotSupportFilterTest.cs
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#6304 feat(Select): add IsUseActiveWhenValueIsNull parameter
  src/BootstrapBlazor/Components/Select/Select.razor.cs
  test/UnitTest/Components/SelectTest.cs
Labels: enhancement

#6314 pef(Upload): add bufferSize parameter for improve save file performance
  src/BootstrapBlazor.Server/Components/Samples/UploadButtons.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/UploadCards.razor.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Extensions/UploadFileExtensions.cs
Labels: enhancement

#6318 feat(ITcpSocketClient): add Timeout parameter
  src/BootstrapBlazor/Services/TcpSocket/DataPackage/DataPackageHandlerBase.cs
  src/BootstrapBlazor/Services/TcpSocket/DataPackage/DelimiterDataPackageHandler.cs
  src/BootstrapBlazor/Services/TcpSocket/DataPackage/FixLengthDataPackageHandler.cs
  src/BootstrapBlazor/Services/TcpSocket/DataPackage/IDataPackageHandler.cs
  src/BootstrapBlazor/Services/TcpSocket/DefaultTcpSocketClient.cs
  src/BootstrapBlazor/Services/TcpSocket/ITcpSocketClient.cs
  test/UnitTest/Services/TcpSocketFactoryTest.cs
Labels: enhancement

#6322 doc(ITcpSocketClient): add Receive documentation
  src/BootstrapBlazor.Server/Components/Samples/SocketFactories.razor
  src/BootstrapBlazor.Server/Components/Samples/Sockets/Notice.razor
  src/BootstrapBlazor.Server/Components/Samples/Sockets/Receives.razor
  src/BootstrapBlazor.Server/Components/Samples/Sockets/Receives.razor.cs
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Extensions/ServiceCollectionExtensions.cs
  src/BootstrapBlazor.Server/Extensions/ServiceCollectionSharedExtensions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/Services/MockSocketServerService.cs
  src/BootstrapBlazor.Server/docs.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Services/TcpSocket/DefaultTcpSocketClient.cs
  src/BootstrapBlazor/Services/TcpSocket/Extensions/TcpSocketExtensions.cs
  test/UnitTest/Services/TcpSocketFactoryTest.cs
Labels: documentation

#6327 feat(TcpSocketClientBase): update generic class
  src/BootstrapBlazor/Services/TcpSocket/DefaultSocketClient.cs
  src/BootstrapBlazor/Services/TcpSocket/DefaultTcpSocketClient.cs
  src/BootstrapBlazor/Services/TcpSocket/DefaultTcpSocketFactory.cs
  src/BootstrapBlazor/Services/TcpSocket/ISocketClient.cs
  src/BootstrapBlazor/Services/TcpSocket/ITcpSocketClient.cs
  src/BootstrapBlazor/Services/TcpSocket/ITcpSocketFactory.cs
  src/BootstrapBlazor/Services/TcpSocket/SocketClientOptions.cs
  src/BootstrapBlazor/Services/TcpSocket/TcpSocketClientBase.cs
  test/UnitTest/Services/DefaultSocketClientTest.cs
  test/UnitTest/Services/TcpSocketFactoryTest.cs
Labels: enhancement

#6329 feat(ISocketClientProvider): add ISocketClientProvider service
  src/BootstrapBlazor/Services/TcpSocket/DefaultSocketClientProvider.cs
  src/BootstrapBlazor/Services/TcpSocket/DefaultTcpSocketClient.cs
  src/BootstrapBlazor/Services/TcpSocket/DefaultTcpSocketFactory.cs
  src/BootstrapBlazor/Services/TcpSocket/Extensions/TcpSocketExtensions.cs
  src/BootstrapBlazor/Services/TcpSocket/ISocketClientProvider.cs
  src/BootstrapBlazor/Services/TcpSocket/ITcpSocketClient.cs
  src/BootstrapBlazor/Services/TcpSocket/SocketClientOptions.cs
  src/BootstrapBlazor/Services/TcpSocket/TcpSocketClientBase.cs
  src/BootstrapBlazor/Utils/Utility.cs
  test/UnitTest/Services/DefaultSocketClientProviderTest.cs
  test/UnitTest/Services/DefaultSocketClientTest.cs
  test/UnitTest/Services/TcpSocketFactoryTest.cs
Labels: enhancement

#6331 doc(ITcpSocketClient): add DataHandler sample code
  src/BootstrapBlazor.Server/Components/Samples/SocketFactories.razor
  src/BootstrapBlazor.Server/Components/Samples/Sockets/Adapters.razor
  src/BootstrapBlazor.Server/Components/Samples/Sockets/Adapters.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Sockets/Receives.razor.cs
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Extensions/ServiceCollectionExtensions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/Services/MockCustomProtocalSocketServerService.cs
  src/BootstrapBlazor.Server/Services/MockReceiveSocketServerService.cs
  src/BootstrapBlazor.Server/docs.json
  src/BootstrapBlazor/Services/TcpSocket/TcpSocketClientBase.cs
Labels: documentation
