Repository dotnetcore/BootstrapBlazor, pull requests merged in 2025-07, with the labels that each got.

#6339 fix(Dialog): not trigger OnCloseAsync multiple dialog
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Dialog/Dialog.razor.cs
Labels: bug

#6341 feat(FullScreenButton): adjust the gap
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor/Components/Tab/Tab.razor.scss
Labels: bug

#6345 doc(IDataPackageAdapter): add DataPackageAdapter sample code
  src/BootstrapBlazor.Server/Components/Samples/Sockets/Adapters.razor
  src/BootstrapBlazor.Server/Components/Samples/Sockets/Adapters.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/Services/MockCustomProtocalSocketServerService.cs
  src/BootstrapBlazor/Services/TcpSocket/DataPackage/DataPackageAdapter.cs
  src/BootstrapBlazor/Services/TcpSocket/DataPackage/FixLengthDataPackageHandler.cs
  src/BootstrapBlazor/Services/TcpSocket/DataPackage/IDataPackageAdapter.cs
  src/BootstrapBlazor/Services/TcpSocket/DataPackage/IDataPackageHandler.cs
  src/BootstrapBlazor/Services/TcpSocket/ITcpSocketClient.cs
  src/BootstrapBlazor/Services/TcpSocket/TcpSocketClientBase.cs
Labels: documentation

#6356 test(ITcpSocketClient): improve code coverage
  src/BootstrapBlazor.Server/Components/Pages/Introduction.razor
  src/BootstrapBlazor.Server/Components/Samples/Sockets/Adapters.razor.cs
  src/BootstrapBlazor/Extensions/ITcpSocketClientExtensions.cs
  src/BootstrapBlazor/Services/TcpSocket/DataPackage/DataPackageAdapter.cs
  src/BootstrapBlazor/Services/TcpSocket/DataPackage/DataPackageHandlerBase.cs
  src/BootstrapBlazor/Services/TcpSocket/DataPackage/DelimiterDataPackageHandler.cs
  src/BootstrapBlazor/Services/TcpSocket/DataPackage/FixLengthDataPackageHandler.cs
  src/BootstrapBlazor/Services/TcpSocket/DataPackage/IDataPackageAdapter.cs
  src/BootstrapBlazor/Services/TcpSocket/DataPackage/IDataPackageHandler.cs
  src/BootstrapBlazor/Services/TcpSocket/TcpSocketClientBase.cs
  test/UnitTest/Services/TcpSocketFactoryTest.cs
Labels: test

#6361 test(DataPackageAdapter): update ReceiveAsync comment
  src/BootstrapBlazor.Server/Components/Samples/Sockets/Adapters.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Sockets/AutoReceives.razor
  src/BootstrapBlazor.Server/Components/Samples/Sockets/AutoReceives.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Sockets/ManualReceives.razor
  src/BootstrapBlazor.Server/Components/Samples/Sockets/ManualReceives.razor.cs
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Extensions/ServiceCollectionExtensions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/Services/MockSendReceiveSocketServerService.cs
  src/BootstrapBlazor.Server/docs.json
  src/BootstrapBlazor/Services/TcpSocket/DataPackageAdapter/DataPackageAdapter.cs
  src/BootstrapBlazor/Services/TcpSocket/DataPackageAdapter/IDataPackageAdapter.cs
  src/BootstrapBlazor/Services/TcpSocket/DataPackageHandler/DataPackageHandlerBase.cs
  src/BootstrapBlazor/Services/TcpSocket/DataPackageHandler/DelimiterDataPackageHandler.cs
  src/BootstrapBlazor/Services/TcpSocket/DataPackageHandler/FixLengthDataPackageHandler.cs
  src/BootstrapBlazor/Services/TcpSocket/DataPackageHandler/IDataPackageHandler.cs
  src/BootstrapBlazor/Services/TcpSocket/TcpSocketClientBase.cs
  test/UnitTest/Services/TcpSocketFactoryTest.cs
Labels: enhancement

#6369 chore(DockView): bump version 9.1.16
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
Labels: enhancement

#6377 feat(ITcpSocketClient): add concurrency connect logic
  src/BootstrapBlazor/Services/TcpSocket/TcpSocketClientBase.cs
  test/UnitTest/Services/TcpSocketFactoryTest.cs
Labels: enhancement

#6379 feat(ThrottleDispatcher): refine code improve readability
  src/BootstrapBlazor/Services/ThrottleDispatcher.cs
  test/UnitTest/Services/ThrottleTest.cs
Labels: enhancement

#6384 doc(Table): remove SortList sample
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesFilter.razor.cs
Labels: documentation

#6390 refactor(Select): rename IsUseActiveWhenValueIsNull parameter
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Select/Select.razor.cs
  test/UnitTest/Components/SelectTest.cs
Labels: enhancement

#6399 feat(Table): disable editing in virtual scroll mode
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/Components/Table/Table.razor.Toolbar.cs
Labels: enhancement

#6403 doc(WebClientService): add IpLocator function documentation
  src/BootstrapBlazor.Server/Components/Samples/Client.razor
  src/BootstrapBlazor.Server/Components/Samples/Locators.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
Labels: documentation

#6405 feat(NetworkMonitor): add NetworkMonitor component
  src/BootstrapBlazor.Server/Components/Layout/HomeLayout.razor
  src/BootstrapBlazor/Components/NetworkMonitor/NetworkMonitor.cs
  src/BootstrapBlazor/Components/NetworkMonitor/NetworkMonitorIndicator.razor
  src/BootstrapBlazor/Components/NetworkMonitor/NetworkMonitorIndicator.razor.cs
  src/BootstrapBlazor/Components/NetworkMonitor/NetworkMonitorIndicator.razor.scss
  src/BootstrapBlazor/Components/NetworkMonitor/NetworkMonitorState.cs
  src/BootstrapBlazor/Locales/en.json
  src/BootstrapBlazor/Locales/zh.json
  src/BootstrapBlazor/wwwroot/modules/net.js
  src/BootstrapBlazor/wwwroot/scss/components.scss
  test/UnitTest/Components/DisplayTest.cs
  test/UnitTest/Components/NetworkMonitorIndicatorTest.cs
Labels: enhancement

#6407 feat(INetworkMonitorService): add INetworkMonitorService service
  src/BootstrapBlazor.Server/Components/Layout/HomeLayout.razor
  src/BootstrapBlazor.Server/Components/Samples/NetworkMonitors.razor
  src/BootstrapBlazor.Server/Components/Samples/NetworkMonitors.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/NetworkMonitors.razor.css
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/docs.json
  src/BootstrapBlazor/Components/NetworkMonitor/NetworkMonitor.cs
  src/BootstrapBlazor/Components/NetworkMonitor/NetworkMonitorIndicator.razor
  src/BootstrapBlazor/Components/NetworkMonitor/NetworkMonitorIndicator.razor.cs
  src/BootstrapBlazor/Components/NetworkMonitor/NetworkMonitorState.cs
  src/BootstrapBlazor/Extensions/BootstrapBlazorServiceCollectionExtensions.cs
  src/BootstrapBlazor/Services/DefaultNetworkMonitorService.cs
  src/BootstrapBlazor/Services/INetworkMonitorService.cs
  src/BootstrapBlazor/wwwroot/modules/net.js
  src/BootstrapBlazor/wwwroot/modules/utility.js
  test/UnitTest/Components/NetworkMonitorIndicatorTest.cs
  test/UnitTest/Services/DefaultNetworkMonitorServiceTest.cs
Labels: enhancement

#6409 refactor(INetworkMonitorService): add reuse state function
  src/BootstrapBlazor.Server/Components/Samples/NetworkMonitors.razor.cs
  src/BootstrapBlazor/Services/DefaultNetworkMonitorService.cs
Labels: enhancement

#6411 test(IThrottleDispatcherFactory): improve code coverage
  src/BootstrapBlazor/Services/ThrottleDispatcher.cs
  test/UnitTest/Services/ThrottleTest.cs
Labels: test

#6415 feat(DockView): add shadow for float panel
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
Labels: enhancement

#6413 feat(CherryMarkdown): add Language parameter
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
Labels: enhancement

#6417 refactor(INetworkMonitor): update return type nullable NetworkMonitorState
  src/BootstrapBlazor/Services/DefaultNetworkMonitorService.cs
  src/BootstrapBlazor/Services/INetworkMonitorService.cs
  test/UnitTest/Services/DefaultNetworkMonitorServiceTest.cs
  test/UnitTest/Services/TcpSocketFactoryTest.cs
Labels: enhancement

#6420 feat(ISocketDataConverter): add ISocketDataConverter interface
  src/BootstrapBlazor/Extensions/ITcpSocketClientExtensions.cs
  src/BootstrapBlazor/Services/TcpSocket/DataConverter/ISocketDataConverter.cs
  src/BootstrapBlazor/Services/TcpSocket/DataConverter/SocketDataConverterBase.cs
  src/BootstrapBlazor/Services/TcpSocket/DataPackageAdapter/DataPackageAdapter.cs
  src/BootstrapBlazor/Services/TcpSocket/DataPackageAdapter/IDataPackageAdapter.cs
  test/UnitTest/Services/TcpSocketFactoryTest.cs
Labels: enhancement

#6422 feat(ISocketDataPropertyConverter): add ISocketDataPropertyConverter interface
  src/BootstrapBlazor/Extensions/ITcpSocketClientExtensions.cs
  src/BootstrapBlazor/Services/TcpSocket/DataConverter/ISocketDataConverter.cs
  src/BootstrapBlazor/Services/TcpSocket/DataConverter/SocketDataConverterAttribute.cs
  src/BootstrapBlazor/Services/TcpSocket/DataConverter/SocketDataConverterBase.cs
  src/BootstrapBlazor/Services/TcpSocket/DataPackageAdapter/DataPackageAdapter.cs
  src/BootstrapBlazor/Services/TcpSocket/DataPackageAdapter/IDataPackageAdapter.cs
  src/BootstrapBlazor/Services/TcpSocket/Extensions/SocketDataPropertyExtensions.cs
  src/BootstrapBlazor/Services/TcpSocket/PropertyConverter/ISocketDataPropertyConverter.cs
  src/BootstrapBlazor/Services/TcpSocket/PropertyConverter/SocketDataBoolConverter.cs
  src/BootstrapBlazor/Services/TcpSocket/PropertyConverter/SocketDataByteArrayConverter.cs
  src/BootstrapBlazor/Services/TcpSocket/PropertyConverter/SocketDataDoubleBigEndianConverter.cs
  src/BootstrapBlazor/Services/TcpSocket/PropertyConverter/SocketDataDoubleLittleEndianConverter.cs
  src/BootstrapBlazor/Services/TcpSocket/PropertyConverter/SocketDataEnumConverter.cs
  src/BootstrapBlazor/Services/TcpSocket/PropertyConverter/SocketDataInt16BigEndianConverter.cs
  src/BootstrapBlazor/Services/TcpSocket/PropertyConverter/SocketDataInt16LittleEndianConverter.cs
  src/BootstrapBlazor/Services/TcpSocket/PropertyConverter/SocketDataInt32BigEndianConverter.cs
  src/BootstrapBlazor/Services/TcpSocket/PropertyConverter/SocketDataInt32LittleEndianConverter.cs
  src/BootstrapBlazor/Services/TcpSocket/PropertyConverter/SocketDataInt64BigEndianConverter.cs
  src/BootstrapBlazor/Services/TcpSocket/PropertyConverter/SocketDataInt64LittleEndianConverter.cs
  src/BootstrapBlazor/Services/TcpSocket/PropertyConverter/SocketDataPropertyAttribute.cs
  src/BootstrapBlazor/Services/TcpSocket/PropertyConverter/SocketDataSingleBigEndianConverter.cs
  src/BootstrapBlazor/Services/TcpSocket/PropertyConverter/SocketDataSingleLittleEndianConverter.cs
  src/BootstrapBlazor/Services/TcpSocket/PropertyConverter/SocketDataStringConverter.cs
  src/BootstrapBlazor/Services/TcpSocket/PropertyConverter/SocketDataUInt16BigEndianConverter.cs
  src/BootstrapBlazor/Services/TcpSocket/PropertyConverter/SocketDataUInt16LittleEndianConverter.cs
  src/BootstrapBlazor/Services/TcpSocket/PropertyConverter/SocketDataUInt32BigEndianConverter.cs
  src/BootstrapBlazor/Services/TcpSocket/PropertyConverter/SocketDataUInt32LittleEndianConverter.cs
  src/BootstrapBlazor/Services/TcpSocket/PropertyConverter/SocketDataUInt64BigEndianConverter.cs
  src/BootstrapBlazor/Services/TcpSocket/PropertyConverter/SocketDataUInt64LittleEndianConverter.cs
  test/UnitTest/Services/TcpSocketFactoryTest.cs
  test/UnitTest/Services/TcpSocketPropertyConverterTest.cs
Labels: enhancement

#6425 doc(ISocketDataPropertyConverter): add ISocketDataPropertyConverter documentation
  src/BootstrapBlazor.Server/Components/Samples/Sockets/DataEntities.razor
  src/BootstrapBlazor.Server/Components/Samples/Sockets/DataEntities.razor.cs
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/docs.json
  src/BootstrapBlazor/Services/TcpSocket/DataConverter/SocketDataConverterBase.cs
  src/BootstrapBlazor/Services/TcpSocket/PropertyConverter/SocketDataDoubleBigEndianConverter.cs
  src/BootstrapBlazor/Services/TcpSocket/PropertyConverter/SocketDataDoubleLittleEndianConverter.cs
  src/BootstrapBlazor/Services/TcpSocket/PropertyConverter/SocketDataInt16BigEndianConverter.cs
  src/BootstrapBlazor/Services/TcpSocket/PropertyConverter/SocketDataInt16LittleEndianConverter.cs
  src/BootstrapBlazor/Services/TcpSocket/PropertyConverter/SocketDataInt32BigEndianConverter.cs
  src/BootstrapBlazor/Services/TcpSocket/PropertyConverter/SocketDataInt32LittleEndianConverter.cs
  src/BootstrapBlazor/Services/TcpSocket/PropertyConverter/SocketDataInt64BigEndianConverter.cs
  src/BootstrapBlazor/Services/TcpSocket/PropertyConverter/SocketDataInt64LittleEndianConverter.cs
  src/BootstrapBlazor/Services/TcpSocket/PropertyConverter/SocketDataSingleBigEndianConverter.cs
  src/BootstrapBlazor/Services/TcpSocket/PropertyConverter/SocketDataSingleLittleEndianConverter.cs
  src/BootstrapBlazor/Services/TcpSocket/PropertyConverter/SocketDataUInt16BigEndianConverter.cs
  src/BootstrapBlazor/Services/TcpSocket/PropertyConverter/SocketDataUInt16LittleEndianConverter.cs
  src/BootstrapBlazor/Services/TcpSocket/PropertyConverter/SocketDataUInt32BigEndianConverter.cs
  src/BootstrapBlazor/Services/TcpSocket/PropertyConverter/SocketDataUInt32LittleEndianConverter.cs
  src/BootstrapBlazor/Services/TcpSocket/PropertyConverter/SocketDataUInt64BigEndianConverter.cs
  src/BootstrapBlazor/Services/TcpSocket/PropertyConverter/SocketDataUInt64LittleEndianConverter.cs
Labels: documentation

#6430 doc(readme): correct demo address
  README.zh-CN.md
Labels: documentation

#6434 doc(LoginTemplate): add animation for temple5
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/LoginAndRegister/Template5.razor
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/LoginAndRegister/Template5.razor.css
  src/BootstrapBlazor.Server/wwwroot/samples/login5/loading.mov
  src/BootstrapBlazor.Server/wwwroot/samples/login5/loading.mp4
  src/BootstrapBlazor.Server/wwwroot/samples/login5/loading.png
  src/BootstrapBlazor.Server/wwwroot/samples/login5/loading.webm
  src/BootstrapBlazor.Server/wwwroot/samples/login5/loading1.mp4
Labels: documentation

#6442 refactor(IntersectionObserver): add margin bottom stype
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/IntersectionObserver/LoadMore.razor.scss
Labels: enhancement

#6451 doc(LoginTemplate): use ValidateForm in login form
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/LoginAndRegister/Template1.razor
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/LoginAndRegister/Template2.razor
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/LoginAndRegister/Template3.razor
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/LoginAndRegister/Template4.razor
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/LoginAndRegister/Template5.razor
Labels: documentation

#6453 chore(DockView): bump version 9.1.18
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
Labels: enhancement

#6455 feat(Localization): add ru-RU localization file
  BootstrapBlazor.sln
  localization/ru-RU.json
Labels: enhancement

#6459 chore(Topolopy): bump version 9.0.1
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
Labels: enhancement

#6461 fix(TabItem): layout OnErrorHandleAsync callback not work on tab item
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Tab/Tab.razor.cs
  src/BootstrapBlazor/Components/Tab/TabItemContent.cs
Labels: bug

#6463 feat(ISocketDataConverter): add ConfigureSocketDataConverters method
  src/BootstrapBlazor.Server/Components/Samples/SocketFactories.razor
  src/BootstrapBlazor/Services/TcpSocket/DataConverter/SocketDataConverterCollections.cs
  src/BootstrapBlazor/Services/TcpSocket/DataConverter/SocketDataPropertyConverterAttribute.cs
  test/UnitTest/Services/SocketDataConverterCollectionsTest.cs
  test/UnitTest/Services/TcpSocketFactoryTest.cs
Labels: enhancement

#6467 feat(Collapse): redesign HeaderTemplate function
  src/BootstrapBlazor.Server/Components/Samples/Collapses.razor
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Collapse/Collapse.razor
Labels: enhancement

#6469 doc(Template5): add transition animation
  src/BootstrapBlazor.Server/Components/Layout/TutorialsLayout.razor
  src/BootstrapBlazor.Server/Components/Layout/TutorialsNavMenu.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/LoginAndRegister/Template5.razor
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/LoginAndRegister/Template5.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/LoginAndRegister/Template5.razor.css
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/LoginAndRegister/Template5.razor.js
Labels: documentation

#6473 fix(FlipClock): should update digit after switch visible
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/FlipClock/FlipClock.razor.js
Labels: bug

#6483 feat(FluentSystemIcons): add microsoft fluent free icon set
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/Icons/FluentSystemIcons.razor
  src/BootstrapBlazor.Server/Components/Samples/Icons/FluentSystemIcons.razor.cs
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
Labels: enhancement

#6490 doc(Template5): add auto focus function
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/LoginAndRegister/Template5.razor.js
Labels: documentation

#6492 doc(QQGroup): update the DOM layout
  src/BootstrapBlazor.Server/Components/Components/QQGroup.razor
Labels: documentation

#6496 refactor(NetworkMonitor): add try/finally keep release simaphore slim
  src/BootstrapBlazor/Services/DefaultNetworkMonitorService.cs
Labels: enhancement

#6498 feat(Badge): use text-bg-color class
  src/BootstrapBlazor/Components/Badge/Badge.razor.cs
  src/BootstrapBlazor/Components/Badge/Badge.razor.scss
  test/UnitTest/Components/DropdownWidgetTest.cs
Labels: enhancement

#6505 fix(MultiSelectGeneric): update value when bind-Value changed
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/SelectGeneric/MultiSelectGeneric.razor.cs
Labels: bug

#6510 feat(ImageViewer): support dynamic update Url parameter
  src/BootstrapBlazor/Components/ImageViewer/ImageViewer.razor.cs
  src/BootstrapBlazor/Components/ImageViewer/ImageViewer.razor.js
Labels: enhancement

#6513 fix(Message): should clear when use same option
  src/BootstrapBlazor.Server/Components/Samples/Messages.razor.cs
  src/BootstrapBlazor/Components/Message/Message.razor.js
Labels: bug
