Repository dotnetcore/BootstrapBlazor, pull requests merged in 2025-05, with the labels that each got.

#5932 doc(QRCode): add QRCode app sample
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/BarCodeGenerator/BarCodeGenerator.razor
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/BarCodeGenerator/BarCodeGenerator.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/BarCodeGenerator/BarCodeGenerator.razor.css
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/BarCodeGenerator/EmailContent.cs
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/BarCodeGenerator/TextContent.cs
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/BarCodeGenerator/WiFiAuthentication.cs
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/BarCodeGenerator/WiFiContent.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
Labels: documentation

#5934 doc(ITotpService): update inject service document
  src/BootstrapBlazor.Server/Components/Samples/OtpServices.razor
Labels: documentation

#5936 feat(Utility): improve registerBootstrapBlazorModule method
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/wwwroot/modules/utility.js
Labels: enhancement

#5938 feat(Utility): add drawImage method
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/wwwroot/modules/utility.js
Labels: enhancement

#5940 feat(IVideoDevice): add IVideoDevice service
  src/BootstrapBlazor.Server/Components/Samples/VideoDevices.razor
  src/BootstrapBlazor.Server/Components/Samples/VideoDevices.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/VideoDevices.razor.css
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/docs.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Camera/Camera.razor.js
  src/BootstrapBlazor/Extensions/BootstrapBlazorServiceCollectionExtensions.cs
  src/BootstrapBlazor/Services/MediaDevices/DefaultMediaDevices.cs
  src/BootstrapBlazor/Services/MediaDevices/DefaultVideoDevice.cs
  src/BootstrapBlazor/Services/MediaDevices/IMediaDeviceInfo.cs
  src/BootstrapBlazor/Services/MediaDevices/IMediaDevices.cs
  src/BootstrapBlazor/Services/MediaDevices/IVideoDevice.cs
  src/BootstrapBlazor/Services/MediaDevices/MediaDeviceInfo.cs
  src/BootstrapBlazor/Services/MediaDevices/MediaTrackConstraints.cs
  src/BootstrapBlazor/wwwroot/modules/media.js
  test/UnitTest/Services/VideoDeviceTest.cs
Labels: enhancement

#5945 refactor(IVideoDevice): add bool result from open method
  src/BootstrapBlazor.Server/Components/Samples/VideoDevices.razor
  src/BootstrapBlazor.Server/Components/Samples/VideoDevices.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/VideoDevices.razor.css
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Services/MediaDevices/DefaultMediaDevices.cs
  src/BootstrapBlazor/Services/MediaDevices/DefaultVideoDevice.cs
  src/BootstrapBlazor/Services/MediaDevices/IMediaDevices.cs
  src/BootstrapBlazor/Services/MediaDevices/IVideoDevice.cs
  src/BootstrapBlazor/wwwroot/modules/media.js
  test/UnitTest/Services/VideoDeviceTest.cs
Labels: enhancement

#5947 feat(ModalDialog): add FooterContentTemplate parameter
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Modal/Modal.razor.scss
  src/BootstrapBlazor/Components/Modal/ModalDialog.razor
  src/BootstrapBlazor/Components/Modal/ModalDialog.razor.cs
  test/UnitTest/Components/ModalDialogTest.cs
Labels: enhancement

#5951 feat(Table): add ToolbarTemplate parameter
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/Components/Table/Table.razor.Toolbar.cs
  src/BootstrapBlazor/Components/Table/Table.razor.scss
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#5959 feat(Tab): update css for fullscreen state
  src/BootstrapBlazor/Components/Layout/Layout.razor.scss
  src/BootstrapBlazor/Components/Tab/Tab.razor.scss
Labels: enhancement

#5961 bug(FullScreenService): sync fullscreen state with esc key event
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/FullScreen/FullScreenButton.razor.cs
  src/BootstrapBlazor/Components/FullScreen/FullScreenButton.razor.scss
  src/BootstrapBlazor/Components/Tab/Tab.razor.scss
  src/BootstrapBlazor/wwwroot/modules/fullscreen.js
Labels: bug

#5965 feat(IVideoDevice): add GetPreviewData method
  src/BootstrapBlazor.Server/Components/Samples/VideoDevices.razor
  src/BootstrapBlazor.Server/Components/Samples/VideoDevices.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Services/MediaDevices/DefaultMediaDevices.cs
  src/BootstrapBlazor/Services/MediaDevices/DefaultVideoDevice.cs
  src/BootstrapBlazor/Services/MediaDevices/IMediaDevices.cs
  src/BootstrapBlazor/Services/MediaDevices/IVideoDevice.cs
  src/BootstrapBlazor/wwwroot/modules/media.js
  test/UnitTest/Services/VideoDeviceTest.cs
Labels: enhancement

#5967 feat(IVideoDevice): add GetData method
  src/BootstrapBlazor.Server/Components/Samples/AudioDevices.razor
  src/BootstrapBlazor.Server/Components/Samples/AudioDevices.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/VideoDevices.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Services/MediaDevices/DefaultAudioDevice.cs
  src/BootstrapBlazor/Services/MediaDevices/DefaultMediaDevices.cs
  src/BootstrapBlazor/Services/MediaDevices/IAudioDevice.cs
  src/BootstrapBlazor/Services/MediaDevices/IMediaDevices.cs
  src/BootstrapBlazor/wwwroot/modules/media.js
  test/UnitTest/Services/AudioDeviceTest.cs
Labels: enhancement

#5973 feat(ExportPdfButton): update AutoDownload default value to true
  src/BootstrapBlazor.Server/Components/Samples/ExportPdfButtons.razor.cs
  src/BootstrapBlazor/Components/Button/ExportPdfButton.cs
Labels: enhancement

#5975 doc(MFA): add MFA sample code
  src/BootstrapBlazor.Server/Components/Layout/MainLayout.razor
  src/BootstrapBlazor.Server/Components/Layout/TutorialsNavMenu.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/MFA/Login.razor
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/MFA/Login.razor.css
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/MFA/TwoFactor.razor
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/MFA/TwoFactor.razor.css
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/MFA/TwoFactorApp.razor
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/MFA/TwoFactorApp.razor.css
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
Labels: documentation

#5983 feat(Dialog): add Show<TComponent> extension method
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Extensions/DialogServiceExtensions.cs
  test/UnitTest/Components/DialogTest.cs
Labels: enhancement

#5985 feat(DockView): bump version 9.1.13
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
Labels: enhancement

#5994 doc(MFA): add enable 2FA sample code
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/MFA/Login.razor
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/MFA/Register.razor
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/MFA/Register.razor.css
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/MFA/TwoFactor.razor
Labels: documentation

#5992 feat(Table): enhances the validation logic for edit and delete operations
  src/BootstrapBlazor/Components/Table/Table.razor.Toolbar.cs
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#5996 feat(Tab): update FullScreen targetId
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/FullScreen/FullScreenButton.razor.scss
  src/BootstrapBlazor/Components/Tab/Tab.razor
  src/BootstrapBlazor/Components/Tab/Tab.razor.cs
  src/BootstrapBlazor/Extensions/FullScreenServiceExtensions.cs
Labels: enhancement

#6004 fix(ErrorLogger): add custom OnErrorHandleAsync on Layout not work
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/ErrorLogger/BootstrapBlazorErrorBoundary.cs
  test/UnitTest/Services/FullScreenServiceTest.cs
Labels: bug

#6006 feat(Localizer): add GetStringFromBaseType logic support base type
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Localization/Json/JsonStringLocalizer.cs
  test/UnitTest/Components/DisplayTest.cs
  test/UnitTest/Localization/JsonStringLocalizerTest.cs
  test/UnitTest/Services/FullScreenServiceTest.cs
Labels: enhancement

#6010 feat(MultiFilter): add StringComparison parameter
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesFilter.razor.cs
  src/BootstrapBlazor/Components/Filters/MultiFilter.razor.cs
  test/UnitTest/Components/TableFilterTest.cs
Labels: enhancement

#6011 feat(TableColumn): add IgnoreWhenExport parameter
  src/BootstrapBlazor/Attributes/AutoGenerateColumnAttribute.cs
  src/BootstrapBlazor/Components/Table/ITableColumn.cs
  src/BootstrapBlazor/Components/Table/InternalTableColumn.cs
  src/BootstrapBlazor/Components/Table/Table.razor.Toolbar.cs
  src/BootstrapBlazor/Components/Table/TableColumn.cs
  src/BootstrapBlazor/Extensions/ITableColumnExtensions.cs
  test/UnitTest/Attributes/AutoGenerateClassTest.cs
  test/UnitTest/Components/InternalTableColumnTest.cs
  test/UnitTest/Components/TableTest.cs
  test/UnitTest/Utils/UtilityTest.cs
Labels: enhancement

#6015 feat(Table): add EnableKeyboardNavigationCell parameter
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Components/Table/Table.razor.js
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#6017 feat(Table): skip validate on Excel model
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Utils/Utility.cs
  test/UnitTest/Utils/UtilityTest.cs
Labels: enhancement

#6018 refactor(Table): update logic for IgnoreWhenExport parameter
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.Toolbar.cs
  src/BootstrapBlazor/Extensions/ITableColumnExtensions.cs
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#6020 feat(TableFilter): redesign filter system
  src/BootstrapBlazor.Server/Components/Components/CustomerFilter.razor
  src/BootstrapBlazor.Server/Components/Components/CustomerFilter.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesFilter.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesFilter.razor.cs
  src/BootstrapBlazor/Components/Filters/BoolFilter.razor
  src/BootstrapBlazor/Components/Filters/BoolFilter.razor.cs
  src/BootstrapBlazor/Components/Filters/DateTimeFilter.razor
  src/BootstrapBlazor/Components/Filters/DateTimeFilter.razor.cs
  src/BootstrapBlazor/Components/Filters/EnumFilter.razor
  src/BootstrapBlazor/Components/Filters/EnumFilter.razor.cs
  src/BootstrapBlazor/Components/Filters/Filter.razor
  src/BootstrapBlazor/Components/Filters/Filter.razor.cs
  src/BootstrapBlazor/Components/Filters/FilterBase.cs
  src/BootstrapBlazor/Components/Filters/FilterKeyValueAction.cs
  src/BootstrapBlazor/Components/Filters/FilterLogicItem.razor
  src/BootstrapBlazor/Components/Filters/FilterLogicItem.razor.cs
  src/BootstrapBlazor/Components/Filters/IFilterAction.cs
  src/BootstrapBlazor/Components/Filters/LookupFilter.razor
  src/BootstrapBlazor/Components/Filters/LookupFilter.razor.cs
  src/BootstrapBlazor/Components/Filters/MultiFilter.razor
  src/BootstrapBlazor/Components/Filters/MultiFilter.razor.cs
  src/BootstrapBlazor/Components/Filters/MultipleFilterBase.cs
  src/BootstrapBlazor/Components/Filters/NumberFilter.razor
  src/BootstrapBlazor/Components/Filters/NumberFilter.razor.cs
  src/BootstrapBlazor/Components/Filters/SearchFilterAction.cs
  src/BootstrapBlazor/Components/Filters/StringFilter.razor
  src/BootstrapBlazor/Components/Filters/StringFilter.razor.cs
  src/BootstrapBlazor/Components/Filters/TableColumnFilter.razor
  src/BootstrapBlazor/Components/Filters/TableColumnFilter.razor.cs
  src/BootstrapBlazor/Components/Filters/TableColumnFilter.razor.js
  src/BootstrapBlazor/Components/Filters/TableColumnFilter.razor.scss
  src/BootstrapBlazor/Components/Filters/TableFilter.razor
  src/BootstrapBlazor/Components/Filters/TableFilter.razor.cs
  src/BootstrapBlazor/Components/QueryBuilder/GroupFilterKeyValueAction.cs
  src/BootstrapBlazor/Components/QueryBuilder/QueryBuilder.razor
  src/BootstrapBlazor/Components/QueryBuilder/QueryBuilder.razor.cs
  src/BootstrapBlazor/Components/QueryBuilder/QueryGroup.razor
  src/BootstrapBlazor/Components/QueryBuilder/QueryGroup.razor.cs
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/Extensions/LambdaExtensions.cs
  src/BootstrapBlazor/Extensions/QueryPageOptionsExtensions.cs
  src/BootstrapBlazor/Extensions/TableColumnFilterExtensions.cs
  src/BootstrapBlazor/Locales/en.json
  src/BootstrapBlazor/Locales/zh.json
  src/BootstrapBlazor/wwwroot/scss/components.scss
  test/UnitTest/Components/FilterLogicItemTest.cs
  test/UnitTest/Components/InternalTableColumnTest.cs
  test/UnitTest/Components/QueryBuilderTest.cs
  test/UnitTest/Components/SearchFilterActionTest.cs
  test/UnitTest/Components/TableBoolFilterTest.cs
  test/UnitTest/Components/TableColumnFilterTest.cs
  test/UnitTest/Components/TableDateTimeFilterTest.cs
  test/UnitTest/Components/TableEnumFilterTest.cs
  test/UnitTest/Components/TableLookupFilterTest.cs
  test/UnitTest/Components/TableMultiFilterTest.cs
  test/UnitTest/Components/TableNumberFilterTest.cs
  test/UnitTest/Components/TableStringFilterTest.cs
  test/UnitTest/Components/TableTestEFCore.cs
  test/UnitTest/Extensions/ITableColumnExtensionsTest.cs
  test/UnitTest/Extensions/QueryPageOptionsExtensionsTest.cs
Labels: enhancement

#6024 feat(Select): add IsAutoClearSearchTextWhenCollapsed parameter
  src/BootstrapBlazor.Server/Components/Samples/Selects.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Select/Select.razor.cs
  src/BootstrapBlazor/Components/Select/Select.razor.js
  test/UnitTest/Components/SelectTest.cs
Labels: enhancement

#6026 bug(NavigateToExtensions): not work NavigateTo extension method
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Menu/Menu.razor.cs
Labels: bug

#6029 feat(FilterProvider): add FilterProvider component
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesFilter.razor
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesFilter.razor.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Filters/FilterBase.cs
  src/BootstrapBlazor/Components/Filters/FilterContext.cs
  src/BootstrapBlazor/Components/Filters/FilterProvider.razor
  src/BootstrapBlazor/Components/Filters/FilterProvider.razor.cs
  src/BootstrapBlazor/Components/Filters/MultipleFilterBase.cs
  src/BootstrapBlazor/Components/Filters/TableColumnFilter.razor
  test/UnitTest/Components/FilterProviderTest.cs
  test/UnitTest/Components/TableColumnFilterTest.cs
Labels: enhancement

#6031 refactor(FilterProvider): refactoring to improve code readability
  src/BootstrapBlazor/Components/Filters/FilterProvider.razor
  src/BootstrapBlazor/Components/Filters/FilterProvider.razor.cs
Labels: enhancement

#6033 feat(MultipleFilterBase): remove MultipleFilterBase use FilterBase
  src/BootstrapBlazor/Components/Filters/DateTimeFilter.razor
  src/BootstrapBlazor/Components/Filters/DateTimeFilter.razor.cs
  src/BootstrapBlazor/Components/Filters/EnumFilter.razor
  src/BootstrapBlazor/Components/Filters/EnumFilter.razor.cs
  src/BootstrapBlazor/Components/Filters/FilterBase.cs
  src/BootstrapBlazor/Components/Filters/MultipleFilterBase.cs
  src/BootstrapBlazor/Components/Filters/NumberFilter.razor
  src/BootstrapBlazor/Components/Filters/NumberFilter.razor.cs
  src/BootstrapBlazor/Components/Filters/StringFilter.razor
  src/BootstrapBlazor/Components/Filters/StringFilter.razor.cs
Labels: enhancement

#6037 feat(Toast): support async update content use same option
  src/BootstrapBlazor.Server/Components/Samples/Toasts.razor
  src/BootstrapBlazor.Server/Components/Samples/Toasts.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/Toast/Toast.razor.cs
  src/BootstrapBlazor/Components/Toast/Toast.razor.js
  src/BootstrapBlazor/Components/Toast/ToastContainer.razor.cs
Labels: enhancement

#6039 refactor(Toast): perfect AutoHide logic
  src/BootstrapBlazor/Components/Toast/Toast.razor.js
Labels: enhancement

#6042 refactor(Toast): update javascript logic
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Toast/Toast.razor.js
Labels: enhancement

#6048 chore(Action): remove stale action
  .github/workflows/build.yml
  .github/workflows/close-stale-issues.yml
  src/BootstrapBlazor.Server/docs.json
Labels: chore

#6051 doc(Reconnector): update support sdk version
  src/BootstrapBlazor.Server/Components/Components/BlazorReconnector.razor
  src/BootstrapBlazor.Server/Components/Samples/Inputs.razor
  src/BootstrapBlazor.Server/Components/Samples/Reconnectors.razor
Labels: documentation

#6052 fix(Select): shoulde keep selected item when OnBeforeSelectedItemChange return false
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Select/Select.razor.cs
Labels: enhancement

#6053 feat(Select): add ShowSwal parameter
  src/BootstrapBlazor.Server/Components/Samples/Selects.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Select/Select.razor.cs
Labels: enhancement

#6058 fix(Watermark): multiple elements not displayed
  src/BootstrapBlazor/Components/Watermark/Watermark.razor.js
Labels: bug

#6059 fix(Textarea): set UseShiftEnter to true not work
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Textarea/Textarea.razor.js
Labels: bug

#6060 fix(CheckbxoList): resolve mvvm not work
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Checkbox/CheckboxListGeneric.razor.cs
  test/UnitTest/Components/SelectTest.cs
Labels: bug

#6062 test(Localizer): update localizer test project folder path
  .github/workflows/build.yml
Labels: test

#6065 chore(Fork): add custom action script
  .fork/custom-commands.json
Labels: chore

#6075 feat(ErrorLogger): do not show the exception info on DEBUG mode
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/ErrorLogger/BootstrapBlazorErrorBoundary.cs
Labels: enhancement

#6077 feat(Table): add IsAutoScrollTopWhenClickPage parameter
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesPages.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.Pagination.cs
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Components/Table/Table.razor.js
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#6079 fix(Splitting): bump version 9.0.3
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
Labels: bug

#6081 chore(Fork): update branch variable in script
  .fork/custom-commands.json
Labels: chore

#6085 chore(UniverSheet): bump version 9.0.5
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
Labels: chore

#6086 fix(Layout): authorization failure in virtual directory mode
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Layout/Layout.razor.cs
  src/BootstrapBlazor/Extensions/NavigationManagerExtensions.cs
  test/UnitTest/Extensions/NavigationManagerExtensionsTest.cs
Labels: bug

#6088 chore(TableExport): bump version 9.2.5
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
Labels: chore

#6090 fix(Table): remove ShowExtendEditButton/ShowExtendDeleteButton check condition
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.Toolbar.cs
  test/UnitTest/Components/TableTest.cs
Labels: bug

#6095 doc(FilterProvider): add documentation for FilterProvider
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
Labels: documentation

#6101 refactor(BootstrapInputGroupLabel): use DynamicElement unified tag
  src/BootstrapBlazor/Components/Input/BootstrapInputGroup.razor.scss
  src/BootstrapBlazor/Components/Input/BootstrapInputGroupLabel.razor
  src/BootstrapBlazor/Components/Input/BootstrapInputGroupLabel.razor.cs
Labels: enhancement

#6103 feat(MultiSelectGeneric): add MultiSelectGeneric component
  src/BootstrapBlazor.Server/Components/Samples/MultiSelects.razor
  src/BootstrapBlazor.Server/Components/Samples/MultiSelects.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/SelectGeneric/MultiSelectGeneric.razor
  src/BootstrapBlazor/Components/SelectGeneric/MultiSelectGeneric.razor.cs
  src/BootstrapBlazor/Components/SelectGeneric/SelectGeneric.razor.cs
  src/BootstrapBlazor/Components/SelectGeneric/SelectGeneric.razor.scss
Labels: enhancement

#6110 fix(SelectGeneric): add dropdown-menu-body class
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/SelectGeneric/SelectGeneric.razor
Labels: bug

#6117 feat(BootstrapBlazorOptions): add ShowErrorLoggerToast parameter
  src/BootstrapBlazor/Components/BaseComponents/BootstrapBlazorRoot.razor
  src/BootstrapBlazor/Components/BaseComponents/BootstrapBlazorRoot.razor.cs
  src/BootstrapBlazor/Options/BootstrapBlazorOptions.cs
  test/UnitTest/Options/BootstrapBlazorOptionsTest.cs
Labels: enhancement

#6119 feat(Layout): integrated ErrorLogger handler global exception
  src/BootstrapBlazor/Components/BaseComponents/BootstrapBlazorRoot.razor
  src/BootstrapBlazor/Components/ErrorLogger/BootstrapBlazorErrorBoundary.cs
  src/BootstrapBlazor/Components/ErrorLogger/ErrorLogger.cs
  src/BootstrapBlazor/Components/Filters/FilterContext.cs
  src/BootstrapBlazor/Components/Layout/Layout.razor
  src/BootstrapBlazor/Components/Layout/Layout.razor.cs
  test/UnitTest/Components/ErrorHandlerTest.cs
  test/UnitTest/Components/LayoutTest.cs
Labels: enhancement

#6123 feat(SelectGeneric): add reset logic when TextConvertToValueCallback return null
  src/BootstrapBlazor/Components/Select/Select.razor.js
  src/BootstrapBlazor/Components/SelectGeneric/SelectGeneric.razor
  src/BootstrapBlazor/Components/SelectGeneric/SelectGeneric.razor.cs
  test/UnitTest/Components/SelectGenericTest.cs
Labels: enhancement
