Repository dotnetcore/BootstrapBlazor, pull requests merged in 2025-08, with the labels that each got.

#6520 doc(Home): update link address
  src/BootstrapBlazor.Server/Components/Layout/HomeLayout.razor
  src/BootstrapBlazor.Server/Components/Pages/Index.razor.css
Labels: documentation

#6522 fix(PdfViewer): no render when url is empty
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
Labels: bug

#6524 feat(Table): add IsPopover parameter on PageInfo
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor
Labels: enhancement

#6525 feat(Table): support CssClass on CardView mode
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#6534 feat(Bootstrap): bump bootstrap 5.3.7
  src/BootstrapBlazor/wwwroot/core/bootstrap/css/bootstrap.css
  src/BootstrapBlazor/wwwroot/core/bootstrap/css/bootstrap.min.css
  src/BootstrapBlazor/wwwroot/core/bootstrap/css/bootstrap.rtl.css
  src/BootstrapBlazor/wwwroot/core/bootstrap/css/bootstrap.rtl.min.css
  src/BootstrapBlazor/wwwroot/core/bootstrap/js/bootstrap.bundle.js
  src/BootstrapBlazor/wwwroot/core/bootstrap/js/bootstrap.bundle.min.js
Labels: enhancement

#6538 feat(CheckboxList): add outline style
  src/BootstrapBlazor.Server/Components/Samples/CheckboxLists.razor
  src/BootstrapBlazor/Components/Checkbox/CheckboxList.razor
  src/BootstrapBlazor/Components/Checkbox/CheckboxList.razor.cs
  src/BootstrapBlazor/Components/Checkbox/CheckboxList.razor.scss
Labels: enhancement

#6527 feat(ISortableList): add ISortableList interface
  src/BootstrapBlazor.Server/Components/Samples/SortableLists.razor
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/SortableList/ISortableList.cs
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  src/BootstrapBlazor/Components/Table/Table.razor.scss
Labels: enhancement

#6543 fix(BootstrapBlazorDataAnnotationsValidator): add IDispose interface
  src/BootstrapBlazor/Components/ValidateForm/BootstrapBlazorDataAnnotationsValidator.cs
  src/BootstrapBlazor/Extensions/BootstrapBlazorEditContextDataAnnotationsExtensions.cs
Labels: bug

#6549 doc(Home): add responsive support for logo image
  src/BootstrapBlazor.Server/Components/Pages/Index.razor
  src/BootstrapBlazor.Server/Components/Pages/Index.razor.css
  src/BootstrapBlazor.Server/Components/Samples/OtpInputs.razor
Labels: documentation

#6551 feat(IBrowserFingerService): add GetClientHubIdAsync method
  src/BootstrapBlazor.Server/Components/Samples/BrowserFingers.razor
  src/BootstrapBlazor.Server/Components/Samples/BrowserFingers.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Services/DefaultBrowserFingerService.cs
  src/BootstrapBlazor/Services/IBrowserFingerService.cs
  src/BootstrapBlazor/wwwroot/modules/client.js
  src/BootstrapBlazor/wwwroot/modules/utility.js
  test/UnitTest/Services/BrowserFingerServiceTest.cs
Labels: enhancement

#6553 fix(INetworkMonitorService): support safari browser
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/wwwroot/modules/net.js
Labels: bug

#6547 feat(Toolbar): add Toolbar component
  src/BootstrapBlazor.Server/Components/Pages/Index.razor
  src/BootstrapBlazor.Server/Components/Samples/Affixs.razor
  src/BootstrapBlazor.Server/Components/Samples/Toolbars.razor
  src/BootstrapBlazor.Server/Components/Samples/Toolbars.razor.cs
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/docs.json
  src/BootstrapBlazor/Components/Checkbox/CheckboxList.razor
  src/BootstrapBlazor/Components/Checkbox/CheckboxList.razor.cs
  src/BootstrapBlazor/Components/Checkbox/CheckboxList.razor.scss
  src/BootstrapBlazor/Components/Radio/RadioList.razor
  src/BootstrapBlazor/Components/Radio/RadioList.razor.cs
  src/BootstrapBlazor/Components/Radio/RadioList.razor.scss
  src/BootstrapBlazor/Components/Toolbar/Toolbar.razor
  src/BootstrapBlazor/Components/Toolbar/Toolbar.razor.cs
  src/BootstrapBlazor/Components/Toolbar/Toolbar.razor.scss
  src/BootstrapBlazor/Components/Toolbar/ToolbarButtonGroup.razor
  src/BootstrapBlazor/Components/Toolbar/ToolbarButtonGroup.razor.cs
  src/BootstrapBlazor/Components/Toolbar/ToolbarItem.razor
  src/BootstrapBlazor/Components/Toolbar/ToolbarItem.razor.cs
  src/BootstrapBlazor/Components/Toolbar/ToolbarSeparator.razor
  src/BootstrapBlazor/Components/Toolbar/ToolbarSeparator.razor.cs
  src/BootstrapBlazor/Components/Toolbar/ToolbarSpace.razor
  src/BootstrapBlazor/Components/Toolbar/ToolbarSpace.razor.cs
  src/BootstrapBlazor/wwwroot/scss/components.scss
  test/UnitTest/Components/ButtonTest.cs
  test/UnitTest/Components/CheckboxListTest.cs
  test/UnitTest/Components/RadioTest.cs
  test/UnitTest/Components/ToolbarTest.cs
Labels: enhancement

#6561 feat(DynamicElement): support html attribute
  src/BootstrapBlazor/Components/Button/LinkButton.cs
  src/BootstrapBlazor/Components/Button/LinkButton.razor
  src/BootstrapBlazor/Components/ContextMenu/ContextMenu.razor
  src/BootstrapBlazor/Components/DateTimePicker/DatePickerBody.razor
  src/BootstrapBlazor/Components/Input/BootstrapInputGroupLabel.cs
  src/BootstrapBlazor/Components/Input/BootstrapInputGroupLabel.razor
  src/BootstrapBlazor/Components/Select/MultiSelect.razor
  src/BootstrapBlazor/Components/SelectGeneric/MultiSelectGeneric.razor
  src/BootstrapBlazor/Components/Upload/CardUpload.razor
Labels: enhancement

#6569 feat(TableCellPopConfirmButton): support IsAsync parameter
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/TableExtensionButton.razor
Labels: enhancement

#6575 refactor(Toolbar): remove cascade value
  src/BootstrapBlazor/Components/Toolbar/Toolbar.razor
  src/BootstrapBlazor/Components/Toolbar/Toolbar.razor.cs
  src/BootstrapBlazor/Components/Toolbar/ToolbarButtonGroup.razor.cs
Labels: enhancement

#6577 fix(Table): update style for ScrollingDialogContent
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/EditorForm/EditorForm.razor
  src/BootstrapBlazor/Components/EditorForm/EditorForm.razor.cs
  src/BootstrapBlazor/Components/Table/Table.razor.scss
Labels: bug

#6579 feat(EditForm): update footer style
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/EditorForm/EditorForm.razor
  src/BootstrapBlazor/Components/EditorForm/EditorForm.razor.cs
  src/BootstrapBlazor/Components/EditorForm/EditorForm.razor.scss
  src/BootstrapBlazor/Components/Table/Table.razor.scss
Labels: enhancement

#6581 feat(LinkButton): support IsAsync function
  src/BootstrapBlazor/Components/Button/Button.razor.cs
  src/BootstrapBlazor/Components/Button/ButtonBase.cs
  src/BootstrapBlazor/Components/Button/LinkButton.cs
  test/UnitTest/Components/LinkButtonTest.cs
Labels: enhancement

#6583 doc(Home): add rotate effects
  src/BootstrapBlazor.Server/Components/Pages/Index.razor
  src/BootstrapBlazor.Server/Components/Pages/Index.razor.css
Labels: enhancement

#6588 feat(ToggleButton): reuse base type function
  src/BootstrapBlazor/Components/Button/ButtonBase.cs
  src/BootstrapBlazor/Components/Button/ToggleButton.razor.cs
Labels: enhancement

#6592 feat(Dropdown): update Color default value
  src/BootstrapBlazor/Components/Dropdown/Dropdown.razor.cs
Labels: enhancement

#6594 feat(OpcDa/IPRegion): update publish task script
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
Labels: enhancement

#6605 doc(OnlineSheet): improve performance
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/OnlineSheet/Contributor.cs
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/OnlineSheet/MockOnlineContributor.cs
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/OnlineSheet/OnlineSheet.razor.cs
  src/BootstrapBlazor.Server/Extensions/ServiceCollectionExtensions.cs
  src/BootstrapBlazor.Server/Services/MockOnlineContributor.cs
Labels: documentation

#6607 doc(FooterCounter): improve performance for ssr mode
  src/BootstrapBlazor.Server/Components/Components/FooterCounter.razor
  src/BootstrapBlazor.Server/Components/Components/FooterCounter.razor.cs
  src/BootstrapBlazor.Server/Components/Components/FooterCounter.razor.js
  src/BootstrapBlazor.Server/Components/Components/Video.razor
  src/BootstrapBlazor.Server/Components/Pages/Index.razor.css
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/Dashboard.razor
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/Dashboard.razor.css
Labels: documentation

#6609 feat(Mask): add OnCloseAsync cascade parameter
  src/BootstrapBlazor.Server/Components/Components/MaskDemo.razor
  src/BootstrapBlazor.Server/Components/Components/MaskDemo.razor.css
  src/BootstrapBlazor.Server/Components/Samples/Masks.razor
  src/BootstrapBlazor.Server/Components/Samples/Masks.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/Mask/Mask.razor
  src/BootstrapBlazor/Components/Mask/Mask.razor.cs
  test/UnitTest/Services/MaskServiceTest.cs
Labels: enhancement

#6611 chore(Deploy): update install font script
  scripts/linux/deploy.sh
Labels: chore

#6615 chore(Docker): add pupeteersharp support
  .github/workflows/docker.yml
  src/BootstrapBlazor.Server/Dockerfile
  src/BootstrapBlazor/BootstrapBlazor.csproj
Labels: chore

#6621 doc(Home): update logo effect
  src/BootstrapBlazor.Server/Components/Pages/Index.razor
  src/BootstrapBlazor.Server/Components/Pages/Index.razor.css
Labels: documentation

#6623 doc(Home): update title meta
  src/BootstrapBlazor.Server/Components/App.razor
  src/BootstrapBlazor.Server/Components/Layout/BaseLayout.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/PdfViewers.razor.cs
  src/BootstrapBlazor.Server/Extensions/ServiceCollectionExtensions.cs
Labels: documentation

#6626 feat(TableColumnFilter): contains filter support case-sensitive
  src/BootstrapBlazor/Extensions/LambdaExtensions.cs
  test/UnitTest/Extensions/LambadaExtensionsTest.cs
Labels: enhancement

#6627 doc(CustomerFilter): update ShowFilterHeader sample code
  src/BootstrapBlazor.Server/Components/Components/CustomerFilter.razor
  src/BootstrapBlazor.Server/Components/Components/CustomerFilter.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesFilter.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
Labels: chore

#6632 feat(BootstrapLabel): support style html attribute
  src/BootstrapBlazor/Components/Label/BootstrapLabel.razor.cs
Labels: enhancement

#6636 doc(SvgEditor): add reference documentation
  src/BootstrapBlazor.Server/Components/Samples/SvgEditors.razor
Labels: documentation

#6634 feat(Task): add Dashboard component
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/TaskBoard.razor
  src/BootstrapBlazor.Server/Components/Samples/TaskBoard.razor.cs
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/docs.json
Labels: enhancement

#6649 doc(img): use GetAssetUrl make same path
  src/BootstrapBlazor.Server/Components/Components/Header.razor
  src/BootstrapBlazor.Server/Components/Components/Header.razor.cs
  src/BootstrapBlazor.Server/Components/Layout/HomeLayout.razor
  src/BootstrapBlazor.Server/Components/Layout/MainLayout.razor
  src/BootstrapBlazor.Server/Components/Pages/Chats.razor
  src/BootstrapBlazor.Server/Components/Pages/Index.razor
  src/BootstrapBlazor.Server/Components/Samples/BootstrapBlazorIcons.razor
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/LoginAndRegister/Template5.razor
Labels: documentation

#6652 feat(IPRegion): use async increase load speed
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
Labels: enhancement

#6656 doc(SelectTable): remove Items parameter doc
  src/BootstrapBlazor.Server/Components/Samples/SelectTables.razor.cs
Labels: documentation

#6658 feat(Editor): update return type nullable
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
Labels: enhancement

#6663 feat(Tooltip): support manual trigger
  src/BootstrapBlazor.Server/Components/Components/TooltipContent.razor
  src/BootstrapBlazor.Server/Components/Components/TooltipContent.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Popovers.razor
  src/BootstrapBlazor.Server/Components/Samples/Popovers.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Tooltips.razor
  src/BootstrapBlazor.Server/Components/Samples/Tooltips.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Popover/Popover.razor
  src/BootstrapBlazor/Components/Popover/Popover.razor.cs
  src/BootstrapBlazor/Components/Popover/Popover.razor.js
  src/BootstrapBlazor/Components/Tooltip/ITooltip.cs
  src/BootstrapBlazor/Components/Tooltip/Tooltip.razor
  src/BootstrapBlazor/Components/Tooltip/Tooltip.razor.cs
  src/BootstrapBlazor/Components/Tooltip/Tooltip.razor.js
  test/UnitTest/Components/TooltipTest.cs
Labels: enhancement

#6670 feat(DateTimePicker): add PickTimeMode parameter
  src/BootstrapBlazor.Server/Components/Samples/DateTimePickers.razor
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/DateTimePicker/DatePickerBody.razor
  src/BootstrapBlazor/Components/DateTimePicker/DatePickerBody.razor.cs
  src/BootstrapBlazor/Components/DateTimePicker/DatePickerBody.razor.scss
  src/BootstrapBlazor/Components/DateTimePicker/DateTimePicker.razor
  src/BootstrapBlazor/Components/DateTimePicker/DateTimePicker.razor.cs
  src/BootstrapBlazor/Components/DateTimePicker/PickTimeMode.cs
  src/BootstrapBlazor/Components/DateTimeRange/DateTimeRange.razor.cs
  src/BootstrapBlazor/Components/TimePicker/TimePicker.razor
  test/UnitTest/Components/DateTimePickerTest.cs
Labels: enhancement

#6677 doc(FilterBase): update OnFilterAsync documentation
  src/BootstrapBlazor.Server/Components/Components/CustomerFilter.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
Labels: documentation

#6679 doc(EditorForm): add IsDisplay parameter documentation
  src/BootstrapBlazor.Server/Components/Samples/EditorForms.razor
  src/BootstrapBlazor.Server/Components/Samples/EditorForms.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
Labels: documentation

#6688 feat(Plyr): bump version 9.0.2
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
Labels: enhancement

#6690 doc(BaiduOcr): add config documentation
  src/BootstrapBlazor.Server/Components/Samples/BaiduOcr.razor
  src/BootstrapBlazor.Server/Components/Samples/BaiduOcr.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
Labels: documentation

#6691 feat(SelectTree): add auto active value function
  src/BootstrapBlazor.Server/Components/Samples/SelectTrees.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/Select/SelectTree.razor
  src/BootstrapBlazor/Components/Select/SelectTree.razor.cs
Labels: enhancement

#6693 fix(SvgEditor): update images path
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
Labels: bug

#6697 doc(Socket): update socket extension namespace
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
Labels: documentation

#6699 doc(Socket): add modbus crc-16 validate
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/Sockets/Adapters.razor
  src/BootstrapBlazor.Server/Components/Samples/Sockets/Adapters.razor.cs
Labels: documentation
