Repository dotnetcore/BootstrapBlazor, pull requests merged in 2025-03, with the labels that each got.

#5476 fix(AutoComplete): trigger onBlur when clicking outside
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.js
  src/BootstrapBlazor/Components/AutoComplete/PopoverCompleteBase.cs
  src/BootstrapBlazor/Components/Search/Search.razor
Labels: bug

#5478 chore(Template): update summary title
  .github/pull_request_template.md
Labels: chore

#5482 feat(BootstrapBlazorOutlet): add BootstrapBlazorOutlet component
  src/BootstrapBlazor/Components/BaseComponents/BootstrapBlazorRoot.razor
  src/BootstrapBlazor/Components/BootstrapBlazorRootOutlet/BootstrapBlazorRootContent.cs
  src/BootstrapBlazor/Components/BootstrapBlazorRootOutlet/BootstrapBlazorRootOutlet.cs
  src/BootstrapBlazor/Extensions/BootstrapBlazorServiceCollectionExtensions.cs
  src/BootstrapBlazor/Services/BootstrapBlazorRootRegisterService.cs
  test/UnitTest/Components/BootstrapBlazorRootOutletTest.cs
  test/UnitTest/Services/BootstrapBlazorRootRegisterServiceTest.cs
Labels: enhancement

#5484 doc(ThemeChooser): update ThemeChooser component use BootstrapBlazorRootContent
  src/BootstrapBlazor.Server/Components/Components/ThemeChooser.razor
  src/BootstrapBlazor.Server/Components/Components/ThemeChooser.razor.js
  src/BootstrapBlazor.Server/Components/Layout/MainLayout.razor
Labels: documentation

#5485 fix(AutoComplete): trigger OnValueChanged when the Value changed
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.cs
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.js
Labels: bug

#5487 feat(registerBootstrapBlazorModule ): add registerBootstrapBlazorModule in utility
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.js
  src/BootstrapBlazor/wwwroot/modules/utility.js
Labels: enhancement

#5489 chore(Template): upadate summary copilot position
  .github/pull_request_template.md
Labels: chore

#5491 feat(ObjectExtensions): add CreateInstanceWithCascade extension method
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.Edit.cs
  src/BootstrapBlazor/Extensions/ObjectExtensions.cs
Labels: enhancement

#5493 chore(Template): insert blank line
  .github/pull_request_template.md
Labels: chore

#5495 refactor(DialButton): use registerBootstrapBlazorModule to prevent multiple event handler registrations
  src/BootstrapBlazor/Components/Button/DialButton.razor.js
Labels: enhancement

#5497 refactor(BootstrapBlazorModule): use registerBootstrapBlazorModule refactor component
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.js
  src/BootstrapBlazor/Components/Button/DialButton.razor.js
  src/BootstrapBlazor/Components/Button/PopConfirmButton.razor.js
  src/BootstrapBlazor/Components/Button/SlideButton.razor.js
  src/BootstrapBlazor/Components/Select/Select.razor.js
  src/BootstrapBlazor/wwwroot/modules/base-popover.js
  src/BootstrapBlazor/wwwroot/modules/utility.js
Labels: enhancement

#5499 refactor(AutoComplete): redesign blur logic
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.js
Labels: enhancement

#5504 refactor(Textarea): rename private property
  src/BootstrapBlazor/Components/Textarea/Textarea.razor
  src/BootstrapBlazor/Components/Textarea/Textarea.razor.cs
Labels: enhancement

#5502 doc(UniverSheet): update sample code
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/UniverSheets.razor
  src/BootstrapBlazor.Server/Components/Samples/UniverSheets.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/wwwroot/univer-sheet/controller.js
  src/BootstrapBlazor.Server/wwwroot/univer-sheet/report.json
Labels: documentation

#5510 doc(OnlineSheet): add OnlineSheet sample code
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Layout/TutorialsLayout.razor
  src/BootstrapBlazor.Server/Components/Layout/TutorialsLayout.razor.css
  src/BootstrapBlazor.Server/Components/Layout/TutorialsNavMenu.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/OnlineSheet.razor
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/OnlineSheet.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/OnlineSheet.razor.css
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/OnlineSheet/OnlineContributor.razor
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/OnlineSheet/OnlineContributor.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/OnlineSheet/OnlineContributor.razor.css
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/OnlineSheet/OnlineSheet.razor
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/OnlineSheet/OnlineSheet.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/OnlineSheet/OnlineSheet.razor.css
  src/BootstrapBlazor.Server/Extensions/ServiceCollectionExtensions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/Services/MockOnlineContributor.cs
Labels: documentation

#5512 refactor(LayoutSplitebar): Enhanced javascript handle sidebar width is not set
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/OnlineSheet.razor
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/OnlineSheet.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/OnlineSheet.razor.css
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/OnlineSheet/OnlineSheet.razor.cs
  src/BootstrapBlazor/Components/Layout/LayoutSplitebar.razor.js
Labels: enhancement

#5513 feat(ListView): support IsTriggerByPagination parameter
  src/BootstrapBlazor.Server/Components/Samples/ListViews.razor
  src/BootstrapBlazor/Components/ListView/ListView.razor
  src/BootstrapBlazor/Components/ListView/ListView.razor.cs
  test/UnitTest/Components/ListViewTest.cs
Labels: enhancement

#5514 fix(Collapse): handle accordion mode by collapsing other items when one is expanded
  src/BootstrapBlazor/Components/Collapse/Collapse.razor
  src/BootstrapBlazor/Components/Collapse/Collapse.razor.cs
  test/UnitTest/Components/CollapseTest.cs
Labels: bug

#5516 refactor(UniverSheet): update version prevent throw exception when data is null
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
Labels: enhancement

#5518 feat(DialogOption): add IsFade parameter
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Dialog/Dialog.razor
  src/BootstrapBlazor/Components/Dialog/Dialog.razor.cs
  src/BootstrapBlazor/Components/Dialog/DialogOption.cs
  test/UnitTest/Components/DialogTest.cs
  test/UnitTest/Components/ModalTest.cs
Labels: enhancement

#5520 chore(Template): update pull request template
  .github/pull_request_template.md
Labels: chore

#5522 perf(IFrame): improve performance and reduce rendering time
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/IFrame/IFrame.razor.cs
  src/BootstrapBlazor/Components/IFrame/IFrame.razor.js
Labels: documentation, Welcome PR

#5525 doc(Layout): relayout z-index value
  src/BootstrapBlazor.Server/Components/Components/Header.razor.css
  src/BootstrapBlazor.Server/Components/Layout/BaseLayout.razor.css
  src/BootstrapBlazor.Server/Components/Layout/MainLayout.razor.css
Labels: documentation, Welcome PR

#5528 refactor(registerBootstrapBlazorModule): reset init field when items is empty
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/wwwroot/modules/utility.js
Labels: enhancement

#5530 fix(Table): add IsAutoInitializeModelProperty parameter control create instance logic
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.Edit.cs
  src/BootstrapBlazor/Extensions/ObjectExtensions.cs
  test/UnitTest/Components/TableTest.cs
  test/UnitTest/Extensions/ObjectExtensionsTest.cs
Labels: enhancement

#5531 refactor(AutoComplete): improved the TriggerChange/TriggerFilter method to update CurrentValue
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.cs
Labels: documentation, Welcome PR

#5534 chore(Template): add release branch support
  .github/pull_request_template.md
  .github/workflows/docker.yml
  .github/workflows/pack.yml
Labels: chore

#5538 bug(Modal): styles remain when modal are destroyed
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Modal/Modal.razor.js
Labels: enhancement

#5542 refactor(Modal): keep document original style
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Modal/Modal.razor.js
Labels: enhancement

#5544 refactor(Modal): add back/restoreBodyStyle function
  src/BootstrapBlazor/Components/Modal/Modal.razor.js
Labels: enhancement

#5549 refactor(Modal): remove dialog variable
  src/BootstrapBlazor.Server/Components/Samples/Modals.razor
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Modal/Modal.razor.js
Labels: enhancement

#5550 doc(Editor): update jQuery script vesion to 3.6.0
  src/BootstrapBlazor.Server/Components/Samples/Editors.razor
Labels: documentation

#5554 doc(Search): add ShowClearButton parameter
  src/BootstrapBlazor.Server/Components/Pages/Coms.razor
Labels: documentation

#5557 feat(UniverIcon): add UniverIcon component
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Layout/IconLayout.razor
  src/BootstrapBlazor.Server/Components/Layout/IconLayout.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Icons/UniverIconList.razor
  src/BootstrapBlazor.Server/Components/Samples/Icons/UniverIcons.razor
  src/BootstrapBlazor.Server/Components/Samples/Icons/UniverIcons.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Icons/_Imports.razor
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/wwwroot/css/site.css
  test/UnitTest/Services/BootstrapBlazorRootRegisterServiceTest.cs
Labels: enhancement

#5564 doc(Icons): a comprehensive list of Icons
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/Icons/AntDesign/AntDesignIconListFilled.razor
  src/BootstrapBlazor.Server/Components/Samples/Icons/AntDesign/AntDesignIconListOutlined.razor
  src/BootstrapBlazor.Server/Components/Samples/Icons/AntDesign/AntDesignIconListTwoTone.razor
  src/BootstrapBlazor.Server/Components/Samples/Icons/AntDesign/AntDesignIcons.razor
  src/BootstrapBlazor.Server/Components/Samples/Icons/BootstrapIcon.razor
  src/BootstrapBlazor.Server/Components/Samples/Icons/BootstrapIcon.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Icons/BootstrapIcon.razor.js
  src/BootstrapBlazor.Server/Components/Samples/Icons/BootstrapIcons.razor
  src/BootstrapBlazor.Server/Components/Samples/Icons/ElementIcon/ElementIconList.razor
  src/BootstrapBlazor.Server/Components/Samples/Icons/ElementIcon/ElementIcons.razor
  src/BootstrapBlazor.Server/Components/Samples/Icons/ElementIcons.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Icons/FAIcons.razor
  src/BootstrapBlazor.Server/Components/Samples/Icons/IconPark/IconParkList.razor
  src/BootstrapBlazor.Server/Components/Samples/Icons/IconPark/IconParks.razor
  src/BootstrapBlazor.Server/Components/Samples/Icons/IconParks.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Icons/MaterialDesignIcons.razor
  src/BootstrapBlazor.Server/Components/Samples/Icons/OctIcon/OctIcons.razor
  src/BootstrapBlazor.Server/Components/Samples/Icons/OctIcon/OcticonIconList.razor
  src/BootstrapBlazor.Server/Components/Samples/Icons/OctIcons.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Icons/UniverIcon/UniverIconList.razor
  src/BootstrapBlazor.Server/Components/Samples/Icons/UniverIcon/UniverIcons.razor
  src/BootstrapBlazor.Server/Components/Samples/Icons/UniverIcons.razor.cs
  src/BootstrapBlazor.Server/wwwroot/css/site.css
Labels: documentation

#5566 doc(Icons): add click to copy to clipboard function
  src/BootstrapBlazor.Server/Components/Samples/Icons/AntDesign/AntDesignIcons.razor
  src/BootstrapBlazor.Server/Components/Samples/Icons/BootstrapIconBase.razor
  src/BootstrapBlazor.Server/Components/Samples/Icons/BootstrapIconBase.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Icons/BootstrapIconBase.razor.js
  src/BootstrapBlazor.Server/Components/Samples/Icons/ElementIcon/ElementIcons.razor
  src/BootstrapBlazor.Server/Components/Samples/Icons/IconPark/IconParks.razor
  src/BootstrapBlazor.Server/Components/Samples/Icons/OctIcon/OctIcons.razor
  src/BootstrapBlazor.Server/Components/Samples/Icons/UniverIcon/UniverIcons.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
Labels: documentation

#5568 chore(BootstrapIcon): mssing add bi-rotate-315 style
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
Labels: documentation

#5570 doc(DialButton): add custom style
  src/BootstrapBlazor.Server/Components/Layout/MainLayout.razor
  src/BootstrapBlazor.Server/Components/Layout/MainLayout.razor.css
Labels: documentation

#5573 revert(ListView): remove scroll class
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/ListView/ListView.razor
Labels: bug

#5555 fix(AutoComplete): network delay causes input lag
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.cs
  src/BootstrapBlazor/Components/AutoComplete/AutoCompleteItems.cs
Labels: bug

#5576 fix(Search): network delay causes input lag
  src/BootstrapBlazor.Server/Components/Pages/Coms.razor
  src/BootstrapBlazor.Server/Components/Pages/Coms.razor.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.cs
  src/BootstrapBlazor/Components/AutoComplete/AutoCompleteItems.cs
  src/BootstrapBlazor/Components/BaseComponents/RenderTemplate.razor.cs
  src/BootstrapBlazor/Components/Search/Search.razor
  src/BootstrapBlazor/Components/Search/Search.razor.cs
Labels: enhancement

#5578 chore(Script): downgrade script syntax
  src/BootstrapBlazor/Components/DateTimePicker/DateTimePicker.razor.js
  src/BootstrapBlazor/Components/Table/Table.razor.js
  src/BootstrapBlazor/Components/Typed/Typed.razor.js
  src/BootstrapBlazor/wwwroot/modules/fullscreen.js
  src/BootstrapBlazor/wwwroot/modules/utility.js
Labels: enhancement

#5580 refactor(ThemeMode): update view-transition style
  src/BootstrapBlazor.Server/Components/Components/ThemeMode.razor.js
  src/BootstrapBlazor/Components/ThemeProvider/ThemeProvider.razor.js
  src/BootstrapBlazor/wwwroot/modules/utility.js
  src/BootstrapBlazor/wwwroot/scss/root.scss
Labels: enhancement

#5582 chore(Script): downgrade script syntax
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Typed/Typed.razor.js
  src/BootstrapBlazor/wwwroot/modules/fullscreen.js
  src/BootstrapBlazor/wwwroot/modules/utility.js
Labels: enhancement

#5586 chore(Template): update pull request template
  .github/pull_request_template.md
Labels: chore

#5584 feat(Memorial): add Memorial Mode
  src/BootstrapBlazor.Server/Components/Components/Header.razor
  src/BootstrapBlazor.Server/Components/Layout/TutorialsNavMenu.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/Memorial.razor
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/Memorial.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Extensions/JSModuleExtensions.cs
  src/BootstrapBlazor/Options/BootstrapBlazorOptions.cs
  src/BootstrapBlazor/wwwroot/modules/utility.js
  src/BootstrapBlazor/wwwroot/scss/meilisearch.scss
  src/BootstrapBlazor/wwwroot/scss/root.scss
  test/UnitTest/Utils/JSModuleTest.cs
Labels: enhancement

#5590 feat(Tab): display error information in a dialog
  src/BootstrapBlazor/Components/Tab/Tab.razor.cs
  src/BootstrapBlazor/Extensions/DialogServiceExtensions.cs
  test/UnitTest/Components/ErrorLoggerTest.cs
Labels: enhancement

#5593 doc(Template): remove vsix extension documetation
  src/BootstrapBlazor.Server/Components/Pages/Template.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
Labels: documentation

#5595 refactor(Modal): use BootstrapBlazorRootOutlet wrap Modal component
  src/BootstrapBlazor.Server/Components/Layout/BaseLayout.razor.css
  src/BootstrapBlazor.Server/Components/Layout/MainLayout.razor.css
  src/BootstrapBlazor/Components/Dialog/Dialog.razor.cs
  src/BootstrapBlazor/Components/Modal/Modal.razor
  src/BootstrapBlazor/Components/Modal/Modal.razor.cs
  src/BootstrapBlazor/Components/Modal/ModalDialog.razor
  src/BootstrapBlazor/Components/Modal/ModalDialog.razor.cs
  src/BootstrapBlazor/Components/SweetAlert/SweetAlert.razor
  src/BootstrapBlazor/Components/SweetAlert/SweetAlert.razor.cs
  src/BootstrapBlazor/Components/SweetAlert/SweetAlert.razor.scss
  src/BootstrapBlazor/Services/BootstrapBlazorRootRegisterService.cs
  src/BootstrapBlazor/wwwroot/scss/root.scss
  test/UnitTest/Components/ErrorHandlerTest.cs
  test/UnitTest/Components/InputTest.cs
  test/UnitTest/Components/ModalTest.cs
  test/UnitTest/Components/TableDialogTest.cs
Labels: enhancement

#5598 chore(Deploy): update deploy script
  scripts/linux/deploy.sh
Labels: chore

#5600 perf(ErrorLog): improving the error handling logic
  src/BootstrapBlazor/Components/ErrorLogger/BootstrapBlazorErrorBoundary.cs
  src/BootstrapBlazor/Components/ErrorLogger/ErrorLogger.cs
  test/UnitTest/Components/ErrorHandlerTest.cs
Labels: enhancement

#5604 doc(Translation): translate comments and documentation from Chinese to English
  src/BootstrapBlazor/Attributes/AutoGenerateBaseAttribute.cs
  src/BootstrapBlazor/Attributes/AutoGenerateClassAttribute.cs
  src/BootstrapBlazor/Attributes/AutoGenerateColumnAttribute.cs
  src/BootstrapBlazor/Attributes/BootstrapModuleAutoLoaderAttribute.cs
  src/BootstrapBlazor/Attributes/JSModuleAutoLoaderAttribute.cs
  src/BootstrapBlazor/Attributes/NullableBoolItemsAttribute.cs
  src/BootstrapBlazor/Attributes/PlaceHolderAttribute.cs
  src/BootstrapBlazor/Attributes/TabItemOptionAttribute.cs
  src/BootstrapBlazor/Attributes/TableMetadataForAttribute.cs
  src/BootstrapBlazor/Components/EditorForm/IEditorItem.cs
  src/BootstrapBlazor/Components/Table/ITableColumn.cs
  src/BootstrapBlazor/Converter/JsonDescriptionEnumConverter.cs
  src/BootstrapBlazor/Converter/JsonEnumConverter.cs
  test/UnitTest/Components/TimerTest.cs
Labels: documentation

#5606 doc(Readme): update content of readme
  README.md
  README.zh-CN.md
Labels: documentation

#5608 doc(Readme): update component readme
  README.md
  README.zh-CN.md
  src/BootstrapBlazor/readme.md
Labels: documentation

#5611 fix(Textarea): adding new functionality to handle Shift + Enter
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Input/BootstrapInput.razor.js
  src/BootstrapBlazor/Components/Input/BootstrapInputBase.cs
  src/BootstrapBlazor/Components/Textarea/Textarea.razor.cs
Labels: bug

#5615 feat(BootstrapLabel): add form-label-tooltip when enable ShowLabelTooltip
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Label/BootstrapLabel.razor
  src/BootstrapBlazor/Components/Row/Row.razor.scss
Labels: enhancement

#5617 fix(Modal): add show style in multiple dialog mode
  src/BootstrapBlazor/Components/Modal/Modal.razor
  src/BootstrapBlazor/Components/Modal/Modal.razor.js
Labels: enhancement

#5619 feat(ModalSettings): add ModalSettings on BootstrapBlazorOptions
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Dialog/Dialog.razor.cs
  src/BootstrapBlazor/Components/Dialog/DialogOption.cs
  src/BootstrapBlazor/Components/Modal/Modal.razor.cs
  src/BootstrapBlazor/Components/SweetAlert/SweetAlert.razor
  src/BootstrapBlazor/Extensions/BootstrapBlazorOptionsExtensions.cs
  src/BootstrapBlazor/Options/BootstrapBlazorOptions.cs
  src/BootstrapBlazor/Options/ModalSettings.cs
Labels: enhancement

#5621 test(ModalSettings): addd unit test
  test/UnitTest/Options/BootstrapBlazorOptionsTest.cs
Labels: test

#5623 doc(Introduction): update intro documentation
  src/BootstrapBlazor.Server/Components/Pages/Introduction.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
Labels: documentation

#5625 fix(PopConfirmButton): missing popup header when enable title
  src/BootstrapBlazor/Components/Button/PopConfirmButton.razor.js
Labels: bug

#5628 feat(TreeView): add ShowToolbar parameter
  src/BootstrapBlazor.Server/Components/Samples/TreeViews.razor
  src/BootstrapBlazor.Server/Components/Samples/TreeViews.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/TreeView/TreeView.razor
  src/BootstrapBlazor/Components/TreeView/TreeView.razor.cs
  src/BootstrapBlazor/Components/TreeView/TreeView.razor.scss
  src/BootstrapBlazor/Components/TreeView/TreeViewItem.cs
  src/BootstrapBlazor/Components/TreeView/TreeViewRow.razor
  src/BootstrapBlazor/Components/TreeView/TreeViewRow.razor.cs
  src/BootstrapBlazor/Components/TreeView/TreeViewToolbarEditButton.razor
  src/BootstrapBlazor/Components/TreeView/TreeViewToolbarEditButton.razor.cs
  src/BootstrapBlazor/Extensions/TreeViewExtensions.cs
  src/BootstrapBlazor/Locales/en.json
  src/BootstrapBlazor/Locales/zh.json
  test/UnitTest/Components/TreeViewTest.cs
Labels: enhancement

#5626 feat(Select): redesign IsClearable function
  src/BootstrapBlazor.Server/Components/Samples/Selects.razor
  src/BootstrapBlazor.Server/Components/Samples/Selects.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/Select/Select.razor.cs
  test/UnitTest/Components/SelectTest.cs
Labels: enhancement

#5635 refactor(Select): redesign IsFixedSearch UI layout
  src/BootstrapBlazor.Server/Components/Samples/Selects.razor
  src/BootstrapBlazor.Server/Components/Samples/Selects.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/Select/Select.razor
  src/BootstrapBlazor/Components/Select/Select.razor.cs
  src/BootstrapBlazor/Components/Select/Select.razor.scss
  test/UnitTest/Components/SelectTest.cs
Labels: enhancement

#5636 feat(IEditorItem): add IsFixedSearchWhenSelect parameter
  src/BootstrapBlazor/Attributes/AutoGenerateColumnAttribute.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/EditorForm/EditorItem.cs
  src/BootstrapBlazor/Components/EditorForm/IEditorItem.cs
  src/BootstrapBlazor/Components/Filters/LookupFilter.razor
  src/BootstrapBlazor/Components/Filters/LookupFilter.razor.cs
  src/BootstrapBlazor/Components/Filters/TableFilter.razor
  src/BootstrapBlazor/Components/Table/InternalTableColumn.cs
  src/BootstrapBlazor/Components/Table/TableColumn.cs
  src/BootstrapBlazor/Components/Table/TableTemplateColumn.cs
  src/BootstrapBlazor/Extensions/ITableColumnExtensions.cs
  src/BootstrapBlazor/Utils/Utility.cs
  test/UnitTest/Attributes/AutoGenerateClassTest.cs
  test/UnitTest/Components/EditorFormTest.cs
  test/UnitTest/Components/InternalTableColumnTest.cs
  test/UnitTest/Components/TableTest.cs
  test/UnitTest/Extensions/ITableColumnExtensionsTest.cs
Labels: enhancement

#5638 doc(Select): update documentation
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Select/Select.razor
  src/BootstrapBlazor/Components/Select/Select.razor.cs
  src/BootstrapBlazor/Components/Select/SelectBase.cs
  src/BootstrapBlazor/Components/Select/SelectOption.cs
Labels: documentation

#5640 feat(Tab): add TabStyle parameter
  src/BootstrapBlazor.Server/Components/Layout/ComponentLayout.razor
  src/BootstrapBlazor.Server/Components/Samples/Tabs.razor
  src/BootstrapBlazor.Server/Components/Samples/Tabs.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/Tab/Tab.razor
  src/BootstrapBlazor/Components/Tab/Tab.razor.cs
  src/BootstrapBlazor/Components/Tab/Tab.razor.scss
  src/BootstrapBlazor/Enums/TabStyle.cs
  test/UnitTest/Components/TabTest.cs
Labels: enhancement

#5642 feat(Tab): add Capsule style
  src/BootstrapBlazor.Server/Components/Samples/Tabs.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Tab/Tab.razor
  src/BootstrapBlazor/Components/Tab/Tab.razor.cs
  src/BootstrapBlazor/Components/Tab/Tab.razor.scss
  src/BootstrapBlazor/Enums/TabStyle.cs
  test/UnitTest/Components/TabTest.cs
Labels: enhancement

#5644 doc(Tab): update document as english
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor/Components/Tab/BootstrapBlazorAuthorizeView.cs
  src/BootstrapBlazor/Components/Tab/TabItem.cs
  src/BootstrapBlazor/Components/Tab/TabLink.razor.cs
Labels: documentation

#5647 feat(TreeViewToolbarEditButton): add Icon parameter
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/TreeView/TreeViewToolbarEditButton.razor
  src/BootstrapBlazor/Components/TreeView/TreeViewToolbarEditButton.razor.cs
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/BootstrapBlazor/Icons/BootstrapIcons.cs
  src/BootstrapBlazor/Icons/FontAwesomeIcons.cs
  src/BootstrapBlazor/Icons/MaterialDesignIcons.cs
Labels: enhancement

#5651 feat(MultiSelect): redesign IsFixedSearch function
  src/BootstrapBlazor.Server/Components/Samples/MultiSelects.razor
  src/BootstrapBlazor.Server/Components/Samples/MultiSelects.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Selects.razor
  src/BootstrapBlazor/Components/Select/MultiSelect.razor
  src/BootstrapBlazor/Components/Select/MultiSelect.razor.cs
  src/BootstrapBlazor/Components/Select/Select.razor
  src/BootstrapBlazor/Components/Select/Select.razor.cs
  src/BootstrapBlazor/Components/Select/SelectBase.cs
  src/BootstrapBlazor/Components/SelectGeneric/SelectGeneric.razor
  src/BootstrapBlazor/Components/SelectGeneric/SelectGeneric.razor.cs
  test/UnitTest/Components/MultiSelectTest.cs
  test/UnitTest/Components/SelectGenericTest.cs
Labels: enhancement

#5655 refactor(MultiSelect): support ShowToolbar parameter when set ShowSearch to true
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/MultiSelects.razor
  src/BootstrapBlazor.Server/Components/Samples/MultiSelects.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Select/MultiSelect.razor
  src/BootstrapBlazor/Components/Select/MultiSelect.razor.cs
  src/BootstrapBlazor/Components/Select/MultiSelect.razor.scss
  src/BootstrapBlazor/Components/Select/Select.razor.scss
  src/BootstrapBlazor/Components/Select/SelectBase.cs
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrapblazor.scss
  test/UnitTest/Components/MultiSelectTest.cs
Labels: enhancement

#5656 fix(Textarea): should trigger keyboard event when set UseShiftEnter to false
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Textarea/Textarea.razor.js
Labels: bug

#5658 refactor(TreeView): remove IsFixedSearch parameter
  src/BootstrapBlazor.Server/Components/Samples/TreeViews.razor.cs
  src/BootstrapBlazor/Components/TreeView/TreeView.razor.cs
  test/UnitTest/Components/TreeViewTest.cs
Labels: enhancement

#5660 refactor(Select): remove IsFixedSearch parameter
  src/BootstrapBlazor.Server/Components/Samples/MultiSelects.razor
  src/BootstrapBlazor.Server/Components/Samples/MultiSelects.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Selects.razor
  src/BootstrapBlazor.Server/Components/Samples/Selects.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Attributes/AutoGenerateColumnAttribute.cs
  src/BootstrapBlazor/Components/EditorForm/EditorItem.cs
  src/BootstrapBlazor/Components/EditorForm/IEditorItem.cs
  src/BootstrapBlazor/Components/Filters/LookupFilter.razor.cs
  src/BootstrapBlazor/Components/Filters/TableFilter.razor
  src/BootstrapBlazor/Components/Select/MultiSelect.razor
  src/BootstrapBlazor/Components/Select/MultiSelect.razor.cs
  src/BootstrapBlazor/Components/Select/MultiSelect.razor.scss
  src/BootstrapBlazor/Components/Select/Select.razor
  src/BootstrapBlazor/Components/Select/Select.razor.scss
  src/BootstrapBlazor/Components/Select/SelectBase.cs
  src/BootstrapBlazor/Components/Select/SelectTree.razor.cs
  src/BootstrapBlazor/Components/SelectGeneric/SelectGeneric.razor
  src/BootstrapBlazor/Components/Table/InternalTableColumn.cs
  src/BootstrapBlazor/Components/Table/TableColumn.cs
  src/BootstrapBlazor/Extensions/ITableColumnExtensions.cs
  src/BootstrapBlazor/Utils/Utility.cs
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrapblazor.scss
  test/UnitTest/Attributes/AutoGenerateClassTest.cs
  test/UnitTest/Components/EditorFormTest.cs
  test/UnitTest/Components/SelectGenericTest.cs
  test/UnitTest/Components/SelectTest.cs
  test/UnitTest/Components/SelectTreeTest.cs
  test/UnitTest/Components/TableTest.cs
  test/UnitTest/Extensions/ITableColumnExtensionsTest.cs
Labels: enhancement

#5662 feat(MultiSelect): add CloseButtonIcon parameter
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Select/MultiSelect.razor
  src/BootstrapBlazor/Components/Select/MultiSelect.razor.cs
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/BootstrapBlazor/Icons/BootstrapIcons.cs
  src/BootstrapBlazor/Icons/FontAwesomeIcons.cs
  src/BootstrapBlazor/Icons/MaterialDesignIcons.cs
  test/UnitTest/Components/MultiSelectTest.cs
Labels: enhancement

#5666 doc(IsFixedSearch): remove IsFixedSearch documentation
  src/BootstrapBlazor.Server/Components/Samples/MultiSelects.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Selects.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/TreeViews.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/Filters/LookupFilter.razor
  src/BootstrapBlazor/Components/Select/Select.razor.scss
  src/BootstrapBlazor/Components/Select/SelectBase.cs
  src/BootstrapBlazor/Components/Select/SelectTree.razor
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrapblazor.scss
  test/UnitTest/Components/InternalTableColumnTest.cs
  test/UnitTest/Components/SelectTest.cs
  test/UnitTest/Components/TableTest.cs
Labels: documentation

#5664 feat(AutoFill): add IsVirtulize parameter
  src/BootstrapBlazor.Server/Components/Samples/AutoFills.razor
  src/BootstrapBlazor.Server/Components/Samples/AutoFills.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.scss
  src/BootstrapBlazor/Components/AutoFill/AutoFill.razor
  src/BootstrapBlazor/Components/AutoFill/AutoFill.razor.cs
  src/BootstrapBlazor/Components/AutoFill/AutoFill.razor.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrapblazor.scss
  test/UnitTest/Components/AutoFillTest.cs
Labels: enhancement

#5668 fix(DateTimeRange): should close popup after click confirm button
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/DateTimePicker/DateTimePicker.razor
  src/BootstrapBlazor/Components/DateTimeRange/DateTimeRange.razor
  src/BootstrapBlazor/Components/DateTimeRange/DateTimeRange.razor.cs
Labels: bug

#5670 refactor(AutoFill): prevent jitter when mouse scrolling too fast
  src/BootstrapBlazor.Server/Components/Samples/AutoFills.razor
  src/BootstrapBlazor.Server/Components/Samples/AutoFills.razor.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.cs
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.js
  src/BootstrapBlazor/Components/AutoComplete/PopoverCompleteBase.cs
  src/BootstrapBlazor/Components/AutoFill/AutoFill.razor
  src/BootstrapBlazor/Components/AutoFill/AutoFill.razor.cs
Labels: enhancement

#5673 feat(TreeView): add OverscanCount parameter
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/TreeView/TreeView.razor
  src/BootstrapBlazor/Components/TreeView/TreeView.razor.cs
  test/UnitTest/Components/TimerTest.cs
Labels: enhancement

#5675 test(AutoFill): update test improve code coverage
  src/BootstrapBlazor/Components/AutoFill/AutoFill.razor
  src/BootstrapBlazor/Components/AutoFill/AutoFill.razor.cs
  src/BootstrapBlazor/Components/Table/Table.razor
  test/UnitTest/Components/AutoFillTest.cs
Labels: test

#5680 test(Select): update unit test
  test/UnitTest/Components/SelectTest.cs
Labels: test

#5682 feat(MultiSelect): add DefaultVirtualizeItemText parameter
  src/BootstrapBlazor.Server/Components/Samples/MultiSelects.razor
  src/BootstrapBlazor.Server/Components/Samples/MultiSelects.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Selects.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Select/MultiSelect.razor.cs
  test/UnitTest/Components/MultiSelectTest.cs
Labels: enhancement

#5684 feat(Tab): improve AllowDrag function
  src/BootstrapBlazor.Server/Components/Samples/Tabs.razor
  src/BootstrapBlazor/Components/Tab/Tab.razor
  src/BootstrapBlazor/Components/Tab/Tab.razor.cs
  src/BootstrapBlazor/Components/Tab/Tab.razor.js
  src/BootstrapBlazor/Components/Tab/Tab.razor.scss
Labels: enhancement

#5688 chore(Action): add label check and auto close action
  .github/workflows/issue-check-inactive.yml
  .github/workflows/issue-close-required.yml
Labels: chore

#5691 feat(Tab): add ShowToolbar parameter
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Layout/ComponentLayout.razor
  src/BootstrapBlazor.Server/Components/Samples/Tabs.razor
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Tab/Tab.razor
  src/BootstrapBlazor/Components/Tab/Tab.razor.cs
  src/BootstrapBlazor/Components/Tab/Tab.razor.scss
  src/BootstrapBlazor/Components/Tab/TabItemContent.cs
  src/BootstrapBlazor/Components/Tab/TabToolbarRefreshButton.razor
  src/BootstrapBlazor/Components/Tab/TabToolbarRefreshButton.razor.cs
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/BootstrapBlazor/Extensions/TabItemExtensions.cs
  src/BootstrapBlazor/Icons/BootstrapIcons.cs
  src/BootstrapBlazor/Icons/FontAwesomeIcons.cs
  src/BootstrapBlazor/Icons/MaterialDesignIcons.cs
  test/UnitTest/Components/LayoutTest.cs
  test/UnitTest/Components/TabTest.cs
Labels: enhancement

#5692 feat(Calendar): add FirstDayOfWeek parameter
  src/BootstrapBlazor.Server/Components/Samples/Calendars.razor
  src/BootstrapBlazor.Server/Components/Samples/Calendars.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/DateTimePickers.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Calendar/Calendar.razor.cs
  src/BootstrapBlazor/Components/DateTimePicker/DatePickerBody.razor.cs
  test/UnitTest/Components/CalendarTest.cs
Labels: enhancement

#5694 feat(Tab): add ToolbarTemplate parameter
  src/BootstrapBlazor.Server/Components/Samples/Tabs.razor
  src/BootstrapBlazor.Server/Components/Samples/Tabs.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/FullScreen/FullScreenButton.razor
  src/BootstrapBlazor/Components/Tab/Tab.razor
  src/BootstrapBlazor/Components/Tab/Tab.razor.cs
  src/BootstrapBlazor/Components/Tab/Tab.razor.scss
  src/BootstrapBlazor/Components/Tab/TabToolbarButton.razor
  src/BootstrapBlazor/Components/Tab/TabToolbarButton.razor.cs
  src/BootstrapBlazor/Components/Tab/TabToolbarRefreshButton.razor
  src/BootstrapBlazor/Locales/en.json
  src/BootstrapBlazor/Locales/zh.json
  test/UnitTest/Components/TabTest.cs
Labels: enhancement

#5696 feat(Tab): add OnToolbarRefreshCallback parameter
  src/BootstrapBlazor.Server/Components/Samples/Tabs.razor
  src/BootstrapBlazor.Server/Components/Samples/Tabs.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/Tab/Tab.razor
  src/BootstrapBlazor/Components/Tab/Tab.razor.cs
  src/BootstrapBlazor/Components/Tab/TabToolbarButton.razor
  test/UnitTest/Components/TabTest.cs
Labels: enhancement

#5697 feat(Tab): support context menu
  src/BootstrapBlazor.Server/Components/Samples/Tabs.razor
  src/BootstrapBlazor.Server/Components/Samples/Tabs.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Tab/Tab.razor
  src/BootstrapBlazor/Components/Tab/Tab.razor.cs
  test/UnitTest/Components/TabTest.cs
Labels: enhancement

#5699 feat(Tab): add Refresh method
  src/BootstrapBlazor.Server/Components/Samples/Tabs.razor
  src/BootstrapBlazor.Server/Components/Samples/Tabs.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/ContextMenu/ContextMenu.razor.scss
  src/BootstrapBlazor/Components/Tab/Tab.razor.cs
  src/BootstrapBlazor/Extensions/TabItemExtensions.cs
  test/UnitTest/Components/TabTest.cs
Labels: enhancement

#5703 feat(Layout): support TabStyle/ShowToolbar parameter
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Layout/Layout.razor
  src/BootstrapBlazor/Components/Layout/Layout.razor.cs
  src/BootstrapBlazor/Components/Tab/Tab.razor.cs
  src/BootstrapBlazor/Components/Tab/Tab.razor.scss
  test/UnitTest/Components/LayoutTest.cs
Labels: enhancement

#5707 feat(IThemeProvider): add TriggerThemeChanged method
  src/BootstrapBlazor/Services/DefaultThemeProvider.cs
  src/BootstrapBlazor/Services/IThemeProvider.cs
  test/UnitTest/Services/ThemeProviderTest.cs
Labels: enhancement

#5711 refactor(Dropdown): update dark style
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Dropdown/Dropdown.razor.scss
  src/BootstrapBlazor/wwwroot/scss/bootstrapblazor-dark.scss
  src/BootstrapBlazor/wwwroot/scss/components.scss
Labels: enhancement

#5713 doc(DockView): add auto switch theme sample
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Components/ThemeMode.razor
  src/BootstrapBlazor.Server/Components/Components/ThemeMode.razor.cs
  src/BootstrapBlazor.Server/Components/Components/ThemeMode.razor.js
  src/BootstrapBlazor.Server/Components/Samples/DockViews2/BaseDockView.cs
  src/BootstrapBlazor.Server/Components/Samples/DockViews2/DockViewCol.razor
  src/BootstrapBlazor.Server/Components/Samples/DockViews2/DockViewComplex.razor
  src/BootstrapBlazor.Server/Components/Samples/DockViews2/DockViewGroup.razor
  src/BootstrapBlazor.Server/Components/Samples/DockViews2/DockViewLayout.razor
  src/BootstrapBlazor.Server/Components/Samples/DockViews2/DockViewLayout.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/DockViews2/DockViewLock.razor
  src/BootstrapBlazor.Server/Components/Samples/DockViews2/DockViewNest.razor
  src/BootstrapBlazor.Server/Components/Samples/DockViews2/DockViewNest.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/DockViews2/DockViewRow.razor
  src/BootstrapBlazor.Server/Components/Samples/DockViews2/DockViewTitle.razor
  src/BootstrapBlazor.Server/Components/Samples/DockViews2/DockViewVisible.razor
  src/BootstrapBlazor/Components/ThemeProvider/ThemeProvider.razor.cs
Labels: documentation

#5715 chore(Action): add auto close issue action
  .github/workflows/close-stale-issues.yml
  .github/workflows/issue-check-inactive.yml
  .github/workflows/issue-close-required.yml
Labels: chore

#5718 feat(Tab): add navigation hover style
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/Tabs.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor/Components/Tab/Tab.razor
  src/BootstrapBlazor/Components/Tab/Tab.razor.cs
  src/BootstrapBlazor/Components/Tab/Tab.razor.scss
  src/BootstrapBlazor/Locales/en.json
  src/BootstrapBlazor/Locales/zh.json
  test/UnitTest/Components/TabTest.cs
Labels: enhancement

#5720 chore(Action): update action add any-of-labels config
  .github/workflows/close-stale-issues.yml
Labels: chore

#5721 feat(Table): throw exception when set IsTree to true in virtualize mode
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/Components/Table/Table.razor.Edit.cs
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#5727 chore(editorconfig): add rule for scss
  .editorconfig
Labels: chore

#5730 feat(Table): add OverscanCount parameter
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/Components/Table/Table.razor.Edit.cs
  src/BootstrapBlazor/Components/Table/Table.razor.Toolbar.cs
  src/BootstrapBlazor/Components/Table/Table.razor.TreeNode.cs
  src/BootstrapBlazor/Components/Table/Table.razor.cs
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#5733 feat(Layout): add ShowTabContextMenu parameter
  src/BootstrapBlazor/Components/Layout/Layout.razor
  src/BootstrapBlazor/Components/Layout/Layout.razor.cs
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/BootstrapBlazor/Icons/BootstrapIcons.cs
  src/BootstrapBlazor/Icons/FontAwesomeIcons.cs
  src/BootstrapBlazor/Icons/MaterialDesignIcons.cs
  src/BootstrapBlazor/Locales/en.json
  src/BootstrapBlazor/Locales/zh.json
  src/BootstrapBlazor/Services/Bluetooth/BluetoothDeviceInfo.cs
  test/UnitTest/Components/LayoutTest.cs
Labels: enhancement

#5735 feat(Layout): add style for tab context menu
  src/BootstrapBlazor/Components/Layout/Layout.razor.scss
  src/BootstrapBlazor/Components/Tab/Tab.razor.scss
Labels: enhancement

#5737 feat(Tab): add OnBeforeShowContextMenu parameter
  src/BootstrapBlazor.Server/Components/Samples/Tabs.razor
  src/BootstrapBlazor.Server/Components/Samples/Tabs.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/Layout/Layout.razor
  src/BootstrapBlazor/Components/Layout/Layout.razor.cs
  src/BootstrapBlazor/Components/Tab/Tab.razor
  src/BootstrapBlazor/Components/Tab/Tab.razor.cs
  src/BootstrapBlazor/Components/Tab/Tab.razor.scss
  src/BootstrapBlazor/Locales/en.json
  src/BootstrapBlazor/Locales/zh.json
  test/UnitTest/Components/LayoutTest.cs
  test/UnitTest/Components/TabTest.cs
Labels: enhancement

#5739 feat(Tab): add ShowContextFullScreenButton parameter
  src/BootstrapBlazor.Server/Components/Samples/Tabs.razor
  src/BootstrapBlazor/Components/ContextMenu/ContextMenu.razor.scss
  src/BootstrapBlazor/Components/Tab/Tab.razor
  src/BootstrapBlazor/Components/Tab/Tab.razor.cs
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/BootstrapBlazor/Icons/BootstrapIcons.cs
  src/BootstrapBlazor/Icons/FontAwesomeIcons.cs
  src/BootstrapBlazor/Icons/MaterialDesignIcons.cs
  src/BootstrapBlazor/Locales/en.json
  src/BootstrapBlazor/Locales/zh.json
  test/UnitTest/Components/TabTest.cs
Labels: enhancement

#5741 doc(Tab): update context menu documentation
  src/BootstrapBlazor.Server/Components/Samples/Layouts.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Tabs.razor
  src/BootstrapBlazor.Server/Components/Samples/Tabs.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
Labels: documentation

#5742 feat(DockView2): collapse panel to nearest edge
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
Labels: enhancement

#5744 chore(Action): update github action clean stale issue
  .github/workflows/close-stale-issues.yml
Labels: chore

#5747 feat(Mask): update opacity to 0.3
  src/BootstrapBlazor/Components/Mask/Mask.razor.scss
  src/BootstrapBlazor/wwwroot/src/css/motronic.css
Labels: enhancement

#5749 feat(Tab): update chrome tab style
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Layout/Layout.razor.cs
  src/BootstrapBlazor/Components/Tab/Tab.razor.scss
Labels: enhancement

#5751 feat(DevUI): update btn-xs style
  src/BootstrapBlazor.Server/wwwroot/css/devui.css
Labels: enhancement

#5752 fix(ValidateForm): compatible with custom validation classes not end with Attribute
  src/BootstrapBlazor/Components/ValidateForm/ValidateForm.razor.cs
  test/UnitTest/Components/ValidateFormTest.cs
Labels: bug

#5755 feat(UniverSheet): support Lang parameter
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/Tutorials/OnlineSheet/OnlineSheet.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/UniverSheets.razor.cs
Labels: enhancement
