Repository dotnetcore/BootstrapBlazor, pull requests merged in 2025-01, with the labels that each got.

#5008 feat(IIconTheme): use FrozenDictionary improve performance
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Extensions/ServiceCollectionSharedExtensions.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Extensions/BootstrapBlazorServiceCollectionExtensions.cs
  src/BootstrapBlazor/Options/FontAwesomeIcons.cs
  src/BootstrapBlazor/Options/IconThemeOptions.cs
  src/BootstrapBlazor/Services/DefaultIconTheme.cs
  src/BootstrapBlazor/Services/IIconTheme.cs
  test/UnitTest/Services/ConfigureIconMapperOptionsTest.cs
Labels: enhancement

#5010 test(Icon): remove Icon unit test
  BootstrapBlazor.sln
  test/UniTestSvgIcon/AntDesignIconList.razor
  test/UniTestSvgIcon/AntDesignIconList_filled.razor
  test/UniTestSvgIcon/AntDesignIconList_outlined.razor
  test/UniTestSvgIcon/AntDesignIconList_twotone.razor
  test/UniTestSvgIcon/ElementIconList.razor
  test/UniTestSvgIcon/IconParkList.razor
  test/UniTestSvgIcon/UniTestSvgIcon.csproj
  test/UniTestSvgIcon/UnitTest.cs
  test/UniTestSvgIcon/download.zip
  test/UniTestSvgIcon/element.svg
  test/UniTestSvgIcon/element.zip
  test/UniTestSvgIcon/filled.svg
  test/UniTestSvgIcon/filled.zip
  test/UniTestSvgIcon/icon-park.svg
  test/UniTestSvgIcon/outlined.svg
  test/UniTestSvgIcon/outlined.zip
  test/UniTestSvgIcon/twotone.svg
  test/UniTestSvgIcon/twotone.zip
Labels: test

#5012 doc(MindMap): update documentation for callback extensions
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/MindMaps.razor
  src/BootstrapBlazor.Server/Components/Samples/MindMaps.razor.Data.cs
  src/BootstrapBlazor.Server/Components/Samples/MindMaps.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/MindMaps.razor.js
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
Labels: documentation

#5014 refactor(AutoFill): add IsLikeMatch/IgnoreCase parameter
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/InputGroups.razor
  src/BootstrapBlazor/Components/AutoFill/AutoFill.razor.cs
  test/UnitTest/Components/AutoFillTest.cs
Labels: enhancement

#5016 doc(GlobalSearch): update searchable field
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Components/GlobalSearch.razor
Labels: documentation

#5018 doc(MindMap): add how to use section
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/Dialogs.razor
  src/BootstrapBlazor.Server/Components/Samples/MindMaps.razor
  src/BootstrapBlazor.Server/Components/Samples/MindMaps.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
Labels: documentation

#5021 chore(Sponsor): add Sponsor button
  .github/FUNDING.yml
Labels: chore

#5024 feat(TableExport): support Lookup GetItemsAsync extension method
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
Labels: enhancement

#5022 fix(Select): ShowSearch not work when set IsVirtualize to true
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Select/Select.razor
  src/BootstrapBlazor/Components/Select/Select.razor.cs
  src/BootstrapBlazor/Components/Select/Select.razor.js
  src/BootstrapBlazor/Components/Select/Select.razor.scss
  src/BootstrapBlazor/Components/Select/SelectBase.cs
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrapblazor.scss
  test/UnitTest/Components/SelectTest.cs
Labels: bug

#5026 feat(Swal): upgrade swal v2 style
  src/BootstrapBlazor.Server/Components/Samples/SweetAlerts.razor
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/SweetAlert/SweetAlert.razor.scss
  src/BootstrapBlazor/Components/SweetAlert/SweetAlertBody.razor
  src/BootstrapBlazor/Components/SweetAlert/SweetAlertBody.razor.cs
  src/BootstrapBlazor/wwwroot/lib/swal/sweetalert2.css
  src/BootstrapBlazor/wwwroot/lib/swal/sweetalert2.min.css
Labels: enhancement

#5028 fix(BootstrapInputNumber): throw exception when NumberDecimalSeparator is comma
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Extensions/ObjectExtensions.cs
  src/BootstrapBlazor/Utils/Utility.cs
  test/UnitTest/Extensions/ObjectExtensionsTest.cs
Labels: bug

#5030 refactor(ITableColumn): add nullable mark for Formatter parameter
  src/BootstrapBlazor/Attributes/AutoGenerateColumnAttribute.cs
  src/BootstrapBlazor/Components/Table/ITableColumn.cs
  src/BootstrapBlazor/Components/Table/InternalTableColumn.cs
  src/BootstrapBlazor/Components/Table/TableColumn.cs
Labels: enhancement

#5032 fix(Select): enter keydown event not work
  src/BootstrapBlazor.Server/Components/Pages/Coms.razor
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Select/Select.razor.js
Labels: bug

#5034 perf(LocalizerString): use FrozenSet improve performance
  src/BootstrapBlazor/Extensions/LocalizationOptionsExtensions.cs
  src/BootstrapBlazor/Localization/Json/JsonStringLocalizer.cs
  src/BootstrapBlazor/Services/CacheManager.cs
  src/BootstrapBlazor/Utils/Utility.cs
  test/UnitTest/Performance/CacheTest.cs
Labels: enhancement

#5037 feat(SelectTree): add ShowSearch parameter
  src/BootstrapBlazor/Components/Select/SelectTree.razor
  src/BootstrapBlazor/Components/Select/SelectTree.razor.cs
  src/BootstrapBlazor/Components/Select/SelectTree.razor.scss
  src/BootstrapBlazor/Components/TreeView/TreeView.razor
  src/BootstrapBlazor/Components/TreeView/TreeView.razor.cs
  src/BootstrapBlazor/Components/TreeView/TreeView.razor.scss
  test/UnitTest/Components/SelectTreeTest.cs
  test/UnitTest/Components/TreeViewTest.cs
Labels: enhancement

#5039 doc(Drawer): update drawer sample code
  src/BootstrapBlazor.Server/Components/Samples/Drawers.razor
  src/BootstrapBlazor/BootstrapBlazor.csproj
Labels: documentation

#5040 feat(SweetAlert): support trigger OnCloseAsync when set IsAutoHide to true
  src/BootstrapBlazor/Components/SweetAlert/SwalOption.cs
  src/BootstrapBlazor/Components/SweetAlert/SweetAlert.razor.cs
  src/BootstrapBlazor/Components/SweetAlert/SweetContext.cs
  test/UnitTest/Components/SwalTest.cs
Labels: enhancement

#5044 doc(Select): update bind enum data type sample code
  src/BootstrapBlazor.Server/Components/Samples/Selects.razor
  src/BootstrapBlazor.Server/Components/Samples/Selects.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Sliders.razor
  src/BootstrapBlazor/Components/Input/BootstrapInputGroup.razor.scss
Labels: documentation

#5047 fix(Select): use ScrollIntoView function
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Select/Select.razor.js
Labels: bug

#5049 refactor(ScrollIntoView): use nearest value instead of center
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesSelection.razor.js
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.js
  src/BootstrapBlazor/Components/Select/Select.razor.js
  src/BootstrapBlazor/Components/TreeView/TreeView.razor.cs
  src/BootstrapBlazor/Components/TreeView/TreeView.razor.js
Labels: enhancement

#5051 fix(Layout): add media query for overflow style
  src/BootstrapBlazor/Components/Layout/Layout.razor.scss
Labels: bug

#5055 refactor(AutoComplete): support Items update
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.cs
  test/UnitTest/Components/AutoCompleteTest.cs
Labels: enhancement

#5058 feat(RDKit): add RDKit component
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/RDKits.razor
  src/BootstrapBlazor.Server/Components/Samples/RDKits.razor.cs
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/docs.json
  src/BootstrapBlazor/Components/Table/Table.razor.js
Labels: enhancement

#5062 feat(RDKit): add Smarts parameter
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/RDKits.razor
  src/BootstrapBlazor.Server/Components/Samples/RDKits.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
Labels: documentation

#5064 doc(RDKit): add Size parameter document
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/RDKits.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
Labels: documentation

#5072 doc(RDKit): update sample code
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/RDKits.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
Labels: documentation

#5073 feat(SmilesDrawer): add SmilesDrawer component
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/SmilesDrawers.razor
  src/BootstrapBlazor.Server/Components/Samples/SmilesDrawers.razor.cs
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/docs.json
Labels: enhancement

#5074 feat(SelectTable): add IsClearable parameter
  src/BootstrapBlazor.Server/Components/Samples/SelectTables.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Select/Select.razor.scss
  src/BootstrapBlazor/Components/Select/SelectTable.razor
  src/BootstrapBlazor/Components/Select/SelectTable.razor.cs
  test/UnitTest/Components/SelectTableTest.cs
Labels: enhancement

#5075 doc(WebSiteOptions): improve performance for search code
  src/BootstrapBlazor.Server/Components/Components/ThemeChooser.razor.cs
  src/BootstrapBlazor.Server/Data/WebsiteOptions.cs
  src/BootstrapBlazor.Server/Services/CodeSnippetService.cs
Labels: bug

#5077 feat(SelectObject): add IsClearable parameter
  src/BootstrapBlazor.Server/Components/Samples/SelectObjects.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Select/SelectObject.razor
  src/BootstrapBlazor/Components/Select/SelectObject.razor.cs
  test/UnitTest/Components/SelectObjectTest.cs
Labels: enhancement

#5080 doc(Table): add sample code for row span
  src/BootstrapBlazor.Server/Components/Components/MergeTableRow.razor
  src/BootstrapBlazor.Server/Components/Components/MergeTableRow.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesRow.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
Labels: documentation

#5083 feat(Light): support flash function when set IsFlat to true
  src/BootstrapBlazor.Server/Components/Samples/Lights.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/Light/Light.razor.cs
  src/BootstrapBlazor/Components/Light/Light.razor.scss
  test/UnitTest/Components/LightTest.cs
Labels: enhancement

#5084 feat(Cascader): add IsClearable parameter
  src/BootstrapBlazor.Server/Components/Samples/Cascaders.razor
  src/BootstrapBlazor.Server/Components/Samples/SelectObjects.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Cascader/Cascader.razor
  src/BootstrapBlazor/Components/Cascader/Cascader.razor.cs
  src/BootstrapBlazor/Components/Select/Select.razor.scss
  src/BootstrapBlazor/Components/Select/SelectObject.razor.cs
  test/UnitTest/Components/CascaderTest.cs
Labels: enhancement

#5086 feat(MultiSelect): add IsEditable parameter
  src/BootstrapBlazor.Server/Components/Samples/MultiSelects.razor
  src/BootstrapBlazor.Server/Components/Samples/MultiSelects.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/Select/MultiSelect.razor
  src/BootstrapBlazor/Components/Select/MultiSelect.razor.cs
  src/BootstrapBlazor/Components/Select/MultiSelect.razor.js
  src/BootstrapBlazor/Components/Select/MultiSelect.razor.scss
  src/BootstrapBlazor/Enums/EditSubmitKey.cs
  test/UnitTest/Components/MultiSelectTest.cs
Labels: enhancement

#5091 doc(ComponentLayout): refactor scroll behavior
  src/BootstrapBlazor.Server/Components/Layout/ComponentLayout.razor.cs
  src/BootstrapBlazor.Server/Components/Layout/ComponentLayout.razor.js
  src/BootstrapBlazor.Server/Components/Layout/MainLayout.razor.css
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/BaseComponents/IdComponentBase.cs
Labels: documentation

#5089 fix(Table): use request.Count parameter on virtualize mode
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.cs
Labels: bug

#5095 feat(Transfer): add Height parameter
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Transfer/Transfer.razor
  src/BootstrapBlazor/Components/Transfer/Transfer.razor.cs
  src/BootstrapBlazor/Components/Transfer/Transfer.razor.scss
  test/UnitTest/Components/TransferTest.cs
Labels: enhancement

#5099 feat(Watermark): add Watermark component
  src/BootstrapBlazor.Server/Components/Samples/Watermarks.razor
  src/BootstrapBlazor.Server/Components/Samples/Watermarks.razor.cs
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor.Server/docs.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Watermark/Watermark.razor
  src/BootstrapBlazor/Components/Watermark/Watermark.razor.cs
  src/BootstrapBlazor/Components/Watermark/Watermark.razor.js
  src/BootstrapBlazor/Components/Watermark/Watermark.razor.scss
  src/BootstrapBlazor/wwwroot/scss/components.scss
  test/UnitTest/Components/WatermarkTest.cs
Labels: enhancement

#5101 doc(MultiSelect): update OnEditCallback sample code
  src/BootstrapBlazor.Server/Components/Samples/MultiSelects.razor
  src/BootstrapBlazor.Server/Components/Samples/MultiSelects.razor.cs
Labels: documentation

#4674 feat(Calendar): add HeaderTemplate parameter
  src/BootstrapBlazor.Server/Components/Components/CalendarBodyTemplate.razor
  src/BootstrapBlazor.Server/Components/Components/CalendarBodyTemplate.razor.cs
  src/BootstrapBlazor.Server/Components/Components/CalendarChildContent.razor
  src/BootstrapBlazor.Server/Components/Components/CalendarChildContent.razor.cs
  src/BootstrapBlazor.Server/Components/Components/CalendarHeaderTemplate.razor
  src/BootstrapBlazor.Server/Components/Components/CalendarHeaderTemplate.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Calendars.razor
  src/BootstrapBlazor.Server/Components/Samples/Calendars.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/Calendar/BodyTemplateContext.cs
  src/BootstrapBlazor/Components/Calendar/Calendar.razor
  src/BootstrapBlazor/Components/Calendar/Calendar.razor.cs
  test/UnitTest/Components/CalendarTest.cs
Labels: enhancement

#5105 fix(Tabs): remove height 100% style
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Tab/Tab.razor.scss
Labels: documentation

#5108 feat(Input): use IsClearable instead of Clearable
  src/BootstrapBlazor.Server/Components/Samples/Inputs.razor
  src/BootstrapBlazor/Components/Input/BootstrapInput.razor
  src/BootstrapBlazor/Components/Input/BootstrapInput.razor.cs
  test/UnitTest/Components/InputTest.cs
Labels: enhancement

#5106 fix(CacheManager): GetJsonStringByTypeName prevent throw ArgumentNull exception
  src/BootstrapBlazor/Localization/Json/JsonLocalizationOptions.cs
  src/BootstrapBlazor/Services/CacheManager.cs
  test/UnitTest/Locales/en-US.json
  test/UnitTest/Utils/UtilityTest.cs
Labels: bug

#5112 feat(DrawerOption): add BodyContext parameter
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Drawer/Drawer.razor
  src/BootstrapBlazor/Components/Drawer/Drawer.razor.cs
  src/BootstrapBlazor/Components/Drawer/DrawerContainer.cs
  src/BootstrapBlazor/Components/Drawer/DrawerOption.cs
  test/UnitTest/Components/DrawerTest.cs
  test/UnitTest/Services/DrawerServiceTest.cs
Labels: enhancement

#5116 doc(Sponsor): add JetBrains sponsor information
  README.md
  README.zh-CN.md
Labels: documentation

#5117 refactor(SortableList): update SortableList package 9.0.2
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
Labels: bug

#5118 docs(ContextMenu): add TreeView sample code
  src/BootstrapBlazor.Server/Components/Samples/ContextMenus.razor
  src/BootstrapBlazor.Server/Components/Samples/ContextMenus.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
Labels: documentation

#5125 doc(DNF): add project link
  README.md
  README.zh-CN.md
Labels: documentation

#5128 bug(Cascader): should display Empty after click Clearable button
  src/BootstrapBlazor/Components/Cascader/Cascader.razor.cs
  test/UnitTest/Components/CascaderTest.cs
Labels: bug

#5129 doc(Cascader): add validate sample code
  src/BootstrapBlazor.Server/Components/Samples/Cascaders.razor
  src/BootstrapBlazor.Server/Components/Samples/Cascaders.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
Labels: documentation

#5130 refactor(AutoComplete): redesign value change logic
  src/BootstrapBlazor.Server/Components/Samples/AutoCompletes.razor
  src/BootstrapBlazor.Server/Components/Samples/AutoCompletes.razor.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.cs
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.js
  test/UnitTest/Components/AutoCompleteTest.cs
Labels: enhancement

#5132 feat(ListView): add Height parameter
  src/BootstrapBlazor.Server/Components/Samples/ListViews.razor
  src/BootstrapBlazor.Server/Components/Samples/ListViews.razor.css
  src/BootstrapBlazor/Components/ListView/ListView.razor
  src/BootstrapBlazor/Components/ListView/ListView.razor.cs
  src/BootstrapBlazor/Components/ListView/ListView.razor.scss
  test/UnitTest/Components/ListViewTest.cs
Labels: enhancement

#5135 feat(Watermark): add protected logic
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Watermark/Watermark.razor.js
Labels: enhancement

#5137 refactor(Watermark): update background size check logic
  src/BootstrapBlazor/Components/Watermark/Watermark.razor.js
Labels: enhancement

#5138 refactor(DockViewV2): upgrade to 9.0.3
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
Labels: bug

#5140 perf(CacheManager): reduce cache key count
  src/BootstrapBlazor.Server/Components/Layout/BaseLayout.razor.cs
  src/BootstrapBlazor/Localization/ILocalizationResolve.cs
  src/BootstrapBlazor/Localization/Json/JsonStringLocalizer.cs
  src/BootstrapBlazor/Localization/NullLocalizationResolve.cs
  src/BootstrapBlazor/Services/CacheManager.cs
  test/UnitTest/Localization/JsonStringLocalizerTest.cs
Labels: enhancement

#5142 refactor(JSException): remove JSException error log
  src/BootstrapBlazor/Extensions/JSModuleExtensions.cs
  test/UnitTest/Extensions/JSModuleExtensionsTest.cs
Labels: enhancement

#5146 doc(Website): remove UseResponseCompression middleware
  src/BootstrapBlazor.Server/Extensions/ServiceCollectionExtensions.cs
  src/BootstrapBlazor.Server/Program.cs
Labels: documentation

#5148 refactor(LoadModule): add logger information for load module failed
  src/BootstrapBlazor/Extensions/JSModuleExtensions.cs
  src/BootstrapBlazor/Utils/JSModule.cs
Labels: enhancement

#5144 feat(CacheManager): add SetSlidingExpirationByType extension method
  src/BootstrapBlazor/Extensions/ICacheEntryExtensions.cs
  src/BootstrapBlazor/Services/CacheManager.cs
Labels: enhancement

#5150 doc(FooterCounter): add FooterCounter componenet improve performance
  src/BootstrapBlazor.Server/Components/Components/FooterCounter.razor
  src/BootstrapBlazor.Server/Components/Components/FooterCounter.razor.cs
  src/BootstrapBlazor.Server/Components/Components/FooterCounter.razor.css
  src/BootstrapBlazor.Server/Components/Layout/HomeLayout.razor
  src/BootstrapBlazor.Server/Components/Layout/HomeLayout.razor.cs
  src/BootstrapBlazor.Server/Components/Layout/HomeLayout.razor.css
  src/BootstrapBlazor.Server/Components/Pages/Index.razor.css
Labels: documentation

#5152 refactor(CacheManager): add cache by type
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Localization/Json/JsonStringLocalizer.cs
Labels: enhancement

#5154 perf(CacheManager): remove lock improve performance
  src/BootstrapBlazor/Localization/Json/JsonStringLocalizerFactory.cs
  src/BootstrapBlazor/Services/CacheManager.cs
Labels: enhancement

#5156 doc(Meilisearch): FooterLogo support responsive
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/wwwroot/css/site.css
Labels: enhancement

#5158 feat(ICacheManager): add Keys parameter
  src/BootstrapBlazor/Services/CacheManager.cs
  src/BootstrapBlazor/Services/ICacheManager.cs
  test/UnitTest/Services/CacheManagerTest.cs
Labels: enhancement

#5161 refactor(CacheManager): remove some cache item
  src/BootstrapBlazor.Server/Components/Pages/CacheList.razor
  src/BootstrapBlazor.Server/Components/Pages/CacheList.razor.cs
  src/BootstrapBlazor.Server/Components/Pages/CacheList.razor.css
  src/BootstrapBlazor.Server/Components/Samples/Watermarks.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Extensions/ICacheEntryExtensions.cs
  src/BootstrapBlazor/Extensions/LocalizationOptionsExtensions.cs
  src/BootstrapBlazor/Extensions/TypeExtensions.cs
  src/BootstrapBlazor/Localization/Json/JsonLocalizationOptions.cs
  src/BootstrapBlazor/Localization/Json/JsonStringLocalizer.cs
  src/BootstrapBlazor/Services/CacheManager.cs
  src/BootstrapBlazor/Utils/Utility.cs
  test/UnitTest/Utils/UtilityTest.cs
Labels: enhancement

#5162 feat(MultiSelect): redesign search feature
  src/BootstrapBlazor.Server/Components/Samples/MultiSelects.razor.css
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Select/MultiSelect.razor
  src/BootstrapBlazor/Components/Select/MultiSelect.razor.cs
  src/BootstrapBlazor/Components/Select/MultiSelect.razor.js
  src/BootstrapBlazor/Components/Select/Select.razor
  src/BootstrapBlazor/Components/Select/Select.razor.cs
  src/BootstrapBlazor/Components/Select/Select.razor.js
  src/BootstrapBlazor/Components/Select/SelectBase.cs
  src/BootstrapBlazor/Components/SelectGeneric/SelectGeneric.razor
  src/BootstrapBlazor/Components/SelectGeneric/SelectGeneric.razor.cs
  src/BootstrapBlazor/Locales/en.json
  src/BootstrapBlazor/Locales/zh.json
  src/BootstrapBlazor/wwwroot/modules/base-select.js
  test/UnitTest/Components/MultiSelectTest.cs
  test/UnitTest/Components/SelectGenericTest.cs
Labels: bug

#5167 bug(BootstrapInputGroupLabel): should show DisplayText when bind-Value in ValidateForm
  src/BootstrapBlazor.Server/Components/Samples/InputGroups.razor
  src/BootstrapBlazor/Components/Input/BootstrapInputGroupLabel.razor.cs
  test/UnitTest/Components/DisplayTest.cs
Labels: bug

#5168 fix(Checkbox): redesign checkbox style compatible `InputGroup`
  src/BootstrapBlazor/Components/Checkbox/Checkbox.razor
  src/BootstrapBlazor/Components/Input/BootstrapInputGroup.razor.scss
Labels: bug

#5170 feat(Slider): remove InputGroup cascade parameter
  src/BootstrapBlazor.Server/Components/Samples/Sliders.razor
  src/BootstrapBlazor/Components/Input/BootstrapInputGroup.razor.scss
  src/BootstrapBlazor/Components/Slider/Slider.razor
  src/BootstrapBlazor/Components/Slider/Slider.razor.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrapblazor.scss
Labels: enhancement

#5172 feat(BootstrapInputGroupLabel): redesign IsInputGroupLabel logic
  src/BootstrapBlazor.Server/Components/Samples/Sliders.razor
  src/BootstrapBlazor/Components/Input/BootstrapInputGroupLabel.razor
  src/BootstrapBlazor/Components/Input/BootstrapInputGroupLabel.razor.cs
Labels: enhancement

#5174 doc(Error): update sample code reduce error log
  src/BootstrapBlazor.Server/Components/Samples/Menus.razor
  src/BootstrapBlazor.Server/Components/Samples/Menus.razor.cs
  src/BootstrapBlazor/Services/IPLocator/BaiduIpLocatorProvider.cs
  test/UnitTest/Services/IpLocatorTest.cs
Labels: documentation

#5176 feat(ICacheManager): add default cache policy
  src/BootstrapBlazor.Server/Extensions/CacheManagerExtensions.cs
  src/BootstrapBlazor.Server/Services/CodeSnippetService.cs
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Services/CacheManager.cs
  test/UnitTest/Services/CacheManagerTest.cs
Labels: enhancement

#5181 chore(Deploy): update deploy script
  scripts/linux/deploy.sh
Labels: chore

#5184 feat(Cascader): remove EditorRequired attribute
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Cascader/Cascader.razor.cs
Labels: enhancement

#5188 feat(LoadModule): preventing OperationCancelException throw
  src/BootstrapBlazor/Extensions/JSModuleExtensions.cs
  test/UnitTest/Extensions/JSModuleExtensionsTest.cs
Labels: enhancement

#5186 feat(FontAwesome): upgrade to 6.7.2 version
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
Labels: enhancement

#5191 feat(AufoFill): add TriggerFilter invoke method
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.cs
  src/BootstrapBlazor/Components/AutoFill/AutoFill.razor
  src/BootstrapBlazor/Components/AutoFill/AutoFill.razor.cs
  src/BootstrapBlazor/Components/Search/Search.razor.cs
  test/UnitTest/Components/AutoFillTest.cs
  test/UnitTest/Components/SearchTest.cs
Labels: enhancement

#5193 feat(QueryPageOptions): add TriggerByPagination parameter
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Table/Table.razor.Edit.cs
  src/BootstrapBlazor/Components/Table/Table.razor.Pagination.cs
  src/BootstrapBlazor/Options/QueryPageOptions.cs
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#5195 refactor(QueryPageOptions): rename paramater IsTriggerPagination
  src/BootstrapBlazor/Components/Table/Table.razor.Edit.cs
  src/BootstrapBlazor/Options/QueryPageOptions.cs
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#5196 doc(Dropdown): custom content use ButtonTemplate
  src/BootstrapBlazor.Server/Components/Samples/Dropdowns.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
Labels: documentation

#5203 doc(Display): update FormatString sample code
  src/BootstrapBlazor.Server/Components/Samples/Displays.razor
Labels: documentation

#5205 feat(Search): remove IsAutoClearAfterSearch parameter
  src/BootstrapBlazor.Server/Components/Samples/Searches.razor
  src/BootstrapBlazor.Server/Components/Samples/Searches.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/AutoComplete/AutoComplete.razor.cs
  src/BootstrapBlazor/Components/AutoComplete/PopoverCompleteBase.cs
  src/BootstrapBlazor/Components/AutoFill/AutoFill.razor.cs
  src/BootstrapBlazor/Components/Search/Search.razor
  src/BootstrapBlazor/Components/Search/Search.razor.cs
  src/BootstrapBlazor/Locales/en.json
  src/BootstrapBlazor/Locales/zh.json
  test/UnitTest/Components/AutoCompleteTest.cs
  test/UnitTest/Components/SearchTest.cs
Labels: enhancement

#5207 feat(Drawer): add IsKeyboard parameter
  src/BootstrapBlazor.Server/Components/Samples/Drawers.razor
  src/BootstrapBlazor.Server/Components/Samples/Drawers.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Drawer/Drawer.razor
  src/BootstrapBlazor/Components/Drawer/Drawer.razor.cs
  src/BootstrapBlazor/Components/Drawer/Drawer.razor.js
  src/BootstrapBlazor/Components/Drawer/DrawerContainer.cs
  src/BootstrapBlazor/Components/Drawer/DrawerOption.cs
  test/UnitTest/Components/DrawerTest.cs
  test/UnitTest/Services/DrawerServiceTest.cs
Labels: enhancement

#5210 feat(ICacheManager): add prefix cache key
  src/BootstrapBlazor.Server/Components/Samples/Searches.razor.cs
  src/BootstrapBlazor/Services/CacheManager.cs
  test/UnitTest/Services/CacheManagerTest.cs
  test/UnitTest/Utils/UtilityTest.cs
Labels: enhancement

#5211 feat(Drawer): auto focus when drawer shown
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Drawer/Drawer.razor.js
Labels: enhancement

#5216 feat(ICacheManager): add TryGetCacheEntry method
  BootstrapBlazor.sln
  src/BootstrapBlazor.Server/Components/Pages/CacaheExpiration.razor
  src/BootstrapBlazor.Server/Components/Pages/CacaheExpiration.razor.cs
  src/BootstrapBlazor.Server/Components/Pages/CacheList.razor
  src/BootstrapBlazor.Server/Components/Pages/CacheList.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Services/CacheManager.cs
  src/BootstrapBlazor/Services/ICacheManager.cs
  test/UnitTest/Performance/UnsafeAccessorTest.cs
  test/UnitTest/Services/CacheManagerTest.cs
  tools/Benchmarks/Benmarks.cs
  tools/Benchmarks/Foo.cs
  tools/Benchmarks/Program.cs
  tools/Benchmarks/UnitTest.Benchmarks.csproj
Labels: enhancement

#5217 feat(SelectTable): add EmptyTemplate parameter
  src/BootstrapBlazor/Components/Select/SelectTable.razor
  src/BootstrapBlazor/Components/Select/SelectTable.razor.cs
  test/UnitTest/Components/SelectTableTest.cs
Labels: enhancement

#5219 feat(ICacheEntry): add GetLastAccessed extension method
  src/BootstrapBlazor.Server/Components/Pages/CacaheExpiration.razor.cs
  src/BootstrapBlazor.Server/Components/Pages/CacheList.razor
  src/BootstrapBlazor.Server/Components/Pages/CacheList.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/AutoFills.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/InputGroups.razor
  src/BootstrapBlazor.Server/Components/Samples/InputGroups.razor.cs
  src/BootstrapBlazor.Server/Extensions/ICacheEntryExtensions.cs
  src/BootstrapBlazor/Components/AutoFill/AutoFill.razor.cs
  src/BootstrapBlazor/Extensions/ICacheEntryExtensions.cs
  src/BootstrapBlazor/Services/CacheManager.cs
  test/UnitTest/Extensions/ICacheEntryExtensionsTest.cs
Labels: enhancement

#5222 fix(Modal): use `TrySetResult` prevent throw exception
  src/BootstrapBlazor/Components/Modal/ModalDialog.razor.cs
Labels: enhancement

#5223 feat(Table): can resize the fixed column
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesFixedColumn.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/Table/Table.razor
  src/BootstrapBlazor/Components/Table/Table.razor.js
  src/BootstrapBlazor/Components/Table/Table.razor.scss
Labels: enhancement

#5226 feat(CheckboxList): add `ItemTemplate` parameter
  src/BootstrapBlazor.Server/Components/Samples/CheckboxLists.razor
  src/BootstrapBlazor.Server/Components/Samples/CheckboxLists.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Checkboxs.razor
  src/BootstrapBlazor.Server/Components/Samples/Radios.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Checkbox/Checkbox.razor
  src/BootstrapBlazor/Components/Checkbox/Checkbox.razor.cs
  src/BootstrapBlazor/Components/Checkbox/CheckboxList.razor
  src/BootstrapBlazor/Components/Checkbox/CheckboxList.razor.cs
  src/BootstrapBlazor/Components/Radio/Radio.razor.cs
  src/BootstrapBlazor/Components/Radio/RadioList.razor
  src/BootstrapBlazor/Components/Radio/RadioList.razor.cs
  test/UnitTest/Components/CheckboxListTest.cs
Labels: enhancement

#5228 doc(CacheList): update GetSlidingLeftTime logic
  src/BootstrapBlazor.Server/Components/Components/CacheCounter.razor
  src/BootstrapBlazor.Server/Components/Components/CacheCounter.razor.cs
  src/BootstrapBlazor.Server/Components/Components/FooterCounter.razor
  src/BootstrapBlazor.Server/Components/Components/FooterCounter.razor.cs
  src/BootstrapBlazor.Server/Components/Components/FooterCounter.razor.css
  src/BootstrapBlazor.Server/Components/Layout/HomeLayout.razor
  src/BootstrapBlazor.Server/Extensions/ICacheEntryExtensions.cs
Labels: documentation

#5231 feat(TableColumn): add ButtonTemplateHeaderText default value
  src/BootstrapBlazor/Locales/en.json
Labels: enhancement

#5233 doc(Table): add IsPopover sample code
  src/BootstrapBlazor.Server/Components/Samples/Table/TablesEdit.razor
Labels: bug

#5235 doc(Exception): reduce exception records
  src/BootstrapBlazor.Server/Components/Layout/HomeLayout.razor
  src/BootstrapBlazor.Server/Components/Pages/CacheList.razor
  src/BootstrapBlazor.Server/Components/Pages/CacheList.razor.css
  src/BootstrapBlazor.Server/Components/Samples/Downloads.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/GlobalException.razor
  src/BootstrapBlazor/Utils/Utility.cs
Labels: documentation

#5236 feat(DropUpload): add DropUpload component
  src/BootstrapBlazor.Server/Components/Samples/Speeches/Synthesizers.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Uploads.razor
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/Upload/AvatarUpload.razor.cs
  src/BootstrapBlazor/Components/Upload/ButtonUpload.razor.cs
  src/BootstrapBlazor/Components/Upload/ButtonUploadBase.cs
  src/BootstrapBlazor/Components/Upload/DropUpload.razor
  src/BootstrapBlazor/Components/Upload/DropUpload.razor.cs
  src/BootstrapBlazor/Components/Upload/InputUpload.razor.cs
  src/BootstrapBlazor/Components/Upload/SingleUploadBase.cs
  src/BootstrapBlazor/Components/Upload/UploadBase.razor.scss
  src/BootstrapBlazor/Enums/ComponentIcons.cs
  src/BootstrapBlazor/Locales/en.json
  src/BootstrapBlazor/Locales/zh.json
  src/BootstrapBlazor/Options/FontAwesomeIcons.cs
  src/BootstrapBlazor/wwwroot/modules/upload.js
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrapblazor.scss
  test/UnitTest/Components/UploadTest.cs
Labels: enhancement

#5241 doc(Select): update ShowSearch sample code
  src/BootstrapBlazor.Server/Components/Samples/Selects.razor
  src/BootstrapBlazor.Server/Components/Samples/Selects.razor.cs
  src/BootstrapBlazor.Server/appsettings.Development.json
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrapblazor.scss
Labels: bug

#5243 feat(Search): add ShowSearchButton parameter
  src/BootstrapBlazor.Server/Components/Components/CultureChooser.razor.cs
  src/BootstrapBlazor.Server/Components/Samples/Searches.razor
  src/BootstrapBlazor.Server/Components/Samples/Searches.razor.css
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/Search/Search.razor
  src/BootstrapBlazor/Components/Search/Search.razor.cs
  src/BootstrapBlazor/Components/Search/Search.razor.scss
  src/BootstrapBlazor/wwwroot/scss/components.scss
  src/BootstrapBlazor/wwwroot/scss/theme/bootstrapblazor.scss
  test/UnitTest/Components/SearchTest.cs
Labels: enhancement

#5245 feat(BootstrapIcon): integrated Bootstrap icon
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Layout/ComponentLayout.razor.cs
  src/BootstrapBlazor.Server/Extensions/ServiceCollectionSharedExtensions.cs
  src/BootstrapBlazor/Icons/BootstrapIcons.cs
  src/BootstrapBlazor/Icons/FontAwesomeIcons.cs
  src/BootstrapBlazor/Options/IconThemeOptions.cs
Labels: enhancement

#5247 feat(BootstrapIcon): integrated MaterialDesign icon
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Extensions/ServiceCollectionSharedExtensions.cs
  src/BootstrapBlazor/Icons/MaterialDesignIcons.cs
  src/BootstrapBlazor/Options/IconThemeOptions.cs
Labels: enhancement

#5248 feat(Icons): add OctIcon component
  src/BootstrapBlazor.Server/BootstrapBlazor.Server.csproj
  src/BootstrapBlazor.Server/Components/Samples/Icons/OctIcons.razor
  src/BootstrapBlazor.Server/Components/Samples/Icons/OctIcons.razor.cs
  src/BootstrapBlazor.Server/Extensions/MenusLocalizerExtensions.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
Labels: enhancement

#5250 feat(IDynamicObject): disable support complex object
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/EditorForm/EditorItem.cs
  src/BootstrapBlazor/Components/Table/TableColumn.cs
  src/BootstrapBlazor/Dynamic/DataTableDynamicContext.cs
  src/BootstrapBlazor/Dynamic/DataTableDynamicObject.cs
  src/BootstrapBlazor/Dynamic/DynamicItemChangedType.cs
  src/BootstrapBlazor/Dynamic/DynamicObject.cs
  src/BootstrapBlazor/Extensions/LambdaExtensions.cs
  src/BootstrapBlazor/Services/CacheManager.cs
  src/BootstrapBlazor/Utils/Utility.cs
  test/UnitTest/Components/InternalTableColumnTest.cs
  test/UnitTest/Components/TableTest.cs
Labels: enhancement

#5252 refactor(IDynamicObject): remove SupportComplexProperty parameter
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Dynamic/DataTableDynamicContext.cs
  src/BootstrapBlazor/Dynamic/DataTableDynamicObject.cs
  src/BootstrapBlazor/Dynamic/DynamicObject.cs
  src/BootstrapBlazor/Extensions/LambdaExtensions.cs
  src/BootstrapBlazor/Services/CacheManager.cs
  src/BootstrapBlazor/Utils/Utility.cs
Labels: enhancement

#5253 feat(MultiSelect): support Flags attribute
  src/BootstrapBlazor.Server/Components/Samples/MultiSelects.razor
  src/BootstrapBlazor.Server/Components/Samples/MultiSelects.razor.cs
  src/BootstrapBlazor.Server/Locales/en-US.json
  src/BootstrapBlazor.Server/Locales/zh-CN.json
  src/BootstrapBlazor/Components/Select/MultiSelect.razor.cs
  src/BootstrapBlazor/Extensions/EnumExtensions.cs
  src/BootstrapBlazor/Utils/Utility.cs
  test/UnitTest/Components/MultiSelectTest.cs
Labels: enhancement

#5255 feat(CheckboxListGeneric): add ItemTemplate parameter
  src/BootstrapBlazor/BootstrapBlazor.csproj
  src/BootstrapBlazor/Components/Checkbox/CheckboxListGeneric.razor
  src/BootstrapBlazor/Components/Checkbox/CheckboxListGeneric.razor.cs
  test/UnitTest/Components/CheckboxListGenericTest.cs
Labels: enhancement

#5257 doc(MultiSelect): update sample code support flags enum
  scripts/linux/deploy.sh
  src/BootstrapBlazor.Server/Components/Samples/MultiSelects.razor
  src/BootstrapBlazor/BootstrapBlazor.csproj
Labels: documentation
